<template>
  <div
    v-loading="loadingt"
    class="app-container"
    element-loading-text="成功导入 数据处理中 ..."
    element-loading-spinner="el-icon-loading"
  >
    <el-upload
      ref="upload"
      class="upload-demo"
      action="#"
      :auto-upload="true"
      :on-error="uploadError"
      :before-upload="beforeUploadForm"
      :http-request="hosptialUpload"
    >
      <el-button v-permission="'lfmini:keywords:up'" size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">只能上传Excel文件</div>
    </el-upload>

    <el-progress
      v-show="progressShow"
      :text-inside="true"
      :stroke-width="24"
      :percentage="progressPercent"
      status="success"
    />

    <i v-show="loading" class="el-icon-loading loadingIcon" />
    <el-alert
      v-for="(item, index) in alertText"
      v-show="alertShow"
      :key="index"
      class="alertText"
      :title="item"
      :type="alertType"
      show-icon
    />
  </div>
</template>

<script>
import * as ExeclApi from '@/api/lfmini/execl_import'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'ImportSalesNum',
  components: { },
  data() {
    return {
      // companyYyid: '',  //公司yyid
      // companyName: '',  //公司名称
      // companyList: [],  //公司名称列表
      loading: false, // loading
      alertShow: false, // 提示显示
      alertText: [], // 提示内容
      // alertType: 'error',  //提示样式
      progressShow: false, // 进度条显示
      progressPercent: 0, // 进度条百分比
      loadingt: false
    }
  },
  created() {

  },
  mounted() {
    // this.handleData();
  },
  methods: {
    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    beforeUploadForm(file) {
      this.loading = false
      this.alertText = []
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0

      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName != 'xls' && extName != 'xlsx') {
        this.alertText = ['上传文件只能是 xls、xlsx格式']
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      // const isLt1M = file.size / 1024 / 1024 < importApi.fileSize;
      // if (!isLt1M) {
      //   this.alertText = ["上传文件大小不能超过 "+importApi.fileSize+"MB"]
      //   this.alertType = 'error'
      //   this.alertShow = true
      //   return false
      // }
    },

    hosptialUpload(file) {
      var that = this
      that.loading = true
      that.progressShow = true
      var t = setInterval(function() {
        if (that.progressPercent == 90) {
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300)

      const fd = new FormData()
      fd.append('file', file.file)
      // fd.append('companyYyid', this.companyYyid)

      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(ExeclApi.sensitive_words_exp, fd).then(function(response) {
        setTimeout(function() {
          if (response.data.code == 20000) {
            that.progressPercent = 100
            that.alertText = ['成功导入']
            that.alertType = 'success'
          } else {
            that.alertText = [response.data.msg]
            that.alertType = 'error'
          }
          that.loading = false
          that.alertShow = true
          that.progressShow = false
        }, 3000)
      })
    },

    uploadError() {
      this.alertType = 'error'
      this.alertText = ['上传失败']
    }

  }
}
</script>

<style scoped>
.tips {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding-top: 10px;
}
.el-upload__tip {
  margin-left: 0!important;
}
.alertText {
  margin-top: 15px;
}
.loadingIcon{
  margin-top: 15px;
}
.inline-input{
  width: 300px;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
</style>
