<template>
  <el-dialog :visible="open" :before-close="close">
    <el-form ref="form" label-width="160px">
      <el-form-item label="上传数据文件:">
        <el-col :xl="12" :span="22">
          <upload-file
            :type="upload.type"
            :business="upload.business"
            :upload-list.sync="fileList"
            :show-list="true"
            :limit="upload.limit"
            @uploadFail="uploadFail"
            @deleteFile="deleteFile"
          />
        </el-col>
      </el-form-item>
      <el-form-item class="bottom">
        <el-button type="primary" :disabled="isDisabled" @click="uploadVisit">提 交</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import UploadFile from '@/components/Upload'
import { visitGpsReFake } from '@/api/import/import'

export default {
  name: 'GpsReFake',
  components: { UploadFile },
  props: {
    open: Boolean
  },
  data: function() {
    return {
      upload: {
        type: 2,
        business: 'visitgpsfake',
        limit: 1
      },
      fileList: []
    }
  },
  methods: {
    uploadVisit: function() {
      if (this.$data.fileList.length == 0) {
        alert('未上传文件')
      }
      let file = this.$data.fileList[0]
      let fileId = file.id
      let fileUrl = file.url

      visitGpsReFake(fileId, fileUrl)
        .then(resp => {
          // 跳转到任务列表页
          const taskId = resp.data.id
          console.log(resp, taskId)
          this.$notify({
            title: '操作成功',
            message: `任务添加成功, 任务id: #${taskId}<br/><br/> <a style="color:blue; text-decoration: underline" href="/#/task/taskList?type=31"> >>>前往任务列表 </a>`,
            dangerouslyUseHTMLString: true,
            duration: 15000,
            type: 'success'
          })
          this.$emit('success', {
            id: resp.data.id,
            type: 31
          })
        })
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    deleteFile: function(index, file) {
      this.$data.fileList.splice(index, 1)
    },
    uploadFail: function(err) {
      this.$emit('fail', err)
    },
    close() {
      this.$emit("close")
    }
  },
  computed: {
    isDisabled() {
      return this.$data.fileList.length === 0
    }
  }
}
</script>

<style scoped>

</style>
