<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right">

      <el-row :gutter="30">
        <el-col :span="12">
          <el-form-item label="所属公司" label-width="80px">
            <el-autocomplete
              v-model="companyName"
              style="width: 100%;"
              :fetch-suggestions="querySearch"
              placeholder="请输入所属公司名称"
              @select="handleSelect"
            />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="拜访类型" label-width="120px">
            <el-select v-model="query.visit_type" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option label="面对面拜访" value="1" />
              <el-option label="线上拜访" value="2" />
              <el-option label="内部会议" value="3" />
              <el-option label="外部会议" value="4" />
              <el-option label="行政类工作" value="5" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="签入/签出" label-width="80px">
            <el-select v-model="query.visit_state" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option label="有签入同时有签出" value="2" />
              <el-option label="有签入无签出" value="1" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="12">
          <el-form-item label="拜访医院" label-width="80px">
            <el-autocomplete
              v-model="hospitalName"
              style="width: 100%;"
              :fetch-suggestions="querySearch1"
              placeholder="请输入拜访医院名称"
              @select="handleSelect1"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="拜访科室" label-width="120px">
            <el-autocomplete
              v-model="departName"
              style="width: 100%;"
              :fetch-suggestions="querySearch2"
              placeholder="请输入拜访科室名称"
              @select="handleSelect2"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="12">
          <el-form-item label="签到范围" label-width="80px">
            <el-select v-model="query.visit_range" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option label="签入范围内" value="1" />
              <el-option label="签出范围内" value="2" />
              <el-option label="签入范围外" value="3" />
              <el-option label="签出范围外" value="4" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="超范围打卡原因" label-width="120px">
            <el-select v-model="query.out_range_reason" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option
                v-for="item in reasonList"
                :key="item.id"
                :label="item.config_name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="12">
          <el-form-item label="拜访状态" label-width="80px">
            <el-select v-model="query.visit_state_eff" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option label="有效拜访" value="0" />
              <el-option label="无效拜访" value="1" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="异常签入原因" label-width="120px">
            <el-select v-model="query.abnormal_range_reason" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option
                v-for="item in reasonList1"
                :key="item.id"
                :label="item.config_name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="签入时间" label-width="80px">
            <el-date-picker
              v-model="check_in_time"
              style="width: 100%;"
              placeholder="签入时间"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              value-format="yyyy-MM-dd HH:mm:ss"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="签出时间" label-width="80px">
            <el-date-picker
              v-model="check_out_time"
              style="width: 100%;"
              placeholder="签出时间"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              value-format="yyyy-MM-dd HH:mm:ss"
            />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'agent:visit:search'" type="primary" @click="onSubmit">搜索</el-button>
          <el-button v-permission="'agent:visit:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button v-permission="'agent:visit:agentExport'" type="primary" style="margin-left: 20px;" @click="asyncExport">结果导出</el-button>

        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: 15px;display: flex;">
      <el-button v-permission="'agent:visit:cancelSelect'" @click="calcelSelect">取消全选</el-button>
      <el-button v-permission="'agent:visit:updateState'" type="primary" @click="showNoteDialog">批量修改</el-button>
      <el-upload
        ref="upload"
        style="margin-left: 10px;"
        class="upload-demo"
        action="#"
        :auto-upload="true"
        :on-error="uploadError"
        :on-change="handleChange"
        :http-request="stateUpload"
      >
        <el-button slot="trigger" v-permission="'agent:visit:uploadState'" type="primary">上传更新</el-button>
      </el-upload>
      <el-button v-permission="'agent:visit:updateState'" type="primary" style="margin-left: 10px;" @click="separateExport">分条导出</el-button>
      <el-button v-permission="'app:agent:visit:gps:recheck'" type="danger" style="margin-left: 10px;" @click="showReCheck">GPS重算</el-button>
      <el-popconfirm
        v-permission="'app:agent:visit:gps:refake'"
        style="margin-left: 10px;"
        title="该操作会修改原始拜访gps数据，你确定吗？"
        @confirm="showReFake"
      >
        <el-button slot="reference" type="danger">GPS虚拟刷新</el-button>
      </el-popconfirm>
    </div>

    <el-progress
      v-show="progressShow"
      :text-inside="true"
      :stroke-width="24"
      :percentage="progressPercent"
      status="success"
    />

    <el-alert
      v-show="alertShow"
      class="alertText"
      :title="alertText"
      :type="alertType"
      show-icon
    />

    <el-dialog width="40%" title="状态修改" :visible.sync="noteDialog" append-to-body>
      <el-form ref="noteList" :model="noteList" label-position="right" label-width="80px" class="demo-ruleForm">
        <el-form-item label="状态选择">
          <el-switch
            v-model="noteList.visit_eff"
            active-text="有效拜访"
            inactive-text="无效拜访"
          />
        </el-form-item>

        <el-form-item label="备注">
          <el-input
            v-model="noteList.note"
            type="textarea"
            :rows="2"
            placeholder="请输入备注"
          />
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="updateVisitEff">修改</el-button>
          <el-button @click="noteDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-table
      ref="checkTable"
      v-loading="loading"
      :data="list"
      :row-key="handleReserve"
      stripe
      border
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" fixed="left" type="selection" width="55" reserve-selection />
      <el-table-column prop="id" fixed="left" label="id" align="center">
        <template slot-scope="{row}">
          <el-link type="primary" @click="showGPS(row.id)">{{ row.id }}</el-link>
        </template>
      </el-table-column>
      <el-table-column prop="company_name" label="公司" align="center" />
      <el-table-column prop="name" label="代表姓名" align="center" />
      <el-table-column prop="staff_code" label="员工号" align="center" />
      <el-table-column prop="mobile_num" label="手机号" align="center" />
      <el-table-column prop="visit_type" label="拜访类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.visit_type===1">面对面拜访</template>
          <template v-else-if="row.visit_type===2">线上拜访</template>
          <template v-else-if="row.visit_type===3">内部会议</template>
          <template v-else-if="row.visit_type===4">外部会议</template>
          <template v-else>行政类工作</template>
        </template>
      </el-table-column>
      <el-table-column prop="check_in_time" label="签入时间" align="center" />
      <el-table-column prop="check_out_time" label="签出时间" align="center" />
      <el-table-column prop="last_time" label="拜访时长(分钟)" align="center" />
      <el-table-column prop="hospital_no" label="拜访医院id" align="center" />
      <el-table-column prop="hospital_name" label="拜访医院" align="center" />
      <el-table-column label="科室" align="center">
        <template slot-scope="{row}">
          <div v-for="(item, i) in row.depart" :key="i">{{ item.name }}</div>
        </template>
      </el-table-column>
      <el-table-column label="医生ID" align="center">
        <template slot-scope="{row}">
          <div v-for="(item, i) in row.doctor" :key="i">{{ item.nid }}</div>
        </template>
      </el-table-column>
      <el-table-column label="医生" align="center">
        <template slot-scope="{row}">
          <div v-for="(item, i) in row.doctor" :key="i">{{ item.name }}</div>
        </template>
      </el-table-column>
      <el-table-column label="沟通产品" align="center">
        <template slot-scope="{row}">
          <div v-for="(item, i) in row.series" :key="i">{{ item.name }}</div>
        </template>
      </el-table-column>
      <el-table-column prop="check_in_longitude" label="签入经度" align="center" />
      <el-table-column prop="check_in_latitude" label="签入纬度" align="center" />
      <el-table-column prop="check_in_pos" label="签入地址" align="center" />
      <el-table-column prop="check_in_range_reason" label="签入超出原因" align="center" />
      <el-table-column prop="check_in_geo_comment" label="签入备注" align="center" />
      <el-table-column prop="visit_special_reason" label="异常签入原因" align="center" />
      <el-table-column prop="visit_special_comment" label="异常签入备注" align="center" />
      <el-table-column prop="check_out_longitude" label="签出经度" align="center" />
      <el-table-column prop="check_out_latitude" label="签出纬度" align="center" />
      <el-table-column prop="check_out_pos" label="签出地址" align="center" />
      <el-table-column prop="check_out_range_reason" label="签出超出原因" align="center" />
      <el-table-column prop="check_out_geo_comment" label="签出备注" align="center" />
      <el-table-column prop="visit_result" label="拜访结果" align="center" />
      <el-table-column prop="next_visit_purpose" label="后续跟进事项" align="center" />
      <el-table-column prop="is_collaborative" label="是否协访" align="center">
        <template slot-scope="{row}">
          <template v-if="row.is_collaborative===1">是</template>
          <template v-else-if="row.is_collaborative===2">否</template>
          <template v-else>未选择</template>
        </template>
      </el-table-column>
      <el-table-column prop="visit_state" label="拜访状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.visit_state===0">有效拜访</template>
          <template v-else-if="row.visit_state===1">无效拜访</template>
        </template>
      </el-table-column>
      <el-table-column prop="visit_state_comment" label="拜访状态标注" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <div />
    <div />
    <div>
      <el-drawer

        title="GPS计算参考"
        :visible.sync="showGps"
        direction="rtl"
        size="50%"
      >
        <el-descriptions title="" :column="1" style="margin-left:20px">
          <el-descriptions-item v-if="gpsInfo.check_in.lng > 0" label="签入经/纬度">
            {{ gpsInfo.check_in.lng }}&nbsp;/&nbsp;{{ gpsInfo.check_in.lat }}
          </el-descriptions-item>
          <el-descriptions-item v-if="gpsInfo.check_out.lng > 0" label="签入经/纬度">
            {{ gpsInfo.check_out.lng }}/{{ gpsInfo.check_out.lat }}
          </el-descriptions-item>
          <el-descriptions-item label="医院GPS信息">
            <el-table :data="gpsInfo.hospital" border>
              <el-table-column label="经/纬度" width="150">
                <template slot-scope="hosrow">
                  {{ hosrow.row.lng }}/{{ hosrow.row.lat }}
                </template>
              </el-table-column>
              <el-table-column prop="range" label="允许范围(m)" width="150" />
              <el-table-column prop="check_in" label="签入实际距离(m)" width="200" />
              <el-table-column prop="check_out" label="签出实际距离(m)" width="200" />
            </el-table>
          </el-descriptions-item>
        </el-descriptions>

      </el-drawer>
    </div>
    <div v-if="show_recheck">
      <gps-re-check
        :open="show_recheck"
        @success="checkTaskDeliverySuccess"
        @close="closeCheckTask"
      />
    </div>
    <div v-if="show_refake">
      <gps-re-fake
        :open="show_refake"
        @success="fakeTaskDeliverySuccess"
        @close="closeFakeTask"
      />
    </div>
  </div>
</template>

<script>
import * as importApi from '@/api/import/import'
import * as visitApi from '@/api/visit/visit'
import * as hospitalApi from '@/api/hospital/hospital'
import * as departApi from '@/api/depart/depart'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'
import GpsReCheck from './gps_recheck'
import visitGpsReFake from './gps_re_fake.vue'
import GpsReFake from '@/views/visit/gps_re_fake.vue'

export default {
  name: 'VisitAgent',
  components: { GpsReFake, Pagination, GpsReCheck, visitGpsReFake },
  data() {
    return {
      // 公司名称
      companyName: '',
      // 公司名称列表
      companyList: [],
      // 超范围原因
      reasonList: [],
      // 异常原因
      reasonList1: [],
      // 医院名称
      hospitalName: '',
      // 医院名称列表
      hospitalList: [],
      // 部门名称
      departName: '',
      // 部门名称列表
      departList: [],
      // 签入时间
      check_in_time: null,
      // 签出时间
      check_out_time: null,
      // 搜索条件
      query: {
        company_yyid: '',
        visit_state: '',
        visit_range: '',
        visit_state_eff: '',
        out_range_reason: '',
        abnormal_range_reason: '',
        visit_type: '',
        hospital_id: '',
        depart_id: '',
        check_in_start_time: '',
        check_in_end_time: '',
        check_out_start_time: '',
        check_out_end_time: '',
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      // 多选
      checkedIds: [],
      noteDialog: false,
      noteList: {
        visit_eff: true,
        note: ''
      },

      progressShow: false,
      progressPercent: 0,

      alertShow: false,
      alertText: '',
      alertType: 'error',
      showGps: false,
      gpsInfo: {
        check_in: {
          lng: 0,
          lat: 0
        },
        check_out: {
          lng: 0,
          lat: 0
        },
        hospital: []
      },
      show_recheck: false,
      show_refake: false
    }
  },
  watch: {
    companyName(val, oldVal) {
      if (val === '') {
        this.query.company_yyid = ''
      }
    },
    hospitalName(val, oldVal) {
      if (val !== '') {
        var query = { hospital_name: val }
        hospitalApi.getHospital(query).then(response => {
          if (response.code === 20000) {
            this.hospitalList = response.data
          }
        }).catch(() => {})
      } else {
        this.query.hospital_id = ''
      }
    },
    departName(val, oldVal) {
      if (val !== '') {
        var query = { depart_name: val }
        departApi.getDepart(query).then(response => {
          if (response.code === 20000) {
            this.departList = response.data
          }
        }).catch(() => {})
      } else {
        this.query.depart_id = ''
      }
    }
  },
  created() {
    this.getCompany()
    this.getOutReason()
    this.search()
  },
  methods: {
    getCompany() {
      importApi.getCompany().then(response => {
        if (response.code === 20000) {
          this.companyList = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.companyList
      var results = queryString ? list.filter(this.createFilter(queryString)) : list
      cb(results)
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelect(item) {
      this.query.company_yyid = item.yyid
    },

    getOutReason() {
      visitApi.getOutReason().then(response => {
        if (response.code === 20000) {
          this.reasonList = response.data[0]
          this.reasonList1 = response.data[1]
        }
      }).catch(() => {})
    },

    querySearch1(queryString, cb) {
      var results = this.hospitalList
      // 调用 callback 返回建议列表的数据
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        cb(results)
      }, 3000 * Math.random())
    },

    handleSelect1(item) {
      this.query.hospital_id = item.id
    },

    querySearch2(queryString, cb) {
      var results = this.departList
      // 调用 callback 返回建议列表的数据
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        cb(results)
      }, 3000 * Math.random())
    },

    handleSelect2(item) {
      this.query.depart_id = item.id
    },

    search() {
      this.loading = true
      if (this.check_in_time !== null) {
        this.query.check_in_start_time = this.check_in_time[0]
        this.query.check_in_end_time = this.check_in_time[1]
      }
      if (this.check_out_time !== null) {
        this.query.check_out_start_time = this.check_out_time[0]
        this.query.check_out_end_time = this.check_out_time[1]
      }
      visitApi.search(this.query).then(response => {
        this.list = response.data.data
        this.total = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
      this.companyName = ''
      this.hospitalName = ''
      this.departName = ''
      this.check_in_time = null
      this.check_out_time = null
      this.query = {
        company_yyid: '',
        visit_state: '',
        visit_range: '',
        visit_state_eff: '',
        out_range_reason: '',
        abnormal_range_reason: '',
        visit_type: '',
        hospital_id: '',
        depart_id: '',
        check_in_start_time: '',
        check_in_end_time: '',
        check_out_start_time: '',
        check_out_end_time: '',
        page: 1,
        page_size: 20
      }
    },

    agentExport() {
      var that = this
      that.progressPercent = 0
      that.progressShow = true
      var t = setInterval(function() {
        if (that.progressPercent === 90) {
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300)
      if (that.check_in_time !== null) {
        that.query.check_in_start_time = that.check_in_time[0]
        that.query.check_in_end_time = that.check_in_time[1]
      }
      if (that.check_out_time !== null) {
        that.query.check_out_start_time = that.check_out_time[0]
        that.query.check_out_end_time = that.check_out_time[1]
      }
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        visitApi.visitExport,
        that.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        setTimeout(function() {
          const fileName = Date.parse(new Date()) + '.xlsx'
          const link = document.createElement('a')
          const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
          link.style.display = 'none'
          link.href = URL.createObjectURL(blob)
          link.download = fileName
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          URL.revokeObjectURL(link.href)
          that.progressPercent = 100
          that.progressShow = false
        }, 3000)
      }).catch(function(error) {
        console.log(error)
      })
    },

    handleReserve(row) {
      return row.id
    },

    handleSelectionChange(val) {
      var ids = []
      for (var i = 0; i < val.length; i++) {
        ids.push(val[i].id)
      }
      this.checkedIds = ids
      console.log(this.checkedIds)
    },

    calcelSelect() {
      this.$refs.checkTable.clearSelection()
    },

    showNoteDialog() {
      if (this.checkedIds.length !== 0) {
        this.noteList = {
          visit_eff: true,
          note: ''
        }
        this.noteDialog = true
      }
    },

    updateVisitEff() {
      var query = {
        visit_id: this.checkedIds,
        visit_state: this.noteList.visit_eff,
        visit_comment: this.noteList.note
      }
      visitApi.updateVisitEffState(query).then(response => {
        if (response.code === 20000) {
          this.noteDialog = false
          this.operationMsg('修改成功！', 'success')
          this.search()
          this.$refs.checkTable.clearSelection()
        }
      }).catch(() => {})
    },

    handleChange(file, fileList) {
      this.alertText = ''
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0

      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName !== 'xls' && extName !== 'xlsx') {
        this.alertText = '上传文件只能是 xls、xlsx格式'
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < importApi.fileSize
      if (!isLt1M) {
        this.alertText = '上传文件大小不能超过' + importApi.fileSize + 'MB'
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      if (fileList.length > 0) {
        this.fileList = [fileList[fileList.length - 1]]
      }
    },

    stateUpload(file) {
      var that = this
      that.$refs.upload.clearFiles()
      that.progressPercent = 0
      that.progressShow = true
      var t = setInterval(function() {
        if (that.progressPercent === 90) {
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300)

      const fd = new FormData()
      fd.append('file', file.file)

      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(visitApi.uploadChangeVisitEffState, fd).then(function(response) {
        setTimeout(function() {
          if (response.data.code === 20000) {
            that.progressPercent = 100
            that.alertText = response.data.data.count1 + '条导入与原数据一致，成功修改' + response.data.data.count + '条数据'
            that.alertType = 'success'
          } else {
            that.alertText = response.data.msg
            that.alertType = 'error'
          }
          that.alertShow = true
          that.progressShow = false
          that.search()
        }, 3000)
      })
    },

    uploadError(err, file, fileList) {
      this.alertType = 'error'
      this.alertText = '上传失败'
      console.log(err)
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    // 显示拜访gps相关信息
    showGPS(id) {
      visitApi.getVisitDistinct(id)
        .then(resp => {
          this.$data.gpsInfo = resp.data
          this.$data.showGps = true
        })

      return false
    },

    asyncExport() {
      this.loading = true
      if (this.check_in_time !== null) {
        this.query.check_in_start_time = this.check_in_time[0]
        this.query.check_in_end_time = this.check_in_time[1]
      }
      if (this.check_out_time !== null) {
        this.query.check_out_start_time = this.check_out_time[0]
        this.query.check_out_end_time = this.check_out_time[1]
      }
      visitApi.asyncExport(this.query).then(response => {
        const taskId = response.data.id
        this.operationMsg(`导出任务投递成功，任务id是 ${taskId},请前往任务列表查看`, 'success')
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    separateExport() {
      this.loading = true
      if (this.check_in_time !== null) {
        this.query.check_in_start_time = this.check_in_time[0]
        this.query.check_in_end_time = this.check_in_time[1]
      }
      if (this.check_out_time !== null) {
        this.query.check_out_start_time = this.check_out_time[0]
        this.query.check_out_end_time = this.check_out_time[1]
      }
      visitApi.separateExport(this.query).then(response => {
        const taskId = response.data.id
        this.operationMsg(`导出任务投递成功，任务id是 ${taskId},请前往任务列表查看`, 'success')
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showReCheck() {
      this.$data.show_recheck = true
    },

    checkTaskDeliverySuccess(data) {
      this.$data.show_recheck = false
    },

    closeCheckTask() {
      this.$data.show_recheck = false
      this.$data.show_refake = false
    },

    showReFake() {
      this.$data.show_refake = true
    },

    fakeTaskDeliverySuccess(data) {
      this.$data.show_refake = false
    },

    closeFakeTask() {
      this.$data.show_refake = false
    },
    goto(id) {
      console.log(id)
      return false
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }

  .mylabel {
    font-size: 1.2em;
    font-weight: bold;
  }

  .mycontent {
    font-size:1.1em;
  }
</style>
