<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="选择年">
            <el-date-picker
              v-model="query.year"
              style="width: 100%;"
              type="year"
              placeholder="选择年"
              format="yyyy年"
              value-format="yyyy"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="省份">
            <el-select
              v-model="query.province"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.province"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="科室">
            <el-select
              v-model="query.depart"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in departList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="产品">
            <el-select
              v-model="query.product"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in productList"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="区域">
            <el-select
              v-model="query.location"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in locationList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目类型">
            <el-select
              v-model="query.type1"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types1"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目名称">
            <el-select
              v-model="query.type2"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types2"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button v-permission="'oldliveSummary:single:search'" type="primary" @click="autoSearch">搜索</el-button>
          <el-button v-permission="'oldliveSummary:single:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: -20px">
      <el-button v-permission="'oldliveSummary:single:cancelSelect'" @click="calcelSelect">取消全选</el-button>
      <el-button v-permission="'oldliveSummary:single:sExport'" type="primary" @click="sExportSign">数据汇总导出</el-button>
      <el-button v-permission="'oldliveSummary:single:export'" type="primary" @click="exportSign">数据详情导出</el-button>
    </div>

    <el-table
      ref="checkTable"
      v-loading="loading"
      :data="list"
      :row-key="handleReserve"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
      @sort-change="sortChange"
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" fixed="left" type="selection" width="55" reserve-selection :selectable='checkboxSelect' />
      <el-table-column prop="id" fixed="left" label="ID" width="100" sortable="custom" align="center" />
      <el-table-column prop="title" label="直播名称" sortable="custom" align="center" />
      <el-table-column prop="type1_title" label="项目类型" sortable="custom" align="center" />
      <el-table-column prop="type2_title" label="项目名称" sortable="custom" align="center" />
      <el-table-column prop="start_time" label="开始时间" sortable="custom" align="center" />
      <el-table-column prop="area" label="大区" sortable="custom" align="center" />
      <el-table-column prop="province_name" label="省份" sortable="custom" align="center" />
      <el-table-column prop="depart_name" label="科室" sortable="custom" align="center" />
      <el-table-column prop="speaker_count" label="覆盖演讲者" sortable="custom" align="center" />
      <el-table-column prop="signup" label="参会/观看客户数" sortable="custom" align="center" />
      <el-table-column prop="share" label="分享数" sortable="custom" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as meetingPlan from '@/api/live/meetingPlan'
import Pagination from '@/components/Pagination'
import * as liveApi from '@/api/live/live'
import * as summaryApi from '@/api/live/oldliveSummary'

export default {
  name: 'OldSingle',
  components: { Pagination },
  data() {
    return {
      monthList: summaryApi.monthList,
      areaList: [],
      provinceList: [],
      departList: [],
      productList: [],
      locationList: [
        { id: 2, value: '中央' },
        { id: 1, value: '区域' },
      ],
      types1: [],
      types2: [],
      query: {
        year: '',
        month: [],
        area: [],
        province: [],
        depart: [],
        product: [],
        location: [],
        type1: [],
        type2: [],
        page: 1,
        page_size: 20,
        sort: '',
        field: ''
      },
      loading: false,
      list: [],
      total: 0,
      checkedIds: []
    }
  },
  created() {
    this.getYear()
    this.getArea()
    this.getDepart()
    this.getProducts()
    this.getType1()
    this.search()
  },
  watch: {
    'query.area'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        meetingPlan.getProvince({ area_id: newVal }).then(response => {
          this.provinceList = response.data
        }).catch(() => {})
      }
    },
    'query.type1'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        meetingPlan.getType2({ type1_id: newVal }).then(response => {
          this.types2 = response.data
        }).catch(() => {})
      }
    }
  },
  methods: {
    getYear() {
      var date = new Date()
      this.query.year = date.getFullYear().toString()
    },

    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    getDepart() {
      liveApi.getDepart().then(response => {
        if (response.code === 20000) {
          this.departList = response.data
        }
      }).catch(() => {})
    },

    getProducts() {
      liveApi.product().then(response => {
        if (response.code === 20000) {
          this.productList = response.data
        }
      }).catch(() => {})
    },

    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    search() {
      this.loading = true
      summaryApi.sign(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    autoSearch() {
      this.query.page = 1
      this.search()
    },

    sortChange(column) {
      this.query.page = 1 // 排序后返回第一页
      this.query.sort = column.order
      this.query.field = column.prop
      this.search()
    },

    handleReserve(row) {
      return row.id
    },

    handleSelectionChange(val) {
      var ids = []
      for (var i = 0; i < val.length; i++) {
        if (val[i].id !== '' && val[i].id !== null && !isNaN(val[i].id)) {
          ids.push(val[i].id)
        }
      }
      this.checkedIds = ids
      console.log(this.checkedIds)
    },

    calcelSelect() {
      this.$refs.checkTable.clearSelection()
    },

    checkboxSelect(row, rowIndex) {
      if (row.id !== '合计') {
        return true
      }
    },

    exportSign() {
      summaryApi.exportSingle({ id: this.checkedIds }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    sExportSign() {
      summaryApi.sExportSingle(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    queryReset() {
      this.query = {
        year: '',
        month: [],
        area: [],
        province: [],
        depart: [],
        product: [],
        location: [],
        type1: [],
        type2: [],
        page: 1,
        page_size: 20,
        sort: '',
        field: ''
      }
      this.checkedIds = []
      this.getYear()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
