<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'sheet:signSheet:create'" type="primary" class="newbutton" @click="createNewSheet">新建报名表</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%;margin-top: 50px;">
      <el-table-column prop="id" label="ID" width="150" sortable align="center" />
      <el-table-column prop="title" label="名称" align="center" />
      <el-table-column prop="" label="操作" width="240" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8">
              <el-button v-permission="'sheet:signSheet:detail'" type="primary" size="mini" @click="showDetail(row.id, row.title)">查看</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'sheet:signSheet:update'" type="primary" size="mini" :disabled="row.is_deleted==1" @click="updateSheet(row.id, row.title)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-if="row.is_deleted==0" v-permission="'sheet:signSheet:delete'" type="danger" size="mini" @click="deleteConfirm(row.id)">删除</el-button>
              <el-button v-if="row.is_deleted==1" type="danger" size="mini" disabled>已删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getList" />

    <el-dialog title="报名表详情" :visible.sync="sheetDetailDialog" :before-close="closeSheetDetailDialog" width="60%">
      <el-form label-width="100px" class="demo-dynamic">
        <el-form-item label="表名称"><span class="detailTitle">{{ detailTitle }}</span></el-form-item>
      </el-form>
      <el-divider />
      <SheetCommon />
      <el-form :model="sheetDetailForm" label-width="100px" class="demo-dynamic">
        <el-form-item
          v-for="(sheetDetailField, index) in sheetDetailForm.sheetDetailFields"
          :key="index"
          :label="'字段' + (index + 6)"
        >
          <el-input v-model="sheetDetailField.field" style="width: 80%;" disabled />
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog title="新增/更新报名表" :visible.sync="updateSheetDialog" :before-close="closeUpdateSheetDialog" width="60%">
      <el-form ref="sheetTitleForm" :model="sheetTitleForm" label-width="100px" class="demo-dynamic">
        <el-form-item
          prop="title"
          label="表名称"
          :rules="[
            { required: true, message: '表名不能为空', trigger: 'blur' }
          ]"
        >
          <el-input v-model="sheetTitleForm.title" style="width: 80%;" autocomplete="off" placeholder="请输入表名" />
        </el-form-item>
      </el-form>
      <el-divider />
      <span class="alert">*字段1-5为必须字段</span>
      <SheetCommon style="margin-top: 20px;" />
      <el-form ref="sheetFieldForm" :model="sheetFieldForm" label-width="100px" class="demo-dynamic">
        <el-form-item
          v-for="(sheetField, index) in sheetFieldForm.sheetFields"
          :key="index"
          :label="'字段' + (index + 6)"
          :prop="'sheetFields.' + index + '.field'"
          :rules="{
            required: true, message: '字段名不能为空', trigger: 'blur'
          }"
        >
          <el-input v-model="sheetField.field" style="width: 80%;" />
          <el-button class="deleteButton" @click.prevent="removeField(sheetField)">删除</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('sheetTitleForm', 'sheetFieldForm')">提交</el-button>
          <el-button @click="addField">新增字段</el-button>
          <el-button @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as signSheet from '@/api/signSheet/signSheet'
import Pagination from '@/components/Pagination'
import SheetCommon from './components/SheetCommon'

export default {
  name: 'SignSheet',
  components: { Pagination, SheetCommon },
  data() {
    return {
      query: {
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      // 更新表对话框
      updateSheetDialog: false,
      // 当前操作的sheetid
      currentSheetId: 0,
      // 标题表单
      sheetTitleForm: {
        title: ''
      },
      // sheetField字段
      sheetFieldForm: {
        sheetFields: []
      },
      // 详情对话框
      sheetDetailDialog: false,
      detailTitle: '',
      // 详情字段
      sheetDetailForm: {
        sheetDetailFields: []
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      signSheet.signSheet(this.query).then(response => {
        this.total = response.data.total
        this.list = response.data.list
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    createNewSheet() {
      this.updateSheetDialog = true
      this.allReset()
    },

    showDetail(sheetId, sheetTitle) {
      this.sheetDetailDialog = true
      var query = { 'sheet_id': sheetId }
      signSheet.signSheetDetail(query).then(response => {
        if (response.code === 20000) {
          this.sheetDetailForm.sheetDetailFields = response.data
          this.detailTitle = sheetTitle
        }
      }).catch(() => {})
    },

    closeSheetDetailDialog() {
      this.sheetDetailDialog = false
    },

    updateSheet(sheetId, sheetTitle) {
      this.updateSheetDialog = true
      this.sheetTitleForm.title = sheetTitle
      var query = { 'sheet_id': sheetId }
      signSheet.signSheetDetail(query).then(response => {
        if (response.code === 20000) {
          this.sheetFieldForm.sheetFields = response.data
          this.currentSheetId = sheetId
        }
      }).catch(() => {})
    },

    closeUpdateSheetDialog() {
      this.updateSheetDialog = false
    },

    addField() {
      this.sheetFieldForm.sheetFields.push({
        field: ''
      })
    },

    removeField(item) {
      var index = this.sheetFieldForm.sheetFields.indexOf(item)
      if (index !== -1) {
        this.sheetFieldForm.sheetFields.splice(index, 1)
      }
    },

    resetForm() {
      this.sheetFieldForm = {
        sheetFields: []
      }
    },

    submitForm(formName1, formName2) {
      var that = this
      that.$refs[formName1].validate((valid1) => {
        if (valid1) {
          that.$refs[formName2].validate((valid2) => {
            if (valid2) {
              var query = {
                'sheet_id': that.currentSheetId,
                'title': that.sheetTitleForm.title,
                'fields': that.sheetFieldForm.sheetFields
              }
              var successMsg = ''
              signSheet.createSignSheet(query).then(response => {
                if (response.data.sheet_id !== 0) {
                  if (that.currentSheetId === 0) {
                    successMsg = '创建成功！'
                  } else {
                    successMsg = '修改成功！'
                  }
                  that.operationMsg(successMsg, 'success')
                  that.getList()
                  that.allReset()
                  that.updateSheetDialog = false
                }
              }).catch(() => {})
            } else {
              return false
            }
          })
        } else {
          return false
        }
      })
    },

    deleteConfirm(sheetId) {
      this.$confirm('确定要删除该报名表吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var query = { sheet_id: sheetId }
        signSheet.deleteSignSheet(query).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.getList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    allReset() {
      this.resetForm()
      this.currentSheetId = 0
      this.sheetTitleForm.title = ''
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .newbuttondiv{
    margin-top: 20px;
  }
  .deleteButton{
    margin-left: 20px;
  }
  .alert {
      margin-left: 100px;
      color: #ff4949;
    }
  .detailTitle {
    font-size: 16px;
    margin-left: 20px;
  }
</style>
