<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="12">
          <el-form-item label="大咖名称">
            <el-autocomplete
              v-model="seriesName"
              style="width: 100%;"
              class="inline-input"
              :fetch-suggestions="querySearch"
              placeholder="请输入大咖名称"
              @select="handleSelect"
            />
          </el-form-item>

        </el-col>
        <el-col :span="6">
          <el-button v-permission="'sheet:series:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'sheet:series:exp'" style="margin-left: 20px;" @click="bexport">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column
        v-for="(item, index) in keyHead"
        :key="index"
        :label="item.title"
        :prop="item.value"
      />
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as signInfoApi from '@/api/signSheet/signInfo'
import Pagination from '@/components/Pagination'

export default {
  name: 'SeriesSignInfo',
  components: { Pagination },
  data() {
    return {
      keyHead: [],
      query: {
        p_id: '',
        page: 1,
        page_size: 20
      },
      seriesName: '',
      seriesList: [],
      loading: true,
      list: [],
      total: 0
    }
  },

  created() {
    this.getSeriesList()
    this.search()
  },

  methods: {
    getSeriesList() {
      signInfoApi.seriesList().then(response => {
        this.liveList = response.data
      }).catch(() => {})
    },

    handleSelect(item) {
      this.query.p_id = item.id
    },

    querySearch(queryString, cb) {
      var list = this.liveList
      var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // 调用 callback 返回建议列表的数据
      cb(results)
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    search() {
      this.loading = true
      signInfoApi.seriesSignInfo(this.query).then(response => {
        this.keyHead = response.data.key_head
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    bexport() {
      signInfoApi.seriesSignInfoExport({ p_id: this.query.p_id }).then(response => {
        this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
