<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'pharmacy:indication:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'pharmacy:indication:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <el-table-column prop="title" label="问卷名称" align="left" />
      <el-table-column prop="content" label="图片" width="180" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.img" fit="contain" />
        </template>
      </el-table-column>

      <el-table-column prop="type" label="类型" width="180" align="center">
        <template slot-scope="{row}">
          <span v-if="row.type == 1"> 资源</span>
          <span v-else> 问卷</span>
        </template>
      </el-table-column>
      <el-table-column
        header-align="center"
        align="center"
        label="状态"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            :active-value="active"
            :inactive-value="inactive"
            @change="changeStatus($event, scope.row.id)"
          />
        </template>
      </el-table-column>
      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'pharmacy:indication:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'pharmacy:indication:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog name="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="false">
          <el-col :span="22">
            <el-form-item
              label="关联活动"
              prop="product"
              :rules="[
                { required: true, message: '请关联活动', trigger: 'blur' }
              ]"
            >
              <el-select
                v-model="formData.activity_id"
                filterable
                placeholder="请选择"
              >
                <el-option
                  v-for="item in activity_list"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="类型"
              prop="type"
              :rules="[
                { required: true, message: '请选择标题', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type" filterable placeholder="请选择">
                <el-option label="资源" value="1" />
                <el-option label="问卷" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="formData.type==1">
          <el-col :span="22">
            <el-form-item
              label="关联文章"
              prop="product"
              :rules="[
                { required: true, message: '请至少关联一篇文章或问卷', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.resources_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in articleOptions"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="formData.type==2">
          <el-col :span="22">
            <el-form-item
              label="问卷"
              prop="product"
              :rules="[
                { required: true, message: '请选择问卷', trigger: 'blur' }
              ]"
            >
              <el-select
                v-model="formData.questionnaire_id"
                filterable
                placeholder="请选择"
              >
                <el-option
                  v-for="item in questionnaire_list"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="图片"
              prop="img"
              :rules="[
                {required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.img"
                :upload-data="uploadData"
                :sign="sign.img"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item label="状态：">
          <el-switch
            v-model="formData.status"
            :active-value="active"
            :inactive-value="inactive"
          />
        </el-form-item>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as RsetApi from '@/api/pharmacy/rest'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import * as commonApi from '@/api/common/common'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'Indication',
  components: { Pagination, ImgUpload },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        title: '',
        img: [],
        questionnaire_id: '',
        status: 1,
        type: '2',
        resources_id: ''
      },

      query: {
        page: 1,
        page_size: 20,
        name: ''
      },
      // 七牛云上传
      sign: {
        img: 'img'
      },
      uploadData: {
        token: ''
      },
      active: 2,
      inactive: 1,
      picUrl: '',
      bucket: '',
      name: '',
      list: [],
      total: 0,
      activity_list: [],
      questionnaire_list: [],
      articleOptions: [],
      dialogVisible: false
    }
  },

  created() {
    this.articleForSelect()
    this.QuestionnaireForSelect()
    this.search()
    this.getToken()
  },

  methods: {
    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    setImg(data) {
      this.formData.img = data.imgList
    },

    // 获取文章
    articleForSelect() {
      RsetApi.GetResList().then(response => {
        this.articleOptions = response.data
      }).catch(() => {})
    },

    // 获取活动
    // articleForSelect() {
    //  RsetApi.GetActList().then(response => {
    //     this.activity_list = response.data
    //     console.log(response.data)
    //   }).catch(() => {})
    // },

    // 获取活动
    QuestionnaireForSelect() {
      RsetApi.GetQuestList().then(response => {
        this.questionnaire_list = response.data
        console.log(response.data)
      }).catch(() => {})
    },

    search() {
      this.loading = true
      RsetApi.listQuest(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    operateSuccess(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        id: '',
        title: '',
        img: [],
        questionnaire_id: '',
        status: 1,
        type: '2',
        resources_id: ''
      }
      this.dialogVisible = false
    },

    detail(id) {
      RsetApi.infoQuest(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.formData.type = response.data.type.toString()
          this.dialogVisible = true
          console.log(response.data)
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.title) {
        this.operationMsg('标题不可空', 'error')
        return
      }

      if (this.formData.type == 2 && !this.formData.questionnaire_id) {
        this.operationMsg('关联问卷不可空', 'error')
        return
      }

      if (this.formData.type == 2 && this.formData.questionnaire_id) {
        this.formData.resources_id
      }

      if (this.formData.type == 1 && !this.formData.resources_id) {
        this.operationMsg('资源不可空', 'error')
        return
      }
      if (this.formData.type == 1 && this.formData.resources_id) {
        this.formData.questionnaire_id = ''
      }

      if (this.formData.img.length <= 0) {
        this.operationMsg('详情图片不可空', 'error')
        return
      }
      console.log('=========')
      console.log(this.formData)

      RsetApi.addQuest(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    changeStatus($event, id) {
      RsetApi.QuestSt(id, $event)
        .then(resp => {
          this.operateSuccess('发布状态变更成功')
        })
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        RsetApi.delQuest(id).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        titele: ''
      }
    },

    RecordExport() {
      const than = this
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        RsetApi.QuestExport, this.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        try {
          const enc = new TextDecoder('utf-8')

          const res = JSON.parse(enc.decode(new Uint8Array(response.data))) // 转化成json对象

          if (res.msg) {
            than.operationMsg('没有数据导出')
          }
        } catch (err) {
          const fileName = Date.parse(new Date()) + '.xlsx'
          const link = document.createElement('a')
          const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
          link.style.display = 'none'
          link.href = URL.createObjectURL(blob)
          link.download = fileName
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          URL.revokeObjectURL(link.href)
        }
      }).catch(function(error) {
        console.log(error)
      })
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
