<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="选择年">
            <el-date-picker
              v-model="query.year"
              style="width: 100%;"
              type="year"
              placeholder="选择年"
              format="yyyy年"
              value-format="yyyy"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="省份">
            <el-select
              v-model="query.province"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.province"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="科室">
            <el-select
              v-model="query.depart"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in departList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="产品">
            <el-select
              v-model="query.product"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in productList"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="区域">
            <el-select
              v-model="query.location"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in locationList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目类型">
            <el-select
              v-model="query.type1"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types1"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目名称">
            <el-select
              v-model="query.type2"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types2"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button v-permission="'signSummary:depart:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'signSummary:depart:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: -20px">
      <el-button v-permission="'signSummary:depart:export'" type="primary" @click="exportSign">导出数据</el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      :summary-method="getSummaries"
      show-summary
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="depart" label="活动科室" sortable width="200" align="center" />
      <el-table-column prop="ac_count" label="覆盖场次" sortable align="center" />
      <el-table-column prop="speaker_count" label="覆盖讲者数" sortable align="center" />
      <el-table-column prop="signup" label="参会/观看客户数" sortable align="center" />
      <el-table-column prop="avarge_signup" label="单场平均参会客户数" sortable align="center" />
      <el-table-column prop="total_signup" label="累计参会/观看客户数" sortable align="center" />
    </el-table>
  </div>
</template>

<script>
import * as meetingPlan from '@/api/live/meetingPlan'
import * as liveApi from '@/api/live/live'
import { monthList } from '@/api/live/liveSummary'
import * as summaryApi from '@/api/signSheet/signSummary'

export default {
  name: 'SignByDepart',
  components: { },
  data() {
    return {
      monthList: monthList,
      areaList: [],
      provinceList: [],
      departList: [],
      productList: [],
      locationList: [
        { id: 2, value: '中央' },
        { id: 1, value: '区域' },
      ],
      types1: [],
      types2: [],
      query: {
        year: '',
        month: [],
        area: [],
        province: [],
        depart: [],
        product: [],
        location: [],
        type1: [],
        type2: []
      },
      loading: false,
      list: []
    }
  },
  created() {
    this.getYear()
    this.getArea()
    this.getDepart()
    this.getProducts()
    this.getType1()
    this.search()
  },
  watch: {
    'query.area'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        meetingPlan.getProvince({ area_id: newVal }).then(response => {
          this.provinceList = response.data
        }).catch(() => {})
      }
    },
    'query.type1'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        meetingPlan.getType2({ type1_id: newVal }).then(response => {
          this.types2 = response.data
        }).catch(() => {})
      }
    }
  },
  methods: {
    getYear() {
      var date = new Date()
      this.query.year = date.getFullYear().toString()
    },

    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    getDepart() {
      liveApi.getDepart().then(response => {
        if (response.code === 20000) {
          this.departList = response.data
        }
      }).catch(() => {})
    },

    getProducts() {
      liveApi.product().then(response => {
        if (response.code === 20000) {
          this.productList = response.data
        }
      }).catch(() => {})
    },

    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    search() {
      this.loading = true
      summaryApi.depart(this.query).then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    getSummaries(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (index === 1 || index === 2 || index === 3 || index === 5) {
          const values = data.map(item => Number(item[column.property]))
          if (!values.every(value => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
          } else {
            sums[index] = ''
          }
        }
        if (index === 4) {
          if (sums[1] !== 0 && sums[1] !== '') {
            sums[index] = Math.ceil(sums[3] / sums[1])
          } else {
            sums[index] = ''
          }
        }
      })

      return sums
    },

    exportSign() {
      summaryApi.exportDepart(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    queryReset() {
      this.query = {
        year: '',
        month: [],
        area: [],
        province: [],
        depart: [],
        product: [],
        location: [],
        type1: [],
        type2: []
      }
      this.getYear()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
