<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" style="margin-top:30px;">
      <el-tabs tab-position="top" v-model="activeName" @tab-click="changeTabs">
        <el-tab-pane label="基础信息配置" name="first">
          <el-form ref="basic" :model="papers" label-width="120px" :rules="basicRules">
            <el-form-item label="问卷名称:" label-width="120px" prop="name">
              <el-input v-model="papers.name"/>
            </el-form-item>
            <el-form-item label="问卷开始页欢迎语:" label-width="120px" prop="welcome">
              <el-input v-model="papers.welcome" type="textarea" />
            </el-form-item>
            <el-row :gutter="10">
                <el-col :span="12">
                  <el-form-item label="首页背景图" label-width="120px">
                    <upload-file
                      :type="upload.type"
                      :business="upload.business"
                      :upload-list.sync="startUploadList"
                      :show-list="false"
                      @uploadFail="uploadFail"
                      @deleteFile="deleteHeadImg"
                    />
                    <div />
                    <el-select v-model="selectHeadimgId" size="medium" :popper-append-to-body="false" @change="headImgChange">
                      <el-option
                        v-for="item in startUploadList"
                        :key="item.id"
                        :label="item.url"
                        :value="item.id"
                        class="select-item-picture"
                      >
                        <div>
                          <el-image
                            style="width: 50px; height: 50px; float: left"
                            :src="item.url"
                            fit="fill"
                          />
                          <div style="float:right">
                            <i class="el-icon-delete" />
                          </div>
                        </div>

                        <div />
                      </el-option>
                    </el-select>
                    <div />
                    <el-image
                      style="width: 100px; height: 100px"
                      :src="selectHeadimgUrl"
                      fit="fill"
                    />
                  </el-form-item>
                </el-col>

                <el-col :span="12">
                  <el-form-item label="尾页背景图" label-width="120px">
                    <upload-file
                      :type="upload.type"
                      :business="upload.business"
                      :upload-list.sync="tailUploadList"
                      :show-list="false"
                      @uploadFail="uploadFail"
                      @deleteFile="deleteTailImg"
                    />
                    <div />
                    <el-select v-model="selectTailImgId" size="medium" :popper-append-to-body="false" @change="tailImgChange">
                      <el-option
                        v-for="item in tailUploadList"
                        :key="item.id"
                        :label="item.url"
                        :value="item.id"
                        class="select-item-picture"
                      >

                        <div>
                          <el-image
                            style="width: 100px; height: 100px;float:left"
                            :src="item.url"
                            fit="fill"
                          />
                          <div style="float:right">
                            <i class="el-icon-delete" />
                          </div>
                        </div>
                      </el-option>
                    </el-select>
                    <div />
                    <el-image
                      style="width: 100px; height: 100px"
                      :src="selectTailImgUrl"
                      fit="fill"
                    />
                  </el-form-item>
                </el-col>

                <el-col :span="12">
                  <el-form-item label="答题页背景图" label-width="120px">
                    <upload-file
                      :type="upload.type"
                      :business="upload.business"
                      :upload-list.sync="answerUploadList"
                      :show-list="false"
                      @uploadFail="uploadFail"
                      @deleteFile="deleteAnswerImg"
                    />
                    <div />
                    <el-select v-model="selectAnswerImgId" size="medium" :popper-append-to-body="false" @change="answerImgChange">
                      <el-option
                        v-for="item in answerUploadList"
                        :key="item.id"
                        :label="item.url"
                        :value="item.id"
                        class="select-item-picture"
                      >

                        <div>
                          <el-image
                            style="width: 100px; height: 100px;float:left"
                            :src="item.url"
                            fit="fill"
                          />
                          <div style="float:right">
                            <i class="el-icon-delete" />
                          </div>
                        </div>

                      </el-option>
                    </el-select>
                    <div />
                    <el-image
                      style="width: 100px; height: 100px"
                      :src="selectAnswerImgUrl"
                      fit="fill"
                    />
                  </el-form-item>
                </el-col>

              </el-row>
              <el-row :gutter="10">
                <el-col :span="8">
                  <el-form-item label="总可作答数" label-width="120px" prop="total_quota">
                    <el-input-number v-model="papers.total_quota" :min="0"  label="总可作答数"></el-input-number>
                  </el-form-item>
                </el-col>
                <el-col :span="12" :offset="4">
                  <el-form-item label="结束时间" label-width="120px" prop="expire_at">
                  <el-date-picker
                    v-model="papers.expire_at"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    type="datetime"
                  />
                </el-form-item>
                </el-col>
              </el-row>
              <el-form-item label-width="120px">
                <el-checkbox v-model="papers.is_invite_to_answer" :true-label="1" :false-label="0">是否开放邀请作答</el-checkbox>
              </el-form-item>
              
              <el-form-item label="邀请失效时长(小时)" label-width="140px" v-if="papers.is_invite_to_answer == 1" prop="invite_expire_hours">
                <el-input-number v-model="papers.invite_expire_hours" :min="0" label="邀请失效时长" :step="1" />
              </el-form-item>
              <el-form-item style="margin-top:50px;">
                  <el-button
                  v-permission="'compliance:questionnaire:edit:editBase'"
                  type="primary"
                  @click="saveBaseInfo"
                >保存</el-button>
              </el-form-item>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="积分配置" name="second">
          <el-form ref="point" :model="paper_point" label-width="140px">
            <fieldset>
              <legend>答题人积分配置</legend>
              <el-form-item label="答题人所属平台" label-width="140px">
                <el-select
                  :disabled="!is_real_invite_to_answer" 
                  v-model="paper_point.player_platform" 
                  placeholder="请选择"
                  @change="changePlayerPlatform">
                  <el-option
                    v-for="item in platforms"
                    :key="item.value"
                    :label="item.name"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="选择积分活动" label-width="140px">
                <point-group-selector
                  @change="playerGroupChange"
                  mark="paper_part"
                />
              </el-form-item>
            <el-col :span="24">
              <el-col :span="6">
                <el-form-item label="可获得消费积分">
                  <el-input-number v-model="paper_point.cash" :min="0" label="可获得消费积分" :step="1" />
                </el-form-item>
              </el-col>
              <el-col :span="14" :offset="4">
                <el-form-item label="可获取服务积分" label-width="130px">
                  <el-input-number v-model="paper_point.points" :min="0" label="可获取服务积分" :step="1" />
                </el-form-item>
              </el-col>
            </el-col>
            <el-col :span="24">
              <el-col :span="6">
                <el-form-item label="topN消费积分">
                  <el-input-number v-model="paper_point.top_n_money_point" :min="0" label="topN消费积分" :step="1" />
                </el-form-item>
              </el-col>
              <el-col :span="14" :offset="4">
                <el-form-item label="topN服务积分" label-width="130px">
                  <el-input-number v-model="paper_point.top_n_service_point" :min="0" label="topN服务积分" :step="1" />
                </el-form-item>
              </el-col>
            </el-col>
            </fieldset>
            
            <fieldset v-if="isInvitedToAnswer" style="margin-top: 20px;">
              <legend>邀请人积分配置</legend>
              <el-col :span="24">
                <el-col :span="24">
                  <el-form-item label="选择积分活动" label-width="140px">
                    <point-group-selector
                      @change="groupChange"
                      mark="paper_share"
                    />
              </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="可获得消费积分">
                    <el-input-number v-model="paper_point.share_user_money_point" :min="0" label="可获得消费积分" :step="1" />
                  </el-form-item>
                </el-col>
                <el-col :span="14" :offset="4">
                  <el-form-item label="可获取服务积分" label-width="130px">
                    <el-input-number v-model="paper_point.share_user_service_point" :min="0" label="可获取服务积分" :step="1" />
                  </el-form-item>
                </el-col>
            </el-col>
            </fieldset>
            
            <el-form-item style="margin-top: 50px;">
              <el-button
                v-permission="'compliance:questionnaire:edit:editBase'"
                type="primary"
                @click="savePointInfo"
              >保&nbsp;&nbsp;&nbsp;&nbsp;存</el-button>
            </el-form-item>
          </el-form>

        </el-tab-pane>
        <el-tab-pane label="邀请人员配置" name="third" v-if="isInvitedToAnswer">
            <el-row :gutter="10">
            <el-col :span="24">
                <el-button
                  v-permission="'compliance:questionnaire:edit:addInvite'"
                  type="primary"
                  @click="handlePreInvite"
                >新增分配</el-button>
            </el-col>  
            <el-col :span="24" style="margin-top: 20px;">
              <el-table
                :data="invitees"
                border
                stripe
                style="width: 100%"
              >
                <el-table-column
                  prop="name"
                  label="代表名称"
                  width="width"
                />
                <el-table-column
                  header-align="center"
                  align="center"
                  prop="quota"
                  label="分配额度"
                />
                <el-table-column
                  header-align="center"
                  align="center"
                  prop="finished"
                  label="已用额度"
                />
                <el-table-column
                  header-align="center"
                  align="center"
                  prop="unfinished"
                  label="未用额度"
                />
                <el-table-column
                  header-align="center"
                  align="center"
                  label="操作"
                >
                  <template slot-scope="scope">
                    <el-button
                      v-permission="'compliance:questionnaire:edit:editInviteStatus'"
                      type="text"
                      @click="preEditInivte(scope.$index, scope.row.id);"
                    >编辑</el-button>
                    <el-popconfirm
                      v-permission="'compliance:questionnaire:edit:delInvite'"
                      title="确认删除问卷吗"
                      @confirm="deleteInvite(scope.$index, scope.row.id);"
                    >
                      <el-button
                        slot="reference"
                        size="mini"
                        type="text"
                      >删除</el-button>
                    </el-popconfirm>
                  </template>
                </el-table-column>
              </el-table>
            </el-col> 
            <el-col>
              <!-- 添加邀请 -->
              <el-dialog :visible.sync="dialogFormVisible">
                <el-form>
                  <el-form-item label="代表名称:" :label-width="formLabelWidth">
                    <el-autocomplete
                      v-model="query.name"
                      :fetch-suggestions="querySearchAsync"
                      placeholder="请输入用户名或者手机号,支持模糊搜索"
                      @select="handleSelect"
                    />
                  </el-form-item>
                  <el-form-item label="代表额度:">
                    <el-input-number v-model="query.quota" :min="1" />
                  </el-form-item>
                </el-form>

                <div slot="footer" class="dialog-footer">
                  <el-button @click="dialogFormVisible = false">取 消</el-button>
                  <el-button type="primary" :disabled="queryDisabled" @click="addInvite">确 定</el-button>
                </div>
              </el-dialog>
              <!-- 编辑邀请额度 -->
              <el-dialog :visible.sync="editFormVisible">
                <el-form>
                  <el-form-item label="代表名称:" :label-width="formLabelWidth">
                    <span>{{ editInivteData.name }}</span>
                  </el-form-item>
                  <el-form-item label="代表额度:">
                    <el-input-number v-model="editInivteData.quota" :min="1" />
                  </el-form-item>
                </el-form>

                <div slot="footer" class="dialog-footer">
                  <el-button @click="editFormVisible = false">取 消</el-button>
                  <el-button type="primary" @click="editInviteQuote">确 定</el-button>
                </div>
              </el-dialog>
            </el-col> 
          </el-row>
        </el-tab-pane>
      </el-tabs>
    </el-col>
  </el-row>
</template>
<script>
import { infoPaper, updateBaseInfo, updateInvitePaper, getBg, updatePaperPointInfo } from '@/api/questionnaire/questionnaire'
import { addInvite, deleteInvite, listValidUsers, editInivte } from '@/api/questionnaire/invite'
import UploadFile from '@/components/Upload'
import PointGroupSelector from '@/components/PointGroupSelector'
import axios from 'axios'
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
export default {
  components: {
    UploadFile,
    PointGroupSelector
  },
  data: function() {
    const validateName = (rule, value, callback) => {
      if (value.length > 32) {
        return callback('问卷名称最多允许32个字')
      }
      return callback()
    }
    const validateIntro = (rule, value, callback) => {
      if (value.length > 256) {
        return callback('问卷简介最多允许256个字')
      }
      return callback()
    }
    const validateExpireHours = (rule, value, callback) => {
      if (this.$data.papers.is_invite_to_answer == 1 && value < 1) {
        return callback(new Error('邀请过期时间不能小于1小时'))
      }
      return callback()
    }
    const validateExpireAt = (rule, value, callback) => {
      if (value != '') {
        let v = moment(value)
        let now = moment()
        if (v.isBefore(now)) {
          return callback(new Error('问卷过期时间不能早于当前时间'))
        }
        
      }
      return callback()
    }
    return {
      id: 0,
      invitees: [],
      upload: {
        type: 1,
        business: 'questionnaire'
      },
      papers: {
        name: '',
        welcome: '',
        total_quota: 0,
        expire_at: '',
        platform: 0,
        is_invite_to_answer: 0,
        invite_expire_hours: 0
      },
      is_real_invite_to_answer: false,
      paper_point: {
        platform: 0,
        group_id: 0,
        cash: 0,
        points: 0,
        top_n_service_point: 0,
        top_n_money_point: 0,
        player_platform: 0,
        player_point_group_id: 0,
        player_service_point: 0,
        player_money_point: 0,
        share_user_service_point: 0,
        share_user_money_point: 0,
        
      },
      invite_answers: {
        is_invited_answer: true,
        invite_expire_hours: 1
      },
      dialogFormVisible: false,
      query: {
        queryString: '',
        selectId: 0,
        name: '',
        quota: 0
      },
      formLabelWidth: '80px',
      editInivteData: {
        id: 0,
        name: '',
        quota: 0,
        index: 0
      },
      deleteInivteData: {
        id: 0,
        index: 0
      },
      editFormVisible: false,
      uploadList: [],
      selectHeadimgId: 0,
      selectHeadimgUrl: '',
      selectTailImgId: 0,
      selectTailImgUrl: '',
      selectAnswerImgId: 0,
      selectAnswerImgUrl: '',
      startUploadList: [],
      tailUploadList: [],
      answerUploadList: [],
      platform: 8,
      showPointPlatform: false,
      activeName: 'first',
      basicRules: {
        name: [
          {required: true, message: '问卷标题不能为空', trigger: 'blur'},
          {trigger: validateName, trigger: 'blur'}
        ],
        welcome: [
          {trigger: validateIntro, trigger: 'blur'}
        ],
        invite_expire_hours: [
          {validator: validateExpireHours, trigger: 'blur'},
          {validator: validateExpireHours, trigger: 'change'}
        ],
        expire_at: [
          {validator: validateExpireAt, trigger: 'change'}
        ]
      },
      platforms: [
        { value: 0, name: '优药' },
        { value: 1, name: '优佳医' },
        { value: 2, name: 'OTC小程序' },
        { value: 3, name: '药店关联小程序' }
      ]
    }
  },

  computed: {
    ...mapGetters({
      'getPointGroupId': 'pointGroup/getId'
    }),
    queryDisabled() {
      return this.$data.query.selectId == 0
    },
    expireAt: {
      get() {
        return this.$data.papers.expire_at
      },
      set(val) {
        this.$data.papers.expire_at = val
      }
    },
    isInvitedToAnswer() {
      return this.$data.is_real_invite_to_answer
    },
  },

  mounted: function() {
    const paperId = this.$route.query.id
    if (paperId > 0) {
      this.$data.id = paperId
    }
    this.initPaperData()
    this.initUpload()
  },
  methods: {
    ...mapActions('pointGroup', [
      'initialize',
      'changePlatform'
    ]),
    covertToPointPlatform: function(platform) {
      switch (platform) {
        case 0: // 优药
          return 8 // PointPlatform:PLATFORM_NEW_AGENT
          break
        case 1: // 优佳医
          return 9 // PointPlatform:PLATFORM_NEW_DOCTOR
          break
        case 2: // otc
          return 5 // PointPlatform:PLATFORM_OTC
          break
        case 3: // pharmacy
          return 6 // PointPlatform:PLATFORM_PHARMACY
          break
        default:
          return 0 // // PointPlatform:PLATFORM_UNKNOWN
      }
    },
    initPaperData: function() {
      infoPaper(this.$data.id).then(response => {
        // 分发基本信息
        this.setBasicFromInfo(response.data)
        //邀请人信息
        this.$data.invitees = response.data.items

        this.$data.is_real_invite_to_answer = response.data.is_invite_to_answer == 1

        //封面图片
        this.$data.selectHeadimgId = response.data.start_bg_id
        this.$data.selectTailImgId = response.data.tail_bg_id
        this.$data.selectAnswerImgId = response.data.answer_bg_id
        
        this.$data.papers.platform = response.data.platform
        this.$data.showPointPlatform = true
        
        // 分发积分数据
        this.setPointFromInfo(response.data)

        //初始化参与人员积分活动
        this.initialize({
          platform: this.covertToPointPlatform(response.data.platform),
          select: response.data.player_group_id,
          mark: 'paper_part'
        })
        if (response.data.is_invite_to_answer) {
          //初始化分享人积分活动分组
          this.initialize({
            platform: this.covertToPointPlatform(response.data.platform),
            select: response.data.group_id,
            mark: 'paper_share'
          })
        }
      })
    },
    setBasicFromInfo(info) {
      this.$data.papers = {
        name: info.name,
        welcome: info.intro,
        total_quota: info.total,
        expire_at: info.expire_at,
        platform: info.platform,
        is_invite_to_answer: info.is_invite_to_answer,
        invite_expire_hours: info.invite_expire_hours
      }
    },
    setPointFromInfo(info) {
      this.$data.paper_point = {
        platform: info.platform,
        group_id: info.group_id,
        cash: info.cash,
        points: info.points,
        top_n_service_point: info.top_n_service_point,
        top_n_money_point: info.top_n_money_point,
        player_platform: info.player_platform,
        player_point_group_id: info.player_group_id,
        share_user_service_point: info.share_user_service_point,
        share_user_money_point: info.share_user_money_point,
      }
    },
    initUpload() {
      const me = this
      axios.all([getBg(me.$data.id, 0), getBg(me.$data.id, 2), getBg(me.$data.id, 3)])
        .then(axios.spread(function(startBgResp, tailBgResp, answerBgResp) {
          const startBgs = startBgResp.data.items
          startBgs.unshift(startBgResp.data.default)
          const tailBgs = tailBgResp.data.items
          tailBgs.unshift(tailBgResp.data.default)
          const answerBgs = answerBgResp.data.items
          answerBgs.unshift(answerBgResp.data.default)

          me.$data.startUploadList = startBgs
          me.$data.tailUploadList = tailBgs
          me.$data.answerUploadList = answerBgs
          me.$data.selectHeadimgUrl = me.getSelectUrl(me.$data.selectHeadimgId, startBgs)
          me.$data.selectTailImgUrl = me.getSelectUrl(me.$data.selectTailImgId, tailBgs)
          me.$data.selectAnswerImgUrl = me.getSelectUrl(me.$data.selectAnswerImgId, answerBgs)
        }
        ))
    },
    saveBaseInfo: function() {
      this.$refs['basic'].validate(valid => {
        // console.log("time_before_update", moment(this.$data.papers.expire_at).format());
        const filterId = function(item) {
          return item.id
        }
        const headImgIds = this.$data.startUploadList.map(filterId)
        const tailImgIds = this.$data.tailUploadList.map(filterId)
        const answerImgIds = this.$data.answerUploadList.map(filterId)
        updateBaseInfo(
          this.$data.id,
          this.$data.papers.name,
          this.$data.papers.total_quota,
          this.$data.papers.expire_at,
          this.$data.papers.welcome,
          this.$data.selectHeadimgId,
          headImgIds,
          this.$data.selectTailImgId,
          tailImgIds,
          this.$data.selectAnswerImgId,
          answerImgIds,
          this.$data.papers.is_invite_to_answer,
          this.$data.papers.invite_expire_hours
        ).then(response => {
          this.notifyOperateSuccess('基本信息更新成功')
          this.$data.is_real_invite_to_answer = this.$data.papers.is_invite_to_answer == 1
          return false
        })
      })
      
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    updateInviteInfo: function() {
      updateInvitePaper(
        this.$data.id,
        this.$data.invite_answers.is_invited_answer,
        this.$data.invite_answers.invite_expire_hours
      ).then(response => {
        this.notifyOperateSuccess('更新邀请信息成功')
      })
    },
    querySearchAsync: function(queryString, cb) {
      this.$data.query.selectId = 0
      listValidUsers(
        this.$data.id,
        1,
        5,
        queryString
      ).then(response => {
        let list = [{}]
        list = response.data.users.map(item => {
          return {
            value: item.name,
            name: item.id
          }
        })
        cb(list)
      })
    },
    handleSelect: function(item) {
      this.$data.query.selectId = item.name
      this.$data.query.name = item.value
    },
    initQuery: function() {
      this.$data.query.queryString = ''
      this.$data.query.selectId = 0
      this.$data.query.name = ''
      this.$data.query.quota = 0
    },
    handlePreInvite: function(params) {
      this.initQuery()
      this.$data.dialogFormVisible = true
    },
    preEditInivte: function(index, id) {
      console.log('start_pre_edit', index, id)
      const inviteItem = this.$data.invitees[index]

      this.$data.editInivteData.id = id
      this.$data.editInivteData.index = index
      this.$data.editInivteData.name = inviteItem.name
      this.$data.editInivteData.quota = inviteItem.quota
      this.$data.editFormVisible = true
    },
    deleteInvite: function(index, id) {
      deleteInvite(this.$data.id, id).then(response => {
        this.$data.invitees.splice(index, 1)
        this.notifyOperateSuccess('邀请删除成功')
      })
    },
    addInvite: function() {
      const userId = this.$data.query.selectId
      const userName = this.$data.query.name
      const quota = this.$data.query.quota
      console.log(
        'add_invite',
        userId,
        userName,
        quota
      )
      addInvite(
        this.$data.id,
        userId,
        1,
        quota
      ).then(response => {
        const id = response.data.id
        this.$data.invitees.push({
          id: id,
          name: userName,
          quota: this.$data.query.quota,
          finished: 0,
          unfinished: this.$data.query.quota,
          user_id: userId,
          user_type: 1
        })
        this.$data.dialogFormVisible = false
      })
    },
    editInviteQuote: function() {
      const index = this.$data.editInivteData.index
      editInivte(
        this.$data.id,
        this.$data.editInivteData.id,
        this.$data.editInivteData.quota
      ).then(response => {
        this.$data.invitees[index].quota = this.$data.editInivteData.quota
        this.notifyOperateSuccess('成功更新邀请配额')
        this.$data.editFormVisible = false
      })
    },
    uploadSuccess(fileItem) { // 上传成功
      console.log('receive upload success from child', fileItem)
      // name: fileName,
      // url: fileUrl,
      // bucket: bucket,
      // key: key
      // 调用后端接口进行数据更新
      // 添加到列表展示文件
      console.log(fileItem)
    },
    uploadFail(err) { // 上传失败
      console.log(err)
    },
    deleteHeadImg(index, fileObj) {
      const fileItem = this.$data.uploadList[index]
      this.$data.startUploadList.splice(index, 1)
    },
    deleteTailImg(index, fileObj) {
      const fileItem = this.$data.uploadList[index]
      this.$data.tailUploadList.splice(index, 1)
    },
    deleteAnswerImg(index, fileObj) {
      const fileItem = this.$data.uploadList[index]
      this.$data.answerUploadList.splice(index, 1)
    },
    getSelectUrl(selectId, data) {
      let i = 0
      for (i = 0; i < data.length; i++) {
        if (selectId == data[i].id) {
          return data[i].url
        }
      }

      return ''
    },
    headImgChange(selectId) {
      let url = this.getSelectUrl(selectId, this.$data.startUploadList)
      if (url != '') {
        this.$data.selectHeadimgUrl = url
      }
    },
    tailImgChange(selectId) {
      const url = this.getSelectUrl(selectId, this.$data.tailUploadList)
      if (url != '') {
        this.$data.selectTailImgUrl = url
      }
    },
    answerImgChange(selectId) {
      const url = this.getSelectUrl(selectId, this.$data.answerUploadList)
      if (url != '') {
        this.$data.selectAnswerImgUrl = url
      }
    },
    groupChange(group_id) {
      console.log(44444, group_id)
      this.$data.paper_point.group_id = group_id
    },
    playerGroupChange(group_id) {
      this.$data.paper_point.player_point_group_id = group_id
    },
    changeTabs(tab) {
      console.log(tab)
    },
    savePointInfo() {
      this.$data.paper_point.group_id = this.getPointGroupId['paper_share']
      this.$data.paper_point.player_point_group_id = this.getPointGroupId['paper_part']
      this.$refs['point'].validate(valid => {
        updatePaperPointInfo(
          this.$data.id,
          this.$data.paper_point.player_platform,
          this.$data.paper_point.player_point_group_id,
          this.$data.paper_point.points,
          this.$data.paper_point.cash,
          this.$data.paper_point.group_id,
          this.$data.paper_point.share_user_service_point,
          this.$data.paper_point.share_user_money_point,
          this.$data.paper_point.top_n_service_point,
          this.$data.paper_point.top_n_money_point
        ).then(resp => {
          this.notifyOperateSuccess('积分信息更新成功')
        })
      })
    },
    changePlayerPlatform(platform) {
      this.changePlatform({
        platform: this.covertToPointPlatform(platform),
        mark: 'paper_part'
      })
    }
  }
}
</script>
<style scoped>
.select-item-picture {
  height: 60px;;
}
</style>
