<template>
  <el-row :gutter="10" style="margin-top:50px">
    <el-col v-if="getPaperStatus == 1" :span="2" :offset="1">
      <el-dropdown trigger="click" style="margin-bottom: 20px;" @command="preAdd">
        <el-button type="primary" v-permission="'compliance:questionnaire:logicQuestion:add'">
          添加试题<i class="el-icon-arrow-down el-icon--right" />
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-plus" command="addSingleFormVisible">单选题</el-dropdown-item>
          <el-dropdown-item icon="el-icon-plus" command="addMultiFormVisible">多选题</el-dropdown-item>
          <el-dropdown-item icon="el-icon-plus" command="addTextareaFormVisible">填空题</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <with-option-add
        v-bind:type="optionAddType"
        v-bind:open="optionAddOpen"
        v-if="optionAddOpen"
        v-on:addOptionQuestionSuccess="addQuestionSuccess"
        v-on:closeAdd="closeOptionAdd"
      ></with-option-add>
      <text-add
        v-bind:open="textAddOpen"
        v-if="textAddOpen"
        v-on:addOptionQuestionSuccess="addQuestionSuccess"
        v-on:closeAdd="closeOptionAdd"
      ></text-add>
    </el-col>
    <el-col :span="12">
      <!-- <el-form :inline="true" label-width="80px">
                <el-form-item label="题目">
                    <el-input v-model="query.keywords"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-search">搜索</el-button>
                </el-form-item>
            </el-form> -->
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top: 20px;">
      <el-table
        border
        row-key="id"
        :data="getQuestions"
        style="width: 100%;"
      >
        <el-table-column
          prop="id"
          label="序号"
          width="width"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="name"
          label="题目"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="type"
          label="题型"
        >
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          label="操作"
        >
          <template slot-scope="scope">
            <logic-edit-operation
              v-bind:question="scope.row.origin"
            >
            </logic-edit-operation>
          </template>

        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</template>
<script>
import {sortLogicQuestions } from '@/api/questionnaire/logic_question'
import Sortable from 'sortablejs'
import LogicEditOperation from '@/components/Questionnaire/logicEditOperation';
import { mapActions, mapGetters } from 'vuex';
import WithOptionAdd from '@/components/Questionnaire/withOptionAdd.vue'
import TextAdd from '@/components/Questionnaire/textAdd';

export default {
  components: {LogicEditOperation, WithOptionAdd, TextAdd},
  data: function() {
    return {
      id: 0,
      query: {
        keywords: ''
      },
      addSingleFormVisible: false,
      addMultiFormVisible: false,
      addTextareaFormVisible: false,

      optionAddType: 1,
      optionAddOpen: false,
      textAddOpen: false,
    }
  },
  mounted: function() {
    const paperId = this.$route.query.id
    if (paperId > 0) {
      this.$data.id = paperId
      this.initPaperLogic(paperId)
      this.rowDrop()
    }
  },
  methods: {
    ...mapActions("questionnaireLogicQuestion", [
      'initPaperLogic',
      'refreshPaperQuestions'
    ]),
    rowDrop: function() {
      const tbody = document.querySelector('.el-table__body-wrapper tbody')
      Sortable.create(tbody, {
        onUpdate: this.updateSort
      })
    },
    updateSort: function(ev) {
      const questions = this.getQuestions
      const oldIndex = ev.oldIndex
      const newIndex = ev.newIndex
      const qid = questions[oldIndex].id
      const changeQid = questions[newIndex].id
      let prevQid = 0; let nextQid = 0
      if (newIndex > 0) {
        prevQid = questions[newIndex - 1].id
      }
      if (newIndex < questions.length - 1) {
        nextQid = questions[newIndex + 1].id
      }
      let nextId = 0; let prevId = 0
      if (oldIndex > newIndex) { // 向上移
        prevId = prevQid
        nextId = changeQid
      } else if (oldIndex < newIndex) {
        prevId = changeQid
        nextId = nextQid
      }
      sortLogicQuestions(qid, prevId, nextId).then(response => {
        this.refreshPaperQuestions()
        this.notifyOperateSuccess('排序变更成功')
      })
    },
    preAdd: function(command) {
      switch (command) {
        case 'addSingleFormVisible':
        case 'addMultiFormVisible':
          this.$data.optionAddType = command == 'addSingleFormVisible' ? 1 : 2;
          this.$data.optionAddOpen = true;
          break
        case 'addTextareaFormVisible':
          this.$data.textAddOpen = true;
          break
        default:
          break
      }
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    notifyOperateFail: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'error'
      })
    },
   closeOptionAdd() {
     this.$data.optionAddOpen = false;
     this.$data.textAddOpen = false;
     return;
   },
   addQuestionSuccess() {
     this.$data.optionAddOpen = false;
     this.$data.textAddOpen = false
     this.notifyOperateSuccess("试题添加成功");
     return;
   }
  },
  computed: {
     ...mapGetters("questionnaireLogicQuestion", [
      'getQuestions',
      'getPaperStatus'
    ]),
  }
}
</script>
