<template>
  <div
    v-loading.fullscreen.lock="processing"
    style="margion:50px"
  >
    <el-row :gutter="24" style="margin-top:50px">
      <el-col :span="22" :offset="1">
        <el-form ref="form" :inline="true" :model="form" label-width="80px">
          <el-form-item>
            <el-button type="primary" @click="addQuestionnaire">添加问卷</el-button>
          </el-form-item>
          <el-form-item label="名称">
            <el-input v-model="form.keywords" placeholder="" />
          </el-form-item>
          <el-form-item label="状态">
            <el-select v-model="form.status" placeholder="">
              <el-option
                v-for="statusItem in allStatus"
                :key="statusItem.value"
                :label="statusItem.name"
                :value="statusItem.value"
              >
                {{ statusItem.name }}
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="">
            <el-button type="primary" @click="onSearch">搜索</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row :gutter="24">
      <el-col :span="20" :offset="1">
        <el-table
          :data="getPapers"
          border
          stripe
          style="width: 100%"
        >
          <el-table-column
            header-align="center"
            align="center"
            prop="name"
            label="问卷的名称"
            width="180px"
          />
          <el-table-column
            prop="type"
            label="问卷类型"
            align="center"
            header-align="center"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="status"
            label="状态"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="total"
            label="收集份数"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="publishAt"
            label="发布时间"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="expireAt"
            label="结束时间"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="platform"
            label="平台"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop=""
            label="操作"
            min-width="200px"
          >
            <template slot-scope="scope">
              <el-row>
                <el-col v-if="scope.row.enablePublish" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:publish'"
                    style="margin-right:2px;"
                    type="danger"
                    size="medium"
                    @click="handlePublish(scope.$index, scope.row.id)"
                  >发&nbsp;&nbsp;&nbsp;布</el-button>
                </el-col>
                <el-col v-if="scope.row.enableOffshelf" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:offshelf'"
                    style="margin-right:2px;"
                    type="danger"
                    size="medium"
                    @click="handleOffShelf(scope.$index, scope.row.id)"
                  >下&nbsp;&nbsp;&nbsp;架</el-button>

                </el-col>
                <el-col v-if="scope.row.enableEdit" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:edit'"
                    style="margin-right:2px;"
                    type="primary"
                    size="medium"
                    @click="$router.push({name: 'EditQuestion', query: {id: scope.row.id}})"
                  >编&nbsp;&nbsp;&nbsp;辑</el-button>
                </el-col>
                <el-col v-if="scope.row.enableDelete" :span="12" style="padding-bottom:5px">
                  <el-popconfirm
                    v-permission="'compliance:questionnaire:delete'"
                    style="margin-right:2px;"
                    title="确认删除问卷吗"
                    @confirm="handleDelete(scope.$index, scope.row.id);"
                  >
                    <el-button
                      slot="reference"
                      size="medium"
                      type="danger"
                      style.native="color:red;"
                    >删&nbsp;&nbsp;&nbsp;除</el-button>
                  </el-popconfirm>
                </el-col>
                <el-col v-if="scope.row.enableQuestionEdit" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:logicQuestion'"
                    style="margin-right:2px;"
                    size="medium"
                    type="info"
                    @click="$router.push({name: 'LogicQuestion', query: {id: scope.row.id}})"
                  >试题管理</el-button>
                </el-col>
                <el-col v-if="scope.row.enableQuestionPaperEdit" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:questionTestPaper'"
                    style="margin-right:2px;"
                    size="medium"
                    type="info"
                    @click="$router.push({name: 'QuestionPaper', query: {id: scope.row.id}})"
                  >试卷管理</el-button>
                </el-col>
                <el-col v-if="scope.row.enableShare" :span="12" style="padding-bottom:5px">
                  <el-button
                    style="margin-right:2px;"
                    size="medium"
                    type="info"
                    @click="showShareInfo(scope.row.id)"
                  >分&nbsp;&nbsp;&nbsp;享</el-button>
                </el-col>
                <el-col v-if="scope.row.enableDown" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:down'"
                    style="margin-right:2px;"
                    size="medium"
                    type="info"
                    @click="downQuestionnaire(scope.row.id)"
                  >下&nbsp;&nbsp;&nbsp;载</el-button>
                </el-col>
                <el-col v-if="scope.row.enableOffshelf" :span="12" style="padding-bottom:5px">
                  <el-button
                    v-permission="'compliance:questionnaire:point:topn'"
                    style="margin-right:2px"
                    size="medium"
                    type="primary"
                    @click="gotoTopN(scope.row.id)"
                  >额外奖励</el-button>
                </el-col>
              </el-row>

            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="24" justify="center" style="margin-top:30px">

      <el-col :span="22" :offset="1">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page="getCurrentPage"
          :total="getTotal"
          @current-change="getPageData"
        />
      </el-col>
    </el-row>

    <el-row>
      <el-col>
        <show-share
          v-if="shareVisible"
          :uri="shareUri"
          title="问卷分享信息"
          :open="shareVisible"
          @close="closeShare"
        />
      </el-col>
    </el-row>

    <el-dialog
      v-permission="'compliance:questionnaire:add'"
      title="添加问卷"
      :visible.sync="dialogFormVisible"
    >
      <el-form :model="newPaper">
        <el-form-item label="问卷名称:" :label-width="formLabelWidth">
          <el-input v-model="newPaper.name" autocomplete="off" />
        </el-form-item>
        <el-form-item label="问卷类型" :label-width="formLabelWidth">
          <el-select v-model="newPaper.type" placeholder="请选择问卷类型">
            <el-option label="必答问卷" :value="0" />
            <el-option label="逻辑问卷" :value="1" />
          </el-select>
        </el-form-item>
        <el-form-item label="平台" :label-width="formLabelWidth">
          <el-select v-model="newPaper.platform" placeholder="请选择平台">
            <el-option label="优药" :value="0" />
            <el-option label="优佳医" :value="1" />
            <el-option label="OTC" :value="2" />
            <el-option label="药店关联小程序" :value="3" />
          </el-select>
        </el-form-item>
        <el-form-item label="展示类型" :label-width="formLabelWidth">
          <el-select v-model="newPaper.show_type" placeholder="请选择展示类型">
            <el-option label="不指定" :value="0" />
            <el-option label="逐条问答" :value="1" />
            <el-option label="整卷问答" :value="2" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <span slot="label">发布到平台
            <el-tooltip class="item" effect="dark" placement="left" content="otc问卷选中该选项会自动发布到活动中心">
              <i class="el-icon-question" />
            </el-tooltip>
          </span>
          <el-checkbox v-model="newPaper.autoPublish" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addFormConfirm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import { generateShareUri, questionnaire_answer_exp } from '@/api/questionnaire/questionnaire'
import ShowShare from '@/components/Questionnaire/showShare'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  components: { ShowShare },
  data() {
    return {
      'shareVisible': false,
      'shareUri': '',
      'form': {
        'keywords': '',
        'status': 0
      },
      'newPaper': {
        'name': '',
        'type': 0,
        'platform': 0,
        autoPublish: true,
        show_type: 0
      },
      dialogFormVisible: false,
      formLabelWidth: '100px',
      allStatus: [
        { value: 0, name: '全部' },
        { value: 1, name: '未发布' },
        { value: 2, name: '已发布' },
        { value: 3, name: '已删除' },
        { value: 4, name: '已过期' }
      ],
      allPlatforms: [
        { value: 0, name: '优药' },
        { value: 1, name: '优佳医' },
        { value: 2, name: 'OTC小程序' },
        { value: 3, name: '药店关联小程序' }
      ]
    }
  },
  created: function() {
    this.initPapers()
  },
  methods: {
    ...mapActions('questionnaireList', [
      'initPapers',
      'publish',
      'offShelf',
      'deleteOnePaper',
      'changeCond',
      'changePage',
      'addOnePaper'
    ]),
    onSearch: function() {
      this.changeCond({
        keywords: this.$data.form.keywords,
        status: this.$data.form.status
      })
    },
    handleDelete: function(index, id) {
      this.deleteOnePaper(id)
    },
    handleEdit: function(id) {
      this.$router.push({ path: '/questionnaire/edit-questionnaire', query: { id: id }})
    },
    getPageData: function(page) {
      this.changePage(page)
    },
    handlePublish: function name(index, id) {
      this.publish(id)
    },
    handleOffShelf: function(index, id) {
      this.offShelf(id)
    },
    addFormConfirm: function() {
      const name = this.$data.newPaper.name
      const type = this.$data.newPaper.type
      const platform = this.$data.newPaper.platform
      const autoPublish = this.$data.newPaper.autoPublish
      const showType = this.$data.newPaper.show_type
      this.addOnePaper({ name, type, platform, autoPublish, showType })
      this.dialogFormVisible = false
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    addQuestionnaire: function() {
      this.$data.newPaper.name = ''
      this.$data.newPaper.type = 0
      this.$data.newPaper.platform = 0

      this.$data.dialogFormVisible = true
    },
    showShareInfo: function(id) {
      this.$data.shareUri = ''
      this.$data.shareVisible = false
      generateShareUri(id)
        .then(resp => {
          // eslint-disable-next-line eqeqeq
          if (resp.code == 20000) {
            const uri = resp.data.uri
            this.$data.shareUri = uri
            this.$data.shareVisible = true
          }
        })
    },
    downQuestionnaire: function(id) {
      this.notifyOperateSuccess('待处理')
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        questionnaire_answer_exp,
        {
          paper_id: id
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },
    closeShare: function() {
      this.$data.shareUri = ''
      this.$data.shareVisible = false
    },
    gotoTopN(id) {
      this.$router.push(
        {
          name: 'TopNPointBatch',
          query: {
            biz_id: id,
            type: 1
          }
        }
      )
    }
  },
  computed: {
    ...mapGetters('questionnaireList', [
      'getPapers',
      'getPages',
      'getIsProcessing',
      'getTotal',
      'getCurrentPage'
    ]),
    ...mapState('questionnaireList', [
      'publishSuccess',
      'addSuccess',
      'deleteSuccess',
      'offShelfSuccess',
      'processing'
    ])
  },
  watch: {
    publishSuccess: {
      handler(newVal, oldVal) {
        if (newVal) {
          this.notifyOperateSuccess('问卷发布成功')
        }
      }
    },
    addSuccess: {
      handler(newVal, oldVal) {
        if (newVal) {
          this.notifyOperateSuccess('问卷添加成功')
        }
      }
    },
    deleteSuccess: {
      handler(newVal, oldVal) {
        if (newVal) {
          this.notifyOperateSuccess('问卷删除成功')
        }
      }
    },
    offShelfSuccess: {
      handler(newVal, oldVal) {
        if (newVal) {
          this.notifyOperateSuccess('问卷下架成功')
        }
      }
    }
  }
}
</script>
<style scoped>
.el-button--del {
    color: red;
    border-color: transparent;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 7px;
}

.el-button--item {
    color: #46a6ff;
    border-color: transparent;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 7px;
}
</style>
