<template>
  <el-row :gutter="10" style="margin-top:20px">
    <el-col :span="20" :offset="1">
      <el-button 
      v-if="questionnairePaper.status == 1" 
      type="primary" 
      @click="beforeAddPaper"
      v-permission="'compliance:questionnaire:testPaper:add'"
      >添加试卷</el-button>
      <el-button 
      v-if="questionnairePaper.status == 1" 
      type="info" 
      @click="previewQuestions"
      v-permission="'compliance:questionnaire:testPaper:viewquestion'"
      >预览试题</el-button>
    </el-col>
    <el-col :span="20" :offset="1" style="margin-top:20px">
      <el-table
        border
        stripe
        :data="questionPapers"
        style="width: 100%"
      >
        <el-table-column
          prop="questionnairePaper.name"
          label="问卷名称"
          align="center"
          width="width"
        >
          {{ questionnairePaper.name }}
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="name"
          label="试卷名称"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="操作"
        >
          <template slot-scope="scope">
            <el-popconfirm 
            v-if="questionnairePaper.status == 1" 
            title="确认删除问卷吗" 
            @confirm="deleteQuestionPaper(scope.$index, scope.row.id);"
            v-permission="'compliance:questionnaire:testPaper:del'"
            >
              <el-button
                slot="reference"
                size="mini"
                type="danger"
                icon="el-icon-delete"
              >删除</el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :span="20" :offset="1">
      <!-- 添加邀请 -->
      <el-dialog :visible.sync="dialogFormVisible">
        <el-form>
          <el-form-item label="试卷名称:" :label-width="formLabelWidth">
            <el-select
              v-model="query.selectIds"
              multiple
              filterable
              remote
              reserve-keyword
              placeholder="请输入关键词"
              :remote-method="querySearchAsync"
              :loading="query.loading"
            >
              <el-option
                v-for="item in query.result"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>

          </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="addQuestionPapers">确 定</el-button>
        </div>
      </el-dialog>
    </el-col>

    <el-col :span="20" :offset="1">
      <el-drawer
      title="题目预览"
      :visible.sync="showQuestionList"
      direction="rtl"
      size="45%">
        <el-card style="margin-bottom:2em;" v-for="(item, idx) in question_list.questions" :key="idx" class="box-card">
          <div slot="header" class="clearfix" style="line-height:1.5em;">
            {{ idx+1 }}.
            <span style="color:blue">[{{ getQuestionTypeDesc(item.type) }}]</span>
            <span>&nbsp;&nbsp;{{ item.name }}</span>
             
          </div>
          <div style="margin:5px 0px;" v-for="(aitem, aidx) in item.answers" :key="aidx" class="text item">
            <el-radio :disabled="disableEdit" v-if="item.type == 1 && aitem.is_right== 1" v-model="aitem.id"  :label="aitem.id">{{ aitem.name }}</el-radio>
            <el-radio :disabled="disableEdit" v-if="item.type == 1 && aitem.is_right == 0" :label="aitem.id">{{ aitem.name }}</el-radio>
            <el-checkbox :disabled="disableEdit" v-if="item.type == 2" :checked="aitem.is_right==1">{{ aitem.name }}</el-checkbox>
          </div>
          <el-alert
            style="margin-top: 20px"
            v-if="questionnairePaper.platform==2 && item.resource_id > 0"
            title="已关联资源:"
            :description="item.resource_name"
            type="success"
            @close="unBindQuestion(item.id)">
          </el-alert>
            <el-col 
            :span="24" 
            style="text-align:center; margin-bottom:5px;margin-top:15px;"
            v-if="questionnairePaper.platform==2 || questionnairePaper.platform==3">
            <el-button  type="primary" @click="preBindResource(item.id, item.resource_id, questionnairePaper.platform)">绑定资源</el-button>
            <el-button v-if="item.resource_id > 0" type="danger" @click="unBindQuestion(item.id)">解绑资源</el-button>
            </el-col>
        </el-card>
    </el-drawer>

    </el-col>

    <el-col :span="20" :offset="1">
    <el-dialog
      title="关联绑定资源"
      :visible.sync="showBindResource"
      width="50%"
      >
      <el-form :model="bind">
      <el-form-item label="试题名称:">
        {{ bind.name }}
      </el-form-item>
      <el-form-item label="搜索资源:" >
        <el-select 
          v-model="bind.resource_id" 
          filterable 
          remote
          placeholder="请选择"
          :remote-method="searchResource"
          :loading="resourceLoading"
          >
          <el-option
            v-for="item in resource_list"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
  </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showBindResource = false">取 消</el-button>
        <el-button type="primary" @click="bindResource">绑定资源</el-button>
      </span>
    </el-dialog>
    </el-col>
  
  </el-row>
</template>
<script>
import * as questionPaper from '@/api/questionnaire/question_paper'
import { infoPaper } from '@/api/questionnaire/questionnaire'
import axios from 'axios'

export default {
  data: function() {
    return {
      width: '30px',
      questionnaire_id: 0,
      questionPapers: [],
      questionnairePaper: {},
      dialogFormVisible: false,
      query: {
        result: [],
        name: '',
        selectIds: [],
        loading: false,
        idMap: new Map()
      },
      formLabelWidth: '80px',
      queryLimit: 10,
      question_list: [],
      showQuestionList: false,
      disableEdit: true,
      showBindResource: false,
      bind: {
        question_id: 0,
        resource_id: 0,
        name: ''
      },
      resource_list: [
        {
          id: 0,
          name: "解绑"
        }
      ],
      resourceLoading: false
    }
  },
  mounted: function() {
    const questionnairePaperId = this.$route.query.id
    if (!questionnairePaperId) {
      this.notifyOperateFail('请求异常,问卷id不能为空')
      return
    }
    this.$data.questionnaire_id = questionnairePaperId
    this.initQuestionnaireAndPaperData()
  },
  methods: {
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    notifyOperateFail: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'error'
      })
    },
    getQuestionnairePaperById() {
      questionPaper.listQuestionPaper(this.$data.questionnaire_id)
        .then(resp => {
          this.$data.questionPapers = resp.data.list
        })
    },
    initQuestionnaireAndPaperData() {
      const me = this
      axios.all([infoPaper(this.$data.questionnaire_id), questionPaper.listQuestionPaper(this.$data.questionnaire_id)])
        .then(axios.spread(function(infoResp, listResp) {
          me.$data.questionnairePaper = infoResp.data
          me.$data.questionPapers = listResp.data.list
        }))
    },
    deleteQuestionPaper: function(index, questionPaperId) {
      questionPaper.deleteQuestionPaper(
        this.$data.questionnaire_id,
        questionPaperId
      ).then(resp => {
        this.notifyOperateSuccess('试卷关联关系删除成功')
        this.$data.questionPapers.splice(index, 1)
      })
    },
    addQuestionPapers: function() {
      const addQuestionPaperIds = this.$data.query.selectIds
      if (addQuestionPaperIds.length == 0) {
        this.notifyOperateFail('请至少选择一份试卷')
        return
      }

      const idMap = this.$data.query.idMap
      questionPaper.batchAddQuestionPaper(
        this.$data.questionnaire_id,
        addQuestionPaperIds
      ).then(response => {
        for (let i = 0; i < addQuestionPaperIds.length; i++) {
          const itemId = addQuestionPaperIds[i]
          const questionPaperItem = idMap.get(itemId)
          if (questionPaperItem) {
            this.$data.questionPapers.push(questionPaperItem)
          }
        }
        this.notifyOperateSuccess('问卷关联试卷操作成功')
        this.$data.dialogFormVisible = false
      })
    },
    beforeAddPaper: function() {
      this.initQuery()
      this.$data.dialogFormVisible = true
    },
    initQuery: function() {
      this.$data.query.result = []
      this.$data.query.result.name = ''
      this.$data.query.selectIds = [],
      this.$data.query.loading = false,
      this.$data.query.idMap.clear()
    },
    querySearchAsync: function(queryString) {
      this.initQuery()
      this.$data.query.loading = true
      questionPaper.searchQuestionPaper(
        this.$data.questionnaire_id,
        queryString,
        this.$data.queryLimit
      ).then(response => {
        this.$data.query.result = response.data.list
        for (let i = 0; i < response.data.list.length; i++) {
          const item = response.data.list[i]
          this.$data.query.idMap.set(item.id, item)
        }
        this.$data.query.loading = false
      })
    },
    previewQuestions: function() {
      this.showQuestionList = false
      this.question_list = []
      questionPaper.previewQuestionnaireQuestion(this.$data.questionnaire_id)
        .then(resp => {
          this.$data.question_list = resp.data.list
          this.$data.showQuestionList = true
        })
    },
    getQuestionTypeDesc(type) {
      if(type == 1) {
        return "单选题"
      } else if(type == 2) {
        return "多选题"
      } else if (type == 3) {
        return "填空题"
      } else {
        return "其它"
      }
    },
    preBindResource(questionId, resourceId, platform) {
      this.$data.showBindResource = false
      let item = this.$data.question_list.questions.find(function(item) {
          return item.id == questionId
      })
      if(item == undefined) {
        this.notifyOperateFail("试题不存在")
        return false
      }
      this.$data.bind.question_id = item.id
      this.$data.bind.resource_id = item.resource_id
      this.$data.bind.name = item.name
      this.$data.query.platform = platform
      this.searchResource("")
      this.$data.showBindResource = true
    },
    searchResource(query) {
      this.$data.resourceLoading = true
      questionPaper.searchQuestionnaireQuestionResources(query, 5, this.query.platform)
        .then(resp => {
          let list = [
            {
              id: 0,
              name: "解绑"
            }
          ]
          const length = resp.data.list.length
          for(var i =0; i<length; i++) {
            let item = resp.data.list[i]
            list.push({
              id: item.id,
              name: item.name
            })
          }

          this.$data.resource_list = list
          this.$data.resourceLoading = false
        })
    },
    bindResource() {
      const bind = this.$data.bind
      console.log(bind.question_id, bind.resource_id)
      questionPaper.questionnaireQuestionBindResource(
        this.$data.questionnaire_id,
        bind.question_id,
        bind.resource_id
      ).then(resp => {
        this.notifyOperateSuccess("试题关联资源绑定成功")
        this.$data.showBindResource = false
        this.$data.showQuestionList =false
      })
    },
    unBindQuestion(questionId) {
      let item = this.$data.question_list.questions.find(function(item) {
          return item.id == questionId
      })
      if(item == undefined) {
        this.notifyOperateFail("试题不存在，请刷新重试")
        return false;
      }
      this.$data.bind.question_id = item.id
      this.$data.bind.resource_id = 0
      this.$data.bind.name = item.name
      this.bindResource()
    }
  }
}
</script>
