<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="17">
          <el-form-item label="医生ID">
            <el-input v-model="query.did" placeholder="请输入医生ID"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="医生昵称">
            <el-input v-model="query.nickname" placeholder="请输入医生昵称"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="医生姓名">
            <el-input v-model="query.name" placeholder="请输入医生姓名"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="手机号">
            <el-input v-model="query.phone" placeholder="请输入手机号"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="医院名称">
            <el-input v-model="query.hospital" placeholder="请输入医院名称"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="医院公司">
            <el-input v-model="query.company" placeholder="请输入医院所属公司"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="部门名称">
            <el-input v-model="query.depart" placeholder="请输入部门名称"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="终端类型">
            <el-select
              v-model="query.h_type"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in hTypeList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="医生来源">
            <el-select
              v-model="query.d_type"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in dTypeList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="1">
          <el-button v-permission="'group:alldoctor:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'group:alldoctor:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button v-permission="'group:alldoctor:export'" style="margin-left: 20px;" type="primary" @click="exportSign">导出数据</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      :data="dataList"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="nid" fixed="left" label="ID" align="center" />
      <el-table-column prop="nickname" label="微信昵称" align="center" />
      <el-table-column prop="headimgurl" label="头像" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.headimgurl" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="true_name" label="真实姓名" align="center" />
      <el-table-column prop="mobile_num" label="医生手机号" align="center" />
      <el-table-column prop="gender" label="性别" align="center">
        <template slot-scope="{row}">
          <template v-if="row.gender===1">男</template>
          <template v-else-if="row.gender===2">女</template>
          <template v-else>未知</template>
        </template>
      </el-table-column>
      <el-table-column prop="company" label="医院所属公司" align="center" />
      <el-table-column prop="hospital_no" label="医院编号" align="center" />
      <el-table-column prop="hospital_name" label="医院" align="center" />
      <el-table-column prop="org_type" label="终端类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.org_type===1">医院</template>
          <template v-else-if="row.org_type===2">药店</template>
          <template v-else-if="row.org_type===3">商业</template>
          <template v-else-if="row.org_type===4">连锁</template>
          <template v-else-if="row.org_type===5">连锁公司</template>
          <template v-else-if="row.org_type===6">其他</template>
          <template v-else></template>
        </template>
      </el-table-column>
      <el-table-column prop="hospital_org" label="是否重点医院" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.hospital_org==1" size="mini" effect="dark">重点医院</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="pro" label="省份/直辖市" align="center" />
      <el-table-column prop="city" label="城市" align="center" />
      <el-table-column prop="area" label="区域" align="center" />
      <el-table-column prop="depart_name" label="科室" align="center" />
      <el-table-column prop="job_title" label="职称" align="center" />
      <el-table-column prop="position" label="职务" align="center" />
      <el-table-column prop="kol_level" label="KOL等级" align="center">
        <template slot-scope="{row}">
          <template v-if="row.kol_level===1">全国性KOL</template>
          <template v-else-if="row.kol_level===2">区域KOL</template>
          <template v-else-if="row.kol_level===3">处方医生</template>
          <template v-else-if="row.kol_level===4">城市KOL</template>
          <template v-else-if="row.kol_level===0">其他</template>
          <template v-else></template>
        </template>
      </el-table-column>
      <el-table-column prop="is_subscribed" label="关注状态" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.is_subscribed===1" size="mini" effect="dark" type="success">已关注</el-tag>
          <el-tag v-else size="mini" effect="dark">未关注</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="in_reps" label="是否存在关联关系" align="center">
        <template slot-scope="{row}">
          <template v-if="row.in_reps===1">是</template>
          <template v-else>否</template>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="加入时间" align="center" />
      <el-table-column prop="is_key_doc" label="是否重点医生" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.is_key_doc==1" size="mini" effect="dark">重点医生</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="source_type" label="医生来源" align="center">
        <template slot-scope="{row}">
          <template v-if="row.source_type===1">医生群组新建</template>
          <template v-else-if="row.source_type===2">优佳医报名表</template>
          <template v-else-if="row.source_type===3">优佳医认证</template>
          <template v-else-if="row.source_type===4">其他</template>
          <template v-else></template>
        </template>
      </el-table-column>
    </el-table>

    <Pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as groupApi from '@/api/group/groupdoctor'

export default {
  name: 'AllDoctor',
  components: { Pagination },
  data() {
    return {
      query: {
        did: '',
        nickname: '',
        name: '',
        phone: '',
        hospital: '',
        company: '',
        depart: '',
        h_type: '',
        d_type: '',
        page: 1,
        page_size: 20
      },
      loading: false,
      dataList: [],
      total: 0,
      hTypeList: [
        { id: 1, value: '医院' },
        { id: 2, value: '药店' },
        { id: 3, value: '商业' },
        { id: 4, value: '连锁' },
        { id: 5, value: '连锁公司' },
        { id: 6, value: '其他' },
      ],
      dTypeList: [
        { id: 1, value: '医生群组新建' },
        { id: 2, value: '优佳医报名表' },
        { id: 3, value: '优佳医认证' },
        { id: 4, value: '其他' }
      ]
    }
  },
  created() {
    this.search()
  },

  methods: {
    search() {
      this.loading = true
      groupApi.allDoctor(this.query).then(response => {
        this.dataList = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    exportSign() {
      groupApi.exportAllDoctor(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {})
    },

    queryReset() {
      this.query = {
        did: '',
        nickname: '',
        name: '',
        phone: '',
        hospital: '',
        company: '',
        depart: '',
        h_type: '',
        d_type: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
