<template>
  <div class="app-container">
    <el-form ref="form" :model="listQuery" label-position="right" label-width="150px">
      <el-row>
        <el-col :span="9">
          <el-form-item label="分享者手机号">
            <el-input v-model="listQuery.phone" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="分享者工号">
            <el-input v-model="listQuery.staff_code" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="9">
          <el-form-item label="分享者姓名">
            <el-input v-model="listQuery.agent_name" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="医院所属公司">
            <el-input v-model="listQuery.com_name" />
          </el-form-item>
        </el-col>
        <el-col :span="4" :offset="1">
          <el-button type="primary" @click="getList">查询</el-button>
          <el-button @click="reset">重置</el-button>
          <el-button type="primary" @click="exportDataDetail">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row>
      <el-button type="primary" @click="BatchDel">批量解绑</el-button>
    </el-row>
    <br>

    <el-table
      ref="checkTable"
      v-loading="loading"
      :data="list"
      :row-key="getRowKey"
      stripe
      border
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" type="selection" width="55" reserve-selection />
      <el-table-column prop="yjy_doctor_unionid" label="unionid" align="center" />
      <el-table-column prop="yjy_nickname" label="优佳医昵称" align="center" />
      <el-table-column prop="yjy_truename" label="优佳医姓名" align="center" />
      <el-table-column prop="yjy_hospital_name" label="优佳医认证医院" align="center" />
      <el-table-column prop="dui_true_name" label="医生库真实姓名" align="center" />
      <el-table-column prop="uinfo_hospital_name" label="所在医院" align="center" />
      <el-table-column prop="hospital_id" label="所在医院id" align="center" />
      <el-table-column prop="com_name" label="医院所属公司" align="center" />
      <el-table-column prop="depart_name" label="医生所在科室" align="center" />
      <el-table-column prop="age_truename" label="分享者姓名" align="center" />
      <el-table-column prop="staff_code" label="分享者工号" align="center" />
      <el-table-column prop="phone_number" label="分享者手机号" align="center" />
      <el-table-column label="操作" align="center" width="90px" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="danger" size="mini" @click="handleDel(row.nid,$index)">解绑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
  </div>
</template>

<script>
import { agentListOfDoctors, agentOfDoctorsExp, agentOfDoctorsDel } from '@/api/group/groupShareDoctor'
import Pagination from '@/components/Pagination'

export default {
  components: { Pagination },
  data() {
    return {
      list: [],
      total: 0,
      listQuery: {
        page: 1,
        limit: 20,
        prop_doctor_unionid: '',
        prop_nickname: '',
        prop_truename: '',
        prop_hospital_name: '',
        staff_code: '',
        agent_name: '',
        com_name: '',
        phone: ''
      },
      loading: false,
      checkedNIds: []
    }
  },

  mounted: function() {
    this.listQuery.prop_doctor_unionid = this.$route.query.prop_doctor_unionid
    this.listQuery.prop_nickname = this.$route.query.prop_nickname
    this.listQuery.prop_truename = this.$route.query.prop_truename
    this.listQuery.prop_hospital_name = this.$route.query.prop_hospital_name
    this.getList()
  },

  methods: {
    getRowKey(row) {
      return row.nid
    },

    //  单个
    handleDel(nid, index) {
      this.$confirm('确认要解绑吗？', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        agentOfDoctorsDel([nid]).then(response => {
          if (response.code === 20000) {
            this.msgSuccess('解绑成功！', 'success')
            this.getList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    handleSelectionChange(val) {
      var nids = []
      for (var i = 0; i < val.length; i++) {
        nids.push(val[i].nid)
      }
      this.checkedNIds = nids
    },

    // 批量
    BatchDel(val) {
      if (this.checkedNIds.length == 0) {
        this.msgError('请先选择需要解绑的信息', 'warning')
        return
      }
      this.$confirm('确认要解绑吗？', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        agentOfDoctorsDel(this.checkedNIds).then(response => {
          if (response.code === 20000) {
            this.msgSuccess('解绑成功！', 'success')
            this.getList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    getList() {
      this.loading = true
      agentListOfDoctors(this.listQuery).then(res => {
        this.list = res.data.list
        this.total = res.data.total
        this.loading = false
        this.$refs.checkTable.clearSelection()
      }).catch(() => {
        this.loading = false
      })
    },

    exportDataDetail() {
      agentOfDoctorsExp(this.listQuery).then(response => {
        this.msgSuccess('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
      }).catch(() => {})
    },

    reset() {
      this.listQuery.page = 1
      this.listQuery.limit = 20
      this.listQuery.staff_code = ''
      this.listQuery.agent_name = ''
      this.listQuery.com_name = ''
      this.listQuery.phone = ''
    },
    
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>
<style>
  .el-table .gain-row {
    color: green;
  }

  .el-table .pay-row {
    color: red;
  }
</style>
