<template>
  <div class="app-container">
    <el-form ref="form" :model="listQuery" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="18">
          <el-form-item label="unionid">
            <el-input v-model="listQuery.unionid" />
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="数量">
            <el-select v-model="listQuery.num" placeholder="默认全部" style="width:100%">
              <el-option v-for="item in numberInfo" :key="item.id" :label="item.value" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="手机号">
            <el-input v-model="listQuery.phone" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="9">
          <el-form-item label="昵称">
            <el-input v-model="listQuery.nickname" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="真实姓名">
            <el-input v-model="listQuery.truename" />
          </el-form-item>
        </el-col>

        <el-col :span="4" :offset="1">
          <el-button type="primary" @click="handleFilter">查询</el-button>
          <el-button @click="reset">重置</el-button>
        </el-col>
      </el-row>
      <el-row class="padd">
        <el-col :span="10" :offset="1">
          <el-button type="primary" @click="exportData">导出列表</el-button>
          <el-button type="primary" @click="exportDetailData">导出明细</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="unionid" fixed="left" label="unionid" align="center" />
      <el-table-column prop="nickname" fixed="left" label="优佳医昵称" align="center" />
      <el-table-column prop="phone" fixed="left" label="优佳医手机号" align="center" />
      <el-table-column prop="true_name" fixed="left" label="优佳医真实姓名" align="center" />
      <el-table-column prop="hospital_name" fixed="left" label="优佳医所在医院" align="center" />

      <el-table-column prop="" label="优佳医认证状态" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.user_verified===1" size="mini" effect="dark" type="success">已认证</el-tag>
          <el-tag v-else size="mini" effect="dark">未认证</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="数量" class-name="status-col">
        <template slot-scope="{row}">
          <el-button
            @click="$router.push({ name: 'GroupShareDoctorDtl', query: {prop_doctor_unionid: row.unionid, prop_nickname: row.nickname, prop_truename: row.true_name, prop_hospital_name: row.hospital_name} });"
          >
            {{ row.as_number }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="handleFilter" />
  </div>
</template>

<script>
import { agentNumberOfDoctors, agentNumOfDoctorsExp, agentNumOfDoctorsDetailExp } from '@/api/group/groupShareDoctor'
import Pagination from '@/components/Pagination'

export default {
  name: 'GroupShareDoctor',
  components: { Pagination },
  data() {
    return {
      numberInfo: [
        { id: 1, value: '>1' },
        { id: 2, value: '=1' }
      ],
      listQuery: {
        page: 1,
        limit: 20,
        num: '',
        phone: '',
        unionid: '',
        nickname: '',
        truename: ''
      },
      loading: false,
      list: [],
      total: 0,
    }
  },
  created() {
    this.handleFilter()
  },
  methods: {
    handleFilter() {
      this.loading = true
      agentNumberOfDoctors(this.listQuery).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    exportData() {
      agentNumOfDoctorsExp(this.listQuery).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    exportDetailData() {
      agentNumOfDoctorsDetailExp(this.listQuery).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    reset() {
      this.listQuery = {
        page: 1,
        limit: 20,
        num: '',
        phone: '',
        unionid: '',
        nickname: '',
        truename: ''
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>
<style>
  .padd {
    padding-top: 10px;
    margin-bottom: -20px;
  }

</style>
