<template>
  <div class="app-container">
    <el-row>
      <el-col :span="3">
        <el-button v-permission="'group:depart:add'" type="primary" @click="showDiolog">新增</el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="loading"
      :data="dataList"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="id" fixed="left" label="ID" align="center" />
      <el-table-column prop="name" label="部门名称" align="center" />
      <el-table-column prop="img" label="图标" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="rank" label="排序" align="center" />
      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'group:depart:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'group:depart:del'" type="danger" size="mini" @click="del(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="编辑" :visible.sync="dialogVisible" width="60%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="名称"
              prop="name"
              :rules="[
                { required: true, message: '请输入名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.name" placeholder="请输入名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="排序">
              <el-input v-model="formData.rank" type="number" placeholder="请输入排序数字" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="图标"
              prop="img"
              :rules="[
                {message: '请上传图标', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.img"
                :uploadData="uploadData"
                :sign="sign.cover"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="药品产品"
              prop="product"
              :rules="[
                {required: true, message: '请选择药品', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.product" multiple placeholder="请选择">
                  <el-option
                    v-for="item in productList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="基础部门"
              prop="list"
              :rules="[
                {required: true, message: '请选择基础部门', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.list" multiple placeholder="请选择">
                  <el-option
                    v-for="item in departList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton" style="margin-left: 300px;">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as groupApi from '@/api/group/groupdepart'
import { getUploadToken } from '@/api/upload/upload'
import ImgUpload from '@/components/ImgUpload'

export default {
  name: 'GroupDepart',
  components: { ImgUpload },
  data() {
    return {
      loading: false,
      dataList: [],
      dialogVisible: false,
      formData: {
        id: 0,
        name: '',
        img: [],
        rank: 0,
        product: [],
        list: []
      },
      productList: [],
      departList: [],
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      sign: {
        cover: 'cover'
      }
    }
  },
  created() {
    this.search()
  },

  methods: {
    search() {
      this.loading = true
      groupApi.list().then(response => {
        this.dataList = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    products() {
      groupApi.products().then(response => {
        this.productList = response.data
      }).catch(() => {})
    },

    departs() {
      groupApi.departs().then(response => {
        this.departList = response.data
      }).catch(() => {})
    },

    showDiolog() {
      this.formData = {
        id: 0,
        name: '',
        img: [],
        rank: 0,
        list: []
      }
      this.getUploadToken()
      this.departs()
      this.products()
      this.dialogVisible = true
    },

    submit() {
      groupApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.search()
          this.dialogVisible = false
        }
      }).catch(() => {})
    },

    detail(id) {
      groupApi.detail({ id: id }).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.getUploadToken()
          this.departs()
          this.products()
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    del(id) {
      groupApi.del({ id: id }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('删除成功！', 'success')
          this.search()
          this.dialogVisible = false
        }
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'cover') {
        this.formData.img = data.imgList
      }
    },

    // 上传token
    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
