<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="用户名称">
            <el-input v-model="query.username" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="开始时间">
            <el-date-picker v-model="query.start_date" type="date" placeholder="选择日期" style="width: 100%;" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="结束时间">
            <el-date-picker v-model="query.end_date" type="date" placeholder="选择日期" style="width: 100%;" />
          </el-form-item>
        </el-col>

        <el-col :span="1">
          <el-button v-permission="'lfmini:order:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-tabs v-model="activeName" type="card" @tab-click="typeSearch">
      <el-tab-pane
        v-for="item in informationType"
        :key="item.id"
        :label="item.value"
        :name="item.value"
      >
        <el-table
          v-loading="loading"
          :data="list"
          row-key="id"
          highlight-current-row
          stripe
          border
          style="width: 100%"
        >
          <el-table-column prop="id" label="ID" width="100" align="left" />
          <el-table-column prop="name" label="商品名称" align="left" />
          <el-table-column prop="created_at" label="兑换时间" align="left" />
          <el-table-column prop="order_num" label="订单编号" align="left" />
          <el-table-column prop="user_name" label="用户名" align="center" />
          <el-table-column prop="" label="消耗积分" width="180" align="center">
            <template slot-scope="{row}">
              <div>{{ Number(row.consume_integral) + Number(row.service_integral) }}</div>
            </template>
          </el-table-column>
          <el-table-column prop="goods_num" label="兑换数量" align="center" />
          <el-table-column prop="" label="兑换状态" width="180" align="center">
            <template slot-scope="{row}">
              <div v-if="row.status == 1">未审核</div>
              <div v-else-if="row.status == 3">通过</div>
              <div v-if="row.status == 5">未通过</div>
            </template>
          </el-table-column>

          <el-table-column prop="" label="操作" width="200" align="center">
            <template slot-scope="{row}">
              <el-row>
                <el-col :span="12">
                  <!-- '状态 1-申请中 2-审核通过 3-发放中 4-已发放 5-审核不通过 6-拒绝发放', -->
                  <el-button v-if="row.status == 1" v-permission="'lfmini:order:audit'" type="primary" size="mini" @click="audit(row.id)">通过</el-button>
                </el-col>
                <el-col :span="12">
                  <el-button v-if="row.status == 1" v-permission="'lfmini:order:audit'" type="danger" size="mini" @click="refuse(row.id, row.service_integral, row.consume_integral, row.user_id)">拒绝</el-button>
                </el-col>
              </el-row>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
      </el-tab-pane>
    </el-tabs>

    <el-dialog
      title="拒绝原因"
      :visible.sync="verifyReasonShow"
      :modal="false"
      width="30%"
    >
      <el-input
        v-model="trial_reject_reason"
        type="textarea"
        :rows="4"
        placeholder="请输入拒绝原因"
      />
      <span slot="footer" class="dialog-footer">
        <el-button @click="verifyReasonShow = false">取 消</el-button>
        <el-button type="primary" @click="verifyRefuse()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as goodsApi from '@/api/lfmini/goods'
import Pagination from '@/components/Pagination'

export default {
  name: 'Guide',
  components: { Pagination },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        username: '',
        start_date: '',
        end_date: '',
        tid: 0,
        page: 1,
        page_size: 20
      },
      formData: {
        id: 0
      },
      total: 0,
      dialogVisible: false,
      detailVisible: false,
      informationType: [
        { 'id': 1, 'value': '全部' },
        { 'id': 2, 'value': '未审核' },
        { 'id': 3, 'value': '已通过' },
        { 'id': 4, 'value': '未通过' }
      ],
      activeName: '全部',
      verifyReasonShow: false,
      trial_reject_reason: '',
      refuseId: '',
      refuse_service_integral: '',
      refuse_consume_integral: '',
      refuse_user_id: ''
    }
  },
  created() {
    this.search()
  },
  methods: {
    typeSearch() {
      this.search()
    },

    verifyRefuse() {
      if (!this.trial_reject_reason) {
        this.operationMsg('请输入拒绝原因', 'warning')
        return
      }
      goodsApi.goods_order_audit(
        {
          'id': this.refuseId,
          't': 1,
          'status': 2,
          'trial_reject_reason': this.trial_reject_reason,
          'refuse_service_integral': this.refuse_service_integral,
          'refuse_consume_integral': this.refuse_consume_integral,
          'refuse_user_id': this.refuse_user_id
        }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.drawer = false
          this.verifyReasonShow = false
          this.search()
        }
      }).catch(() => {})
    },

    // 拒绝
    refuse(id, service_integral, consume_integral, uid) {
      this.$confirm('确认拒绝通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.refuseId = id
        this.refuse_user_id = uid
        this.refuse_service_integral = service_integral
        this.refuse_consume_integral = consume_integral
        this.verifyReasonShow = true
      }).catch(() => {})
    },

    audit(id) {
      this.$confirm('确认通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        goodsApi.goods_order_audit({ 'id': id, 't': 1, 'status': 1, 'trial_reject_reason': '' }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('提交成功！', 'success')
            this.dialogVisible = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    search() {
      var tid = 0
      var actName = this.activeName
      this.informationType.forEach(function(item) {
        if (item.value === actName) {
          tid = item.id
        }
      })
      this.query.tid = tid
      console.log(this.query)
      console.log(678)
      goodsApi.goods_order_list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    reset() {
      this.formData = {
        id: 0
      }
      this.trial_reject_reason = ''
      this.refuse_user_id = ''
      this.refuse_service_integral = ''
      this.refuse_consume_integral = ''
    },

    close() {
      this.dialogVisible = false
    },

    detailClose() {
      this.detailVisible = false
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .informationTypeList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
