<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'lfmini:res:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'lfmini:res:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="title" label="标题" width="250px" align="center" />

      <!-- <el-table-column prop="" label="标题" width="250px" align="center">
        <template slot-scope="{row}">
          <div v-if="row.is_pdf == 1"> -- </div>
          <div v-else> {{ row. title}} </div>
        </template>
      </el-table-column> -->

      <el-table-column prop="" label="类型" width="250px" align="center">
        <template slot-scope="{row}">
          <div v-if="row.type == 1">图文</div>
          <div v-else-if="row.type == 2">视频</div>
          <div v-else-if="row.type == 9">PDF图片资源</div>
        </template>
      </el-table-column>

      <el-table-column prop="" label="链接" width="250px" align="center">
        <template slot-scope="{row}">
          <div v-if="row.is_pdf == 1">{{ row. pdf_url }}</div>
          <div v-else>{{ row. video_link }}</div>
        </template>
      </el-table-column>

      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'lfmini:res:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'lfmini:res:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="11">
            <el-form-item
              label="是否为pdf"
              prop="is_pdf"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.is_pdf" placeholder="请选择" @change="pdfChange">
                <el-option v-for="item in is_pdfs" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="pdf_show == 1">
          <el-col :span="11">
            <el-form-item
              label="类型"
              prop="type"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type" placeholder="请选择类型" @change="typeChange">
                <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="formData.type == 2 && pdf_show == 1">
          <el-col :span="22">
            <el-form-item
              label="链接"
              prop="video_link"
            >
              <el-input v-model="formData.video_link" placeholder="请输入链接" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="图片"
              prop="img"
              :rules="[
                {required: true, message: '上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.img"
                :upload-data="uploadData"
                :sign="sign.img"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImgContent($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="pdf_show == 1">
          <el-col :span="22">
            <el-form-item
              label="富文本内容"
              prop="rules_des"
              :rules="[
                { required: true, message: '请输入富文本内容', trigger: 'blur' }
              ]"
            >
              <quillEditor ref="myQuillEditor" v-model="formData.content" :options="editorOption" />
              <ImgUpload
                v-show="false"
                class="content-uploader"
                :pic-list="formData.content_img"
                :upload-data="uploadData"
                :sign="sign.contentImg"
                :limit="limit"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImgContent($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="pdf_show == 2">
          <el-col :span="11">
            <el-form-item
              label="PDF原文件"
              prop="pdf_img"
              :rules="[
                {required: true, message: '请上传pdf', trigger: 'change' }
              ]"
            >
              <PDFUpload
                :pic-list="formData.pdf_img"
                :upload-data="uploadDataPDF"
                :sign="sign.pdf_img"
                :pic-url="picUrlPDF"
                :bucket="bucketPDF"
                @setImg="setImgContent($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="pdf_show == 2">
          <el-col :span="11">
            <el-form-item
              label="PDF轮播图"
              prop="pdf_img_small"
              :rules="[
                {required: true, message: '请上传pdf', trigger: 'change' }
              ]"
            >
              <MultipleUpload
                :pic-list="formData.pdf_img_small"
                :upload-data="uploadData"
                :sign="sign.pdf_img_small"
                :tp="1"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImgContent($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as resourceApi from '@/api/lfmini/resource'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import PDFUpload from '@/components/PDFUpload'
import MultipleUpload from '@/components/MultipleUpload'
import * as commonApi from '@/api/common/common'
import { quillEditor } from 'vue-quill-editor'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
// import * as Quill from 'quill'

const toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'], // 加粗 斜体 下划线 删除线 -----['bold', 'italic', 'underline', 'strike']
  ['blockquote', 'code-block'], // 引用  代码块-----['blockquote', 'code-block']
  [{
    header: 1
  }, {
    header: 2
  }], // 1、2 级标题-----[{ header: 1 }, { header: 2 }]
  [{
    list: 'ordered'
  }, {
    list: 'bullet'
  }], // 有序、无序列表-----[{ list: 'ordered' }, { list: 'bullet' }]
  [{
    script: 'sub'
  }, {
    script: 'super'
  }], // 上标/下标-----[{ script: 'sub' }, { script: 'super' }]
  [{
    indent: '-1'
  }, {
    indent: '+1'
  }], // 缩进-----[{ indent: '-1' }, { indent: '+1' }]
  [{
    'direction': 'rtl'
  }], // 文本方向-----[{'direction': 'rtl'}]
  [{
    size: ['12px', '14px', '16px', '20px', '24px', '36px']
  }], // 字体大小-----[{ size: ['small', false, 'large', 'huge'] }]
  [{
    header: [1, 2, 3, 4, 5, 6, false]
  }], // 标题-----[{ header: [1, 2, 3, 4, 5, 6, false] }]
  [{
    color: []
  }, {
    background: []
  }], // 字体颜色、字体背景颜色-----[{ color: [] }, { background: [] }]
  [{
    font: []
  }], // 字体种类-----[{ font: [] }]
  [{
    align: []
  }], // 对齐方式-----[{ align: [] }]
  ['clean'], // 清除文本格式-----['clean']
  ['link', 'image', 'video'] // 链接、图片、视频-----['link', 'image', 'video']
]

export default {
  name: 'Resource',
  components: { Pagination, ImgUpload, quillEditor, MultipleUpload, PDFUpload },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        title: '',
        type: 1,
        video_link: '',
        content: '',
        content_img: [],
        pdf_img: [],
        pdf_img_small: [],
        is_pdf: 1,
        img: []
      },
      editorOption: {
        placeholder: '请输入文本...',
        theme: 'snow',
        modules: {
          toolbar: {
            container: toolbarOptions,
            handlers: {
              image: function(value) {
                if (value) {
                  // 触发element-ui的文件上传
                  document.querySelector('.content-uploader input').click()
                } else {
                  this.quill.format('image', false)
                }
              }
            }
          }
        }
      },
      types: [
        { id: 1, title: '图文' },
        { id: 2, title: '视频' }
      ],

      is_pdfs: [
        { id: 2, title: 'pdf资源' },
        { id: 1, title: '普通资源' }
      ],
      query: {
        page: 1,
        page_size: 20,
        title: ''
      },
      // 七牛云上传
      sign: {
        contentImg: 'contentImg',
        pdf_img: 'pdf_img',
        pdf_img_small: 'pdf_img_small',
        img: 'img'
      },
      uploadData: {
        token: ''
      },
      uploadDataPDF: {
        token: ''
      },
      limit: 999,
      picUrl: '',
      bucket: '',
      picUrlPDF: '',
      bucketPDF: '',
      title: '',
      list: [],
      total: 0,
      articleOptions: [],
      dialogVisible: false,
      pdf_show: 1
    }
  },

  created() {
    this.search()
    this.getToken()
  },

  methods: {
    typeChange(v) {
      if (v == 1) {
        this.formData.video_link = ''
      }
    },
    pdfChange(v) {
      if (v == 2) {
        this.pdf_show = 2
        this.getTokenPDF()
      } else {
        this.reset()
        this.pdf_show = 1
      }
      this.$forceUpdate()
    },

    setImgContent(data) {
      if (data.sign === 'contentImg') {
        const quill = this.$refs.myQuillEditor.quill
        const length = quill.getSelection().index
        const imgSrc = data.imgList[0].url
        quill.insertEmbed(length, 'image', imgSrc)
        // 调整光标到最后
        quill.setSelection(length + 1)
      } else if (data.sign === 'pdf_img') {
        this.formData.pdf_img = data.imgList
      } else if (data.sign === 'pdf_img_small') {
        if (data.tp == 2) {
          this.formData.pdf_img_small = data.imgList
        } else {
          this.formData.pdf_img_small.push(data.imgList)
        }
      } else if (data.sign === 'img') {
        this.formData.img = data.imgList
      }
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    getTokenPDF() {
      resourceApi.getToken({ 'type': 2 }).then(response => {
        this.uploadDataPDF.token = response.data.token
        this.picUrlPDF = response.data.picUrl
        this.bucketPDF = response.data.bucket
      }).catch(() => {})
    },

    handleSelect(item) {
      this.query.p_id = item.id
    },

    search() {
      this.loading = true
      resourceApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        type: 1,
        title: '',
        video_link: '',
        content: '',
        is_pdf: 1,
        pdf_img_small: [],
        pdf_img: []
      }
      this.pdf_show = 1
      this.dialogVisible = false
    },

    detail(id) {
      resourceApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.pdf_show = 1
          this.formData.is_pdf = 1
          this.formData = response.data
          this.formData.video_link = response.data.video_link
          if (response.data.is_pdf == 2) {
            this.getTokenPDF()
            this.pdf_show = 2
            this.formData.is_pdf = 2
            this.formData.type = 1
          }

          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      if (this.formData.is_pdf == 1) {
        if (!this.formData.title) {
          this.operationMsg('标题不可空', 'error')
          return
        }
        if (this.formData.img.length <= 0) {
          this.operationMsg('图片不可空', 'error')
          return
        }
        if (!this.formData.content) {
          this.operationMsg('富文本不可空', 'error')
          return
        }

        if (this.formData.type == 2 && !this.formData.video_link) {
          this.operationMsg('视频链接不可空', 'error')
          return
        }
      } else {
        if (this.formData.pdf_img.length == 0 || this.formData.pdf_img_small == 0) {
          this.operationMsg('pdf不可空', 'error')
          return
        }
      }

      resourceApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        resourceApi.deleted({ id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        titele: ''
      }
      this.formData = {
        type: 1,
        title: '',
        video_link: '',
        content: '',
        is_pdf: 1,
        pdf_img_small: [],
        pdf_img: []
      }
      this.pdf_show = 1
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
