<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="资源选择">
        <el-select v-model="query.rid" filterable placeholder="请选择">
          <el-option
            v-for="item in resources"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button v-permission="'lfmini:resComment:search'" type="primary" @click="search">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="loading"
      stripe
      border
      :data="commentList"
      style="width: 100%;"
      row-key="id"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <el-table-column prop="id" label="ID" width="80" sortable align="center" />
      <el-table-column prop="headimg" label="头像" width="100" align="center">
        <template slot-scope="{row}">
          <el-avatar size="medium" :src="row.headimg" />
        </template>
      </el-table-column>
      <el-table-column prop="nickname" label="评论用户" width="100" align="center" />
      <el-table-column prop="title" label="评论归属" width="100" align="center" />
      <el-table-column prop="is_doctor" label="用户类型" width="80" align="center">
        <template slot-scope="{row}">
          <template v-if="row.is_doctor==1">药师</template>
          <template v-else>非药师</template>
        </template>
      </el-table-column>
      <el-table-column prop="content" label="评论内容" align="center" />
      <el-table-column prop="like" label="点赞" sortable width="100" align="center" />
      <el-table-column prop="created_at" label="评论时间" width="160" align="center" />
      <el-table-column prop="top" label="是否置顶" width="80" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.top==1,outstatus:row.top==0}">
            <template v-if="row.top==0">否</template>
            <template v-if="row.top==1">是</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="100" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="24">
              <el-button v-if="row.top==0" v-permission="'lfmini:resComment:top'" type="primary" size="mini" @click="topComment(row.id, row.top)">置顶</el-button>
              <el-button v-if="row.top==1" v-permission="'lfmini:resComment:top'" type="primary" size="mini" @click="topComment(row.id, row.top)">取消置顶</el-button>
            </el-col>
          </el-row>
          <el-row style="margin-top: 10px;">
            <el-col :span="24">
              <el-button v-permission="'lfmini:resComment:del'" type="danger" size="mini" :disabled="row.is_deleted==1" @click="deleteConfirm(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as resourceApi from '@/api/lfmini/resource'
import Pagination from '@/components/Pagination'
import * as commonApi from '@/api/common/common'
export default {
  name: 'ResourceComment',
  components: { Pagination },
  data() {
    return {
      query: {
        rid: '',
        page: 1,
        page_size: 20
      },
      resources: [],
      commentList: [],
      loading: false,
      total: 0,
      addCommentDialogVisible: false
    }
  },
  created() {

  },
  mounted() {
    this.search()
    this.articleForSelect()
  },
  methods: {

    // 获取资源
    articleForSelect() {
      commonApi.res_list().then(response => {
        this.resources = response.data.list.list
        console.log(response.data.list.list)
      }).catch(() => {})
    },

    search() {
      this.loading = true
      resourceApi.res_comment(this.query).then(response => {
        if (response.code == 20000) {
          this.commentList = response.data.list
          this.total = response.data.total
          this.loading = false
        } else {
          this.loading = false
        }
      }).catch(() => {})
    },

    // 置顶
    topComment(cid, top) {
      var query = { 'cid': cid, 'top': top }
      resourceApi.topComment(query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('置顶成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    // 删除
    deleteConfirm(commentId) {
      this.$confirm('确认删除该评论吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var query = { cid: commentId }
        resourceApi.deleteComment(query).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }

  }

}
</script>

<style scoped>
  .inline-input {
    width: 400px;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
</style>
