<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="17">
          <el-form-item label="公司名称">
            <el-input v-model="query.company_name" placeholder="公司名称"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="医院名称">
            <el-input v-model="query.hospital_name" placeholder="医院名称"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="1">
          <el-button v-permission="'hospital:list:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'hospital:list:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      :data="dataList"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="id" fixed="left" label="ID" align="center" />
      <el-table-column prop="company_name" label="公司" align="center" />
      <el-table-column prop="pro" label="省" align="center" />
      <el-table-column prop="city" label="市" align="center" />
      <el-table-column prop="hospital_name" label="医院" align="center" />
      <el-table-column prop="alias_name" label="医院别名" align="center" />
      <el-table-column prop="addr" label="地址" align="center" />
      <el-table-column prop="tel" label="电话" align="center" />
      <el-table-column prop="created_time" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="24">
              <el-button v-permission="'hospital:list:copy'" type="primary" size="mini" @click="copy(row.yyid)">复制新建</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <Pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="复制新建" :visible.sync="copy_view" width="60%">
      <el-row>
        <el-form
          ref="copy_data"
          label-position="right"
          :model="copy_data"
          label-width="60px"
          class="demo-ruleForm"
          size="small"
        >
          <el-form-item
            label="公司"
            prop="company_yyid"
            :rules="[
              { required: true, message: '请选择公司', trigger: 'change' }
            ]"
          >
            <el-select v-model="copy_data.company_yyid" placeholder="请选择公司">
              <el-option
                v-for="item in companyList"
                :key="item.yyid"
                :label="item.name"
                :value="item.yyid"
              />
            </el-select>
          </el-form-item>
          <el-form-item style="margin-top: 50px;">
            <el-button type="primary" @click="copySet('copy_data')">确认</el-button>
            <el-button @click="copy_view=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as hospitalApi from '@/api/hospital/hospital'

export default {
  name: 'HospitalList',
  components: { Pagination },
  data() {
    return {
      query: {
        company_name: '',
        hospital_name: '',
        page: 1,
        page_size: 20
      },
      loading: false,
      dataList: [],
      total: 0,
      copy_view: false,
      copy_data: {
        company_yyid: ''
      },
      companyList: [],
      current_yyid: ''
    }
  },
  created() {
    this.search()
  },

  methods: {
    search() {
      this.loading = true
      hospitalApi.hospitalList(this.query).then(response => {
        this.dataList = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    copy(yyid) {
      this.copy_data.company_yyid = ''
      this.current_yyid = yyid
      hospitalApi.company().then(response => {
        this.companyList = response.data
      }).catch(() => {})
      this.copy_view = true
    },

    copySet() {
      var q = {
        hospital_yyid: this.current_yyid,
        company_yyid: this.copy_data.company_yyid
      }
      hospitalApi.copy(q).then(response => {
        this.copy_view = false
        this.operationMsg('复制成功！', 'success')
        this.search()
      }).catch(() => {})
    },

    queryReset() {
      this.query = {
        company_name: '',
        hospital_name: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
