<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="计划名称">
            <el-input v-model="query.name" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'learn:plan:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'learn:plan:add'" type="primary" class="newbutton" @click="showDiolog">添加计划</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <el-table-column prop="name" label="计划名称" align="left" />
      <el-table-column prop="company" label="所属公司" align="left" />
      <el-table-column prop="" label="计划时间" width="180" align="center">
        <template slot-scope="{row}">
          <div v-if="row.date_type == 1">{{ row.dt_on }} - {{ row.dt_off }}</div>
          <div v-if="row.date_type == 2">{{ row.dt_off }}</div>
          <div v-if="row.date_type == 3">{{ row.dt_on }} - {{ row.dt_off }}</div>
        </template>
      </el-table-column>
      <el-table-column prop="num" label="资料数量" align="center" />
      <!-- learn:close:plans 关闭计划 -->
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-if="row.status == 0" v-permission="'learn:close:plans'" type="primary" size="mini" @click="check_st(row.id, row.status)">开启</el-button>
              <el-button v-if="row.status == 1" v-permission="'learn:close:plans'" type="primary" size="mini" @click="check_st(row.id, row.status)">关闭</el-button>
            </el-col>

            <el-col :span="8">
              <el-button v-permission="'learn:plan:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>

            <el-col :span="8">
              <el-button v-permission="'learn:power:plans'" type="primary" size="mini" @click="KnowledgePermission(row)">分配权限</el-button>
            </el-col>

            <el-col :span="8">
              <el-button v-permission="'learn:plan:distributionafter'" type="primary" size="mini" @click="dstributionAfter(row.id)">分配详情</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="所属公司"
              style="background-color:#00dddd"
            >
              <span> {{ company_name }} </span>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="计划名称"
              prop="name"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.name" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="时间类型"
              prop="date_type"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.date_type" :disabled="disabled_status" placeholder="请选择类型" @change="typeChange">
                <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="formData.date_type == 1 || formData.date_type == 2">
          <el-col v-show="formData.date_type == 1" :span="9">
            <el-form-item
              label="入职后（天）"
              prop="dt_on1"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.dt_on1" :disabled="disabled_status" placeholder="请输入" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item
              label="计划时长（天）"
              prop="dt_on2"
              :rules="[
                { required: true, message: '时长', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.dt_on2" :disabled="disabled_status" placeholder="请输入" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="formData.date_type == 3">
          <el-col :span="9">
            <el-form-item
              label="开始时间"
              prop="dt_on"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-date-picker v-model="formData.dt_on" :disabled="disabled_status" type="datetime" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item
              label="结束时间"
              prop="dt_off"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-date-picker v-model="formData.dt_off" :disabled="disabled_status" type="datetime" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联资料"
              prop="product"
              :rules="[
                { required: true, message: '请至少关联一份资料', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.material_ids" collapse-tags filterable multiple placeholder="请选择" @change="onSelectedMaterial">
                <el-option
                  v-for="item in material"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <li v-for="(item,index) in materialList" :key="index" style="margin: 10px 0 0 60px;list-style: none;" @click="delCheckedMaterialId(item.id)">
          <i class="el-icon-circle-close"> {{ item.value }} </i>
        </li>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="描述"
              prop="describe"
              :rules="[
                { required: true, message: '请输入描述', trigger: 'blur' }
              ]"
            >
              <el-input
                v-model="formData.describe"
                type="textarea"
                :rows="4"
                placeholder="请输入描述"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="状态"
            >
              <el-switch
                v-model="formData.status"
                active-text="开启"
                inactive-text="关闭"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item
          label="考试关联"
          :rules="[
            { required: true, message: '请至少关联一份资料', trigger: 'blur' }
          ]"
        >
          <el-radio v-model="formData.relation_exam" label="1" @change="relationExamChange">关联考试</el-radio>
          <el-radio v-model="formData.relation_exam" label="2" @change="relationExamChange">不关联</el-radio>
        </el-form-item>

        <el-row v-if="formData.relation_exam == 1">
          <el-col :span="22">
            <el-form-item
              label="关联考试"
              prop="product"
              :rules="[
                { required: true, message: '请关联考试', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.exam_id" collapse-tags filterable placeholder="请选择">
                <el-option
                  v-for="item in examList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="formData.date_type != 4">
          <el-col :span="22">
            <el-form-item
              label="发送节点"
              prop="product"
              :rules="[
                { message: '请选择发送节点', trigger: 'blur' }
              ]"
            >
              <el-checkbox v-show="send_one_day_status" v-model="formData.one_day" label="学习计划第一天" :disabled="disabled_status" />
              <el-checkbox v-show="send_node_status" v-model="formData.last_day" label="学习计划最后天" :disabled="disabled_status" />
              <el-checkbox v-show="send_node_status" v-model="formData.node_one" label="1" :disabled="disabled_status">
                学习计划第 <input v-model="formData.node_one_days" :disabled="disabled_status" type="number"> 天
              </el-checkbox>
              <el-checkbox v-show="send_node_status" v-model="formData.node_two" label="2" :disabled="disabled_status">
                学习计划第 <input v-model="formData.node_two_days" :disabled="disabled_status" type="number"> 天
              </el-checkbox>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="发送人员"
              prop="product"
              :rules="[
                { message: '请选择发送人员', trigger: 'blur' }
              ]"
            >
              <el-checkbox v-model="formData.send_student" label="学员" />
              <el-checkbox v-model="formData.send_leader" label="上级主管" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="editClose">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <learnd-dstribution-after
      v-if="LearndDstributionAfterDialog"
      :open="LearndDstributionAfterDialog"
      :learn-data="learn"
      :plan_info="learn"
      @dstributionAfterClose="LearndDstributionAfterClose"
    />

    <permission-assignment-learn
      :poser-dialog="poserDialog"
      :lid="lid"
      :select_val="select_val"
      :pro_checkeds="pro_checkeds"
      :pord="pord"
      :dept="dept"
      :company_name="company_name"
      :permission-data="permissionData"
      @poserDialogVisibleClose="poserDialogVisibleClose"
    />
  </div>
</template>

<script>
import * as alearnApi from '@/api/learning/learn'
import Pagination from '@/components/Pagination'
import LearndDstributionAfter from '@/components/LearningPlan/dstributionAfter'
import PermissionAssignmentLearn from '@/components/Knowledge/PermissionAssignmentLearn'

export default {
  name: 'Learn',
  components: { Pagination, LearndDstributionAfter, PermissionAssignmentLearn },
  data() {
    return {
      loading: false,
      formData: {
        id: '',
        date_type: 1,
        status: true,
        name: '',
        describe: '',
        material_ids: [],
        dt_on: '',
        dt_off: '',
        dt_on1: '',
        dt_on2: '',
        relation_exam: '2',
        exam_id: '',
        one_day: false,
        last_day: false,
        node_one: false,
        node_two: false,
        node_one_days: '',
        node_two_days: '',
        send_student: true,
        send_leader: true
      },
      query: {
        page: 1,
        page_size: 20,
        name: ''
      },
      material: [],
      materialList: [],
      types: [
        { id: 1, title: '固定时长（自动）' },
        { id: 2, title: '固定时长（手动）' },
        { id: 3, title: '固定时间' },
        { id: 4, title: '无限时间' }
      ],
      company_name: '',
      list: [],
      total: 0,
      dialogVisible: false,
      dialogVisiblePic: false,
      // 分配后详情
      LearndDstributionAfterDialog: false,
      learn: {
        lid: ''
      },

      // 权限
      poserDialog: false,
      permissionData: [],
      lid: 0,
      select_val: [],
      pro_checkeds: [],
      pord: false,
      dept: false,
      disabled_status: false,
      examList: [],
      send_node_status: true,
      send_one_day_status: true
    }
  },

  created() {
    this.getMaterial()
    this.search()
  },

  methods: {

    // 关联考试切换
    relationExamChange(exam_type) {
      if (exam_type == 1) {
        this.getExamList(this.formData.date_type)
      } else {
        this.formData.exam_id = ''
      }
    },

    // 获取考试列表
    getExamList() {
      this.loading = true
      alearnApi.getExamList(this.formData.date_type).then(response => {
        this.examList = response.data
        this.loading = false
      }).catch(() => {})
    },

    // 时间类型
    typeChange(v) {
      if (v == 1) {
        this.date_type = ''
        this.send_node_status = this.send_one_day_status = true
      } else if (v == 2) {
        this.send_one_day_status = false
        this.send_node_status = true
      } else if (v == 3) {
        this.send_node_status = this.send_one_day_status = true
      } else if (v == 4) {
        this.send_node_status = this.send_one_day_status = false
      }
      this.formData.exam_id = ''
      this.getExamList()
    },

    onSelectedMaterial(val) {
      this.materialList = this.material.filter((ele) => {
        return val.some(function check(index) { return index === ele.id })
      })
    },
    delCheckedMaterialId(articleId) {
      this.formData.material_ids = this.formData.material_ids.filter((art) => {
        return articleId !== art
      })

      this.materialList = this.materialList.filter((art_t) => {
        return articleId !== art_t.id
      })
    },

    // 获取资料
    getMaterial() {
      alearnApi.dt_list().then(response => {
        this.material = response.data
        console.log(response.data)
      }).catch(() => {})
    },

    // 修改状态
    check_st(id, status) {
      this.$confirm('是否切换状态', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        alearnApi.check_st({ 'id': id, 'status': status }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('切换成功', 'success')
            this.dialogVisible = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },
    search() {
      this.loading = true
      alearnApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.company_name = response.data.company_name
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    editClose() {
      this.close()
    },

    close() {
      this.formData = {
        name: '',
        date_type: 1,
        relation_exam: '2',
        exam_id: '',
        one_day: false,
        last_day: false,
        node_one: false,
        node_two: false,
        node_one_days: '',
        node_two_days: '',
        send_student: false,
        send_leader: false
      }
      this.material_ids = []
      this.materialList = []
      this.dialogVisible = false
    },

    detail(id) {
      alearnApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.disabled_status = true
          this.formData = response.data.info
          this.examList = response.data.exam_list
          this.materialList = response.data['materialList']
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    showPic(id) {
      alearnApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.dialogVisiblePic = true
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.name) {
        this.operationMsg('计划名称不可空', 'error')
        return
      }

      if (this.formData.date_type == 1) {
        if (!this.formData.dt_on1 || !this.formData.dt_on2) {
          this.operationMsg('时间不可空', 'error')
          return
        }
      } else if (this.formData.date_type == 2) {
        if (!this.formData.dt_on2) {
          this.operationMsg('时间不可空', 'error')
          return
        }
      } else if (this.formData.date_type == 3) {
        if (!this.formData.dt_on || !this.formData.dt_off) {
          this.operationMsg('时间不可空', 'error')
          return
        }
      }

      if (this.formData.material_ids.length <= 0) {
        this.operationMsg('资料不可空', 'error')
        return
      }

      if (!this.formData.describe) {
        this.operationMsg('描述不可空', 'error')
        return
      }

      if (this.formData.relation_exam == 1 && !this.formData.exam_id) {
        this.operationMsg('关联考试不可为空', 'error')
        return
      }

      if (this.formData.node_one && !this.formData.node_one_days) {
        this.operationMsg('推送节点1不可为空或等于0', 'error')
        return
      }

      if (this.formData.node_two && !this.formData.node_two_days) {
        this.operationMsg('推送节点2不可为空或等于0', 'error')
        return
      }
      console.log(this.formData)
      // return false
      alearnApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.date_type = 1
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        alearnApi.deleted({ id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        name: '',
        date_type: 1
      }
      this.formData.date_type = 1
      this.disabled_status = false
    },

    // 分配后详情
    dstributionAfter(lid, uid) {
      this.learn.lid = lid
      this.LearndDstributionAfterDialog = true
    },

    LearndDstributionAfterClose() {
      this.LearndDstributionAfterDialog = false
    },

    // 权限分配
    KnowledgePermission(row) {
      this.getDepartmentsUsersDetail(row.id)
    },

    getDepartmentsUsersDetail(id) {
      this.loading = true
      alearnApi.getDepartmentsUsersDetail(id).then(response => {
        this.loading = false
        if (response.code === 20000) {
          this.select_val = response.data.select_val
          this.pro_checkeds = response.data.pro_checkeds
          this.pord = response.data.pord
          this.dept = response.data.dept
          this.poserDialog = true
          this.lid = id
        }
      }).catch(() => {})
    },

    poserDialogVisibleClose() {
      this.poserDialog = false
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
