<template>
  <el-form :model="staticFieldsForm" label-width="100px" class="demo-dynamic">
    <el-form-item
      v-for="(item, index) in staticFieldsForm.staticFields"
      :key="index"
      :prop="'staticFields.'+index+'.value'"
      :label="'字段'+(index + 1)"
    >
      <el-input v-model="item.value" style="width: 80%" disabled />
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'SheetCommon',
  props: {

  },
  data() {
    return {
      staticFieldsForm: {
        staticFields: [
          { value: '真实姓名' },
          { value: '所在医院' },
          { value: '所在科室' },
          { value: '级别' },
          { value: '职称' },
          { value: '手机号码' }
        ]
      }
    }
  },
  methods: {

  }
}
</script>

<style>

</style>
