<template>
    <el-row :gutter="10" style="padding:0px;">
        <el-col :span="22">
            <el-select
                :disabled="disabled"
                v-model="getSelectId"
                filterable
                remote
                reserve-keyword
                :remote-method="searchValidGroup"
                @change="change"
                :loading="loadingGroups">
                    <el-option
                    v-for="item in getGroupList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                    </el-option>
            </el-select>
        </el-col>
    </el-row>
</template>
<script>
import { mapGetters, mapActions, mapMutations, mapState } from 'vuex'
import { getDefaultGroup, searchPlatformGroups, getGroupInfo } from '@/api/point/group'
export default {
    name: 'PointGroupSelector',
    props: {
        'disabled': Boolean,
        'mark': String
    },
    data: function() {
        return {
            query: {
                keywords: '',
                limit: 5
            },
            id: 0,
            list: [],
            loadingGroups: false,
            point_mark: 'common'
        }
    },
    mounted: function() {
        this.$data.point_mark = this.mark ? this.mark : 'common'
    },
    methods: {
        ...mapActions( "pointGroup", [
            'searchGroups'
        ]),
        ...mapMutations('pointGroup', [
            'SET_ID'
        ]),
        change(id) {
            this.$emit("change", id, this.$data.point_mark)
        },
        searchValidGroup(cb) {
            this.searchGroups({
                cb: cb,
                mark: this.$data.point_mark
            })
        },
        getRealList(list) {
            return list[this.$data.point_mark] ? list[this.$data.point_mark] : []
        } 
    },
    computed: {
        ...mapGetters('pointGroup', [
            'getList',
            'getId'
        ]),
       getGroupList() {
            return this.getList[this.$data.point_mark]
       },
        getSelectId: {
            get: function() {
                return this.getId[this.$data.point_mark]
            },
            set: function(val) {
                this.SET_ID({
                    id: val,
                    mark: this.$data.point_mark
                })
            }
        }
    },

}
</script>
