<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="选择年">
            <el-date-picker
              v-model="query.year"
              style="width: 100%;"
              type="year"
              placeholder="选择年"
              format="yyyy年"
              value-format="yyyy"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="省份">
            <el-select
              v-model="query.province_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.province"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="科室">
            <el-select
              v-model="query.depart_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in departList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="产品">
            <el-select
              v-model="query.product_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in productList"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="区域">
            <el-select
              v-model="query.location_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in locationList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目类型">
            <el-select
              v-model="query.type1"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types1"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目名称">
            <el-select
              v-model="query.type2"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types2"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>

    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'liveSummary:meetingPlan:add'" type="primary" class="newbutton" @click="showDiolog">添加新计划</el-button>
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="list"
      row-key="id"
      highlight-current-row
      stripe
      border
      style="width: 100%"
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
      <el-table-column prop="id" label="ID" width="100" align="center" />
      <el-table-column prop="num" label="计划场次" align="center" />
      <el-table-column prop="year_par" label="年份" align="center" />
      <el-table-column prop="month_id" label="月份" align="center" />
      <el-table-column prop="area" label="大区" align="center" />
      <el-table-column prop="province" label="省份" align="center" />
      <el-table-column prop="depart" label="科室" align="center" />
      <el-table-column prop="product" label="产品" align="center" />
      <el-table-column prop="location" label="区域" align="center">
        <template slot-scope="{row}">
          <template v-if="row.location_id==1">区域</template>
          <template v-if="row.location_id==2">中央</template>
        </template>
      </el-table-column>
      <el-table-column prop="type1_title" label="项目类型" align="center" />
      <el-table-column prop="type2_title" label="项目名称" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="200" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'liveSummary:meetingPlan:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'liveSummary:meetingPlan:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>

    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <!-- form 表单 新增/修改 START -->
    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="计划场次"
              prop="num"
              :rules="[
                { required: true, message: '请输入计划场次', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.num" placeholder="请输入计划场次" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择年份"
              prop="year_par"
              :rules="[
                { required: true, message: '必须关联年份', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="formData.year_par"
                type="year"
                placeholder="选择年"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择月份"
              prop="month_id"
              :rules="[
                { required: true, message: '必须关联月份', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.month_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in monthList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择大区"
              prop="area_id"
              :rules="[
                { required: true, message: '必须选择大区', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.area_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in areaList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择省份"
              prop="province_id"
              :rules="[
                { required: true, message: '必须关联省份', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.province_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in provinceListForm"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择科室"
              prop="depart_id"
              :rules="[
                { required: true, message: '必须关联科室', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.depart_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in departList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择产品"
              prop="product_id"
              :rules="[
                { required: true, message: '必须选择产品', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.product_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in productList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择区域"
              prop="location_id"
              :rules="[
                { required: true, message: '必须选择区域', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.location_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in locationList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择类型"
              prop="type1"
              :rules="[
                { required: true, message: '必须选择类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type1" filterable placeholder="请选择">
                <el-option
                  v-for="item in types1"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择名称"
              prop="type2"
              :rules="[
                { required: true, message: '必须选择名称', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type2" filterable placeholder="请选择">
                <el-option
                  v-for="item in types2Form"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->
  </div>
</template>

<script>
import * as meetingPlan from '@/api/live/meetingPlan'
import Pagination from '@/components/Pagination'
import * as liveApi from '@/api/live/live'
import * as summaryApi from '@/api/live/liveSummary'

export default {
  name: 'MeetingPlan',
  components: { Pagination },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        year: '',
        month_id: [],
        area_id: [],
        province_id: [],
        depart_id: [],
        product_id: [],
        location_id: [],
        type1: [],
        type2: [],
        page: 1,
        page_size: 20,
      },
      total: 0,
      dialogVisible: false,
      monthList: summaryApi.monthList,
      areaList: [],
      provinceList: [],
      departList: [],
      productList: [],
      locationList: [
        { id: 2, value: '中央' },
        { id: 1, value: '区域' },
      ],
      types1: [],
      types2: [],
      formData: {
        id: 0,
        num: '',
        year_par: '',
        month_id: '',
        area_id: '',
        province_id: '',
        depart_id: '',
        product_id: '',
        location_id: '',
        type1: '',
        type2: ''
      },
      provinceListForm: [],
      types2Form: []
    }
  },
  created() {
    this.getYear()
    this.getArea()
    this.getDepart()
    this.getProducts()
    this.getType1()
    this.search()
  },
  watch: {
    'query.area_id'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        meetingPlan.getProvince({ area_id: newVal }).then(response => {
          this.provinceList = response.data
        }).catch(() => {})
      }
    },
    'query.type1'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        meetingPlan.getType2({ type1_id: newVal }).then(response => {
          this.types2 = response.data
        }).catch(() => {})
      }
    },
    'formData.area_id'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null) {
        liveApi.getProvince(newVal).then(response => {
          this.provinceListForm = response.data
        }).catch(() => {})
      }
    },
    'formData.type1'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null) {
        liveApi.getType2(newVal).then(response => {
          this.types2Form = response.data
        }).catch(() => {})
      }
    },
  },
  methods: {
    getYear() {
      var date = new Date()
      this.query.year = date.getFullYear().toString()
    },

    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    getDepart() {
      liveApi.getDepart().then(response => {
        if (response.code === 20000) {
          this.departList = response.data
        }
      }).catch(() => {})
    },

    getProducts() {
      liveApi.product().then(response => {
        if (response.code === 20000) {
          this.productList = response.data
        }
      }).catch(() => {})
    },

    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    search() {
      // return
      meetingPlan.meetingPlanList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.formData = {
        id: 0,
        num: '',
        year_par: '',
        month_id: '',
        area_id: '',
        province_id: '',
        depart_id: '',
        product_id: '',
        location_id: '',
        type1: '',
        type2: ''
      }
      this.dialogVisible = true
    },

    detail(id) {
      meetingPlan.meetingPlanDetail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      meetingPlan.meetingPlanEdit(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        meetingPlan.meetingPlanDel({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    queryReset() {
      this.query = {
        year: '',
        month_id: [],
        area_id: [],
        province_id: [],
        depart_id: [],
        product_id: [],
        location_id: [],
        type1: [],
        type2: [],
        page: 1,
        page_size: 20,
      }
      this.getYear()
    },

    close() {
      this.dialogVisible = false
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
