<template>
  <div class="app-container">
    <el-form :inline="true" class="demo-form-inline">
      <el-form-item label="所属公司">
        <el-autocomplete
          v-model="companyName"
          class="inline-input"
          :fetch-suggestions="querySearch"
          placeholder="请输入所属公司名称"
          @select="handleSelect"
        />
      </el-form-item>
      <el-form-item label="执行时间">
        <el-date-picker
          v-model="ex_time"
          type="datetime"
          placeholder="选择日期时间"
          format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
      </el-form-item>
    </el-form>

    <el-upload
      ref="upload"
      class="upload-demo"
      action="#"
      :auto-upload="true"
      :on-error="uploadError"
      :before-upload="beforeUploadForm"
      :http-request="importUpload"
    >
      <el-button slot="trigger" v-permission="'import:relationship:store'" size="small" type="primary">点击上传</el-button>
    </el-upload>

    <el-progress
      v-show="progressShow"
      :text-inside="true"
      :stroke-width="24"
      :percentage="progressPercent"
      status="success"
    />

    <i v-show="loading" class="el-icon-loading loadingIcon" />

    <el-alert
      v-for="(item, index) in alertText"
      v-show="alertShow"
      :key="index"
      class="alertText"
      :title="item"
      :type="alertType"
      show-icon
    />

    <el-button style="margin-top: 30px;cursor: pointer;" type="text" @click="getMissionList">刷新</el-button>
    <el-table :data="missionList" stripe border style="width: 100%;">
      <el-table-column prop="id" label="任务ID" width="80" align="center"></el-table-column>
      <el-table-column prop="type_title" label="任务类型" align="center"></el-table-column>
      <el-table-column prop="company" label="所属公司" align="center"></el-table-column>
      <el-table-column prop="execute_time" label="执行时间" align="center"></el-table-column>
      <el-table-column prop="execute_map" label="缓存文件名" align="center"></el-table-column>
      <el-table-column prop="execute_count" label="表格数据量" align="center"></el-table-column>
      <el-table-column prop="complete_state" label="完成状态" align="center">
        <template slot-scope="{row}">
          <div
            :class="{ publishstatus:row.complete_state==0, complatestatus:row.complete_state==1, doing:row.complete_state==2, fail:row.complete_state==3 }"
          >
            <template v-if="row.complete_state==0">未开始</template>
            <template v-if="row.complete_state==1">已完成</template>
            <template v-if="row.complete_state==2">进行中</template>
            <template v-if="row.complete_state==3">失败了</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="task_comment" label="错误备注" align="center">
        <template slot-scope="{row}">
          <el-button size="mini" @click="showErr(row)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="complete_count" label="处理数据量" align="center"></el-table-column>
      <el-table-column prop="admin" label="创建人" align="center"></el-table-column>
      <el-table-column prop="created_at" label="创建时间" align="center"></el-table-column>
      <el-table-column prop="complete_state" label="是否有效" align="center">
        <template slot-scope="{row}">
          <div
            :class="{ publishstatus:row.status==1, outstatus:row.status==2 }"
          >
            <template v-if="row.status==1">有效</template>
            <template v-if="row.status==2">无效</template>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getMissionList" />

    <el-dialog
      title="错误备注"
      :visible.sync="dialogVisible"
      width="30%">
      <span>{{ missionErr }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getCompany } from '@/api/import/import'
import * as importReApi from '@/api/pharmacy/store_relationship'
import * as importApi from '@/api/import/import'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'

export default {
  name: 'StoreRelationship',
  components: { Pagination },
  data() {
    return {
      query: {
        type_id: 13,
        page: 1,
        page_size: 20
      },
      ex_time: '',  //定时时间
      loading: false,
      alertShow: false, // 提示显示
      alertText: [], // 提示内容
      alertType: 'error', // 提示样式
      progressShow: false, // 进度条显示
      progressPercent: 0, // 进度条百分比
      companyYyid: '', // 公司yyid
      companyName: '', // 公司名称
      companyList: [], // 公司名称列表
      missionList: [],
      total: 0,
      count: 0,
      dialogVisible: false,
      missionErr: ''
    }
  },
  created() {
    this.getCompany()
    this.getMissionList()
  },
  methods: {
    getCompany() {
      getCompany().then(response => {
        if (response.code == 20000) {
          this.companyList = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.companyList
      var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // 调用 callback 返回建议列表的数据
      cb(results)
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelect(item) {
      this.companyYyid = item.yyid
    },

    beforeUploadForm(file) {
      this.loading = false
      this.alertText = []
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0

      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName != 'xls' && extName != 'xlsx' && extName != 'csv') {
        this.alertText = ['上传文件只能是 xls、xlsx或csv格式']
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < importApi.fileSize
      if (!isLt1M) {
        this.alertText = ['上传文件大小不能超过 ' + importApi.fileSize + 'MB']
        this.alertType = 'error'
        this.alertShow = true
        return false
      }
    },

    importUpload(file) {
      var that = this
      that.loading = true
      that.progressShow = true
      var t = setInterval(function() {
        if (that.progressPercent == 90) {
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300)

      const fd = new FormData()
      fd.append('companyYyid', this.companyYyid)
      fd.append('file', file.file)
      fd.append('type', this.query.type_id)
      fd.append('time', this.ex_time)

      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(importReApi.storeRelationship, fd).then(function(response) {
        setTimeout(function() {
          if (response.data.code == 20000) {
            that.progressPercent = 100
            if (response.data.data.task_id == -1) {
              that.alertText = response.data.data.msg
              that.alertType = 'error'
            } else {
              that.alertText = ['导入任务已生成，ID为' + response.data.data.task_id]
              that.alertType = 'success'
            }
          } else {
            that.alertText = [response.data.msg]
            that.alertType = 'error'
          }
          that.loading = false
          that.alertShow = true
          that.getMissionList()
        }, 3000)
      })
    },

    uploadError() {
      this.alertType = 'error'
      this.alertText = ['上传失败']
    },

    getMissionList() {
      var that = this
      axios.defaults.headers.common["Authorization"] = getToken()
      axios.post(importApi.getImportTask, this.query).then(function (response) {
        if(response.data.code==20000) {
          that.missionList = response.data.data.list
          that.total = response.data.data.total
        }
      }).catch(function (error) {
        console.log(error);
      })
    },

    showErr(row) {
      this.dialogVisible = true
      this.missionErr = row.task_comment
    }

  }
}
</script>

<style scoped>
.tips {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding-top: 10px;
}
.el-upload__tip {
  margin-left: 0!important;
}
.alertText {
  margin-top: 15px;
}
.loadingIcon{
  margin-top: 15px;
}
.inline-input{
  width: 300px;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
.publishstatus {
  color: #1890ff;
}
.outstatus {
  color: #e64242;
}
.complatestatus {
  color: darkseagreen;
}
.doing {
  color: #e64242;
}
.fail {
  color: red;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
</style>
