<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="2" style="margin-bottom: 10px;">
        <el-button v-permission="'information:mt:add'" type="primary" class="newbutton" @click="showDiolog">新增</el-button>
      </el-col>
    </el-row>

    <el-tabs v-model="activeName" type="card" @tab-click="typeSearch">
      <el-tab-pane
        v-for="item in informationType"
        :key="item.id"
        :label="item.value"
        :name="item.value"
      >
        <el-table
          v-loading="loading"
          :data="list"
          row-key="id"
          highlight-current-row
          stripe
          border
          style="width: 100%"
        >
          <el-table-column prop="id" label="ID" width="100" align="left" />
          <el-table-column prop="title" label="标题" align="left" />
          <el-table-column prop="type_name" label="分类名称" align="left" />
          <el-table-column prop="img" label="图片" width="180" align="center">
            <template slot-scope="{row}">
              <el-image :src="row.img" fit="contain" />
            </template>
          </el-table-column>
          <el-table-column prop="created_admin" label="创建人" align="center" />
          <el-table-column prop="created_at" label="创建时间" align="center" />

          <el-table-column prop="" label="操作" width="200" align="center">
            <template slot-scope="{row}">
              <el-row>
                <el-col :span="12">
                  <el-button v-permission="'information:mt:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
                </el-col>
                <el-col :span="12">
                  <el-button v-permission="'information:mt:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
                </el-col>
              </el-row>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
      </el-tab-pane>
    </el-tabs>

    <!-- form 表单 新增/修改 START -->
    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="指南名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入指南名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入指南名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联文章"
              prop="product"
              :rules="[
                { required: true, message: '请至少关联一篇文章', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.article_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in articleOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11">
            <el-form-item
              label="列表图片"
              prop="guide_img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.guide_img"
                :upload-data="uploadData"
                :sign="sign.guideInterpretation"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="9">
            <el-form-item
              label="推送时间"
              prop="date_time"
            >
              <el-date-picker v-model="formData.date_time" type="date" placeholder="选择日期" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联资讯类型"
              prop="product"
              :rules="[
                { required: true, message: '请至少关联一个资讯类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.information_type_ids" collapse-tags filterable multiple placeholder="请选择" @change="onSelectedInformationType">
                <el-option
                  v-for="item in informationType"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <li v-for="(item,index) in informationTypeList" :key="index" class="informationTypeList" style="margin: 10px 0 0 60px;list-style: none;" @click="delCheckedinformationTypeId(item.id)">
          <i class="el-icon-circle-close"> {{ item.value }} </i>
        </li>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->
  </div>
</template>

<script>
import * as informationMtApi from '@/api/informationMt/informationMt'
import * as commonApi from '@/api/common/common'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'

export default {
  name: 'Guide',
  components: { Pagination, ImgUpload },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        page: 1,
        page_size: 20,
        tid: 0
      },
      formData: {
        id: 0,
        guide_img: [],
        title: '',
        article_id: [],
        information_type_ids: [],
        date_time: ''
      },
      total: 0,
      dialogVisible: false,
      articleOptions: [],
      detailVisible: false,
      // 七牛云上传
      sign: {
        guideInterpretation: 'guideInterpretation'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      informationType: [],
      informationTypeList: [],
      activeName: ''
    }
  },

  // mounted() {
  //   console.log(123123)
  //     // 初始化
  //     var date = new Date();
  //     let dtime = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate())
  //     console.log(date)
  //     this.formData.date_time = date
  // },
  created() {
    this.getInformationType()
    this.articleForSelect()
    this.getToken()
    var that = this
    setTimeout(function() {
      that.search()
    }, 1000)
    this.formData.date_time = new Date()
  },
  methods: {
    typeSearch() {
      this.query.page = 1
      this.search()
    },

    onSelectedInformationType(val) {
      this.informationTypeList = this.informationType.filter((ele) => {
        return val.some(function check(index) { return index === ele.id })
      })
    },

    delCheckedinformationTypeId(articleId) {
      this.formData.information_type_ids = this.formData.information_type_ids.filter((art) => {
        return articleId !== art
      })

      this.informationTypeList = this.informationTypeList.filter((art_t) => {
        return articleId !== art_t.id
      })
    },

    setImg(data) {
      this.formData.guide_img = data.imgList
      console.log(data.imgList)
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    submit() {
      console.log(this.formData)
      informationMtApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      informationMtApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.informationTypeList = response.data['informationTypeList']
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        informationMtApi.deleted({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    reset() {
      this.formData = {
        id: 0,
        title: '',
        information_type_ids: []
      }
      this.informationTypeList = []
    },

    close() {
      this.dialogVisible = false
    },

    detailClose() {
      this.detailVisible = false
    },

    search() {
      var tid = 0
      var actName = this.activeName
      this.informationType.forEach(function(item) {
        if (item.value === actName) {
          tid = item.id
        }
      })
      this.query.tid = tid
      informationMtApi.search(this.query.tid, this.query.page, this.query.page_size).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    // 获取文章
    articleForSelect() {
      commonApi.articles().then(response => {
        this.articleOptions = response.data
      }).catch(() => {})
    },

    // 获取资讯类型
    getInformationType() {
      commonApi.informationType().then(response => {
        this.informationType = response.data
        this.activeName = response.data[0].value
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .informationTypeList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
