<template>
     <el-row :gutter="10">
          <el-col :span="22" :offset="1" style="margin-bottom:50px" class="query">
               <!-- 头部搜索  -->
               <el-form ref="form" label-width="80px">
                    <el-form-item label="申请人:">
                         <el-select
                            v-model="query.applicant_id"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入用户名或手机号"
                            :remote-method="queryAgent"
                            :loading="loadingUser">
                                <el-option
                                v-for="item in users"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                                </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="大区:">
                        <el-select v-model="query.zone_id" placeholder="请选择">
                            <el-option
                            v-for="item in zones"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="状态:">
                    <el-select v-model="query.status" placeholder="请选择">
                            <el-option
                            v-for="item in status"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="申请时间:">
                        <el-date-picker
                            v-model="applyTime"
                            type="datetimerange"
                            range-separator="至"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            @change="applyTimeChange"
                           >
                            </el-date-picker>
                    </el-form-item>
                    <el-form-item label="开播时间:">
                        <el-date-picker
                            v-model="meetingTime"
                            type="datetimerange"
                            range-separator="至"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            @change="meetingTimeChange"
                            >
                            </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                         <el-button 
                         type="primary" 
                         @click="searchApply"
                         >搜索</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1">
               <!-- 中间列表 -->
               <el-table
                    v-loading="loading"
                    :data="list"
                    @sort-change="customSort"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="applicant_name"
                         label="申请人"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="applicant_mobile"
                         label="手机号" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="type"
                         label="项目类型">
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="sub_type"
                         label="项目名称">
                    </el-table-column>
                    
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="product_name"
                         label="产品" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="name"
                         label="会议题目" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         sortable="custom"
                         prop="start"
                         class-name="meeting_time"
                         label="会议时间" >
                         <template slot-scope="scope">
                              {{ formatDate(scope.row.start) }}<br/>
                              ～ <br/>
                              {{ formatDate(scope.row.end) }}
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="zone"
                         label="所属大区" />   
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="depart"
                         label="所属科室" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="speaker_count"
                         label="讲者人数" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         style="width:145px;"
                         label="申请时间" >
                         <template slot-scope="scope">
                              {{ formatDate(scope.row.apply_time) }}
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         label="状态" >
                         <template slot-scope="scope">
                              <span v-if="scope.row.status == 1" style="color: #FFAA47;">申请中</span>
                              <span v-if="scope.row.status == 2" style="color: #169BD5;">已通过</span>
                              <span v-if="scope.row.status == 3" style="color: #C63000">已拒绝</span>
                              <span v-if="scope.row.status == 4" style="color: #8c8c8c">已取消</span>
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         width="180"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-row :gutter="10">
                                   <el-col :span="11" 
                                        v-permission="'meeting:apply:audit:success'"
                                        v-if="scope.row.status == 1"
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        >
                                        <el-button 
                                        type="danger"
                                        @click="auditSuccess(scope.row.id)"
                                        >通&nbsp;&nbsp;过</el-button>
                                   </el-col>

                                   <el-col :span="11"
                                        v-permission="'meeting:apply:audit:fail'" 
                                        v-if="scope.row.status == 1"
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        >
                                        <el-button 
                                        type="danger"
                                        @click="prefAuditFail(scope.row.id)"
                                        >拒&nbsp;&nbsp;绝</el-button>
                                   </el-col>
                                   <el-col 
                                        v-permission="'meeting:apply:view'"
                                        :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        >
                                        <el-button 
                                             type="primary"
                                             @click="$router.push({name: 'MeetingApplyDetail', query:{id: scope.row.id}});"     
                                        >详&nbsp;&nbsp;情</el-button>
                                   </el-col>
                              </el-row>
                              
                              
                              
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
          <el-col :span="22" :offset="1" class="page">
               <!-- 底部分页 -->
               <el-pagination
                    background
                    layout="prev, pager, next"
                    :current-page="page.current"
                    :page-size="page.size"
                    :total="page.total"
                    @current-change="current"
                    >
               </el-pagination>
          </el-col>
         <el-col :span="22" :offset="1">
          <el-dialog title="拒绝理由" :visible.sync="rejecting">
               <el-form>
               <el-form-item>
                    <el-input
                         type="textarea"
                         :rows="3"
                         placeholder="请输入拒绝理由"
                         v-model="reason">
                    </el-input>

               </el-form-item>
               </el-form>
               <div slot="footer" class="dialog-footer">
               <el-button @click="rejecting = false">取 消</el-button>
               <el-button type="primary" @click="auditFail">确 定</el-button>
               </div>
          </el-dialog>
         </el-col>  
     </el-row>
     
</template>
<script>
import {listApply, audit, detail, getAreas} from '@/api/meeting/apply';
import {search} from '@/api/youyao/user'
import moment from 'moment';
export default {
    data() {
          return {
              list: [],
              page: {
                total: 0,
                pages: 1,
                current: 1,
                size: 10
              },
              query: {
                    applicant_id: 0,
                    zone_id: 0,
                    apply_start: "",
                    apply_end: "",
                    meeting_start: "",
                    meeting_end: "",
                    status: 0,
                    sort_start: 0
              },
              zones: [
                  {
                      id: 0,
                      name: "全部"
                  }
              ],
              status: [
                  {id: 0, name: "全部"},
                  {id: 1, name: "待审核"},
                  {id: 2, name: "已通过"},
                  {id: 3, name: "未通过"},
                  {id: 4, name: "已取消"}
              ],
              users: [
                  {id: 0, name: "全部"}
              ],
              loadingUser: false,
              audit_id: 0,
              rejecting: false,
              reason: "",
              applyTime: [],
              meetingTime: [],
              loading: false

          };
    },
    mounted: function() {
          this.listApplys(1)
          this.refreshZones()
    },
    methods: {
          customSort({column, prop, order}) {
               let orderValue = 0
               if(order == 'ascending') {
                    orderValue = 1
               } else if(order == 'descending') {
                    orderValue = -1
               }
               console.log(prop)
               if(prop == "start") {
                    this.$data.query.sort_start = orderValue
                    this.listApplys(1)
               }
          },
         searchApply() {
              this.listApplys(1)
         },
        listApplys(current = 1) {
            let that = this
            this.$data.loading = true
            listApply(
                this.$data.query.applicant_id,
                this.$data.query.zone_id,
                this.$data.query.apply_start,
                this.$data.query.apply_end,
                this.$data.query.meeting_start,
                this.$data.query.meeting_end,
                this.$data.query.status,
                current,
                this.$data.page.size,
                this.$data.query.sort_start
            ).then(resp => {
                that.$data.list = resp.data.list
                this.$data.page = resp.data.page
                this.$data.loading = false
            }).catch(() => {
               this.$data.loading = false
            })
        },
        applyTimeChange(val) {
          console.log(val)
            if(val && val.length == 2) {
               console.log(111)
                this.$data.query.apply_start = val[0]
                this.$data.query.apply_end = val[1]
            } else {
               console.log(222)
               this.$data.query.apply_start = ""
                this.$data.query.apply_end = ""
            }
            
        },
        meetingTimeChange(val) {
            if(val && val.length == 2) {
                this.$data.query.meeting_start = val[0]
                this.$data.query.meeting_end = val[1]
            } else {
               this.$data.query.meeting_start = ""
               this.$data.query.meeting_end = ""
            }
        },
        queryAgent(cb) {
          this.$data.loadingUser = true
          search(cb, 10)
               .then(resp => {
                    this.$data.users = resp.data.list
                    this.$data.loadingUser = false
               }).catch(reason => {
                    this.$data.loadingUser = false
               })
            console.log(cb)
        },
        refreshZones() {
            getAreas()
                .then(resp => {
                    let zones = [{id: 0, name: "全部"}]
                    resp.data.list.forEach(function(val, idx) {
                        zones.push({id: val.id, name: val.name})
                    })
                    this.$data.zones = zones
                })
        },
        auditSuccess(id) {
          audit(id, true, "")
               .then(resp => {
                    this.notifyOperateSuccess("申请通过操作成功")
                    this.listApplys(this.$data.page.current)
               })
        },
        notifyOperateSuccess: function(msg) {
               this.$notify({
                    title: '操作成功',
                    message: msg,
                    type: 'success'
               })
          },
          prefAuditFail(id) {
               this.$data.audit_id = id;
               this.$data.reason = ""
               this.$data.rejecting = true
          },
          auditFail() {
               if(this.$data.audit_id <= 0 || this.$data.reason == "") {
                    return;
               }
               audit(this.$data.audit_id, false, this.$data.reason)
                    .then(resp => {
                         this.notifyOperateSuccess("申请已拒绝")
                         this.listApplys(this.$data.page.current)
                         this.$data.rejecting = false
                         this.$data.reason = ""
                    })
          },
          current(page) {
               console.log(page)
               this.listApplys(page)
          },
          formatDate(d) {
               return moment(d).format("YYYY/MM/DD HH:mm:ss")
          }
    },
    computed: {

    }
}
</script>
<style scoped>
 .query {
     margin-top: 50px;
}
.page {
     margin-top: 20px;
}
.meeting_time {
     min-width: 145px;
}
</style>