<template>
     <el-row :gutter="10">
        <el-col :span="22" :offset="1">
            <el-descriptions title="会议人员信息" style="margin-top:40px">
                <el-descriptions-item label="申请人">{{ detail.applicant_name }}</el-descriptions-item>
                <el-descriptions-item label="手机号">{{ detail.applicant_mobile }}</el-descriptions-item>
                <el-descriptions-item label="会议管理员">{{ detail.manager }}</el-descriptions-item>
                <el-descriptions-item label="会议主持人">{{ detail.compere }}</el-descriptions-item>
            </el-descriptions>
            <el-descriptions title="会议基本信息" style="margin-top:40px" :column="4">
                <el-descriptions-item label="项目类型">{{ detail.type }}</el-descriptions-item>
                <el-descriptions-item label="项目名称">{{ detail.sub_type }}</el-descriptions-item>
                <el-descriptions-item label="项目分类">项目分类</el-descriptions-item>
                <el-descriptions-item label="产品">{{ detail.product }}</el-descriptions-item>
                <el-descriptions-item label="会议所属科室">{{ detail.depart }}</el-descriptions-item>
                <el-descriptions-item label="会议所属大区">{{ detail.zone }}</el-descriptions-item>
                <el-descriptions-item label="会议所属省份">{{ detail.province }}</el-descriptions-item>
                <el-descriptions-item label="会议所属医院">{{ detail.hospital }}</el-descriptions-item>
                <el-descriptions-item label="会议时间">
                      <el-col v-for="(item, idx) in getTimes" :key="idx" :span="12" style="margin-bottom:5px;">
                        <div>第{{ idx+1 }}场会议</div>
                        <div>{{ item.start }} - {{ item.end }}</div>
                      </el-col>
                </el-descriptions-item>

            </el-descriptions>
            <el-descriptions title="会议基本信息" style="margin-top:40px">
                <el-descriptions-item v-if="detail.chairman != undefined && detail.chairman.length > 0" :span="1">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>会议主席</span>
                        </div>
                        <div class="item">
                            <el-descriptions :column="1">
                                <el-descriptions-item label="主席姓名">{{ detail.chairman.name }}</el-descriptions-item>
                                <el-descriptions-item label="主席医院">{{ detail.chairman.hospital }}</el-descriptions-item>
                                <el-descriptions-item label="主席科室">{{ detail.chairman.depart }}</el-descriptions-item>
                                <el-descriptions-item label="主席级别">{{ detail.chairman.level }}</el-descriptions-item>
                            </el-descriptions>
                        </div>
                    </el-card>
                </el-descriptions-item>

                <el-descriptions-item v-for="(item, idx) in detail.speaker" :span="1" :key="idx">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>会议讲者</span>
                        </div>
                        <div class="item">
                            <el-descriptions :column="1">
                                <el-descriptions-item label="讲者姓名">{{ item.name }}</el-descriptions-item>
                                <el-descriptions-item label="讲者医院">{{ item.hospital }}</el-descriptions-item>
                                <el-descriptions-item label="讲者科室">{{ item.depart }}</el-descriptions-item>
                                <el-descriptions-item label="讲者级别">{{ item.level }}</el-descriptions-item>
                            </el-descriptions>
                        </div>
                    </el-card>
                </el-descriptions-item>
            </el-descriptions>
        </el-col>

     </el-row>
</template>
<script>
import {listApply, audit, detail, getAreas} from '@/api/meeting/apply';
import moment from 'moment';
export default {
    data() {
          return {
              id: 0,
              detail: {
                  times: []
              }
          };
    },
    mounted: function() {
        const applyId = this.$route.query.id
          if (applyId > 0) {
               this.$data.id = applyId
               this.getDetail()
          }
    },
    methods: {
       getDetail() {
           detail(this.$data.id)
            .then(resp => {
                this.$data.detail = resp.data.info
            })
       }
    },
    computed: {
        getTimes() {
            return this.$data.detail.times.map(function(val) {
                
                let item = {
                    start: moment(val.start).format("MM/DD HH:mm"),
                    end: moment(val.start).format("MM/DD HH:mm")
                }

                return item
            });
        }
    }
}
</script>