<template>
  <el-dialog title="优惠券" :visible.sync="couponDialogData.dialogVisible" :before-close="close" width="50%" center>
    <el-form ref="couponForm" :model="couponDialogData.couponForm">
      <div style="margin-bottom: 20px;">
        <el-row>
          <el-col>优惠券信息</el-col>
        </el-row>
      </div>
      <div style="background-color: rgba(247, 247, 247, 1)">
        <el-row style="width: 50%;">
          <el-col :span="24">
            <el-form-item
              label="礼券描述"
              prop="title"
              :rules="[{ required: true, message: '礼券描述', trigger: 'blur' }]"
            >
              <el-input v-model="couponDialogData.couponForm.title" :disabled="!couponDialogData.can_edit" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="width: 50%;">
          <el-col>
            <el-form-item
              label="产品"
              prop="product_id"
              :rules="[{ required: true, message: '选择产品', trigger: 'blur' }]"
            >
              <el-select v-model="couponDialogData.couponForm.product_id" placeholder="请选择" :disabled="!couponDialogData.can_edit">
                <el-option v-for="item in couponDialogData.products" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="width: 50%;">
          <el-col>
            <el-form-item
              label="策略"
              :rules="[{ required: true, message: '选择策略', trigger: 'blur' }]"
            >
              <el-radio-group v-model="couponDialogData.couponForm.policy_type" :disabled="!couponDialogData.can_edit">
                <el-radio :label="1">满减</el-radio>
                <el-radio :label="2">折扣</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="width: 50%;">
          <el-col>
            <el-form-item>
              <el-input v-model="couponDialogData.couponForm.policy_val" :disabled="!couponDialogData.can_edit" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="width: 50%;">
          <el-col>
            <el-form-item
              label="截止时间"
              :rules="[{ required: true, message: '选择截止时间', trigger: 'blur' }]"
            >
              <el-radio-group v-model="couponDialogData.couponForm.deadline_type" :disabled="!couponDialogData.can_edit" @change="changeInput($event)">
                <el-radio :label="1">倒计时</el-radio>
                <el-radio :label="2">固定日期</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="couponDialogData.couponForm.visibleVal == true" style="width: 50%;">
          <el-col :span="24">
            <el-form-item>
              <el-input-number v-model="couponDialogData.couponForm.deadline_val" controls-position="right" :min="0" :disabled="!couponDialogData.can_edit" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="couponDialogData.couponForm.visiblePicker == true" style="width: 50%;">
          <el-col>
            <el-form-item>
              <el-date-picker
                v-model="couponDialogData.couponForm.deadline_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
                value-format="yyyy-MM-dd HH:mm:ss"
                :disabled="!couponDialogData.can_edit"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item
              label="库存属性"
              :rules="[{ required: true, message: '选择库存属性', trigger: 'blur' }]"
            >
              <el-radio-group
                v-model="couponDialogData.couponForm.is_limit"
                :disabled="!couponDialogData.can_edit"
                @change="changeLimit"
              >
                <el-radio :label="0">无限</el-radio>
                <el-radio :label="1">有限</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="couponDialogData.couponForm.visibleTotalNum == true" style="width: 50%;">
          <el-col :span="24">
            <el-form-item>
              <el-input-number
                v-model="couponDialogData.couponForm.total_num"
                controls-position="right"
                :min="0"
                :disabled="!couponDialogData.can_edit"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item
              label="积分兑换"
              :rules="[{ required: true, message: '选择积分兑换', trigger: 'blur' }]"
            >
              <el-radio-group v-model="couponDialogData.couponForm.is_exchange" :disabled="!couponDialogData.can_edit">
                <el-radio :label="0">不允许</el-radio>
                <el-radio :label="1">允许</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <div style="margin-bottom: 20px;margin-top: 20px;">
        <el-row>
          <el-col>适用门店信息</el-col>
        </el-row>
      </div>
      <div style="background-color: rgba(247, 247, 247, 1)">
        <el-row style="width: 50%;">
          <el-col>
            <el-form-item label="连锁" prop="main_store_id">
              <el-select
                v-model="couponDialogData.couponForm.main_store_id"
                placeholder="请选择"
                filterable
                :disabled="!couponDialogData.can_edit"
                @change="changeMainStore"
              >
                <el-option label="全部连锁" value="0" />
                <el-option v-for="item in couponDialogData.main_store_list" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="width: 50%;">
          <el-col>
            <el-form-item label="门店" prop="store_ids">
              <el-select
                v-model="couponDialogData.couponForm.store_ids"
                placeholder="请选择"
                multiple
                collapse-tags
                filterable
                :disabled="!couponDialogData.can_edit"
                @change="changeStore"
              >
                <el-option label="全部门店" value="0" />
                <el-option v-for="item in couponDialogData.store_list" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <li
              v-for="(item,index) in couponDialogData.selected_store_list"
              :key="index"
              class="selectedStoreList"
              style="margin: 3px 0 0 20px;list-style: none;"
              @click="delSelectedStoreList(item.id)"
            >
              <i class="el-icon-circle-close"> {{ item.name }} </i>
            </li>
          </el-col>
        </el-row>
      </div>
    </el-form>
    <div v-if="couponDialogData.can_edit == true" slot="footer" class="dialog-footer">
      <el-button @click="close">取消</el-button>
      <el-button type="primary" @click="submitCoupon('couponForm')">确认提交</el-button>
    </div>
  </el-dialog>
</template>

<script>

import * as storeApi from '@/api/pharmacy/store_gps_list'
import * as CouponApi from '@/api/pharmacy/coupon'

export default {
  name: 'AddCoupon',
  props: {
    couponDialogData: {
      type: Object,
      default: () => {
        return {
          dialogVisible: false,
          products: [],
          main_store_list: [],
          store_list: [],
          selected_store_list: [],
          can_edit: true,
          couponForm: {
            coupon_id: 0,
            title: '',
            product_id: '',
            policy_type: 1,
            policy_val: '',
            deadline_type: 1,
            deadline_val: '',
            deadline_time: '',
            is_limit: 0,
            is_exchange: 0,
            main_store_id: '',
            store_ids: [],
            total_num: 0,
            visiblePicker: false,
            visibleVal: true,
            visibleTotalNum: false
          }
        }
      }
    }
  },
  data: function() {
    return {
    }
  },
  created() {

  },
  methods: {
    initData() {
    },
    getStoreList(main_store_id) {
      storeApi.getStoreList({ main_store_id: main_store_id }).then(response => {
        this.couponDialogData.selected_store_list = []
        this.couponDialogData.couponForm.store_ids = []
        this.couponDialogData.store_list = response.data
      }).catch(() => {})
    },
    submitCoupon() {
      console.log(this.couponDialogData.couponForm)
      const couponInfo = this.couponDialogData.couponForm
      // eslint-disable-next-line no-empty,eqeqeq
      if (couponInfo.title == '') {
        this.$message({
          message: '礼券描述不能为空',
          type: 'error'
        })
        return false
      }
      // eslint-disable-next-line no-empty,eqeqeq
      if (couponInfo.product_id == '') {
        this.$message({
          message: '请选择产品',
          type: 'error'
        })
        return false
      }
      // eslint-disable-next-line eqeqeq
      if (couponInfo.policy_val == '') {
        this.$message({
          message: '请根据类型填写优惠策略',
          type: 'error'
        })
        return false
      }
      // eslint-disable-next-line eqeqeq
      if (couponInfo.deadline_type == 1 && couponInfo.deadline_val < 0) {
        this.$message({
          message: '倒计时不能设置小于0',
          type: 'error'
        })
        return false
      }
      // eslint-disable-next-line eqeqeq
      if (couponInfo.deadline_type == 2 && couponInfo.deadline_time == '') {
        this.$message({
          message: '具体时间不能设置为空',
          type: 'error'
        })
        return false
      }
      // eslint-disable-next-line eqeqeq
      if (couponInfo.is_limit == 1 && couponInfo.total_num <= 0) {
        this.$message({
          message: '有限库存不能设置小于等于0',
          type: 'error'
        })
        return false
      }
      CouponApi.addCoupon(couponInfo).then(response => {
        this.$message({
          message: '添加优惠券成功',
          type: 'success'
        })
        this.close()
        this.$parent.search()
      }).catch(() => {})
    },
    delSelectedStoreList(id) {
      console.log(id)
      this.couponDialogData.couponForm.store_ids =
        this.couponDialogData.couponForm.store_ids.filter((store_id) => {
          return id !== store_id
        })
      this.couponDialogData.selected_store_list = this.couponDialogData.selected_store_list.filter((store) => {
        return id !== store.id
      })
    },
    changeMainStore(main_store_id) {
      console.log(main_store_id)
      this.getStoreList(main_store_id)
    },
    changeStore(val) {
      console.log(val)
      this.couponDialogData.selected_store_list = this.couponDialogData.store_list.filter((ele) => {
        return val.some(function check(index) { return index === ele.id })
      })
    },
    close() {
      const couponDialogData = {
        dialogVisible: false,
        products: this.couponDialogData.products,
        main_store_list: this.couponDialogData.main_store_list,
        store_list: [],
        selected_store_list: [],
        can_edit: true,
        couponForm: {
          coupon_id: 0,
          title: '',
          product_id: '',
          policy_type: 1,
          policy_val: '',
          deadline_type: 1,
          deadline_val: '',
          deadline_time: '',
          is_limit: 0,
          is_exchange: 0,
          main_store_id: '',
          store_ids: [],
          total_num: 0,
          visiblePicker: false,
          visibleVal: true,
          visibleTotalNum: false
        }
      }
      this.$emit('closeCouponDialog', couponDialogData)
    },
    changeInput(event) {
      if (event === 1) {
        this.couponDialogData.couponForm.visibleVal = true
        this.couponDialogData.couponForm.visiblePicker = false
      } else {
        this.couponDialogData.couponForm.visibleVal = false
        this.couponDialogData.couponForm.visiblePicker = true
      }
    },
    changeLimit(event) {
      console.log(event)
      if (event === 1) {
        this.couponDialogData.couponForm.visibleTotalNum = true
      } else {
        this.couponDialogData.couponForm.visibleTotalNum = false
      }
    }
  }
}
</script>

<style scoped>
.selectedStoreList:hover{
  color: red;
}
</style>
