<template>
  <el-dialog title="策略设置" :visible.sync="policyDialogData.dialogVisible" :before-close="close" width="50%">
    <el-row>
      <el-col>
        <table class="table">
          <tr>
            <td class="td header">药店连锁：</td>
            <td class="td2">{{ policyDialogData.main_store_name }}</td>
          </tr>
          <tr>
            <td class="td header">分店名称：</td>
            <td class="td2">{{ policyDialogData.storm_name }}</td>
          </tr>
          <tr>
            <td class="td header">地址：</td>
            <td class="td2">{{ policyDialogData.location }}</td>
          </tr>
          <tr>
            <td class="td header">电话：</td>
            <td class="td2">{{ policyDialogData.phone }}</td>
          </tr>
        </table>
      </el-col>
    </el-row>
    <el-form ref="policyForm" :model="policyDialogData.policyForm">
      <div v-for="(policy, index ) in policyDialogData.policyForm.policyList" :key="index" class="div_policy">
        <el-row>
          <el-col>
            <el-button type="danger" icon="el-icon-delete" circle @click="deletePolicy(index)" />
          </el-col>
        </el-row>
        <el-form-item
          style="margin-top: 20px;"
          label="药品"
          prop="products"
          :rules="[
            { required: true, message: '选择药品', trigger: 'blur' }
          ]"
        >
          <el-checkbox-group v-model="policy.products">
            <el-checkbox v-for="product in policy.product_options" :key="product.yy_product_id" :label="product.yy_product_id">{{ product.product_name }}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-row>
          <el-col>
            <el-form-item
              label="策略"
              :rules="[{ required: true, message: '选择策略', trigger: 'blur' }]"
            >
              <el-radio-group v-model="policy.policy_type">
                <el-radio :label="1">满减</el-radio>
                <el-radio :label="2">折扣</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item style="width: 200px;margin-left: 50px;">
              <el-input v-model="policy.policy_val" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item
              label="截止时间"
              :rules="[{ required: true, message: '选择截止时间', trigger: 'blur' }]"
            >
              <el-radio-group v-model="policy.deadline_type" @change="changeInput($event, index)">
                <el-radio :label="1">倒计时</el-radio>
                <el-radio :label="2">固定日期</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="policy.visibleVal == true">
          <el-col :span="24">
            <el-form-item style="width: 200px;margin-left: 50px;">
              <el-input v-model="policy.deadline_val" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="policy.visiblePicker == true">
          <el-col>
            <el-form-item prop="deadline_time" style="width: 300px;margin-left: 50px;">
              <el-date-picker
                v-model="policy.deadline_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
                value-format="yyyy-MM-dd HH:mm:ss"
              />
            </el-form-item>
          </el-col>
        </el-row>

      </div>
      <el-form-item v-if="policyDialogData.policyForm.product_options_num>0" style="margin-top: 50px;">
        <el-button type="primary" @click="addPolicy">新增配置</el-button>
        <el-button type="primary" @click="setPolicy('policyForm')">确认提交</el-button>
        <el-button @click="close">取消</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import * as storeApi from '@/api/pharmacy/store_gps_list'

export default {
  name: 'PolicySet',
  props: {
    policyDialogData: {
      type: Object,
      default: () => {
        return {
          dialogVisible: false,
          main_store_name: '',
          storm_name: '',
          location: '',
          phone: '',
          policyForm: {
            id: 0,
            product_options_num: 0,
            policyList: [{
              products: [],
              product_options: [],
              policy_type: 0,
              policy_val: '',
              deadline_type: 0,
              deadline_val: '',
              deadline_time: '',
              visiblePicker: false,
              visibleVal: true
            }]
          }
        }
      }
    }
  },
  data() {
    return {
      productOptionsNum: 0,
      timeLine: {
        deadline_time: ''
      }
    }
  },
  created() {
    this.initData()
  },
  methods: {
    initData() {
      return
    },
    changeInput(event, index) {
      console.log(event)
      if (event === 1) {
        this.policyDialogData.policyForm.policyList[index].visibleVal = true
        this.policyDialogData.policyForm.policyList[index].visiblePicker = false
      } else {
        this.policyDialogData.policyForm.policyList[index].visibleVal = false
        this.policyDialogData.policyForm.policyList[index].visiblePicker = true
      }
    },
    setPolicy(formName) {
      console.log(formName)
      console.log(this.policyDialogData)
      if (this.policyDialogData.policyForm.policyList.length <= 0) {
        this.$message({
          message: '没有任何设置项',
          type: 'error'
        })
        return
      }
      for (let i = 0; i < this.policyDialogData.policyForm.policyList.length; i++) {
        const policy = this.policyDialogData.policyForm.policyList[i]
        if (policy.products.length <= 0) {
          this.$message({
            message: '药品必须选择',
            type: 'error'
          })
          return
        }
        if (policy.policy_type <= 0) {
          this.$message({
            message: '策略类型必须选择',
            type: 'error'
          })
          return
        }
        // eslint-disable-next-line eqeqeq
        if (policy.policy_val == '') {
          this.$message({
            message: '策略值必须设置',
            type: 'error'
          })
          return
        }
        if (policy.deadline_type <= 0) {
          this.$message({
            message: '截止日期类型必须选择',
            type: 'error'
          })
          return
        }
        // eslint-disable-next-line eqeqeq
        if (policy.deadline_type == 2 && policy.deadline_time == '') {
          this.$message({
            message: '具体时间必须设置',
            type: 'error'
          })
          return
        }
        // eslint-disable-next-line eqeqeq
        if (policy.deadline_type == 1 && policy.deadline_val == '') {
          this.$message({
            message: '倒计时必须设置',
            type: 'warning'
          })
          return
        }
      }
      storeApi.updatePolicy({
        store_id: this.policyDialogData.policyForm.id,
        policy_list: this.policyDialogData.policyForm.policyList
      }).then(response => {
        console.log(response.data)
        this.$message({
          message: '策略设置成功',
          type: 'success'
        })
        this.close()
        this.$parent.search()
      }).catch(() => {})
      // TODO
    },
    addPolicy() {
      console.log(this.policyDialogData.policyForm.policyList.length)
      this.productOptionsNum = this.policyDialogData.policyForm.product_options_num
      if (this.policyDialogData.policyForm.policyList.length >= this.productOptionsNum) {
        this.$message({
          message: '你已经超过设置数量',
          type: 'warning'
        })
        return
      }
      const product_options = this.policyDialogData.policyForm.policyList[0].product_options
      const policy = {
        products: [],
        product_options: product_options,
        policy_type: 0,
        policy_val: '',
        deadline_type: 0,
        deadline_val: '',
        deadline_time: '',
        visiblePicker: false,
        visibleVal: true
      }
      this.policyDialogData.policyForm.policyList.push(policy)
    },
    deletePolicy(index) {
      console.log(index)
      // eslint-disable-next-line no-empty
      if (this.policyDialogData.policyForm.policyList.length === 1) {
        this.$message({
          message: '必须设置一个策略',
          type: 'warning'
        })
        return
      }
      this.policyDialogData.policyForm.policyList.splice(index, 1)
    },
    close() {
      // eslint-disable-next-line no-unused-vars
      const policyDialogData = {
        dialogVisible: false,
        main_store_name: '',
        storm_name: '',
        location: '',
        phone: '',
        policyForm: {
          id: 0,
          product_options_num: 0,
          policyList: []
        }
      }
      this.$emit('closePolicyDialog', policyDialogData)
    }
  }
}
</script>

<style scoped>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .el-dialog__body{
    padding: 0 20px 30px 20px;
  }
  h3 {
    margin-top: 40px;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: right;
    font-size: 14px;
    color: #606266;
  }
  .td2 {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: left;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 15%;
    font-weight: 600;
  }
  .el-table thead {
    color: #606266;
    font-weight: 600;
  }
  .cell {
    text-align: center;
  }
  .menu {
    margin-left: 10px;
  }
  .div_policy{
    background-color: aliceblue;
    width: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
