<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="操作时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="操作时间"
              end-placeholder="操作时间"
            />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'niferex:statistics:searchq'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'niferex:statistics:resetq'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button v-permission="'niferex:statistics:exportq'" style="margin-left: 20px;" @click="exportData">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="paper_id" label="ID" width="80" align="center" />
      <el-table-column prop="paper_name" label="问卷标题" align="center" />
      <el-table-column prop="user_name" label="用户名" width="80" align="center" />
      <el-table-column prop="true_name" label="真实姓名" width="80" align="center" />
      <el-table-column prop="name" label="大区" width="80" align="center" />
      <el-table-column prop="province" label="省份" width="80" align="center" />
      <el-table-column prop="city" label="城市" width="80" align="center" />
      <el-table-column prop="main_store" label="主店" align="center" />
      <el-table-column prop="branch_store" label="店名" align="center" />
      <el-table-column prop="title" label="职责" align="center" />
      <el-table-column prop="created_time" label="完成时间" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as statisticsApi from '@/api/lfmini/statistics'
import Pagination from '@/components/Pagination'

export default {
  name: 'StatisticsQuestion',
  components: { Pagination },
  data() {
    return {
      query: {
        start_time: [],
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      statisticsApi.question(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    exportData() {
      statisticsApi.exportQuestion(this.query).then(response => {
        this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
      }).catch(() => {})
    },

    queryReset() {
      this.query = {
        start_time: [],
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
