<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="姓名">
            <el-input v-model="query.name" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="手机号">
            <el-input v-model="query.phone" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="认证状态">
            <el-select v-model="query.state" placeholder="请选择认证状态">
              <el-option label="全部" value="-1" />
              <el-option v-for="item in status" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="注册时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="注册时间"
              end-placeholder="注册时间"
            />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'niferex:statistics:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'niferex:statistics:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button v-permission="'niferex:statistics:export'" style="margin-left: 20px;" @click="exportData">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" width="80" align="center" />
      <el-table-column prop="user_name" label="用户名" width="80" align="center" />
      <el-table-column prop="true_name" label="真实姓名" width="80" align="center" />
      <el-table-column prop="mobile_num" label="手机号" width="80" align="center" />
      <el-table-column prop="name" label="大区" width="80" align="center" />
      <el-table-column prop="province" label="省份" width="80" align="center" />
      <el-table-column prop="city" label="城市" width="80" align="center" />
      <el-table-column prop="main_store" label="主店" align="center" />
      <el-table-column prop="branch_store" label="店名" align="center" />
      <el-table-column prop="title" label="职责" align="center" />
      <el-table-column prop="is_doctor" label="是否医生" width="80" align="center">
        <template slot-scope="{row}">
          <div
            class="status"
            :class="{ inlive:row.is_doctor==1, publishstatus:row.is_doctor==0 }"
          >
            <template v-if="row.is_doctor==1">是</template>
            <template v-if="row.is_doctor==0">否</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="user_verified" label="认证状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.user_verified==0">未填写未提交</template>
          <template v-if="row.user_verified==1">已经填写已认证</template>
          <template v-if="row.user_verified==2">已经填写信息未认证</template>
          <template v-if="row.user_verified==3">取消认证</template>
          <template v-if="row.user_verified==4">已拒绝</template>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="注册时间" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as statisticsApi from '@/api/lfmini/statistics'
import Pagination from '@/components/Pagination'

export default {
  name: 'StatisticsUser',
  components: { Pagination },
  data() {
    return {
      status: [
        { id: 0, name: '未填写未提交' },
        { id: 1, name: '已经填写已认证' },
        { id: 2, name: '已经填写信息未认证' },
        { id: 3, name: '取消认证' },
        { id: 4, name: '已拒绝' }
      ],
      query: {
        name: '',
        phone: '',
        state: '-1',
        start_time: [],
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      statisticsApi.user(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    exportData() {
      statisticsApi.exportUser(this.query).then(response => {
        this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
      }).catch(() => {})
    },

    queryReset() {
      this.query = {
        name: '',
        phone: '',
        state: '-1',
        start_time: [],
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
