<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'resources:product:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'resources:product:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'resources:product:add'" type="primary" class="newbutton" @click="showDiolog">添加产品</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="title" label="产品名称" align="center" />
      <el-table-column prop="sub_title" label="产品名称(副)" align="center" />
      <el-table-column prop="title_en" label="英文名称" align="center" />
      <el-table-column prop="list_pic" label="封面" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.list_pic" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="manufacturer" label="生产商" align="center" />
      <el-table-column prop="type" label="类型" align="center" />
      <el-table-column prop="approval_id" label="批准文号" align="center" />
      <el-table-column prop="desc" label="描述" align="center" />
      <el-table-column prop="admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'resources:product:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'resources:product:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="产品名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入产品名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入产品名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="产品名称(副)">
              <el-input v-model="formData.sub_title" placeholder="请输入产品名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="英文名称">
              <el-input v-model="formData.title_en" placeholder="请输入英文名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="产品封面"
              prop="list_pic"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.list_pic"
                :uploadData="uploadData"
                :sign="sign.videoListImg"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="详情大图"
              prop="detail_pic"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.detail_pic"
                :uploadData="uploadData"
                :sign="sign.videoDetailImg"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="生产商"
              prop="manufacturer"
              :rules="[
                { required: true, message: '请输入生产商', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.manufacturer" placeholder="请输入生产商" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="类型">
              <el-input v-model="formData.type" placeholder="请输入类型" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="批准文号">
              <el-input v-model="formData.approval_id" placeholder="请输入批准文号" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="描述">
              <el-input v-model="formData.desc" type="textarea" :rows="3" placeholder="请输入描述" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as productApi from '@/api/resources/product'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import { getUploadToken } from '@/api/upload/upload'

export default {
  name: 'Product',
  components: { Pagination, ImgUpload },
  data() {
    return {
      query: {
        title: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      formData: {
        product_id: 0,
        title: '',
        sub_title: '',
        title_en: '',
        list_pic: [],
        detail_pic: [],
        manufacturer: '',
        type: '',
        approval_id: '',
        desc: ''
      },
      dialogVisible: false,
      // 七牛云上传
      sign: {
        videoListImg: 'videoListImg',
        videoDetailImg: 'videoDetailImg'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: ''
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      productApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.reset()
      this.getUploadToken()
      this.dialogVisible = true
    },

    submit() {
      productApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      productApi.detail({ product_id: id }).then(response => {
        if (response.code === 20000) {
          this.getUploadToken()
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除该产品资源吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        productApi.deleted({ product_id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        product_id: 0,
        title: '',
        title_en: '',
        img: [],
        remarks: ''
      }
    },

    queryReset() {
      this.query = {
        title: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'videoListImg') {
        this.formData.list_pic = data.imgList
      } else if (data.sign === 'videoDetailImg') {
        this.formData.detail_pic = data.imgList
      }
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
