<template>
     <!-- 逻辑 -->
      <el-dialog title="设置逻辑" :visible="open" :before-close="close">
        <el-form :inline="true">
          <el-row :gutter="10">
            <el-col v-if="getPaperStatus == 1" :span="24">
              <el-button v-if="operateRules.length == 0" type="primary" @click="innerRuleVisible=true">添加规则</el-button>
            </el-col>

            <!-- 数据部分 -->
            <el-col v-for="(qrule, qidx) in operateRules" :key="qidx" :span="24">
              <div v-for="(qd, qdidx) in qrule.detail" :key="qdidx" border="1px">
                <el-form-item label="如果本题">
                  <el-select v-model="operateRules[qidx].detail[qdidx].relation" size="mini" placeholder="">
                    <el-option
                      v-for="item in selectMode"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item>
                    <el-select v-model="operateRules[qidx].detail[qdidx].content" multiple placeholder="placeholder">
                         <el-option
                         v-for="(item, index) in question.options"
                         :key="index"
                         :label="item.name"
                         :value="item.id"
                         />
                  </el-select>
                </el-form-item>
              </div>

              <el-form-item>
                <el-divider />
              </el-form-item>
              <el-form-item label="则跳转到">
                <el-select v-model="operateRules[qidx].target_id" placeholder="">
                  <el-option
                    v-for="qItem in nextQuestions"
                    :key="qItem.id"
                    :label="qItem.name"
                    :value="qItem.id"
                  />
                </el-select>
              </el-form-item>
              <el-form-item v-if="getPaperStatus == 1">
                <el-button-group>
                  <el-button type="primary" icon="el-icon-remove-outline" @click="removeWhenAddNew(qidx, qrule.id)" />
                  <el-button type="primary" icon="el-icon-circle-plus-outline" @click="insertNewRule(qidx + 1)" />
                </el-button-group>
              </el-form-item>
            </el-col>

            <!-- 添加部分 -->
            <el-col v-if="innerRuleVisible" :span="24">
              <el-divider>添加</el-divider>
              <div border="1px">
                <el-form-item label="如果本题" size="mini">
                  <el-select v-model="newRule.detail[0].relation" placeholder="">
                    <el-option
                      v-for="item in selectMode"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item>
                    <el-select v-model="newRule.detail[0].content" multiple placeholder="placeholder">
                         <el-option
                         v-for="(item, index) in question.options"
                         :key="index"
                         :label="item.name"
                         :value="item.id"
                         />
                    </el-select>
                </el-form-item>
              </div>

              <el-form-item>
                <el-divider />
              </el-form-item>
              <el-form-item label="则跳转到">
                <el-select v-model="newRule.target_id" placeholder="">
                  <el-option
                    v-for="qItem in nextQuestions"
                    :key="qItem.id"
                    :label="qItem.name"
                    :value="qItem.id"
                  />
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button-group>
                  <el-button type="primary" @click="addNewLogic">保存</el-button>
                  <el-button type="primary" @click="innerRuleVisible = false">取消</el-button>
                </el-button-group>
              </el-form-item>
            </el-col>

            <div />
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="close">取 消</el-button>
          <el-button v-if="getPaperStatus == 1" type="primary" @click="batchUpdateRules">确 定</el-button>
        </div>
        <div />
      </el-dialog>
</template>
<script>
import { getValidNextQuestion } from '@/api/questionnaire/logic_question';
import { listRules, updateRules } from '@/api/questionnaire/rule';
import {mapGetters, mapActions} from 'vuex';
import axios from 'axios'
export default {
     name: "CheckboxLogic",
     props: ["question", "open"],
     data: function () {
          return {
               operateRules: [],
               nextQuestions: [],
               keywords: "",
               innerRuleVisible: false,
               selectMode: [
                    { value: 0, label: '选中' },
                    { value: 3, label: '不选中' },
                    { value: 2, label: '任意' }
               ],
               newRule: {
                    id: 0,
                    target_id: '',
                    pos: -1,
                    detail: [
                         {
                         detail_id: 0,
                         prev_logic: 0,
                         relation: '',
                         content_type: 2,
                         content: [],
                         keywords: ""
                         }
                    ]
               },
          };
     },
     mounted: function () {
       this.initRule()   
     },
     methods: {
          initRule() {
               let id = this.question.id
               let me = this
               axios.all([getValidNextQuestion(id), listRules(id)])
                    .then(axios.spread(function(nextResp, listResp) {
                         me.$data.nextQuestions = nextResp.data.next
                         me.$data.operateRules = listResp.data.list
                         me.$data.nextQuestions.push({
                              id: 0,
                              name: '结束页面'
                         })
                         me.initAddNewRule()
                         me.$data.innerRuleVisible = false
                    }))
          },
          removeWhenAddNew(index, ruleId) {
               this.$data.operateRules.splice(index, 1)
          },
          insertNewRule() {
            this.initAddNewRule()
            this.$data.innerRuleVisible = true
          },
          addNewLogic: function() {
            const r = this.$data.newRule
            // if (!(r.target_id > 0)) {
            //     this.notifyOperateFail("表单不完整");
            //     return false;
            // }
            // if (r.detail.length > 0) {
            //     for (const i in r.detail) {
            //         if (!(r.detail[i].relation && r.detail[i].relation > 0)) {
            //             this.notifyOperateFail("表单不完整");
            //             return false;
            //         }
            //         if (r.detail[i].content.length == 0) {
            //             this.notifyOperateFail("表单不完整");
            //             return false;
            //         }
            //     }
            // }
            let newData = JSON.parse(JSON.stringify(this.$data.newRule))
            if (this.$data.newRule.pos > 0) {
              // 中间插入元素
              this.$data.operateRules.splice(this.$data.newRule.pos, 0, newData)
            } else { // 尾部插入元素
              this.$data.operateRules.push(newData)
            }
          },
          batchUpdateRules: function() {
             const items = this.$data.operateRules.map(function(item) {
                item.detail[0].content_type = 1;
                return item;
            });
            updateRules(
              this.question.id,
              items
            ).then(response => {
              this.$emit("updateLogicSuccess")
            })
          },
          initAddNewRule: function(pos = -1) {
               this.$data.newRule = {
               id: 0,
               target_id: '',
               pos: pos,
               detail: [
                    {
                    detail_id: 0,
                    prev_logic: 0,
                    relation: '',
                    content_type: 1,
                    content: [],
                    keywords: ""
                    }
               ]
               }
          },
          close: function() {
               this.$emit("close")
          }
     },
     computed: {
          ...mapGetters('questionnaireLogicQuestion', ['getPaperStatus'])
     }
}
</script>