<template>
     <!-- 编辑单选题目 -->
      <el-dialog :visible="open" :before-close="close" :close-on-click-modal="false" :title="typeName">
        <el-form label-position="right" label-width="80px">
          <el-row :gutter="10">
            <el-col :span="18">
                <el-form-item label="题目:">
                  <el-input v-model="editQuestion.name"/>
                </el-form-item>
            </el-col>
             <div></div>
            <el-col :span="24" v-show="editQuestion.options.length > 0">
              <el-form-item label="选项:">
                <el-col :span="24"  v-for="(item, index) in editQuestion.options" :key="index">
                    <el-col :span="4">
                      <el-checkbox v-model="editQuestion.options[index].is_right" ></el-checkbox>
                    </el-col>
                    <el-col :span="8">
                      <el-input v-model="editQuestion.options[index].name" placeholder="editQuestion.name" />
                    </el-col>
                    <el-col :span="8" v-if="getPaperStatus == 1">
                      <el-button-group>
                        <el-button type="text" @click="deleteOption(index)">删除</el-button>
                        <el-button type="text" @click="saveOption(index)">保存</el-button>
                      </el-button-group>
                    </el-col>
                </el-col>
                
              </el-form-item>
            </el-col>
             <el-col :span="24">
              <el-form-item label-width="0px">
                <el-checkbox v-model="isForce" label="是否必填" ></el-checkbox>
              </el-form-item>
              <el-form-item label-width="0px" v-if="getPaperStatus==1">
                  <el-button type="primary" @click="initEditRadioOpt">添加答案项</el-button>
                  <el-button type="primary" @click="editRadio">保存</el-button>
              </el-form-item>
              
            </el-col>
          </el-row>

          <div v-if="editRadioOption">
            <div>
              <el-divider>新加</el-divider>
            </div>
            <el-form-item label-width="0px">
              <el-col :span="4">
                <el-checkbox v-model="addOption.is_right" ></el-checkbox>
              </el-col>
              <el-col :span="8">
                <el-input v-model="addOption.name" />
              </el-col>
              <el-col :span="8">
                  <el-button type="primary" icon="el-icon-refresh-left" @click="handleAddOptWhenEdit">添加</el-button></el-button>
                  <el-button type="primary" icon="el-icon-refresh-delete" @click="editRadioOption = false">取消</el-button>
              </el-col>
              
            </el-form-item>
          </div>

        </el-form>

      </el-dialog>
</template>
<script>
import {mapGetters, mapActions} from 'vuex';
import { addLogicQuestions, listLogicQuestions, deleteLogicQuestions, editLogicQuestions, sortLogicQuestions, getValidNextQuestion } from '@/api/questionnaire/logic_question'
import { listOptions, addOptions, deleteOptions, editOptions } from '@/api/questionnaire/options';

export default {
     name: "RadioEdit",
     props: ["question", "open"],
     data: function() {
          return {
               editQuestion: {
                    id: 0,
                    index: 0,
                    name: '',
                    type: '',
                    options: [],
               },
               addOption: {
                    name: '',
                    is_right: false
               },
               editRadioOption: false,
               typeName: "",
               isMulti: false,
               center: false,
               isForce: 1
          }
     },
     mounted: function () {
          this.editQuestion = JSON.parse(JSON.stringify(this.question)) 
          this.$data.isForce = !this.question.is_skip
          switch(this.editQuestion.type) {
            case 1:
              this.$data.typeName = "【单选题】"
              break;
            case 2:
              this.$data.typeName = "【多选题】"
              this.$data.isMulti = true
              break;
            default:
              this.$data.typeName = "【-】"
              break;
          }  
     },
     methods: {
          ...mapActions("questionnaireLogicQuestion", [
               'editLogicQuestion', 
               'deleteLogicQuestionOption',
               'editQuestionOption',
               'addOptions'
               ]),
          initEditRadioOpt: function() {
               this.initAddOption()
               return true
          },
          initAddOption: function() {
               this.$data.addOption.name = ''
               this.$data.addOption.is_right = false
               this.$data.editRadioOption = true;
          },
           editRadio: function() {
               let edq = JSON.parse(JSON.stringify(this.$data.editQuestion))
               edq.is_skip = !(this.$data.isForce)

               this.editLogicQuestion(edq).then(response => {
                    this.$emit("saveSuccess")
               })
          },
           deleteOption: function(index) {
               const newOpts = this.$data.editQuestion.options[index]
               this.deleteLogicQuestionOption({
                    questionID: this.$data.editQuestion.id,
                    optionId: newOpts.id
               }).then(response => {
                    this.$data.editQuestion.options.splice(index, 1)
                    this.$emit("deleteOptionSuccess")
               })
               
          },
          saveOption: async function(idx) {
               const newOpts = this.$data.editQuestion.options[idx]
               await this.editQuestionOption({
                    questionID: this.$data.editQuestion.id,
                    id: newOpts.id,
                    name: newOpts.name,
                    isRight: newOpts.is_right
               })
              
              console.log("before emit after saveOption")
              this.$emit("saveOptionSuccess")
          },
          async handleAddOptWhenEdit() {
            const questionID = this.$data.editQuestion.id
            const name = this.$data.addOption.name
            const isRight = this.$data.addOption.is_right
            await this.addOptions({questionID, name, isRight})
            this.$emit("addOptSuccess")
               
          },
          close() {
            this.$emit("closeEdit")
          }
     },
     computed: {
          ...mapGetters('questionnaireLogicQuestion', ['getPaperStatus', 'getQuestions'])
     },
     watch: {
       getQuestions: {
         handler(newVal, oldVal) {
           const questionId = this.$data.editQuestion.id
           const item = newVal.find(item => {
             return item.id == questionId
           })
           if (item) {
             this.$data.editQuestion = item.origin;
           }
         },
         deep: true
       }
     }
     
}
</script>

