<template>
      <!-- 添加填空题 -->
      <el-dialog :visible="open" :before-close="close" :center="false" :close-on-click-modal="false" title="填空题">
        <el-form label-position="right" label-width="80px">
          <el-row :gutter="10">
            <el-col :span="24">
              <el-form-item label="题目:">
                <el-input v-model="name" />
              </el-form-item>
            </el-col>
          </el-row>
            <el-row :gutter="10">
            <el-col :span="24">
              <el-form-item >
                <el-checkbox v-model="isForce" label="是否必填" ></el-checkbox>
              </el-form-item>
              <el-form-item>
                  <el-button type="primary" @click="addTextareaQuestion">保存</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </el-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
   name: "TextAdd",
   props: ["open"],
   data: function () {
        return {
             name: "",
             isForce: false
        };
   },
   methods: {
        ...mapActions("questionnaireLogicQuestion", [
               'addOneLogicQuestion'
               ]),
        addTextareaQuestion() {
             const name = this.$data.name
             const type = 3
             const isSkip = !(this.$data.isForce)
          this.addOneLogicQuestion({
               name: name,
               type: type,
               options: [],
               isSkip: isSkip
          }).then(response => {
               console.log(response)
          }) ;
          this.$emit("addOptionQuestionSuccess")
        },
        close() {
             this.$emit('closeAdd')
        }
   }  
}
</script>