<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="状态">
            <el-select v-model="query.type_id" placeholder="请选择分类">
              <el-option label="全部" value="" />
              <el-option v-for="item in audit_status" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="18">
          <el-form-item label="申请时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="开始时间"
            />
          </el-form-item>
        </el-col>

        <el-col :span="18">
          <el-form-item label="审核时间">
            <el-date-picker
              v-model="query.audit_start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="开始时间"
            />
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-button v-permission="'lfmini:point:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <el-table-column prop="user_name" label="申请人" align="left" />
      <el-table-column prop="store_name" label="分店名称" align="left" />
      <el-table-column prop="sales_order" label="销售单号" align="left" />
      <el-table-column prop="created_at" label="申请时间" align="left" />
      <el-table-column prop="" label="审批状态" align="left">
        <template slot-scope="{row}">
          <el-col :span="8">
            <span v-if="row.status == 1">审核中</span>
            <span v-else-if="row.status == 2">已通过</span>
            <span v-else>未通过</span>
          </el-col>
        </template>
      </el-table-column>
      <el-table-column prop="audit_date" label="审批时间" align="left" />
      <el-table-column prop="point" label="获得积分" align="left" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="24">
              <el-button v-if="row.status == 1" v-permission="'lfmini:point:audit'" type="primary" size="mini" @click="detail(row.id)">审核</el-button>
              <el-button v-if="row.status == 2" v-permission="'lfmini:point:audit'" type="primary" size="mini" @click="detail(row.id)">已通过</el-button>
              <el-button v-if="row.status == 3" v-permission="'lfmini:point:audit'" type="primary" size="mini" @click="detail(row.id)">已拒绝</el-button>

            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="审核" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-image :src="formData.ticket_url" class="mage-wrapper" style="width: 100%; height: 400px; margin-top: 5px; margin-bottom: 10px" fit="contain" />
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="分店名称"
              prop="store_name"
              :rules="[
                { required: true, message: '请分店', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.store_name" filterable placeholder="请选择">
                <el-option
                  v-for="item in storeList"
                  :key="item.id"
                  :label="item.hospital_name"
                  :value="item.hospital_name"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11">
            <el-form-item
              label="时间"
              prop="created_at"
              :rules="[
                { required: true, message: '请输入时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="formData.created_at"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="销售单号"
              prop="sales_order"
              :rules="[
                { required: true, message: '销售单号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.sales_order" placeholder="销售单号" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="小票金额"
              prop="ticket_price"
              :rules="[
                { required: true, message: '小票金额', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.ticket_price" placeholder="小票金额" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-button v-show="formData.status !=2 && formData.status !=3" @click="addTableItem">添加</el-button>
        <el-button v-show="formData.status !=2 && formData.status !=3" @click="delTableItem">删除</el-button>
        <el-form
          ref="addJsonForm"
          :model="addJsonForm"
          :rules="addJsonForm.addJsonRules"
          :inline="true"
          label-width="108px"
        >
          <el-table
            :data="addJsonForm.params"
            style="width: 100%"
            border
            @selection-change="addJsonSelectionChange"
          >
            <el-table-column align="center">
              <el-table-column type="selection" width="55" align="center" />
            </el-table-column>

            <el-table-column align="center" width="85">
              <template slot="header" slot-scope="scope">
                <span style="color:#2d65dc;">ID</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_id'"
                  :rules="addJsonForm.addJsonRules.p_id"
                >
                  <el-input
                    v-model="scope.row.p_id"
                    type="text"
                    autocomplete="off"
                    :disabled="true"
                  />
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column align="center">
              <template slot="header" slot-scope="scope">
                <span style="color:#2d65dc;">名称</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_name'"
                  :rules="addJsonForm.addJsonRules.products"
                >
                  <!-- nodel-value -->
                  <el-select v-model="scope.row.p_id" filterable placeholder="请选择">
                    <el-option
                      v-for="item in products"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      @click.native="onSelectePName(item, scope.$index)"
                    />
                  </el-select>
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column align="center" width="200">
              <template slot="header" slot-scope="scope">
                <span style="color:#2d65dc;">规格</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_spec'"
                  :rules="addJsonForm.addJsonRules.p_spec"
                >
                  <el-input
                    v-model="scope.row.p_spec"
                    type="text"
                    autocomplete="off"
                  />
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column align="center" width="85">
              <template slot="header" slot-scope="scope">
                <span style="color:#2d65dc;">数量</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_num'"
                  :rules="addJsonForm.addJsonRules.p_num"
                >
                  <!-- @focus="ReleaseLock" -->
                  <el-input
                    v-model="scope.row.p_num"
                    type="text"
                    autocomplete="off"
                    @change="handleChange(scope.row)"
                  />
                </el-form-item>
              </template>
            </el-table-column>
          </el-table>
        </el-form>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="可获得积分"
              prop="point"
              :rules="[
                { required: true, message: '可获得积分', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.point" :disabled="true" placeholder="可获得积分" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="formData.status == 3">
          <el-col :span="22">
            <el-form-item
              label="不通过理由"
              prop="point"
            >
              <el-input
                v-model="formData.refused"
                type="textarea"
                :rows="4"
                :disabled="true"
                placeholder="请输入拒绝原因"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="formData.status !=2" class="contentButton">
          <el-button type="primary" @click="pass">通过</el-button>
          <el-button type="primary" @click="refused">拒绝</el-button>
          <!-- <el-button @click="dialogVisible=false">拒绝</el-button> -->
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->

    <el-dialog
      title="拒绝原因"
      :visible.sync="verifyReasonShow"
      :modal="false"
      width="30%"
    >
      <el-input
        v-model="verifyReason"
        type="textarea"
        :rows="4"
        placeholder="请输入拒绝原因"
      />
      <span slot="footer" class="dialog-footer">
        <el-button @click="verifyReasonShow = false">取 消</el-button>
        <el-button type="primary" @click="verifyRefuse()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as pointAuditApi from '@/api/lfmini/point_audit'
import * as commonApi from '@/api/common/common'
import Pagination from '@/components/Pagination'

export default {
  name: 'Msg',
  components: { Pagination },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        page: 1,
        page_size: 20,
        start_time: null,
        audit_start_time: null,
        created_start: '',
        created_end: '',
        audit_date_start: '',
        audit_date_end: '',
        type_id: ''
      },
      formData: {
        id: 0,
        sales_order: '',
        store_name: '',
        point: 0,
        created_at: ''
      },
      // 0:'全部',, 2:'已通过', 3:'未通过'
      audit_status: [{ 'id': 1, 'title': '审核中' }, { 'id': 2, 'title': '已通过' }, { 'id': 3, 'title': '未通过' }],
      total: 0,
      dialogVisible: false,
      products: [],
      storeList: [],
      tab_item_id: 1, // 表格数据的 id
      addJsonMultiple: [],
      verifyReasonShow: false,
      verifyReason: '',
      point_all: 0,
      addJsonForm: {
        params: [
          {
            p_id: '',
            p_name: '',
            p_spec: '',
            p_num: 0,
            tab_item_id: 1 // 弹框中，删除空行的唯一标志，默认从1开始
          }
        ],
        addJsonRules: {
          p_name: [
            { required: true, message: '名称不能为空', trigger: 'blur' }
          ],
          p_spec: [
            { required: true, message: '规格不能为空', trigger: 'blur' }
          ],
          p_num: [
            { required: true, message: '数量不能为空', trigger: 'blur' }
          ]
        }
      }
    }
  },
  created() {
    this.search()
  },
  methods: {
    handleChange(itm) {
      let source = 0
      for (let i = 0; i < this.addJsonForm.params.length; i++) {
        if (this.addJsonForm.params[i]['point']) {
          if (this.addJsonForm.params[i]['p_num'] >= 0) {
            source += this.addJsonForm.params[i]['point'] * this.addJsonForm.params[i]['p_num']
          } else {
            source += 0
          }
        }
        this.formData.point = source
      }
    },
    onSelectePName(v, index) {
      const id = this.addJsonForm.params[index].tab_item_id
      this.addJsonForm.params.splice(index, 1, {
        p_id: v.id,
        p_name: v.name,
        p_spec: v.specs,
        p_num: '',
        point: v.point,
        attentions: v.attentions,
        point_rule_id: v.point_rule_id,
        event_key: v.event_key,
        tab_item_id: id
      })
      console.log(this.addJsonForm.params[index])
    },
    RndNum(n) {
      // 生成随机数
      let rdmNum = ''
      for (let i = 0; i < n; i++) {
        rdmNum += Math.floor(Math.random() * 10) // [0,10)的整数
      }
      return rdmNum
    },
    addTableItem() {
      this.tab_item_id = 'T' + this.RndNum(6) // 生成以T开头的七位随机数
      this.addJsonForm.params.push({
        p_id: '',
        p_name: '',
        p_spec: '',
        p_num: '',
        tab_item_id: this.tab_item_id
      })
    },

    delTableItem() {
      // 确认删除
      if (this.addJsonMultiple.length > 0) {
        const arrs = []
        const ids = this.addJsonMultiple.map(val => val.tab_item_id) // 拿到选中的数据id,
        this.addJsonForm.params.forEach(item => {
          if (!ids.includes(item.tab_item_id)) {
            // 当id在params中，表示数据被选中，该将其删除，即将不被选中的保留
            arrs.push(item)
          }
        })
        this.addJsonForm.params = arrs
        let source = 0
        for (let i = 0; i < this.addJsonForm.params.length; i++) {
          if (this.addJsonForm.params[i]['point']) {
            if (this.addJsonForm.params[i]['p_num'] >= 0) {
              source += this.addJsonForm.params[i]['point'] * this.addJsonForm.params[i]['p_num']
            } else {
              source += 0
            }
          }
          this.formData.point = source
        }
      } else {
        this.$message.warning('请选择要删除的数据')
      }
    },

    addJsonSelectionChange(val) {
      this.addJsonMultiple = val
    },
    search() {
      this.loading = true
      if (this.query.start_time != null) {
        this.query.created_start = this.query.start_time[0]
        this.query.created_end = this.query.start_time[1]
      } else {
        this.query.created_start = ''
        this.query.created_end = ''
      }
      if (this.query.audit_start_time != null) {
        this.query.audit_date_start = this.query.audit_start_time[0]
        this.query.audit_date_end = this.query.audit_start_time[1]
      } else {
        this.query.audit_date_start = ''
        this.query.audit_date_end = ''
      }

      pointAuditApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    // 通过
    pass(id) {
      this.formData.detail = this.addJsonForm.params
      this.formData.pass_status = 1
      console.log(this.formData)

      this.$confirm('确认发放积分吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        pointAuditApi.update(this.formData).then(response => {
          if (response.code === 20000) {
            if (response.data) {
              this.operationMsg(response.data.msg, 'warning')
            } else {
              this.operationMsg('发放成功！', 'success')
            }
            this.dialogVisible = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 拒绝
    refused(id) {
      this.verifyReasonShow = true
    },

    verifyRefuse(id) {
      this.verifyReasonShow = true
      this.$confirm('确认拒绝通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        pointAuditApi.update({ id: this.formData.id, user_id: this.formData.user_id, pass_status: 2, verify_reason: this.verifyReason }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('发放成功！', 'success')
            this.dialogVisible = false
            this.verifyReasonShow = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    detail(id) {
      pointAuditApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data.data
          this.products = response.data.product
          this.storeList = response.data.store_list
          this.addJsonForm.params = response.data.tickets_detail ? response.data.tickets_detail : []
          // this.addJsonForm = response.data.tab_item_id
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    reset() {
      this.formData = {
        id: 0,
        user_ids: []
      }
      this.userLiList = []
    },

    close() {
      this.dialogVisible = false
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
	.image-wrapper{
				position: relative;
				width: 100%;
				height: 0;
				padding-top: 100%;/*当height=0且写padding-top为100%的时候，元素的高度会等于元素的宽度，并随着宽度的变化而改变*/
			}
			.image-wrapper img{
				position: absolute;
				top: 0;
				left: 0;
				height: 10%;
				width: 80%;
 }
  .userLiList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
