<template>
  <div class="app-container">
    <!-- <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'lfmini:point:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form> -->

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <el-table-column prop="user_name" label="申请人" align="left" />
      <el-table-column prop="store_name" label="分店名称" align="left" />
      <el-table-column prop="sales_order" label="销售单号" align="left" />
      <el-table-column prop="created_at" label="申请时间" align="left" />
      <el-table-column prop="" label="审批状态" align="left">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8">
              <span v-if="row.status == 1">审核中</span>
              <span v-else-if="row.status == 2">已通过</span>
              <span v-else>未通过</span>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column prop="audit_date" label="审批时间" align="left" />
      <el-table-column prop="point" label="获得积分" align="left" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-if="row.status == 1" v-permission="'lfmini:point:audit'" type="primary" size="mini" @click="detail(row.id)">审核</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="审核" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="分店名称"
              prop="store_name"
              :rules="[
                { required: true, message: '请分店', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.store_name" filterable placeholder="请选择">
                <el-option
                  v-for="item in storeList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11">
            <el-form-item
              label="时间"
              prop="created_at"
              :rules="[
                { required: true, message: '请输入时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="formData.created_at"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="销售单号"
              prop="sales_order"
              :rules="[
                { required: true, message: '销售单号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.sales_order" placeholder="销售单号" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="小票金额"
              prop="ticket_price"
              :rules="[
                { required: true, message: '小票金额', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.ticket_price" placeholder="小票金额" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-button @click="addTableItem">添加</el-button>
        <el-button @click="delTableItem">删除</el-button>
        <el-form
          ref="addJsonForm"
          :model="addJsonForm"
          :rules="addJsonForm.addJsonRules"
          :inline="true"
          label-width="108px"
        >
          <el-table
            :data="addJsonForm.params"
            style="width: 100%"
            border
            @selection-change="addJsonSelectionChange"
          >
            <el-table-column align="center">
              <el-table-column type="selection" width="55" align="center" />
            </el-table-column>

            <el-table-column align="center" width="85">
              <template slot="header">
                <span style="color:#2d65dc;">ID</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_id'"
                  :rules="addJsonForm.addJsonRules.p_id"
                >
                  <el-input
                    v-model="scope.row.p_id"
                    type="text"
                    autocomplete="off"
                  />
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column align="center">
              <template slot="header">
                <span style="color:#2d65dc;">名称2</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_name'"
                  :rules="addJsonForm.addJsonRules.products"
                >
                  <!-- nodel-value -->
                  <el-select v-model="scope.row.p_id" filterable placeholder="请选择">
                    <el-option
                      v-for="item in products"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      @click.native="onSelectePName(item, scope.$index)"
                    />
                  </el-select>
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column align="center" width="200">
              <template slot="header">
                <span style="color:#2d65dc;">规格</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_spec'"
                  :rules="addJsonForm.addJsonRules.p_spec"
                >
                  <el-input
                    v-model="scope.row.p_spec"
                    type="text"
                    autocomplete="off"
                  />
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column align="center" width="85">
              <template slot="header">
                <span style="color:#2d65dc;">数量</span>
                <i style="color:#F56C6C;">*</i>
              </template>
              <template slot-scope="scope">
                <el-form-item
                  :prop="'params.' + scope.$index + '.p_num'"
                  :rules="addJsonForm.addJsonRules.p_num"
                >
                  <el-input
                    v-model="scope.row.p_num"
                    type="text"
                    autocomplete="off"
                  />
                </el-form-item>
              </template>
            </el-table-column>
          </el-table>
        </el-form>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="可获得积分"
              prop="point"
              :rules="[
                { required: true, message: '可获得积分', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.point" placeholder="可获得积分" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="contentButton">
          <el-button type="primary" @click="pass">通过</el-button>
          <el-button type="primary" @click="refused">拒绝</el-button>
          <!-- <el-button @click="dialogVisible=false">拒绝</el-button> -->
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->
  </div>
</template>

<script>
import * as pointAuditApi from '@/api/lfmini/point_audit'
import Pagination from '@/components/Pagination'

export default {
  name: 'Msg',
  components: { Pagination },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        page: 1,
        page_size: 20
      },
      formData: {
        id: 0,
        sales_order: '',
        store_name: '',
        point: 0,
        created_at: '',
        detail: [{ p_id: 1, p_name: 'p_name', p_spec: 'p_spec', p_num: 'p_num' }]
      },
      total: 0,
      dialogVisible: false,
      products: [],
      storeList: [],
      tabItemId: 1, // 表格数据的 id
      addJsonMultiple: [],
      addJsonForm: {
        params: [
          {
            p_id: 21,
            p_name: 'p_name',
            p_spec: '20*10',
            p_num: 2,
            tabItemId: 1 // 弹框中，删除空行的唯一标志，默认从1开始
          }
        ],
        addJsonRules: {
          p_name: [
            { required: true, message: '名称不能为空', trigger: 'blur' }
          ],
          p_spec: [
            { required: true, message: '规格不能为空', trigger: 'blur' }
          ],
          p_num: [
            { required: true, message: '数量不能为空', trigger: 'blur' }
          ]
        }
      }
    }
  },
  created() {
    this.search()
  },
  methods: {

    onSelectePName(v, index) {
      console.log('index')
      console.log(v)
      console.log(index)
      this.addJsonForm.params[index] = {
        p_id: v.id,
        p_name: v.name,
        p_spec: v.specs,
        p_num: '',
        tabItemId: this.addJsonForm.params[index].tabItemId
      }

      console.log(this.addJsonForm.params)
    },
    RndNum(n) {
      // 生成随机数
      let rdmNum = ''
      for (let i = 0; i < n; i++) {
        rdmNum += Math.floor(Math.random() * 10) // [0,10)的整数
      }
      return rdmNum
    },
    addTableItem() {
      this.tabItemId = 'T' + this.RndNum(6) // 生成以T开头的七位随机数
      this.addJsonForm.params.push({
        p_id: '',
        p_name: '',
        p_spec: '',
        p_num: '',
        tabItemId: this.tabItemId
      })
    },

    delTableItem() {
      // 确认删除
      if (this.addJsonMultiple.length > 0) {
        const arrs = []
        const ids = this.addJsonMultiple.map(val => val.tabItemId) // 拿到选中的数据id,
        this.addJsonForm.params.forEach(item => {
          if (!ids.includes(item.tabItemId)) {
            // 当id在params中，表示数据被选中，该将其删除，即将不被选中的保留
            arrs.push(item)
          }
        })
        this.addJsonForm.params = arrs
      } else {
        this.$message.warning('请选择要删除的数据')
      }
    },

    addJsonSelectionChange(val) {
      this.addJsonMultiple = val
    },
    search() {
      this.loading = true
      pointAuditApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    // 通过
    pass(id) {
      this.$confirm('确认发放积分吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        pointAuditApi.update({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('发放成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 拒绝
    refused(id) {
      this.$confirm('确认拒绝通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        pointAuditApi.update({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('发放成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    detail(id) {
      pointAuditApi.detail(id).then(response => {
        if (response.code === 20000) {
          console.log(response.data.type)
          this.formData = response.data.data
          this.products = response.data.product
          this.storeList = response.data.store_list
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    reset() {
      this.formData = {
        id: 0,
        user_ids: []
      }
      this.userLiList = []
    },

    close() {
      this.dialogVisible = false
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .userLiList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
