<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="手机号">
        <el-input v-model="listQuery.mobile" size="mini" style="width: 130px;" clearable />
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="listQuery.name" size="mini" style="width: 100px;" clearable />
      </el-form-item>
      <el-form-item label="商品名称">
        <!-- <el-input v-model="listQuery.goods_name" size="mini" style="width: 130px;" clearable /> -->
        <el-select v-model="listQuery.goods_name" filterable placeholder="请选择" clearable>
          <el-option
            v-for="item in GoodsList"
            :key="item.goods_name"
            :label="item.goods_name"
            :value="item.goods_name"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="当前状态">
        <el-select v-model="listQuery.status" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in QueryStatusOptions" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>
      <el-form-item label="申请日期">
        <el-date-picker
          v-model="listQuery.trial_at"
          style="width: 250px;"
          type="daterange"
          align="right"
          size="mini"
          value-format="yyyy-MM-dd"
          unlink-panels
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button v-permission="'pharmacy:physicalaudit:search'" class="filter-item" type="primary" icon="el-icon-search" @click="fetchList">查询</el-button>
        <el-button v-permission="'pharmacy:physical:export'" class="filter-item" type="primary" @click="GoodsExport()">导出</el-button>
      </el-form-item>

      <el-form-item>
        <el-upload
          ref="upload"
          class="upload-demo"
          action="#"
          :auto-upload="true"
          :on-error="uploadError"
          :show-file-list="false"
          :before-upload="beforeUploadForm"
          :http-request="uploadhiteList"
        >
          <el-button v-permission="'pharmacy:physical:Import'" size="small" type="primary" class="filter-item">上传更新发放状态</el-button>
        </el-upload>

      </el-form-item>
    </el-form>
    <br>

    <el-table
      :key="tableKey"
      ref="checkTable"
      v-loading="listLoading"
      :data="list"
      border
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="编号" prop="id" align="center" width="80" :class-name="listQuery.sortOrder === `asc` ? 'ascending' : 'descending'">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="姓名" align="center">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="省份" align="center">
        <template slot-scope="{row}">
          <span>{{ row.province }}</span>
        </template>
      </el-table-column>

      <el-table-column label="城市" align="center">
        <template slot-scope="{row}">
          <span>{{ row.city_name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="连锁店" align="center">
        <template slot-scope="{row}">
          <span>{{ row.main_store_name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="连锁店编号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.main_store_number }}</span>
        </template>
      </el-table-column>

      <el-table-column label="药店" align="center">
        <template slot-scope="{row}">
          <span>{{ row.store_name_alias }}</span>
        </template>
      </el-table-column>

      <el-table-column label="药店编号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.store_number }}</span>
        </template>
      </el-table-column>

      <el-table-column label="手机号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.mobile }}</span>
        </template>
      </el-table-column>

      <el-table-column label="代表" align="center">
        <template slot-scope="{row}">
          <span>{{ row.staff_name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="代表工号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.staff_code }}</span>
        </template>
      </el-table-column>

      <el-table-column label="申请日期" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="商品名称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="份数" align="center">
        <template slot-scope="{row}">
          <span>{{ row.num }}</span>
        </template>
      </el-table-column>
      <el-table-column label="消耗积分" align="center">
        <template slot-scope="{row}">
          <span>消费积分{{ row.money_point }}</span><br>
          <span>服务积分{{ row.service_point }}</span>
        </template>
      </el-table-column>
      <el-table-column label="当前状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <p v-if="(row.state == 2)">未发放</p>
          <p v-else-if="(row.state == 3)">已取消</p>
          <p v-else-if="(row.state == 4)">已发放未确认</p>
          <p v-else-if="(row.state == 5)">已确认</p>
          <p v-else-if="(row.state == 6)">兑换失败</p>
        </template>
      </el-table-column>
      <el-table-column  label="操作">
        <template slot-scope="scope">
          <el-button
            v-permission="'pharmacy:exchange:real:goods:reject'"
            v-if="scope.row.state==2"
            type="primary" 
            @click="showReject(scope.row.id)">拒&nbsp;&nbsp;绝</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchList" />
    <div>
      <el-dialog title="审核拒绝" :visible.sync="reject.open" :before-close="closeReject">
  <el-form ref="reject" :model="reject" :rules="rejectRules">
    <el-form-item label="拒绝原因" label-width="120px" prop="content">
      <el-input 
        type="textarea"
        :rows="3"
        v-model="reject.content"
        autocomplete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closeReject">取 消</el-button>
    <el-button type="primary" @click="rejectConfirm">确 定</el-button>
  </div>
</el-dialog>
    </div>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as RsetApi from '@/api/pharmacy/rest'

import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'Trials',
  components: { Pagination },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        mobile: undefined,
        name: undefined,
        goods_name: undefined,
        trial_at: undefined,
        sortProp: 'id',
        sortOrder: 'desc'
      },
      userRoleType: { 1: '优药', 2: '优佳医', 4: '优能汇' },
      GoodsList: [],
      QueryStatusOptions: { '4': '发放中', '2': '未发放', '3': '已取消', '5': '已兑换', '6': '兑换失败' },
      reject: {
        open: false,
        id: 0,
        content: ''
      },
      rejectRules: {
        content: [
          { required: true, message: '拒绝原因不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.fetchList()
    this.getGoodsNames()
  },
  methods: {

    getGoodsNames() {
      this.listLoading = true
      RsetApi.goodsSearch().then(res => {
        this.GoodsList = res.data.goodsNames
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },

    fetchList() {
      this.listLoading = true
      RsetApi.auditGoods(this.listQuery).then(res => {
        this.list = res.data.items
        this.total = res.data.total
        this.listLoading = false
        this.$refs.checkTable.clearSelection()
      }).catch(() => {
        this.listLoading = false
      })
    },

    // 实物导出
    GoodsExport() {
      console.log(this.listQuery)
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        RsetApi.GoodsExport, this.listQuery,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    uploadhiteList(file) {
      var that = this
      const fd = new FormData()
      fd.append('file', file.file)
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(RsetApi.GoodsImp, fd).then(function(response) {
        if (response.data.code === 20000) {
          setTimeout(() => {
            that.$message({
              showClose: true,
              message: '更新成功',
              type: 'success'
            })
            that.fetchList()
          }, 3000)
        } else {
          that.$message({
            showClose: true,
            message: response.data.msg,
            type: 'error'
          })
        }
      })
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    beforeUploadForm(file) {
      this.loading = false
      this.alertText = []
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0

      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName !== 'xls' && extName !== 'xlsx') {
        this.alertText = ['上传文件只能是 xls、xlsx格式']
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      // const isLt1M = file.size / 1024 / 1024 < importApi.fileSize;
      // if (!isLt1M) {
      //   this.alertText = ["上传文件大小不能超过 "+importApi.fileSize+"MB"]
      //   this.alertType = 'error'
      //   this.alertShow = true
      //   return false
      // }
    },
    uploadError() {
      this.alertType = 'error'
      this.alertText = ['上传失败']
    },

    showReject(id) {
      this.$data.reject.id = id
      this.$data.reject.content = ''
      this.$data.reject.open = true
    },
    closeReject() {
      this.$data.reject.open = false
      this.$data.reject.id = 0
      this.$data.reject.content = ''
    },
    rejectConfirm() {
      this.$refs['reject'].validate(valid => {
        if (valid) {
          RsetApi.rejectExchange(this.$data.reject.id, this.$data.reject.content)
            .then(resp => {
              this.closeReject()
              this.$notify({
                title: '操作成功',
                message: '兑换已经审核拒绝',
                type: 'success'
              })
              this.fetchList()
            })
        }
      })
      
    }

  }
}
</script>
