<template>
     <el-row :gutter="10">
          <el-col :span="22" :offset="1" style="margin-stop:50px" class="query">
               <!-- 头部搜索  -->
               <el-form ref="form" inline label-width="80px">
                    <!-- <el-form-item>
                         <el-button 
                         type="primary"
                         @click="$router.push({name: 'AddAgreement'});"
                         >新增协议</el-button>
                    </el-form-item> -->
                    <el-form-item>
                         <el-input v-model="query.keywords" placeholder=""></el-input>
                    </el-form-item>
                    <el-form-item>
                         <el-button 
                         type="primary" 
                         @click="getAgreements(1)"
                         >搜索</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1">
            <!-- 中间列表 -->
               <el-table
                    :data="agreements"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="name"
                         label="名称"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="create_at"
                         label="创建时间">
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         width="180"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-row :gutter="10">
                                   <!-- <el-col :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;" >
                                        <el-button 
                                        type="primary"
                                        @click="$router.push({name: 'EditAgreement', query: {id: scope.row.id}});"
                                        >编&nbsp;&nbsp;辑</el-button>
                                   </el-col> -->
                                   <el-col 
                                        :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;"
                                        v-permission="'compliance:agreement:view'">
                                        <el-button 
                                        type="primary"
                                        @click="viewAgreement(scope.row.id)"
                                        >预览</el-button>
                                   </el-col>
                                   <el-col 
                                        :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;"
                                        v-permission="'compliance:agreement:del'">
                                        <el-popconfirm
                                        title="你确定要删除该协议吗"
                                        @confirm="deleteAgreement(scope.row.id)"
                                        >
                                             <el-button 
                                             slot="reference"
                                             type="danger">删 除</el-button>
                                        </el-popconfirm>
                                   </el-col>

                                   <el-col :span="22" :offset="1">
                                       <el-dialog title="协议预览" :visible.sync="showView">
                                           <el-scrollbar style="height:600px">
                                                <div v-html="info.content"></div>
                                           </el-scrollbar>
                                       </el-dialog>
                                   </el-col>
                              </el-row>
                              
                              
                              
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
        </el-row>
</template>

<script>
import {listAgreements, delAgreement, infoAgreement} from '@/api/exam/agreement';
export default {
     data() {
          return {
               page: {
                    total: 0,
                    pages: 0,
                    current: 1,
                    size: 10
               },
               agreements: [],
               query: {
                    keywords: "",
               },
               searchAgreementVisible: false,
               search: {
                   exam_id: 0,
                   select: 0,
                   resp: [] 
               },
               loading: false,
               info: {
                   content: "",
                   create_at: "",
                   update_at: "",
                   id: 0,
                   name: ""
               },
               showView: false
          };
     },
     mounted: function() {
          this.getAgreements(1)
     },
     methods: {
          getAgreements(current) {
              listAgreements(
                  this.$data.query.keywords,
                  current,
                  this.$data.page.size
              ).then(resp => {
                  this.$data.page = resp.data.page
                  this.$data.agreements = resp.data.list
              })
          },
          viewAgreement(id) {
              infoAgreement(id)
                .then(resp => {
                    this.$data.info = resp.data.info
                    this.$data.showView = true
                })
          },
          deleteAgreement(id) {
              delAgreement(id)
                .then(resp => {
                    this.notifyOperateSuccess("删除协议成功")
                    this.getAgreements(this.$data.page.current)
                })
          },
          notifyOperateSuccess: function(msg) {
               this.$notify({
                    title: '操作成功',
                    message: msg,
                    type: 'success'
               })
          },
     },
     computed: {
     }
}
</script>
<style scoped>
 .query {
     margin-top: 50px;
}
.page {
     margin-top: 20px;
}

.viewbox {
    height: 400px;
}
.el-scrollbar__bar.is-horizontal {
    display: none;
}
</style>