<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" class="top">
      <el-form ref="form" label-width="120px" size="mini" label-position="left">
        <el-form-item label="考试名称:" required>
          <el-input v-model="exam.name" />
        </el-form-item>
        <el-form-item label="考试平台:">
          <el-select v-model="exam.platform" disabled>
            <el-option v-for="(platform, idx) in platforms" :key="idx" :label="platform.name" :value="platform.value" />
          </el-select>
        </el-form-item>

        <el-form-item label="时间类型:" required>
          <el-radio v-model="exam.exam_type" label="1" @change="examTypeChange">固定起始时间</el-radio>
          <el-radio v-model="exam.exam_type" label="5" @change="examTypeChange">优能汇考试</el-radio>
          <el-radio v-model="exam.exam_type" label="2" @change="examTypeChange">固定时长内完成学习计划和考试</el-radio>
          <el-radio v-model="exam.exam_type" label="3" @change="examTypeChange">完成学习计划后自动考试</el-radio>
          <el-radio v-model="exam.exam_type" label="4" @change="examTypeChange">完成学习计划后手动考试</el-radio>
        </el-form-item>

        <el-form-item v-if="exam.exam_type > 2 ">
          <div v-if="exam.exam_type == 3">
            完成学习计划后
            <el-input v-model="exam.plan_days" placeholder="" class="examPass" />
            天内完成考试
          </div>
          <div v-if="exam.exam_type == 4">
            完成学习计划后
            <el-input v-model="exam.plan_days" placeholder="" class="examPass" />
            天内手动开启并完成考试
          </div>
        </el-form-item>

        <el-form-item label="开始时间:" required>
          <el-date-picker
            v-model="exam.start"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="请选择结束时间"
            :disabled="pharmacy?!pharmacy:exam_type_learn"
          />
        </el-form-item>
        <el-form-item label="结束时间:">
          <el-date-picker
            v-model="exam.end"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="请选择结束时间"
            :disabled="isTimeUnlimited"
          />
          <el-checkbox
            v-model="isTimeUnlimited"
            label="无限时"
            :disabled="exam_type_learn"
            @change="changeUnlimit"
          />
        </el-form-item>

        <el-form-item
          label="考试时间"
          size="mini"
        >
          <el-input v-model="exam.exam_time" placeholder="" class="examPass" />
        </el-form-item>

        <el-form-item
          v-show="pharmacy==false"
          label="考试次数"
          size="mini"
        >
          <el-input v-model="exam.exam_num" placeholder="" class="examPass" />
        </el-form-item>

        <el-form-item label="考试说明">
          <el-input v-model="exam.intro" type="textarea" />
        </el-form-item>

        <el-row :gutter="10">
          <el-col :span="11">
            <el-form-item
              label="可获得现金积分:"
              size="mini"
            >
              <el-input-number v-model="exam.cash" :min="0" label="可获得现金积分" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="可获得服务积分:">
              <el-input-number v-model="exam.point" :min="0" label="可获得服务积分" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              label="topN消费积分:"
              size="mini"
            >
              <el-input-number v-model="exam.top_n_money_point" :min="0" label="topN消费积分" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="topN服务积分:">
              <el-input-number v-model="exam.top_n_service_point" :min="0" label="topN服务积分" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="积分活动">
              <point-group-selector
                :disabled="infoGroup > 0"
                @change="setGroupId"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item v-show="pharmacy==false" label="补考开始时间:">
          <el-date-picker
            v-model="exam.up_exam_start"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="当考试结束时间存在时可选"
            :disabled="isTimeUnlimited"
          />
        </el-form-item>
        <el-form-item v-show="pharmacy==false" label="补考结束时间:">
          <el-date-picker
            v-model="exam.up_exam_end"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="当考试结束时间存在时可选"
            :disabled="isTimeUnlimited"
          />
        </el-form-item>

        <el-form-item
          v-show="pharmacy==false"
          label="补考时间"
          size="mini"
        >
          <el-input v-model="exam.up_exam_time" :disabled="isTimeUnlimited" placeholder="" class="examPass" />
        </el-form-item>

        <el-form-item
          label="考试次数"
          size="mini"
        >
          <el-input v-model="exam.up_exam_num" :disabled="isTimeUnlimited" placeholder="" class="examPass" />
        </el-form-item>

        <el-form-item v-show="pharmacy==false" label-width="0px">
          <el-checkbox v-model="exam.publish_answer" label="考试结束立即公布答案" />
        </el-form-item>
        <el-form-item v-show="pharmacy==false" label-width="0px">
          <el-checkbox v-model="exam.wrong_remind" label="是否答错提示" />
        </el-form-item>
        <el-form-item v-show="pharmacy==false" label-width="0px">
          <el-checkbox v-model="exam.is_review" label="是否可回顾" />
        </el-form-item>
        <el-form-item label-width="0px">
          <el-button
            type="primary"
            @click="searchValidTestPaperDialog=true"
          >选择试卷</el-button>
        </el-form-item>

        <el-form-item label-width="0px">
          <el-table
            :data="getTestPaper"
            style="width: 100%"
          >
            <el-table-column
              prop="name"
              label="试卷名称"
              width="width"
            />
            <el-table-column
              header-align="center"
              align="center"
              prop="type"
              label="出题方式"
            />
            <el-table-column
              header-align="center"
              align="center"
              prop="total_count"
              label="总题数"
            />
            <el-table-column
              header-align="center"
              align="center"
              prop="radio_count"
              label="单选题目"
            />
            <el-table-column
              header-align="center"
              align="center"
              prop="check_count"
              label="多选题"
            />
            <el-table-column
              header-align="center"
              align="center"
              label="操作"
            >
              <template slot-scope="scope">
                <el-popconfirm
                  title="你确定要删除该试卷吗"
                  @confirm="deleteTestPaper(scope.row.id)"
                >
                  <el-button
                    slot="reference"
                    type="danger"
                  >删除</el-button>
                </el-popconfirm>
              </template>
            </el-table-column>

          </el-table>
        </el-form-item>
        <el-form-item label="通过规则:">
          <!-- <p class="passCount">
                              该席卷共用{{ getTotalQuestionCount }}题,至少
                              <el-input v-model="exam.pass" placeholder="" class="examPass"></el-input>
                              答对题才能考试通过
                         </p> -->

          <p class="">
            <el-radio v-show="pharmacy==false" v-model="exam.pass_type" label="1">
              至少答对
              <el-input v-model="exam.pass" placeholder="" class="examPass" />
              题才能考试通过
            </el-radio>
            <el-radio v-model="exam.pass_type" label="2">
              至少取得
              <el-input v-model="exam.pass_fraction" placeholder="" class="examPass" />
              分才能考试通过
            </el-radio>
          </p>
        </el-form-item>
        <el-form-item v-show="pharmacy?!pharmacy:exam_type_learn==false" label="指定考试人员:">
          <el-button
            type="primary"
            @click="addAgentDialog=true"
          >添加人员</el-button>
        </el-form-item>
        <el-form-item label-width="0px">
          <el-table
            :data="exam.users"
            style="width: 100%"
          >
            <el-table-column
              prop="name"
              label="名称"
            />
            <el-table-column
              header-align="center"
              align="center"
              label="操作"
            >
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  @click="deleteUser(scope.$index)"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>

        <!-- excel -->
        <el-form-item v-show="pharmacy?!pharmacy:exam_type_learn==false" label="excel导入人员:">
          <el-button type="primary" class="newbutton" @click="downloadTemplate">下载模版</el-button>
          <el-col :span="3">
            <el-upload
              ref="upload"
              class="upload-demo"
              action="#"
              :auto-upload="true"
              :on-error="uploadError"
              :show-file-list="false"
              :before-upload="beforeUploadForm"
              :http-request="uploadhiteList"
            >
              <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
          </el-col>
        </el-form-item>
        <el-form-item v-show="user_excel_status" label-width="0px">
          <el-table
            :data="exam.users_excel"
            style="width: 100%"
          >
            <el-table-column
              prop="name"
              label="名称"
            />
            <!-- <el-table-column
                                   prop="phone"
                                   label="手机号">
                              </el-table-column> -->
          </el-table>
        </el-form-item>
        <el-form-item size="medium" label-width="0px" class="addForm">
          <el-button type="primary" :disabled="exam_excel_error" @click="editExam">保存</el-button>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :span="22" :offset="1">
      <el-dialog title="试卷搜索" center :visible="searchValidTestPaperDialog">
        <el-form label-width="120px">
          <el-form-item>
            <el-select
              v-model="search.select"
              filterable
              remote
              clearable
              reserve-keyword
              placeholder="请输入关键词"
              :remote-method="searchValid"
              :loading="loading"
            >
              <el-option
                v-for="item in search.resp"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="searchValidTestPaperDialog = false">取 消</el-button>
            <el-button type="primary" :disabled="!search.select" @click="addTestPaper">确 定</el-button>
          </span>
        </template>
      </el-dialog>
    </el-col>
    <items-list :items-data="exam.item_source_list" :items-list-bool="ItemsListBool" @closeLiveDialog="closeLiveDialog($event)" />

    <el-col :span="22" :offset="1">
      <add-agent
        v-if="addAgentDialog"
        :open="addAgentDialog"
        :users="exam.users"
        @close="closeAddAgent"
        @add="saveAgents"
      />
    </el-col>
  </el-row>
</template>
<script>
import { editExams, getExamValidTestPaper, infoExam, getExamItem, downloadTmp, fileSize, examsUsersListExp } from '@/api/exam/exam'
import AddAgent from '@/components/Exam/addAgent'
import ItemsList from '@/components/Exam/ItemsList'
import PointGroupSelector from '@/components/PointGroupSelector'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    AddAgent,
    ItemsList,
    PointGroupSelector
  },
  data: function() {
    return {
      id: 0,
      exam: {
        name: '',
        start: '',
        end: '',
        up_exam_start: '',
        up_exam_end: '',
        intro: '',
        cash: 0,
        point: 0,
        publish_answer: true,
        wrong_remind: false,
        test_papers: [],
        pass: 0,
        users: [],
        users_excel: [],
        item_source_list: [],
        UsersFilePath: '',
        pass_type: '1',
        pass_fraction: 0,
        up_exam_num: '',
        up_exam_time: '',
        exam_num: '',
        exam_time: '',
        is_review: true,
        exam_type: '1',
        plan_days: '',
        learn_bind: 0,
        platform: 0,
        group_id: 0,
        top_n_money_point: 0,
        top_n_service_point: 0
      },
      search: {
        keywords: '',
        resp: [],
        select: ''
      },
      isTimeUnlimited: true,
      loading: false,
      searchValidTestPaperDialog: false,
      addAgentDialog: false,
      pepa_id: [],
      liveDialogData: {
      },
      ItemsListBool: false,
      ItemSourceStatus: true,
      err_user_data: [],
      exam_excel_error: false,
      user_excel_status: false,
      user_status: false,
      pepa_id: [],
      exam_type_learn: false,
      pharmacy: false,
      platforms: [
        { value: 0, name: '优药' },
        { value: 1, name: '优佳医' },
        { value: 2, name: 'OTC小程序' },
        { value: 3, name: '药店关联小程序' }
      ],
      infoGroup: 0
    }
  },
  computed: {
    getPointPlatform: function() {
      switch (this.$data.exam.platform) {
        case 0: // 优药
          return 8 // PointPlatform:PLATFORM_NEW_AGENT
          break
        case 1: // 优佳医
          return 9 // PointPlatform:PLATFORM_NEW_DOCTOR
          break
        case 2: // otc
          return 5 // PointPlatform:PLATFORM_OTC
          break
        case 3: // pharmacy
          return 6 // PointPlatform:PLATFORM_PHARMACY
          break
        default:
          return 0 // // PointPlatform:PLATFORM_UNKNOWN
      }
    },
    getTestPaper() {
      return this.$data.exam.test_papers.map(function(val) {
        return {
          id: val.id,
          name: val.name,
          type: val.question_type == 0 ? '顺序出题' : '随机出题',
          total: val.single_count + val.multi_count,
          single_count: val.single_count,
          multi_count: val.multi_count,
          radio_count: val.radio_count,
          check_count: val.check_count,
          total_count: val.total_count
        }
      })
    },
    getTotalQuestionCount() {
      return this.$data.exam.test_papers.reduce(function(total, val) {
        return total + val.single_count + val.multi_count
      }, 0)
    }
  },
  mounted: function() {
    const examID = this.$route.query.id
    if (examID > 0) {
      this.$data.id = examID
      this.refreshExamInfo(examID)
    }
  },
  methods: {
    ...mapActions('pointGroup', ['initialize']),
    ...mapGetters('pointGroup', ['getDefaultId']),
    setGroupId(id) {
      this.$data.exam.group_id = id
    },

    // 普通考试时间类型/学习计划类型
    examTypeChange(rvl) {
      if (rvl == 1) {
        this.exam_type_learn = false
        this.pharmacy = false
      } else if (rvl == 5) { // 优能汇
        this.pharmacy = true
        this.exam.pass_type = '2'

        // 修改以下属性为空
        this.exam.start = this.exam.end = this.exam.up_exam_start = this.exam.up_exam_end = this.exam.up_exam_num = this.exam.up_exam_time = ''
        this.exam.users = this.exam.users_excel = this.exam.item_source_list = []
      } else {
        this.exam_type_learn = true
        this.isTimeUnlimited = true
        this.pharmacy = false

        // 修改以下属性为空
        this.exam.start = this.exam.end = this.exam.up_exam_start = this.exam.up_exam_end = this.exam.up_exam_num = this.exam.up_exam_time = ''
        this.exam.users = this.exam.users_excel = this.exam.item_source_list = []
      }
    },

    // 模版导出
    downloadTemplate() {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        downloadTmp,
        {},
        { responseType: 'blob' }
      ).then(function(response) {
        const a = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        const objectUrl = URL.createObjectURL(blob)
        a.setAttribute('href', objectUrl)
        a.setAttribute('download', '考试人员模板.xlsx')
        a.click()
      }).catch(function(error) {
        console.log(error)
      })
    },

    beforeUploadForm(file) {
      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName !== 'xls' && extName !== 'xlsx') {
        this.$message({
          showClose: true,
          message: '上传文件只能是 xls、xlsx格式！',
          type: 'error'
        })
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < fileSize
      if (!isLt1M) {
        var alertText = '上传文件大小不能超过' + fileSize + 'MB'
        this.$message({
          showClose: true,
          message: alertText,
          type: 'error'
        })
        return false
      }
    },

    uploadhiteList(file) {
      var that = this
      const fd = new FormData()
      fd.append('file', file.file)
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(examsUsersListExp, fd).then(function(response) {
        if (response.data.code === 20000) {
          that.exam.UsersFilePath = response.data.data.filePath
          that.user_excel_status = true
          if (Object.keys(response.data.data.err_data).length > 0) {
            that.$message({
              showClose: true,
              message: '部分用户信息异常 请查看下方列表',
              type: 'error'
            })
            that.exam.users_excel = response.data.data.err_data
            that.exam_excel_error = true
          } else {
            that.exam.users_excel = response.data.data.normal_data
            that.exam_excel_error = false
            that.$message({
              showClose: true,
              message: '已上传',
              type: 'success'
            })
          }
          console.log(response.data.data.normal_data)
        } else {
          that.$message({
            showClose: true,
            message: response.data.msg,
            type: 'error'
          })
        }
      })
    },

    uploadError(err, file, fileList) {
      console.log(err)
    },

    refreshExamInfo(id) {
      infoExam(id)
        .then(response => {
          if (response.data.info.users_excel.length > 0) {
            this.user_excel_status = true
          }
          this.$data.exam = response.data.info
          this.$data.exam.item_source_list = []
          this.pepa_id = response.data.info.test_paper_ids
          this.$data.exam.item_source_list = response.data.info.test_paper_items
          this.$data.isTimeUnlimited = response.data.info.end == ''
          this.$data.exam.UsersFilePath = ''

          if (response.data.info.exam_type > 1 && response.data.info.exam_type != 5) {
            this.exam_type_learn = true
            this.isTimeUnlimited = true
          } else if (response.data.info.exam_type == 5) {
            this.pharmacy = true
          }
          this.initialize({
            platform: this.getPointPlatform, // PointPlatform::PLATFORM_PHARMACY
            select: response.data.info.group_id
          })
          this.$data.infoGroup = response.data.info.group_id
        })
    },
    getPointPlatformFromPlatform(platform) {
      switch (platform) {
        case 0: // youyao
          return 4
        case 1: // youjiayi
      }
    },
    changeUnlimit() {
      if (this.$data.isTimeUnlimited) {
        this.$data.exam.end = this.$data.exam.up_exam_start =
                    this.$data.exam.exam_num = this.$data.exam.exam_time = this.$data.exam.up_exam_end =
                    this.$data.exam.up_exam_num = this.$data.exam.up_exam_time = ''
      }
    },
    deleteTestPaper(id) {
      const index = this.$data.exam.test_papers.findIndex(function(val) {
        return val.id == id
      })
      if (index != -1) {
        this.$data.exam.test_papers.splice(index, 1)
      }
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    editExam() {
      this.$data.exam.group_id = this.getDefaultId()
      if (this.$data.exam.group_id <= 0) {
        this.$notify({
          title: '操作失败',
          message: '请选择一个积分活动分组',
          type: 'error'
        })
        return
      }
      if (this.exam.learn_bind == 1) {
        this.$notify({
          title: '操作失败',
          message: '该考试已关联学习计划 不可操作编辑',
          type: 'error'
        })
        return false
      }

      if (this.exam_excel_error) {
        this.operationMsg('导入人员有误', 'error')
        return
      }
      const exam = this.$data.exam
      const testPaperId = exam.test_papers.length > 0 ? exam.test_papers[0].id : 0
      if (testPaperId == 0) {
        this.$notify({
          title: '操作失败',
          message: '请至少关联一份试卷',
          type: 'error'
        })
        return false
      }
      if (this.$data.exam.exam_type == 1 && this.$data.exam.users.length == 0 && exam.users_excel.length == 0) {
        this.$notify({
          title: '操作失败',
          message: '请至少指定一个考试人员',
          type: 'error'
        })
        return false
      }
      if (exam.exam_type > 2 && !exam.plan_days && !this.pharmacy) {
        this.$notify({
          title: '操作失败',
          message: '请输入正确的计划天数',
          type: 'error'
        })
        return false
      }
      editExams(
        this.$data.id,
        exam.name,
        exam.start,
        exam.end,
        exam.intro,
        exam.cash,
        exam.point,
        exam.publish_answer,
        exam.wrong_remind,
        testPaperId,
        exam.pass,
        exam.users,
        this.$data.exam.users_excel,
        exam.item_source_list,
        exam.pass_type,
        exam.pass_fraction,
        exam.UsersFilePath,
        exam.up_exam_end,
        exam.up_exam_start,
        exam.up_exam_num,
        exam.up_exam_time,
        exam.exam_num,
        exam.exam_time,
        exam.is_review,
        exam.exam_type,
        exam.plan_days,
        exam.platform,
        exam.group_id,
        exam.top_n_service_point,
        exam.top_n_money_point
      ).then(response => {
        this.$router.back()
      })
    },
    searchValid(query = '') {
      this.$data.loading = true
      this.$data.search.select = 0
      this.$data.search.resp = []
      const search = this.$data.search
      getExamValidTestPaper(0, query, 10)

        .then(response => {
          this.$data.search.resp = response.data.list
          this.$data.loading = false
        })
    },
    addTestPaper() {
      const searchId = this.$data.search.select
      this.ItemSourceStatus = false
      console.log('选择ID：' + searchId)
      const item = this.$data.search.resp.find(function(val) {
        return val.id == searchId
      })
      if (item != undefined) {
        this.$set(this.$data.exam.test_papers, 0, JSON.parse(JSON.stringify(item)))
        const kv = this.pepa_id.indexOf(searchId)
        if (kv == -1) {
          this.pepa_id = []
          this.pepa_id.push(searchId)
          // 获取该试卷下题目
          let exid = this.id
          if (exid != searchId) {
            exid = 0
          }
          getExamItem(searchId, exid)
            .then(response => {
              const itemSourceList = response.data
              this.$data.exam.item_source_list = itemSourceList
            })
        } else {
          this.$notify({
            title: '操作提示',
            message: '该试卷已存在',
            type: 'warning'
          })
        }
      }
      this.$data.searchValidTestPaperDialog = false
      this.$data.loading = false
    },

    closeAddAgent() {
      this.$data.addAgentDialog = false
    },
    saveAgents(agents) {
      const allAgents = this.$data.exam.users.concat(agents)
      this.$data.exam.users = allAgents
      this.$data.addAgentDialog = false
    },
    deleteUser(index) {
      this.$data.exam.users.splice(index, 1)
    },
    closeLiveDialog(status) {
      this.ItemSourceStatus = status
      this.ItemsListBool = false
    }
  }
}
</script>
<style scoped>
.top {
     margin-top: 50px;
}
.pointInput {
   width: 10em;
}

.cashInput {
     width: 10em;
}

.examPass {
     width: 5em;
}
.passCount {
     margin: 0px;
     color: rgb(144, 147, 153)
}
.addForm {
     margin-top: 20px;
     text-align: center;
}
</style>
