<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="考试名称">
            <el-input v-model="query.exam_name" />
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="选择年">
            <el-date-picker v-model="query.year" type="year" placeholder="选择年" style="width: 100%;" />
          </el-form-item>
        </el-col>

        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="1">
          <el-button v-permission="'exam:statis:search'" type="primary" @click="onSubmit">搜索</el-button>
        </el-col>

        <el-col :span="1">
            <el-button v-permission="'exam:statis:export'" style="margin-left: 20px;" @click="userExport()">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="area" label="大区" width="120" align="center"/>
      <el-table-column prop="num" label="应考人数" width="120" align="center"/>
      <el-table-column prop="join_exam_num" label="实际参加人数" width="120" align="center"/>
      <el-table-column prop="unjoin_exam_num" label="未参加人数" width="120" align="center"/>
      <el-table-column prop="fraction_one" label="分数=100" width="120" align="center"/>
      <el-table-column prop="fraction_tow" label="分数>=90" width="120" align="center"/>
      <el-table-column prop="fraction_Three" label="80<=分数<90" width="120" align="center"/>
      <el-table-column prop="fraction_four" label="70<=分数<80" width="120" align="center"/>
      <el-table-column prop="fraction_fif" label="60<=分数<70" width="120" align="center"/>
      <el-table-column prop="fraction_six" label="分数<60" width="120" align="center"/>
    </el-table>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as examApi from '@/api/exam/exam';
import * as summaryApi from '@/api/live/liveSummary'
import axios from 'axios'
import { getToken } from '@/utils/auth'
export default {
    filters: {
    filters_pass(total, pass){
      if(total>0 && pass>0) {
        return (pass / total) * 100 +'%'
      }else{
        return '-'
      }
    },
    filters_time(s, e){
      if(s && e) {
        return s +'  --  '+ e
      }else{
        if(!e)
        return s
      }
    },
   },

  name: 'ExamSummary',
  components: { Pagination },
  data() {
    return {
      types: [],
      query: {
        year: '',
        month: [],
        exam_name: '',
      },
        monthList: summaryApi.monthList,
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      
    }
  },
  created() {
    this.onSubmit()
  },
  methods: {

    getUsersExamPerformanceList() {
      examApi.exam_statis_per(this.query.year,this.query.month,this.query.exam_name).then(response => {
        this.list = response.data.list
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    onSubmit() {
      this.getUsersExamPerformanceList()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    userExport() {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.exam_statis_per_exp,
        {
         year: this.query.year,
         month: this.query.month,
         exam_name: this.query.exam_name
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
