<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="考试名称">
            <el-input v-model="query.exam_name" />
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="选择年">
            <el-date-picker v-model="query.year" type="year" placeholder="选择年" style="width: 100%;" />
          </el-form-item>
        </el-col>

        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="1">
          <el-button v-permission="'exam:summary:search'" type="primary" @click="onSubmit">搜索</el-button>
        </el-col>

        <el-col :span="1">
            <el-button v-permission="'exam:statis:export'" style="margin-left: 20px;" @click="userExport()">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="name" label="考试名称" width="200" align="center" />
      <el-table-column prop="exam_start" label="开始时间" width="120" align="center" />
      <el-table-column prop="exam_end" label="结束时间" width="120" align="center" />
      <el-table-column prop="phone" label="手机号" width="120" align="center" />
      <el-table-column prop="username" label="名称" width="120" align="center" />
      <el-table-column prop="updated_at" label="最后一次交卷时间" width="120" align="center"/>
      <el-table-column prop="fraction" label="得分" width="120" align="center"/>
      <el-table-column prop="rights_num" label="答对题数" width="120" align="center"/>
      <el-table-column prop="bst" label="通过情况" width="180" align="center">
        <template slot-scope="{row}">
          <template>
            <!-- <div v-if="row.bst == 1">未通过</div> -->
            <div v-if="row.bst == 2">通过</div>
            <div v-if="row.bst > 2">未通过</div>
            <div v-else /></template>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getUsersExamPerformanceList" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as examApi from '@/api/exam/exam';
import * as summaryApi from '@/api/live/liveSummary'
import axios from 'axios'
import { getToken } from '@/utils/auth'
export default {
  name: 'ExamDetail',
  components: { Pagination },
  data() {
    return {
      types: [],
      query: {
        year: '',
        month: [],
        exam_name: '',
        page: 1,
        page_size: 20
      },
        monthList: summaryApi.monthList,
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      
    }
  },
  created() {
    this.onSubmit()
  },
  methods: {

    getUsersExamPerformanceList() {
      examApi.exam_detail(this.query.year,this.query.month,this.query.exam_name,this.query.page,this.query.page_size).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.count = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    onSubmit() {
      this.query.page = 1
      this.getUsersExamPerformanceList()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    userExport(id) {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.exam_detail_exp,
        {
          id: id,
          exam_name: this.query.exam_name,
          year: this.query.year,
          month: this.query.month,
          page: this.query.page,
          page_size: this.query.page_size
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    passExport(id) {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.passExport,
        {
          id: id,
          exam_name: this.query.exam_name,
          start_date: this.query.start_date,
          end_date: this.query.end_date,
          type: this.query.type,
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
