<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="考试名称">
            <el-input v-model="query.exam_name" />
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="选择年">
            <el-date-picker v-model="query.year" type="year" placeholder="选择年" style="width: 100%;" />
          </el-form-item>
        </el-col>

        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="1">
          <el-button v-permission="'exam:performance:search'" type="primary" @click="onSubmit">搜索</el-button>
        </el-col>
        <el-col :span="1">
          <el-button v-permission="'exam:performance:exprot'" style="margin-left: 20px;" @click="userExport()">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="province" label="省份" width="80" align="center" />
      <el-table-column prop="city" label="城市" width="80" align="center" />
      <el-table-column prop="username" label="姓名" width="80" align="center" />
      <el-table-column prop="code" label="员工code" width="100" align="center" />
      <el-table-column prop="area" label="区域" width="80" align="center" />
      <el-table-column prop="bu" label="BU" width="80" align="center" />
      <el-table-column prop="join_time" label="入职时间" width="80" align="center" />
      <el-table-column prop="position" label="职位" width="80" align="center" />
      <el-table-column prop="phone" label="手机" width="80" align="center" />

      <el-table-column
          v-for="(item,index) in heard"
          :key="index"
          :label="item"
          align="center"
          show-overflow-tooltip
          width="200"
        >
          <template slot-scope="scope" v-if="scope.row.exam[index] && scope.row.exam[index].show == 1 && scope.row.exam[index].exam_name == item">
<!-- {{ scope.row.exam[index].fraction }} -->
              <!-- <div v-if="scope.row.exam[index].exam_num > 0 && scope.row.exam[index].status > 1 && scope.row.exam[index].fraction == 0">{{ scope.row.exam[index].fraction }}</div> -->
              <div v-if="scope.row.exam[index].exam_num == 0 && scope.row.exam[index].fraction == 0">未参加</div>
              <div v-else>{{ scope.row.exam[index].fraction }}</div>
            </template>
          <template v-else></template>

        </el-table-column>

      <!-- <el-table-column prop="start_time" label="通过率" width="180" align="center">
        <template slot-scope="{row}">
          <template>{{ row.total_num | filters_pass(row.pass_num) }}</template>
        </template>
      </el-table-column> -->
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getUsersExamPerformanceList" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as examApi from '@/api/exam/exam';
import * as summaryApi from '@/api/live/liveSummary'
import axios from 'axios'
import { getToken } from '@/utils/auth'
export default {
    filters: {
    filters_pass(total, pass){
      if(total>0 && pass>0) {
        return (pass / total) * 100 +'%'
      }else{
        return '-'
      }
    },
    filters_time(s, e){
      if(s && e) {
        return s +'  --  '+ e
      }else{
        if(!e)
        return s
      }
    },
   },

  name: 'ExamSummary',
  components: { Pagination },
  data() {
    return {
      types: [],
      query: {
        year: '',
        month: [],
        exam_name: '',
        page: 1,
        page_size: 20
      },
        monthList: summaryApi.monthList,
      // loading控制
      loading: true,
      // 列表数据
      list: [],

      heard: [],
      // 列表数量
      total: 0,
      
    }
  },
  created() {
    this.onSubmit()
  },
  methods: {

    getUsersExamPerformanceList() {
      examApi.performance(this.query.year,this.query.month,this.query.exam_name,this.query.page,this.query.page_size,).then(response => {
        this.list = response.data.list
        this.heard = response.data.heard
        this.total = response.data.total
        this.count = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    onSubmit() {
      this.query.page = 1
      this.getUsersExamPerformanceList()
    },
    
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    userExport() {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.exam_performance_exp,
        {
          year: this.query.year,
          month: this.query.month,
          exam_name: this.query.exam_name
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    passExport(id) {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.passExport,
        {
          id: id,
          exam_name: this.query.exam_name,
          start_date: this.query.start_date,
          end_date: this.query.end_date,
          type: this.query.type,
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
