<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="考试名称">
            <el-input v-model="query.exam_name" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="状态">
            <el-select v-model="query.type" placeholder="请选择状态">
              <el-option label="未开始" value="1" />
              <el-option label="进行中" value="2" />
              <el-option label="已结束" value="3" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="开始时间">
            <el-date-picker v-model="query.start_date" type="date" placeholder="选择日期" style="width: 100%;" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="结束时间">
            <el-date-picker v-model="query.end_date" type="date" placeholder="选择日期" style="width: 100%;" />
          </el-form-item>
        </el-col>

        <el-col :span="1">
          <el-button v-permission="'exam:summary:search'" type="primary" @click="onSubmit">搜索</el-button>
        </el-col>
        <el-col :span="1">
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" fixed="left" label="ID" width="100" sortable align="center" />
      <el-table-column prop="name" label="考试名称" width="200" align="center" />
      <el-table-column prop="start_time" label="起止时间" width="180" align="center">
        <template slot-scope="{row}">
          <template>{{ row.exam_start | filters_time(row.exam_end) }}</template>
        </template>
      </el-table-column>

      <el-table-column prop="total_num" label="应考人数" width="120" align="center" />
      <el-table-column prop="exam_num" label="已考人数" width="120" align="center" />
      <el-table-column prop="pass_num" label="通过人数" width="120" align="center" />
      <el-table-column prop="start_time" label="通过率" width="180" align="center">
        <template slot-scope="{row}">
          <template>{{ row.total_num | filters_pass(row.pass_num) }}</template>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="300" align="center">
          <template slot-scope="{row}">
        <el-row>
          <el-col :span="10">
            <el-button v-permission="'exam:summary:exportUser'" style="margin-left: 20px;" @click="userExport(row.id)">考试人员导出</el-button>
          </el-col>
          <el-col :span="10">
            <el-button v-permission="'exam:summary:exportPass'" style="margin-left: 20px;" @click="passExport(row.id)">通过率导出</el-button>
          </el-col>
        </el-row>
         </template>
      </el-table-column>

    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getUsersExamList" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as examApi from '@/api/exam/exam';
import axios from 'axios'
import { getToken } from '@/utils/auth'
export default {
    filters: {
    filters_pass(total, pass){
      if(total>0 && pass>0) {
        return (pass / total) * 100 +'%'
      }else{
        return '-'
      }
    },
    filters_time(s, e){
      if(s && e) {
        return s +'  --  '+ e
      }else{
        if(!e)
        return s
      }
    },
   },

  name: 'ExamSummary',
  components: { Pagination },
  data() {
    return {
      types: [],
      query: {
        exam_name: '',
        start_date: '',
        end_date: '',
        type: '',
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
    }
  },
  created() {
    this.onSubmit()
  },
  methods: {
    getUsersExamList() {
      examApi.getUsersExamList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.count = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    onSubmit() {
      this.query.page = 1
      this.getUsersExamList()
    },
    queryReset() {
      this.query = {
        exam_name: '',
        start_date: '',
        end_date: '',
        type: '',
        page: 1,
        page_size: 20
      }
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    userExport(id) {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.userExport,
        {
          id: id,
          exam_name: this.query.exam_name,
          start_date: this.query.start_date,
          end_date: this.query.end_date,
          type: this.query.type,
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    passExport(id) {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.passExport,
        {
          id: id,
          exam_name: this.query.exam_name,
          start_date: this.query.start_date,
          end_date: this.query.end_date,
          type: this.query.type,
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
