<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" style="margin-stop:50px" class="query">
      <!-- 头部搜索  -->
      <el-form ref="form" inline label-width="80px">
        <el-form-item>
          <el-button
            v-permission="'compliance:exam:add'"
            type="primary"
            @click="$router.push({name: 'AddExam'});"
          >新增考试</el-button>
        </el-form-item>
        <el-form-item>
          <el-input v-model="query.keywords" placeholder="" />
        </el-form-item>
        <el-form-item>
          <el-button
            v-permission="'compliance:exam:search'"
            type="primary"
            @click="searchExams"
          >搜索</el-button>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :span="22" :offset="1">
      <!-- 中间列表 -->
      <el-table
        :data="examList"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="name"
          label="考试名称"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="platform"
          label="平台"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="status"
          label="状态"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="time"
          label="起止时间"
        >
          <template slot-scope="scope">
            <p v-html="scope.row.time" />
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="total"
          label="应考人数"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="tested"
          label="已考人数"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="pass"
          label="通过人数"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="pass_rate"
          label="通过率"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="协议"
        >
          <template v-if="scope.row.with_agreement" slot-scope="scope">
            <el-link @click="viewAgreement(scope.row.agreement_id)">{{ scope.row.agreement_name }}</el-link>
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          width="180"
          label="操作"
        >
          <template slot-scope="scope">
            <el-row :gutter="10">
              <el-col
                v-permission="'compliance:exam:edit'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  type="primary"
                  @click="$router.push({name: 'EditExam', query: {id: scope.row.id}});"
                >编&nbsp;&nbsp;辑</el-button>
              </el-col>

              <el-col
                v-permission="'compliance:exam:edit'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  type="primary"
                  @click="editUpExamDate(scope.row.id)"
                >编辑补考时间</el-button>
              </el-col>

              <el-col
                v-if="scope.row.is_finished != '已结束'"
                v-permission="'compliance:exam:finish'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  type="primary"
                  @click="finishExam(scope.row.id)"
                >结&nbsp;&nbsp;&nbsp;&nbsp;束</el-button>
              </el-col>
              <el-col
                v-if="!scope.row.is_started"
                v-permission="'compliance:exam:delete'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-popconfirm
                  title="你确定要删除该考试吗"
                  @confirm="deleteExam(scope.row.id)"
                >
                  <el-button
                    slot="reference"
                    type="danger"
                  >删 除</el-button>
                </el-popconfirm>
              </el-col>
              <el-col
                v-permission="'compliance:exam:agreement'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  type="primary"
                  @click="selectAgreement(scope.row.id)"
                >关联协议</el-button>
              </el-col>
              <el-col
                v-permission="'compliance:exam:export'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  type="text"
                  @click="examExport(scope.row.id)"
                >导出</el-button>
              </el-col>
              <el-col :span="12" style="margin-bottom:5px">
                <el-button
                  style="margin-right:2px"
                  type="success"
                  size="mini"
                  @click="gotoTopN(scope.row.id)"
                >额外奖励</el-button>
              </el-col>
            </el-row>

          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :span="22" :offset="1" class="page">
      <!-- 底部分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :current-page="page.current"
        :page-size="page.size"
        :total="page.total"
        @current-change="current"
      />
    </el-col>

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="upExamData" label-position="right" :model="upExamData" label-width="120px" class="demo-ruleForm">
        <el-form-item label="开始时间:" required>
          <el-date-picker
            v-model="upExamData.exam_start"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="请选择结束时间"
          />
        </el-form-item>
        <el-form-item label="结束时间:">
          <el-date-picker
            v-model="upExamData.exam_end"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="请选择结束时间"
            :disabled="isTimeUnlimited"
          />
          <el-checkbox
            v-model="isTimeUnlimited"
            label="无限时"
            @change="changeUnlimit"
          />
        </el-form-item>
        <el-form-item
          label="考试时间"
          size="mini"
        >
          <el-input v-model="upExamData.exam_time" style="width: 120px" placeholder="" class="examPass" />
        </el-form-item>

        <el-form-item
          label="重考次数"
          size="mini"
        >
          <el-input v-model="upExamData.exam_num" style="width: 120px" placeholder="" class="examPass" />
        </el-form-item>
        <el-form-item label="补考开始时间:">
          <el-date-picker
            v-model="upExamData.up_exam_start"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="当考试结束时间存在时可选"
            :disabled="isTimeUnlimited"
          />
        </el-form-item>
        <el-form-item label="补考结束时间:">
          <el-date-picker
            v-model="upExamData.up_exam_end"
            value-format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            placeholder="当考试结束时间存在时可选"
            :disabled="isTimeUnlimited"
          />
        </el-form-item>
        <el-form-item
          label="补考时间"
          size="mini"
        >
          <el-input v-model="upExamData.up_exam_time" style="width: 120px" :disabled="isTimeUnlimited" />
        </el-form-item>

        <el-form-item
          label="重考次数"
          size="mini"
        >
          <el-input v-model="upExamData.up_exam_num" style="width: 120px" :disabled="isTimeUnlimited" />
        </el-form-item>
        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-col :span="22" :offset="1">
      <el-dialog title="协议搜索" center :visible="searchAgreementVisible" :before-close="close">
        <el-form label-width="120px">
          <el-form-item>
            <el-select
              v-model="search.select"
              filterable
              remote
              clearable
              reserve-keyword
              placeholder="请输入关键词"
              :remote-method="searchAgreement"
              :loading="loading"
            >
              <el-option
                v-for="item in search.resp"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="searchAgreementVisible = false">取 消</el-button>
            <el-button type="primary" @click="setAgreement">确 定</el-button>
          </span>
        </template>
      </el-dialog>
    </el-col>
    <el-col :span="22" :offset="1">
      <el-dialog title="协议预览" :visible.sync="showView">
        <el-scrollbar style="height:600px">
          <div v-html="info.content" />
        </el-scrollbar>
      </el-dialog>
    </el-col>
  </el-row>

</template>
<script>
import { listExams, deleteExam, finishExam, setAgreement, exportExam, editUpExamDate, editUpExamDateSub } from '@/api/exam/exam'
import moment from 'moment'
import { searchAgreement, infoAgreement } from '@/api/exam/agreement'
export default {
  data() {
    return {
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      exams: [],
      query: {
        keywords: '',
        status: 0
      },
      searchAgreementVisible: false,
      search: {
        exam_id: 0,
        select: 0,
        resp: []
      },
      loading: false,
      showView: false,
      info: {
        content: '',
        create_at: '',
        update_at: '',
        id: 0,
        name: ''
      },
      dialogVisible: false,
      upExamData: {
        exam_end: '',
        exam_start: '',
        up_exam_start: '',
        up_exam_end: ''
      },
      isTimeUnlimited: true
    }
  },
  computed: {
    examList() {
      return this.$data.exams.map(function(val) {
        let rate = 0
        if (val.valid > 0) {
          rate = Math.floor(val.passed / val.valid * 100)
        }
        let isFinished = false
        if (val.end) {
             isFinished = moment(val.end).isSameOrBefore(moment())
        }
        let isStarted = false
        if (val.start) {
          isStarted = moment(val.start).isSameOrBefore(moment())
        }

        if (val.status == 1) {
          isFinished = '未开始'
        } else if (val.status == 2) {
          isFinished = '进行中'
        } else {
          isFinished = '已结束'
        }

        const platformGet = function(platform) {
          platform = parseInt(platform)
          switch (platform) {
            case 1:
              return '优佳医'
            case 2:
              return 'OTC'

            case 3:
              return '药店关联小程序'
            default:
              return '优药'
          }
        }

        return {
          id: val.id,
          name: val.name,
          status: isFinished,
          time: `
                              ${val.start}<br/>
                              ~<br/>
                              ${val.end}
                         `,
          exported: moment().local().isAfter(val.start),
          total: val.total,
          tested: val.valid,
          pass: val.passed,
          pass_rate: `${rate} %`,
          is_finished: isFinished,
          is_started: isStarted,
          with_agreement: val.agreement_id > 0,
          agreement_id: val.agreement_id,
          agreement_name: val.agreement_name ? val.agreement_name : '未知',
          platform: platformGet(val.platform)
        }
      })
    }
  },
  mounted: function() {
    this.initExamList(1)
  },
  methods: {
    changeUnlimit() {
      if (this.isTimeUnlimited) {
        this.upExamData.exam_end = this.upExamData.up_exam_start = this.upExamData.up_exam_end =
                    this.upExamData.exam_num = this.upExamData.exam_time = this.upExamData.up_exam_num =
                    this.upExamData.up_exam_time = ''
      }
    },
    submit() {
      if (this.isTimeUnlimited == false) {
        if (this.upExamData.up_exam_start && this.upExamData.up_exam_start <= this.upExamData.exam_end) {
          this.operationMsg('补考开始时间不能小于考试结束时间！', 'error')
          return
        }

        if (this.upExamData.up_exam_end && this.upExamData.up_exam_end <= this.upExamData.up_exam_start) {
          this.operationMsg('补考结束时间不能小于补考开始时间时间！', 'error')
          return
        }

        if (this.upExamData.up_exam_start && !this.upExamData.up_exam_end) {
          this.operationMsg('补考结束时间不能为空！', 'error')
          return
        }
      }
      editUpExamDateSub(this.upExamData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },
    editUpExamDate(id) {
      editUpExamDate(id)
        .then(response => {
          this.upExamData = response.data.info
          if (!response.data.info.exam_end) {
            this.isTimeUnlimited = true
          } else {
            this.isTimeUnlimited = false
          }
          this.dialogVisible = true
          console.log(response.data.info.exam_end)
        })
    },
    showDiolog() {
      this.dialogVisible = true
    },
    close() {
      this.dialogVisible = false
      this.searchAgreementVisible = false
    },
    initExamList(current = 0) {
      if (current == 0) {
        current = this.$data.page.current
      }
      listExams(
        this.$data.query.keywords,
        this.$data.query.status,
        current,
        this.$data.page.size
      ).then(response => {
        this.$data.exams = response.data.list
        this.$data.page = response.data.page
      })
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    searchExams() {
      this.initExamList()
    },
    deleteExam(id) {
      const index = this.$data.exams.findIndex(elem => elem.id == id)
      deleteExam(id)
        .then(response => {
          this.$data.exams.splice(index, 1)
          this.notifyOperateSuccess('考试删除成功')
        })
    },
    finishExam(id) {
      console.log(id)
      const index = this.$data.exams.findIndex(elem => elem.id == id)
      console.log(index)
      finishExam(id)
        .then(response => {
          const item = this.$data.exams[index]
          item.status = 2
          item.end = this.now()
          this.notifyOperateSuccess('考试状态修改成功')
        })
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    now() {
      moment().local()
      return moment().format('YYYY-MM-DD HH:mm')
    },
    examExport(id) {
      exportExam(id)
        .then(resp => {
          this.notifyOperateSuccess('导出任务创建成功,可前往任务列表查看')
        })
    },
    current(page) {
      this.initExamList(page)
    },
    selectAgreement(examId) {
      // 搜索选择协议
      this.$data.search.exam_id = examId
      this.$data.search.resp = [
        { id: 0, name: '无协议' }
      ]
      this.$data.search.select = 0
      this.$data.searchAgreementVisible = true
    },
    searchAgreement(query = '') {
      searchAgreement(query)
        .then(resp => {
          const list = JSON.parse(JSON.stringify(resp.data.list))
          list.splice(0, 0, { id: 0, name: '无协议' })
          this.$data.search.resp = list
        })
    },
    setAgreement() {
      setAgreement(
        this.$data.search.exam_id,
        this.$data.search.select
      ).then(resp => {
        this.notifyOperateSuccess('考试协议修改成功')
        this.$data.searchAgreementVisible = false
        this.initExamList(this.$data.page.current)
      })
    },
    viewAgreement(id) {
      infoAgreement(id)
        .then(resp => {
          this.$data.info = resp.data.info
          this.$data.showView = true
        })
    },
    gotoTopN(examId) {
      this.$router.push(
        {
          name: 'TopNPointBatch',
          query: {
            biz_id: examId,
            type: 2
          }
        }
      )
    }
  }
}
</script>
<style scoped>
 .query {
     margin-top: 50px;
}
.page {
     margin-top: 20px;
}
</style>
