<template>
  <el-dialog title="大咖系列详情" :visible.sync="detailDialogData.detailVisible" :before-close="close" width="80%">
    <h3 style="margin-top: 20px;">基础信息</h3>
    <table class="table">
      <tr>
        <td class="td header">系列名称</td>
        <td class="td">{{ detailDialogData.dataList.title }}</td>
      </tr>
      <tr>
        <td class="td header">系列介绍</td>
        <td class="td">{{ detailDialogData.dataList.desc }}</td>
      </tr>
      <tr>
        <td class="td header">播放平台</td>
        <td class="td">{{ detailDialogData.dataList.platform_name }}</td>
      </tr>
      <tr>
        <td class="td header">开始时间</td>
        <td class="td">{{ detailDialogData.dataList.start_time }}</td>
      </tr>
      <tr>
        <td class="td header">结束时间</td>
        <td class="td">{{ detailDialogData.dataList.end_time }}</td>
      </tr>
      <tr>
        <td class="td header">最近更新时间</td>
        <td class="td">{{ detailDialogData.dataList.updated_at }}</td>
      </tr>
      <tr>
        <td class="td header">列表封面</td>
        <td class="td">
          <el-image v-for="item in detailDialogData.dataList.thumbnail_img" :key="item.url" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </td>
      </tr>
      <tr>
        <td class="td header">视频</td>
        <td class="td">
          <span v-for="item in detailDialogData.dataList.video" :key="item.id" :value="item.id" class="menu">{{ item.title }}</span>
        </td>
      </tr>
      <tr>
        <td class="td header">是否必须注册后观看</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.is_available==true">是</span>
          <span v-if="detailDialogData.dataList.is_available==false">否</span>
        </td>
      </tr>
    </table>

    <h3 style="margin-top: 20px;">分享设置</h3>
    <table class="table">
      <tr>
        <td class="td header">是否开启分享</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.allow_share==true">是</span>
          <span v-if="detailDialogData.dataList.allow_share==false">否</span>
        </td>
      </tr>
      <tr>
        <td class="td header">分享标题</td>
        <td class="td">{{ detailDialogData.dataList.share_title }}</td>
      </tr>
      <tr>
        <td class="td header">分享封面</td>
        <td class="td">
          <el-image v-for="item in detailDialogData.dataList.share_img" :key="item.url" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </td>
      </tr>
      <tr>
        <td class="td header">分享描述</td>
        <td class="td">{{ detailDialogData.dataList.share_desc }}</td>
      </tr>
    </table>

    <h3 style="margin-top: 20px;">分享设置</h3>
    <table class="table">
      <tr>
        <td class="td header">是否开启分享</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.allow_share==true">是</span>
          <span v-if="detailDialogData.dataList.allow_share==false">否</span>
        </td>
      </tr>
      <tr>
        <td class="td header">分享标题</td>
        <td class="td">{{ detailDialogData.dataList.share_title }}</td>
      </tr>
      <tr>
        <td class="td header">分享封面</td>
        <td class="td">
          <el-image v-for="item in detailDialogData.dataList.share_img" :key="item.url" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </td>
      </tr>
      <tr>
        <td class="td header">分享描述</td>
        <td class="td">{{ detailDialogData.dataList.share_desc }}</td>
      </tr>
    </table>

    <h3>播放数据</h3>
    <table class="table">
      <tr>
        <td class="td header">观看数量</td>
        <td class="td">{{ detailDialogData.dataList.read }}</td>
      </tr>
      <tr>
        <td class="td header">真实观看数量</td>
        <td class="td">{{ detailDialogData.dataList.real_read }}</td>
      </tr>
      <tr>
        <td class="td header">点赞数量</td>
        <td class="td">{{ detailDialogData.dataList.like }}</td>
      </tr>
      <tr>
        <td class="td header">收藏数量</td>
        <td class="td">{{ detailDialogData.dataList.collect }}</td>
      </tr>
      <tr>
        <td class="td header">评论数量</td>
        <td class="td">{{ detailDialogData.dataList.comment }}</td>
      </tr>
      <tr>
        <td class="td header">分享数量</td>
        <td class="td">{{ detailDialogData.dataList.share }}</td>
      </tr>
    </table>

    <h3>其他信息</h3>
    <table class="table">
      <tr>
        <td class="td header">排序数值</td>
        <td class="td">{{ detailDialogData.dataList.rank }}</td>
      </tr>
      <tr>
        <td class="td header">是否置顶</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.is_top==1">是</span>
          <span v-if="detailDialogData.dataList.is_top==0">否</span>
        </td>
      </tr>
      <tr>
        <td class="td header">当前状态</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.status==1">上架中</span>
          <span v-if="detailDialogData.dataList.status==2">已下架</span>
        </td>
      </tr>
    </table>
  </el-dialog>
</template>

<script>
export default {
  name: 'Detail',
  props: {
    detailDialogData: {
      type: Object,
      default: () => {
        return {
          detailVisible: {
            type: Boolean,
            default: false
          },
          dataList: {
            type: Array,
            default: {}
          }
        }
      }
    }
  },
  methods: {
    close() {
      var detailDialogData = {
        detailVisible: false,
        dataList: {}
      }
      this.$emit('closeDetailDialog', detailDialogData)
    }
  }
}
</script>

<style scoped>
  .el-dialog__body{
    padding: 0 20px 30px 20px;
  }
  h3 {
    margin-top: 40px;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .el-table thead {
      color: #606266;
      font-weight: 600;
  }
  .cell {
    text-align: center;
  }
  .menu {
    margin-left: 10px;
  }
</style>
