<template>
  <el-dialog title="创建/更新大咖系列" :visible.sync="seriesVisible" :before-close="close" width="80%">
    <el-form ref="seriesDialogData" label-position="right" :model="seriesDialogData" label-width="120px" class="demo-ruleForm">
      <el-divider />
      <h3>基础信息</h3>
      <el-row>
        <el-col :span="22">
          <el-form-item
            label="系列名称"
            prop="title"
            :rules="[
              { required: true, message: '请输入系列名称', trigger: 'blur' }
            ]"
          >
            <el-input v-model="seriesDialogData.title" placeholder="请输入系列名称" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item
        label="播放平台"
        prop="platform_name"
        :rules="[
          { required: true, message: '请至少选择一个选择播放平台', trigger: 'blur' }
        ]"
      >
        <el-checkbox-group v-model="seriesDialogData.platform_name">
          <el-checkbox label="代表公众号" />
          <el-checkbox label="代表APP" />
          <el-checkbox label="医生公众号" />
          <el-checkbox label="医生APP" />
        </el-checkbox-group>
      </el-form-item>

      <el-row>
        <el-col :span="22">
          <el-form-item label="内容介绍">
            <el-input v-model="seriesDialogData.desc" type="textarea" :autosize="{ minRows: 3, maxRows: 6}" placeholder="请输入内容介绍" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="11">
          <el-form-item
            label="开始时间"
            prop="start_time"
            :rules="[
              { required: true, message: '请输入开始时间', trigger: 'blur' }
            ]"
          >
            <el-date-picker v-model="seriesDialogData.start_time" type="datetime" placeholder="选择日期时间" style="width: 100%;" />
          </el-form-item>
        </el-col>
        <el-col class="line" :span="2" />
        <el-col :span="11">
          <el-form-item
            label="结束时间"
            prop="end_time"
            :rules="[
              { required: true, message: '请输入结束时间', trigger: 'blur' }
            ]"
          >
            <el-date-picker v-model="seriesDialogData.end_time" type="datetime" placeholder="选择日期时间" style="width: 100%;" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="列表图片"
            prop="thumbnail_img"
            :rules="[
              { required: true, message: '请上传图片', trigger: 'blur' }
            ]"
          >
            <ImgUpload
              :picList="seriesDialogData.thumbnail_img"
              :uploadData="uploadData"
              :sign="sign.listCover"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="报名表"
            prop="signup_sheet"
            :rules="[
              { required: true, message: '请选择报名表', trigger: 'blur' }
            ]"
          >
            <el-select v-model="seriesDialogData.signup_sheet" placeholder="请选择报名表">
              <el-option v-for="item in sheets" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item label="是否必须注册后观看" label-width="180px">
        <el-switch v-model="seriesDialogData.is_available" />
      </el-form-item>

      <el-divider />
      <h3>视频资源</h3>

      <el-row>
        <el-col :span="3">
          <el-button type="primary" class="newbutton" @click="showInnerMenuDialog">视频库</el-button>
        </el-col>
      </el-row>
      <el-table :data="seriesVideoForShow" stripe border style="width: 100%;margin-top: 10px;">
        <el-table-column prop="thumbnail_img" label="视频封面" width="120" align="center">
          <template slot-scope="{row}">
            <el-image :src="row.thumbnail_img[0].url" fit="contain" />
          </template>
        </el-table-column>
        <el-table-column prop="title" label="视频名称" align="center" />
        <el-table-column prop="url" label="链接地址" align="center" />
        <el-table-column prop="created_at" label="创建日期" align="center" />
        <el-table-column prop="" label="操作" width="220" align="center">
          <template slot-scope="{row}">
            <el-row>
              <el-col :span="8">
                <el-button type="primary" size="mini" @click="videoDetail(row)">查看</el-button>
              </el-col>
              <el-col :span="8">
                <el-button type="primary" size="mini" @click="updateVideoDetail(row)">编辑</el-button>
              </el-col>
              <el-col :span="8">
                <el-popconfirm
                  title="确定要删除该视频吗？"
                  confirm-button-text="确定"
                  cancel-button-text="取消"
                  @confirm="deleteVideo(row)"
                >
                  <el-button slot="reference" type="danger" size="mini">删除</el-button>
                </el-popconfirm>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
      </el-table>

      <el-divider />
      <h3>分享设置</h3>

      <el-form-item label="是否允许分享">
        <el-switch v-model="seriesDialogData.allow_share" />
      </el-form-item>

      <el-row>
        <el-col :span="22">
          <el-form-item label="分享标题">
            <el-input v-model="seriesDialogData.share_title" :disabled="seriesDialogData.allow_share===false" placeholder="请输入分享标题" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item label="分享封面">
            <ImgUpload
              :abled="seriesDialogData.allow_share===false"
              :picList="seriesDialogData.share_img"
              :uploadData="uploadData"
              :sign="sign.videoShareImg"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item label="分享描述">
            <el-input v-model="seriesDialogData.share_desc" :disabled="seriesDialogData.allow_share===false" type="textarea" :rows="4" placeholder="请输入内容" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item style="margin-top: 50px;">
        <el-button type="primary" @click="updateSeries('seriesDialogData')">确认提交</el-button>
        <el-button @click="close">取消</el-button>
      </el-form-item>
    </el-form>

    <el-dialog width="80%" title="视频详情" :visible.sync="videoDetailDialog" append-to-body>
      <h3 style="margin-top: 20px;">基础信息</h3>
      <table class="table">
        <tr>
          <td class="td header">视频名称</td>
          <td class="td">{{ videoCurrentDetailForShow.title }}</td>
        </tr>
        <tr>
          <td class="td header">所属系列</td>
          <td class="td">{{ videoCurrentDetailForShow.series_name }}</td>
        </tr>
        <tr>
          <td class="td header">链接地址</td>
          <td class="td">{{ videoCurrentDetailForShow.url }}</td>
        </tr>
        <tr>
          <td class="td header">专家</td>
          <td class="td">{{ videoCurrentDetailForShow.experts }}</td>
        </tr>
        <tr>
          <td class="td header">列表封面</td>
          <td class="td">
            <el-image v-for="item in videoCurrentDetailForShow.thumbnail_img" :key="item.url" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
          </td>
        </tr>
        <tr>
          <td class="td header">详情封面</td>
          <td class="td">
            <el-image v-for="item in videoCurrentDetailForShow.cover_img" :key="item.url" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
          </td>
        </tr>
        <tr>
          <td class="td header">是否开启评论</td>
          <td class="td">
            <span v-if="videoCurrentDetailForShow.allow_comment==true">是</span>
            <span v-if="videoCurrentDetailForShow.allow_comment==false">否</span>
          </td>
        </tr>
      </table>

      <h3 style="margin-top: 20px;">数据详情</h3>
      <table class="table">
        <tr>
          <td class="td header">观看量起始值</td>
          <td class="td">{{ videoCurrentDetailForShow.read_init }}</td>
        </tr>
        <tr>
          <td class="td header">PV倍数</td>
          <td class="td">{{ videoCurrentDetailForShow.read_pv_multiple }}</td>
        </tr>
        <tr>
          <td class="td header">收看量</td>
          <td class="td">{{ videoCurrentDetailForShow.read }}</td>
        </tr>
        <tr>
          <td class="td header">真实观看</td>
          <td class="td">{{ videoCurrentDetailForShow.read_uv }}</td>
        </tr>
        <tr>
          <td class="td header">点赞</td>
          <td class="td">{{ videoCurrentDetailForShow.like }}</td>
        </tr>
        <tr>
          <td class="td header">收藏</td>
          <td class="td">{{ videoCurrentDetailForShow.collected }}</td>
        </tr>
        <tr>
          <td class="td header">评论</td>
          <td class="td">{{ videoCurrentDetailForShow.comment }}</td>
        </tr>
      </table>
    </el-dialog>

    <el-dialog width="80%" title="视频库" :visible.sync="detailUpdateDialog" append-to-body>
      <el-form v-if="v_auto" :inline="true" class="demo-form-inline">
        <el-row>
          <el-col :span="12">
            <el-form-item label="视频">
              <el-autocomplete
                v-model="v_title"
                popper-class="el-autocomplete-suggestion"
                :popper-append-to-body="false"
                class="inline-input"
                :fetch-suggestions="querySearch"
                placeholder="请输入视频标题"
                @select="handleSelect"
              />
            </el-form-item>
          </el-col>

          <el-col :span="4">
            <el-button type="primary" @click="vAddVideos">添加</el-button>
          </el-col>
        </el-row>
      </el-form>

      <el-form ref="videoCurrentDetail" label-position="right" :model="videoCurrentDetail" label-width="120px" class="demo-ruleForm">
        <el-divider />
        <h3>基础信息</h3>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="视频名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入视频名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="videoCurrentDetail.title" disabled="disabled" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="链接地址"
              prop="url"
              :rules="[
                { required: true, message: '请输入链接地址', trigger: 'blur' }
              ]"
            >
              <el-input v-model="videoCurrentDetail.url" disabled="disabled" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="专家"
              prop="experts"
              :rules="[
                { required: true, message: '请输入专家', trigger: 'blur' }
              ]"
            >
              <el-input v-model="videoCurrentDetail.experts" disabled="disabled" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="列表图片"
              prop="thumbnail_img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'blur' }
              ]"
            >
              <el-image v-if="videoCurrentDetail.thumbnail_img[0].url" :src="videoCurrentDetail.thumbnail_img[0].url" fit="contain" />
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2" />
          <el-col :span="11">
            <el-form-item
              label="详情封面"
              prop="cover_img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'blur' }
              ]"
            >
              <el-image v-if="videoCurrentDetail.cover_img[0].url" :src="videoCurrentDetail.cover_img[0].url" fit="contain" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-divider />
        <h3>评论设置</h3>

        <el-form-item label="是否开启评论">
          <el-switch v-model="videoCurrentDetail.allow_comment" />
        </el-form-item>

        <el-divider />
        <h3>数据设置</h3>

        <el-row>
          <el-col :span="11">
            <el-form-item label="观看量起始值">
              <el-input v-model="videoCurrentDetail.read_init" placeholder="请输入观看量起始值" />
            </el-form-item>
          </el-col>
          <el-col :span="2" />
          <el-col :span="11">
            <el-form-item label="PV倍数">
              <el-input v-model="videoCurrentDetail.read_pv_multiple" placeholder="请输入PV倍数" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item style="margin-top: 50px;">
          <el-button type="primary" @click="createVideo('videoCurrentDetail')">新建/修改</el-button>
          <el-button @click="detailUpdateDialog=false">取消</el-button>
        </el-form-item>
      </el-form>

    </el-dialog>
  </el-dialog>
</template>

<script>
import { allSignSheet } from '@/api/signSheet/signSheet'
import { update, searchByVideoId } from '@/api/series/series'
import { getUploadToken } from '@/api/upload/upload'
import { allVideos, searchById } from '@/api/resources/video'
import ImgUpload from '@/components/ImgUpload'

export default {
  name: 'SeriesUpdate',
  components: { ImgUpload },
  props: {
    seriesVisible: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    seriesDialogData: {
      type: Object,
      default: () => {
        return {
          id: 0,
          title: '',
          platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP'],
          start_time: '',
          end_time: '',
          cover_img: [],
          thumbnail_img: [],
          desc: '',
          signup_sheet: '',
          allow_share: true,
          share_title: '',
          share_desc: '',
          share_img: [],
          video: [],
          is_available: false
        }
      }
    },
    seriesVideoForShow: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      sheets: [],
      videoName: '',
      videoDetailDialog: false,
      videoCurrentDetail: {
        id: 0,
        video_id: 0,
        title: '',
        url: '',
        experts: '',
        thumbnail_img: [
          [
            { 'url': '' }
          ]
        ],
        cover_img: [
          [
            { 'url': '' }
          ]
        ],
        allow_comment: true,
        read_init: 0,
        read_pv_multiple: 1
      },
      detailUpdateDialog: false,
      videoCurrentkey: -1,
      videoCurrentkeyForShow: -1,
      videoCurrentDetailForShow: {},

      v_List: [],
      v_title: '',
      v_id: 0,
      v_auto: true,

      // 七牛云上传
      sign: {
        listCover: 'listCover',
        detailCover: 'detailCover',
        videoListImg: 'videoListImg',
        videoDetailImg: 'videoDetailImg',
        videoShareImg: 'videoShareImg'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: ''
    }
  },
  created() {
    this.getSignSheet()
    this.getAllVideo()
  },
  methods: {
    getSignSheet() {
      allSignSheet().then(response => {
        if (response.code === 20000) {
          this.sheets = response.data
        }
      }).catch(() => {})
    },

    videoDetail(row) {
      if (row.id !== 0) {
        var query = { video_id: row.id }
        searchByVideoId(query).then(response => {
          if (response.code === 20000) {
            this.videoCurrentDetailForShow = response.data
            this.videoDetailDialog = true
          }
        }).catch(() => {})
      } else {
        this.videoCurrentDetailForShow = this.seriesDialogData.video[this.seriesDialogData.video.indexOf(row)]
        this.videoDetailDialog = true
      }
    },

    showInnerMenuDialog() {
      var videoCurrentDetail = {
        id: 0,
        video_id: 0,
        title: '',
        url: '',
        experts: '',
        thumbnail_img: [
          [
            { 'url': '' }
          ]
        ],
        cover_img: [
          [
            { 'url': '' }
          ]
        ],
        allow_comment: true,
        read_init: 0,
        read_pv_multiple: 1
      }
      this.videoCurrentDetail = videoCurrentDetail
      this.videoCurrentkey = -1
      this.videoCurrentkeyForShow = -1
      this.v_auto = true
      this.v_title = ''
      this.detailUpdateDialog = true
    },

    updateVideoDetail(row) {
      this.v_auto = false
      this.videoCurrentkey = this.seriesDialogData.video.indexOf(row)
      this.videoCurrentkeyForShow = this.seriesVideoForShow.indexOf(row)
      this.videoCurrentDetail = JSON.parse(JSON.stringify(row))
      this.detailUpdateDialog = true
    },

    createVideo(formName) {
      var temp = JSON.parse(JSON.stringify(this.seriesDialogData.video))
      if (this.videoCurrentkey !== -1) {
        temp.splice(this.videoCurrentkey, 1)
      } else {
        this.videoCurrentDetail.created_at = this.getNowFormatDate()
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          var video = [...this.seriesVideoForShow]
          if (this.videoCurrentkeyForShow !== -1) {
            video.splice(this.videoCurrentkeyForShow, 1)
          }
          video.unshift(this.videoCurrentDetail)
          this.$emit('update:seriesVideoForShow', video)
          if (this.videoCurrentkey !== -1) {
            this.seriesDialogData.video.splice(this.videoCurrentkey, 1)
          }
          this.seriesDialogData.video.unshift(this.videoCurrentDetail)
          console.log(this.seriesDialogData.video)
          console.log(this.seriesVideoForShow)
          this.detailUpdateDialog = false
        } else {
          return false
        }
      })
    },

    deleteVideo(row) {
      var index1 = this.seriesDialogData.video.indexOf(row)
      var video = [...this.seriesVideoForShow]
      var index2 = video.indexOf(row)
      if (index1 !== -1 && index2 !== -1) {
        this.seriesDialogData.video.splice(index1, 1)
        video.splice(index2, 1)
        this.$emit('update:seriesVideoForShow', video)
      }
      console.log(this.seriesDialogData.video)
      console.log(this.seriesVideoForShow)
    },

    updateSeries(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.seriesDialogData.start_time > this.seriesDialogData.end_time) {
            this.$parent.operationMsg('结束时间不能小于开始时间！', 'error')
          } else {
            update(this.seriesDialogData).then(response => {
              if (response.code === 20000) {
                this.$parent.operationMsg('提交成功！', 'success')
                this.close()
                this.$parent.search()
              }
            }).catch(() => {})
          }
        } else {
          return false
        }
      })
    },

    getAllVideo() {
      allVideos().then(response => {
        if (response.code === 20000) {
          this.v_List = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.v_List
      var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // 调用 callback 返回建议列表的数据
      cb(results)
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelect(item) {
      this.v_id = item.id
    },

    vAddVideos() {
      console.log(this.v_id)
      searchById({ video_id: this.v_id }).then(response => {
        if (response.code === 20000) {
          this.videoCurrentDetail.video_id = response.data.id
          this.videoCurrentDetail.title = response.data.title
          this.videoCurrentDetail.url = response.data.url
          this.videoCurrentDetail.experts = response.data.experts
          this.videoCurrentDetail.thumbnail_img = response.data.thumbnail_img
          this.videoCurrentDetail.cover_img = response.data.cover_img
        }
      }).catch(() => {})
    },

    getNowFormatDate() {
      var date = new Date()
      var hengGang = '-'
      var maoHao = ':'
      var month = date.getMonth() + 1
      var curDate = date.getDate()
      var curHours = date.getHours()
      var curMinutes = date.getMinutes()
      var curSeconds = date.getSeconds()

      if (month >= 1 && month <= 9) {
        month = '0' + month
      }
      if (curDate >= 0 && curDate <= 9) {
        curDate = '0' + curDate
      }
      if (curHours >= 0 && curHours <= 9) {
        curHours = '0' + curHours
      }
      if (curMinutes >= 0 && curMinutes <= 9) {
        curMinutes = '0' + curMinutes
      }
      if (curSeconds >= 0 && curSeconds <= 9) {
        curSeconds = '0' + curSeconds
      }

      var currentdate = date.getFullYear() + hengGang + month + hengGang + curDate +
        ' ' + curHours + maoHao + curMinutes +
        maoHao + curSeconds
      return currentdate
    },

    // 上传token
    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      console.log(data.sign)
      console.log(data.imgList)
      if (data.sign === 'listCover') {
        this.seriesDialogData.thumbnail_img = data.imgList
      } else if (data.sign === 'detailCover') {
        this.seriesDialogData.cover_img = data.imgList
      } else if (data.sign === 'videoListImg') {
        this.videoCurrentDetail.thumbnail_img = data.imgList
      } else if (data.sign === 'videoDetailImg') {
        this.videoCurrentDetail.cover_img = data.imgList
      } else if (data.sign === 'videoShareImg') {
        console.log(123)
        this.seriesDialogData.share_img = data.imgList
      }
    },

    close() {
      var seriesDialogData = {
        seriesVisible: false,
        form: {
          id: 0,
          title: '',
          platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP'],
          start_time: '',
          end_time: '',
          cover_img: [],
          thumbnail_img: [],
          desc: '',
          allow_share: true,
          share_title: '',
          share_desc: '',
          share_img: [],
          video: [],
          is_available: false
        }
      }
      this.$emit('closeSeriesDialog', seriesDialogData)
    }
  }
}
</script>

<style scoped>
  .el-autocomplete-suggestion {
    width: auto!important;
  }
.a {
    color: #1890ff;
    text-decoration: underline;
  }
.upbutton {
  display: flex;
}
.el-upload__tip {
  margin-left: 30px;
}
.demo-ruleForm {
  margin-top: 0;
}
h3 {
  margin-top: 10px;
}
.contentButton {
  margin-top: 20px;
  text-align: center;
}

.table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .el-table thead {
      color: #606266;
      font-weight: 600;
  }
  .cell {
    text-align: center;
  }
</style>
