<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" style="margin-top:20px" class="query">
      <!-- 头部搜索  -->
      <el-form ref="form" inline label-width="150px">
        <el-row>
          <el-col :span="10">
            <el-form-item label="认证姓名/手机号">
              <el-input v-model="searchKeywords" style="width: 200px" placeholder="认证姓名或手机号" />
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="认证状态">
              <el-select v-model="selectVerifyStatus" placeholder="请选择认证状态">
                <el-option label="全部" value="0" />
                <el-option label="未申请" value="1" />
                <el-option label="申请中" value="2" />
                <el-option label="已通过" value="3" />
                <el-option label="已拒绝" value="4" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="注册标识">
              <el-select v-model="submitted_type" placeholder="请选择注册标识">
                <el-option label="全部" value="0" />
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.type"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="结算标识">
              <el-select v-model="real_type" placeholder="请选择结算标识">
                <el-option label="全部" value="0" />
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.type"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item>
              <el-button
                type="primary"
                @click="searchUser()"
              >搜索</el-button>
              <el-button
                v-permission="'youyao:user:agent:export'"
                type="primary"
                @click="exportUser()"
              >导出</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-stop:50px">
      <!-- 中间列表 -->
      <el-table
        header-row-class-name="uhead"
        :data="userRenderList"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="name"
          label="用户名"
          width="180px"
        >
          <template slot-scope="{row}">
            {{ row.name }}
            <div>
              <el-tag v-if="row.is_supplier==1" size="mini" effect="dark">公司服务商</el-tag>
              <el-tag v-if="row.is_supplier==2" size="mini" effect="dark">个人服务商</el-tag>
              <el-tag v-if="row.is_supplier!=0&&row.is_supplier_leader==0" style="margin-left: 5px;" size="mini" effect="plain" type="success">成员</el-tag>
              <el-tag v-if="row.is_supplier!=0&&row.is_supplier_leader==1" style="margin-left: 5px;" size="mini" effect="plain" type="success">管理员</el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="true_name"
          label="认证姓名"
          width="100px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="company"
          label="所属公司"
          width="180px"
        >
          <template slot-scope="scope">
            {{ scope.row.company }}
            <el-link
              v-permission="'youyao:user:company:change'"
              type="danger"
              @click="changeCompany(scope.row.id)"
            >&nbsp;&nbsp;[变更]</el-link>
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="mobile"
          label="手机号"
          width="110px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="mobile"
          label="微信"
          width="180px"
        >
          <template slot-scope="scope">
            <wechat-column
              v-if="scope.row.wechats.length > 0"
              :wechats="scope.row.wechats"
            />
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="create_at"
          label="创建时间"
          width="160px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="status"
          label="帐户状态"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="verify_status"
          label="认证状态"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="subbmited_role"
          label="注册标识"
          width="120px"
        >
          <template slot-scope="{row}">
            <el-tag v-if="row.subbmited_role==1" size="mini" effect="dark">英联销售团队</el-tag>
            <el-tag v-if="row.subbmited_role==2" size="mini" effect="dark">优锐商务团队</el-tag>
            <el-tag v-if="row.subbmited_role==3" size="mini" effect="dark">优锐市场团队</el-tag>
            <el-tag v-if="row.subbmited_role==4" size="mini" effect="dark">优锐销售团队</el-tag>
            <el-tag v-if="row.subbmited_role==5" size="mini" effect="dark">优药销售团队</el-tag>
			<el-tag v-if="row.subbmited_role==6" size="mini" effect="dark">曙新区域代理商</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="real_role"
          label="结算标识"
          width="120px"
        >
          <template slot-scope="{row}">
            <el-tag v-if="row.real_role==1" size="mini" effect="plain" type="success">英联销售团队</el-tag>
            <el-tag v-if="row.real_role==2" size="mini" effect="plain" type="success">优锐商务团队</el-tag>
            <el-tag v-if="row.real_role==3" size="mini" effect="plain" type="success">优锐市场团队</el-tag>
            <el-tag v-if="row.real_role==4" size="mini" effect="plain" type="success">优锐销售团队</el-tag>
            <el-tag v-if="row.real_role==5" size="mini" effect="plain" type="success">优药销售团队</el-tag>
			<el-tag v-if="row.real_role==6" size="mini" effect="plain" type="success">曙新区域代理商</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="invite"
          label="邀请人"
        />
        <el-table-column
          header-align="center"
          align="center"
          width="200px"
          label="操作"
        >
          <template slot-scope="scope">
            <el-button
              v-if="scope.row.verify_op"
              v-permission="'youyao:user:verify'"
              type="primary"
              size="mini"
              @click="showVerify(scope.row.id, scope.row.origin_verify_status)"
            >认证</el-button>
            <el-button
              v-permission="'youyao:user:serve:list'"
              type="primary"
              size="mini"
              @click="$router.push({name: 'UserServeList', query: {uid: scope.row.id, user_name: scope.row.name}});"
            >服务列表</el-button>

          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :span="22" :offset="1" class="page">
      <!-- 底部分页 -->
      <el-pagination
        v-if="page.pages > 1"
        medium
        layout="prev, pager, next"
        :current-page="page.current"
        :total="page.total"
        @current-change="getPageData"
      />
    </el-col>
    <el-col>
      <el-drawer
        size="40%"
        title="认证信息"
        :visible.sync="drawer"
        direction="rtl"
      >

        <el-descriptions size="medium" :column="col" border>
          <el-descriptions-item label="真实姓名:">{{ verifyInfo.true_name }}</el-descriptions-item>
          <el-descriptions-item label="可服务医院:">
            <div
              v-for="(g,i) in verifyInfo.serve_hospitals"
              :key="i"
            >
              <el-link type="primary">{{ g.name }}</el-link>
            </div>
          </el-descriptions-item>

          <el-descriptions-item label="近期服务公司:">
            <el-card
              v-for="(g, i) in verifyInfo.serve_company"
              :key="i"
              class="box-card"
            >
              <el-descriptions size="medium" :column="col" border>
                <el-descriptions-item label="服务公司:">{{ g.company_name }}</el-descriptions-item>
                <el-descriptions-item label="产品:">{{ g.product }}</el-descriptions-item>
                <el-descriptions-item label="治疗领域:">{{ g.field.join(',') }}</el-descriptions-item>
                <el-descriptions-item label="适应症状:">{{ g.adaption.join(',') }}</el-descriptions-item>
              </el-descriptions>
            </el-card>
          </el-descriptions-item>

          <el-descriptions-item label="可服务城市:">{{ getVerifyServeCity }}</el-descriptions-item>

          <el-descriptions-item label="可服务公司:">{{ getVerifyServeCompany }}</el-descriptions-item>

          <el-descriptions-item label="熟悉的科室:">
            <el-link
              v-for="(g,i) in verifyInfo.department"
              :key="i"
              type="primary"
              style="margin-right:0.5em;"
            >{{ g.name }}</el-link>
          </el-descriptions-item>

          <el-descriptions-item label="擅长的服务方向:">
            <el-link
              v-for="(g,i) in verifyInfo.direction"
              :key="i"
              type="primary"
            >{{ g.name }}</el-link>
          </el-descriptions-item>
          <el-descriptions-item label="注册标识:">{{ getRole(verifyInfo.submitted_role_type) }}</el-descriptions-item>
          <el-descriptions-item label="结算标识:">
            <el-select v-model="verifyInfo.real_role_type" placeholder="请选择结算标识">
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-descriptions-item>
        </el-descriptions>

        <el-descriptions v-if="verifyInfo.is_supplier==true" size="medium" :column="col" border style="margin-top: 10px;">
          <el-descriptions-item label="服务商:">{{ verifyInfo.supplier.title }}</el-descriptions-item>
          <el-descriptions-item label="服务商所属公司:">{{ verifyInfo.supplier.company }}</el-descriptions-item>

          <el-descriptions-item label="代理产品:">
            <el-link
              v-for="(item,index) in verifyInfo.supplier.products"
              :key="index"
              type="primary"
              style="margin-right:0.5em;"
            >{{ item }}</el-link>
          </el-descriptions-item>
          <el-descriptions-item label="服务医院:">
            <div
              v-for="(item,index) in verifyInfo.supplier.hospitals"
              :key="index"
              type="primary"
              style="margin-right:0.5em;"
            >{{ item }}</div>
          </el-descriptions-item>
          <el-descriptions-item label="服务区域:">
            <div
              v-for="(item,index) in verifyInfo.supplier.areas"
              :key="index"
              type="primary"
              style="margin-right:0.5em;"
            >{{ item }}</div>
          </el-descriptions-item>
          <el-descriptions-item label="服务商管理员:">{{ verifyInfo.supplier.admin }}</el-descriptions-item>
          <el-descriptions-item label="服务商PDF:">
            <a :href="verifyInfo.supplier.pdf_url" target="_blank" style="color: #1890ff;">{{ verifyInfo.supplier.pdf_url }}</a>
          </el-descriptions-item>
          <el-descriptions-item label="结算标识:">{{ getRole(verifyInfo.supplier.role_type) }}</el-descriptions-item>
        </el-descriptions>

        <el-col :span="12" :offset="6" style="text-align:center;margin-top:3em;">
          <el-button size="medium" type="danger" @click="drawer = false">取 消</el-button>
          <el-button v-if="verifyStatus == 2" size="medium" type="success" @click="verifyPass()">认 证</el-button>
          <el-button v-if="verifyStatus == 2" size="medium" type="danger" @click="showRefuse()">拒 绝</el-button>
          <el-button v-if="verifyStatus == 3" size="medium" type="danger" @click="verifyCancel()">取消认证</el-button>
        </el-col>
      </el-drawer>
      <el-dialog
        title="拒绝原因"
        :visible.sync="verifyReasonShow"
        :modal="false"
        width="30%"
      >
        <el-input
          v-model="verifyReason"
          type="textarea"
          :rows="4"
          placeholder="请输入拒绝原因"
        />
        <span slot="footer" class="dialog-footer">
          <el-button @click="verifyReasonShow = false">取 消</el-button>
          <el-button type="primary" @click="verifyRefuse()">确 定</el-button>
        </span>
      </el-dialog>
    </el-col>
    <el-col :span="22" :offset="1">
      <el-dialog title="变更公司" :visible.sync="company_change.show" :before-close="closeBindCompany">
        <el-form ref="companyChangeRef" :model="company_change" :rules="company_change_rule">
          <el-form-item label="公司:" :label-width="formLabelWidth" prop="company_id">
            <el-select
              v-model="company_change.company_id"
              filterable
              remote
              reserve-keyword
              :remote-method="searchVaidCompany"
              :loading="loadingCompany"
            >
              <el-option
                v-for="item in company_change.items"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeBindCompany">取 消</el-button>
          <el-button type="primary" @click="submitCompanyChange">确 定</el-button>
        </div>
      </el-dialog>

    </el-col>
  </el-row>
</template>

<script>
import { userList, userVerify, getVerifyInfo, cancelVerify, types, exportUserList, rebindUserCompany } from '@/api/youyao/user'
import { searchCompany } from '@/api/youyao/company'
import WechatColumn from './wechatColumn.vue'

export default {
  components: { WechatColumn },
  data() {
    return {
      typeList: [],
      searchKeywords: '',
      keywords: '',
      users: [],
      selectVerifyStatus: '0',
      submitted_type: '0',
      real_type: '0',
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },

      verifyInfo: {
        true_name: '',
        serve_hospitals: [],
        company: {
          id: 0,
          name: ''
        },
        city: {
          id: 0,
          name: ''
        },
        serve_company: [],
        department: [],
        direction: '',
        submitted_role_type: '',
        real_role_type: ''
      },
      verifyReasonShow: false,
      verifyReason: '',
      verfyUid: 0,
      verifyStatus: 0,
      drawer: false,
      col: 1,
      inlineBorder: false,
      supplierInfo: {},
      company_change: {
        show: false,
        id: 0,
        company_id: 0,
        items: []
      },
      loadingCompany: false,
      formLabelWidth: '120',
      company_change_rule: {
        company_id: [
          { required: true, message: '公司不能为空', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    userRenderList() {
      return this.$data.users.map(function(val) {
        let verifyStatus = '未申请'
        let verifyOp = false
        switch (val.verify_status) {
          case 1:
            verifyStatus = '未申请'
            verifyOp = true
            break
          case 3:
            verifyStatus = '已认证'
            verifyOp = true
            break
          case 4:
            verifyStatus = '已拒绝'
            verifyOp = true
            break
          case 2:
            verifyStatus = '申请中'
            verifyOp = true
            break
          default:
            verifyStatus = '未申请'
        }

        return {
          'id': val.id,
          'name': val.name,
          'true_name': val.true_name,
          'company': val.company,
          'status': val.status == 1 ? '正常' : '禁用',
          'mobile': val.mobile,
          'create_at': val.create_at,
          'is_supplier': val.is_supplier,
          'is_supplier_leader': val.is_supplier_leader,
          'invite': val.invite,
          'verify_status': verifyStatus,
          'verify_op': verifyOp,
          'wechats': val.wechat,
          'origin_verify_status': val.verify_status,
          'subbmited_role': val.subbmited_role,
          'real_role': val.real_role
        }
      })
    },
    getVerifyHospitals() {
      return this.$data.verifyInfo.serve_hospitals.map(function(val) {
        return val
      })
    },

    getVerifyServeCity() {
      return this.$data.verifyInfo.city ? this.$data.verifyInfo.city.name : '-'
    },
    getVerifyServeCompany() {
      return this.$data.verifyInfo.company ? this.$data.verifyInfo.company.name : ''
    }
  },
  mounted() {
    this.getType()
    this.listUser()
  },
  methods: {
    getRole(role) {
      switch (role) {
        case 1:
          return '英联销售团队'
        case 2:
          return '优锐商务团队'
        case 3:
          return '优锐市场团队'
        case 4:
          return '优锐销售团队'
        case 5:
          return '优药销售团队'
		case 6:
		  return '曙新区域代理商'
        default:
          return ''
      }
    },
    getType() {
      types().then(response => {
        this.typeList = response.data
      })
    },

    showVerify(uid, verifyStatus) {
      getVerifyInfo(uid)
        .then(response => {
          console.log(uid)
          this.$data.verifyInfo = response.data.info
          this.$data.verifyStatus = verifyStatus
          this.$data.verifyUid = uid
          if (this.verifyInfo.real_role_type == 0) {
            this.verifyInfo.real_role_type = ''
          }
          this.drawer = true
        })
    },
    verifyCancel() {
      let uid = this.$data.verifyUid
      cancelVerify(uid)
        .then(response => {
          this.operationMsg('认证已取消', 'success')
          this.$data.drawer = false
          this.listUser()
        })
    },
    verifyPass() {
      let uid = this.$data.verifyUid
      let real_roal = this.verifyInfo.real_role_type
      userVerify(uid, 1, real_roal)
        .then(response => {
          this.operationMsg('认证操作成功', 'success')
          this.$data.verifyReasonShow = false
          this.$data.drawer = false
          this.listUser()
        })
    },
    showRefuse() {
      this.$data.verifyReasonShow = true
    },
    verifyRefuse() {
      let uid = this.$data.verifyUid
      let real_roal = this.verifyInfo.real_role_type
      let reason = this.$data.verifyReason
      userVerify(uid, 0, real_roal, reason)
        .then(response => {
          this.operationMsg('认证拒绝操作成功', 'success')
          this.$data.verifyReasonShow = false
          this.$data.drawer = false
          this.listUser()
        })
    },
    searchUser() {
      this.$data.keywords = this.$data.searchKeywords
      this.$data.page.current = 1
      this.listUser()
    },
    listUser() {
      userList(
        this.$data.keywords,
        this.$data.selectVerifyStatus,
        this.$data.submitted_type,
        this.$data.real_type,
        this.$data.page.current,
        this.$data.page.size)
        .then(response => {
          this.$data.page = response.data.page
          this.$data.users = response.data.list
        })
    },
    exportUser() {
      exportUserList(
        this.$data.keywords,
        this.$data.selectVerifyStatus,
        this.$data.submitted_type,
        this.$data.real_type)
        .then(response => {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        })
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
    getPageData(page) {
      this.$data.page.current = page
      this.listUser()
    },
    changeCompany(id) {
      const user = this.$data.users.find(elem => elem.id == id)
      if (user !== undefined) {
        this.$data.company_change.company_id = user.company_id
        this.$data.company_change.items = [{
          id: user.company_id,
          name: user.company
        }]
        this.$data.company_change.id = id
        this.$data.company_change.show = true
      }
    },
    searchVaidCompany(cb) {
      this.$data.loadingCompany = true
      searchCompany(cb)
        .then(resp => {
          this.$data.company_change.items = resp.data.list
          this.$data.loadingCompany = false
        }).catch((reason) => {
          this.$data.loadingCompany = false
        })
    },
    submitCompanyChange() {
      let that = this
      this.$refs['companyChangeRef'].validate(valid => {
        if (valid) {
          rebindUserCompany(that.$data.company_change.id, this.$data.company_change.company_id)
            .then(resp => {
              that.operationMsg('用户公司修改成功', 'success')
              that.$data.company_change.show = false
              that.listUser()
            })
        }
      })
    },
    closeBindCompany() {
      this.$data.company_change.show = false
      this.$data.company_change.company_id = 0
      this.$data.company_change.id = 0
      this.$data.company_change.items = []
    }
  }

}
</script>
<style scoped>
.serveCompanyTitle {
     font-size: 13px;
     margin-right:1em;
     color: #4c4c4c;
     }
.page {
     margin-top: 10px;
}

tr.uhead {
     font-size: 1.2em;
}
</style>
