<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="10">
          <el-form-item label="医院名称">
            <el-input v-model="query.hospital_name" />
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="药品名称">
            <el-select
              v-model="query.drug_id"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in drugList"
                :key="item.id"
                :label="item.series_name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="代表姓名">
            <el-input v-model="query.name" />
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="代表手机">
            <el-input v-model="query.phone" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="状态">
            <el-select
              v-model="query.status"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in statusList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="结算标识">
            <el-select
              v-model="query.real_role"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button v-permission="'hospitalService:hospital:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'hospitalService:hospital:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: -20px">
      <el-button v-permission="'hospitalService:hospital:export'" type="primary" @click="exportSign">导出数据</el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >

      <el-table-column prop="company" label="公司名称" align="center" />
      <el-table-column prop="hospital_no" label="医院编号" align="center">
        <template slot-scope="{row}">
          <div v-for="(one,index) in row.hospital_no" :key="index">
            {{ one }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="hospital_name" label="医院名称" align="center" />
      <el-table-column prop="series_name" label="系列名称" align="center" />
      <el-table-column prop="truename" label="代表姓名" align="center" />
      <el-table-column prop="nickname" label="微信昵称" align="center" />
      <el-table-column prop="mobile_num" label="手机号码" align="center" />
      <el-table-column prop="status" label="服务状态" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.status==0" size="mini" effect="dark">审批中</el-tag>
          <el-tag v-if="row.status==1" size="mini" effect="dark">审批通过</el-tag>
          <el-tag v-if="row.status==2" size="mini" effect="dark">审批不通过</el-tag>
          <el-tag v-if="row.status==3" size="mini" effect="dark">审批超时</el-tag>
          <el-tag v-if="row.status==4" size="mini" effect="dark">关系解除</el-tag>
          <el-tag v-if="row.status==5" size="mini" effect="dark">解除申请中</el-tag>
          <el-tag v-if="row.status==6" size="mini" effect="dark">解除申请未通过</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="real_role_type" label="结算标识" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.real_role_type==1" size="mini" effect="plain" type="success">英联销售团队</el-tag>
          <el-tag v-if="row.real_role_type==2" size="mini" effect="plain" type="success">优锐商务团队</el-tag>
          <el-tag v-if="row.real_role_type==3" size="mini" effect="plain" type="success">优锐市场团队</el-tag>
          <el-tag v-if="row.real_role_type==4" size="mini" effect="plain" type="success">优锐销售团队</el-tag>
          <el-tag v-if="row.real_role_type==5" size="mini" effect="plain" type="success">优药销售团队</el-tag>
		  <el-tag v-if="row.real_role_type==6" size="mini" effect="plain" type="success">曙新区域代理商</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_supplier" label="服务商信息" align="center">
        <template slot-scope="{row}">
          <el-popover
            v-if="row.is_supplier==1"
            placement="top-start"
            title=""
            width="200"
            trigger="hover"
            :content="row.pdf_url"
          >
            <a :href="row.pdf_url" target="_blank" style="color: #1890ff;">{{ row.pdf_url }}</a>
            <el-button slot="reference">公司服务商</el-button>
          </el-popover>
          <el-popover
            v-if="row.is_supplier==2"
            placement="top-start"
            title=""
            width="200"
            trigger="hover"
            :content="row.pdf_url"
          >
            <a :href="row.pdf_url" target="_blank" style="color: #1890ff;">{{ row.pdf_url }}</a>
            <el-button slot="reference">个人服务商</el-button>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="modify_time" label="更新时间" align="center" />
      <el-table-column label="操作" align="center">
        <template slot-scope="{row}">
          <el-button v-if="row.status == 1" type="text" size="mini" @click="adminUnbind(row.id)">解除绑定</el-button>
          <el-button v-if="row.status == 0" type="text" size="mini" @click="auditRefuse(row.id)">拒绝</el-button>
          <el-button v-if="row.status == 0" type="text" size="mini" @click="auditPass(row.id)">通过</el-button>
          <el-button v-if="row.status == 5" type="text" size="mini" @click="auditUnbindRefuse(row.id)">拒绝</el-button>
          <el-button v-if="row.status == 5" type="text" size="mini" @click="auditUnbindPass(row.id)">通过</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import { types } from '@/api/youyao/user'
import Pagination from '@/components/Pagination'
import * as hospital from '@/api/youyao/hospital'
import { serveAudit, serveUnbindAudit } from '@/api/youyao/user'

export default {
  name: 'HospitalList',
  components: { Pagination },
  data() {
    return {
      drugList: [],
      typeList: [],
      statusList: [
        { id: 0, name: '审批中' },
        { id: 1, name: '审批通过' },
        { id: 2, name: '审批不通过' },
        { id: 3, name: '审批超时' },
        { id: 4, name: '关系解除' },
        { id: 5, name: '解除申请中' },
        { id: 6, name: '解除申请未通过' }
      ],
      query: {
        hospital_name: '',
        drug_id: '',
        name: '',
        phone: '',
        status: '',
        real_role: '',
        page: 1,
        page_size: 20
      },
      loading: false,
      list: [],
      total: 0
    }
  },
  created() {
    this.getType()
    this.getDrugSeries()
    this.search()
  },
  methods: {
    getType() {
      types().then(response => {
        this.typeList = response.data
      })
    },

    getDrugSeries() {
      hospital.getDrugSeries().then(response => {
        this.drugList = response.data
      })
    },

    search() {
      this.loading = true
      hospital.searchHospital(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    auditRefuse(serveId) {
      serveAudit(serveId, 0).then(response => {
        this.operationMsg('服务申请审核已拒绝', 'success')
        this.search()
      })
    },
    auditPass(serveId) {
      serveAudit(serveId, 1).then(response => {
        this.operationMsg('服务申请审核已通过', 'success')
        this.search()
      })
    },
    auditUnbindRefuse(serveId) {
      serveUnbindAudit(serveId, 0).then(response => {
        this.operationMsg('服务申请审核已拒绝', 'success')
        this.search()
      })
    },
    auditUnbindPass(serveId) {
      serveUnbindAudit(serveId, 1).then(response => {
        this.operationMsg('服务申请审核已通过', 'success')
        this.search()
      })
    },
    adminUnbind(serveId) {
      this.$confirm('确认解绑该医院吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        serveUnbindAudit(serveId, 1).then(response => {
          this.operationMsg('已解绑该医院', 'success')
          this.search()
        })
      }).catch(() => {})
    },
    exportSign() {
      hospital.exportHospital(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log()
      })
    },

    queryReset() {
      this.query = {
        hospital_name: '',
        drug_id: '',
        name: '',
        phone: '',
        status: '',
        real_role: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
