<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right">

      <el-row :gutter="30">
        <el-col :span="12">
          <el-form-item label="认证姓名" label-width="80px">
            <el-input v-model="query.user_name" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="认证状态" label-width="120px">
            <el-select v-model="query.verify_state" placeholder="请选择">
              <el-option label="全部" value="" />
              <el-option label="未认证" value="0" />
              <el-option label="审核中" value="2" />
              <el-option label="已认证" value="1" />
              <el-option label="已拒绝" value="3" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'user:userauth:search'" type="primary" @click="onSubmit">搜索</el-button>
          <el-button v-permission="'user:userauth:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-dialog width="40%" title="拒绝原因输入" :visible.sync="refuseDialog" append-to-body>
      <el-form ref="refuse" label-position="right" label-width="80px" class="demo-ruleForm">
        <el-form-item label="原因">
          <el-input
            v-model="refuse_reason"
            type="textarea"
            :rows="2"
            placeholder="请输入原因输入"
          />
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="changeStateRefuse">确定</el-button>
          <el-button @click="refuseDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" fixed="left" label="id" align="center" />
      <el-table-column prop="user_name" label="用户名" align="center" />
      <el-table-column prop="true_name" label="认证姓名" align="center" />
      <el-table-column prop="sex" label="性别" align="center">
        <template slot-scope="{row}">
          <template v-if="row.sex==0">未知</template>
          <template v-if="row.sex==1">男</template>
          <template v-if="row.sex==2">女</template>
        </template>
      </el-table-column>
      <el-table-column prop="phone" label="认证手机" align="center" />
      <el-table-column prop="hospital" label="医院" align="center" />
      <el-table-column prop="depart" label="部门" align="center" />
      <el-table-column prop="level" label="级别" align="center" />
      <el-table-column prop="job" label="职称" align="center" />
      <el-table-column prop="expert_area" label="擅长领域" align="center" />
      <el-table-column prop="outpatient" label="门诊情况" align="center" />
      <el-table-column prop="user_verified" label="认证状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.user_verified==0">未认证</template>
          <template v-if="row.user_verified==1">已认证</template>
          <template v-if="row.user_verified==2">审核中</template>
          <template v-if="row.user_verified==3">已拒绝</template>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="200" align="center">
        <template slot-scope="{row}">
          <el-row v-if="row.user_verified==1">
            <el-col :span="24">
              <el-popconfirm
                title="确定要取消认证吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="cancelStatePass(row.id,row.auth_id)"
              >
                <!-- v-permission="'user:userauth:cancel'" -->
                <el-button slot="reference" type="danger" size="mini">取消认证</el-button>
              </el-popconfirm>
            </el-col>
          </el-row>
          <el-row v-if="row.user_verified==2">
            <el-col :span="12">
              <el-popconfirm
                title="确定要审核通过吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="changeStatePass(row.id,row.auth_id)"
              >
                <el-button slot="reference" v-permission="'user:userauth:pass'" type="primary" size="mini">通过</el-button>
              </el-popconfirm>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'user:userauth:refuse'" type="primary" size="mini" @click="showRefuseDialog(row.id,row.auth_id)">拒绝</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as userAuthApi from '@/api/userAuth/userAuth'
import Pagination from '@/components/Pagination'

export default {
  name: 'UserAuth',
  components: { Pagination },
  data() {
    return {
      // 搜索条件
      query: {
        user_name: '',
        verify_state: '',
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      user_id: '',
      auth_id: '',
      refuseDialog: false,
      refuse_reason: ''
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      userAuthApi.getList(this.query).then(response => {
        this.list = response.data.data
        this.total = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
      this.query = {
        user_name: '',
        verify_state: '',
        page: 1,
        page_size: 20
      }
    },

    showRefuseDialog(user_id, auth_id) {
      this.user_id = user_id
      this.auth_id = auth_id
      this.refuse_reason = ''
      this.refuseDialog = true
    },

    changeStatePass(user_id, auth_id) {
      var query = {
        auth_id: auth_id,
        user_id: user_id,
        state: 1,
        refuse_reason: ''
      }
      userAuthApi.changeVerifyState(query).then(response => {
        this.operationMsg('审核已通过！', 'success')
        this.search()
      }).catch(() => {})
    },

    changeStateRefuse() {
      var query = {
        auth_id: this.auth_id,
        user_id: this.user_id,
        state: 3,
        refuse_reason: this.refuse_reason
      }
      userAuthApi.changeVerifyState(query).then(response => {
        this.refuseDialog = false
        this.operationMsg('已拒绝！', 'error')
        this.search()
      }).catch(() => {})
    },

    cancelStatePass(user_id, auth_id) {
      var query = {
        auth_id: auth_id,
        user_id: user_id,
        state: 3,
        refuse_reason: ''
      }
      userAuthApi.changeVerifyState(query).then(response => {
        this.refuseDialog = false
        this.operationMsg('已取消！', 'error')
        this.search()
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }

}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
