<template>
  <el-row :gutter="10" style="margin-top: 25px;">
    <el-col :span="22" :offset="1" style="margin-bottom:10px;" class="query">
      <el-descriptions size="mini">
        <el-descriptions-item label="用户:">
          <el-tag
            v-if="userInfo.uid > 0"
            :column="one"
            closable
            @close="clearUser()"
          >
            {{ userInfo.name }}
          </el-tag>
        </el-descriptions-item>
      </el-descriptions>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-stop:50px">
      <!-- 中间列表 -->
      <el-table
        :data="userRenderList"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="name"
          label="用户名"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="series_name"
          label="药品名"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="hospital_name"
          label="医院名"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="pro"
          label="所属省份"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="apply_time"
          label="创建时间"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="statusDesc"
          label="服务状态"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="操作"
        >
          <template slot-scope="scope">
            <el-popconfirm
              v-if="scope.row.status == 0"
              title="是否通过该服务申请？"
              confirm-button-text="通过"
              cancel-button-text="拒绝"
              @confirm="auditPass(scope.row.id)"
              @cancel="auditRefuse(scope.row.id)"
            >
              <el-button slot="reference">服务审核</el-button>
            </el-popconfirm>
            
            <el-popconfirm
              v-if="scope.row.status == 5"
              title="是否通过该解绑申请？"
              confirm-button-text="通过"
              cancel-button-text="拒绝"
              @confirm="auditUnbindPass(scope.row.id)"
              @cancel="auditUnbindRefuse(scope.row.id)"
            >
              <el-button slot="reference">解绑审核</el-button>
            </el-popconfirm>
            
            <el-popconfirm
              v-if="scope.row.status == 1"
              title="确认解除绑定？"
              confirm-button-text="解除"
              cancel-button-text="取消"
              @confirm="adminUnbind(scope.row.id)"
            >
              <el-button slot="reference">解除绑定</el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col v-if="page.pages > 1" :span="22" :offset="1" class="page">
      <!-- 底部分页 -->
      <el-pagination
        large
        layout="prev, pager, next"
        :current-page="page.current"
        :total="page.total"
        @current-change="getPageData"
      />
    </el-col>
  </el-row>
</template>

<script>
import { serveList, serveAudit, serveUnbindAudit } from '@/api/youyao/user'
export default {
  data() {
    return {
      uid: 0,
      hospitalId: 0,
      seriesId: 0,
      start: '',
      end: '',
      serves: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      showAudit: false,
      userInfo: {
        uid: 0,
        name: ''
      },
      one: 1
    }
  },
  computed: {
    userRenderList() {
      return this.$data.serves.map(function(val) {
        //     关系解除4、审批超时3、审批通过 1 、审批不通过2、审批中0     解除申请中5    解除申请未通过 6
        let serveStatus = '未知'
        switch (val.status) {
          case 3:
            serveStatus = '审批超时'
            break
          case 1:
            serveStatus = '审批通过'
            break
          case 2:
            serveStatus = '审批不通过'
            break
          case 0:
            serveStatus = '申请中'
            break
          case 5:
            serveStatus = '解除申请中'
            break
          case 6:
            serveStatus = '解除申请未通过'
            break
          case 4:
            serveStatus = '关系解除'
            break
        }
        return {
          'id': val.id,
          'name': val.user_name,
          'series_name': val.series_name,
          'hospital_name': val.hospital_name,
          'pro': val.pro,
          'apply_time': val.apply_time,
          'status': val.status,
          'statusDesc': serveStatus
        }
      })
    }
  },
  mounted() {
    let uid = this.$route.query.uid
    if (uid > 0) {
      let name = this.$route.query.user_name
      this.$data.userInfo = { uid: uid, name: name }
      this.$data.uid = uid

      this.listServe()
    }
  },
  methods: {
    clearUser() {
      let uid = this.$data.userInfo.uid
      if (uid > 0) {
        this.$data.userInfo = { uid: 0, name: '' }
        this.listServe()
      }
    },
    auditRefuse(serveId) {
      serveAudit(serveId, 0)
        .then(response => {
          this.operationMsg('服务申请审核已拒绝', 'success')
          this.$data.showAudit = false
          this.listServe()
        })
    },
    auditPass(serveId) {
      serveAudit(serveId, 1)
        .then(response => {
          this.operationMsg('服务申请审核已通过', 'success')
          this.$data.showAudit = false
          this.listServe()
        })
    },
    auditUnbindRefuse(serveId) {
      serveUnbindAudit(serveId, 0)
        .then(response => {
          this.operationMsg('服务申请审核已拒绝', 'success')
          this.$data.showAudit = false
          this.listServe()
        })
    },
    auditUnbindPass(serveId) {
      serveUnbindAudit(serveId, 1)
        .then(response => {
          this.operationMsg('服务申请审核已通过', 'success')
          this.$data.showAudit = false
          this.listServe()
        })
    },
    adminUnbind(serveId) {
      this.$confirm('确认解绑该医院吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        serveUnbindAudit(serveId, 1).then(response => {
          this.operationMsg('已解绑该医院', 'success')
          this.search()
        })
      }).catch(() => {})
    },
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
    listServe() {
      //  uid = 0, hospital_id = 0, series_id = 0, start ="", end = "", current = 1, limit =10
      serveList(
        this.$data.uid,
        this.$data.hospitalId,
        this.$data.seriesId,
        this.$data.start,
        this.$data.end,
        this.$data.page.current,
        this.$data.page.size
      ).then(response => {
        this.$data.serves = response.data.list
        this.$data.page = response.data.page
      })
    },
    getPageData(page) {
      this.$data.page.current = page
      this.listServe()
    }
  }

}
</script>
<style scoped>
.page {
     margin-top: 20px;
     font-size: 1.5em;
     }
</style>
