<template>
    <div style="text-align:left">
        <el-popover
            v-for="(g, i) in wechatItems"
            v-bind:key="i"
            placement="right"
            width="400"
            trigger="hover">
                <div class="describe">
                    <span>微信名: </span>&nbsp;&nbsp;<span>{{g.name}}</span>
                </div>
                <div class="describe">
                    <span>是否订阅: </span>&nbsp;&nbsp;
                    <i :class="g.icon"></i>
                </div>
                <div class="describe">
                    <span>微信来源: </span>&nbsp;&nbsp;<span>{{g.wechat_type}}</span>
                </div>
                <div class="describe">
                    <span>首次关注时间: </span>&nbsp;&nbsp;<span>{{g.create_time}}</span>
                </div>
                <el-button style="border: none;color: #409eff" ype="text" slot="reference">{{g.wechat_type}}:&nbsp;&nbsp;{{g.name}}</el-button>
            </el-popover>
    </div>
    
</template>
<script>
export default {
    name: "WechatColumn",
    props: ["wechats"],
    computed: {
        wechatItems() {
            return this.wechats.map(function(v) {
                let tm = new Map()
                tm.set(1, "优药公众号")
                tm.set(2, "优佳医")
                tm.set(3, "优药app")
                let wm = tm.has(v.wechat_type) ? tm.get(v.wechat_type): '未知'
                let icon = v.subscribe == 1 ? 'el-icon-success': 'el-icon-error'
                let color= v.subscribe == 1 ? 'green' : 'red'
                return {
                    'id': v.id,
                    'name': v.nickname,
                    'is_subscribe': v.subscribe == 1,
                    'icon': icon,
                    'color': color,
                    'wechat_type': wm,
                    'create_time': v.create_time
                }
            })
        }
    }
}
</script>
<style scoped>
.describe {
    margin-bottom:1em;
}

.el-icon-success {
    color: green;
}

.el-icon-error {
    color: red;
}
</style>