<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'youjiayi:version:add'" type="primary" class="newbutton" @click="showDiolog">新增版本</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="app_version" label="版本号" align="center" />
      <el-table-column prop="" label="是否强制更新" align="center">
        <template slot-scope="{row}">
          <template v-if="row.is_forced_update==1">是</template>
          <template v-if="row.is_forced_update==0">否</template>
        </template>
      </el-table-column>
      <el-table-column prop="version_info" label="版本说明" align="center" />
      <el-table-column prop="os_type" label="操作系统" align="center" />
      <el-table-column prop="" label="下载链接" align="center">
        <template slot-scope="{row}">
          <a :href="row.download_url" class="a">{{ row.download_url }}</a>
        </template>
      </el-table-column>
      <el-table-column prop="created_admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'youjiayi:version:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'youjiayi:version:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="新增/编辑版本" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="版本号"
              prop="app_version"
              :rules="[
                { required: true, message: '请输入版本号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.app_version" placeholder="请输入版本号" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="版本说明" prop="version_info">
              <el-input v-model="formData.version_info" type="textarea" :rows="2" placeholder="请输入版本说明" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="操作系统"
              prop="os_type"
              :rules="[
                { required: true, message: '请选择操作系统', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.os_type" placeholder="请选择操作系统">
                <el-option label="Android" value="Android" />
                <el-option label="IOS" value="IOS" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="2" />
          <el-col :span="11">
            <el-form-item label="是否强制更新" label-position="right">
              <el-switch v-model="formData.is_forced" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="下载链接"
              prop="url"
              :rules="[
                { required: true, message: '请填写下载链接', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.url" readonly placeholder="请填写下载链接" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="APP包上传"
              prop="guide_img"
              :rules="[
                { required: true, message: '包上传', trigger: 'change' }
              ]"
            >
              <PackUpload
                :picList="formData.guide_img"
                :uploadData="uploadData"
                :sign="sign.appPackUpload"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as versionApi from '@/api/version/version'
import PackUpload from '@/components/PackUpload'

export default {
  name: 'Version',
  components: { PackUpload },
  data() {
    return {
      loading: true,
      list: [],
      formData: {
        id: 0,
        app_version: '',
        version_info: '',
        is_forced: false,
        os_type: 'Android',
        url: '',
        type: 2,
        guide_img: []
      },
      sign: {
        appPackUpload: 'appPackUpload'
      },
      dialogVisible: false,
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: ''
    }
  },
  created() {
    this.search()
    this.getToken()
  },
  methods: {
    setImg(data) {
      this.formData.url = data.packUrl[0]['url']
    },

    // 获取token
    getToken() {
      versionApi.getToken(2).then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    search() {
      versionApi.list({ type: 2 }).then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    detail(id) {
      versionApi.detail({ id: id, type: 2 }).then(response => {
        this.formData = response.data
        this.dialogVisible = true
      }).catch(() => {})
    },

    submit() {
      versionApi.update(this.formData).then(response => {
        this.operationMsg('提交成功！', 'success')
        this.reset()
        this.search()
        this.dialogVisible = false
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除该版本吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        versionApi.deleted({ id: id, type: 2 }).then(response => {
          this.operationMsg('删除成功！', 'success')
          this.search()
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        id: 0,
        app_version: '',
        version_info: '',
        is_forced: false,
        os_type: 'Android',
        url: '',
        type: 2,
        guide_img: []
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
