<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'otc:version:add'" type="primary" class="newbutton" @click="showDiolog">新增版本</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="version" label="版本号" align="center" />
      <el-table-column prop="is_checking" label="状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.is_checking==1">审核中</template>
          <template v-if="row.is_checking==2">已通过</template>
        </template>
      </el-table-column>
      <el-table-column prop="created_admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="100px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="24">
              <el-button v-permission="'otc:version:pass'" type="primary" size="mini" @click="pass(row.id)">通过</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="新增/编辑版本" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="版本号"
              prop="version"
              :rules="[
                { required: true, message: '请输入版本号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.version" placeholder="请输入版本号" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="状态"
              prop="is_checking"
              :rules="[
                { required: true, message: '请选择状态', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.is_checking">
                <el-option
                  v-for="item in checkList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>


        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as versionApi from '@/api/version/otcversion'

export default {
  name: 'OtcVersion',
  components: { },
  data() {
    return {
      loading: true,
      list: [],
      checkList: [
        { id: 1, value: '审核中'},
        { id: 2, value: '已通过'}
      ],
      formData: {
        version: '',
        is_checking: ''
      },
      dialogVisible: false
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      versionApi.list().then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    submit() {
      versionApi.update(this.formData).then(response => {
        this.operationMsg('提交成功！', 'success')
        this.reset()
        this.search()
        this.dialogVisible = false
      }).catch(() => {})
    },

    pass(id) {
      versionApi.pass({ id: id }).then(response => {
        this.operationMsg('提交成功！', 'success')
        this.reset()
        this.search()
        this.dialogVisible = false
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        version: '',
        is_checking: ''
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
