<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'youjiayi:versioncheck:add'" type="primary" class="newbutton" @click="showDiolog">新增审核版本</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="app_version" label="版本号" align="center" />
      <el-table-column prop="channel" label="渠道" align="center">
        <template slot-scope="{row}">
          <el-tag
            v-for="(item,index) in row.channel"
            :key="index"
            style="margin-right: 5px;margin-top: 5px;"
          >
            {{ item }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="phone" label="账号(手机号)" align="center" />
      <el-table-column prop="psd" label="密码" align="center" />
      <el-table-column prop="user_id" label="关联账号id" align="center" />
      <el-table-column prop="status" label="状态" align="center">
        <template slot-scope="{row}">
          <div class="status publishstatus">
            <template v-if="row.status==1">审核中</template>
            <template v-if="row.status==2">已通过</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="created_admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'youjiayi:versioncheck:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'youjiayi:versioncheck:pass'" type="primary" size="mini" @click="pass(row.id)">通过</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="新增/编辑版本" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="版本号"
              prop="app_version"
              :rules="[
                { required: true, message: '请输入版本号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.app_version" placeholder="请输入版本号" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="渠道类型"
              prop="channel"
              :rules="[
                { required: true, message: '请选择渠道类型', trigger: 'blur' }
              ]"
            >
              <el-checkbox-group v-model="formData.channel">
                <el-checkbox v-for="item in channels" :key="item.id" :label="item.id">{{ item.title }}</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="账号(手机号)"
              prop="phone"
              :rules="[
                { required: true, message: '请输入账号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.phone" placeholder="请输入账号" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="密码"
              prop="psd"
              :rules="[
                { required: true, message: '请输入密码', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.psd" placeholder="请输入密码" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as versionApi from '@/api/version/version-check'

export default {
  name: 'VersionForCheck',
  components: { },
  data() {
    return {
      loading: true,
      channels: [],
      list: [],
      formData: {
        id: 0,
        app_version: '',
        channel: [],
        phone: '',
        psd: '',
        type: 2
      },
      dialogVisible: false
    }
  },
  created() {
    this.channel()
    this.search()
  },
  methods: {
    channel() {
      versionApi.channel().then(response => {
        this.channels = response.data
      }).catch(() => {})
    },

    search() {
      versionApi.list({ type: 2 }).then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    detail(id) {
      versionApi.detail({ id: id, type: 2 }).then(response => {
        this.formData = response.data
        this.dialogVisible = true
      }).catch(() => {})
    },

    submit() {
      versionApi.update(this.formData).then(response => {
        this.operationMsg('提交成功！', 'success')
        this.reset()
        this.search()
        this.dialogVisible = false
      }).catch(() => {})
    },

    pass(cid) {
      this.$confirm('确认改变状态为通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        versionApi.pass({ id: cid, type: 2 }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('提交成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        id: 0,
        app_version: '',
        channel: [],
        phone: '',
        psd: '',
        type: 2
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
