<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="直播名称">
            <el-input v-model="query.live_name" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="直播平台">
            <el-select v-model="query.platform" placeholder="请选择平台">
              <el-option label="全部" value="" />
              <el-option label="代表公众号" value="1" />
              <el-option label="代表APP" value="2" />
              <el-option label="医生公众号" value="3" />
              <el-option label="医生App" value="4" />
              <el-option label="力蜚能小程序" value="5" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="开始时间">
            <el-date-picker v-model="query.start_date" type="date" placeholder="选择日期" style="width: 100%;" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="结束时间">
            <el-date-picker v-model="query.end_date" type="date" placeholder="选择日期" style="width: 100%;" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="项目类型">
            <el-select v-model="query.live_type" placeholder="请选择类型">
              <el-option v-for="item in types1" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="项目名称">
            <el-select v-model="query.live_sub_type" placeholder="请选择名称">
              <el-option v-for="item in types2" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="直播状态">
            <el-select v-model="query.live_state" placeholder="请选择状态">
              <el-option label="直播中" value="1" />
              <el-option label="未开始" value="2" />
              <el-option label="已结束(有回顾)" value="3" />
              <el-option label="已结束(无回顾)" value="4" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="显示状态">
            <el-select v-model="query.status" placeholder="请选择状态">
              <el-option label="已上架" value="1" />
              <el-option label="已下架" value="2" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'live:live:search'" type="primary" @click="onSubmit">搜索</el-button>
          <el-button v-permission="'live:live:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'live:live:create'" type="primary" class="newbutton" @click="createNewLive">新建直播</el-button>
      </el-col>
      <el-col :span="18">
        <div class="count">共{{ total }}场直播，其中{{ count.count1 }}场直播中、{{ count.count2 }}场未开始、{{ count.count3 }}场已结束、{{ count.count4 }}场上架中、{{ count.count5 }}场已下架</div>
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="newbutton" @click="updateEs">索引同步</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" fixed="left" label="ID" width="100" sortable align="center" />
      <el-table-column prop="title" fixed="left" label="直播名称" width="200" align="center" />
      <el-table-column prop="type" fixed="left" label="统计" width="120" align="center">
        <template slot-scope="{row}">
          <el-button v-permission="'live:live:analysis'" type="primary" :disabled="row.live_state==1||row.live_state==2" size="mini" @click="getAnalysisData(row.id,row.title)">统计</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="compere_name" label="讲者" width="180" align="center" />
      <el-table-column prop="thumbnail_img" label="直播封面" width="180" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.thumbnail_img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="start_time" label="开始时间" width="180" align="center" />
      <el-table-column prop="end_time" label="结束时间" width="180" align="center" />
      <el-table-column prop="live_type" label="项目类型" width="120" align="center">
        <template slot-scope="{row}">
          <template v-if="row.live_type==1">自办会</template>
          <template v-if="row.live_type==2">三方赞助会</template>
        </template>
      </el-table-column>
      <el-table-column prop="live_sub_type" label="项目名称" width="120" align="center">
        <template slot-scope="{row}">
          <template v-if="row.live_sub_type==3">大咖说</template>
          <template v-if="row.live_sub_type==4">空中课堂</template>
          <template v-if="row.live_sub_type==5">全国学术会议</template>
          <template v-if="row.live_sub_type==6">区域学术会议</template>
          <template v-if="row.live_sub_type==7">城市会/沙龙会</template>
          <template v-if="row.live_sub_type==8">内部会议</template>
          <template v-if="row.live_sub_type==9">其它</template>
          <template v-if="row.live_sub_type==10">含卫星会/专题会</template>
          <template v-if="row.live_sub_type==11">无卫星会/专题会</template>
          <template v-if="row.live_sub_type==12">其它</template>
        </template>
      </el-table-column>

      <el-table-column prop="categroy_name" label="项目分类" width="180" align="center" />
      <el-table-column prop="product_name" label="产品" width="180" align="center" />
      <el-table-column prop="location" label="区域" width="120" align="center">
        <template slot-scope="{row}">
          <template v-if="row.location==2">中央</template>
          <template v-if="row.location==1">区域</template>
        </template>
      </el-table-column>
      <el-table-column prop="area_name" label="大区" width="180" align="center" />
      <el-table-column prop="province_name" label="省份" width="180" align="center" />
      <el-table-column prop="hospital" label="医院" width="180" align="center" />
      <el-table-column prop="depart_name" label="科室" width="180" align="center" />
      <el-table-column prop="live_state" label="直播状态" width="120" align="center">
        <template slot-scope="{row}">
          <div
            class="status"
            :class="{ inlive:row.live_state==1, publishstatus:row.live_state==2 }"
          >
            <template v-if="row.live_state==1">直播中</template>
            <template v-if="row.live_state==2">未开始</template>
            <template v-if="row.live_state==3">已结束(有回顾)</template>
            <template v-if="row.live_state==4">已结束(无回顾)</template>
          </div>
          <el-popconfirm
            v-if="row.live_state==1"
            title="确定要结束该直播吗？"
            confirm-button-text="确定"
            cancel-button-text="取消"
            @confirm="endLive(row.id)"
          >
            <el-button slot="reference" v-permission="'live:live:end'" type="primary" size="mini">结束</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
      <el-table-column prop="allow_review" label="是否有直播回顾" width="120" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.allow_review==1,outstatus:row.allow_review==2}">
            <template v-if="row.allow_review==1">是</template>
            <template v-if="row.allow_review==2">否</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="显示状态" width="100" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.status==1,outstatus:row.status==2}">
            <template v-if="row.status==1">已上架</template>
            <template v-if="row.status==2">已下架</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="is_top" label="是否置顶" width="80" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.is_top==1,outstatus:row.is_top==0}">
            <template v-if="row.is_top==0">否</template>
            <template v-if="row.is_top==1">是</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="rank" label="排序" width="100" sortable align="center" />
      <el-table-column prop="" label="操作" width="300" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="6">
              <el-button v-permission="'live:live:detail'" type="primary" size="mini" @click="showDetailDialog(row.id)">查看</el-button>
            </el-col>
            <el-col :span="6">
              <el-button v-permission="'live:live:update'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="showUpdateDialog(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="6">
              <el-button v-if="row.is_top==0" v-permission="'live:live:top'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="topLive(row.id)">置顶</el-button>
              <el-button v-if="row.is_top==1" v-permission="'live:live:cancelTop'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="cancelTopLive(row.id)">取消置顶</el-button>
            </el-col>
            <el-col :span="6">
              <el-button v-permission="'live:live:intercative'" type="primary" size="mini" @click="$router.push({name: 'LiveInteractive', query: {id: row.id}})">互动</el-button>
            </el-col>
          </el-row>
          <el-row class="buttonrow">
            <el-col :span="6">
              <el-button v-permission="'live:live:rank'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="showRankDialog(row.id, row.rank)">排序</el-button>
            </el-col>
            <el-col :span="6">
              <el-popconfirm
                v-if="row.status==1"
                title="确定要下架该直播吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="outLive(row.id)"
              >
                <el-button slot="reference" v-permission="'live:live:out'" :disabled="row.is_deleted==1" type="danger" size="mini">下架</el-button>
              </el-popconfirm>
              <el-button v-if="row.status==2" v-permission="'live:live:publish'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="publishLive(row.id)">上架</el-button>
            </el-col>
            <el-col :span="6">
              <el-button v-if="row.is_deleted==0" v-permission="'live:live:delete'" type="danger" size="mini" @click="deleteConfirm(row.id)">删除</el-button>
              <el-button v-if="row.is_deleted==1" type="danger" size="mini" disabled>已删除</el-button>
            </el-col>
            <el-col :span="6">
              <el-button v-permission="'live:live:copy'" size="mini" @click="copyCreate(row.id)">复制新建</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <Rank :rankDialogData="rankDialogData" @closeRankDialog="closeRankDialog($event)" />
    <Detail :detailDialogData="detailDialogData" @closeDetailDialog="closeDetailDialog($event)" />
    <LiveUpdate ref="liveUpdate" :liveDialogData="liveDialogData" @closeLiveDialog="closeLiveDialog($event)" />
    <Analysis ref="analysis" :analysisData="analysisData" @closeAnalysis="closeAnalysis($event)" />
  </div>
</template>

<script>
import * as liveApi from '@/api/live/live'
import Pagination from '@/components/Pagination'
import Rank from '@/components/Rank'
import Detail from './components/Detail'
import LiveUpdate from './components/LiveUpdate'
import Analysis from './components/Analysis'
import { province } from '@/api/live/live'

export default {
  name: 'Live',
  components: { Pagination, Rank, Detail, LiveUpdate, Analysis },
  data() {
    return {
      // 直播类型
      types1: [],
      types2: [],
      // 搜索条件
      query: {
        live_name: '',
        platform: '',
        start_date: '',
        end_date: '',
        live_type: '',
        live_sub_type: '',
        live_state: '',
        status: '',
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      // 展示数量
      count: {
        count1: 0,
        count2: 0,
        count3: 0,
        count4: 0,
        count5: 0
      },
      // rank子控件传值
      rankDialogData: {
        dialogVisible: false,
        id: 0,
        oldRank: 0,
        flag: 0
      },
      // detail子控件传值
      detailDialogData: {
        detailVisible: false,
        dataList: {},
        province_name: {}
      },
      // 新建更新子控件
      liveDialogData: {
        liveVisible: false,
        meetingSearch: true,
        newLiveForm: {
          id: 0,
          meeting_id: 0,
          meeting_name: '',
          meeting_apply_id: 0,
          meeting_apply_name: '',
          meeting_apply_phone: '',
          meeting_admin_id: 0,
          meeting_admin: '',
          meeting_host_id: 0,
          meeting_host: '',
          mk_code: '',
          type1: '',
          type2: '',
          type3: '',
          title: '',
          area: '',
          province: '',
          location: '',
          hospital: '',
          hospital_id: 0,
          hospital_no: '',
          depart: '',
          depart_id: '',
          product: '',
          timelines: [],
          chairmans: [],
          speakers: [],
          platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP', '力蜚能小程序'],
          cover_img: [],
          thumbnail_img: [],
          running_text_up: '',
          running_text_down: '',
          signup_sheet: '',
          pullflow_url: '',
          weizan_url: '',
          approval_no: '',
          label: [],
          is_out: 2,
          is_available: true,
          menu: [{
            menu_title: '评论',
            content: ''
          }],
          allow_comment: true,
          allow_share: true,
          share_title: '',
          share_desc: '',
          share_img: [],
          allow_review: false,
          review_url: '',
          read_init: 0,
          read_pv_multiple: 1,
          content_img: [],
          file_path: '',
          white_list: [],
          menu_off_line: [{
            menu_title: '会议日程',
            content: ''
          }],
          off_line_img_detail: [],
          content_img_off_line: [],
          share_poster: [],
          is_online: '',
          meeting_category_status_dt: false,
          address: '',
          open_location: false,
          lon: '',
          lat: '',
          scope: ''
        }
      },
      analysisData: {
        analysisVisible: false,
        title: ''
      }
    }
  },
  created() {
    this.getType1()
    this.onSubmit()
  },
  watch: {
    'query.live_type'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null) {
        liveApi.getType2(newVal).then(response => {
          this.types2 = response.data
        }).catch(() => {})
      }
    }
  },
  methods: {
    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    search() {
      liveApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.count = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.query.page = 1
      this.search()
    },
    queryReset() {
      this.query = {
        live_name: '',
        platform: '',
        start_date: '',
        end_date: '',
        live_type: '',
        live_sub_type: '',
        live_state: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },

    topLive(liveId) {
      var that = this
      var query = { live_id: liveId }
      liveApi.top(query).then(response => {
        if (response.data.live_id !== 0) {
          that.operationMsg('置顶成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    cancelTopLive(liveId) {
      var that = this
      var query = { live_id: liveId }
      liveApi.cancelTop(query).then(response => {
        if (response.data.live_id !== 0) {
          that.operationMsg('取消置顶成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    publishLive(liveId) {
      var that = this
      var query = { live_id: liveId }
      liveApi.publish(query).then(response => {
        if (response.data.live_id !== 0) {
          that.operationMsg('上架成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    outLive(liveId) {
      var that = this
      var query = { live_id: liveId }
      liveApi.out(query).then(response => {
        if (response.data.live_id !== 0) {
          that.operationMsg('下架成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    endLive(liveId) {
      var that = this
      var query = { live_id: liveId }
      that.loading = true
      liveApi.end(query).then(response => {
        if (response.data.live_id !== 0) {
          that.operationMsg('直播已结束！', 'success')
          that.loading = false
          that.search()
        }
      }).catch(() => {})
    },

    deleteConfirm(liveId) {
      this.$confirm('确认删除该直播吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var query = { live_id: liveId }
        liveApi.deleted(query).then(response => {
          if (response.data.live_id !== 0) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    copyCreate(liveId) {
      liveApi.copyCreate({ live_id: liveId }).then(response => {
        this.operationMsg('已复制 id为'+response.data.live_id+'，请修改其他信息并上架', 'success')
        this.search()
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    // rank子组件
    showRankDialog(liveId, oldRank) {
      this.rankDialogData.dialogVisible = true
      this.rankDialogData.id = liveId
      this.rankDialogData.oldRank = oldRank
      this.rankDialogData.flag = 1
    },

    closeRankDialog(data) {
      this.rankDialogData = data
    },

    // detail子组件
    showDetailDialog(liveId) {
      var that = this
      var query = { live_id: liveId }
      liveApi.detail(query).then(response => {
        if (response.code === 20000) {
          var province_name = ''
          for (var i = 0; i < province.length; i++) {
            if (province[i].id === response.data.province) {
              province_name = province[i].title
            }
          }
          that.detailDialogData.dataList = response.data
          that.detailDialogData.detailVisible = true
          that.detailDialogData.province_name = province_name
        }
      }).catch(() => {})
    },

    closeDetailDialog(data) {
      this.detailDialogData = data
    },

    // create update子组件
    createNewLive() {
      this.liveDialogData.liveVisible = true
      this.$refs.liveUpdate.getUploadToken()
      this.$refs.liveUpdate.getType1()
      this.$refs.liveUpdate.getArea()
      this.$refs.liveUpdate.getDepart()
      this.$refs.liveUpdate.getProducts()
      this.$refs.liveUpdate.getSignSheet()
      this.$refs.liveUpdate.labelForSelect()
    },

    showUpdateDialog(liveId) {
      var query = { live_id: liveId }
      liveApi.detail(query).then(response => {
        if (response.code === 20000) {
          this.liveDialogData.newLiveForm = response.data
          if (response.data.menu.length < 1 || !response.data.menu) {
            this.liveDialogData.newLiveForm.menu = [
              { menu_title: '评论', content: '' }
            ]
          }

          if (response.data.menu_off_line.length < 1 || !response.data.menu_off_line) {
            this.liveDialogData.newLiveForm.menu_off_line = [
              { menu_title: '会议日程', content: '' }
            ]
          }
          this.liveDialogData.meetingSearch = false,
          this.liveDialogData.liveVisible = true
          this.$refs.liveUpdate.getUploadToken()
          this.$refs.liveUpdate.getMeetingList()
          this.$refs.liveUpdate.getType1()
          this.$refs.liveUpdate.getArea()
          this.$refs.liveUpdate.getDepart()
          this.$refs.liveUpdate.getProducts()
          this.$refs.liveUpdate.getSignSheet()
          this.$refs.liveUpdate.labelForSelect()
        }
      }).catch(() => {})
    },

    closeLiveDialog(data) {
      this.liveDialogData = data
    },

    getAnalysisData(id, title) {
      this.analysisData.analysisVisible = true
      this.analysisData.title = title
      this.$refs.analysis.getAnalysisData(id)
    },

    closeAnalysis(data) {
      this.analysisData = data
    },

    updateEs() {
      liveApi.updateEs({}).then(response => {
        if (response.code === 20000) {
          this.operationMsg('索引已更新！', 'success')
        }
      }).catch(() => {})
    }
  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
