<template>
    <el-form
      ref="interForm"
      label-position="right"
      :model="interForm"
      label-width="130px"
      class="demo-ruleForm"
      style="margin-left: 70px;border: 1px solid gainsboro;width: 740px;margin-bottom: 50px;"
    >
      <el-row>
        <el-col :span="3" style="margin-left: 70px;">
          <h4>会前调研</h4>
        </el-col>
        <el-col :span="13">
          <el-switch v-model="interForm.has_qn" style="padding-top: 30px;"/>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="16">
          <el-form-item label="问卷">
            <el-autocomplete
              style="width: 500px;"
              v-model="interForm.qn_name"
              :fetch-suggestions="querySearch"
              placeholder="请输入问卷名称"
              @select="handleSelect"
              :disabled="interForm.has_qn==false"
            ></el-autocomplete>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row style="margin-top: 30px;">
        <el-col :span="3" style="margin-left: 70px;">
          <h4>会中互动</h4>
        </el-col>
        <el-col :span="13">
          <el-switch v-model="interForm.between_live" style="padding-top: 30px;"/>
        </el-col>
      </el-row>

      <div
        class="qu_area"
        v-for="(qt,index) in interForm.question_data"
        :key="index"
      >
        <el-row>
          <el-col :span="16" style="margin-left: 10px;">
            <h5 style="margin-bottom: 10px;">互动问题{{ index+1 }}</h5>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item label="题目" label-width="80px">
              <el-select
                style="width: 450px;"
                v-model="qt.question_name"
                filterable
                remote
                reserve-keyword
                placeholder="请输入题目"
                :remote-method="remoteMethod"
                @change="checkQuestion($event,index)"
                :disabled="interForm.between_live==false"
                >
                <el-option
                  style="width: 450px; overflow: hidden; text-overflow: ellipsis;"
                  v-for="item in questionList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="qt.pop_type==1">
          <el-col :span="16">
            <el-form-item label="时间" label-width="80px">
              <el-date-picker
                v-model="qt.time"
                type="datetime"
                placeholder="选择日期时间"
                style="width: 450px;"
                value-format="yyyy-MM-dd HH:mm:ss"
                :disabled="interForm.between_live==false"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="qt.pop_type==1">
          <el-col :span="16">
            <el-form-item label="倒计时" label-width="80px">
              <el-select
                style="width: 450px;"
                v-model="qt.last_time"
                :disabled="interForm.between_live==false"
              >
                <el-option v-for="item in lastList" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <el-row>
        <el-button
          style="width: 150px;margin-left: 90px;"
          type="primary"
          @click="addQuestion()"
          :disabled="interForm.between_live==false"
          >新增自动发布问题</el-button>
          <el-button
            style="width: 150px;"
            type="primary"
            @click="addQuestion1()"
            :disabled="interForm.between_live==false"
            >新增手动发布问题</el-button>
          <el-button
            style="width: 150px;"
            type="danger"
            @click="deleteQuestion()"
            :disabled="interForm.between_live==false"
            >删除上一个</el-button>
      </el-row>

      <el-form-item style="margin-top: 30px;margin-left: 165px;">
        <el-button type="primary" @click="updatechange()">确认提交</el-button>
        <el-button @click="close()">取消</el-button>
      </el-form-item>

    </el-form>
</template>

<script>
import * as interApi from '@/api/live/interactive'

export default {
  name: 'LiveInteractive',
  components: { },
  data() {
    return {
      questionnaireList: [],
      questionList: [],
      lastList: [
        { id: 1, name: '10s' },
        { id: 2, name: '15s' },
        { id: 3, name: '20s' }
      ],
      interForm: {
        live_id: 0,
        has_qn: false,
        qn_name: '',
        qn_id: '',

        between_live: false,
        question_data: []
      }
    }
  },
  activated() {
    this.interForm.live_id = this.$route.query.id
    interApi.detail({ live_id: this.$route.query.id }).then(response => {
      if (response.code==20000) {
        this.interForm = response.data
      }
    }).catch(() => {})
  },
  created() {
    this.questionnaire()
  },
  methods: {
    questionnaire() {
      interApi.questionnaire().then(response => {
        if (response.code==20000) {
          this.questionnaireList = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.questionnaireList;
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },

    handleSelect(item) {
      this.interForm.qn_id = item.id
    },

    // 题目
    remoteMethod(query) {
      if (query !== '') {
        setTimeout(() => {
          interApi.question({ question: query }).then(response => {
            if (response.code === 20000) {
              this.questionList = response.data
            }
          }).catch(() => {})
        }, 200);
      } else {
        this.questionList = [];
      }
    },

    checkQuestion(selVal, index) {
      var ss = selVal.split("-")
      this.interForm.question_data[index].question_id = ss[0]
    },

    addQuestion() {
      var qn = {
        question_id: '',
        pop_type: 1,
        time: '',
        last_time: '',
      }
      this.interForm.question_data.push(qn)
    },

    addQuestion1() {
      var qn = {
        question_id: '',
        pop_type: 2
      }
      this.interForm.question_data.push(qn)
    },

    deleteQuestion() {
      this.interForm.question_data.pop()
    },

    updatechange() {
      if (this.interForm.live_id==0) {
        this.operationMsg('请先选择直播！', 'error')
        return false
      }
      // if (this.interForm.has_qn==false&&this.interForm.between_live==false) {
      //   this.operationMsg('无法提交！', 'error')
      //   return false
      // }
      if (this.interForm.has_qn==true&&this.interForm.qn_id=='') {
        this.operationMsg('请选择问卷！', 'error')
        return false
      }
      if (this.interForm.between_live==true&&this.interForm.question_data.length==0) {
        this.operationMsg('请配置至少一个问题！', 'error')
        return false
      }
      if (this.interForm.between_live==true&&this.interForm.question_data.length>0&&this.interForm.question_data[0].question_id=='') {
        this.operationMsg('请配置至少一个问题！', 'error')
        return false
      }
      interApi.update(this.interForm).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close();
        }
      }).catch(() => {})
    },

    close() {
      this.$store.dispatch('tagsView/delView', this.$route).then(() => {
        this.$router.back()
      })
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
  }
}
</script>

<style scoped>
  .qu_area{
    background-color: aliceblue;
    width: 550px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .demo-ruleForm {
    margin-top: 30px;
  }

  .upbutton {
    display: flex;
  }

  .el-upload__tip {
    margin-left: 30px;
  }

  .demo-ruleForm {
    margin-top: 0;
  }

</style>
