<template>
  <div class="app-container">
    <el-row :gutter="20" style="margin-bottom:20px;">
        <!-- <el-col :span="8">
            <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
        </el-col> -->
        <el-col :span="8">
            <el-button type="primary" @click="toNextPage">返回</el-button>
            <el-button type="primary" icon="el-icon-plus"  v-permission="'organization:sync'" @click="syncData">从钉钉导入</el-button>
            <UploadFile 
            :type="upload.type"
            :business="upload.business"
            :upload-list.sync="upload.fileList"
            :show-list="false"
            :limit="upload.limit"
            :name="upload.name"
            @uploadSuccess="uploadSuccess">
            </UploadFile>
            <!-- <el-button type="primary" icon="el-icon-plus" >从Excel导入</el-button> -->
        </el-col>
    </el-row>
    <el-row :gutter="20" class="organization_info">
        <!-- <el-col :span="12">
            公司logo
        </el-col> -->
        <el-col :span="12" style="text-align:right;color:#1890ff">
            <!-- 优锐医药科技（上海）有限公司（350）人 -->
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="6">
            <el-tree
            :data="organization"
            :props="defaultProps"
            :highlight-current="true"
            accordion
            node-key="id"
            :default-expanded-keys="[1]"
            :current-node-key="1"
            @node-click="handleNodeClick">
            <span class="custom-tree-node" slot-scope="{ node, data }">
                <span>{{ node.label }}</span>
                <span>（{{data.user_count}}）个</span>
            </span>
            </el-tree>
        </el-col>
        <el-col :span="18">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>{{dep_name}}</el-breadcrumb-item>
            </el-breadcrumb>
            <el-table
            :data="tableData"
            style="width: 100%">
                <el-table-column
                    prop="name"
                    label="姓名">
                </el-table-column>
                <el-table-column
                    prop="title"
                    label="职务">
                </el-table-column>
            </el-table>
            <Pagination v-show="total>0" :total="total" :page.sync="page" :limit.sync="page_size" @pagination="getUsers"/>
        </el-col>
    </el-row>
    <!-- <div class="btns">
        <el-button type="primary">保存到系统</el-button>
        <el-button type="primary" @click="toNextPage()">下一步</el-button>
    </div> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import UploadFile from '@/components/Upload';
import { syncDingtalk, dingtalkTreeList, dingtalkUsers, excelImport } from '@/api/organizationStructure/organization.js'
export default {
  data() {
    return {
        options: [],
        value: '',
        organization: [],
        defaultProps: {
          children: 'children',
          label: 'name'
        },
        dep_name:'',
        depId:'',
        tableData: [],
        page:1,
        page_size:10,
        total:0,
        upload:{
          type:2,
          limit:'',
          business:'organization',
          fileList:[],
          name:'+从Excel导入'
        }
    }
  },
  components:{
    UploadFile,
    Pagination
  },
  mounted(){
    this.getTreeList()
  },
  methods: {
    // 从钉钉导入
    async syncData(){
        let res = await syncDingtalk();
        if(res.msg == 'success'){
            this.$message({
                message: '同步成功！',
                type: 'success'
            });
            this.getTreeList();
        }
    },
    // 从excel导入
    async uploadSuccess(data){
      let res = await excelImport({
        upload_id:data.id
      });
      if(res.msg == 'success'){
        this.$message({
            message: '导入成功！',
            type: 'success'
        });
      } else {
        this.$message({
            message: res.msg,
            type: 'error'
        });
      }
    },
    // 获取树状结构
    async getTreeList(){
      let params = {
        with_count:1
      };
      let res = await dingtalkTreeList(params);
      this.organization = [...res.data.list];
      this.dep_name = res.data.list[0].name;
      this.depId = res.data.list[0].id;
      this.getUsers();

    },
    // 获取人员列表
    async getUsers(){
      let params = {
        keywords:'',
        dept_id:this.depId,
        current:this.page,
        limit:this.page_size
      };
      let userRes = await dingtalkUsers(params);
      this.tableData = [...userRes.data.list];
      this.total = userRes.data.page.total;
    },
    
    handleNodeClick(data){
      this.depId = data.id;
      this.dep_name = data.name;
      this.getUsers();
    },
    toNextPage(){
      this.$router.push('/organization/relationship');
    }
  }
}
</script>

<style scoped lang="scss">
    .organization_info{
        padding: 12px;
        border: 1px solid #eeeeee;
        border-right: none 0;
        border-left: none 0;
        margin-bottom: 20px;
    }
    .block{
      display: inline-block;
      margin-left: 10px;
    }
    .el-tree {
      .el-tree-node{
        font-size: 14px;
        padding: 2px 0;
      }
      .is-current{
        color: #1890ff;
      }
      .el-tree-node__content{
        height: auto;
        padding: 8px 0;
      }
    }
    .el-breadcrumb{
        font-size: 16px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 20px;
    }
    .btns{
        margin-top:20px;
        padding: 10px;
        border: 1px solid #eeeeee;
        border-right: none 0;
        border-left: none 0;
    }
</style>
