<template>
  <div class="app-container">
    <el-row :gutter="20" style="margin-bottom:20px;">
        <el-col :span="12">
            .
            <!-- <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select> -->
        </el-col>
        <el-col :span="12" style="text-align:right;color:#1890ff">
            <el-button type="primary" @click="toNextPage()" v-permission="'organization:import'">查看原始导入结构</el-button>
            <el-button v-permission="'organization:sync'" type="success" @click="syncData">一键同步更新</el-button>
        </el-col>
    </el-row>
    <el-row :gutter="20" class="organization_info">
        <el-col :span="12" style="line-height:32px;color:#1890ff">
            {{company_name}}组织架构
        </el-col>
        <el-col :span="12" style="text-align:right;color:#1890ff">
            <el-button v-permission="'organization:updateDep'" type="primary" icon="el-icon-plus" @click="showDialog(1)">添加部门</el-button>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="8">
            <el-tree
            :data="organization"
            :props="defaultProps"
            :highlight-current="highTag"
            node-key="id"
            :default-expanded-keys="defaultKeys"
            @node-click="handleNodeClick">
                <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span>{{ node.label }}</span>
                    <!-- <template v-if="node.id == 1"> -->
                    <!-- <span v-show="data.bind_count != 0">
                        <el-popover
                            placement="bottom-start"
                            :title="data.bind_count"
                            width="200"
                            trigger="hover">
                            <div class="popover_list">
                                <div>市场部东区一组</div>
                                <div>市场部东区二组</div>
                                <div>市场部东区三组</div>
                            </div>
                            <el-button size="mini" slot="reference" type="primary" round>关系{{data.bind_count}}</el-button>
                        </el-popover>
                    </span>
                        -->
                    <!-- </template> -->
                    <!-- <template v-if="node.id == 3"> -->
                        <el-popover 
                        v-show="currentDepId == data.id"
                            placement="bottom-start"
                            title=""
                            width="200"
                            trigger="hover">
                            <div class="popover_list op_list">
                                <div v-permission="'organization:bindDepShow'" @click="showBindDep">对应关系：{{data.bind_count}}</div>
                                <div @click="handleBind" v-permission="'organization:bindOr'">绑定对应关系</div>
                                <div @click="showDialog(2)"  v-permission="'organization:updateDep'">添加子部门</div>
                                <div @click="showDialog(3)" v-permission="'organization:updateDep'">重命名</div>
                                <el-popconfirm
                                    confirm-button-text='确定'
                                    cancel-button-text='不用了'
                                    icon="el-icon-info"
                                    icon-color="red"
                                    title="确定删除此部门吗？"
                                    v-permission="'organization:delDep'"
                                    @confirm="delDep"
                                    >
                                    <div slot="reference" v-permission="'organization:delDep'">删除</div>
                                </el-popconfirm>
                                <!-- <div @click="move(1)" v-permission="'organization:moveDept'">上移</div>
                                <div @click="move(-1)" v-permission="'organization:moveDept'">下移</div> -->
                            </div>
                            <el-button size="mini" slot="reference" type="primary" icon="el-icon-more" circle></el-button>
                        </el-popover>
                    <!-- </template> -->
                </span>
            </el-tree>
        </el-col>
    </el-row>
    <!-- 对应关系显示 -->
    <HadBindDep :show="bindDepShow" :depId="currentDepId" @showDialogFn="handleBindDepShow" @handleBind="handleBind"></HadBindDep>
    <!-- 添加部门 -->
    <BindOrganization :show="dialogVisible" :title="title" :depId="currentDepId" :depName="currentDepName" @showDialogFn="showDialog" @treeList="getTreeList"></BindOrganization>
    <!-- 绑定关系 -->
    <BindRelationship :show="bindVisible" :depId="currentDepId"  :depName="currentDepName" @treeList="getTreeList" :organization="dingOrganization" @showDialogFn="handleBindShow"></BindRelationship>
    <div class="btns" style="">
        <!-- <el-button type="primary" @click="toNextPage()">上一步</el-button> -->
    </div>
  </div>
</template>

<script>
import HadBindDep from '@/components/Organization/hadBindDep.vue'
import BindOrganization from '@/components/Organization/add_organization.vue'
import BindRelationship from '@/components/Organization/bind_relationship.vue'
import Pagination from '@/components/Pagination'

import { depTree,dingtalkTreeList, syncDingtalk, deleteDep, moveOrder } from '@/api/organizationStructure/organization.js'
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
        options: [{
          value: '选项1',
          label: '烤鱼'
        }, {
          value: '选项2',
          label: '冰激凌'
        }, {
          value: '选项3',
          label: '水煎包'
        }],
        value: '选项1',
        currentDepId:'',
        currentDepName:'',
        organization: [],
        dingOrganization:[],
        defaultKeys:[],
        defaultProps: {
          children: 'children',
          label: 'name'
        },
        highTag:true,
        dialogVisible:false,
        bindVisible:false,
        bindDepShow:false,
        title:'重命名',
    }
  },
  components:{
      HadBindDep,
      BindOrganization,
      BindRelationship,
      Pagination
  },
  computed:{
    ...mapGetters(["company_name"]),
  },
  mounted() {
    this.getTreeList();
  },
  methods: {
      // 获取树状结构
    async getTreeList(){
      let res = await depTree();
      this.organization = [...res.data.list];
      this.defaultKeys = [this.currentDepId];
    },
    // 点击当前组织
    handleNodeClick(data){
        this.currentDepId = data.id;
        this.currentDepName = data.name;
        this.highTag = true;
        // this.defaultKeys = [data.id]
    },
    async syncData(){
        let res = await syncDingtalk();
        if(res.msg == 'success'){
            this.$message({
                message: '同步成功！',
                type: 'success'
            });
            this.getTreeList();
        }
    },
    //   添加部门
    showDialog(type){
        this.dialogVisible = !this.dialogVisible;
        if(this.dialogVisible){
            if(type == 1){
                this.title ='添加部门'
                this.highTag = false;
                this.currentDepId = 0;
            } else if(type == 2){
                this.title ='添加子部门'
            } else {
                this.title = "重命名"
            }
        }
    },
    // 删除部门
    async delDep(){
        let params = {
            id:this.currentDepId
        };
        let res = await deleteDep(params);
        if(res.msg == 'success'){
            this.$message({
                message: '删除成功！',
                type: 'success'
            });
            this.getTreeList();
        }
    },
    // 查看绑定对应关系
    async showBindDep(){
        this.handleBindDepShow()
    },
    handleBindDepShow(){
        this.bindDepShow = !this.bindDepShow;
    },
    // 绑定关系
    // 获取钉钉的组织结构
    async handleBind(){
        let params = {
            with_bind:1
        }
        let res = await dingtalkTreeList(params);
        this.dingOrganization = [...res.data.list];
        // console.log(JSON.stringify(this.dingOrganization))
        this.handleBindShow();
    },
    handleBindShow(){
        this.bindVisible = !this.bindVisible;
    },
    // 上下移动
//     async move(direction){
//        let params = {
//            direction,
//            num:1
//        };
//        let res = await moveOrder(this.currentDepId,params);
//         if(res.msg == 'success'){
//             this.$message({
//                 message: '移动成功！',
//                 type: 'success'
//             });
//             this.getTreeList();
//         }
//    },
//    查看
    toNextPage(){
        this.$router.push({
            path:'/organization/bindOrganization'
        })
    }
  }
}
</script>

<style scoped lang="scss">
    .organization_info{
        padding: 12px;
        border: 1px solid #eeeeee;
        border-right: none 0;
        border-left: none 0;
        margin-bottom: 20px;
    }
    .el-tree {
        .el-tree-node{
            font-size: 14px;
            padding: 2px 0;
        }
        .is-current{
            color: #1890ff;
        }
        .el-tree-node__content{
            height: auto;
            padding: 8px 0;
        }
    }
    .el-button--mini.is-round{
        margin-left: 10px;
        padding: 4px 10px;
        font-size: 12px;
    }
    .popover_list{
        div{
            padding: 4px 0;
        }
    }
    .op_list{
        div{
            cursor: pointer;
            padding: 8px 5px;
        }
        :hover{
            background-color: #eeeeee;
            color: #1890ff;
        }
    }
    .el-button--mini.is-circle{
        margin-left: 10px;
        padding: 6px;
    }
    .btns{
        margin-top:20px;
        padding: 10px;
        border: 1px solid #eeeeee;
        border-right: none 0;
        border-left: none 0;
    }
</style>
