<template>
  <div class="app-container">
    <el-row :gutter="20" class="organization_info">
        <el-col :span="12" style="line-height:32px;color:#1890ff">
            {{company_name}}组织架构
        </el-col>
        <!-- <el-col :span="12" style="text-align:right;color:#1890ff">
            <el-button type="primary" icon="el-icon-plus" @click="showDialog(1)">手动添加成员</el-button>
            <el-button type="primary" @click="showDialog(1)">操作离职</el-button>
        </el-col> -->
    </el-row>
    <el-row :gutter="20">
        <el-col :span="6">
            <el-tree
            :data="organization"
            :props="defaultProps"
            highlight-current
            node-key="id"
            default-expand-all
            ref="orTree"
            :current-node-key="currentDepId"
            @node-click="handleNodeClick">
                <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span>{{ node.label }}</span>
                    <el-popover
                    v-show="currentDepId == data.id"
                        placement="bottom-start"
                        title=""
                        width="200"
                        trigger="hover">
                        <div class="popover_list op_list">
                            <div @click="getDingTreeList">手动添加人员</div>
                            <!---第一步添加事件元素---->
                            <div @click="showRoleGroupList()">绑定权限组</div>
                            <div @click="showDialog(2)" v-permission="'organization:updateDep'">添加子部门</div>
                            <div @click="showDialog(99)" v-permission="'organization:updateDep'">重命名</div>
                            <el-popconfirm
                                confirm-button-text='确定'
                                cancel-button-text='不用了'
                                icon="el-icon-info"
                                icon-color="red"
                                title="确定删除此部门吗？"
                                v-permission="'organization:delDep'"
                                @confirm="delDep"
                                >
                                <div slot="reference">删除</div>
                            </el-popconfirm>
                            <!-- <div @click="move(1)" v-permission="'organization:moveDept'">上移</div>
                            <div @click="move(-1)" v-permission="'organization:moveDept'">下移</div> -->
                        </div>
                        <el-button size="mini" slot="reference" type="primary" icon="el-icon-more" circle></el-button>
                    </el-popover>
                </span>
            </el-tree>
        </el-col>
        <el-col :span="18">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>{{currentDepName}}</el-breadcrumb-item>
            </el-breadcrumb>
            <el-table
            :data="tableData"
            style="width: 100%">
                <el-table-column
                    prop="name"
                    label="姓名">
                    <template slot-scope="scope">
                      <span style="margin-right:10px">{{scope.row.name}}</span>
                      <el-tag v-show="scope.row.is_auto_bind == 0" type="success" effect="dark" size="mini">手动</el-tag>
                      <el-tag v-show="scope.row.is_leader == 1" type="" effect="dark" size="mini">主管</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                label="操作">
                <template slot-scope="scope">
                  <el-button @click="handleDetail(scope.row.id)" type="text" size="small" style="margin-right:10px" v-permission="'organization:member'">查看</el-button>
                  <el-button @click="setAdmin(scope.row.id)" type="text" size="small" style="margin-right:10px">设置为管理员</el-button>
                  <el-button @click="handleSetRole(scope.row.id)" type="text" size="small" style="margin-right:10px">绑定角色</el-button>
                  <!-- <el-popconfirm
                      confirm-button-text='确定'
                      cancel-button-text='不用了'
                      icon="el-icon-info"
                      icon-color="red"
                      title="确定删除此人员吗？"
                      >
                      <el-button type="text" size="small" slot="reference">删除</el-button>
                  </el-popconfirm> -->
                </template>
              </el-table-column>
            </el-table>
            <!-- <pagination v-show="total>0" :total="total" :page.sync="page" :limit.sync="page_size"/> -->
        </el-col>
    </el-row>
    <!-- 添加部门 -->
    <BindOrganization :show="dialogVisible" :title="title" :depId="currentDepId" :depName="currentDepName" @showDialogFn="showDialog" @treeList="getTreeList"></BindOrganization>
    <!---绑定角色组--->
    <!---:show是否显示--->
    <!----:title弹出层标题--->
    <!----:title弹出层标题--->
    <!----:depId 未知--->
    <!----:depName 未知--->
    <!----:depName 未知--->
    <BindRoleGroup :show="bindRoleGroup" :api="roleGroupList" :title="title" @showDialogFn="addRoleGroupShow"></BindRoleGroup>
    <!-- 绑定关系 -->
    <AddMember
    :show="bindVisible"
    :comName="company_name"
    :depId="currentDepId"
    :dingTree="dingOrganization"
    :dingUser="dingTableData"
    :keyword="keywords"
    :total="dialogTotal"
    :page="dialogPage"
    :page_size="dialogPageSize"
    @getOrUser="getUsers"
    @handleTreeClick="handleClick"
    @search="getDingUsers"
    @showDialogFn="addMemberShow">
    </AddMember>
    <!-- 成员详情 -->
    <MemberDetail
    :show="drawVisible"
    @showDraw="handleDraw"
    @updateUserDetail="handleDetail"
    @reGetUser="getUsers"
    :info="userInfo"
    :userid="userId"></MemberDetail>
    <!-- 绑定角色 -->
    <SetRoleFrom
      :show="roleVisible"
      @showDraw="handleRole"
      @updateUserDetail="handleSetRole"
      @reGetUser="getUsers"
      :info="userInfo"
      :userid="userId"
    ></SetRoleFrom>

    <!-- <div class="btns" style="">
        <el-button type="primary" @click="toNextPage()">上一步</el-button>
    </div> -->
  </div>
</template>

<script>
// <!---第三步引入外部的添加页面---->
import BindRoleGroup from '@/components/Organization/add_role_group.vue'
import BindOrganization from '@/components/Organization/add_organization.vue'
import AddMember from '@/components/Organization/add_member.vue'
import MemberDetail from '@/components/Organization/member_detail.vue'
import SetRoleFrom from '@/components/Organization/setrole.vue'
import Pagination from '@/components/Pagination'
import {roleGroupList, depTree, dingtalkTreeList, depUsers, dingtalkUsers, orUserDetail, deleteDep, moveOrder, setUser } from '@/api/organizationStructure/organization.js'
import { mapGetters } from 'vuex'
import {getRoles} from "@/api/system/role";
export default {
  data() {
    return {
        currentDepId:'',
        currentId:'',
        currentDepName:'',
        options: [{
          value: '选项1',
          label: '烤鱼'
        }, {
          value: '选项2',
          label: '冰激凌'
        }, {
          value: '选项3',
          label: '水煎包'
        }],
        value: '选项1',
        organization: [],
        defaultProps: {
          children: 'children',
          label: 'name'
        },
        dingOrganization:[],
        dingDepId:'',
        keywords:'',
        dialogVisible:false,
        // <!---第二步添加显示和不显示的变量标识符号 默认让弹出层不显示---->
        bindRoleGroup: false,
        bindVisible:false,
        drawVisible:false,
        roleVisible:false,
        title:'',
        tableData: [],
        dingTableData:[],
        page:1,
        page_size:10,
        total:0,
        dialogPage:1,
        dialogPageSize:10,
        dialogTotal:0,
        userInfo:{},
        userId:''

    }
  },
  components:{
      BindRoleGroup,
      BindOrganization,
      AddMember,
      MemberDetail,
      Pagination,
      SetRoleFrom
  },
  computed:{
    ...mapGetters(["company_name"]),
  },
  mounted() {
    this.getTreeList();
    // this.getDingTreeList();
  },
  methods: {
    getRoles,
        // 获取树状结构
    async getTreeList(){
        let res = await depTree();
        this.organization = [...res.data.list];
        this.currentDepName = res.data.list[0].name;
        this.currentDepId =  res.data.list[0].id;
        this.getUsers();
    },

    async roleGroupList(data){
        console.log(data);
    },
    // 获取组织下的人员
    async getUsers(){
        let params = {
          id: this.currentDepId
        };
        let userRes = await depUsers(params);
        this.tableData = [...userRes.data.list];
        this.total = userRes.data.page?userRes.data.page.total:0;
    },
    // 点击当前组织
    handleNodeClick(data){
        this.currentDepId = data.id;
        this.currentDepName = data.name;
        this.highTag = true;
        this.getUsers()
    },
    // 删除部门
    async delDep(){
        let params = {
            id:this.currentDepId
        };
        let res = await deleteDep(params);
        if(res.msg == 'success'){
            this.$message({
                message: '删除成功！',
                type: 'success'
            });
            this.getTreeList();
        }
    },
    //   添加部门
    showDialog(type){
        this.dialogVisible = !this.dialogVisible;
        if(this.dialogVisible){
            if(type == 1){
                this.title ='添加部门'
            } else if(type == 2){
                this.title ='添加子部门'
            }else if(type == 3){
              this.title ='绑定角色组'
            } else {
                this.title = "重命名"
            }
        }
    },
    // 获取钉钉树结构
    async getDingTreeList(){
        let res = await dingtalkTreeList();
        this.dingOrganization = [...res.data.list];
        this.dingDepId = this.dingOrganization[0].id;
        this.getDingUsers('',this.dingDepId);
        this.addMemberShow();
    },

    // <!---第五步置反绑定变量控制弹出层显示和隐藏---->
    addRoleGroupShow(){
      this.bindRoleGroup = !this.bindRoleGroup;
    },

    // 获取权限组列表 <!---第四步添加点击事件--->
    showRoleGroupList(){
      window.currentDepId = this.currentDepId;
      this.addRoleGroupShow();
    },
    // 获取钉钉人员列表
    async getDingUsers(keywords,dept_id){
        let params = {
            keywords,
            dept_id,
            current:this.page,
            limit:this.page_size
        };
        let userRes = await dingtalkUsers(params);
        this.dingTableData = [...userRes.data.list];
        this.dialogTotal = userRes.data.page?userRes.data.page.total:0;
    },
    // 获取钉钉对应的部门人员
    async handleClick(data){
        this.dingDepId = data.id;
        this.getDingUsers('',this.dingDepId);
    },
    // 手动添加人员
    addMemberShow(){
        this.bindVisible = !this.bindVisible;
    },

    // 设为管理员
    async setAdmin(id){
        let res = await setUser(id);
        if(res.msg == 'success'){
            this.$message({
                message: '设置成功！',
                type: 'success'
            });
            this.getUsers();
        }
    },

    //查看详情
    async handleDetail(id){
        this.userId = id;
        let params = {
            id
        };
        let res = await orUserDetail(params);
        this.userInfo = {...res.data.info};
        this.drawVisible = true;
        // this.handleDraw();
    },

    async handleSetRole(id){
      this.userId = id;
      let params = {
        id
      };
      let res = await orUserDetail(params);
      this.userInfo = {...res.data.info};
      this.roleVisible = true;
    },

    handleRole(){
      this.roleVisible = !this.roleVisible;
    },

    handleDraw(){
        this.drawVisible = !this.drawVisible;
    },


    // 上下移动
//     async move(direction){
//        let params = {
//            direction,
//            num:1
//        };
//        let res = await moveOrder(this.currentDepId,params);
//         if(res.msg == 'success'){
//             this.$message({
//                 message: '移动成功！',
//                 type: 'success'
//             });
//             this.getTreeList();
//         }
//    }
  }
}
</script>

<style scoped lang="scss">
    .organization_info{
        padding: 12px;
        border: 1px solid #eeeeee;
        border-right: none 0;
        border-left: none 0;
        margin-bottom: 20px;
    }
    .tip{
        font-size: 12px;
        color: red;
        margin-bottom: 15px;
    }
    .el-tree {
        .el-tree-node{
            font-size: 14px;
            padding: 2px 0;
        }
        .is-current{
            color: #1890ff;
        }
        .el-tree-node__content{
            height: auto;
            padding: 8px 0;
        }
    }
    .el-button--mini.is-round{
        margin-left: 10px;
        padding: 4px 10px;
        font-size: 12px;
    }
    .popover_list{
        div{
            padding: 4px 0;
        }
    }
    .op_list{
        div{
            cursor: pointer;
            padding: 8px 5px;
        }
        :hover{
            background-color: #eeeeee;
            color: #1890ff;
        }
    }
    .el-button--mini.is-circle{
        margin-left: 10px;
        padding: 6px;
    }
    .el-breadcrumb{
        font-size: 16px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 20px;
    }
    .btns{
        margin-top:20px;
        padding: 10px;
        border: 1px solid #eeeeee;
        border-right: none 0;
        border-left: none 0;
    }
</style>
