<template>
<iframe v-pre id="iframe-html" style="width: 100%; height: 800px; margin-left: 0px; margin-top: 15px;" frameborder="no" src="html/organization/youyao_role_group/table.html" ></iframe>
</template>


<script>
window.APIHOST = process.env.VUE_APP_BASE_API;
</script>
