<template>
  <div class="app-container">
    <h3>公司管理员对角色权限和权限组进行创建</h3>
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="角色权限" name="first">
            <div class="role_btns">
                <el-button type="primary" icon="el-icon-plus" @click="showDialog('add')" v-permission="'role:update'">添加角色</el-button>
                <!-- <el-button type="primary">批量删除</el-button> -->
            </div>
            <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column
                type="selection">
                </el-table-column>
                <el-table-column
                prop="name"
                label="角色名称">
                    <!-- <template slot-scope="scope">{{ scope.row.name }}</template> -->
                </el-table-column>
                <el-table-column
                prop="role_id"
                label="角色ID">
                </el-table-column>
                <el-table-column
                prop="status"
                label="角色状态">
                    <template slot-scope="scope">
                        <el-switch
                            v-model="scope.row.status"
                            :active-value="1"
                            :inactive-value="0"
                            active-color="#13ce66"
                            @change="changeStatus(scope.row.status,scope.row.id)"
                        >
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column
                prop="desc"
                :show-overflow-tooltip="true"
                label="角色描述">
                </el-table-column>
                <el-table-column
                label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" v-permission="'role:update'" size="small" style="margin-right:10px" @click="showDialog('edit',scope.row)">编辑</el-button>
                    <el-popconfirm
                      confirm-button-text='确定'
                      cancel-button-text='不用了'
                      icon="el-icon-info"
                      icon-color="red"
                      title="确定删除此角色吗？"
                      v-permission="'role:del'"
                      @confirm="deleteRole(scope.row.id)"
                      >
                      <el-button size="small"  v-permission="'role:del'" slot="reference">删除</el-button>
                  </el-popconfirm>
                </template>
              </el-table-column>
            </el-table>
            <Pagination v-show="total>0" :total="total" :page.sync="page" :limit.sync="page_size" @pagination="getRoles"/>
        </el-tab-pane>
    </el-tabs>
    <!-- 添加角色 -->
    <AddRole
    :show="dialogVisible"
    :roleData="rowData"
    :roletype="roleType"
    @showDialogFn="showDialog"
    @getList="getRoles"
    :comName="company_name">
    </AddRole>
    <!-- demo -->
    <!-- <Demo></Demo> -->
  </div>
</template>

<script>
import AddRole from '@/components/Organization/add_role.vue'
// import Demo from '@/components/demo2.vue'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'

import { roles, updateStatus, delRole } from '@/api/organizationStructure/organization.js'
export default {
  data() {
    return {
        dialogVisible:false,
        activeName: 'first',
        tableData: [],
        company_name: null,
        multipleSelection: [],
        rowData:{},
        roleType:'',
        page:1,
        page_size:10,
        total:0
    }
  },
  components:{
      AddRole,
      // Demo,
      Pagination
  },
  computed:{
    ...mapGetters(["company_name"]),
  },
  mounted(){
    this.getRoles();
  },
  methods: {
    // 获取角色列表
    async getRoles(){
      let params = {
        keywords:'',
        current:this.page,
        limit:this.page_size
      };
      let res = await roles('list',params);
      this.tableData = [...res.data.list];
      this.total = res.data.page.total;
      this.company_name = res.data.company.name;
    },
    showDialog(type,data){
        if(type == 'edit'){
          this.rowData = {...data}
          this.roleType='edit';
        } else if(type == 'add'){
          this.rowData = {}
          this.roleType='add'
        }
        this.dialogVisible = !this.dialogVisible;
    },
    // 删除角色
    async deleteRole(id){
      let res = await delRole(id);
      if(res.msg == 'success'){
            this.$message({
                message: '删除成功！',
                type: 'success'
            });
            this.getRoles();
        }
    },
    // 改变状态
    async changeStatus(val,id){
      let status = val == 0?-1:1;
      let res = await updateStatus(id,{status});
      this.getRoles();
    },
    handleSelectionChange(){

    },
    handleClick(){

    },
  }
}

window.APIHOST = process.env.VUE_APP_BASE_API;
</script>

<style scoped lang="scss">
    h3{
        margin: 0;
        margin-bottom: 20px;
        font-weight: normal;
    }
    .role_btns{
        margin-bottom: 20px;
    }
</style>
