<template>
  <el-row :gutter="10">
    <el-col :offset="1" :span="22" style="margin-top:25px;">
      <branch-store-search />
      <el-form :inline="true"  class="demo-form-inline">
        <el-form-item label="时间">
          <el-date-picker
            v-model="query.date"
            type="daterange"
            range-separator="至"
            value-format="yyyy-MM-dd"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="searchTopicTrainings">搜&nbsp;&nbsp;索</el-button>
          <el-button type="success" @click="exportTopicTraining">导&nbsp;&nbsp;出</el-button>
          <el-button type="primary" @click="resetSearch">重&nbsp;&nbsp;置</el-button>
        </el-form-item>
      </el-form>
    </el-col>

    <el-col :span="22" :offset="1">
      <el-table
        :data="list"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="province"
          label="省份"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="city"
          label="城市"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="branch_store_num"
          label="药店code"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="branch_store_name"
          label="药店名称"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="staff_code"
          label="代表员工号"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="staff_name"
          label="代表员工名"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="month"
          label="选择的月份"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="date"
          label="选择的日期"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="is_training"
          label="是否培训"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="title"
          label="培训主题"
        />

        <el-table-column
          header-align="center"
          align="center"
          prop="total"
          label="参加人数"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="is_topic"
          label="是否上传陈列照片"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="上传照片" >
          <template slot-scope="scope">
            <el-link type="success" v-if="scope.row.is_topic == 'Y'" @click="preShowPics(scope.$index)">共{{ scope.row.pics.length }}张图片</el-link>
          </template>
        </el-table-column>
      </el-table>
    </el-col>

    <el-col :span="22" :offset="2">
      <el-pagination
        background
        layout="prev, pager, next"
        :current-page="page.current"
        :total="page.total"
        @current-change="refreshTopicAndTrainings"
        @prev-click="refreshTopicAndTrainings(page.current - 1)"
        @next-click="refreshTopicAndTrainings(page.current + 1)"
      />
    </el-col>

    <el-col :span="22" :offset="1" v-if="showPics">
      <el-dialog :visible.sync="showPics" width="400px;" :before-close="closePics">
        <el-carousel height="500px">
          <el-carousel-item v-for="(item, idx) in pics" :key="idx">
            <el-image style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;width: 100%;" fit="contain" :src="item.url"></el-image>
          </el-carousel-item>
        </el-carousel>
      </el-dialog>
    </el-col>
  </el-row>
</template>

<script>
import BranchStoreSearch from './branch_store_search.vue'
import { mapActions, mapGetters } from 'vuex'
import { listTopicTrainingRecords, exportTopicTrainingRecords } from '@/api/pharmacy/agent'
export default {
  components: {
    BranchStoreSearch
  },
  data: function() {
    return {
      query: {
        date: ['', '']
      },
      list: [],
      page: {
        total: 0,
        current: 1,
        pages: 1,
        size: 10
      },
      showPics: false,
      pics: []
    }
  },
  mounted() {
    this.refreshTopicAndTrainings(1)
  },
  methods: {
    ...mapActions('pharmacyStore', [
      'changeArea'
    ]),
    refreshTopicAndTrainings(current = 1) {
      let start = this.$data.query.date[0]
      let end = this.$data.query.date[1]
      listTopicTrainingRecords(
        this.getAreaId,
        this.getProvinceId,
        this.getCityId,
        this.getMainStoreId,
        this.getBranchStoreId,
        start,
        end,
        current,
        this.$data.page.size
      ).then(resp => {
        this.$data.list = resp.data.list
        this.$data.page = resp.data.page
      })
    },
    searchTopicTrainings() {
      this.refreshTopicAndTrainings(1)
    },
    exportTopicTraining() {
      let start = this.$data.query.date[0]
      let end = this.$data.query.date[1]
      exportTopicTrainingRecords(
        this.getAreaId,
        this.getProvinceId,
        this.getCityId,
        this.getMainStoreId,
        this.getBranchStoreId,
        start,
        end
      ).then(resp => {
        const taskId = resp.data.id
        this.$notify({
          title: '操作成功',
          message: `任务添加成功, 任务id: #${taskId}<br/><br/> <a style="color:blue; text-decoration: underline" href="/#/task/taskList?type=33"> >>>前往任务列表 </a>`,
          dangerouslyUseHTMLString: true,
          duration: 5000,
          type: 'success'
        })
      })
    },
    preShowPics(index) {
      const el = this.$data.list[index]
      if (el == undefined) {
        return
      }
      if (el.pics.length == 0) {
        return
      }
      console.log(el.pics)
      this.$data.pics = el.pics
      this.$data.showPics = true
      console.log(el.pics)
    },
    closePics() {
      this.$data.showPics = false
      this.$data.pics = []
    },
    resetSearch() {
      this.$data.query.date = ['', '']
      this.changeArea({ area_id: 0 })
    }
  },
  computed: {
    ...mapGetters('pharmacyStore', [
      'getAreaId',
      'getProvinceId',
      'getCityId',
      'getMainStoreId',
      'getBranchStoreId'
    ])
  }
}
</script>

<style scoped>

</style>
