<template>
  <el-row :gutter="10">
    <el-col :span="24">
      <el-form :inline="true"  class="demo-form-inline">
        <el-form-item label="大区">
          <el-select
            v-model="areaId"
            filterable
            remote
            reserve-keyword
            placeholder="请输入大区关键词"
            :remote-method="rsearchAreas">
            <el-option
              v-for="item in getAreas"
              :key="item.id"
              :label="item.name"
              :value="item.id"/>
          </el-select>
        </el-form-item>
        <el-form-item label="省份">
          <el-select
            v-model="provinceId"
            filterable
            remote
            reserve-keyword
            placeholder="请输入省份关键词"
            :remote-method="rsearchProvince">
            <el-option
              v-for="item in getProvinces"
              :key="item.id"
              :label="item.name"
              :value="item.id"/>
          </el-select>
        </el-form-item>

        <el-form-item label="城市">
          <el-select
            v-model="cityId"
            filterable
            remote
            reserve-keyword
            placeholder="请输入城市关键词"
            :remote-method="rsearchCity">
            <el-option
              v-for="item in getCities"
              :key="item.id"
              :label="item.name"
              :value="item.id"/>
          </el-select>
        </el-form-item>

        <el-form-item label="连锁">
          <el-select
            v-model="mainStoreId"
            filterable
            remote
            reserve-keyword
            placeholder="请输入城市关键词"
            :remote-method="rsearchMainStore">
            <el-option
              v-for="item in getMainStores"
              :key="item.id"
              :label="item.name"
              :value="item.id"/>
          </el-select>
        </el-form-item>

        <el-form-item label="药店">
          <el-select
            v-model="branchStoreId"
            filterable
            remote
            reserve-keyword
            placeholder="请输入城市关键词"
            :remote-method="rsearchBranchStores">
            <el-option
              v-for="item in getBranchStores"
              :key="item.id"
              :label="item.name"
              :value="item.id"/>
          </el-select>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'BranchStoreSearch',
  mounted() {
    this.initial()
  },
  methods: {
    ...mapActions('pharmacyStore', [
      'initial',
      'changeArea',
      'searchArea',
      'changeProvince',
      'searchProvince',
      'changeCity',
      'searchCity',
      'changeMainStore',
      'searchMainStore',
      'changeBranchStore',
      'searchBranchStore'
    ]),
    rsearchAreas(cb) {
      this.searchArea({ keywords: cb })
    },
    rsearchProvince(cb) {
      this.searchProvince({ keywords: cb })
    },
    rsearchCity(cb) {
      this.searchCity({ keywords: cb })
    },
    rsearchMainStore(cb) {
      this.searchMainStore({ keywords: cb })
    },
    rsearchBranchStores(cb) {
      this.searchBranchStore({ keywords: cb })
    }
  },
  computed: {
    ...mapGetters('pharmacyStore', [
      'getAreaId',
      'getProvinceId',
      'getCityId',
      'getMainStoreId',
      'getBranchStoreId',
      'getAreas',
      'getProvinces',
      'getCities',
      'getMainStores',
      'getBranchStores'
    ]),
    areaId: {
      get() {
        return this.getAreaId
      },
      set(val) {
        this.changeArea({ area_id: val })
      }
    },
    provinceId: {
      get() {
        return this.getProvinceId
      },
      set(val) {
        this.changeProvince({ province_id: val })
      }
    },
    cityId: {
      get() {
        return this.getCityId
      },
      set(val) {
        this.changeCity({ city_id: val })
      }
    },
    mainStoreId: {
      get() {
        return this.getMainStoreId
      },
      set(val) {
        this.changeMainStore({ main_store_id: val })
      }
    },
    branchStoreId: {
      get() {
        return this.getBranchStoreId
      },
      set(val) {
        this.changeBranchStore({ branch_store_id: val })
      }
    }
  }
}
</script>

<style scoped>

</style>
