<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="100px">
      <el-row :gutter="70">
        <el-col :span="8">
          <el-form-item label="关键字:">
            <el-input v-model="query.keyword" placeholder="优惠券名称" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="产品:">
            <el-select v-model="query.yy_product_id" placeholder="请选择产品">
              <el-option label="全部" value="" />
              <el-option v-for="item in products" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button
            v-permission="'pharmacy:coupon:add'"
            type="success"
            @click="createCoupon"
          >添 加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" width="80" align="center" />
      <el-table-column prop="title" label="优惠券名称" align="center" />
      <el-table-column prop="policy_type" label="优惠券类型" align="center">
        <template slot-scope="{row}">
          <p v-if="row.is_exchange=='0'">非兑换券</p>
          <p v-if="row.is_exchange=='1'">兑换券</p>
        </template>
      </el-table-column>
      <el-table-column prop="product_name" label="产品" align="center" />
      <el-table-column prop="policy_type" label="优惠类型" align="center">
        <template slot-scope="{row}">
          <p v-if="row.policy_type=='1'">满减</p>
          <p v-if="row.policy_type=='2'">折扣</p>
        </template>
      </el-table-column>
      <el-table-column prop="policy_val" label="优惠" align="center">
        <template slot-scope="{row}">
          <p v-if="row.policy_type=='1'">{{ row.policy_val }}</p>
          <p v-if="row.policy_type=='2'">{{ row.policy_val }}折</p>
        </template>
      </el-table-column>
      <el-table-column prop="deadline_val" label="使用期限" align="center">
        <template slot-scope="{row}">
          <p v-if="row.deadline_type=='1'">领取后{{ row.deadline_val }}天内有效</p>
          <p v-if="row.deadline_type=='2'">{{ row.deadline_val }}</p>
        </template>
      </el-table-column>
      <el-table-column prop="scope" label="适用范围" align="center">
        <template slot-scope="{row}">
          <p v-if="row.scope=='0'">所有【{{ row.product_name }}】门店</p>
          <p v-if="row.scope=='1'">适用连锁店</p>
          <p v-if="row.scope=='2'">适用门店</p>
        </template>
      </el-table-column>
      <el-table-column prop="total_num" label="总数量" align="center">
        <template slot-scope="{row}">
          <p v-if="row.is_limit=='0'">无限</p>
          <p v-if="row.is_limit=='1'">{{ row.total_num }}</p>
        </template>
      </el-table-column>
      <el-table-column prop="receive_num" label="已领数量" align="center" />
      <el-table-column prop="status" label="状态" align="center">
        <template slot-scope="{row}">
          <p v-if="row.status=='0'" style="color: #F56C6C">下架</p>
          <p v-if="row.status=='1'" style="color: #67C23A">上架</p>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="230" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8">
              <el-button v-if="row.status=='0'" v-permission="'pharmacy:coupon:up'" type="primary" size="mini" @click="upCoupon(row.id)">上架</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-if="row.status=='1'" v-permission="'pharmacy:coupon:off'" type="success" size="mini" @click="offCoupon(row.id)">下架</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-if="row.status=='0'" v-permission="'pharmacy:coupon:edit'" type="info" size="mini" @click="editCoupon(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'pharmacy:coupon:detail'" type="info" size="mini" @click="detailCoupon(row.id)">详情</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <AddCoupon :coupon-dialog-data="couponDialogData" @closeCouponDialog="closeCouponDialog($event)" />
  </div>
</template>

<script>
import * as CouponApi from '@/api/pharmacy/coupon'
import Pagination from '@/components/Pagination'
import * as storeApi from '@/api/pharmacy/store_gps_list'
import AddCoupon from '@/views/pharmacy/components/AddCoupon'

export default {
  name: 'CouponList',
  components: { AddCoupon, Pagination },
  data() {
    return {
      query: {
        keyword: '',
        yy_product_id: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      products: [],
      couponDialogData: {
        dialogVisible: false,
        products: [],
        main_store_list: [],
        store_list: [],
        selected_store_list: [],
        can_edit: true,
        couponForm: {
          coupon_id: 0,
          title: '',
          product_id: '',
          policy_type: 1,
          policy_val: '',
          deadline_type: 1,
          deadline_val: '',
          deadline_time: '',
          is_limit: 0,
          is_exchange: 0,
          main_store_id: '',
          store_ids: [],
          total_num: 0,
          visiblePicker: false,
          visibleVal: true,
          visibleTotalNum: false
        }
      }
    }
  },
  created() {
    this.search()
    this.getProducts()
    this.getMainStoreList()
  },
  methods: {
    getProducts() {
      storeApi.getProducts().then(response => {
        this.products = response.data
        this.couponDialogData.products = response.data
      }).catch(() => {})
    },
    getMainStoreList() {
      storeApi.getMainStoreList().then(response => {
        this.couponDialogData.main_store_list = response.data
      }).catch(() => {})
    },
    getStoreList(main_store_id, store_ids) {
      storeApi.getStoreList({ main_store_id: main_store_id }).then(response => {
        this.couponDialogData.store_list = response.data
        this.couponDialogData.selected_store_list = this.couponDialogData.store_list.filter((store) => {
          return store_ids.some(function check(index) { return index === store.id })
        })
      }).catch(() => {})
    },
    search() {
      CouponApi.couponList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    editCoupon(id) {
      CouponApi.couponDetail(id).then(response => {
        console.log(response.data)
        const couponInfo = response.data
        this.couponDialogData.couponForm.coupon_id = couponInfo.id
        this.couponDialogData.couponForm.title = couponInfo.title
        this.couponDialogData.couponForm.product_id = couponInfo.yy_product_id
        this.couponDialogData.couponForm.policy_type = couponInfo.policy_type
        this.couponDialogData.couponForm.policy_val = couponInfo.policy_val
        this.couponDialogData.couponForm.deadline_type = couponInfo.deadline_type
        this.couponDialogData.couponForm.is_limit = couponInfo.is_limit
        this.couponDialogData.couponForm.is_exchange = couponInfo.is_exchange
        this.couponDialogData.couponForm.main_store_id = couponInfo.main_store_id
        this.couponDialogData.couponForm.store_ids = couponInfo.store_ids
        this.couponDialogData.couponForm.total_num = couponInfo.total_num
        // eslint-disable-next-line eqeqeq,no-empty
        if (couponInfo.is_limit == 1) {
          this.couponDialogData.couponForm.visibleTotalNum = true
        }
        // eslint-disable-next-line eqeqeq
        if (couponInfo.deadline_type == 2) {
          this.couponDialogData.couponForm.visiblePicker = true
          this.couponDialogData.couponForm.visibleVal = false
          this.couponDialogData.couponForm.deadline_time = couponInfo.deadline_val
        }
        // eslint-disable-next-line eqeqeq
        if (couponInfo.deadline_type == 1) {
          this.couponDialogData.couponForm.visiblePicker = false
          this.couponDialogData.couponForm.visibleVal = true
          this.couponDialogData.couponForm.deadline_val = couponInfo.deadline_val
        }
        // eslint-disable-next-line eqeqeq,no-empty
        if (couponInfo.scope == 2) {
          this.getStoreList(couponInfo.main_store_id, couponInfo.store_ids)
        }
        this.couponDialogData.dialogVisible = true
      })
    },
    detailCoupon(id) {
      CouponApi.couponDetail(id).then(response => {
        console.log(response.data)
        const couponInfo = response.data
        this.couponDialogData.couponForm.coupon_id = couponInfo.id
        this.couponDialogData.couponForm.title = couponInfo.title
        this.couponDialogData.couponForm.product_id = couponInfo.yy_product_id
        this.couponDialogData.couponForm.policy_type = couponInfo.policy_type
        this.couponDialogData.couponForm.policy_val = couponInfo.policy_val
        this.couponDialogData.couponForm.deadline_type = couponInfo.deadline_type
        this.couponDialogData.couponForm.is_limit = couponInfo.is_limit
        this.couponDialogData.couponForm.is_exchange = couponInfo.is_exchange
        this.couponDialogData.couponForm.main_store_id = couponInfo.main_store_id
        this.couponDialogData.couponForm.store_ids = couponInfo.store_ids
        this.couponDialogData.couponForm.total_num = couponInfo.total_num
        // eslint-disable-next-line eqeqeq,no-empty
        if (couponInfo.is_limit == 1) {
          this.couponDialogData.couponForm.visibleTotalNum = true
        }
        // eslint-disable-next-line eqeqeq
        if (couponInfo.deadline_type == 2) {
          this.couponDialogData.couponForm.visiblePicker = true
          this.couponDialogData.couponForm.visibleVal = false
          this.couponDialogData.couponForm.deadline_time = couponInfo.deadline_val
        }
        // eslint-disable-next-line eqeqeq
        if (couponInfo.deadline_type == 1) {
          this.couponDialogData.couponForm.visiblePicker = false
          this.couponDialogData.couponForm.visibleVal = true
          this.couponDialogData.couponForm.deadline_val = couponInfo.deadline_val
        }
        // eslint-disable-next-line eqeqeq,no-empty
        if (couponInfo.scope == 2) {
          this.getStoreList(couponInfo.main_store_id, couponInfo.store_ids)
        }
        this.couponDialogData.can_edit = false
        this.couponDialogData.dialogVisible = true
      })
    },
    delCoupon(id) {
      this.$confirm('确定要删除ID:' + id + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        CouponApi.delCoupon(id).then(response => {
          this.operationMsg('同意的ID: ' + id.toString() + ' 操作成功！', 'success')
          this.search()
        })
      }).catch(() => { })
    },
    upCoupon(id) {
      this.$confirm('确定要上架ID:' + id + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        CouponApi.upCoupon(id).then(response => {
          this.operationMsg('同意的ID: ' + id.toString() + ' 操作成功！', 'success')
          this.search()
        })
      }).catch(() => { })
    },
    offCoupon(id) {
      this.$confirm('确定要下架ID:' + id + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        CouponApi.offCoupon(id).then(response => {
          this.operationMsg('同意的ID: ' + id.toString() + ' 操作成功！', 'success')
          this.search()
        })
      }).catch(() => { })
    },
    createCoupon() {
      this.couponDialogData.dialogVisible = true
    },
    closeCouponDialog($data) {
      this.couponDialogData = $data
    },
    queryReset() {
      this.query = {
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
