<template>
  <div class="app-container">
     <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="2">
               <el-form ref="form" inline label-width="80px">
                    <el-form-item label="类型">
                         <el-select v-model="type" placeholder="请选择">
                              <el-option
                              v-for="item in typeList" 
                              :key="item.id"
                              :label="item.name" 
                              :value="item.id"></el-option>
                         </el-select>
                    </el-form-item>
                    <el-form-item>
                         <el-button type="primary" @click="searchTask">搜 索</el-button></el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="2">
               <el-table
                    :data="getTasks"
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="id"
                         label="任务ID" >
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="type_desc"
                         label="任务类型" >
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="start_at"
                         label="任务开始时间" >
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="state_desc"
                         label="任务状态" >
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="result_desc"
                         label="任务结果" >
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-popover
                                   v-if="scope.row.is_asset"
                                   placement="right"
                                   :width="400"
                                   trigger="hover"
                                   >
                                   <template #reference>
                                   <el-button>文件列表</el-button>
                                   </template>
                                   <div 
                                   class="item"
                                   :key="index" 
                                   v-for="(asset, index) in scope.row.assets"
                                   >
                                        <el-link 
                                        icon="el-icon-download"
                                        type="primary" 
                                        :href="tranferUri(asset.url)"
                                        >{{ asset.name }}</el-link>
                                   </div>
                                   
                              </el-popover>
                              <el-button 
                              v-if="scope.row.repush"
                              type="danger" 
                              v-permission="'import:task:rePush'"
                              @click="reExecute(scope.row.id)">重新投递</el-button>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
          <el-col :span="22" :offset="2" class="page">
               <el-pagination
                    background
                    layout="prev, pager, next"
                    :current-page="page.current"
                    :total="page.total"
                    @current-change="getPageData"
                    @prev-click="getPageData(page.current - 1)"
                    @next-click="getPageData(page.current + 1)"/>
          </el-col>
     </el-row>
  </div>
</template>
<script>
import { listTask,rePush,taskTypes } from '@/api/task/task'
export default {
     data: function(){
          return {
               tasks: [],
               page: {
                    total: 0,
                    pages: 0,
                    current: 1,
                    size: 10
               },
               type: 0,
               typeList: [],
               isSsl: false
          };
     },
     mounted: function() {
          let query = this.$route.query
          let type = query.type
          if(type == undefined) {
               type = 0
          }
          type = parseInt(type)
          console.log(type)
          this.$data.type = type
          this.taskTypes()
          this.initTask(this.$data.page.current)
          this.$data.isSsl = document.location.protocol == 'https:'
     },
     methods: {
          tranferUri: function(uri) {
               if(uri == "") {
                    return uri
               }
               if(this.$data.isSsl && uri.substring(0, 5) == 'http:') {
                    let path = uri.substring(4)
                    return 'https' + path
               }
               return uri
          },
          taskTypes: function() {
            taskTypes().then(resp => {
                this.$data.typeList = resp.data
            })
          },
          searchTask: function() {
               this.initTask(1)
          },
          getPageData: function(nextPage) {
               this.initTask(nextPage)
          },
          initTask: function(current) {
               listTask(
                    this.$data.type,
                    current,
                    this.$data.page.size
               ).then(resp => {
                   this.$data.tasks = resp.data.list
                   this.$data.page = resp.data.page 
                   console.log(this.$data.tasks)
               })
          },
          reExecute: function(id) {
               const idx = this.$data.tasks.findIndex(function(val) {
                              return val.id == id
                         })
               if (idx == -1) {
                    return false 
               }
               let itemData = JSON.parse(JSON.stringify(this.$data.tasks[idx]))
               id = parseInt(id)
               rePush(id)
                    .then(resp => {
                         itemData.state = 3
                         itemData.result = 1
                         this.$set(this.$data.tasks, idx, itemData)
                    })
          }
     },
     computed: {
          getTasks() {
               let me = this
               let items = this.$data.tasks.map(function(val) {
                    let stateDesc = "-"
                    let resultDesc = "-"
                    let typeDesc = "-"
                    let type = val.type
                    let v = me.$data.typeList.find(function(item) {
                         return type == item.id;
                    })
                    if (v != undefined) {
                         typeDesc = v.name
                    }
                    
                    switch (val.state) {
                         case 1:
                              stateDesc = "未投递"
                              break;
                         case 2:
                              stateDesc = "处理中"
                              break;
                         case 3:
                              stateDesc = "已重新投递"
                              break;
                         case 4:
                              stateDesc = "已结束"
                              if (val.result == 1) {
                                   resultDesc = "成功"
                              } else if (val.result == 2) {
                                   resultDesc = "失败"
                              } else {
                                   resultDesc = "部分成功"
                              }
                         default:
                              break;
                    }
                    let assets = [];
                    let isAsset = false
                    if (val.state == 4 && (val.result == 1 || val.result == 3)) {
                         assets = val.asset
                         isAsset = true
                    }
                    let repush = val.state==4 && (val.result == 2 || val.result == 3)
                    return {
                         id: val.id,
                         start_at: val.start_at,
                         state_desc: stateDesc,
                         result_desc: resultDesc,
                         type_desc: typeDesc,
                         is_asset: isAsset,
                         assets: assets,
                         repush: repush
                    };
               });
               return items;
          }
     }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}

.page {
     margin-top: 25px;
}
</style>
