<template>
  <el-dialog title="统计数据" :visible.sync="analysisData.analysisVisible" :before-close="close" width="80%">
    <el-button v-show="!a_loading" type="primary" size="mini" @click="pdf()">导出PDF</el-button>
    <i v-show="!a_loading&&p_loading" class="el-icon-loading" />
    <div id="pdf">
      <h3 class="title">{{ analysisData.title }}</h3>
      <div v-loading="a_loading">
        <el-card class="box-card-one" shadow="never">
          <div slot="header" class="clearfix">
            <span>直播概况</span>
          </div>
          <div class="title-se">
            <div class="title-item">
              <div>直播时长</div>
              <div class="title-item-two">{{ base_data.live_last_time }}
                <span class="title-item-three">分钟</span>
              </div>
            </div>
            <div class="title-item">
              <div>观众数(UV)</div>
              <el-tooltip class="item" effect="dark" placement="bottom">
                <div slot="content">优锐：{{ uv_yy }}人<br>其他：{{ uv_qt }}人</div>
                <div
                  class="title-item-two"
                  style="cursor: pointer;text-decoration: underline;"
                >
                  {{ base_data.uv }}
                  <span class="title-item-three">人</span>
                </div>
              </el-tooltip>
            </div>
            <div class="title-item">
              <div>观看量(PV)</div>
              <el-tooltip class="item" effect="dark" placement="bottom">
                <div slot="content">优锐：{{ pv_yy }}人次<br>其他：{{ pv_qt }}人次</div>
                <div
                  class="title-item-two"
                  style="cursor: pointer;text-decoration: underline;"
                >
                  {{ base_data.pv }}
                  <span class="title-item-three">人次</span>
                </div>
              </el-tooltip>
            </div>
            <div class="title-item">
              <div>IP个数</div>
              <div class="title-item-two">{{ base_data.ip_count }}
                <span class="title-item-three">个</span>
              </div>
            </div>
            <div class="title-item">
              <div>已关注数量</div>
              <div class="title-item-two">{{ base_data.subscribe_count }}
                <span class="title-item-three">人</span>
              </div>
            </div>
            <div class="title-item" style="border-right: none;">
              <div>观看总时长</div>
              <div class="title-item-two">{{ base_data.pv_last_time }}
                <span class="title-item-three">分钟</span>
              </div>
            </div>
          </div>
        </el-card>

        <el-card style="margin-top: 30px;" shadow="never">
          <div slot="header" class="clearfix">
            <span>在线观众分布</span>
          </div>
          <div>
            <div id="myChart1" class="chart2" />
          </div>
        </el-card>

        <el-card style="margin-top: 30px;" shadow="never">
          <div slot="header" class="clearfix">
            <span>观看时长分析</span>
          </div>
          <div>
            <div id="myChart2" class="chart2" />
          </div>
        </el-card>

        <el-card style="margin-top: 30px;" shadow="never">
          <div slot="header" class="clearfix">
            <span>地域分布</span>
          </div>
          <div>
            <div id="myChart3" class="chart2" />
          </div>
        </el-card>

        <el-card style="margin-top: 30px;" shadow="never">
          <div slot="header" class="clearfix">
            <span>观看量排行</span>
          </div>
          <div>
            <el-table :data="pv_in_area_table" stripe border style="width:100%;">
              <el-table-column prop="name" label="省份" align="center" />
              <el-table-column prop="area" label="大区" align="center" />
              <el-table-column prop="value" label="观看人次" align="center" />
              <el-table-column prop="rank" label="排序" sortable align="center" />
              <el-table-column prop="sValue" label="分享数" align="center" />
              <el-table-column prop="sRank" label="排序" sortable align="center" />
            </el-table>
          </div>
        </el-card>

        <el-card style="margin-top: 30px;" shadow="never">
          <div slot="header" class="clearfix">
            <span>大区观众分布</span>
          </div>
          <div>
            <div id="myChart4" class="chart2" />
          </div>
        </el-card>

        <el-card style="margin-top: 30px;" shadow="never">
          <div slot="header" class="clearfix">
            <span>分享排行榜单</span>
          </div>
          <div>
            <el-table :data="share_rank" stripe border style="width: 100%;">
              <el-table-column prop="rank" label="排名" align="center" />
              <el-table-column prop="nickname" label="观众" align="center" />
              <el-table-column prop="count" label="分享数" align="center" />
            </el-table>
          </div>
        </el-card>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { getAnalysisData } from '@/api/live/live'
import * as echarts from 'echarts'
import '../echarts/maps/china.js'
import html2canvas from 'html2canvas'
import JsPDF from 'jspdf'

export default {
  name: 'Analysis',
  components: {},
  props: {
    analysisData: {
      type: Object,
      default: () => {
        return {
          analysisVisible: false,
          title: {
            type: String,
            default: ''
          }
        }
      }
    }
  },
  data() {
    return {
      a_loading: true,
      myChart1: {},
      myChart2: {},
      myChart3: {},
      myChart4: {},
      base_data: {},
      pv_in_time: [],
      pv_last_time: {},
      pv_in_area: {},
      pv_in_area_table: [],
      pv_in_big_area: {},
      share_rank: [],
      uv_yy: 0,
      uv_qt: 0,
      pv_yy: 0,
      pv_qt: 0,
      p_loading: false
    }
  },
  mounted() {

  },
  methods: {
    getAnalysisData(id) {
      var that = this
      that.a_loading = true
      setTimeout(function() {
        that.myChart1 = echarts.init(document.getElementById('myChart1'))
        that.myChart2 = echarts.init(document.getElementById('myChart2'))
        that.myChart3 = echarts.init(document.getElementById('myChart3'))
        that.myChart4 = echarts.init(document.getElementById('myChart4'))
        getAnalysisData({ live_id: id }).then(response => {
          that.a_loading = false
          that.base_data = response.data.base_data
          that.pv_in_time = response.data.pv_in_time
          that.pv_last_time = response.data.pv_last_time
          that.pv_in_area = response.data.pv_in_area
          that.pv_in_area_table = response.data.pv_in_area_table
          that.pv_in_big_area = response.data.pv_in_big_area
          that.share_rank = response.data.share_rank
          that.chartOne(that.myChart1)
          that.chartTwo(that.myChart2)
          that.chartThree(that.myChart3)
          that.chartFour(that.myChart4)
          that.uv_yy = response.data.base_data.uv_a.uv_yy
          that.uv_qt = response.data.base_data.uv_a.uv_qt
          that.pv_yy = response.data.base_data.pv_a.pv_yy
          that.pv_qt = response.data.base_data.pv_a.pv_qt
        }).catch(() => {})
      }, 1000)
    },
    chartFour(myChart) {
      myChart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        grid: {
          left: '8%',
          bottom: '5%',
          containLabel: true
        },
        yAxis: [
          {
            type: 'category',
            data: this.pv_in_big_area.key,
            axisTick: {
              alignWithLabel: true
            }
          }
        ],
        xAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: '人次',
            type: 'bar',
            barWidth: '40%',
            data: this.pv_in_big_area.value
          }
        ]
      })
    },
    chartThree(myChart) {
      myChart.setOption({
        title: {
          text: '',
          subtext: '',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: ['观看量']
        },
        visualMap: {
          min: 0,
          max: this.pv_in_area.max,
          left: 'left',
          top: 'bottom',
          text: ['高', '低'],
          calculable: true
        },
        series: [
          {
            name: '观看量',
            type: 'map',
            map: 'china',
            roam: false,
            emphasis: {
              label: {
                show: true
              }
            },
            data: this.pv_in_area.data
          }
        ]
      })
    },
    chartTwo(myChart) {
      myChart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        grid: {
          top: '8%',
          bottom: '5%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            data: this.pv_last_time.key,
            axisTick: {
              alignWithLabel: true
            },
            axisLabel: {
              interval: 0,
              rotate: -30
            }
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: '人数',
            type: 'bar',
            barWidth: '40%',
            data: this.pv_last_time.value
          }
        ]
      })
    },
    chartOne(myChart) {
      myChart.setOption({
        tooltip: {
          trigger: 'axis',
          position: function(pt) {
            return [pt[0], '10%']
          }
        },
        title: {
          left: 'center',
          text: ''
        },
        grid: {
          top: '8%',
          containLabel: true
        },
        xAxis: {
          type: 'time',
          boundaryGap: false
        },
        yAxis: {
          type: 'value',
          boundaryGap: [0, '100%']
        },
        dataZoom: [
          {
            type: 'inside',
            start: 0,
            end: 100
          },
          {
            start: 0,
            end: 0
          }
        ],
        series: [
          {
            name: '观众数量',
            type: 'line',
            smooth: true,
            symbol: 'none',
            areaStyle: {},
            data: this.pv_in_time
          }
        ]
      })
    },
    pdf() {
      this.p_loading = true
      const ele = document.querySelector('#pdf')
      // 获得该容器的宽
      const eleW = ele.offsetWidth
      // 获得该容器的高
      const eleH = ele.offsetHeight
      // 获得该容器到文档顶部的距离
      const eleOffsetTop = ele.offsetTop
      // 获得该容器到文档最左的距离
      const eleOffsetLeft = ele.offsetLeft

      var canvas = document.createElement('canvas')
      var abs = 0
      // 获得当前可视窗口的宽度（不包含滚动条）
      const win_in = document.documentElement.clientWidth || document.body.clientWidth
      // 获得当前窗口的宽度（包含滚动条）
      const win_out = window.innerWidth

      if (win_out > win_in) {
        // 获得滚动条宽度的一半
        abs = (win_out - win_in) / 2
        // console.log(a, '新abs')
      }
      // 将画布宽&&高放大两倍
      canvas.width = eleW * 2
      canvas.height = eleH * 2

      var context = canvas.getContext('2d')
      context.scale(2, 2)
      context.translate(-eleOffsetLeft - abs, -eleOffsetTop)
      // 这里默认横向没有滚动条的情况，因为offset.left(),有无滚动条的时候存在差值，因此
      // translate的时候，要把这个差值去掉
      html2canvas(ele, {
        dpi: 300,
        // allowTaint: true
        // 允许 canvas 污染，allowTaint参数要去掉，否则是无法通过toDataURL导出canvas数据的
        useCORS: true
        // 允许canvas画布内 可以跨域请求外部链接图片, 允许跨域请求
      }).then((canvas) => {
        var contentWidth = canvas.width
        var contentHeight = canvas.height
        // 页面偏移
        var position = 20
        var imgWidth = 297
        var imgHeight = 297 / contentWidth * contentHeight
        var pageData = canvas.toDataURL('image/jpeg', 1.0)
        var pdf = new JsPDF('p', 'mm', [imgWidth, imgHeight + 20])
        // 当内容未超过pdf一页显示的范围，无需分页
        pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
        // 可动态生成
        pdf.save(this.analysisData.title + '.pdf')
        this.p_loading = false
      })
    },
    close() {
      this.myChart1.dispose()
      this.myChart2.dispose()
      this.myChart3.dispose()
      this.myChart4.dispose()
      var analysisData = {
        analysisVisible: false,
        title: ''
      }
      this.$emit('closeAnalysis', analysisData)
    }
  }
}
</script>

<style>
    .el-card__header {
      padding: 12px 20px;
    }
    .el-card__body {
      padding: 16px 20px;
    }
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both
    }

    .box-card-one {
      width: 100%;
    }

.title {
  text-align: center;
}
.title-se {
  display: flex;
}
.title-item {
  width: 20%;
  text-align: center;
  border-right: 1px solid #e6ebf5;
}
.title-item-two {
  color: #1890ff;
  margin-top: 20px;
  font-size: 18px;
}
.title-item-three {
  font-size: 12px;
}
.chart-one {
  width: 48%;
}
.chart1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}
.chart2 {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
</style>
