<template>
  <el-dialog title="直播详情" :visible.sync="detailDialogData.detailVisible" :before-close="close" width="80%">
    <h3 style="margin-top: 20px;">基础信息</h3>
    <table class="table">
      <tr>
        <td class="td header">直播名称</td>
        <td class="td">{{ detailDialogData.dataList.title }}</td>
      </tr>
      <tr>
        <td class="td header">直播分类</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.type==1">视频回顾</span>
          <span v-if="detailDialogData.dataList.type==2">优云呼吸雾化前沿</span>
          <span v-if="detailDialogData.dataList.type==3">优铁能医第三方会议</span>
          <span v-if="detailDialogData.dataList.type==4">优铁能医大咖说</span>
          <span v-if="detailDialogData.dataList.type==5">雾化学术会议</span>
          <span v-if="detailDialogData.dataList.type==6">优铁能医空中课堂</span>
        </td>
      </tr>
      <tr>
        <td class="td header">直播状态</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.live_state==1">直播中</span>
          <span v-if="detailDialogData.dataList.live_state==2">未开始</span>
          <span v-if="detailDialogData.dataList.live_state==3">已结束</span>
          <span v-if="detailDialogData.dataList.live_state==4">已结束</span>
        </td>
      </tr>
      <tr>
        <td class="td header">直播平台</td>
        <td class="td">{{ detailDialogData.dataList.platform_name }}</td>
      </tr>
      <tr>
        <td class="td header">开始时间</td>
        <td class="td">{{ detailDialogData.dataList.start_time }}</td>
      </tr>
      <tr>
        <td class="td header">结束时间</td>
        <td class="td">{{ detailDialogData.dataList.end_time }}</td>
      </tr>
      <tr>
        <td class="td header">拉流地址</td>
        <td class="td">{{ detailDialogData.dataList.pullflow_url }}</td>
      </tr>
      <tr>
        <td class="td header">微赞观看地址</td>
        <td class="td"><a :href="detailDialogData.dataList.weizan_url" class="a">{{ detailDialogData.dataList.weizan_url }}</a></td>
      </tr>
      <tr>
        <td class="td header">列表封面</td>
        <td class="td">
          <el-image v-for="(item,index) in detailDialogData.dataList.thumbnail_img" :key="index" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </td>
      </tr>
      <tr>
        <td class="td header">详情封面</td>
        <td class="td">
          <el-image v-for="(item,index) in detailDialogData.dataList.cover_img" :key="index" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </td>
      </tr>
      <tr>
        <td class="td header">直播专家</td>
        <td class="td">{{ detailDialogData.dataList.experts }}</td>
      </tr>
      <tr>
        <td class="td header">跑马灯文字（上方）</td>
        <td class="td">{{ detailDialogData.dataList.running_text_up }}</td>
      </tr>
      <tr>
        <td class="td header">跑马灯文字（下方）</td>
        <td class="td">{{ detailDialogData.dataList.running_text_down }}</td>
      </tr>
      <tr>
        <td class="td header">主席</td>
        <td class="td">{{ detailDialogData.dataList.hosts }}</td>
      </tr>
      <tr>
        <td class="td header">讲者</td>
        <td class="td">{{ detailDialogData.dataList.speaker }}</td>
      </tr>
      <tr>
        <td class="td header">报名表id</td>
        <td class="td">{{ detailDialogData.dataList.signup_sheet }}</td>
      </tr>
      <tr>
        <td class="td header">部门</td>
        <td class="td">{{ detailDialogData.dataList.depart }}</td>
      </tr>
      <tr>
        <td class="td header">省份</td>
        <td class="td">{{ detailDialogData.province_name }}</td>
      </tr>
      <tr>
        <td class="td header">统计类型</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.analysis_type==1">大咖说</span>
          <span v-if="detailDialogData.dataList.analysis_type==2">空中课堂</span>
        </td>
      </tr>
      <tr>
        <td class="td header">kol类型</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.kol_type==1">全国KOL</span>
          <span v-if="detailDialogData.dataList.kol_type==2">省市KOL</span>
          <span v-if="detailDialogData.dataList.kol_type==3">区域KOL</span>
        </td>
      </tr>
      <tr>
        <td class="td header">菜单</td>
        <td class="td">
          <span v-for="item in detailDialogData.dataList.menu" :key="item.id" class="menu" :value="item.id">{{ item.menu_title }}</span>
        </td>
      </tr>
    </table>

    <h3>评论设置</h3>
    <table class="table">
      <tr>
        <td class="td header">是否允许评论</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.allow_comment==true">是</span>
          <span v-if="detailDialogData.dataList.allow_comment==false">否</span>
        </td>
      </tr>
    </table>

    <h3>分享设置</h3>
    <table class="table">
      <tr>
        <td class="td header">是否允许分享</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.allow_share==true">是</span>
          <span v-if="detailDialogData.dataList.allow_share==false">否</span>
        </td>
      </tr>
      <tr>
        <td class="td header">分享标题</td>
        <td class="td">{{ detailDialogData.dataList.share_title }}</td>
      </tr>
      <tr>
        <td class="td header">分享封面</td>
        <td class="td">
          <el-image v-for="(item,index) in detailDialogData.dataList.share_img" :key="index" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </td>
      </tr>
      <tr>
        <td class="td header">分享描述</td>
        <td class="td">{{ detailDialogData.dataList.share_desc }}</td>
      </tr>
    </table>

    <h3>直播回顾</h3>
    <table class="table">
      <tr>
        <td class="td header">是否开启直播回顾</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.allow_review==true">是</span>
          <span v-if="detailDialogData.dataList.allow_review==false">否</span>
        </td>
      </tr>
      <tr>
        <td class="td header">直播回顾链接</td>
        <td class="td">{{ detailDialogData.dataList.review_url }}</td>
      </tr>
    </table>

    <h3>直播数据</h3>
    <table class="table">
      <tr>
        <td class="td header">观看数量初始数值</td>
        <td class="td">{{ detailDialogData.dataList.read_init }}</td>
      </tr>
      <tr>
        <td class="td header">pv倍数</td>
        <td class="td">{{ detailDialogData.dataList.read_pv_multiple }}</td>
      </tr>
      <tr>
        <td class="td header">真实观看数量</td>
        <td class="td">{{ detailDialogData.dataList.read_uv }}</td>
      </tr>
      <tr>
        <td class="td header">观看数量</td>
        <td class="td">{{ detailDialogData.dataList.read }}</td>
      </tr>
      <tr>
        <td class="td header">点赞数量</td>
        <td class="td">{{ detailDialogData.dataList.like }}</td>
      </tr>
      <tr>
        <td class="td header">收藏数量</td>
        <td class="td">{{ detailDialogData.dataList.collected }}</td>
      </tr>
      <tr>
        <td class="td header">评论数量</td>
        <td class="td">{{ detailDialogData.dataList.comment }}</td>
      </tr>
      <tr>
        <td class="td header">分享数量</td>
        <td class="td">{{ detailDialogData.dataList.share }}</td>
      </tr>
      <tr>
        <td class="td header">报名数量</td>
        <td class="td">{{ detailDialogData.dataList.signup }}</td>
      </tr>
      <tr>
        <td class="td header">订阅数量</td>
        <td class="td">{{ detailDialogData.dataList.subscribe }}</td>
      </tr>
    </table>

    <h3>其他信息</h3>
    <table class="table">
      <tr>
        <td class="td header">排序数值</td>
        <td class="td">{{ detailDialogData.dataList.rank }}</td>
      </tr>
      <tr>
        <td class="td header">是否置顶</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.is_top==1">是</span>
          <span v-if="detailDialogData.dataList.is_top==0">否</span>
        </td>
      </tr>
      <tr>
        <td class="td header">当前状态</td>
        <td class="td">
          <span v-if="detailDialogData.dataList.status==1">上架中</span>
          <span v-if="detailDialogData.dataList.status==2">已下架</span>
        </td>
      </tr>
    </table>
  </el-dialog>
</template>

<script>

export default {
  name: 'Detail',
  props: {
    detailDialogData: {
      type: Object,
      default: () => {
        return {
          detailVisible: {
            type: Boolean,
            default: false
          },
          dataList: {
            type: Array,
            default: {}
          },
          province_name: {
            type: String,
            default: ''
          }
        }
      }
    }
  },
  methods: {
    close() {
      var detailDialogData = {
        detailVisible: false,
        dataList: {}
      }
      this.$emit('closeDetailDialog', detailDialogData)
    }
  }
}
</script>

<style scoped>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .el-dialog__body{
    padding: 0 20px 30px 20px;
  }
  h3 {
    margin-top: 40px;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .el-table thead {
      color: #606266;
      font-weight: 600;
  }
  .cell {
    text-align: center;
  }
  .menu {
    margin-left: 10px;
  }
</style>
