<template>
  <el-dialog title="创建/更新直播" :visible.sync="liveDialogData.liveVisible" :before-close="close" width="80%">
    <el-form
      ref="newLiveForm"
      label-position="right"
      :model="liveDialogData.newLiveForm"
      label-width="120px"
      class="demo-ruleForm"
    >
      <el-divider />
      <h3>直播信息</h3>
      <el-row>
        <el-col :span="24">
          <el-form-item label="会议名称">
            <el-select
              v-model="liveDialogData.newLiveForm.meeting_name"
              style="width:100%"
              filterable
              remote
              reserve-keyword
              :remote-method="getMeetingList"
              @change="changeMeetingList"
              >
              <el-option
                v-for="item in meetingList"
                :key="item.id"
                :label="item.name"
                :value="item.value">
              </el-option>
            </el-select>

          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="申请人">
            <el-input v-model="liveDialogData.newLiveForm.meeting_apply_name" disabled />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="手机号">
            <el-input v-model="liveDialogData.newLiveForm.meeting_apply_phone" disabled />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item label="管理员">
            <el-select
              v-model="liveDialogData.newLiveForm.meeting_admin"
              style="width:100%"
              filterable
              remote
              reserve-keyword
              :remote-method="getUserAdmin"
              @change="changeMeetingAdmin"
              >
              <el-option
                v-for="item in meetingAdmins"
                :key="item.id"
                :label="item.name"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            label="每刻申请单号"
            prop="mk_code"
            :rules="[
              { required: true, message: '请输入每刻申请单号', trigger: 'blur' }
            ]"
          >
            <el-input v-model="liveDialogData.newLiveForm.mk_code" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="8">
          <el-form-item
            label="项目类型"
            prop="type1"
            :rules="[
              { required: true, message: '请选择项目类型', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.type1">
              <el-option v-for="item in types1" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            label="项目名称"
            prop="type2"
            :rules="[
              { required: true, message: '请选择项目名称', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.type2">
              <el-option v-for="item in types2" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            label="项目分类"
            prop="type3"
            :rules="[
              { required: true, message: '请选择项目分类', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.type3" @change="GetType3">
              <el-option v-for="item in types3" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            label="直播标题"
            prop="title"
            :rules="[
              { required: true, message: '请输入直播标题', trigger: 'blur' }
            ]"
          >
            <el-input v-model="liveDialogData.newLiveForm.title" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="8">
          <el-form-item
            label="所属大区"
            prop="area"
            :rules="[
              { required: true, message: '请选择所属大区', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.area">
              <el-option v-for="item in areas" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            label="所属省份"
            prop="province"
            :rules="[
              { required: true, message: '请选择所属省份', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.province">
              <el-option v-for="item in provinces" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            label="费用所属"
            prop="location"
            :rules="[
              { required: true, message: '请选择费用所属', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.location">
              <el-option v-for="item in locations" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            label="所属医院"
            prop="hospital"
            :rules="[
              { required: true, message: '请选择第一主席所属医院', trigger: 'change' }
            ]"
          >
            <el-select
              v-model="liveDialogData.newLiveForm.hospital"
              style="width:100%"
              filterable
              clearable
              remote
              reserve-keyword
              placeholder="请选择第一主席所属医院"
              :remote-method="remoteMethod"
              @change="checkYouruiHosp"
              @clear="clearYouruiHosp"
              >
              <el-option
                v-for="item in staticHospitals"
                :key="item.id"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item
            label="所属部门"
            prop="depart"
            :rules="[
              { required: true, message: '请选择部门', trigger: 'change' }
            ]"
          >
            <el-autocomplete
              v-model="liveDialogData.newLiveForm.depart"
              style="width:100%;"
              class="inline-input"
              :fetch-suggestions="querySearch"
              placeholder="请输入部门名称"
              @select="handleSelect"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item
            label="所属产品"
            prop="product"
            :rules="[
              { required: true, message: '请选择产品', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.product" style="width:100%">
              <el-option v-for="item in products" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="3">
          <h4 style="padding-left: 50px;">会议时间</h4>
          <el-button class="newbutton" size="mini" style="margin-left: 35px;" @click="addTimeLime">添加时间</el-button>
        </el-col>
        <el-col :span="21">
          <el-table :data="liveDialogData.newLiveForm.timelines" stripe border>
            <el-table-column prop="start_time" label="开始时间" align="center" />
            <el-table-column prop="end_time" label="结束时间" align="center" />
            <el-table-column prop="" label="操作" width="220" align="center">
              <template slot-scope="{row}">
                <el-row>
                  <el-col :span="12">
                    <el-button type="primary" size="mini" @click="updateTime(row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12">
                    <el-button type="danger" size="mini" @click="deleteTime(row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <el-row style="margin-top: 20px">
        <el-col :span="3">
          <h4 style="padding-left: 50px;">会议主席</h4>
          <el-button class="newbutton" size="mini" style="margin-left: 35px;" @click="addChairman">添加主席</el-button>
        </el-col>
        <el-col :span="21">
          <el-table :data="liveDialogData.newLiveForm.chairmans" stripe border>
            <el-table-column prop="c_name" label="姓名" align="center" />
            <el-table-column prop="c_level" label="级别" align="center" />
            <el-table-column prop="c_hospital" label="医院" align="center" />
            <el-table-column prop="c_depart" label="科室" align="center" />
            <el-table-column prop="" label="操作" width="150" align="center">
              <template slot-scope="{row}">
                <el-row>
                  <el-col :span="12">
                    <el-button type="primary" size="mini" @click="updateChairman(row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12">
                    <el-button type="danger" size="mini" @click="deleteChairman(row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <el-row style="margin-top: 20px">
        <el-col :span="3">
          <h4 style="padding-left: 50px;">会议讲者</h4>
          <el-button class="newbutton" size="mini" style="margin-left: 35px;" @click="addSpeaker">添加讲者</el-button>
        </el-col>
        <el-col :span="21">
          <el-table :data="liveDialogData.newLiveForm.speakers" stripe border>
            <el-table-column prop="s_name" label="姓名" align="center" />
            <el-table-column prop="s_level" label="级别" align="center" />
            <el-table-column prop="s_hospital" label="医院" align="center" />
            <el-table-column prop="s_depart" label="科室" align="center" />
            <el-table-column prop="s_project" label="课题" align="center" />
            <el-table-column prop="" label="操作" width="150" align="center">
              <template slot-scope="{row}">
                <el-row>
                  <el-col :span="12">
                    <el-button type="primary" size="mini" @click="updateSpeaker(row)">编辑</el-button>
                  </el-col>
                  <el-col :span="12">
                    <el-button type="danger" size="mini" @click="deleteSpeaker(row)">删除</el-button>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <el-form-item
        style="margin-top: 20px;"
        label="直播平台"
        prop="platform_name"
        :rules="[
          { required: true, message: '请上传图片', trigger: 'blur' }
        ]"
      >
        <el-checkbox-group v-model="liveDialogData.newLiveForm.platform_name">
          <el-checkbox label="代表公众号" />
          <el-checkbox label="代表APP" />
          <el-checkbox label="医生公众号" />
          <el-checkbox label="医生APP" />
          <el-checkbox label="力蜚能小程序" />
        </el-checkbox-group>
      </el-form-item>

      <el-row>
        <el-col :span="12">
          <el-form-item
            label="列表图片"
            prop="thumbnail_img"
          >
            <ImgUpload
              :picList="liveDialogData.newLiveForm.thumbnail_img"
              :uploadData="uploadData"
              :sign="sign.listCover"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item
            label="详情封面"
            prop="cover_img"
          >
            <ImgUpload
              :picList="liveDialogData.newLiveForm.cover_img"
              :uploadData="uploadData"
              :sign="sign.detailCover"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="分享海报"
           :rules="[
              { required: true, message: '请上传图片', trigger: 'blur' }
            ]"
          >
            <ImgUpload
              :picList="liveDialogData.newLiveForm.share_poster"
              :uploadData="uploadData"
              :sign="sign.share_poster"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item label="跑马灯文字上方">
            <el-input v-model="liveDialogData.newLiveForm.running_text_up" placeholder="请输入跑马灯文字" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item label="跑马灯文字下方">
            <el-input v-model="liveDialogData.newLiveForm.running_text_down" placeholder="请输入跑马灯文字" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            label="报名表"
            prop="signup_sheet"
            :rules="[
              { required: true, message: '请选择报名表', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.signup_sheet" style="width:100%" placeholder="请选择报名表">
              <el-option v-for="item in sheets" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            label="直播拉流地址"
            prop="pullflow_url"
            :rules="[
              { required: true, message: '请输入直播拉流地址', trigger: 'blur' }
            ]"
          >
            <el-input v-model="liveDialogData.newLiveForm.pullflow_url" placeholder="请输入直播拉流地址" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item label="微赞观看地址">
            <el-input v-model="liveDialogData.newLiveForm.weizan_url" placeholder="请输入微赞观看地址" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item label="审批编号" prop="approval_no">
            <el-input v-model="liveDialogData.newLiveForm.approval_no" placeholder="请输入审批编号" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item label="标签选择" prop="label">
            <el-select v-model="liveDialogData.newLiveForm.label" style="width:100%" multiple placeholder="请选择">
              <el-option
                v-for="item in labelOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            label="是否内部"
            prop="is_out"
            :rules="[
              { required: true, message: '请选择是否内部', trigger: 'change' }
            ]"
          >
            <el-select v-model="liveDialogData.newLiveForm.is_out" style="width:100%" placeholder="请选择类型">
              <el-option v-for="item in is_out_data" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row v-if="liveDialogData.newLiveForm.is_out==1">
        <el-col :span="3" :offset="3">
          <el-button type="primary" class="newbutton" @click="downloadTemplate">下载模版</el-button>
        </el-col>
        <el-col :span="3">
          <el-upload
            ref="upload"
            class="upload-demo"
            action="#"
            :auto-upload="true"
            :on-error="uploadError"
            :show-file-list="false"
            :before-upload="beforeUploadForm"
            :http-request="uploadhiteList"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </el-col>
        <el-col :span="3">
          <el-button type="primary" class="newbutton" @click="showWhiteList()">查看名单</el-button>
        </el-col>
      </el-row>

      <el-form-item label="是否必须注册后观看" label-width="180px">
        <el-switch v-model="liveDialogData.newLiveForm.is_available" />
      </el-form-item>

      <!-- 线上菜单 START -->
      <el-divider />
      <h3>线上菜单设置</h3>

      <el-row>
        <el-col :span="3">
          <el-button type="primary" class="newbutton" @click="showInnerMenuDialog">新建线上菜单</el-button>
        </el-col>
      </el-row>
      <el-table :data="liveDialogData.newLiveForm.menu" stripe border style="width: 92%;margin-top: 10px;">
        <el-table-column prop="menu_title" label="菜单名称" align="center" />
        <el-table-column prop="" label="操作" width="220" align="center">
          <template slot-scope="{row}">
            <el-row>
              <el-col :span="8">
                <el-button :disabled="row.menu_title=='评论'" type="primary" size="mini" @click="menuDetail(row)">查看
                </el-button>
              </el-col>
              <el-col :span="8">
                <el-button :disabled="row.menu_title=='评论'" type="primary" size="mini" @click="updatemenuDetail(row)">编辑
                </el-button>
              </el-col>
              <el-col :span="8">
                <el-popconfirm
                  title="确定要删除该菜单吗？"
                  confirm-button-text="确定"
                  cancel-button-text="取消"
                  @confirm="deleteMenu(row)"
                >
                  <el-button slot="reference" :disabled="row.menu_title=='评论'" type="danger" size="mini">删除</el-button>
                </el-popconfirm>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
      </el-table>
      <!-- 线上菜单 END -->

      <!-- 线下菜单 START -->
      <el-divider />
      <h3>线下信息配置</h3>

      <el-row>
        <el-col :span="3">
          <el-button type="primary" class="newbutton" @click="showrMenuDialogOffLine">新建线下菜单</el-button>
        </el-col>
      </el-row>
      <el-table :data="liveDialogData.newLiveForm.menu_off_line" stripe border style="width: 92%;margin-top: 10px;">
        <el-table-column prop="menu_title" label="菜单名称" align="center" />
        <el-table-column prop="" label="操作" width="220" align="center">
          <template slot-scope="{row}">
            <el-row>
              <el-col :span="8">
                <el-button type="primary" size="mini" @click="menuDetail(row)">查看
                </el-button>
              </el-col>
              <el-col :span="8">
                <el-button type="primary" size="mini" @click="updatemenuDetailOffLine(row)">编辑
                </el-button>
              </el-col>
              <el-col :span="8">
                <el-popconfirm
                  title="确定要删除该菜单吗？"
                  confirm-button-text="确定"
                  cancel-button-text="取消"
                  @confirm="deleteOffLineMenu(row)"
                >
                  <el-button slot="reference" :disabled="row.menu_title=='会议日程'" type="danger" size="mini">删除</el-button>
                </el-popconfirm>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
      </el-table>

      <el-dialog width="40%" title="创建菜单-线下" :visible.sync="innerMenuDialogOffLine" append-to-body>
        <el-form ref="menuListOffLine" :model="menuListOffLine" label-position="left" label-width="80px" class="demo-ruleForm">
          <el-form-item
            label="菜单名称"
            prop="new_menu"
            :rules="[
              { required: true, message: '请输入菜单名称', trigger: 'blur' }
            ]"
          >
            <el-input v-model="menuListOffLine.new_menu" placeholder="请输入菜单名称" />
          </el-form-item>

          <el-form-item style="margin-top: 20px;">
            <el-button type="primary" @click="createNewMenuOffLine('menuListOffLine')">创建</el-button>
            <el-button @click="innerMenuDialogOffLine=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>

      <el-dialog width="80%" title="菜单内容-线下" :visible.sync="menuDetailDialog" append-to-body>
          <div v-html="menuContent" />
      </el-dialog>

      <el-dialog width="80%" title="菜单内容编辑-线下" :visible.sync="detailUpdateDialogOffLine" append-to-body>
        <quillEditor ref="myQuillEditor" v-model="menuContentOffLine" :options="editorOption" />
        <ImgUpload
          v-show="false"
          class="content-uploader"
          :picList="liveDialogData.newLiveForm.content_img_off_line"
          :uploadData="uploadData"
          :sign="sign.contentImgOffLine"
          :limit="limit"
          :picUrl="picUrl"
          :bucket="bucket"
          @setImg="setImg($event)"
        />
        <el-row class="contentButton">
          <el-button type="primary" @click="submitContentOffLine()">提交</el-button>
          <el-button @click="clearContentOffLine">清空</el-button>
          <el-button @click="detailUpdateDialogOffLine=false">取消</el-button>
        </el-row>
      </el-dialog>
      <br/>
      <el-row>
        <el-col :span="11">
          <el-form-item
            label="线下详情图"
            prop="off_line_img_detail"
          >
            <LfnGoodsMultipleUpload
              :picList="liveDialogData.newLiveForm.off_line_img_detail"
              :uploadData="uploadData"
              :sign="sign.off_line_img_detail"
              :picUrl="picUrl"
              :bucket="bucket"
              :tp=2
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="是否开启定位">
            <el-switch v-model="liveDialogData.newLiveForm.open_location" />
          </el-form-item>
        </el-col>

        <el-col :span="20" v-show="liveDialogData.newLiveForm.open_location">
          <el-form-item
            label="会场地址"
            prop="address"
          >
            <el-input placeholder="请输入会场地址" v-model="liveDialogData.newLiveForm.address">
              <el-button slot="append" @click="GetLocation">拾取定位</el-button>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row  v-show="liveDialogData.newLiveForm.open_location">
        <el-col :span="10">
          <el-form-item
            label="经度"
            prop="lon"
          >
            <el-input v-model="liveDialogData.newLiveForm.lon" placeholder="请输入经度" />
          </el-form-item>
        </el-col>

        <el-col :span="10">
          <el-form-item
            label="纬度"
            prop="lat"
          >
            <el-input v-model="liveDialogData.newLiveForm.lat" placeholder="请输入纬度" />
          </el-form-item>
        </el-col>


        <el-col :span="20">
          <el-form-item
            label="签到范围"
            prop="scope"
          >
            <el-input placeholder="请输入签到范围" v-model="liveDialogData.newLiveForm.scope">
              <template slot="append">(单位：米)</template>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 线下菜单 END -->


      <el-divider />
      <h3>评论设置</h3>

      <el-form-item label="是否开启评论">
        <el-switch v-model="liveDialogData.newLiveForm.allow_comment" />
      </el-form-item>

      <el-divider />
      <h3>分享设置</h3>

      <el-form-item label="是否允许分享">
        <el-switch v-model="liveDialogData.newLiveForm.allow_share" />
      </el-form-item>

      <el-row>
        <el-col :span="22">
          <el-form-item label="分享标题">
            <el-input
              v-model="liveDialogData.newLiveForm.share_title"
              placeholder="请输入分享标题"
              :disabled="liveDialogData.newLiveForm.allow_share===false"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item label="分享封面">
            <ImgUpload
              :abled="liveDialogData.newLiveForm.allow_share===false"
              :picList="liveDialogData.newLiveForm.share_img"
              :uploadData="uploadData"
              :sign="sign.shareImg"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item label="分享描述">
            <el-input
              v-model="liveDialogData.newLiveForm.share_desc"
              :disabled="liveDialogData.newLiveForm.allow_share===false"
              :rows="4"
              type="textarea"
              placeholder="请输入内容"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-divider />
      <h3>直播回顾设置</h3>

      <el-form-item label="是否开启回顾">
        <el-switch v-model="liveDialogData.newLiveForm.allow_review" />
      </el-form-item>

      <el-row>
        <el-col :span="22">
          <el-form-item label="回顾链接">
            <el-input
              v-model="liveDialogData.newLiveForm.review_url"
              :disabled="!liveDialogData.newLiveForm.allow_review"
              placeholder="请输入回顾链接"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-divider />
      <h3>数据设置</h3>

      <el-row>
        <el-col :span="11">
          <el-form-item label="观看量起始值">
            <el-input v-model="liveDialogData.newLiveForm.read_init" placeholder="请输入观看量起始值" />
          </el-form-item>
        </el-col>
        <el-col :span="2" />
        <el-col :span="11">
          <el-form-item label="PV倍数">
            <el-input v-model="liveDialogData.newLiveForm.read_pv_multiple" placeholder="请输入PV倍数" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item style="margin-top: 50px;">
        <el-button type="primary" @click="updateLive('newLiveForm')">确认提交</el-button>
        <el-button @click="close">取消</el-button>
      </el-form-item>

    </el-form>

    <el-dialog width="40%" title="创建菜单" :visible.sync="innerMenuDialog" append-to-body>
      <el-form ref="menuList" :model="menuList" label-position="left" label-width="80px" class="demo-ruleForm">
        <el-form-item
          label="菜单名称"
          prop="new_menu"
          :rules="[
            { required: true, message: '请输入菜单名称', trigger: 'blur' }
          ]"
        >
          <el-input v-model="menuList.new_menu" placeholder="请输入菜单名称" />
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="createNewMenu('menuList')">创建</el-button>
          <el-button @click="innerMenuDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog width="80%" title="菜单内容2" :visible.sync="menuDetailDialog" append-to-body>
      <div v-html="menuContent" />
    </el-dialog>

    <el-dialog width="80%" title="菜单内容编辑" :visible.sync="detailUpdateDialog" append-to-body>
      <quillEditor ref="myQuillEditor" v-model="menuContent" :options="editorOption" />
      <ImgUpload
        v-show="false"
        class="content-uploader"
        :picList="liveDialogData.newLiveForm.content_img"
        :uploadData="uploadData"
        :sign="sign.contentImg"
        :limit="limit"
        :picUrl="picUrl"
        :bucket="bucket"
        @setImg="setImg($event)"
      />
      <el-row class="contentButton">
        <el-button type="primary" @click="submitContent()">提交</el-button>
        <el-button @click="clearContent">清空</el-button>
        <el-button @click="detailUpdateDialog=false">取消</el-button>
      </el-row>
    </el-dialog>

    <el-dialog width="60%" title="白名单" :visible.sync="whiteListDialog" append-to-body>
      <el-table :data="liveDialogData.newLiveForm.white_list" stripe border style="width: 100%">
        <el-table-column prop="mobile" fixed="left" label="手机号" align="center" />
        <el-table-column prop="job_number" fixed="left" label="工号" align="center" />
      </el-table>
    </el-dialog>

    <el-dialog width="40%" title="添加时间" :visible.sync="timeLineDialog" append-to-body>
      <el-form ref="timeLine" :model="timeLine" label-position="left" label-width="80px" class="demo-ruleForm">
        <el-form-item
          label="开始时间"
          prop="start_time"
          :rules="[
            { required: true, message: '请输入日期时间', trigger: 'blur' }
          ]"
        >
          <el-date-picker
            v-model="timeLine.start_time"
            type="datetime"
            placeholder="选择日期时间"
            style="width:100%;"
            value-format="yyyy-MM-dd HH:mm:ss"
          />
        </el-form-item>
        <el-form-item
          label="结束时间"
          prop="end_time"
          :rules="[
            { required: true, message: '请输入日期时间', trigger: 'blur' }
          ]"
        >
          <el-date-picker
            v-model="timeLine.end_time"
            type="datetime"
            placeholder="选择日期时间"
            style="width:100%;"
            value-format="yyyy-MM-dd HH:mm:ss"
          />
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="createtime()">创建</el-button>
          <el-button @click="timeLineDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog width="50%" title="添加主席" :visible.sync="chairmanDialog" append-to-body>
      <el-form ref="liveChairmans" :model="liveChairmans" label-position="right" label-width="80px" class="demo-ruleForm">
        <el-form-item
          label="姓名"
          prop="c_name"
          :rules="[
            { required: true, message: '请输入姓名', trigger: 'blur' }
          ]"
        >
          <el-input v-model="liveChairmans.c_name" placeholder="请输入姓名" />
        </el-form-item>
        <el-form-item
          label="级别"
          prop="c_level_id"
        >
          <el-select v-model="liveChairmans.c_level" style="width:100%" @change="change_c_level">
            <el-option v-for="item in kolStaticTypes" :key="item.id" :label="item.name" :value="item.value" />
          </el-select>
        </el-form-item>
        <el-form-item
          label="医院"
          prop="c_hospital"
          :rules="[
            { required: true, message: '请选择医院', trigger: 'change' }
          ]"
        >
          <el-select
            v-model="liveChairmans.c_hospital"
            style="width:100%"
            filterable
            clearable
            remote
            reserve-keyword
            placeholder="请选择医院"
            :remote-method="remoteMethodChairmanHospital"
            @change="checkYouruiHospChairmanHospital"
            @clear="clearYouruiHospChairmanHospital"
            >
            <el-option
              v-for="item in chairmanHospitals"
              :key="item.id"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="部门"
          prop="c_depart"
          :rules="[
            { required: true, message: '请选择部门', trigger: 'change' }
          ]"
        >
          <el-autocomplete
              v-model="liveChairmans.c_depart"
              style="width:100%;"
              class="inline-input"
              :fetch-suggestions="querySearchChairmanDepart"
              placeholder="请输入部门名称"
              @select="handleSelectChairmanDepart"
            />
          </el-form-item>
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="createChairman('liveChairmans')">确定</el-button>
          <el-button @click="chairmanDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog width="50%" title="添加讲者" :visible.sync="speakerDialog" append-to-body>
      <el-form ref="liveSpeakers" :model="liveSpeakers" label-position="right" label-width="80px" class="demo-ruleForm">
        <el-form-item
          label="姓名"
          prop="s_name"
          :rules="[
            { required: true, message: '请输入姓名', trigger: 'blur' }
          ]"
        >
          <el-input v-model="liveSpeakers.s_name" placeholder="请输入姓名" />
        </el-form-item>
        <el-form-item
          label="级别"
          prop="s_level_id"
        >
          <el-select v-model="liveSpeakers.s_level" style="width:100%" @change="change_s_level">
            <el-option v-for="item in kolStaticTypes2" :key="item.id" :label="item.name" :value="item.value" />
          </el-select>
        </el-form-item>
        <el-form-item
          label="医院"
          prop="s_hospital"
          :rules="[
            { required: true, message: '请选择医院', trigger: 'change' }
          ]"
        >
          <el-select
            v-model="liveSpeakers.s_hospital"
            style="width:100%"
            filterable
            clearable
            remote
            reserve-keyword
            placeholder="请选择医院"
            :remote-method="remoteMethodSpeakerHospital"
            @change="checkYouruiHospSpeakerHospital"
            @clear="clearYouruiHospSpeakerHospital"
            >
            <el-option
              v-for="item in speakerHospitals"
              :key="item.id"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="部门"
          prop="s_depart"
          :rules="[
            { required: true, message: '请选择部门', trigger: 'change' }
          ]"
        >
          <el-autocomplete
              v-model="liveSpeakers.s_depart"
              style="width:100%;"
              class="inline-input"
              :fetch-suggestions="querySearchSpeaker"
              placeholder="请输入部门名称"
              @select="handleSelectSpeaker"
            />
          </el-form-item>
        </el-form-item>

        <el-form-item
          label="课题"
          prop="s_project"
        >
          <el-input v-model="liveSpeakers.s_project" placeholder="请输入课题" />
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="createSpeaker('liveSpeakers')">确定</el-button>
          <el-button @click="speakerDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </el-dialog>
</template>

<script>
import {
  update
} from '@/api/live/live'
import {
  allSignSheet
} from '@/api/signSheet/signSheet'
import {
  forSelect
} from '@/api/tags/tags'
import {
  quillEditor
} from 'vue-quill-editor'
import {
  getUploadToken
} from '@/api/upload/upload'
import ImgUpload from '@/components/ImgUpload'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import * as Quill from 'quill'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import * as liveApi from '@/api/live/live'
import LfnGoodsMultipleUpload from '@/components/LfnGoodsMultipleUpload'
import * as storeApi from '@/api/lfmini/store_gps_list'

const toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'], // 加粗 斜体 下划线 删除线 -----['bold', 'italic', 'underline', 'strike']
  ['blockquote', 'code-block'], // 引用  代码块-----['blockquote', 'code-block']
  [{
    header: 1
  }, {
    header: 2
  }], // 1、2 级标题-----[{ header: 1 }, { header: 2 }]
  [{
    list: 'ordered'
  }, {
    list: 'bullet'
  }], // 有序、无序列表-----[{ list: 'ordered' }, { list: 'bullet' }]
  [{
    script: 'sub'
  }, {
    script: 'super'
  }], // 上标/下标-----[{ script: 'sub' }, { script: 'super' }]
  [{
    indent: '-1'
  }, {
    indent: '+1'
  }], // 缩进-----[{ indent: '-1' }, { indent: '+1' }]
  [{
    'direction': 'rtl'
  }], // 文本方向-----[{'direction': 'rtl'}]
  [{
    size: ['12px', '14px', '16px', '20px', '24px', '36px']
  }], // 字体大小-----[{ size: ['small', false, 'large', 'huge'] }]
  [{
    header: [1, 2, 3, 4, 5, 6, false]
  }], // 标题-----[{ header: [1, 2, 3, 4, 5, 6, false] }]
  [{
    color: []
  }, {
    background: []
  }], // 字体颜色、字体背景颜色-----[{ color: [] }, { background: [] }]
  [{
    font: []
  }], // 字体种类-----[{ font: [] }]
  [{
    align: []
  }], // 对齐方式-----[{ align: [] }]
  ['clean'], // 清除文本格式-----['clean']
  ['link', 'image', 'video'] // 链接、图片、视频-----['link', 'image', 'video']
]

export default {
  name: 'LiveUpdate',
  components: {
    quillEditor,
    ImgUpload,
    LfnGoodsMultipleUpload
  },
  props: {
    // 表单
    liveDialogData: {
      type: Object,
      default: () => {
        return {
          liveVisible: false,
          meetingSearch: true,
          newLiveForm: {
            id: 0,
            meeting_id: 0,
            meeting_name: '',
            meeting_apply_id: 0,
            meeting_apply_name: '',
            meeting_apply_phone: '',
            meeting_admin_id: 0,
            meeting_admin: '',
            mk_code: '',
            type1: '',
            type2: '',
            type3: '',
            title: '',
            area: '',
            province: '',
            location: '',
            hospital: '',
            hospital_id: 0,
            hospital_no: '',
            depart: '',
            depart_id: '',
            product: '',
            timelines: [],
            chairmans: [],
            speakers: [],
            platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP', '力蜚能小程序'],
            cover_img: [],
            thumbnail_img: [],
            running_text_up: '',
            running_text_down: '',
            signup_sheet: '',
            pullflow_url: '',
            weizan_url: '',
            approval_no: '',
            label: [],
            is_out: 2,
            is_available: true,
            menu: [{
              menu_title: '评论',
              content: ''
            }],
            allow_comment: true,
            allow_share: true,
            share_title: '',
            share_desc: '',
            share_img: [],
            allow_review: false,
            review_url: '',
            read_init: 0,
            read_pv_multiple: 1,
            content_img: [],
            file_path: '',
            white_list: [],
            menu_off_line: [{
               menu_title: '会议日程',
               content: ''
            }],
            off_line_img_detail: [],
            content_img_off_line: [],
            share_poster: [],
            is_online: '',
            meeting_category_status_dt: false,
            address: '',
            open_location: false,
            lon: '',
            lat: '',
            scope: ''
          }
        }
      }
    }
  },

  data() {
    return {
      meetingList: [],
      meetingAdmins: [],
      meetingHosts: [],
      types1: [],
      types2: [],
      types3: [],
      areas: [],
      provinces: [],
      locations: [
        { id: 2, name: '中央' },
        { id: 1, name: '区域' },
        { id: 3, name: '中央额外' }
      ],
      staticHospitals: [],
      staticDeparts: [],
      products: [],
      kolStaticTypes: [
        { id: 1, name: '全国级', value: '1-全国级' },
        { id: 2, name: '区域级', value: '2-区域级' },
        { id: 3, name: '城市级', value: '3-城市级' },
        { id: 4, name: '科室级', value: '4-科室级' }
      ],
      chairmanHospitals: [],
      sheets: [],
      labelOptions: [],

      timeLineDialog: false,
      timeLine: {
        start_time: '',
        end_time: ''
      },
      currentTimeRow: {},

      chairmanDialog: false,
      liveChairmans: {
        c_name: '',
        c_level_id: 0,
        c_level: '',
        c_hospital_id: 0,
        c_hospital: '',
        c_depart_id: 0,
        c_depart: ''
      },

      speakerDialog: false,
      liveSpeakers: {
        s_name: '',
        s_level_id: 0,
        s_level: '',
        s_hospital_id: 0,
        s_hospital: '',
        s_depart_id: 0,
        s_depart: '',
        s_project: ''
      },
      speakerHospitals: [],
      kolStaticTypes2: [
        { id: 1, name: '全国级', value: '1-全国级' },
        { id: 2, name: '区域级', value: '2-区域级' },
        { id: 3, name: '城市级', value: '3-城市级' },
        { id: 4, name: '科室级', value: '4-科室级' }
      ],
      currentSpeakerRow: {},
      currentChairmanRow: {},

      uploadAction: '',
      innerMenuDialog: false,
      menuList: {
        new_menu: ''
      },

      menuDetailDialog: false,
      currentMenuRow: {},
      menuContent: '',

      detailUpdateDialog: false,
      editorOption: {
        placeholder: '请输入文本...',
        theme: 'snow',
        modules: {
          toolbar: {
            container: toolbarOptions,
            handlers: {
              image: function(value) {
                if (value) {
                  // 触发element-ui的文件上传
                  document.querySelector('.content-uploader input').click()
                } else {
                  this.quill.format('image', false)
                }
              }
            }
          }
        }
      },
      // 七牛云上传
      sign: {
        listCover: 'listCover',
        detailCover: 'detailCover',
        shareImg: 'shareImg',
        contentImg: 'contentImg',
        off_line_img_detail: 'off_line_img_detail',
        contentImgOffLine: 'contentImgOffLine',
        share_poster: 'share_poster'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      limit: 999,
      is_out_data: [
        { id: 1, title: '内部' },
        { id: 2, title: '外部' }
      ],
      whiteListDialog: false,
      innerMenuDialogOffLine: false,
      menuContentOffLine: '',
      menuListOffLine: {
        new_menu: ''
      },
      detailUpdateDialogOffLine: false,
      meeting_category_status: false,
      updateState: false
    }
  },
  created() {
  },
  mounted: function() {
    var fontSizeStyle = Quill.import('attributors/style/size')
    fontSizeStyle.whitelist = ['12px', '14px', '16px', '20px', '24px', '36px']
    Quill.register(fontSizeStyle, true)
    // 修改居中方式
    var Align = Quill.import('attributors/style/align')
    Align.whitelist = ['right', 'center', 'justify']
    Quill.register(Align, true)
  },
  watch: {
      'liveDialogData.newLiveForm.meeting_category_status_dt': {
            deep: true,
            immediate: true,
            handler: function(val) {
              this.meeting_category_status = val
            }
      },

    'liveDialogData.newLiveForm.meeting_id'(newVal, oldVal) {
      if (newVal!==undefined
          &&newVal!==''
          &&newVal!==0
          &&newVal!==null
          &&this.liveDialogData.meetingSearch===true) {
        liveApi.meetingDetail({ meeting_id: newVal }).then(response => {
          if (response.code==20000) {
            var item = response.data

            this.meeting_category_status = item.meeting_category_status

            this.liveDialogData.newLiveForm.meeting_id = item.id
            this.liveDialogData.newLiveForm.meeting_apply_id = item.applicant_id
            this.liveDialogData.newLiveForm.meeting_apply_name = item.meeting_apply_name
            this.liveDialogData.newLiveForm.meeting_apply_phone = item.applicant_mobile
            this.liveDialogData.newLiveForm.meeting_admin_id = item.manager_id
            this.liveDialogData.newLiveForm.meeting_admin = item.meeting_admin
            this.liveDialogData.newLiveForm.mk_code = item.mk_code
            this.liveDialogData.newLiveForm.type1 = item.meeting_type
            this.liveDialogData.newLiveForm.type2 = item.meeting_sub_type
            this.liveDialogData.newLiveForm.type3 = item.meeting_category
            this.liveDialogData.newLiveForm.title = item.name
            this.liveDialogData.newLiveForm.area = item.zone_id
            this.liveDialogData.newLiveForm.province = item.province_id
            this.liveDialogData.newLiveForm.location = item.range_type
            this.liveDialogData.newLiveForm.hospital = item.hospital
            this.liveDialogData.newLiveForm.hospital_id = item.hospital_id
            this.liveDialogData.newLiveForm.hospital_no = item.hospital_no
            this.liveDialogData.newLiveForm.depart = item.depart
            this.liveDialogData.newLiveForm.depart_id = item.depart_id
            this.liveDialogData.newLiveForm.product = item.series_id
            this.liveDialogData.newLiveForm.timelines = item.timelines
            this.liveDialogData.newLiveForm.chairmans = item.chairmans
            this.liveDialogData.newLiveForm.speakers = item.speakers
          }
        }).catch(() => {})
      }
    },
    'liveDialogData.newLiveForm.type1'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null) {
        liveApi.getType2(newVal).then(response => {
          this.types2 = response.data
        }).catch(() => {})
        liveApi.getType3(newVal).then(response => {
          this.types3 = response.data
        }).catch(() => {})
      }
    },
    'liveDialogData.newLiveForm.area'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null) {
        liveApi.getProvince(newVal).then(response => {
          this.provinces = response.data
        }).catch(() => {})
      }
    },
  },
  methods: {
    GetType3(tp3_id){
        liveApi.getMeetingCategoryStatus(tp3_id).then(response => {

           if(response.data.status){
              this.meeting_category_status = response.data.status
            }else{
              this.meeting_category_status = 0
              this.$message({
                showClose: true,
                message: '项目分类错误',
                type: 'error'
              })
            }
        }).catch(() => {})
    },

    // 线下      **********  START  **********

    GetLocation(){
      storeApi.autoGetGps({
        location: this.liveDialogData.newLiveForm.address,
        city: ''
      }).then(response => {
          this.liveDialogData.newLiveForm.lon = response.data.longitude
          this.liveDialogData.newLiveForm.lat = response.data.latitude
      })
    },

    showrMenuDialogOffLine() {
      this.innerMenuDialogOffLine = true
    },

    createNewMenuOffLine(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // (var i = 0; i < this.liveDialogData.newLiveForm.menu.length; i++) {
          for (var i = 0; i < this.liveDialogData.newLiveForm.menu_off_line.length; i++) {
            if (this.liveDialogData.newLiveForm.menu_off_line[i].menu_title === this.menuListOffLine.new_menu) {
              this.$message({
                showClose: true,
                message: '已有相同的菜单名称，创建失败！',
                type: 'error'
              })
              return false
            }
          }
          this.liveDialogData.newLiveForm.menu_off_line.push({
            menu_title: this.menuListOffLine.new_menu,
            content: ''
          })
          this.innerMenuDialogOffLine = false
          this.menuListOffLine.new_menu = ''
        } else {
          return false
        }
      })
    },

    // 清空线下内容
    clearContentOffLine() {
      this.menuContentOffLine = ''
    },

    // 编辑 菜单内容
    updatemenuDetailOffLine(row) {
      this.currentMenuRow = row
      this.menuContentOffLine = row.content
      this.detailUpdateDialogOffLine = true
    },

    submitContentOffLine() {
      // menuContentOffLine
      var index = this.liveDialogData.newLiveForm.menu_off_line.indexOf(this.currentMenuRow)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.menu_off_line[index].content = this.menuContentOffLine
      }
      this.currentMenuRow = {}
      this.menuContentOffLine = ''
      this.detailUpdateDialogOffLine = false
    },

    deleteOffLineMenu(row) {
      var index = this.liveDialogData.newLiveForm.menu_off_line.indexOf(row)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.menu_off_line.splice(index, 1)
      }
    },

    // 线下      **********  END  **********

    // 会议列表
    getMeetingList(query) {
      liveApi.meetingList(query).then(response => {
        if (response.code==20000) {
          this.meetingList = response.data
        }
      }).catch(() => {})
    },

    changeMeetingList(selVal) {
      var ss = selVal.split("-")
      this.liveDialogData.meetingSearch = true
      this.liveDialogData.newLiveForm.meeting_id = ss[0]
      this.liveDialogData.newLiveForm.meeting_name = ss[1]
    },

    // 类型
    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    // 获取用户
    getUserAdmin(query) {
      var reg = /^1[3456789][0-9]{9}$/;
      if (reg.test(query)) {
        setTimeout(() => {
          liveApi.userByphone(query).then(response => {
            if (response.code === 20000) {
              this.meetingAdmins = response.data
            }
          }).catch(() => {})
        }, 200);
      }
    },

    changeMeetingAdmin(selVal) {
      var ss = selVal.split("-")
      this.liveDialogData.newLiveForm.meeting_admin_id = ss[0]
      this.liveDialogData.newLiveForm.meeting_admin = ss[1]
    },

    // 获取用户
    getUserHost(query) {
      var reg = /^1[3456789][0-9]{9}$/;
      if (reg.test(query)) {
        setTimeout(() => {
          liveApi.userByphone(query).then(response => {
            if (response.code === 20000) {
              this.meetingHosts = response.data
            }
          }).catch(() => {})
        }, 200);
      }
    },

    // 大区
    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.areas = response.data
        }
      }).catch(() => {})
    },

    // 医院
    remoteMethod(query) {
      if (query !== '') {
        setTimeout(() => {
          liveApi.getYouruiHospitals({ name: query }).then(response => {
            if (response.code === 20000) {
              this.staticHospitals = response.data
            }
          }).catch(() => {})
        }, 200);
      } else {
        this.staticHospitals = [];
      }
    },

    checkYouruiHosp(selVal) {
      var ss = selVal.split(":")
      this.liveDialogData.newLiveForm.hospital_id = ss[2]
      this.liveDialogData.newLiveForm.hospital_no = ss[0]
      this.liveDialogData.newLiveForm.hospital = ss[0] + ':' + ss[1]
    },

    clearYouruiHosp() {
      this.liveDialogData.newLiveForm.hospital_id = 0
      this.liveDialogData.newLiveForm.hospital_no = ''
      this.liveDialogData.newLiveForm.hospital = ''
    },

    // 部门
    getDepart() {
      liveApi.getDepart().then(response => {
        if (response.code === 20000) {
          this.staticDeparts = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.staticDeparts
      var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // 调用 callback 返回建议列表的数据
      cb(results)
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelect(item) {
      this.liveDialogData.newLiveForm.depart_id = item.id
    },

    // 产品
    getProducts() {
      liveApi.product().then(response => {
        if (response.code === 20000) {
          this.products = response.data
        }
      }).catch(() => {})
    },

    // 报名表
    getSignSheet() {
      allSignSheet().then(response => {
        if (response.code === 20000) {
          this.sheets = response.data
        }
      }).catch(() => {})
    },

    // 标签
    labelForSelect() {
      forSelect().then(response => {
        this.labelOptions = response.data
      }).catch(() => {})
    },

    // 时间
    addTimeLime() {
      this.timeLine = {
        start_time: '',
        end_time: ''
      }
      this.timeLineDialog = true
    },

    createtime() {
      if (this.timeLine.start_time===''||this.timeLine.end_time==='') {
        this.$parent.operationMsg('时间不能为空！', 'error')
        return false
      }
      if (new Date(this.timeLine.start_time).getTime()>=new Date(this.timeLine.end_time).getTime()) {
        this.$parent.operationMsg('结束时间必须大于开始时间！', 'error')
        return false
      }
      if(JSON.stringify(this.currentTimeRow)=="{}") {
        this.liveDialogData.newLiveForm.timelines.push(this.timeLine)
      } else {
        var index = this.liveDialogData.newLiveForm.timelines.indexOf(this.currentTimeRow)
        if (index !== -1) {
          this.liveDialogData.newLiveForm.timelines[index] = this.timeLine
        }
      }
      this.timeLineDialog = false
    },

    deleteTime(row) {
      var index = this.liveDialogData.newLiveForm.timelines.indexOf(row)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.timelines.splice(index, 1)
      }
    },

    updateTime(row) {
      this.timeLine = row
      this.currentTimeRow = row
      this.timeLineDialog = true
    },

    // 主席医院
    remoteMethodChairmanHospital(query) {
      if (query !== '') {
        setTimeout(() => {
          liveApi.getYouruiHospitals({ name: query }).then(response => {
            if (response.code === 20000) {
              this.chairmanHospitals = response.data
            }
          }).catch(() => {})
        }, 200);
      } else {
        this.chairmanHospitals = [];
      }
    },

    checkYouruiHospChairmanHospital(selVal) {
      var ss = selVal.split(":")
      this.liveChairmans.c_hospital_id = ss[2]
      this.liveChairmans.c_hospital = ss[1]
    },

    clearYouruiHospChairmanHospital() {
      this.liveChairmans.c_hospital_id = 0
      this.liveChairmans.c_hospital = ''
    },

    // 主席部门
    querySearchChairmanDepart(queryString, cb) {
      var list = this.staticDeparts
      var results = queryString ? list.filter(this.createFilterChairmanDepart(queryString)) : list
      // 调用 callback 返回建议列表的数据
      cb(results)
    },

    createFilterChairmanDepart(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelectChairmanDepart(item) {
      this.liveChairmans.c_depart_id = item.id
    },

    addChairman() {
      this.currentChairmanRow = {}
      this.liveChairmans = {
        c_name: '',
        c_level_id: 0,
        c_level: '',
        c_hospital_id: 0,
        c_hospital: '',
        c_depart_id: 0,
        c_depart: ''
      }
      this.chairmanDialog = true
    },

    createChairman(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if(JSON.stringify(this.currentChairmanRow)=="{}") {
            this.liveDialogData.newLiveForm.chairmans.push(this.liveChairmans)
          } else {
            var index = this.liveDialogData.newLiveForm.chairmans.indexOf(this.currentChairmanRow)
            if (index !== -1) {
              this.liveDialogData.newLiveForm.chairmans[index] = this.liveChairmans
            }
          }
          this.chairmanDialog = false
        }
      })
    },

    updateChairman(row) {
      this.liveChairmans = row
      this.currentChairmanRow = row
      this.chairmanDialog = true
    },

    deleteChairman(row) {
      var index = this.liveDialogData.newLiveForm.chairmans.indexOf(row)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.chairmans.splice(index, 1)
      }
    },

    change_c_level(selVal) {
      var ss = selVal.split("-")
      this.liveChairmans.c_level_id = ss[0]
      this.liveChairmans.c_level = ss[1]
    },

    // 讲者医院
    remoteMethodSpeakerHospital(query) {
      if (query !== '') {
        setTimeout(() => {
          liveApi.getYouruiHospitals({ name: query }).then(response => {
            if (response.code === 20000) {
              this.speakerHospitals = response.data
            }
          }).catch(() => {})
        }, 200);
      } else {
        this.speakerHospitals = [];
      }
    },

    checkYouruiHospSpeakerHospital(selVal) {
      var ss = selVal.split(":")
      this.liveSpeakers.s_hospital_id = ss[2]
      this.liveSpeakers.s_hospital = ss[1]
    },

    clearYouruiHospSpeakerHospital() {
      this.liveSpeakers.s_hospital_id = 0
      this.liveSpeakers.s_hospital = ''
    },

    // 讲者部门
    querySearchSpeaker(queryString, cb) {
      var list = this.staticDeparts
      var results = queryString ? list.filter(this.createFilterSpeaker(queryString)) : list
      // 调用 callback 返回建议列表的数据
      cb(results)
    },

    createFilterSpeaker(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelectSpeaker(item) {
      this.liveSpeakers.s_depart_id = item.id
    },

    addSpeaker() {
      this.currentSpeakerRow = {}
      this.liveSpeakers = {
        s_name: '',
        s_level_id: 0,
        s_level: '',
        s_hospital_id: 0,
        s_hospital: '',
        s_depart_id: 0,
        s_depart: '',
        s_project: ''
      }
      this.speakerDialog = true
    },

    createSpeaker(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if(JSON.stringify(this.currentSpeakerRow)=="{}") {
            this.liveDialogData.newLiveForm.speakers.push(this.liveSpeakers)
          } else {
            var index = this.liveDialogData.newLiveForm.speakers.indexOf(this.currentSpeakerRow)
            if (index !== -1) {
              this.liveDialogData.newLiveForm.speakers[index] = this.liveSpeakers
            }
          }
          this.speakerDialog = false
        }
      })
    },

    updateSpeaker(row) {
      this.liveSpeakers = row
      this.currentSpeakerRow = row
      this.speakerDialog = true
    },

    deleteSpeaker(row) {
      var index = this.liveDialogData.newLiveForm.speakers.indexOf(row)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.speakers.splice(index, 1)
      }
    },

    change_s_level(selVal) {
      var ss = selVal.split("-")
      this.liveSpeakers.s_level_id = ss[0]
      this.liveSpeakers.s_level = ss[1]
    },

    // 模版导出
    downloadTemplate() {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        liveApi.downloadTmp,
        {},
        { responseType: 'blob' }
      ).then(function(response) {
        const a = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        const objectUrl = URL.createObjectURL(blob)
        a.setAttribute('href', objectUrl)
        a.setAttribute('download', '直播白名单模板.xlsx')
        a.click()
      }).catch(function(error) {
        console.log(error)
      })
    },

    beforeUploadForm(file) {
      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName !== 'xls' && extName !== 'xlsx') {
        this.$message({
          showClose: true,
          message: '上传文件只能是 xls、xlsx格式！',
          type: 'error'
        })
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < liveApi.fileSize
      if (!isLt1M) {
        var alertText = '上传文件大小不能超过' + liveApi.fileSize + 'MB'
        this.$message({
          showClose: true,
          message: alertText,
          type: 'error'
        })
        return false
      }
    },

    uploadhiteList(file) {
      var that = this
      const fd = new FormData()
      fd.append('file', file.file)
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(liveApi.whiteListExp, fd).then(function(response) {
        if (response.data.code === 20000) {
          that.liveDialogData.newLiveForm.file_path = response.data.data.filePath
          that.$message({
            showClose: true,
            message: '已上传',
            type: 'success'
          })
        } else {
          that.$message({
            showClose: true,
            message: response.data.msg,
            type: 'error'
          })
        }
      })
    },

    uploadError(err, file, fileList) {
      console.log(err)
    },

    showInnerMenuDialog() {
      this.innerMenuDialog = true
    },

    createNewMenu(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          for (var i = 0; i < this.liveDialogData.newLiveForm.menu.length; i++) {
            if (this.liveDialogData.newLiveForm.menu[i].menu_title === this.menuList.new_menu) {
              this.$message({
                showClose: true,
                message: '已有相同的菜单名称，创建失败！',
                type: 'error'
              })
              return false
            }
          }
          this.liveDialogData.newLiveForm.menu.push({
            menu_title: this.menuList.new_menu,
            content: ''
          })
          this.innerMenuDialog = false
          this.menuList.new_menu = ''
        } else {
          return false
        }
      })
    },

    deleteMenu(row) {
      var index = this.liveDialogData.newLiveForm.menu.indexOf(row)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.menu.splice(index, 1)
      }
    },

    menuDetail(row) {
      this.menuContent = row.content
      this.menuDetailDialog = true
    },

    updatemenuDetail(row) {
      this.currentMenuRow = row
      this.menuContent = row.content
      this.detailUpdateDialog = true
    },

    submitContent() {
      var index = this.liveDialogData.newLiveForm.menu.indexOf(this.currentMenuRow)
      if (index !== -1) {
        this.liveDialogData.newLiveForm.menu[index].content = this.menuContent
      }
      this.currentMenuRow = {}
      this.menuContent = ''
      this.detailUpdateDialog = false
    },

    clearContent() {
      this.menuContent = ''
    },

    updateLive(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid&&this.updateState==false) {
          this.updateState=true
          update(this.liveDialogData.newLiveForm).then(response => {
            if (response.code === 20000) {
              this.$parent.operationMsg('提交成功！', 'success')
              this.close()
              this.$parent.search()
              setTimeout(function() {
                this.updateState = response.data.updateState
              }, 2000);
            }
          }).catch(() => {})
          this.updateState = false
        } else {
          return false
        }
      })
    },

    showWhiteList() {
      this.whiteListDialog = true
    },

    // 上传token
    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'listCover') {
        this.liveDialogData.newLiveForm.thumbnail_img = data.imgList
      } else if (data.sign === 'detailCover') {
        this.liveDialogData.newLiveForm.cover_img = data.imgList
      } else if (data.sign === 'shareImg') {
        this.liveDialogData.newLiveForm.share_img = data.imgList
      } else if (data.sign === 'contentImg') {
        const quill = this.$refs.myQuillEditor.quill
        const length = quill.getSelection().index
        const imgSrc = data.imgList[0].url
        quill.insertEmbed(length, 'image', imgSrc)
        // 调整光标到最后
        quill.setSelection(length + 1)
      } else if (data.sign === 'contentImgOffLine') {
        const quill = this.$refs.myQuillEditor.quill
        const length = quill.getSelection().index
        const imgSrc = data.imgList[0].url
        quill.insertEmbed(length, 'image', imgSrc)
        // 调整光标到最后
        quill.setSelection(length + 1)
      } else if (data.sign === 'off_line_img_detail') {
         if(data.tp == 2){
          this.liveDialogData.newLiveForm.off_line_img_detail = data.imgList
        }else{
          this.liveDialogData.newLiveForm.off_line_img_detail.push(data.imgList)
        }
      } else if (data.sign === 'share_poster') {
        this.liveDialogData.newLiveForm.share_poster = data.imgList
      }
    },

    close() {
      var liveDialogData = {
        liveVisible: false,
        meetingSearch: true,
        newLiveForm: {
          id: 0,
          meeting_id: 0,
          meeting_name: '',
          meeting_apply_id: 0,
          meeting_apply_name: '',
          meeting_apply_phone: '',
          meeting_admin_id: 0,
          meeting_admin: '',
          mk_code: '',
          type1: '',
          type2: '',
          type3: '',
          title: '',
          area: '',
          province: '',
          location: '',
          hospital: '',
          hospital_id: 0,
          hospital_no: '',
          depart: '',
          depart_id: '',
          product: '',
          timelines: [],
          chairmans: [],
          speakers: [],
          platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP', '力蜚能小程序'],
          cover_img: [],
          thumbnail_img: [],
          running_text_up: '',
          running_text_down: '',
          signup_sheet: '',
          pullflow_url: '',
          weizan_url: '',
          approval_no: '',
          label: [],
          is_out: 2,
          is_available: true,
          menu: [{
            menu_title: '评论',
            content: ''
          }],
          allow_comment: true,
          allow_share: true,
          share_title: '',
          share_desc: '',
          share_img: [],
          allow_review: false,
          review_url: '',
          read_init: 0,
          read_pv_multiple: 1,
          content_img: [],
          file_path: '',
          white_list: [],
          menu_off_line: [{
             menu_title: '会议日程',
             content: ''
          }],
          off_line_img_detail: [],
          content_img_off_line: [],
          share_poster: [],
          is_online: '',
          meeting_category_status_dt: false,
          address: '',
          open_location: false,
          lon: '',
          lat: '',
          scope: ''
        }
      }
      this.$emit('closeLiveDialog', liveDialogData)
    }
  },

  // 准备富文本编辑器
  onEditorReady(editor) {},
  // 富文本编辑器 失去焦点事件
  onEditorBlur(editor) {},
  // 富文本编辑器 获得焦点事件
  onEditorFocus(editor) {},
  // 富文本编辑器 内容改变事件
  onEditorChange(editor) {}
}
</script>

<style scoped>
  .demo-ruleForm {
    margin-top: 30px;
  }

  .upbutton {
    display: flex;
  }

  .el-upload__tip {
    margin-left: 30px;
  }

  .demo-ruleForm {
    margin-top: 0;
  }

  h3 {
    margin-top: 10px;
  }

  .contentButton {
    margin-top: 20px;
    text-align: center;
  }

  .editor {
    line-height: normal !important;
    height: 500px;
  }

  .ql-snow .ql-tooltip[data-mode=link]::before {
    content: "请输入链接地址:";
  }

  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    border-right: 0px;
    content: '保存';
    padding-right: 0px;
  }

  .ql-snow .ql-tooltip[data-mode=video]::before {
    content: "请输入视频地址:";
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: '14px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="12px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
    content: '12px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: '14px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: '18px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: '20px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: '24px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
    content: '32px';
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="36px"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
    content: '36px';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: '文本';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: '标题1';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: '标题2';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    content: '标题3';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
    content: '标题4';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
    content: '标题5';
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
    content: '标题6';
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: '标准字体';
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
    content: '衬线字体';
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
    content: '等宽字体';
  }
</style>
