<template>
  <div class="app-container">
    <el-form class="demo-form-inline">
      <el-row>
        <el-col :span="9">
          <el-form-item label="系列名称">
            <el-cascader
              style="width: 350px;"
              placeholder="请输入系列名称或视频名称"
              v-model="seriesData"
              :options="seriesList"
              :props="{ expandTrigger: 'hover' }"
              filterable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="2">
          <el-form-item>
            <el-button type="primary" @click="getComment" v-permission="'series:comment:search'">查询</el-button>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item>
            <el-button type="primary" @click="showAddComment" v-permission="'series:comment:add'">新建评论</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" stripe border :data="commentList"
      style="width: 100%;"
      row-key="id"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
      <el-table-column prop="id" label="ID" width="80" sortable align="center"></el-table-column>
      <el-table-column prop="headimg" label="头像" width="100" align="center">
        <template slot-scope="{row}">
          <el-avatar size="medium" :src="row.headimg"></el-avatar>
        </template>
      </el-table-column>
      <el-table-column prop="nickname" label="评论用户" width="100" align="center"></el-table-column>
      <el-table-column prop="content" label="评论内容" align="center"></el-table-column>
      <el-table-column prop="like" label="点赞" sortable width="100" align="center"></el-table-column>
      <el-table-column prop="created_at" label="评论时间" width="160" align="center"></el-table-column>
      <el-table-column prop="top" label="是否置顶" width="80" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.top==1,outstatus:row.top==0}">
            <template v-if="row.top==0">否</template>
            <template v-if="row.top==1">是</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="100" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="24">
              <el-button type="primary" v-if="row.top==0" size="mini" @click="topComment(row.id)" :disabled="row.is_deleted==1" v-permission="'series:comment:top'">置顶</el-button>
              <el-button type="primary" v-if="row.top==1" size="mini" @click="cancelTopComment(row.id)" :disabled="row.is_deleted==1" v-permission="'series:comment:cancelTop'">取消置顶</el-button>
            </el-col>
          </el-row>
          <el-row style="margin-top: 10px;">
            <el-col :span="24">
              <el-button type="danger" size="mini" @click="deleteConfirm(row.id)" :disabled="row.is_deleted==1" v-permission="'series:comment:delete'">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getComment" />

    <el-dialog title="添加评论" :visible.sync="addCommentDialogVisible" width="60%">
      <el-form label-position="left" :model="addCommentDialogData" ref="addCommentDialogData" label-width="100px" class="demo-ruleForm">
        <el-form-item label="评论内容" prop="content"
          :rules="[
            { required: true, message: '请输入评论内容', trigger: 'blur' }
          ]">
          <el-input type="textarea" v-model="addCommentDialogData.content" placeholder="请输入评论内容"></el-input>
        </el-form-item>
        <el-form-item label="是否置顶" style="margin-left: 10px;">
          <el-switch v-model="addCommentDialogData.top"></el-switch>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="addCommentDialogVisible=false">取 消</el-button>
        <el-button type="primary" @click="addCommentSubmit('addCommentDialogData')">提 交</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as commentApi from '@/api/series/comment'
import Pagination from '@/components/Pagination'

export default {
  name: 'SeriesComment',
  components: { Pagination },
  data() {
    return {
      seriesData: '',
      seriesList: [],
      query:{
        video_id: 0,
        page: 1,
        page_size: 20,
      },
      commentList: [],
      loading: false,
      total: 0,
      addCommentDialogVisible: false,
      addCommentDialogData: {
        content: '',
        top: false,
      },
    }
  },
  created() {

  },
  mounted() {
    this.search()
  },
  methods: {
    search() {
      commentApi.search().then(response => {
        if (response.code==20000) {
          this.seriesList = response.data
        }
      }).catch(() => {})
    },

    getComment() {
      if (this.seriesData.length!=0) {
        this.query.video_id = this.seriesData[1]
      }
      this.loading = true
      commentApi.getComment(this.query).then(response => {
        if (response.code==20000) {
          this.commentList = response.data.list
          this.total = response.data.total
          this.loading = false
        } else {
          this.loading = false
        }
      }).catch(() => {})
    },

    topComment(commentId) {
      var query = {'comment_id': commentId}
      commentApi.topComment(query).then(response => {
        if (response.data.comment_id!==0) {
          this.operationMsg('置顶成功！', 'success')
          this.getComment()
        }
      }).catch(() => {})
    },

    cancelTopComment(commentId) {
      var query = {'comment_id': commentId}
      commentApi.cancelTopComment(query).then(response => {
        if (response.data.comment_id!==0) {
          this.operationMsg('取消置顶成功！', 'success')
          this.getComment()
        }
      }).catch(() => {})
    },

    deleteConfirm(commentId) {
      this.$confirm('确认删除该评论吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var query = {comment_id:commentId}
        commentApi.deleteComment(query).then(response => {
          if (response.data.comment_id!==0) {
            this.operationMsg('删除成功！', 'success')
            this.getComment()
          }
        }).catch(() => {})
      }).catch(() => {});
    },

    showAddComment() {
      if (this.seriesData.length==0) {
        this.operationMsg('请先选择一个视频！', 'warning')
      } else {
        var data = {
          content: '',
          top: false,
        }
        this.addCommentDialogData = data
        this.addCommentDialogVisible = true
      }
    },

    addCommentSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.addCommentDialogData['video_id'] = this.seriesData[1]
          commentApi.addComment(this.addCommentDialogData).then(response => {
            if (response.data.comment_id!==0) {
              this.operationMsg('添加成功！', 'success')
              this.addCommentDialogVisible = false
              this.getComment()
            }
          }).catch(() => {})
        }else {
          return false;
        }
      })
    },

    //消息提示
    operationMsg(message,type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      });
    },

  },

}
</script>

<style scoped>
  .inline-input {
    width: 400px;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
</style>
