<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'poster:list:create'" type="primary" class="newbutton" @click="createNewPoster">新建邀请卡</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" fixed="left" label="ID" sortable width="100px" align="center" />
      <el-table-column prop="status" label="类型" width="100px" align="center">
        <template slot-scope="{row}">
          <div>
            <template v-if="row.status==1">通用</template>
            <template v-if="row.status==2">专用</template>
            <template v-if="row.status==3">1对1专用</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="background" label="底图" width="120px" align="center">
        <template slot-scope="{row}">
          <el-image
            style="width: 90px; height: 150px"
            :src="row.background"
            fit="contain"
          />
        </template>
      </el-table-column>
      <el-table-column prop="project_name" label="使用项目" align="center" />
      <el-table-column prop="project_type" label="项目类型" width="100px" align="center">
        <template slot-scope="{row}">
          <div>
            <template v-if="row.project_type==1">直播</template>
            <template v-if="row.project_type==2">大咖</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="created_at" label="创建时间" width="200px" align="center" />
      <el-table-column prop="in_use" label="状态" width="100px" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.in_use==1,outstatus:row.in_use==2}">
            <template v-if="row.in_use==1">已上架</template>
            <template v-if="row.in_use==2">已下架</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="200" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'poster:list:detail'" type="primary" size="mini" @click="showDetailDialog(row.id)">预览</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'poster:list:update'" type="primary" size="mini" @click="showUpdateDialog(row.id)">编辑</el-button>
            </el-col>
          </el-row>
          <el-row style="margin-top: 20px;">
            <el-col :span="24">
              <el-button v-permission="'poster:list:copy'" type="primary" size="mini" @click="copyAndParse(row.id)">复制配置并新建</el-button>
            </el-col>
          </el-row>
          <el-row style="margin-top: 20px;">
            <el-col :span="12">
              <el-popconfirm
                v-if="row.in_use==1"
                title="确定要下架该邀请卡吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="outPoster(row.id)"
              >
                <el-button slot="reference" v-permission="'poster:list:out'" type="danger" size="mini">下架</el-button>
              </el-popconfirm>
              <el-button v-if="row.in_use==2" v-permission="'poster:list:publish'" type="primary" size="mini" @click="publishPoster(row.id)">上架</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'poster:list:delete'" type="danger" size="mini" @click="deleteConfirm(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <Detail :detailDialogData="detailDialogData" @closeDetailDialog="closeDetailDialog($event)" />
    <Update
      ref="update"
      :updateDialogData="updateDialogData"
      :liveList="liveList"
      :seriesList="seriesList"
      :static_p_type="static_p_type"
      :static_type="static_type"
      @closeUpdateDialog="closeUpdateDialog($event)"
    />
  </div>
</template>

<script>
import * as posterApi from '@/api/poster/poster'
import Pagination from '@/components/Pagination'
import Detail from './components/Detail'
import Update from './components/Update'
import cover from '@/assets/cover.png'
import background from '@/assets/background.png'

export default {
  name: 'Poster',
  components: { Pagination, Detail, Update },
  data() {
    return {
      // 搜索条件
      query: {
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      // detail子控件传值
      detailDialogData: {
        detailVisible: false,
        dataList: {
          header: {
            item_name: 'header',
            show: false,
            content: 'circle',
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          nickname: {
            item_name: 'nickname',
            show: false,
            content: 'left',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          cover: {
            item_name: 'cover',
            show: false,
            content: cover,
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          speaker: {
            item_name: 'speaker',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          hospital: {
            item_name: 'hospital',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          title: {
            item_name: 'title',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          time: {
            item_name: 'time',
            show: false,
            content: '2021-01-01 9:00',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          qrcode: {
            item_name: 'qrcode',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          text: []
        }
      },
      // 新建更新子控件
      updateDialogData: {
        updateVisible: false,
        newUpdateForm: {
          poster_id: 0,
          background: background,
          back_width: 590,
          back_height: 960,
          type: '',
          p_type: '',
          p_id: '',
          live_type: [],
          header: {
            item_name: 'header',
            show: false,
            content: 'circle',
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          nickname: {
            item_name: 'nickname',
            show: false,
            content: 'left',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          cover: {
            item_name: 'cover',
            show: false,
            content: cover,
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          title: {
            item_name: 'title',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          speaker: {
            item_name: 'speaker',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
            width: ''
          },
          hospital: {
            item_name: 'hospital',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
            width: ''
          },
          time: {
            item_name: 'time',
            show: false,
            content: '2021-01-01 9:00',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          qrcode: {
            item_name: 'qrcode',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          text: []
        }
      },
      liveList: [],
      seriesList: [],
      static_p_type: 0,
      static_type: 0
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      posterApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    remoteMethod(type, query) {
      posterApi.projectList({ key_word: query, type: type }).then(response => {
        if (response.code === 20000) {
          if (type==1) {
            this.liveList = response.data
          } else {
            this.seriesList = response.data
          }
        }
      }).catch(() => {})
    },

    deleteConfirm(posterId) {
      this.$confirm('确认删除该邀请卡吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var query = { poster_id: posterId }
        posterApi.deleted(query).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 上架
    publishPoster(posterId) {
      var query = { poster_id: posterId }
      posterApi.publishPoster(query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('上架成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    // 下架
    outPoster(posterId) {
      var query = { poster_id: posterId }
      posterApi.outPoster(query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('下架成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    copyAndParse(posterId) {
      var query = { poster_id: posterId }
      posterApi.copyAndParse(query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('新建成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    // detail子组件
    showDetailDialog(posterId) {
      var query = { poster_id: posterId }
      posterApi.detail(query).then(response => {
        if (response.code === 20000) {
          this.detailDialogData.dataList = response.data.detail
          if (response.data.detail.back_height === 0) {
            this.detailDialogData.dataList.back_height = 960
          }
          this.detailDialogData.detailVisible = true
        }
      }).catch(() => {})
    },

    closeDetailDialog(data) {
      this.detailDialogData = data
    },

    // create update子组件
    createNewPoster() {
      this.updateDialogData.updateVisible = true
      this.$refs.update.getUploadToken()
    },

    showUpdateDialog(posterId) {
      console.log('------------')
      var query = { poster_id: posterId }
      posterApi.detail(query).then(response => {
        if (response.code === 20000) {
          this.updateDialogData.updateVisible = true
          this.updateDialogData.newUpdateForm = response.data.detail
          this.static_p_type = response.data.detail.p_type
          this.static_type = response.data.detail.type
          if (response.data.detail.back_height === 0) {
            this.updateDialogData.newUpdateForm.back_height = 960
          }
          if (response.data.detail.p_type==1) {
            this.liveList = response.data.projectList
          } else {
            this.seriesList = response.data.projectList
          }
          this.$refs.update.getUploadToken()
        }
      }).catch(() => {})
    },

    closeUpdateDialog(data) {
      this.updateDialogData = data
    }
  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
