<template>
  <div class="block">
    <el-upload
      action="undefined"
      :show-file-list="isShow"
      :limit="uploadLimit"
      :http-request="uploadFile"
      :list-type="getListType"
      :file-list="uploadList"
      :before-remove="beforeRemove"
      :on-exceed="handleExceed"
    >
      <el-button
        size="small"
        type="primary"
      >点击上传</el-button>
    </el-upload>
  </div>

</template>
<script>
import { getUploadConfig, addUpload, batchDelete } from '@/api/upload/upload'
import * as qiniu from 'qiniu-js'
export default {
  props: ['type', 'business', 'uploadList', 'limit', 'showList', 'name', 'listType', 'delIdWhiteList'],
  data: function() {
    return {
      config: {
        path: '',
        token: '',
        expireTime: '',
        bucket: '',
        baseUri: '',
        uploadUri: ''
      }
    }
  },
  computed: {
    uploadLimit() {
      return this.limit ? this.limit : 0
    },
    isDisabled() {
      let limit = this.limit ? this.limit : 0
      return limit <= this.uploadList.length
    },
    isShow() {
      return !!this.showList
    },
    getListType() {
      const types = ['text', 'picture', 'picture-card']
      if (this.listType == undefined || types.find(elem => elem == this.listType) == undefined) {
        return 'text'
      } else {
        return this.listType
      }
    }
  },
  mounted: function() {
    this.initUpload()
  },
  methods: {
    initUpload() {
      getUploadConfig(this.type, this.business).then(response => {
        this.$data.config = response.data.config
      })
    },
    uploadFile(obj) {
      const config = this.config

      const { file } = obj
      let key = config.path
      const fileName = file.name
      key = key + this.generateMixed(8) + '-' + fileName

      const uploadConfig = {
        useCdnDomain: true, // 表示是否使用 cdn 加速域名，为布尔值，true 表示使用，默认为 false。
        region: qiniu.region.z0,
        uphost: config.uploadUrl
      }
      const putExtra = {}

      const observable = qiniu.upload(file, key, config.token, putExtra, uploadConfig)

      // 刚刚得到的信息可以使用了，这样可以使用到 el-upload 的进度条
      const next = ({ total }) => obj.onProgress({ percent: total.percent })
      const error = err => this.uploadError(err)
      const complete = res => this.uploadSuccess(res)
      const subscription = observable.subscribe(next, error, complete)

      return subscription
    },
    uploadError(err) {
      this.$emit('uploadFail', err)
      console.log(err)
    },
    uploadSuccess(res) {
      const bucket = this.$data.config.bucket
      const url = this.$data.config.baseUri
      const key = res.key
      const fileName = res.key.split('/').pop()
      const fileUrl = `${url}/${key}`
      const me = this
      addUpload(key, bucket, fileName, fileUrl).then(resp => {
        const id = resp.data.info.id
        const data = {
          id: id,
          name: fileName,
          url: fileUrl
        }
        me.uploadList.push(data)

        me.$emit('uploadSuccess', data)
      })
    },
    beforeRemove(file, fileList) {
      let delIdList = this.delIdWhiteList
      if (delIdList == undefined) {
        delIdList = []
      }
      if ('id' in file && delIdList.find(elem => elem == file['id']) == undefined) {
        // 触发真实删除
        batchDelete([file['id']])
      }
      let i = 0
      for (i = 0; i < this.uploadList.length; i++) {
        if (file.id == this.uploadList[i].id) {
          this.$emit('deleteFile', i, this.uploadList[i])
        }
      }

      return false
    },
    handleExceed(file, fileList) {
      const limit = this.limit ? this.limit : 0
      this.$notify({
        title: '操作失败',
        message: `当前最多允许上传${limit}个文件，请删除旧文件后再上传`,
        type: 'warning'
      })
    },
    generateMixed(n) {
      var chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
        'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
        'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
      var res = ''
      for (var i = 0; i < n; i++) {
        var id = Math.floor(Math.random() * 36)
        res += chars[id]
      }
      return res
    }
  }
}
</script>
