<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row :gutter="60">
        <el-col :span="8">
          <el-form-item label="关键字:">
            <el-input v-model="query.keyword" placeholder="用户名或手机号" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="状态:">
            <el-select v-model="query.status" placeholder="请选择状态">
              <el-option label="全部" value="" />
              <el-option label="申请中" value="1" />
              <el-option label="已认证" value="2" />
              <el-option label="已拒绝" value="3" />
              <el-option label="取消认证" value="4" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" width="80" align="center" />
      <el-table-column prop="real_name" label="姓名" align="center" />
      <el-table-column prop="phone" label="手机号" align="center" />
      <el-table-column prop="main_store_name" label="连锁店" align="center" />
      <el-table-column prop="store_name" label="分店" align="center" />
      <el-table-column prop="location" label="药店地址" align="center" />
      <el-table-column prop="" label="级别" align="center">
        <template slot-scope="{row}">
          <p v-if="row.role=='1'">店员</p>
          <p v-if="row.role=='2'">店长</p>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="申请时间" align="center" />
      <el-table-column prop="" label="认证状态" align="center">
        <template slot-scope="{row}">
          <p v-if="row.status=='1'">待审核</p>
          <p v-if="row.status=='2'">已通过</p>
          <p v-if="row.status=='3'">已拒绝</p>
          <p v-if="row.status=='4'">取消认证</p>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="180" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="10">
              <el-button v-if="row.status=='1'" v-permission="'pharmacy:clerk:agree'" type="primary" size="mini" @click="agree(row.id)">通过</el-button>
            </el-col>
            <el-col :span="10">
              <el-button v-if="row.status=='1'" v-permission="'pharmacy:clerk:refuse'" type="primary" size="mini" @click="refuse(row.id)">拒绝</el-button>
            </el-col>
            <el-col :span="10">
              <el-button v-if="row.status=='2'" v-permission="'pharmacy:clerk:cancel'" type="primary" size="mini" @click="cancel(row.id)">取消认证</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as ClerkApplyApi from '@/api/pharmacy/clerk_apply_list'
import Pagination from '@/components/Pagination'

export default {
  name: 'ClerkApplyList',
  components: { Pagination },
  data() {
    return {
      query: {
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      dialogVisible: false
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      ClerkApplyApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    agree(id) {
      this.$confirm('确定要审核通过ID:' + id + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ClerkApplyApi.agree({ apply_id: id }).then(response => {
          this.operationMsg('同意的ID: ' + id.toString() + ' 操作成功！', 'success')
          this.search()
        })
      }).catch(() => {
        return
      })
    },

    refuse(id) {
      this.$confirm('确定要拒绝ID:' + id + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ClerkApplyApi.refuse({ apply_id: id }).then(response => {
          this.operationMsg('拒绝的ID: ' + id.toString() + ' 操作成功！', 'success')
          this.search()
        })
      }).catch(() => { return })
    },

    cancel(id) {
      this.$confirm('确定要取消认证ID:' + id + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ClerkApplyApi.cancel({ apply_id: id }).then(response => {
          this.operationMsg('取消认证ID: ' + id.toString() + ' 操作成功！', 'success')
          this.search()
        })
      }).catch(() => { return })
    },

    close() {
      this.dialogVisible = false
    },
    queryReset() {
      this.query = {
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
