<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="2" style="margin-bottom: 10px;">
        <el-button v-permission="'lfmini:msg:add'" type="primary" class="newbutton" @click="showDiolog">新增</el-button>
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="title" label="标题" align="left" />
      <el-table-column prop="sub_title" label="简介" align="left" />
      <el-table-column prop="body" label="内容" align="left" />
      <el-table-column prop="link" label="链接" align="left" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-if="row.status == 1" v-permission="'lfmini:msg:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'lfmini:msg:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <!-- form 表单 新增/修改 START -->
    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="标题" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="简介"
              prop="sub_title"
              :rules="[
                { required: true, message: '简介', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.sub_title" placeholder="请输入简介" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11">
            <el-form-item
              label="推送时间"
              prop="push_time"
              :rules="[
                { required: true, message: '请输入时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="formData.push_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="链接"
              prop="link"
              :rules="[
                { message: '链接', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.link" placeholder="请输入链接" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="消息内容"
              :rules="[
                {required: true, message: '消息内容', trigger: 'blur' }
              ]"
            >
              <el-input
                v-model="formData.body"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="9">
            <el-form-item
              label="分类"
              prop="type_id"
              :rules="[
                {required: true, message: '分类', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type_id" clearable placeholder="请选择分类">
                <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="选择发送用户"
              prop="user_ids"
              :rules="[
                { message: '请至少关联一个发送用户', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.user_ids" collapse-tags filterable multiple placeholder="请选择" @change="onSelectedInformationType">
                <el-option
                  v-for="item in userList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <li v-for="(item,index) in userLiList" :key="index" class="userLiList" style="margin: 10px 0 0 60px;list-style: none;" @click="delCheckedinformationTypeId(item.id)">
          <i class="el-icon-circle-close"> {{ item.value }} </i>
        </li>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->
  </div>
</template>

<script>
import * as msgApi from '@/api/lfmini/msg'
import * as commonApi from '@/api/common/common'
import Pagination from '@/components/Pagination'

export default {
  name: 'Msg',
  components: { Pagination },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        page: 1,
        page_size: 20,
        tid: 0
      },
      formData: {
        id: 0,
        title: '',
        sub_title: '',
        body: '',
        link: '',
        type_id: '',
        push_time: '',
        user_ids: []
      },
      total: 0,
      dialogVisible: false,
      articleOptions: [],
      types: [{ id: 1, title: '认证信息' }],
      userList: [],
      userLiList: []
    }
  },
  created() {
    this.getUserList()
    this.search()
  },
  methods: {
    search() {
      this.loading = true
      msgApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    onSelectedInformationType(val) {
      this.userLiList = this.userList.filter((ele) => {
        return val.some(function check(index) { return index === ele.id })
      })
    },

    delCheckedinformationTypeId(articleId) {
      this.formData.user_ids = this.formData.user_ids.filter((art) => {
        return articleId !== art
      })

      this.userLiList = this.userLiList.filter((art_t) => {
        return articleId !== art_t.id
      })
    },

    submit() {
      if (!this.formData.title) {
        this.operationMsg('标题不可空', 'error')
        return
      }
      if (!this.formData.sub_title) {
        this.operationMsg('简介不可空', 'error')
        return
      }
      if (!this.formData.body) {
        this.operationMsg('内容不可空', 'error')
        return
      }
      if (!this.formData.type_id) {
        this.operationMsg('类型不可空', 'error')
        return
      }
      if (!this.formData.push_time) {
        this.operationMsg('推送时间不可空', 'error')
        return
      }

      msgApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          if (response.data) {
            this.operationMsg(response.data.msg, 'warning')
          } else {
            this.operationMsg('提交成功！', 'success')
          }
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      msgApi.detail(id).then(response => {
        if (response.code === 20000) {
          console.log(response.data.type)
          this.formData = response.data
          this.formData.type_id = response.data.type
          this.userLiList = response.data['user_li_list']
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        msgApi.deleted({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    reset() {
      this.formData = {
        id: 0,
        title: '',
        user_ids: []
      }
      this.userLiList = []
    },

    close() {
      this.dialogVisible = false
    },

    // 获取
    getUserList() {
      commonApi.user_list().then(response => {
        this.userList = response.data.list.list
        console.log(response.data.list.list)
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .userLiList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
