<template>
    <el-dialog custom-class="addPaper" el-dialog title="上传问卷额外奖励名单" :visible="open" :before-close="close">
        <el-form ref="paperForm"  :model="add" :rules="rules">
            <el-form-item label="发放人员名单文件：" style="height: 100px;" :label-width="formLabelWidth" prop="upload_id">
                <upload-file
                    :type="upload.type"
                    :business="upload.business"
                    :uploadList.sync="uploadList"
                    :showList="true"
                    :limit="1"
                    listType="text"
                    @uploadFail="uploadListFail"
                    @uploadSuccess="uploadListSuccess"
                    @deleteFile="delList">
                </upload-file>
            </el-form-item>
            <el-form-item align="center">
                <el-button type="success" @click="submit">添&nbsp;&nbsp;&nbsp;&nbsp;加</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>
<script>
import { sendTopNPointRewards } from '@/api/questionnaire/questionnaire'
import UploadFile from '@/components/Upload'
export default {
    name: "SendPaperTopNPoint",
    components: {
        UploadFile
    },
    props: {
        biz_id: Number,
        open: Boolean
    },
    data: function() {
      const validateUpload = (rule, value, callback) => {
        if (this.$data.add.upload_id <= 0) {
          return callback(new Error('积分发放人员名单文件未上传'))
        }
        return callback()
      }
        return {
            add: {
                upload_id: 0
            },
            upload: {
                type: 1,
                business: 'papertoppointuserimport'
            },
            rules: {
                upload_id: [
                    {required: true, message: '奖励名单文件不能为空', trigger: 'blur'},
                    {required: true, message: '奖励名单文件不能为空', trigger: 'change'},
                    { validator: validateUpload, trigger: 'change' }
                ]
            },
            formLabelWidth: "120",
            uploadList: []
        }
    },
    methods: {
        submit: function() {
            let that = this
            this.$refs['paperForm'].validate(valid => {
                if (valid) {
                    sendTopNPointRewards(
                        that.biz_id,
                        that.$data.add.upload_id
                    ).then(resp => {
                        const no = resp.data.no
                        this.$notify({
                            type: "success",
                            title: "操作成功",
                            duration: 30000,
                            message: `问卷前n积分奖励人员导入成功, 批次号：${no}`
                        })
                        that.$emit("success")
                    })
                }
            })
        },
        close() {
            this.$emit("close")
        },
        uploadListFail(err) {
            console.log(err)
        },
        uploadListSuccess(data) {
            this.$data.add.upload_id = data.id
        },
        delList() {
            this.$data.uploadList = []
            this.$data.add.upload_id = 0
        }
    }
}
</script>
<style scoped>
div.addPaper {
    border-radius: 10px;
}
</style>
