<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" type="success" style="margin-top:25px;">
      <el-button
        v-if="type == 1"
        v-permission="'point:topn:add:paper'"
        style="font-size:0.9em"
        type="success"
        @click="preSendQuestionnaireTopNPoint"
      >
        上传问卷额外奖励人员名单
      </el-button>
      <el-button
        v-if="type == 2"
        v-permission="'point:topn:add:exam'"
        type="success"
        @click="preSendExamTopNPoint"
      >上传考试额外奖励人员名单</el-button>
      <el-button
        v-if="type == 3"
        v-permission="'point:topn:add:topics'"
        type="success"
        @click="preSendTopicTopNPoint"
      >
        上传pk站额外奖励人员名单</el-button>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top: 20px">
      <!-- 数据区域 -->
      <el-table
        v-loading="loadingBatch"
        stripe
        :data="getBatches"
        :cell-style="getCellStyle"
        :header-cell-style="getHeaderCellStyle"
        border
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="id"
          label="批次ID"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="batch_no"
          label="批次编号"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="user"
          label="上传用户"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="created_at"
          label="上传时间"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="state"
          label="处理状态"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="操作"
        >
          <template slot-scope="scope">
            <el-button type="primary" @click="showBatchDetail(scope.row.id)">详&nbsp;&nbsp;&nbsp;&nbsp;情</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col v-if="type == 1 && show_add_questinnaire == true" :span="22" :offset="2">
      <send-paper-top-n-point
        :biz_id="biz_id"
        :open="show_add_questinnaire"
        @success="successAddPaper"
        @close="closeAddPaper"
      />
    </el-col>

    <el-col v-if="type == 1 && show_paper_detail" :span="22" :offset="1">
      <!-- 问卷导入人员详情 -->
      <el-dialog title="积分发放详情" :visible="show_paper_detail" :before-close="closePaperDetail">
        <el-row :gutter="10">
          <el-col :span="22" :offset="1">
            <el-table
              v-loading="loadingDetail"
              stripe
              :data="getPaperDetail"
              border
              :cell-style="getCellStyle"
              :header-cell-style="getHeaderCellStyle"
            >
              <el-table-column
                header-align="center"
                align="center"
                prop="id"
                label="ID"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="no"
                label="批次号"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="user"
                label="用户"
              />
              <el-table-column
                header-align="center"
                align="center"
                label="发放状态"
              >
                <template slot-scope="scope">
                  {{ scope.row.state }}
                  <el-tooltip v-if="scope.row.error" :content="scope.row.error" placement="top">
                    <i class="el-icon-error" style="color:red;"/>
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top: 20px;">
            <el-pagination
              background
              layout="prev, pager, next"
              :current-page="page.current"
              :total="page.total"
              @current-change="listQuestionnaire"
              @prev-click="listQuestionnaire(page.current - 1)"
              @next-click="listQuestionnaire(page.current + 1)"
            />
          </el-col>
        </el-row>
      </el-dialog>
    </el-col>
    <!-- 考试 -->
    <el-col v-if="type == 2 && show_add_exam == true" :span="22" :offset="1">
      <send-exam-top-n-point
        :biz_id="biz_id"
        :open="show_add_exam"
        @success="successAddExam"
        @close="closeAddExam"
      />
    </el-col>
    <el-col v-if="type == 2 && show_paper_detail" :span="22" :offset="1">
      <el-dialog title="积分发放详情" :visible="show_paper_detail" :before-close="closePaperDetail">
        <el-row :gutter="10">
          <el-col :span="22" :offset="1">
            <el-table
              v-loading="loadingDetail"
              stripe
              :data="getPaperDetail"
              border
              :cell-style="getCellStyle"
              :header-cell-style="getHeaderCellStyle"
            >
              <el-table-column
                header-align="center"
                align="center"
                prop="id"
                label="ID"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="no"
                label="批次号"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="user"
                label="用户"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="state"
                label="发放状态"
              >
                <template slot-scope="scope">
                  {{ scope.row.state }}
                  <el-tooltip v-if="scope.row.error" :content="scope.row.error" placement="top">
                    <i class="el-icon-error" style="color:red;"/>
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top: 20px;">
            <el-pagination
              background
              layout="prev, pager, next"
              :current-page="page.current"
              :total="page.total"
              @current-change="listQuestionnaire"
              @prev-click="listQuestionnaire(page.current - 1)"
              @next-click="listQuestionnaire(page.current + 1)"
            />
          </el-col>
        </el-row>
      </el-dialog>
    </el-col>

    <!-- pk站积分详情 -->
    <el-col v-if="type == 3 && show_add_topic === true" :span="22" :offset="1">
      <send-topic-top-n-point
        :biz_id="biz_id"
        :open="show_add_topic"
        @success="successAddTopic"
        @close="closeAddTopic"
      />
    </el-col>
    <el-col v-if="type == 3 && show_paper_detail" :span="22" :offset="1">
      <el-dialog title="积分发放详情" :visible="show_paper_detail" :before-close="closePaperDetail">
        <el-row :gutter="10">
          <el-col :span="22" :offset="1">
            <el-table
              v-loading="loadingDetail"
              stripe
              :data="getPaperDetail"
              border
              :cell-style="getCellStyle"
              :header-cell-style="getHeaderCellStyle"
            >
              <el-table-column
                header-align="center"
                align="center"
                prop="id"
                label="ID"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="no"
                label="批次号"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="user"
                label="用户"
              />
              <el-table-column
                header-align="center"
                align="center"
                prop="state"
                label="发放状态"
              >
                <template slot-scope="scope">
                  {{ scope.row.state }}
                  <el-tooltip v-if="scope.row.error" :content="scope.row.error" placement="top">
                    <i class="el-icon-error" style="color:red;"/>
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top: 20px;">
            <el-pagination
              background
              layout="prev, pager, next"
              :current-page="page.current"
              :total="page.total"
              @current-change="listQuestionnaire"
              @prev-click="listQuestionnaire(page.current - 1)"
              @next-click="listQuestionnaire(page.current + 1)"
            />
          </el-col>
        </el-row>
      </el-dialog>
    </el-col>
  </el-row>
</template>
<script>
import { listBatches, listQuestionnaireBatchDetail, listExamBatchDetail, listTopicBatchDetail } from '@/api/top_n/top_n'
import SendPaperTopNPoint from './add_questionnaire.vue'
import SendExamTopNPoint from './add_exam.vue'
import SendTopicTopNPoint from './add_topics.vue'
export default {
  components: {
    SendPaperTopNPoint,
    SendExamTopNPoint,
    SendTopicTopNPoint
  },
  data: function() {
    return {
      biz_id: 0,
      type: 1,
      batches: [],
      detail: [],
      page: {
        current: 1,
        pages: 0,
        size: 10,
        total: 0
      },
      detail_id: 0,
      show_add_questinnaire: false,
      show_paper_detail: false,
      loadingBatch: false,
      loadingDetail: false,
      show_add_exam: false,
      show_add_topic: false
    }
  },
  computed: {
    getBatches() {
      return this.$data.batches.map(function(val) {
        return {
          id: val.id,
          batch_no: val.batch_no,
          user: val.user,
          created_at: val.created_at,
          state: val.state == 1 ? '已导入待处理' : '已处理'
        }
      })
    },
    getPaperDetail() {
      return this.$data.detail.map(function(val) {
        let user = `${val.mobile}`
        if (val.uid > 0) {
          user += `（用户编号: ${val.uid}）`
        }
        let state = '未计算'
        switch (val.send_state) {
          case 1:
            state = '未计算'
            break
          case 2:
            state = '积分未发送'
            break
          case 3:
            state = '积分已到帐'
            break
          case 4:
            state = '积分发放失败'
        }
        return {
          id: val.id,
          no: val.batch_no,
          user: user,
          state: state,
          error: val.send_error
        }
      })
    }
  },
  mounted: function() {
    const biz_id = this.$route.query.biz_id
    if (biz_id == undefined) {
      this.route.go(-1)
    }
    this.$data.biz_id = parseInt(biz_id)
    const type = this.$route.query.type
    this.$data.type = type
    console.log(this.$data.type)
    this.listTopBatches()
  },
  methods: {
    listTopBatches() {
      this.$data.loadingBatch = true
      // 列出导入批次
      listBatches(this.$data.biz_id, this.$data.type)
        .then(resp => {
          this.$data.batches = resp.data.list
          this.$data.loadingBatch = false
        }).catch((reason) => {
          this.$data.loadingBatch = false
        })
    },
    listQuestionnaire(current) {
      this.$data.loadingBatch = true
      if (this.$data.type == 1) {
        listQuestionnaireBatchDetail(
          this.$data.detail_id,
          current,
          this.$data.page.size
        ).then(resp => {
          this.$data.detail = resp.data.list
          this.$data.page = resp.data.page
          this.$data.loadingBatch = false
        }).catch((reason) => {
          this.$data.loadingDetail = false
        })
      } else if (this.$data.type == 2) {
        listExamBatchDetail(
          this.$data.detail_id,
          current,
          this.$data.page.size
        ).then(resp => {
          this.$data.detail = resp.data.list
          this.$data.page = resp.data.page
          this.$data.loadingBatch = false
        }).catch((reason) => {
          this.$data.loadingDetail = false
        })
      } else if (this.$data.type == 3) {
        listTopicBatchDetail(
          this.$data.detail_id,
          current,
          this.$data.page.size
        ).then(resp => {
          this.$data.detail = resp.data.list
          this.$data.page = resp.data.page
          this.$data.loadingBatch = false
        }).catch((reason) => {
          this.$data.loadingBatch = false
        })
      }
    },
    preSendQuestionnaireTopNPoint() {
      this.$data.show_add_questinnaire = true
    },
    closeAddPaper() {
      this.$data.show_add_questinnaire = false
    },
    successAddPaper() {
      this.$data.show_add_questinnaire = false
      this.listTopBatches()
    },
    showBatchDetail(detailId) {
      this.$data.detail_id = detailId
      this.listQuestionnaire(1)

      this.$data.show_paper_detail = true
    },
    closePaperDetail() {
      this.$data.show_paper_detail = false
      this.$data.detail_id = 0
      this.$data.detail = []
      this.$data.page.current = 1
    },
    getCellStyle() {
      return 'font-size:1.3em;'
    },
    getHeaderCellStyle() {
      return 'font-size:1.4em;font-weight:bold;'
    },
    preSendExamTopNPoint() {
      this.$data.show_add_exam = true
    },
    closeAddExam() {
      this.$data.show_add_exam = false
    },
    successAddExam() {
      this.$data.show_add_exam = false
      this.listTopBatches()
    },
    preSendTopicTopNPoint() {
      this.$data.show_add_topic = true
    },
    closeAddTopic() {
      this.$data.show_add_topic = false
    },
    successAddTopic() {
      this.$data.show_add_topic = false
      this.listTopBatches()
    }
  }
}
</script>
