<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'tag:label:create'" type="primary" class="newbutton" @click="createNewSheet">新建分类</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%;margin-top: 50px;">
      <el-table-column prop="label_name" label="分类" width="150" align="center" />
      <el-table-column prop="" label="标签" align="center">
        <template slot-scope="{row}">
          <el-tag
            v-for="label in row.cLabels"
            :key="label.id"
            style="margin-left: 6px;cursor: pointer;"
            @click="showLabelForUpdate(label.id)"
          >
            {{ label.label_name }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="300" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8">
              <el-button type="primary" size="mini" @click="showUpdateLabel(row.id)">添加标签</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'tag:label:update'" type="primary" size="mini" @click="showUpdateSort(row.id, row.label_name)">编辑分类</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'tag:label:delete'" type="danger" size="mini" @click="deleteAllLabel(row.id)">删除分类</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="新增/更新分类" :visible.sync="updateSheetDialog" :before-close="closeUpdateSheetDialog" width="60%">
      <el-form ref="sheetTitleForm" :model="sheetTitleForm" label-width="100px" class="demo-dynamic">
        <el-form-item prop="label_name" label="标签分类">
          <el-input v-model="sheetTitleForm.label_name" style="width: 80%;" autocomplete="off" placeholder="请输入标签类型" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="updateSort()">提交</el-button>
          <el-button @click="closeUpdateSheetDialog">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog title="新增/更新标签" :visible.sync="updateLabelDialog" :before-close="closeUpdateLabelDialog" width="60%">
      <el-form ref="labelForm" :model="labelForm" label-width="100px" class="demo-dynamic">
        <el-form-item prop="c_label_name" label="标签名称">
          <el-input v-model="labelForm.c_label_name" style="width: 80%;" autocomplete="off" placeholder="请输入标签名称" />
        </el-form-item>
        <el-form-item
          label="直播平台"
          prop="platform"
          :rules="[
            { required: true, message: '请至少选择一个选择直播平台', trigger: 'blur' }
          ]"
        >
          <el-checkbox-group v-model="labelForm.platform">
            <el-checkbox label="代表公众号" />
            <el-checkbox label="代表APP" />
            <el-checkbox label="医生公众号" />
            <el-checkbox label="医生APP" />
          </el-checkbox-group>
        </el-form-item>
        <el-row :gutter="60">
          <el-col :span="9">
            <el-form-item label="是否供用户可见" label-width="140px">
              <el-switch v-model="labelForm.is_public" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item label="是否为用户默认标签" label-width="165px">
              <el-switch v-model="labelForm.is_default" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item>
          <el-button type="primary" @click="updateLabel()">提交</el-button>
          <el-button @click="closeUpdateLabelDialog">取消</el-button>
          <el-button v-if="labelForm.c_label_id!=0" type="danger" @click="deleteSignLabel">删除该标签</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as tags from '@/api/tags/tags'

export default {
  name: 'Tags',
  components: { },
  data() {
    return {
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 更新表对话框
      updateSheetDialog: false,
      // 当前操作的id
      sheetTitleForm: {
        label_id: 0,
        label_name: ''
      },
      updateLabelDialog: false,
      labelForm: {
        p_label_id: 0,
        c_label_id: 0,
        c_label_name: '',
        platform: ['代表公众号', '代表APP', '医生公众号', '医生APP'],
        is_public: true,
        is_default: false
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      tags.search().then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    createNewSheet() {
      this.sheetTitleForm.label_id = 0
      this.sheetTitleForm.label_name = ''
      this.updateSheetDialog = true
    },

    showUpdateSort(id, label_name) {
      this.sheetTitleForm.label_id = id
      this.sheetTitleForm.label_name = label_name
      this.updateSheetDialog = true
    },

    updateSort() {
      tags.updateSort(this.sheetTitleForm).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.getList()
          this.updateSheetDialog = false
        }
      }).catch(() => {})
    },

    closeUpdateSheetDialog() {
      this.updateSheetDialog = false
    },

    showUpdateLabel(id) {
      this.labelForm = {
        p_label_id: id,
        c_label_id: 0,
        c_label_name: '',
        platform: ['代表公众号', '代表APP', '医生公众号', '医生APP'],
        is_public: true,
        is_default: false
      }
      this.updateLabelDialog = true
    },

    showLabelForUpdate(label_id) {
      tags.detail({ label_id: label_id }).then(response => {
        if (response.code === 20000) {
          this.labelForm = {
            p_label_id: response.data.pid,
            c_label_id: response.data.id,
            c_label_name: response.data.label_name,
            platform: response.data.platform_name,
            is_public: response.data.public,
            is_default: response.data.default
          }
          this.updateLabelDialog = true
        }
      }).catch(() => {})
    },

    updateLabel() {
      tags.update(this.labelForm).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.getList()
          this.updateLabelDialog = false
        }
      }).catch(() => {})
    },

    closeUpdateLabelDialog() {
      this.updateLabelDialog = false
    },

    deleteSignLabel() {
      this.$confirm('确认删除该标签吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        tags.deleted({ label_id: this.labelForm.c_label_id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.getList()
            this.updateLabelDialog = false
          }
        }).catch(() => {})
      })
    },

    deleteAllLabel(id) {
      this.$confirm('确认删除该分类吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        tags.deletedAll({ label_id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.getList()
          }
        }).catch(() => {})
      })
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-tag + .el-tag {
      margin-left: 10px;
    }
    .button-new-tag {
      margin-left: 10px;
      height: 32px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .input-new-tag {
      width: 90px;
      margin-left: 10px;
      vertical-align: bottom;
    }
  .newbuttondiv{
    margin-top: 20px;
  }
  .deleteButton{
    margin-left: 20px;
  }
  .alert {
      margin-left: 100px;
      color: #ff4949;
    }
  .detailTitle {
    font-size: 16px;
    margin-left: 20px;
  }
</style>
