<template>
  <el-upload
    class="upload-demo"
    :action="uploadAction"
    :data="uploadData"
    :on-exceed="handleExceed"
    :before-upload="beforeUpload"
    :on-error="uploadError"
    :on-success="uploadSuccess"
    :before-remove="beforeRemove"
    :on-remove="handleRemove"
    :show-file-list="showList"
    :file-list="picList"
    list-type="picture"
    :sign="sign"
    :tp="tp"
    :picUrl="picUrl"
    :bucket="bucket"
    :disabled="abled"
    multiple
  >
    <div class="upbutton">
      <el-button size="small" type="primary">{{ button }}</el-button>
      <div slot="tip" class="el-upload__tip">{{ text }}</div>
    </div>
  </el-upload>
</template>

<script>

export default {
  name: 'MultipleUpload',
  props: {
    showList: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    picList: {
      type: Array,
      default: () => {
        return []
      }
    },
    sign: {
      type: String,
      default: () => {
        return ''
      }
    },
    tp: {
      type: Number,
      default: 1
    },
    uploadData: {
      type: Object,
      default: () => {
        return {
          token: ''
        }
      }
    },
    picUrl: {
      type: String,
      default: () => {
        return ''
      }
    },
    bucket: {
      type: String,
      default: () => {
        return ''
      }
    },
    abled: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    limit: {
      type: Number,
      default: 1
    },
    text: {
      type: String,
      default: '只能上传jpg/png文件'
    },
    button: {
      type: String,
      default: '点击上传'
    }
  },
  data() {
    return {
      uploadAction: 'https://upload.qiniup.com'
    }
  },
  methods: {
    handleExceed(files, fileList) {
      // this.$message.warning(
      //   '当前限制选择 1 张图片，如需更换，请删除上一张图片再重新选择！'
      // )
    },

    beforeUpload(file) {
      const isPNG = file.type === 'image/png'
      const isJPEG = file.type === 'image/jpeg'
      const isJPG = file.type === 'image/jpg'

      if (!isPNG && !isJPEG && !isJPG) {
        this.$message.error('上传图片只能是 jpg、png、jpeg 格式!')
        return false
      }
    },

    uploadError(err, file, fileList) {
      this.$message({
        message: '上传出错，请刷新页面！',
        type: 'error',
        center: true
      })
      console.log(err)
    },

    uploadSuccess(response) {
  
      var img = {
        name: this.picUrl + '/' + response.key,
        url: this.picUrl + '/' + response.key
      }
      // var img = [{
      //   name: this.picUrl + '/' + response.key,
      //   url: this.picUrl + '/' + response.key
      // }]
      this.$emit('setImg', { imgList: img, sign: this.sign, tp: 1 })
    },

    beforeRemove(file, fileList) {},

    handleRemove(file, fileList) {
      this.$emit('setImg', { imgList: fileList, sign: this.sign ,tp: 2}) }

  }
}
</script>
