<template>
  <div class="app-container">
    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'info:hot:add'" type="primary" class="newbutton" @click="showDiolog">添加新资讯</el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="loading"
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
      <el-table-column prop="title" label="标题" align="left" />
      <el-table-column prop="platform" label="平台" align="center">
        <template slot-scope="{row}">
          <el-tag
            v-for="(item,index) in row.platform"
            :key="index"
            style="margin-right: 5px;"
          >
            {{ item }}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column prop="admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row v-if="row.level==1">
            <el-col :span="8">
              <el-button v-permission="'info:hot:subAdd'" type="primary" size="mini" @click="subAdd(row.id)">新增</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'info:hot:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'info:hot:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
          <el-row v-if="row.level==2">
            <el-col :span="8">
              <el-button v-permission="'info:hot:subDetail'" type="primary" size="mini" @click="subDetail(row.id)">查看</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'info:hot:subUpdate'" type="primary" size="mini" @click="showSubUpdate(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'info:hot:subDelete'" type="danger" size="mini" @click="subDeleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="领域名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入领域名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入领域名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="平台"
              prop="platform"
              :rules="[
                { required: true, message: '请至少选择一个平台', trigger: 'blur' }
              ]"
            >
              <el-checkbox-group v-model="formData.platform">
                <el-checkbox label="优药" />
                <el-checkbox label="优佳医" />
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog title="新增/编辑" :visible.sync="subDialogVisible" :before-close="subClose" width="80%">
      <el-form ref="subFormData" label-position="right" :model="subFormData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item label="领域名称">
              <el-input v-model="levelOneTitle" disabled="disabled" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="子领域名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入子领域名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="subFormData.title" placeholder="请输入子领域名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="平台"
              prop="platform"
              :rules="[
                { required: true, message: '请至少选择一个平台', trigger: 'blur' }
              ]"
            >
              <el-checkbox-group v-model="subFormData.platform">
                <el-checkbox v-for="(item,index) in platfromType" :key="index" :label="item" />
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="关联产品" prop="product">
              <el-select v-model="subFormData.product" filterable multiple placeholder="请选择">
                <el-option
                  v-for="item in productOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联文章"
              prop="product"
              :rules="[
                { required: true, message: '请至少关联一篇文章', trigger: 'blur' }
              ]"
            >
              <el-select v-model="subFormData.article" collapse-tags filterable multiple placeholder="请选择" @change="onSelectedArticle">
                <el-option
                  v-for="item in articleOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <li v-for="(item,index) in articleList" :key="index" class="articleList" style="margin: 10px 0 0 60px;list-style: none;" @click="delCheckedArticle(item.value)">
          <i class="el-icon-circle-close"> {{ item.label }}</i>
        </li>

        <el-row class="contentButton">
          <el-button type="primary" @click="submitSub">提交</el-button>
          <el-button @click="subDialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog title="详情" :visible.sync="detailVisible" :before-close="detailClose" width="80%">
      <table class="table">
        <tr>
          <td class="td header">领域名称</td>
          <td class="td">{{ subFormData.p_title }}</td>
        </tr>
        <tr>
          <td class="td header">子领域名称</td>
          <td class="td">{{ subFormData.title }}</td>
        </tr>
        <tr>
          <td class="td header">平台</td>
          <td class="td">{{ subFormData.platform }}</td>
        </tr>
        <tr>
          <td class="td header">关联产品</td>
          <td class="td">
            <div v-for="(item,index) in subFormData.product_title" :key="index">{{ item }}</div>
          </td>
        </tr>
        <tr>
          <td class="td header">关联文章</td>
          <td class="td">
            <div v-for="(item,index) in subFormData.article_title" :key="index">{{ item }}</div>
          </td>
        </tr>
      </table>
    </el-dialog>

  </div>
</template>

<script>
import * as therapyApi from '@/api/therapy/therapy'
import * as hotApi from '@/api/therapy/hotinfo'

export default {
  name: 'HotInfo',
  components: { },
  data() {
    return {
      loading: true,
      list: [],
      formData: {
        hot_id: 0,
        pid: 0,
        title: '',
        platform: []
      },
      dialogVisible: false,
      subDialogVisible: false,
      levelOneTitle: '',
      platfromType: [],
      subFormData: {
        hot_id: 0,
        pid: 0,
        title: '',
        platform: [],
        product: [],
        article: []
      },
      productOptions: [],
      articleOptions: [],
      detailVisible: false,
      articleList: []
    }
  },
  created() {
    this.search()
    this.productForSelect()
    this.articleForSelect()
  },
  methods: {
    // 设置选中文章
    onSelectedArticle(val) {
      this.articleList = this.articleOptions.filter((ele) => {
        return val.some(function check(index) { return index === ele.value })
      })
    },

    // 取消选中文章
    delCheckedArticle(articleId) {
      // 删除article中数据
      this.subFormData.article = this.subFormData.article.filter((art) => {
        return articleId !== art
      })

      // 删除li中数据
      this.articleList = this.articleList.filter((art_t) => {
        return articleId !== art_t.value
      })
    },

    search() {
      hotApi.search().then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    productForSelect() {
      therapyApi.products().then(response => {
        this.productOptions = response.data
      }).catch(() => {})
    },

    articleForSelect() {
      therapyApi.articles().then(response => {
        this.articleOptions = response.data
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    submit() {
      hotApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      hotApi.detail({ hot_id: id }).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除该资讯吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        hotApi.deleted({ hot_id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        hot_id: 0,
        pid: 0,
        title: '',
        platform: ['优药', '优佳医']
      }
    },

    subAdd(id) {
      hotApi.detail({ hot_id: id }).then(response => {
        if (response.code === 20000) {
          this.levelOneTitle = response.data.title
          this.platfromType = response.data.platform
          this.subFormData.hot_id = 0
          this.subFormData.pid = response.data.id
          this.subFormData.platform = response.data.platform
          this.subFormData.title = ''
          this.subFormData.product = []
          this.subFormData.article = []
          this.articleList = []
          this.subDialogVisible = true
        }
      }).catch(() => {})
    },

    submitSub() {
      hotApi.subUpdate(this.subFormData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.subDialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    subDetail(id) {
      hotApi.subDetail({ hot_id: id }).then(response => {
        if (response.code === 20000) {
          this.subFormData = response.data
          this.detailVisible = true
        }
      }).catch(() => {})
    },

    detailClose() {
      this.detailVisible = false
    },

    showSubUpdate(id) {
      hotApi.subDetail({ hot_id: id }).then(response => {
        if (response.code === 20000) {
          this.levelOneTitle = response.data.p_title
          this.platfromType = response.data.p_platform
          this.subFormData = response.data
          this.articleList = response.data.article_list
          this.subDialogVisible = true
        }
      }).catch(() => {})
    },

    subDeleted(id) {
      this.$confirm('确认删除该菜单吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        hotApi.subDeleted({ hot_id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    subClose() {
      this.subDialogVisible = false
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .articleList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
