<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="科室">
            <el-select v-model="query.department_id" placeholder="请选择科室">
              <el-option label="全部" value='' />
              <el-option v-for="item in deps" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="分类">
            <el-select v-model="query.type_id" placeholder="请选择分类">
              <el-option label="全部" value='' />
              <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-button v-permission="'morning:share:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'morning:share:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'morning:share:add'" type="primary" class="newbutton" @click="showDiolog">添加图片</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="title" label="标题" align="center" />
      <el-table-column prop="department" label="科室" align="center" />
      <el-table-column prop="type" label="类型" align="center" />
      <el-table-column prop="img" label="图片" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'morning:share:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'morning:share:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="科室"
              prop="department_id"
              :rules="[
                { required: true, message: '请选择科室', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.department_id" placeholder="请选择科室">
                <el-option v-for="item in deps" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="分类"
              prop="type_id"
              :rules="[
                { required: true, message: '请选择分类', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type_id" placeholder="请选择分类">
                <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="图片"
              prop="list_pic"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.list_pic"
                :uploadData="uploadData"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as shareApi from '@/api/morningShare/share'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import { getUploadToken } from '@/api/upload/upload'

export default {
  name: 'SharePic',
  components: { Pagination, ImgUpload },
  data() {
    return {
      types: [],
      deps:[],
      query: {
        title: '',
        department_id: '',
        type_id: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      formData: {
        id: 0,
        title: '',
        department_id: '',
        type_id: '',
        list_pic: []
      },
      dialogVisible: false,
      // 七牛云上传
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: ''
    }
  },
  created() {
    this.getType()
    this.getDep()
    this.search()
  },
  methods: {
    getType() {
      shareApi.getType().then(response => {
        this.types = response.data
      }).catch(() => {})
    },

    getDep() {
      shareApi.getDepartment().then(response => {
        this.deps = response.data
      }).catch(() => {})
    },

    search() {
      shareApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.reset()
      this.getUploadToken()
      this.dialogVisible = true
    },

    submit() {
      shareApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      shareApi.detail({ id: id }).then(response => {
        if (response.code === 20000) {
          this.getUploadToken()
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除该图片吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        shareApi.deleted({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        id: 0,
        title: '',
        department_id: '',
        type_id: '',
        list_pic: []
      }
    },

    queryReset() {
      this.query = {
        title: '',
        department_id: '',
        type_id: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      this.formData.list_pic = data.imgList
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
