<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="24" style="margin-bottom: 16px;">
          <el-button v-permission="'morning:soup:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="id" align="left" />
      <el-table-column prop="content" label="内容" align="left" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'morning:soup:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'morning:soup:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item label="内容">
              <el-input
                v-model="formData.content"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton" style="text-align: center;">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as dreamApi from '@/api/morningDream/dream'
import Pagination from '@/components/Pagination'

export default {
  name: 'MorningDream',
  components: { Pagination },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        content: ''
      },
      query: {
        page: 1,
        page_size: 20
      },
      list: [],
      total: 0,
      dialogVisible: false
    }
  },

  created() {
    this.search()
  },

  methods: {
    search() {
      this.loading = true
      dreamApi.soupList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        content: ''
      }
      this.dialogVisible = false
    },

    detailClose() {
      this.detailVisible = false
    },

    detail(id) {
      dreamApi.soupDetail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      dreamApi.soupUpdate(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      dreamApi.soupDeleted(id).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.subDialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20
      }
    }
  }
}
</script>

<style>
    .el-switch__core:after{
        width: 14px;
        height: 14px;
    }
    .el-switch__core{
        height: 18px;
    }
    .el-select {
        width: 100%;
    }
    .buttonrow {
        margin-top: 10px;
    }
    .newbuttondiv {
        margin-bottom: 20px;
    }
    .newbutton {
        margin-left: 20px;
    }
    .count {
        font-size: 15px;
        color: #304156;
        margin-top: 10px;
    }
    .status {
        font-weight: 600;
    }
    .publishstatus {
        color: #1890ff;
    }
    .outstatus {
        color: #e64242;
    }
    .inlive {
        color: #42b983;
    }
</style>
