<template>
  <div class="app-container">

    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="24" style="margin-bottom: 16px;">
          <el-button v-permission="'morning:dream:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
        <el-col :span="9">
          <el-form-item label="科室">
            <el-select v-model="query.department_id" placeholder="请选择科室">
              <el-option label="全部" value="" />
              <el-option v-for="item in departments" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="分类">
            <el-select v-model="query.type_id" placeholder="请选择分类">
              <el-option label="全部" value="" />
              <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="18">
          <el-form-item label="开始时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="开始时间"
            />
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-button v-permission="'morning:dream:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="title" label="标题" align="left" />
      <el-table-column prop="department_name" label="科室" align="left" />
      <el-table-column prop="type_name" label="类型" align="left" />
      <el-table-column prop="date_time" label="时间" width="180" align="center">
        <template slot-scope="{row}">
          <div v-for="(domain, index) in row.date_time" :key="index">{{ domain }}</div>
        </template>
      </el-table-column>
      <el-table-column prop="content" label="内容" width="180" align="center">
        <template slot-scope="{row}">
          <div v-if="row.content">{{ row.content }}</div>
          <el-image v-else-if="row.content_img" :src="row.content_img" fit="contain" />
          <div v-else />
        </template>
      </el-table-column>

      <el-table-column prop="fab" label="fab" width="180" align="center">
        <template slot-scope="{row}">
          <div v-if="row.fab">{{ row.fab }}</div>
          <el-image v-else-if="row.fab_img" :src="row.fab_img" fit="contain" />
          <div v-else />
        </template>
      </el-table-column>

      <el-table-column prop="source" label="出处" align="left" />
      <el-table-column prop="img" label="海报" width="180" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'morning:dream:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'morning:dream:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="9">
            <el-form-item
              label="科室"
              prop="department_id"
              :rules="[
                { message: '科室', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.department_id" clearable placeholder="请选择科室">
                <el-option v-for="item in departments" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="9">
            <el-form-item
              label="分类"
              prop="type_id"
              :rules="[
                { message: '分类', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type_id" clearable placeholder="请选择分类">
                <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="9">
            <el-form-item
              label="时间"
              prop="date_time"
              :rules="[
                { required: true, message: '时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker v-model="date_time" type="dates" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
            <li v-for="(item,index) in date_time_list" :key="index" class="articleList" style="margin: 10px 0 10px 100px;list-style: none;" @click="delCheckedDate(item,index)">
              <i class="el-icon-circle-close"> {{ item | GMTToStr }}</i>
            </li>
          </el-col>
        </el-row>

        <el-row style="margin-left: 53px; margin-bottom: 10px;">
          <el-col :span="6">
            <el-switch
              v-model="is_content"
              active-text="内容"
              inactive-text="上传图片"
              @change="change_content"
            />
          </el-col>
        </el-row>

        <el-row v-show="is_content">
          <el-col :span="22">
            <el-form-item label="内容">
              <el-input
                v-model="formData.content"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="!is_content">
          <el-col :span="11">
            <el-form-item
              label="图片"
              prop="content_img"
              :rules="[
                {message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.content_img"
                :upload-data="uploadData"
                :sign="sign.content_pic"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImgContent($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row style="margin-left: 53px; margin-bottom: 10px;">
          <el-col :span="6">
            <el-switch
              v-model="is_fab"
              active-text="fab"
              inactive-text="上传图片"
              @change="change_fab"
            />
          </el-col>
        </el-row>

        <el-row v-show="is_fab">
          <el-col :span="22">
            <el-form-item label="FAB">
              <el-input
                v-model="formData.fab"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="!is_fab">
          <el-col :span="11">
            <el-form-item
              label="图片"
              prop="fab_img"
              :rules="[
                {message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.fab_img"
                :upload-data="uploadData"
                :sign="sign.fab_pic"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImgFAB($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="出处">
              <el-input
                v-model="formData.source"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="海报"
              prop="img"
              :rules="[
                {message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.img"
                :upload-data="uploadData"
                :sign="sign.img"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as dreamApi from '@/api/morningDream/dream'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import * as commonApi from '@/api/common/common'

export default {
  name: 'MorningDream',
  components: { Pagination, ImgUpload },
  filters: {
    GMTToStr: function(time) {
      const date = new Date(time)
      const Y = date.getFullYear()
      let M = (date.getMonth() + 1)
      let D = date.getDate()
      if (M < 10) M = 0 + '' + M
      if (D < 10) D = 0 + '' + D
      const str = Y + '-' + M + '-' + D
      return str
    }
  },
  data() {
    return {
      loading: true,
      types: [],
      departments: [],
      formData: {
        id: '',
        title: '',
        fab: '',
        source: '',
        content: '',
        type_id: '',
        department_id: '',
        date_time: '',
        content_img: [],
        fab_img: [],
        img: []
      },
      subFormData: {
        department_id: 0,
        date_time: null,
        title: ''
      },
      query: {
        page: 1,
        page_size: 20,
        date_time_start: '',
        date_time_end: '',
        type_id: '',
        department_id: '',
        start_time: null
      },
      // 七牛云上传
      sign: {
        content_pic: 'content_pic',
        fab_pic: 'fab_pic',
        img: 'img'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      title: '',
      list: [],
      total: 0,
      dialogVisible: false,
      subDialogVisible: false,
      detailVisible: false,
      is_content: true,
      is_fab: true,
      date_time: '',
      // 【格式化 展示】 避免格式化日期 重新赋值给date_time 造成多次触发监听事件 ，保证提交数据不变
      date_time_list: ''
    }
  },
  watch: {
    date_time: function(dt) {
      this.date_time_list = this.formData.date_time = dt
    }
  },

  created() {
    this.getType()
    this.getDepartmen()
    this.search()
    this.getToken()
  },

  methods: {
    // 取消选中日期
    delCheckedDate(item, index) {
      this.date_time_list.splice(index, 1)
    },

    change_content($even) {
      if ($even) {
        this.formData.content_img = []
      } else {
        this.formData.content = ''
      }
    },

    change_fab($even) {
      if ($even) {
        this.formData.fab_img = []
      } else {
        this.formData.fab = ''
      }
    },

    setImgContent(data) {
      this.formData.content_img = data.imgList
    },

    setImgFAB(data) {
      this.formData.fab_img = data.imgList
    },

    setImg(data) {
      this.formData.img = data.imgList
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    // 获取列表
    getList() {
      dreamApi.dreamList(this.query).then(response => {
        this.list = response.data.list
        this.loading = false
      }).catch(() => {})
    },

    getType() {
      dreamApi.getType().then(response => {
        this.types = response.data
      }).catch(() => {})
    },

    getDepartmen() {
      dreamApi.getDepartmen().then(response => {
        this.departments = response.data
      }).catch(() => {})
    },

    handleSelect(item) {
      this.query.p_id = item.id
    },

    search() {
      if (this.query.start_time != null) {
        this.query.date_time_start = this.query.start_time[0]
        this.query.date_time_end = this.query.start_time[1]
      }
      this.loading = true
      dreamApi.dreamList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        title: '',
        fab: '',
        source: '',
        content: '',
        type_id: '',
        department_id: '',
        date_time: '',
        content_img: [],
        fab_img: [],
        img: []
      }
      this.is_content = true
      this.is_fab = true
      this.dialogVisible = false
      this.date_time = ''
    },

    subClose() {
      this.subDialogVisible = false
    },

    detailClose() {
      this.detailVisible = false
    },

    detail(id) {
      dreamApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.date_time = response.data.date_time
          if (response.data.content_img[0]['url']) {
            this.is_content = false
          } else {
            this.formData.content_img = []
          }
          if (response.data.fab_img[0]['url']) {
            this.is_fab = false
          } else {
            this.formData.fab_img = []
          }
          if (!response.data.img[0]['url']) {
            this.formData.img = []
          }
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.content && this.is_content) {
        this.operationMsg('内容或者图片不可同时为空', 'error')
        return false
      }
      if (this.formData.content_img.length < 1 && this.is_content === false) {
        this.operationMsg('内容或者图片不可同时为空', 'error')
        return false
      }

      if (!this.formData.fab && this.is_fab) {
        this.operationMsg('fab或者图片不可同时为空', 'error')
        return false
      }
      if (this.formData.fab_img.length < 1 && this.is_fab === false) {
        this.operationMsg('fab或者图片不可同时为空', 'error')
        return false
      }
      dreamApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      dreamApi.deleted(id).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.subDialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        date_time_start: '',
        date_time_end: '',
        type_id: '',
        department_id: '',
        start_time: null
      }
      this.date_time = ''
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
