<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" style="margin-top:50px" class="query">
      <!-- 头部搜索  -->
      <el-form ref="form" label-width="80px">
        <el-form-item label="上传人:">
          <el-select
            v-model="query.user_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入姓名或手机号"
            :remote-method="searchUsers"
            :loading="loadingUser"
          >
            <el-option
              v-for="item in users"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="话题:">
          <el-select
            v-model="query.topic_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入话题名称"
            :remote-method="searchTopics"
            :loading="loadingTopic"
          >
            <el-option
              v-for="item in topics"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="上传时段:">
          <el-date-picker
            v-model="uploadTime"
            type="datetimerange"
            range-separator="至"
            value-format="yyyy-MM-dd HH:mm:ss"
            @change="uploadTimeChanage"
          />
        </el-form-item>
        <el-form-item label="状态:">
          <el-select v-model="query.status" placeholder="请选择">
            <el-option
              v-for="item in status"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item v-show="!regional_manager ? regional_manager : true" label="大区">
          <el-select v-model="query.area_id" placeholder="请选择大区" filterable clearable @change="changeProvince">
            <el-option label="全部" value="" />
            <el-option v-for="item in area_list" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>

        <el-form-item label="省份">
          <el-select v-model="query.pro_id" placeholder="请选择省份" filterable clearable @change="changeProvince">
            <el-option label="全部" value="" />
            <el-option v-for="item in province_list" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>

        <el-form-item label="城市">
          <el-select v-model="query.city_id" placeholder="请选择城市" filterable clearable @change="changeCity">
            <el-option label="全部" value="" />
            <el-option v-for="item in city_list" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>

        <el-form-item label="连锁">
          <el-select v-model="query.main_store_id" placeholder="请选择连锁" filterable remote clearable :remote-method="changeMainStore">
            <el-option label="全部" value="" />
            <el-option v-for="item in main_store_list" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>

        <el-form-item label="门店">
          <el-select v-model="query.store_id" placeholder="请选择门店" filterable remote clearable :remote-method="searchStores">
            <el-option label="全部" value="" />
            <el-option v-for="item in store_list" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            @click="searchImages"
          >搜&nbsp;&nbsp;索</el-button>
          <el-button
            type="danger"
            @click="resetQuery"
          >重&nbsp;&nbsp;置</el-button>
          <el-button class="filter-item" type="primary" @click="RecordExport()">导出</el-button>
        </el-form-item>

      </el-form>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top:20px;">
      <!-- 中间列表 -->
      <el-table
        v-loading="loading"
        :data="videos"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="id"
          label="ID"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="tpname"
          label="话题名称"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="cover"
          label="图片"
        >
          <template slot-scope="scope">

            <div v-if="scope.row.tp == 1">
              <!-- <el-image :src="scope.row.image" fit="scale-down" lazy></el-image> -->
              <el-image style="width: 100px; height: 100px" :src="scope.row.image[0]" :preview-src-list="scope.row.image" />
            </div>

            <div v-else @click="playVideo(scope.row.upload_id)">
              <el-image :src="getCover(scope.row.image)" fit="scale-down" lazy />
            </div>

          </template>
        </el-table-column>

        <el-table-column
          header-align="center"
          align="center"
          prop="uname"
          label="上传人姓名"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="uphone"
          label="上传人手机号"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="area_name"
          label="大区"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="province_name"
          label="省份"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="city_name"
          label="城市"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="main_store_name"
          label="连锁店"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="store_name"
          label="店铺"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="agent_name"
          label="关联代表姓名"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="created_at"
          label="上传时间"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="审核结果"
        >
          <template slot-scope="scope">
            <el-link v-if="scope.row.state == 1" :underline="false">草稿</el-link>
            <el-link v-if="scope.row.state == 2" type="warning" :underline="false">待审核</el-link>
            <el-link v-if="scope.row.state == 3" type="success" :underline="false">已通过</el-link>
            <el-link v-if="scope.row.state == 4" type="danger" :underline="false">已拒绝</el-link>
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          width="180"
          label="操作"
        >
          <template slot-scope="scope">
            <el-row :gutter="10">
              <el-col
                v-if="scope.row.state == 2"
                v-permission="'pharmacy:record:chekcou'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-popconfirm
                  v-permission="'pharmacy:record:del'"
                  title="你确定要通过该参与记录吗"
                  @confirm="auditSuccess(scope.row.id)"
                >
                  <el-button
                    slot="reference"
                    type="success"
                  >通&nbsp;&nbsp;过</el-button>
                </el-popconfirm>
              </el-col>
              <el-col
                v-if="scope.row.state == 2"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  v-permission="'pharmacy:record:chekcou'"
                  type="danger"
                  @click="preAuditFailed(scope.row.id)"
                >拒&nbsp;&nbsp;绝</el-button>
              </el-col>
              <el-col
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-popconfirm
                  v-permission="'pharmacy:record:del'"
                  title="你确定要删除该参与记录吗"
                  @confirm="delRecord(scope.row.id)"
                >
                  <el-button
                    slot="reference"
                    type="danger"
                  >删&nbsp;&nbsp;除</el-button>
                </el-popconfirm>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top: 20px;">
      <!-- 底部分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :current-page="page.current"
        :page-size="page.size"
        :total="page.total"
        @current-change="changePage"
      />
    </el-col>

    <el-col :span="22" :offset="1">
      <el-dialog title="审核拒绝" :before-close="cancelAuditFailed" :visible.sync="showAuditFalse">
        <el-form>
          <el-form-item label="拒绝原因" label-width="120px">
            <el-input
              v-model="reason"
              type="textarea"
              :rows="2"
              placeholder="请输入拒绝原因"
            />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="cancelAuditFailed">取&nbsp;&nbsp;消</el-button>
          <el-button @click="auditFailed">确&nbsp;&nbsp;定</el-button>
        </div>
      </el-dialog>
    </el-col>

    <el-col :span="22" :offset="1">
      <player
        v-if="showVideo"
        :id="showVideoId"
        :open="showVideo"
        :source="source"
        @close="closeVideo"
      />
    </el-col>

  </el-row>
</template>
<script>

import { mapGetters } from 'vuex'
import { listRecord, delRecord, auditRecord, limitSearch, searchTopic, RecordExport, getProvinceList, getMainStoreList, getCityList, getBranchStoreList } from '@/api/pharmacy/rest'
import Player from '../../topic/player'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  components: { Player },
  data: function() {
    return {
      videos: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      showEdit: false,
      editId: 1,
      loading: false,
      query: {
        user_id: 0,
        topic_id: 0,
        start: '',
        end: '',
        status: 0,
        pro_id: '',
        city_id: '',
        main_store_id: '',
        store_id: '',
        area_id: ''
      },
      auditId: 0,
      reason: '',
      showAuditFalse: false,
      status: [
        { id: 0, name: '全部' },
        { id: 1, name: '待发布' },
        { id: 2, name: '待审核' },
        { id: 3, name: '审核通过' },
        { id: 4, name: '审核拒绝' }
      ],
      users: [{ id: 0, name: '全部' }],
      topics: [{ id: 0, name: '全部' }],
      uploadTime: ['', ''],
      loadingUser: false,
      loadingTopic: false,
      showVideoId: 0,
      showVideo: false,
      source: 'pharmacy',
      main_store_list: [],
      store_list: [],
      province_list: [],
      city_list: [],
      area_list: []
    }
  },

  computed: {
    ...mapGetters([
      'regional_manager'
    ])
  },

  mounted: function() {
    if (this.regional_manager == false) {
      console.log('大区')
      this.provinceListInit(true)
    } else {
      this.provinceListInit(false)
    }

    this.refreshImages(1)
  },

  methods: {
    provinceListInit(is_regional_manager) {
      getProvinceList(is_regional_manager).then(response => {
        this.province_list = response.data
      }).catch(() => {})
    },

    changeProvince(pro_id) {
      this.query.city_id = ''
      this.city_list = []
      this.getCityList(pro_id)
    },

    getCityList(pro_id) {
      getCityList({ pro_id: pro_id }).then(response => {
        this.city_list = response.data
      }).catch(() => {})
    },

    changeCity(city_id) {
      this.query.main_store_id = ''
      this.main_store_list = []
      // this.getMainStoreList(city_id)
    },

    getMainStoreList(main_name) {
      getMainStoreList({ main_name: main_name }).then(response => {
        this.main_store_list = response.data
      }).catch(() => {})
    },

    changeMainStore(main_store_id) {
      // this.query.store_id = ''
      // this.query.main_store_id = main_store_id
      // this.store_list = []
      // this.getStoreList(main_store_id)
      this.getMainStoreList(main_store_id)
    },

    searchStores(vlu) {
      this.getStoreList(vlu)
    },

    getStoreList(branch_name) {
      getBranchStoreList({ branch_name: branch_name }).then(response => {
        this.store_list = response.data
      }).catch(() => {})
    },

    refreshImages(current) {
      this.$data.loading = true
      listRecord(
        { 'up_uid': this.$data.query.user_id,
          'topic_id': this.$data.query.topic_id,
          'start': this.$data.query.start,
          'end': this.$data.query.end,
          'status': this.$data.query.status,
          'current': current,
          'size': this.$data.page.size,
          'pro_id': this.query.pro_id,
          'city_id': this.query.city_id,
          'area_id': this.query.area_id,
          'main_store_id': this.query.main_store_id,
          'store_id': this.query.store_id,
          'regional_manager': this.regional_manager
        }
      ).then(resp => {
        this.$data.loading = false
        this.$data.videos = resp.data.list
        this.$data.area_list = resp.data.areas
        this.$data.page.page = resp.data.page
        this.$data.page.total = resp.data.total
      }).catch((reason) => {
        this.$data.loading = false
      })
    },

    // 删除记录
    delRecord(id) {
      delRecord(id)
        .then(resp => {
          this.operateSuccess('视频删除成功！')
          this.refreshImages(this.$data.page.current)
        })
    },

    // 页码
    changePage(current) {
      this.refreshImages(current)
    },

    getCover(url) {
      if (!url) {
        return ''
      } else {
        return url + '?vframe/jpg/offset/1'
      }
    },

    playVideo(id) {
      this.$data.showVideoId = id
      this.$data.showVideo = true
    },

    closeVideo(id) {
      this.$data.showVideo = false
      this.$data.showVideoId = id
    },

    // 审核通过
    auditSuccess(id) {
      auditRecord(id, '')
        .then(resp => {
          this.refreshImages(this.$data.page.current)
          this.operateSuccess('视频审核操作成功')
        })
    },

    // 审核拒绝
    preAuditFailed(id) {
      this.$data.auditId = id
      this.$data.reason = ''
      this.$data.showAuditFalse = true
    },

    // 确认拒绝审核
    auditFailed() {
      auditRecord(this.$data.auditId, this.$data.reason)
        .then(resp => {
          this.refreshImages(this.$data.page.current)
          this.$data.showAuditFalse = false
          this.$data.auditId = 0
          this.$data.reason = ''
          this.operateSuccess('审核已拒绝！')
        })
    },

    // 取消拒绝审核
    cancelAuditFailed() {
      this.$data.showAuditFalse = false
      this.$data.auditId = 0
      this.$data.reason = ''
    },

    operateSuccess(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },

    // 远程查找上传用户
    searchUsers(cb) {
      limitSearch(cb, 10)
        .then(resp => {
          this.$data.users = resp.data.list
          this.$data.users.unshift({ id: 0, name: '全部' })
        })
    },

    // 远程获取话题
    searchTopics(cb) {
      searchTopic(cb, 10)
        .then(resp => {
          this.$data.topics = resp.data.list
          this.$data.topics.unshift({ id: 0, 'name': '全部' })
        })
    },

    // 设置手动查询上传时段
    uploadTimeChanage(val) {
      if (val && val.length == 2) {
        this.$data.query.start = val[0]
        this.$data.query.end = val[1]
      } else {
        this.$data.query.start = ''
        this.$data.query.end = ''
      }
    },

    // 手动查询
    searchImages() {
      this.refreshImages(1)
    },

    // 重置
    resetQuery() {
      this.$data.query = {
        user_id: 0,
        topic_id: 0,
        start: '',
        end: '',
        status: 0
      }
      this.refreshImages(1)
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    RecordExport() {
      const than = this
      this.query.regional_manager = this.regional_manager
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        RecordExport, this.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        try {
          const enc = new TextDecoder('utf-8')

          const res = JSON.parse(enc.decode(new Uint8Array(response.data))) // 转化成json对象

          if (res.msg) {
            than.operationMsg('没有数据导出')
          }
        } catch (err) {
          const fileName = Date.parse(new Date()) + '.xlsx'
          const link = document.createElement('a')
          const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
          link.style.display = 'none'
          link.href = URL.createObjectURL(blob)
          link.download = fileName
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          URL.revokeObjectURL(link.href)
        }
      }).catch(function(error) {
        console.log('-------------', error)
      })
    }
  }
}
</script>
