<template>
<div>
  <el-table :data="list" border fit highlight-current-row style="width: 100%" v-loading="loading" :row-class-name="tableRowClassName">
    <el-table-column align="center" label="ID" width="65">
      <template slot-scope="scope">
        <span>{{ scope.row.id }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="类型">
      <template slot-scope="scope">
        <span>{{ scope.row.type | typeFilter }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="消费积分">
      <template slot-scope="scope">
        <span>{{ scope.row.money_point }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="服务积分">
      <template slot-scope="scope">
        <span>{{ scope.row.service_point }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="审核状态">
      <template slot-scope="scope">
        <span>{{ scope.row.audit | auditFilter }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="说明" width="200">
      <template slot-scope="scope">
        <span>{{ scope.row.desc }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="创建时间" width="140">
      <template slot-scope="scope">
        <span>{{ scope.row.created_at }}</span>
      </template>
    </el-table-column>
  </el-table>

  <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
</div>
</template>

<script>
import { fetchList } from '@/api/point/detail'
import Pagination from '@/components/Pagination'

const auditOptions = ["未审核", "审核通过", "审核不通过"]
const typeOptions = ["未知", "发放", "使用"]
const typeColorClassMap = ["", "gain-row", "pay-row"]

export default {
  components: { Pagination },
  filters: {
    auditFilter(audit) {
      return auditOptions[audit]
    },
    typeFilter(type) {
        return typeOptions[type]
    }
  },
  props: {
    uid: {
      type: Number,
      default: 0,
      required: true
    },
    isAudit: {
      type: Number,
      default: 0,
      required: true
    },
    utype: {
      default: 1,
      required: true
    }
  },
  data() {
    return {
      list: null,
      total: 0,
      listQuery: {
        page: 1,
        limit: 10,
        uid: this.uid,
        utype: this.utype,
        isAudit: this.isAudit
      },
      loading: false
    }
  },
  watch: {
    uid(val, oldVal) {
      if (val !== oldVal) {
        this.listQuery.uid = val
        this.getList()
      }
    },

    utype(tp, oldtp) {
      if (tp !== oldtp) {
        this.listQuery.utype = tp
        this.getList()
      }
    },
  },

  created() {
    this.getList()
  },

  methods: {
    getList() {
      this.loading = true
      fetchList(this.listQuery).then(res => {
        this.list = res.data.items
        this.total = res.data.total
        this.loading = false
      }).catch(() => {
          this.loading = false
      })
    },
    tableRowClassName({row}) {
        return typeColorClassMap[row.type]
    }
  }
}
</script>
<style>
  .el-table .gain-row {
    color: green;
  }

  .el-table .pay-row {
    color: red;
  }
</style>
