<template>
<div>
  <el-table :data="list" border fit highlight-current-row style="width: 100%" v-loading="loading">
    <el-table-column align="center" label="流程描述">
      <template slot-scope="scope">
        <span>{{ scope.row.operation_desc }}</span>
      </template>
    </el-table-column>
    <el-table-column align="center" label="操作时间">
      <template slot-scope="scope">
        <span>{{ scope.row.created_at }}</span>
      </template>
    </el-table-column>
  </el-table>

  <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
</div>
</template>

<script>
import { ProcessDetailedList } from '@/api/point/trial'
import Pagination from '@/components/Pagination'

export default {
  components: { Pagination },
  props: {
    oid: {
      type: Number,
      default: 0,
      required: true
    }
  },
  data() {
    return {
      list: null,
      total: 0,
      listQuery: {
        page: 1,
        limit: 10,
        oid: this.oid
      },
      loading: false
    }
  },
  watch: {
    oid(val, oldVal) {
      if (val !== oldVal) {
        this.listQuery.oid = val
        this.getList()
      }
    },
  },

  created() {
    this.getList()
  },

  methods: {
    getList() {
      this.loading = true
      ProcessDetailedList(this.listQuery).then(res => {
        console.log(res.data)
        this.list = res.data.list
        this.total = res.data.total
        this.loading = false
      }).catch(() => {
          this.loading = false
      })
    }
  }
}
</script>
<style>
  .el-table .gain-row {
    color: green;
  }

  .el-table .pay-row {
    color: red;
  }
</style>
