<template>
  <div>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">全部</el-menu-item>
      <el-menu-item index="2">发放</el-menu-item>
      <el-menu-item index="3">使用</el-menu-item>
    </el-menu>
    <div class="line" />

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="65">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="日期">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="类型">
        <template slot-scope="scope">
          <span>{{ scope.row.type | typeFilter }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="积分">
        <template slot-scope="scope">
          <span>{{ scope.row.service_point?scope.row.service_point:scope.row.money_point }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="状态">
        <template slot-scope="scope">
          <span>{{ scope.row.status | auditFilter }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="描述">
        <template slot-scope="scope">
          <span>{{ scope.row.desc }}</span>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :pageSizes="[5,10,20,30,50,100]" :limit.sync="listQuery.page_size" style="clear: both;float: inherit;" @pagination="getList" />
  </div>
</template>

<script>
import * as goodsExchange from '@/api/point/goodsExchange'
import Pagination from '@/components/Pagination'

const auditOptions = ['驳回', '申请中', '已到账', '已兑换']
const typeOptions = ['未知', '发放', '使用']
export default {
  components: { Pagination },
  filters: {
    auditFilter(audit) {
      return auditOptions[audit]
    },
    typeFilter(type) {
      return typeOptions[type]
    }
  },
  props: {
    uid: {
      type: Number,
      default: 0,
      required: true
    },
    uidType: {
      type: Number,
      default: 0,
      required: true
    },
    pointType: {
      type: Number,
      default: 1,
      required: true
    }
  },
  data() {
    return {
      list: null,
      total: 0,
      listQuery: {
        page: 1,
        page_size: 5,
        uid: this.uid,
        point_type: this.pointType,
        status: 0,
        uid_type: this.uidType
      },
      loading: false,
      activeIndex: '1'
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true
      goodsExchange.pointDetailed(this.listQuery).then(res => {
        console.log(res.data)
        this.list = res.data.list
        this.total = res.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    handleSelect(key, keyPath) {
      this.listQuery.status = key - 1
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
<style>
  .el-table .gain-row {
    color: green;
  }
.pagination-container[data-v-72233bcd]{
  clear: both;
}
</style>
