<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="选择年">
            <el-date-picker
              v-model="query.year"
              style="width: 100%;"
              type="year"
              placeholder="选择年"
              format="yyyy年"
              value-format="yyyy"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="省份">
            <el-select
              v-model="query.province"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in ProvinceList"
                :key="item.name"
                :label="item.title"
                :value="item.name"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areas"
                :key="item.name"
                :label="item.title"
                :value="item.name"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button v-permission="'morning:ytByProvince:search'" type="primary" @click="autoSearch">搜索</el-button>
          <el-button v-permission="'morning:ytByProvince:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: -20px">
      <el-button v-permission="'morning:ytByProvince:export'" type="primary" @click="exportSign">导出数据</el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
      @sort-change="tableChange"
    >
      <el-table-column prop="province" label="省份" align="center" />
      <el-table-column prop="area" label="大区" align="center" />
      <el-table-column prop="on_join_dt_num" label="应阅读次数" sortable='custom' align="center" />
      <el-table-column prop="reality_count" label="实际阅读次数" sortable='custom' align="center" />
      <el-table-column prop="read_count_rate" label="阅读次数达标率" sortable='custom' align="center" />
      <el-table-column prop="read_time_rate" label="阅读时长达标率" sortable='custom' align="center" />
      <el-table-column prop="ave_read" label="平均阅读时长（秒）" sortable='custom' align="center" />
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as shareApi from '@/api/morningDream/dream'
import * as rankApi from '@/api/live/liveRank'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'ByUser',
  components: { Pagination },
  data() {
    return {
      monthList: rankApi.monthList,
      areas: [],
      ProvinceList: [],
      query: {
        year: '',
        month: [],
        province: [],
        area: [],
        page: 1,
        page_size: 20,
        type: 2,
        export: 2,
        order: 'descending',
        column: 'on_join_dt_num',
        source: 2
      },
      loading: false,
      list: [],
      total: 0
    }
  },
  created() {
    this.getYear()
    this.getProvince()
    this.getArea()
    this.search()
  },
  methods: {
    // 排序
    tableChange(column) {
      this.query.order = column.order
      this.query.column = column.prop
      this.search()
    },

    getArea() {
      shareApi.getArea().then(response => {
        this.areas = response.data
      }).catch(() => {})
    },

    getYear() {
      var date = new Date()
      this.query.year = date.getFullYear().toString()
    },

    getProvince() {
      shareApi.getProvince().then(response => {
        if (response.code === 20000) {
          this.ProvinceList = response.data
        }
      }).catch(() => {})
    },

    search() {
      this.loading = true
      shareApi.rank(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    autoSearch() {
      this.query.page = 1
      this.search()
    },

    sortChange(column) {
      this.query.page = 1 // 排序后返回第一页
      this.query.sort = column.order
      this.query.field = column.prop
      this.search()
    },

    exportSign() {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        shareApi.rankExport,
        this.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    queryReset() {
      this.query = {
        year: '',
        month: [],
        province: [],
        area: [],
        page: 1,
        page_size: 20,
        type: 2,
        export: 2,
        order: 'descending',
        column: 'on_join_dt_num'
      }
      this.getYear()
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
