<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="选择年">
            <el-date-picker v-model="query.year" type="year" placeholder="选择年" style="width: 100%;" />
          </el-form-item>
        </el-col>

        <el-col :span="20">
          <el-form-item label="选择月">
            <el-select
              v-model="query.month"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in monthList"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="1">
          <el-button v-permission="'yt:statis:search'" type="primary" @click="getTweetList">搜索</el-button>
        </el-col>

        <el-col :span="1">
            <el-button v-permission="'yt:statis:export'" style="margin-left: 20px;" @click="twtExport()">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border @sort-change='tableChange'  :default-sort = "{prop: 'date', order: 'descending'}" style="width: 100%">
      <el-table-column prop="title" label="标题"  align="center"/>
      <el-table-column prop="type" label="类型"  align="center"/>
      <el-table-column prop="push_date" label="推送日期"  sortable='custom' align="center"/>
      <el-table-column prop="int_page_read_count" label="阅读数" sortable='custom' align="center"/>
      <el-table-column prop="share_count" label="转发数" sortable='custom' align="center"/>
      <!-- <el-table-column prop="fraction_one" label="新增关注人数" width="120" align="center"/> -->
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getTweetList" />

  <div style="margin-top:20px; clear:both" v-show="EchartBool">
    <el-row>
      <el-card>
          <div id="main1" class="pie-class"></div>
      </el-card>
    </el-row>
  </div>

  </div>
</template>

<script>
// import TweetEcharts from './components/TweetEcharts.vue'
import Pagination from '@/components/Pagination'
import * as examApi from '@/api/ytStatistic/tweet';
import * as summaryApi from '@/api/live/liveSummary'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import * as echarts from 'echarts'
export default {
  name: 'Tweet',
  components: { Pagination },
  data() {
    return {
      EchartBool: false,
      types: [],
      query: {
        year: '',
        month: [],
        page: 1,
        page_size: 20,
        s: '',
        column: ''
      },
      monthList: summaryApi.monthList,
      // loading控制
      loading: true,
      // 列表数据
      list: [],

      myChartData: {},
      // 列表数量
      total: 0,
      dateX: [],
      read_count: [],
      share_count: []
    }
  },
  created() {
    this.getTweetList()
  },
  methods: {
    // 排序
    tableChange(column){
      console.log(column.prop)
      this.query.s = column.order
      this.query.column = column.prop
      this.getTweetList()
    },
    getTweetList() {
      examApi.tweet_list(this.query.year,this.query.month,this.query.page ,this.query.page_size, this.query.s, this.query.column).then(response => {
        this.list = response.data.list 
        this.myChartData = response.data.echartsList
        this.total = response.data.total
        let dx = new Array()
        let read_count = new Array()
        let share_count = new Array()
        // X 轴
        for(let k in response.data.echartsList.flist){
            dx.push(response.data.echartsList.flist[k])
        }
        for(let k in response.data.echartsList.read_count){
            // dx.push(k)
            read_count.push(response.data.echartsList.read_count[k])
        }
         for(let k in response.data.echartsList.share_count){
            share_count.push(response.data.echartsList.share_count[k])
        }
        this.echart(dx, read_count, share_count)

        if(response.data.list.length > 0){
          this.EchartBool = true;
        }else{
          this.EchartBool = false;
        }
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    twtExport() {
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        examApi.tw_exp,
        {
         year: this.query.year,
         month: this.query.month,
         sort: this.query.s,
         column: this.query.column
        },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    echart(dateX,read_count,share_count){
      console.log(dateX)
       // 3.基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main1'));

    // 4.指定图表的配置项和数据
    var option1 = {
      title: {
        text: '推文数据'
      },
      tooltip: {},
      legend: {
        data: ['阅读数','转发数']
      },
      xAxis: {
        data: dateX, // x 轴日期
        axisLabel: {
            interval: 0,
            formatter: function(params) {
              var newParamsName = "";
              var paramsNameNumber = params.length;
              // 设置一行显示多少字
              var provideNumber = 6;
              var rowNumber = Math.ceil(paramsNameNumber / provideNumber);
              if (paramsNameNumber > provideNumber) {
                for (var p = 0; p < rowNumber; p++) {
                  var tempStr = "";
                  var start = p * provideNumber;
                  var end = start + provideNumber;
                  if (p == rowNumber - 1) {
                    tempStr = params.substring(start, paramsNameNumber);
                  } else {
                    tempStr = params.substring(start, end) + "\n";
                  }
                  newParamsName += tempStr;
                }
              } else {
                newParamsName = params;
              }
              return newParamsName
            }
          }
      },
      yAxis: {},
      series: [{
        name: '阅读数',
        type: 'line',
        label: {
          normal: {
            show: true,
            position:'top',
            formatter: '{c}'//百分比显示，模板变量有 {a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。{d}数据会根据value值计算百分比
          }
        },
        data: read_count // 实际数量
      },{
        name: '转发数',
        type: 'line',
        label: {
          normal: {
            show: true,
            position:'top',
            formatter: '{c}',
          }
        },
        data: share_count
      }
      // ,{
      //   name: '新增关注数',
      //   type: 'line',
      //   label: {
      //     normal: {
      //       show: true,
      //       position:'top',
      //       formatter: '{c}'
      //     }
      //   },
      //   data: [8, 2, 9, 18, 10, 68]
      // }
      ]
    }
    // 5.使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);
    }
  }
}
</script>

<style>
.pie-class {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
