<template #wrapper>
  <el-card class="box-card">
    <el-form :inline="true">
      <!-- <el-form-item label="菜单名称">
        <el-input
          v-model="queryParams.title"
          placeholder="请输入菜单名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="queryParams.status" placeholder="菜单状态" clearable size="small">
          <el-option
            v-for="(item, index) in statusOptions"
            :key="index"
            :label="item"
            :value="index"
          />
        </el-select>
      </el-form-item> -->
      <el-form-item>
        <!-- <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button> -->
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
        >新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      ref="dragTable"
      v-loading="loading"
      :data="KnowledgeList"
      row-key="id"
      highlight-current-row
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <!-- <el-table-column prop="title" label="菜单名称" :show-overflow-tooltip="true" width="180px" /> -->
      <el-table-column label="菜单名称" align="center" :show-overflow-tooltip="true" width="180">
        <template slot-scope="scope">
          	<i class="el-icon-folder" v-if="scope.row.type == 1"></i>
            <i class="el-icon-tickets" v-if="scope.row.type == 2"></i>
            <span> {{ scope.row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="sort" label="排序" width="100px" />
      <el-table-column label="创建时间" align="center" prop="created_at" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="280">
        <template slot-scope="scope">
          <el-button
            v-permission="'knowledge:dir:edit'"
            size="mini"
            type="primary"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改</el-button>
          <el-button
            v-permission="'knowledge:dir:add'"
            size="mini"
            type="primary"
            icon="el-icon-plus"
            @click="handleAdd(scope.row)"
            v-show="scope.row.type == 1"
          >新增</el-button>
          <el-button
            v-permission="'knowledge:dir:add'"
            size="mini"
            type="primary"
            icon="el-icon-user"
            @click="KnowledgePermission(scope.row)"
            v-show="scope.row.type == 1"
          >权限</el-button>
          <el-button
            v-permission="'knowledge:dir:del'"
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 添加或修改菜单对话框 -->
    <el-dialog :title="title" :visible.sync="dialogVisible" width="660px">
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="上级目录">
              <treeselect
                v-model="form.pid"
                :options="KnowledgeOptions"
                :normalizer="normalizer"
                :show-count="true"
                no-results-text="未找到结果..."
                placeholder="选择上级目录"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="标题" prop="title">
              <el-input v-model="form.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="显示排序" prop="sort">
              <el-input-number v-model="form.sort" controls-position="right" :min="0" />
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="类型" prop="type">
              <el-radio-group v-model="form.type" @change="TypeChange">
                <el-radio :label="1">文件夹</el-radio>
                <el-radio :label="2">文件</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item v-if="form.type != 3" label="菜单状态">
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="(item, index) in statusOptions"
                  :key="index"
                  :label="index"
                >{{ item }}</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>


         <el-col :span="24" v-show="form.type==2">
            <el-form-item label="文档类型">
              <el-radio-group v-model="form.file_type">
                <el-radio
                  v-for="(item, index) in fileTypes"
                  :key="index"
                  :label="index"
                >{{ item }}</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="24" v-show="form.type==2">
            <el-form-item label="简介" prop="introduce">
              <el-input :rows="4" type="textarea" v-model="form.introduce" placeholder="请输入" />
            </el-form-item>
          </el-col>

          <el-col :span="24" v-show="form.type==2 && form.file_type==1">
            <el-form-item label="视频总时长（分钟）" prop="video_total_time">
              <el-input v-model="form.video_total_time" placeholder="请输入" />
            </el-form-item>
          </el-col> 

          <el-col :span="24" v-show="form.type==2 && form.file_type==1">
            <el-form-item label="视频通过时长（分钟）" prop="video_pass_time">
              <el-input v-model="form.video_pass_time" placeholder="请输入" />
            </el-form-item>
          </el-col> 

          <el-col :span="12" v-show="form.type==2">
            <el-form-item label="CDN资源地址" prop="file_address">
              <el-input v-model="form.file_address" placeholder="请输入" />
            </el-form-item>
          </el-col> 

        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
      
    <permission-assignment
      :poserDialog="poserDialog"
      :did="did"
      :select_val="select_val"
      :pro_checkeds="pro_checkeds"
      :pord="pord"
      :dept="dept"
      :company_name="company_name"
      :permission-data="permissionData"
      @poserDialogVisibleClose="poserDialogVisibleClose"
    ></permission-assignment>
  </el-card>
</template>

<script>
import { listKnowledge, getKnowledgeDt, delKnowledge, addKnowledge, updateKnowledge, getDepartmentsUsersDetail } from '@/api/knowledge/knowledge'
import PermissionAssignment from '@/components/Knowledge/PermissionAssignment';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

// 菜单状态数据字典
const statusOptions = ['隐藏', '显示']
const fileTypes = ['文档', '视频']

const defaultKnowledge = {
  id: undefined,
  pid: 0,
  type: 1,
  sort: 0,
  status: 1,
  file_type: 1,
  introduce: '',
  file_address: '',
  is_dir: 1,
  video_pass_time: '',
  video_total_time: ''
}

export default {
  name: 'CompanyKnowledge',
  components: { Treeselect, PermissionAssignment },
  filters: {
      statusFilter(status) {
      return statusOptions[status]
    }
  },
  data() {
    return {
      fileTypes,
      statusOptions,
      // loading
      loading: false,
      // 菜单表格树数据
      KnowledgeList: [],
      // 路由列表
      routes: [],
      // 菜单树选项
      KnowledgeOptions: [],
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      dialogVisible: false,
      // 查询参数
      queryParams: {
        title: undefined,
        status: undefined
      },
      // 表单参数
      form: Object.assign({}, defaultKnowledge),
      // 表单校验
      rules: {
        title: [
          { required: true, message: '菜单标题不能为空', trigger: 'blur' }
        ],
        sort: [
          { required: true, message: '菜单顺序不能为空', trigger: 'blur' }
        ]
      },
        poserDialog: false,
        permissionData: [],
        did: 0,
        select_val: [],
        pro_checkeds: [],
        pord: false,
        dept: false,
        company_name: ''
    }
  },
  created() {
    this.getList()
  },
  methods: {
    // 类型切换
    TypeChange(file_status){
      if (this.form.is_dir == 1 && file_status == 2) {
        console.log(file_status)
         this.form.type = 1
         this.msgError('当前不可修改目录 该目录下存在多个文件！')
         return false
      }
    },
    // 权限分配
    KnowledgePermission(row){
      this.getDepartmentsUsersDetail(row.id)
    },

    getDepartmentsUsersDetail(id) {

      this.loading = true
      getDepartmentsUsersDetail(id).then(res => {
          this.loading = false
          console.log(res.data)
          this.select_val = res.data.select_val 
          this.pro_checkeds = res.data.pro_checkeds
          this.pord = res.data.pord
          this.dept = res.data.dept
          console.log(this.select_val)

          this.poserDialog = true
          this.did = id
      })
    },

    poserDialogVisibleClose(){
      this.poserDialog = false
    },
    // 查询菜单列表
    getList() {
      this.loading = true
      listKnowledge(this.queryParams).then(res => {
        this.KnowledgeList = res.data.data
        this.company_name = res.data.company_name
        this.loading = false
      })
    },
    // 转换菜单数据结构
    normalizer(node) {
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.id,
        label: node.title,
        children: node.children
      }
    },
    // 查询菜单下拉树结构
    getTreeselect() {
      listKnowledge().then(res => {
        this.KnowledgeOptions = []
        const Knowledge = { id: 0, title: '主类目', children: [] }
        Knowledge.children = res.data.data
        this.KnowledgeOptions.push(Knowledge)
      })
    },
 
    // 取消按钮
    cancel() {
      this.dialogVisible = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = Object.assign({}, defaultKnowledge)
      this.form.is_dir = 0
      this.resetForm('form')
    },
    // 搜索
    handleQuery() {
      this.getList()
    },
    // 新增
    handleAdd(row) {
      this.reset()
      this.getTreeselect()
      if (row != null) {
        this.form.pid = row.id
      }
      this.dialogVisible = true
      this.title = '添加'
    },
    // 编辑
    handleUpdate(row) {
      this.reset()
      this.getTreeselect()
      getKnowledgeDt(row.id).then(res => {
        this.form = res.data

            console.log(213)
        console.log(res.data)
        this.dialogVisible = true
        this.title = '修改'
      })
    },
    // 提交
    submitForm: function() {
      if(!this.form.pid && this.form.type == 2){
          this.msgError('请选择文件夹')
          this.dialogVisible = false
          return false
      }

      if(this.form.type == 2 && this.form.file_type == 1){
          if(!this.form.video_pass_time || !this.form.video_total_time) {
            this.msgError('视频必须填写总时长和通过时间')
            // this.dialogVisible = false
            return false
          }
      }
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            console.log(this.form)
            updateKnowledge(this.form).then(res => {
              this.msgSuccess('修改成功')
              this.dialogVisible = false
              this.getList()
            })
          } else {
              console.log(this.form)
            addKnowledge(this.form).then(res => {
              this.msgSuccess('新增成功')
              this.dialogVisible = false
              this.getList()
            })
          }
        }
      })
    },

    // 删除
    handleDelete(row) {
      this.$confirm('是否确认删除名称为"' + row.title + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function() {
        return delKnowledge({'id':row.id})
      }).then(() => {
        this.getList()
        this.msgSuccess('删除成功')
      }).catch(function() {})
    }
  }
}
</script>
