<template #wrapper>
  <el-card class="box-card">
    <el-form :inline="true">
      <!-- <el-form-item label="菜单名称">
        <el-input
          v-model="queryParams.title"
          placeholder="请输入菜单名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="queryParams.status" placeholder="菜单状态" clearable size="small">
          <el-option
            v-for="(item, index) in statusOptions"
            :key="index"
            :label="item"
            :value="index"
          />
        </el-select>
      </el-form-item> -->
      <el-form-item>
        <!-- <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button> -->
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
        >新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      ref="dragTable"
      v-loading="loading"
      :data="KnowledgeList"
      row-key="id"
      highlight-current-row
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <!-- <el-table-column prop="title" label="菜单名称" :show-overflow-tooltip="true" width="180px" /> -->
      <el-table-column label="菜单名称" align="center" :show-overflow-tooltip="true" width="180">
        <template slot-scope="scope">
          	<i class="el-icon-folder" v-if="scope.row.type == 1"></i>
            <i class="el-icon-tickets" v-if="scope.row.type == 2"></i>
            <span> {{ scope.row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="sort" label="排序" width="100px" />
      <el-table-column label="创建时间" align="center" prop="created_at" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="280">
        <template slot-scope="scope">
          <el-button
            v-permission="'knowledge:dir:edit'"
            size="mini"
            type="primary"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改</el-button>
          <el-button
            v-permission="'knowledge:dir:add'"
            size="mini"
            type="primary"
            icon="el-icon-plus"
            @click="handleAdd(scope.row)"
          >新增</el-button>
          <el-button
            v-permission="'knowledge:dir:add'"
            size="mini"
            type="primary"
            icon="el-icon-user"
            @click="KnowledgePermission(scope.row)"
          >权限</el-button>
          <el-button
            v-permission="'knowledge:dir:del'"
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 添加或修改菜单对话框 -->
    <el-dialog :title="title" :visible.sync="dialogVisible" width="660px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="上级目录">
              <treeselect
                v-model="form.pid"
                :options="KnowledgeOptions"
                :normalizer="normalizer"
                :show-count="true"
                placeholder="选择上级目录"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="标题" prop="title">
              <el-input v-model="form.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="显示排序" prop="sort">
              <el-input-number v-model="form.sort" controls-position="right" :min="0" />
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="类型" prop="type">
              <el-radio-group v-model="form.type">
                <el-radio :label="1">文件夹</el-radio>
                <el-radio :label="2">文件</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item v-if="form.type != 3" label="菜单状态">
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="(item, index) in statusOptions"
                  :key="index"
                  :label="index"
                >{{ item }}</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
      
    <permission-assignment
      :poserDialog="poserDialog"
      :permission-data="permissionData"
      @poserDialogVisibleClose="poserDialogVisibleClose"
    ></permission-assignment>
  </el-card>
    
</template>

<script>
import { listKnowledge, getKnowledgeDt, delKnowledge, addKnowledge, updateKnowledge } from '@/api/knowledge/knowledge'
import PermissionAssignment from '@/components/Knowledge/PermissionAssignment';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

// 菜单状态数据字典
const statusOptions = ['隐藏', '显示']

const defaultKnowledge = {
  id: undefined,
  pid: 0,
  type: 1,
  sort: 0,
  status: 1
}

export default {
  name: 'CompanyKnowledge',
  components: { Treeselect, PermissionAssignment },
  filters: {
      statusFilter(status) {
      return statusOptions[status]
    }
  },
  data() {
    return {
      statusOptions,
      // loading
      loading: false,
      // 菜单表格树数据
      KnowledgeList: [],
      // 路由列表
      routes: [],
      // 菜单树选项
      KnowledgeOptions: [],
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      dialogVisible: false,
      // 查询参数
      queryParams: {
        title: undefined,
        status: undefined
      },
      // 表单参数
      form: Object.assign({}, defaultKnowledge),
      // 表单校验
      rules: {
        title: [
          { required: true, message: '菜单标题不能为空', trigger: 'blur' }
        ],
        sort: [
          { required: true, message: '菜单顺序不能为空', trigger: 'blur' }
        ]
      },
        poserDialog: false,
        permissionData: []
    }
  },
  created() {
    this.getList()
  },
  methods: {
    // 权限分配
    KnowledgePermission(row){
      console.log(row)
      this.poserDialog = true
    },
    poserDialogVisibleClose(){
      this.poserDialog = false
    },
    // 查询菜单列表
    getList() {
      this.loading = true
      listKnowledge(this.queryParams).then(res => {
        this.KnowledgeList = res.data
        this.loading = false
      })
    },
    // 转换菜单数据结构
    normalizer(node) {
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.id,
        label: node.title,
        children: node.children
      }
    },
    // 查询菜单下拉树结构
    getTreeselect() {
      listKnowledge().then(res => {
        this.KnowledgeOptions = []
        const Knowledge = { id: 0, title: '主类目', children: [] }
        Knowledge.children = res.data
        this.KnowledgeOptions.push(Knowledge)
      })
    },
 
    // 取消按钮
    cancel() {
      this.dialogVisible = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = Object.assign({}, defaultKnowledge)
      this.resetForm('form')
    },
    // 搜索
    handleQuery() {
      this.getList()
    },
    // 新增
    handleAdd(row) {
      this.reset()
      this.getTreeselect()
      if (row != null) {
        this.form.pid = row.id
      }
      this.dialogVisible = true
      this.title = '添加'
    },
    // 编辑
    handleUpdate(row) {
      this.reset()
      this.getTreeselect()
      getKnowledgeDt(row.id).then(res => {
        this.form = res.data
        this.dialogVisible = true
        this.title = '修改'
      })
    },
    // 提交
    submitForm: function() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            console.log(this.form)
            updateKnowledge(this.form).then(res => {
              this.msgSuccess('修改成功')
              this.dialogVisible = false
              this.getList()
            })
          } else {
              console.log(this.form)
            addKnowledge(this.form).then(res => {
              this.msgSuccess('新增成功')
              this.dialogVisible = false
              this.getList()
            })
          }
        }
      })
    },
    // 删除
    handleDelete(row) {
      this.$confirm('是否确认删除名称为"' + row.title + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function() {
        return delKnowledge(row.id)
      }).then(() => {
        this.getList()
        this.msgSuccess('删除成功')
      }).catch(function() {})
    }
  }
}
</script>
