<template>
    <el-row :gutter="10">
          <el-col :span="22" :offset="1" style="margin-top:50px" class="query">
            <el-form ref="form" label-width="80px" inline>
                    <el-form-item label="提问人:">
                         <el-select
                            v-model="query.user_id"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入姓名或手机号"
                            :remote-method="searchUsers"
                            :loading="loadingUser">
                                <el-option
                                v-for="item in users"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                                </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="query.keywords" placeholder="请输入问题进行搜索"></el-input> 
                    </el-form-item>
                    <el-form-item label="回答数量:">
                         <el-input-number v-model="query.total" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item>
                         <el-button 
                         type="primary" 
                         @click="searchConsults"
                         >搜&nbsp;&nbsp;索</el-button>
                         <el-button 
                         type="danger" 
                         @click="resetQuery"
                         >重&nbsp;&nbsp;置</el-button>
                         <el-button 
                         type="success"
                         @click="exportConsultsExcel"
                         v-permission="'otc:consult:export'"
                         >导&nbsp;&nbsp;出</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top:20px;">
               <!-- 中间列表 -->
               <el-table
                    v-loading="loading"
                    :data="getConsultList"
                    border
                    stripe
                    @sort-change="customSort"
                    :header-cell-class-name="handleHeaderClass"
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="id"
                         label="ID"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="name"
                         label="用户" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="mobile"
                         label="手机号" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="content"
                         label="咨询问题">
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="total"
                         sortable="custom"
                         label="回答数量" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         sortable="custom"
                         prop="created_at"
                         label="提问时间" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         sortable="custom"
                         prop="last_reply_time"
                         label="最近回答时间" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         width="180"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-row :gutter="10">
                                   <el-col :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        v-permission="'otc:consult:reply'"
                                        >
                                        <el-button 
                                        type="primary"
                                        @click="preReply(scope.row.id)"
                                        >回&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答</el-button>
                                   </el-col>
                                   <el-col :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        v-if="scope.row.is_sticky == 0"
                                        v-permission="'otc:consult:sticky'"
                                        >
                                        <el-button 
                                        type="primary"
                                        
                                        @click="sticky(scope.row.id)"
                                        >置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;顶</el-button>
                                   </el-col>
                                   <el-col :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        v-if="scope.row.is_sticky == 1"
                                        v-permission="'otc:consult:sticky:cancel'"
                                        >
                                        <el-button 
                                        type="primary"
                                        @click="cancelSticky(scope.row.id)"
                                        >取消置顶</el-button>
                                   </el-col>
                                   <el-col 
                                        :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;"
                                        >
                                        <el-popconfirm
                                        title="你确定要删除该咨询吗"
                                        @confirm="delConsult(scope.row.id)"
                                        v-permission="'otc:consult:del'"
                                        >
                                             <el-button 
                                             slot="reference"
                                             type="danger">删&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除</el-button>
                                        </el-popconfirm>
                                   </el-col>
                                   <el-col 
                                        :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;"
                                        v-permission="'otc:consult:detail'"
                                        >
                                        <el-button 
                                        @click="$router.push({name: 'ConsultReply', query: {id: scope.row.id}})"
                                        type="info">详&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;情</el-button>
                                   </el-col>
                              </el-row>
                              
                              
                              
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top: 20px;">
            <!-- 底部分页 -->
               <el-pagination
                    background
                    layout="prev, pager, next"
                    :current-page="page.current"
                    :page-size="page.size"
                    :total="page.total"
                    @current-change="changePage"
                    >
               </el-pagination>
          </el-col>
          <el-col :span="22" :offset="1">
               <edit-reply
               v-if="showReply"
               :id="replyId"
               :open="showReply"
               @success="replyOk"
               @close="closeReply"
               >
               </edit-reply>
          </el-col>
    </el-row>
</template>
<script>
import { listConsults, stickyConsult, cancelSticky, delConsult, exportConsult } from '@/api/consult/consult'
import EditReply from './reply_consult'
import { limitSearch } from '@/api/lfmini/users'
import moment from 'moment'
export default {
    components: {EditReply},
    data: function() {
        return {
            consults: [],
            page: {
                total: 0,
                pages: 0,
                current: 1,
                size: 10
            },
            query: {
               user_id: 0,
               keywords: "",
               total: 0,
               sort_total: 0,
               sort_reply: 0,
               sort_create: 0
            },
            showEdit: false,
            editId: 1,
            active: 1,
            inactive: 0,
            loading: false,
            replyId: 0,
            showReply: false,
            loadingUser: false,
            users: [{id: 0, name: "全部"}],

        }
    },
    mounted: function() {
        this.refreshConsults(1)
    },
    methods: {
          resetQuery() {
               this.$data.query = {
                    user_id: 0,
                    keywords: "",
                    total: 0,
                    sort_total: 0,
                    sort_reply: 0,
                    sort_create: 0
               }
          },
          searchConsults() {
               this.refreshConsults(1)
          },
         refreshConsults(current) {
          this.$data.loading = true
          listConsults(
               this.$data.query.user_id,
               this.$data.query.keywords,
               this.$data.query.total,
               this.$data.query.sort_total,
               this.$data.query.sort_create,
               this.$data.query.sort_reply,
               current,
               this.$data.page.size
          ).then(resp => {
               this.$data.consults = resp.data.list
               this.$data.page = resp.data.page
               this.$data.loading = false
          }).catch(reason => {
               this.$data.loading = false
          })
         },
        operateSuccess(msg) {
          this.$notify({
               title: '操作成功',
               message: msg,
               type: 'success'
               })
        },
        operateFail(msg) {
          this.$notify({
               title: '操作失败',
               message: msg,
               type: 'error'
               })
        },
        changePage(current) {
          this.refreshConsults(current)
        },
        preReply(id) {
          this.$data.replyId = id
          this.$data.showReply = true
        },
        sticky(id) {
          stickyConsult(id)
               .then(resp => {
                    let idx = this.$data.consults.findIndex(elem => elem.id == id)
                    if(idx != -1) {
                         let item = this.$data.consults[idx]
                         item.is_sticky = 1
                         this.$set(this.$data.consults, idx, item)
                    }
                    this.operateSuccess("置顶操作成功")
               })
        },
        cancelSticky(id) {
          cancelSticky(id)
           .then(resp => {
               let idx = this.$data.consults.findIndex(elem => elem.id == id)
               if (idx != -1) {
                    let item = this.$data.consults[idx]
                    item.is_sticky = 0
                    this.$set(this.$data.consults, idx, item)
               }
               this.operateSuccess("取消置顶操作成功")
           })
        },
        delConsult(id) {
          delConsult(id)
           .then(resp => {
              this.operateSuccess("问题删除成功")
              this.refreshConsults(this.$data.page.current)
           })
        },
        replyOk() {
          this.$data.showReply = false
          this.$data.editId = 0
          this.refreshConsults(this.$data.page.current)
        },
        closeReply() {
          this.$data.showReply = false
          this.$data.replyId = 0
        },
        searchUsers(cb) {
          limitSearch(cb, 10)
               .then(resp => {
                    this.$data.users = resp.data.list
                    this.$data.users.unshift({id: 0, name: "全部"})
               })
        },
        exportConsultsExcel() {
          exportConsult(
               this.$data.query.user_id,
               this.$data.query.keywords,
               this.$data.query.total
          ).then(resp => {
               this.operateSuccess("导出任务已投递")
          })
        },
        customSort({column, prop, order}) {
          let orderValue = 0
          if(order == 'ascending') {
               orderValue = 1
          } else if(order == 'descending') {
               orderValue = -1
          }
          switch(prop) {
               case 'created_at':
                    this.$data.query.sort_create = orderValue
                    break
               case 'last_reply_time':
                    this.$data.query.sort_reply = orderValue
                    break
               case 'total':
                    this.$data.query.sort_total = orderValue
          }
          this.refreshConsults(1)
        },
          handleHeaderClass({ column }) {
               let getOrder = function(order) {
                    switch(order) {
                         case 1:
                              return "ascending"
                         case -1:
                              return "descending"
                         default:
                              return null
                    }
               }
               switch(column.property) {
                    case 'created_at':
                         column.order = getOrder(this.$data.query.sort_create)
                         break
                    case 'total':
                         column.order = getOrder(this.$data.query.sort_total)
                         break
                    case 'last_reply_time':
                         column.order = getOrder(this.$data.query.sort_reply)
                         break
               }
          },
          formatDate(date) {
               return moment(date).format("YYYY/MM/DD HH:mm:ss")
          },
     
    },
    computed: {
     getConsultList() {
          return this.$data.consults.map(function(val){
               let format = function(date) {
                    return moment(date).format("YYYY/MM/DD HH:mm:ss")
               }
               return {
                    id: val.id,
                    content: val.content,
                    created_at: format(val.created_at),
                    is_sticky: val.is_sticky,
                    last_reply_time: val.last_reply_time != '--' ? format(val.last_reply_time) : '--',
                    mobile: val.mobile,
                    name: val.name,
                    total: val.total
               }
          });
     }
    }
}
</script>
