<template>
    <el-dialog :visible="open" :before-close="close" title="回复">
         <el-form>
            <el-form-item>
                <el-input
                type="textarea"
                :rows="2"
                placeholder="请输入回复内容"
                v-model="reply"
                ></el-input>
            </el-form-item>
         </el-form>
         <div slot="footer" class="dialog-footer">
            <el-button @click="close">取&nbsp;&nbsp;消</el-button>
            <el-button type="primary" @click="save">确&nbsp;&nbsp;定</el-button>
         </div>
    </el-dialog>
</template>
<script>
import { reply } from '@/api/consult/consult'
import { editReply } from '@/api/consult/reply'
export default {
    name: "ConsultReply",
    props: ["id", "reply_id", "open", "content"],
    data: function() {
        return {
            reply: ""
        }
    },
    mounted: function() {
        if(this.reply_id != undefined && this.reply_id > 0) {
            //编辑
            this.$data.reply = this.content
        }
    },
    methods: {
        close() {
            this.$emit("close")
        },
        save() {
            if(this.reply_id > 0) {
                editReply(this.reply_id, this.$data.reply)
                    .then(resp => {
                        this.$emit("success", {
                            id: this.reply_id,
                            content: this.$data.reply
                        })
                    })
            } else {
                reply(this.id, this.$data.reply)
                    .then(resp => {
                        this.$emit("success", {
                            id: resp.data.id,
                            content: this.$data.reply
                        })
                    })
            }
        }
    }
}
</script>