<template>
    <el-row :gutter="10">
          <el-col :span="22" :offset="1" style="margin-top:50px">
            <div class="titleHeader">咨询详情</div>
            <el-descriptions direction="vertical" :column="6" class="rely" style="margin-left:10px;">
                <el-descriptions-item label="ID">{{ consult.id }}</el-descriptions-item>
                <el-descriptions-item label="用户">{{ consult.name }}</el-descriptions-item>
                <el-descriptions-item label="手机号">{{ consult.mobile }}</el-descriptions-item>
                <el-descriptions-item label="回答数量">{{ consult.total }}</el-descriptions-item>
                <el-descriptions-item label="提问时间">{{ consult.created_at }}</el-descriptions-item>
                <el-descriptions-item label="最近回答时间">{{ consult.last_answer_time }}</el-descriptions-item>
            </el-descriptions>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top:30px;">
            <div class="content">{{ consult.content }}</div>
          </el-col>
          <el-col v-for="(item, idx) in replies" :key="idx" :span="22" :offset="1" style="margin-top:0px; margin-bottom:5px;">
            <el-col :span="2"  style="font-size:16px; color: #5a5757;text-align:right;">
                回答{{ idx + 1 }}
            </el-col>
            <el-col :span="21">
                <el-col :span="24" style="margin-bottom:10px;"><span style="font-size:14px; color:#797777;">{{ item.reply }}</span></el-col>
                <el-col :span="24">
                    <span style="margin-right:10px;font-size:14px; color:#cccccc;">{{ formatDate(item.created_at) }} </span>
                    <el-button
                    v-permission="'otc:consult:reply:edit'" 
                    @click="preEditReply(item.id)" type="default" size="mini" style="color:orange;border-color:orange;">编&nbsp;辑</el-button>
                    <el-popconfirm
                        title="你确定要删除该回复吗"
                        @confirm="deleteReply(item.id)"
                        v-permission="'otc:consult:reply:del'"
                        >
                            <el-button 
                            type="default" size="mini" style="color:red;border-color:red;"
                            slot="reference"
                            >删&nbsp;除</el-button>
                    </el-popconfirm>
                </el-col>
            </el-col>
            <el-col :span="24">
                <el-divider style="margin-top:1px;"></el-divider>
            </el-col>
            
          </el-col>
          <el-col :span="22" :offset="1">
            <el-pagination
                    v-if="page.total > 0"
                    background
                    layout="prev, pager, next"
                    :current-page="page.current"
                    :page-size="page.size"
                    :total="page.total"
                    @current-change="changePage"
                    >
               </el-pagination>
          </el-col>
          <el-col :span="6" :offset="18" style="margin-bottom:40px;">
            <el-button type="primary" @click="preReply" v-permission="'otc:consult:reply'">回&nbsp;&nbsp;答</el-button>
            <el-button type="warning" v-permission="'otc:consult:sticky'" v-if="consult.is_sticky == 0" @click="sticky">置&nbsp;&nbsp;顶</el-button>
            <el-button type="danger" v-permission="'otc:consult:del'" @click="delConsult">删&nbsp;&nbsp;除</el-button>
          </el-col>
          <el-col :span="22" :offset="1">
            <edit-reply
             v-if="showReply"
               :id="id"
               :open="showReply"
               :reply_id="replyId"
               :content="replyContent"
               @success="replyOk"
               @close="closeReply"
            ></edit-reply>
          </el-col>
    </el-row>
</template>

<script>
import { detail, listReplies, delConsult, stickyConsult } from '@/api/consult/consult'
import { delReply } from '@/api/consult/reply'
import EditReply from './reply_consult'
import moment from 'moment'
export default {
    components: { EditReply },
    data: function() {
        return {
            id: 0,
            consult: {
                id: 0,
                name: "",
                mobile: "",
                total: 0,
                created_at: "",
                last_answer_time: "--",
                content: "",
                is_ticky: 0
            },
            page: {
                total: 0,
                pages: 0,
                current: 1,
                size: 10
            },
            replies: [],
            showReply: false,
            replyId: 0,
            replyContent: ""
        }
    },
    mounted: function() {
        const consultId = this.$route.query.id
        if (consultId > 0) {
            this.$data.id = consultId
            this.getConsultInfo(consultId)
            this.listReply(consultId, 1)
        }
    },
    methods: {
        getConsultInfo(id) {
            detail(id)
                .then(resp => {
                    this.$data.consult = resp.data.info
                })
        },
        listReply(id, current) {
            listReplies(id, current, this.$data.page.size)
                .then(resp => {
                    this.$data.replies = resp.data.list
                    this.$data.page = resp.data.page
                })
        },
        changePage(current) {
            this.listReply(this.$data.id, current)
        },
        preReply() {
            this.$data.replyId = 0
            this.$data.content = ""
            this.$data.showReply = true
        },
        sticky() {
            stickyConsult(this.$data.id)
                .then(resp => {
                    this.operateSuccess("问题置顶成功")
                })
        },
        operateSuccess(msg) {
          this.$notify({
               title: '操作成功',
               message: msg,
               type: 'success'
               })
        },
        delConsult() {
            delConsult(this.$data.id)
                .then(resp => {
                    this.operateSuccess("问题已经删除成功")
                    //路由重定向
                    this.$router.back()
                })
        },
        closeReply() {
            this.$data.showReply = false
        },
        replyOk(data) {
            this.getConsultInfo(this.id)
            this.listReply(this.id, 1)
            this.$data.showReply = false
        },
        preEditReply(id) {
            let item = this.$data.replies.find(elem => elem.id == id)
            if(item != undefined) {
                this.$data.replyId = item.id
                this.$data.replyContent = item.reply
            } else {
                this.$data.replyId = 0
                this.$data.replyContent = ""
            }
            this.$data.showReply = true
            
        },
        deleteReply(id) {
            delReply(id)
                .then(resp => {
                    this.operateSuccess("回复已删除")
                    this.getConsultInfo(this.$data.id)
                    this.listReply(this.$data.page.current)
                })
        },
        formatDate(date) {
               return moment(date).format("YYYY/MM/DD HH:mm:ss")
          },
    }
}
</script>

<style scoped>
.content {
    color: "#cccccc"
}

div.el-descriptions__title {
    width:100% !important;
}

.titleHeader {
    padding-top:10px;
    padding-bottom:10px; 
    padding-left:5px;
    background-color:#D8E1EE;
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.content {
    padding-top:10px;
    padding-bottom:10px; 
    padding-left:5px;
    background-color:#D8E1EE;
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
}
</style>