<template>
  <div class="app-container">
    <el-row :gutter="10" class="top">
      <el-col :span="22" :offset="2">
        <el-form ref="form" inline label-width="120px">
          <el-form-item label="商品名称：">
            <el-input v-model="query.keywords" placeholder="请输入商品名" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="search">搜&nbsp;&nbsp;索</el-button>
            <el-button type="success" @click="showAddPointGoods">添&nbsp;&nbsp;加</el-button>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="22" :offset="2">
        <el-table
          :data="getGoods"
          border
          style="width: 100%"
          :loading="loadingGoods"
        >
          <el-table-column
            header-align="center"
            align="center"
            prop="id"
            label="商品ID"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="name"
            label="商品名"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="user"
            label="兑换人群"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="type"
            label="商品类型"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="time"
            label="有效时间"
          >
            <template slot-scope="scope">
              {{ scope.row.start }}<br>
              ~<br>
              {{ scope.row.end }}
            </template>
          </el-table-column>
          <el-table-column
            header-align="center"
            align="center"
            prop="point"
            label="积分消耗"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="exchange"
            label="兑换情况(已兑换/总可兑换)"
          />
          <el-table-column
            header-align="center"
            align="center"
            prop="status"
            label="上架情况"
          />
          <el-table-column
            header-align="center"
            align="center"
            label="操作"
          >
            <template slot-scope="scope">
              <el-col
                v-if="scope.row.is_edit"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button type="primary" @click="preEdit(scope.row.id)">编&nbsp;&nbsp;辑</el-button>
              </el-col>
              <el-col
                v-if="!scope.row.is_enabled"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button type="primary" @click="changeStatus(scope.row.id, true)">上&nbsp;&nbsp;线</el-button>
              </el-col>
              <el-col
                v-if="scope.row.is_enabled"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button type="danger" @click="changeStatus(scope.row.id, false)">下&nbsp;&nbsp;线</el-button>
              </el-col>
              <el-col
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-popconfirm
                  v-permission="'otc:consult:del'"
                  title="你确定要删除该商品吗"
                  @confirm="delGoods(scope.row.id)"
                >
                  <el-button
                    slot="reference"
                    type="danger"
                  >删&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除</el-button>
                </el-popconfirm>
              </el-col>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="22" :offset="2" class="page">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page="page.current"
          :total="page.total"
          @current-change="getPageData"
          @prev-click="getPageData(page.current -1)"
          @next-click="getPageData(page.current + 1)"
        />
      </el-col>
      <el-col :span="22" :offset="2">
        <operate-goods
          v-if="operate.show"
          :id="operate.id"
          :show.sync="operate.show"
          @success="operateSuccess"
          @close="closeOperate"
        />
      </el-col>
    </el-row>
  </div>
</template>
<script>
import { listGoods, delGoods, enableGoods, disableGoods } from '@/api/pharmacy/point_goods'
import OperateGoods from './operate_goods'
export default {
  components: {
    OperateGoods
  },
  data: function() {
    return {
      query: {
        keywords: ''
      },
      goods: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      type: 0,
      typeList: [
        { id: 1, name: '现金券' },
        { id: 2, name: '实物' },
        { id: 3, name: '优惠券' },
        { id: 4, name: '虚拟物品' }
      ],
      operate: {
        show: false,
        id: 0
      },
      loadingGoods: false
    }
  },
  computed: {
    getGoods() {
      return this.$data.goods.map(function(val) {
        const pointType = val.point_type == 1 ? '消费积分：' : '服务积分：'
        const totalDesc = val.total == 0 ? '无限' : val.total
        let type = ''
        switch (val.goods_type) {
          case 1:
            type = '现金券'
            break
          case 2:
            type = '实物'
            break
          case 3:
            type = '优惠券'
            break
          case 4:
            type = '虚拟物品'
            break
          default:
            type = '其它'
            break
        }
        return {
          id: val.id,
          name: val.name,
          type: type,
          user: val.exchange_user_type == 1 ? '患者' : '店员',
          start: val.start,
          end: val.end == 'null' ? '无限' : val.end,
          point: pointType + val.point,
          exchange: val.exchanged + '/' + totalDesc,
          status: val.status == 1 ? '已上架' : '未上架',
          is_edit: val.status == 0,
          is_enabled: val.status == 1
        }
      })
    }
  }, mounted: function() {
    this.refreshGoods(1)
  },
  methods: {
    refreshGoods(current) {
      this.$data.loadingGoods = true
      listGoods(
        this.$data.query.keywords,
        current,
        this.$data.page.size
      ).then(resp => {
        this.$data.page = resp.data.page
        this.$data.goods = resp.data.list
        this.$data.loadingGoods = false
      }).catch((reason) => {
        this.$data.loadingGoods = false
      })
    },
    getPageData(current) {
      console.log(current)
      this.refreshGoods(current)
    },
    search() {
      this.refreshGoods(1)
    },

    getType(typeId) {
      let type = ''
      switch (typeId) {
        case 1:
          type = '现金券'
          break
        case 2:
          type = '实物'
          break
        case 3:
          type = '优惠券'
          break
        case 4:
          type = '虚拟物品'
          break
        default:
          type = '其它'
          break
      }
      return type
    },
    delGoods(id) {
      delGoods(id)
        .then(() => {
          this.refreshGoods(this.$data.page.current)
        })
    },
    changeStatus(id, isEnabled = true) {
      if (isEnabled) {
        enableGoods(id)
          .then(() => {
            const idx = this.$data.goods.findIndex(elem => elem.id == id)
            if (idx != -1) {
              this.$data.goods[idx].status = 1
            }
          })
      } else {
        disableGoods(id)
          .then(() => {
            const idx = this.$data.goods.findIndex(elem => elem.id == id)
            if (idx != -1) {
              this.$data.goods[idx].status = 0
            }
          })
      }
    },
    showAddPointGoods() {
      this.$data.operate = {
        id: 0,
        show: true
      }
    },
    preEdit(id) {
      this.$data.operate = {
        id: id,
        show: true
      }
    },
    operateSuccess() {
      const newPage = this.$data.operate.id > 0 ? this.$data.page.current : 1
      this.$data.operate.show = false
      this.$data.operate.id = 0
      this.refreshGoods(newPage)
    },
    closeOperate() {
      this.$data.operate.show = false
      this.$data.operate.id = 0
    }
  }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}

.page {
     margin-top: 25px;
}
</style>
