<template>
<el-dialog title="商品管理" :visible.sync="show" :before-close="close">
  <el-form ref="goodsForm"  :model="info" :rules="rules">
    <el-form-item label="商品名称" :label-width="formLabelWidth" prop="name">
      <el-input v-model="info.name" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="服务积分" :label-width="formLabelWidth" prop="service_point">
      <el-input-number label="服务积分" v-model="info.service_point" :precision="2" :step="0.1"></el-input-number>
    </el-form-item>
    <el-form-item label="消费积分" :label-width="formLabelWidth" prop="money_point">
      <el-input-number label="消费积分" v-model="info.money_point" :precision="2" :step="0.1"></el-input-number>
    </el-form-item>
    <el-form-item label="积分活动" :label-width="formLabelWidth">
        <point-group-selector :disabled="disableGroups" />
      </el-form-item>
      <el-form-item label="商品数量" :label-width="formLabelWidth">
      <el-input-number v-model="info.total"></el-input-number>
    </el-form-item>
    <el-form-item label="开始时间" :label-width="formLabelWidth" prop="start">
      <el-date-picker
        v-model="getStart"
        type="datetime"
        value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
    </el-form-item>
    <el-form-item label="结束时间" :label-width="formLabelWidth">
      <el-date-picker
        v-model="getEnd"
        type="datetime"
        value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
    </el-form-item>
    <el-form-item label="应用人群" :label-width="formLabelWidth">
        <el-radio-group v-model="info.exchange_user_type">
            <el-radio :label="1">患者</el-radio>
            <el-radio :label="2">店员</el-radio>
        </el-radio-group>
    </el-form-item>
    <el-form-item label="商品类型" :label-width="formLabelWidth" prop="goods_type">
      <el-select :disabled="id>0" v-model="info.goods_type" placeholder="请选择商品类型">
        <el-option v-for="(item, key) in typeList" :key="key"  :label="item.name" :value="item.id"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item v-if="info.goods_type == 1" label="现金金额" :label-width="formLabelWidth" prop="money">
        <el-input-number v-model="info.money" :precision="2" :step="0.1"></el-input-number>
    </el-form-item>
    <el-form-item v-if="info.goods_type == 3" label="优惠券" :label-width="formLabelWidth" prop="external_goods_id">
        <el-select
            v-model="info.external_goods_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入优惠券标题"
            :remote-method="searchCoupon"
            :loading="loadingCoupon">
                <el-option
                v-for="item in coupon"
                :key="item.id"
                :label="item.name"
                :value="item.id">
                </el-option>
        </el-select>
    </el-form-item>
    <el-form-item label="商品封面" :label-width="formLabelWidth" prop="cover_id">
        <upload-file
            :type="upload.type"
            :business="upload.business"
            :uploadList.sync="imgList"
            :showList="true"
            :limit="1"
            :delIdWhiteList="originCoverList"
            listType="picture-card"
            @uploadFail="uploadCoverFail"
            @uploadSuccess="uploadCoverSuccess"
            @deleteFile="deleteCover">
        </upload-file>
    </el-form-item>
    <el-form-item label="商品描述" :label-width="formLabelWidth" prop="desc">
        <el-input
            type="textarea"
            :rows="4"
            placeholder="请输入内容"
            v-model="info.desc">
            </el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="close">取 消</el-button>
    <el-button type="primary" @click="confirm">确 定</el-button>
  </div>
</el-dialog>
</template>
<script>
import { infoGoods, addGoods, editGoods, searchValidCoupon } from '@/api/pharmacy/point_goods'
import UploadFile from '@/components/Upload'
import PointGroupSelector from '@/components/PointGroupSelector'
import { mapActions, mapGetters } from 'vuex'
export default {
    name: "OperateGoods",
    props: ["id", "show"],
    components: {
        UploadFile,
        PointGroupSelector
    },
    data: function() {
        const validateMoney = (rule, value, callback) => {
            if(this.$data.info.goods_type == 1 && value <= 0) {
                return callback(new Error("现金券兑换金额必须大于0"))
            } else {
                return callback()
            }
        }
        const validateServicePoint = (rule, value, callback) => {
            if(value > 0) {
                if(this.$data.info.money_point > 0) {
                    return callback(new Error("目前单个商品仅支持配置一种积分"))
                }
            }
            return callback()
        }

        const validateMoneyPoint = (rule, value, callback) => {
            if(value > 0) {
                if(this.$data.info.service_point > 0) {
                    return callback(new Error("目前单个商品仅支持配置单一品种积分"))
                }
                if(this.$data.info.exchange_user_type == 1) {
                    return callback(new Error("目前患者不支持消费积分商品"))
                }
            }
            return callback()
        }

        const validateCoupon = (rule, value, callback) => {
            if(this.$data.goods_type == 3) {
                if(!value) {
                    return callback(new Error("该商品必须关联优惠券"))
                }
                if(value <= 0) {
                    return callback(new Error("该商品必须关联优惠券"))
                }
            }
            return callback()
        }

    return {
      info: {
        id: 0,
        name: '',
        service_point: 0,
        money_point: 0,
        cover_id: 0,
        external_goods_id: 0,
        start: '',
        end: '',
        money: 0.00,
        total: 0,
        exchange_user_type: 1,
        status: 0,
        cover: '',
        goods_type: 1,
        desc: '',
        group_id: 0
      },
      coupon: [],
      imgList: [],
      formLabelWidth: '80',
      typeList: [
        { id: 1, name: '现金券' },
        { id: 2, name: '实物' },
        { id: 3, name: '优惠券' },
        { id: 4, name: '虚拟物品' }
      ],
      upload: {
        type: 1,
        business: 'pharmacypointgoods'
      },
      originCoverList: [],
      rules: {
        name: [
          { required: true, message: '商品名不能为空', trigger: 'blur' }
        ],
        service_point: [
          { required: true, message: '服务积分不能为空', trigger: 'blur' },
          { validator: validateServicePoint, trigger: 'blur' },
          { validator: validateServicePoint, trigger: 'change' }
        ],
        money_point: [
          { required: true, message: '消费积分不能为空', trigger: 'blur' },
          { validator: validateMoneyPoint, trigger: 'blur' },
          { validator: validateMoneyPoint, trigger: 'change' }
        ],
        start: [
          { required: true, message: '开始时间不能为空', trigger: 'blur' },
          { required: true, message: '开始时间不能为空', trigger: 'change' }
        ],
        exchange_user_type: [
          { required: true, message: '应用人群不能为空', trigger: 'blur' }
        ],
        money: [
          { validator: validateMoney, trigger: 'blur' },
          { validator: validateMoney, trigger: 'change' }
        ],
        cover_id: [
          { required: true, message: '商品封面不能为空', trigger: 'blur' },
          { required: true, message: '商品封面不能为空', trigger: 'change' }
        ],
        desc: [
          { required: true, message: '商品描述不能为空', trigger: 'blur' }
        ],
        external_goods_id: [
          { validator: validateCoupon, trigger: 'blur' },
          { validator: validateCoupon, trigger: 'change' }
        ]
      },
      loadingCoupon: false,
      disableGroups: false
    }
  },

  computed: {
    ...mapGetters({
      'getPointGroupId': 'pointGroup/getDefaultId'
    }),
    getStart: {
      get() {
        return this.$data.info.start
      },
      set(val) {
        this.$data.info.start = val
      }
    },
    getEnd: {
      get() {
        return this.$data.info.end
      },
      set(val) {
        this.$data.info.end = val
      }
    }
  },

  mounted: function() {
    if (this.id > 0) {
      this.getGoodsInfo(this.id)
    } else {
      this.initialize({
        platform: 6,
        select: 0
      })
    }
  },
  methods: {
    ...mapActions('pointGroup', [
      'initialize'
    ]),
    getGoodsInfo(id) {
      infoGoods(id)
        .then(resp => {
          const i = resp.data.info
          // 填充产品信息
          this.$data.info.id = id
          this.$data.info.name = i.name
          this.$data.info.service_point = i.service_point
          this.$data.info.money_point = i.money_point
          this.$data.info.cover_id = i.cover_id
          this.$data.info.external_goods_id = i.external_goods_id
          this.$data.info.start = i.start
          this.$data.info.end = i.end
          this.$data.info.money = i.money
          this.$data.info.total = i.total
          this.$data.info.exchange_user_type = i.exchange_user_type
          this.$data.info.status = i.status
          this.$data.info.img = i.cover
          this.$data.info.goods_type = i.goods_type
          this.$data.info.desc = i.desc
          // 填充封面
          this.$data.imgList = [{ id: i.cover_id, url: i.cover }]

          // 填充优惠券
          if (i.goods_type == 3) {
            this.$data.coupon = [{ id: i.external_goods_id, name: i.coupon }]
          }

          // 初始化积分活动选择
          this.initialize({
            platform: 6, // PointPlatform::PLATFORM_PHARMACY
            select: i.group_id
          })
          if (i.group_id > 0) {
            this.$data.disableGroups = true
          }
        })
    },
    uploadCoverSuccess(data) {
      console.log(data)
      this.$data.info.cover_id = data.id
      this.$data.info.cover = data.url
    },
    uploadCoverFail(err) {
      console.log(err)
    },
    deleteCover() {
      this.$data.imgList = []
    },
    close() {
      this.$emit('close')
    },
    confirm() {
      const pointGroupId = this.getPointGroupId
      this.$data.info.group_id = pointGroupId
      this.$refs['goodsForm'].validate(valid => {
        if (valid) {
          if (this.id > 0) {
            editGoods(
              this.id,
              this.$data.info.name,
              this.$data.info.start,
              this.$data.info.cover_id,
              this.$data.info.exchange_user_type,
              this.$data.info.status,
              this.$data.info.desc,
              this.$data.info.money_point,
              this.$data.info.service_point,
              this.$data.info.total,
              this.$data.info.end,
              this.$data.info.money,
              this.$data.info.external_goods_id,
              this.$data.info.group_id
            ).then(resp => {
              this.$emit('success')
            })
          } else {
            addGoods(
              this.$data.info.name,
              this.$data.info.start,
              this.$data.info.cover_id,
              this.$data.info.exchange_user_type,
              this.$data.info.goods_type,
              this.$data.info.status,
              this.$data.info.desc,
              this.$data.info.money_point,
              this.$data.info.service_point,
              this.$data.info.total,
              this.$data.info.end,
              this.$data.info.money,
              this.$data.info.external_goods_id,
              this.$data.info.group_id
            ).then(resp => {
              console.log('商品添加添加成功')
              this.$emit('success')
            })
          }
        }
      })
    },
    searchCoupon(cb) {
      this.$data.loadingCoupon = true
      searchValidCoupon(cb, 5)
        .then(resp => {
          this.$data.coupon = resp.data.list
          this.$data.loadingCoupon = false
        }).catch(() => {
          this.$data.loadingCoupon = false
        })
    }
  }
}
</script>
