<template>
  <div class="app-container">
    <el-form :inline="true" class="demo-form-inline">
      <el-row>
        <el-form-item label="导入类型">
          <el-select v-model="query.type_id" placeholder="请选择导入类型">
            <el-option v-for="item in typeList" :key="item.id" :label="item.title" :value="item.id" />
          </el-select>
        </el-form-item>
      </el-row>

      <el-form-item label="所属公司">
        <el-autocomplete
          class="inline-input"
          v-model="companyName"
          :fetch-suggestions="querySearch"
          placeholder="请输入所属公司名称"
          @select="handleSelect"
        ></el-autocomplete>
      </el-form-item>

      <el-form-item label="执行时间">
        <el-date-picker
          v-model="ex_time"
          type="datetime"
          placeholder="选择日期时间"
          format="yyyy-MM-dd HH:mm">
        </el-date-picker>
      </el-form-item>
    </el-form>

    <el-row v-if="query.type_id==4">
      <el-col class="switch" :span="6">相同医院和药品是否允许多个代表</el-col>
      <el-col :span="4">
        <el-switch
          v-model="allowRepeatable"
          inactive-text="否"
          active-text="是"
        ></el-switch>
      </el-col>
    </el-row>

    <el-row v-if="query.type_id==4" style="margin-top: 10px;">
      <el-col class="switch" :span="6">导入前是否要导出医生信息</el-col>
      <el-col :span="4">
        <el-switch
          v-model="downloadBeforeImport"
          inactive-text="否"
          active-text="是"
        ></el-switch>
      </el-col>
    </el-row>

    <el-upload
      class="upload-demo"
      ref="upload"
      action="#"
      :auto-upload="true"
      :on-error="uploadError"
      :before-upload="beforeUploadForm"
      :http-request="importUpload">
      <el-button slot="trigger" size="small" type="primary" v-permission="'import:importAll:upload'">点击上传</el-button>
    </el-upload>

    <el-progress
      v-show="progressShow"
      :text-inside="true"
      :stroke-width="24"
      :percentage="progressPercent"
      status="success"
    ></el-progress>

    <i v-show="loading" class="el-icon-loading loadingIcon"></i>

    <el-alert
      class="alertText"
      v-for="(item, index) in alertText"
      :title="item"
      :key="index"
      :type="alertType"
      show-icon
      v-show="alertShow">
    </el-alert>

    <el-button style="margin-top: 30px;cursor: pointer;" type="text" @click="getMissionList">刷新</el-button>
    <el-table :data="missionList" stripe border style="width: 100%;">
      <el-table-column prop="id" label="任务ID" width="60" align="center"></el-table-column>
      <el-table-column prop="type_title" label="任务类型" align="center"></el-table-column>
      <el-table-column prop="company" label="对象公司" align="center"></el-table-column>
      <el-table-column prop="execute_time" label="执行时间" align="center"></el-table-column>
      <el-table-column prop="doctor_export" label="是否导出医生" align="center" v-if="query.type_id==4">
        <template slot-scope="{row}">
          <template v-if="row.doctor_export==1">是</template>
          <template v-if="row.doctor_export==0">否</template>
        </template>
      </el-table-column>
      <el-table-column prop="execute_map" label="缓存文件名" align="center"></el-table-column>
      <el-table-column prop="execute_count" label="表格数据量" align="center"></el-table-column>
      <el-table-column prop="complete_state" label="完成状态" align="center">
        <template slot-scope="{row}">
          <div
            :class="{ publishstatus:row.complete_state==0, complatestatus:row.complete_state==1, doing:row.complete_state==2, fail:row.complete_state==3 }"
          >
            <template v-if="row.complete_state==0">未开始</template>
            <template v-if="row.complete_state==1">已完成</template>
            <template v-if="row.complete_state==2">进行中</template>
            <template v-if="row.complete_state==3">失败了</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="task_comment" label="错误备注" align="center">
        <template slot-scope="{row}">
          <el-button v-if="query.type_id==4&&row.complete_state==0" type="primary" size="mini" @click="checkReps(row.id)">校验</el-button>
          <el-button size="mini" @click="showErr(row)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="complete_count" label="处理数据量" align="center"></el-table-column>
      <el-table-column prop="admin" label="创建人" align="center"></el-table-column>
      <el-table-column prop="created_at" label="创建时间" align="center"></el-table-column>
      <!-- <el-table-column prop="complete_state" label="是否有效" align="center">
        <template slot-scope="{row}">
          <div
            :class="{ publishstatus:row.status==1, outstatus:row.status==2 }"
          >
            <template v-if="row.status==1">有效</template>
            <template v-if="row.status==2">无效</template>
          </div>
        </template>
      </el-table-column> -->
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getMissionList" />

    <el-dialog
      title="错误备注"
      :visible.sync="dialogVisible"
      width="30%">
      <span>{{ missionErr }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import * as importApi from '@/api/import/import'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'

export default {
  name: 'ImportAll',
  components: { Pagination },
  data() {
    return {
      query: {
        type_id: '',
        page: 1,
        page_size: 20
      },
      typeList: [],
      companyYyid: '',  //公司yyid
      companyName: '',  //公司名称
      companyList: [],  //公司名称列表
      ex_time: '',  //定时时间
      loading: false,   //loading
      alertShow: false,  //提示显示
      alertText: [],    //提示内容
      alertType: 'error',  //提示样式
      progressShow: false, //进度条显示
      progressPercent: 0,  //进度条百分比
      missionList: [],
      total: 0,
      count: 0,
      allowRepeatable: true,
      downloadBeforeImport: false,
      dialogVisible: false,
      missionErr: ''
    }
  },
  created() {

  },
  mounted() {
    this.getImportType()
    this.getCompany()
  },
  watch: {
    'query.type_id'(newVal, oldVal) {
      this.getMissionList()
    }
  },
  methods: {
    getImportType() {
      importApi.getImportType().then(response => {
        if (response.code==20000) {
          this.typeList = response.data
        }
      }).catch(() => {})
    },

    getCompany() {
      importApi.getCompany().then(response => {
        if (response.code==20000) {
          this.companyList = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.companyList;
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },

    handleSelect(item) {
      this.companyYyid = item.yyid
    },

    beforeUploadForm (file) {
      this.loading = false
      this.alertText = []
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0

      var extName = file.name.substring(file.name.lastIndexOf('.')+1)
      if (extName!='xls' && extName!='xlsx' && extName!='csv') {
        this.alertText = ["上传文件只能是 xls、xlsx或csv格式"]
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < importApi.fileSize;
      if (!isLt1M) {
        this.alertText = ["上传文件大小不能超过 "+importApi.fileSize+"MB"]
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      if (this.type_id=='') {
        this.alertText = ["请先选择导入类型"]
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      if (this.companyYyid=='') {
        this.alertText = ["请先选择公司"]
        this.alertType = 'error'
        this.alertShow = true
        return false
      }
    },

    importUpload(file) {
      var that = this
      that.loading = true
      that.progressShow = true
      that.fileName = ''
      var t = setInterval(function(){
        if(that.progressPercent==90){
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300);

      let fd = new FormData()
      fd.append('file', file.file)
      fd.append('companyYyid', this.companyYyid)
      fd.append('type', this.query.type_id)
      fd.append('e_time', this.ex_time)
      fd.append('allowRepeatable', this.allowRepeatable)
      fd.append('downloadBeforeImport', this.downloadBeforeImport)

      axios.defaults.headers.common["Authorization"] = getToken()
      axios.post(importApi.importAll, fd).then(function (response) {
        setTimeout(function(){
          if(response.data.code==20000) {
              that.progressPercent = 100
              if (response.data.data.task_id == -1) {
                that.alertText = response.data.data.msg
                that.alertType = 'error'
              } else {
                that.alertText = that.alertText = ['导入任务已生成，ID为' + response.data.data.task_id]
                that.alertType = 'success'
              }
          } else {
            that.alertText = [response.data.msg]
            that.alertType = 'error'
          }
          that.loading = false
          that.alertShow = true
          that.getMissionList()
        }, 3000)
      })
    },

    uploadError(err, file, fileList) {
      this.alertType = 'error'
      this.alertText = ['上传失败']
    },

    getMissionList() {
      var that = this
      axios.defaults.headers.common["Authorization"] = getToken()
      axios.post(importApi.getImportTask, this.query).then(function (response) {
        if(response.data.code==20000) {
          that.missionList = response.data.data.list
          that.total = response.data.data.total
        }
      }).catch(function (error) {
        console.log(error);
      })
    },

    showErr(row) {
      this.dialogVisible = true
      this.missionErr = row.task_comment
    },

    checkReps(id) {
      importApi.checkReps({ id: id }).then(response => {
        if (response.code==20000) {
          this.operationMsg('校验已通过！', 'success')
          this.getMissionList()
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }

  }
}
</script>


<style scoped>
.tips {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding-top: 10px;
}
.el-upload__tip {
  margin-left: 0!important;
}
.alertText {
  margin-top: 15px;
}
.loadingIcon{
  margin-top: 15px;
}
.inline-input{
  width: 300px;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
.publishstatus {
  color: #1890ff;
}
.outstatus {
  color: #e64242;
}
.complatestatus {
  color: darkseagreen;
}
.doing {
  color: #e64242;
}
.fail {
  color: red;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
</style>
