<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="所属公司">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="companyName"
              :fetch-suggestions="querySearch"
              placeholder="请输入所属公司名称"
              @select="handleSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="姓名">
            <el-input v-model="query.staff_name" placeholder="请输入代表姓名"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="手机号">
            <el-input v-model="query.phone_number" placeholder="请输入代表手机号"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="工号">
            <el-input v-model="query.staff_code" placeholder="请输入代表工号"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="14">
          <el-form-item label="注册时间">
            <el-date-picker
              style="width: 100%;"
              v-model="sign_date"
              placeholder="注册时间"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-button type="primary" @click="onSubmit" v-permission="'agent:list:search'">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset" v-permission="'agent:list:reset'">重置</el-button>
          <el-button type="primary" style="margin-left: 20px;" @click="agentExport" v-permission="'agent:list:agentExport'">结果导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="staff_code" label="工号" align="center"></el-table-column>
      <el-table-column prop="name" label="姓名" align="center"></el-table-column>
      <el-table-column prop="mobile_num" label="手机号" align="center"></el-table-column>
      <el-table-column prop="c_time" label="注册时间" align="center"></el-table-column>
      <el-table-column prop="wechat" label="微信昵称" align="center"></el-table-column>
      <el-table-column prop="company_name" label="公司" align="center"></el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as importApi from '@/api/import/import'
import * as agentApi from '@/api/agent/agent'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'

export default {
  name: 'AgentList',
  components: { Pagination },
  data() {
    return {
      companyName: '',  //公司名称
      companyList: [],  //公司名称列表
      sign_date: null, //注册时间
      // 搜索条件
      query: {
        company_yyid: '', //公司yyid
        phone_number: '',
        staff_code: '',
        staff_name: '',
        sign_start_time: '',
        sign_end_time: '',
        page: 1,
        page_size: 20,
      },
      //loading控制
      loading: true,
      // 列表数据
      list: [],
      //列表数量
      total: 0,
    }
  },
  created() {
    this.getCompany()
    this.search()
  },
  methods: {
    getCompany() {
      importApi.getCompany().then(response => {
        if (response.code==20000) {
          this.companyList = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.companyList;
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },

    handleSelect(item) {
      this.query.company_yyid = item.yyid
    },

    search() {
      if(this.sign_date!=null) {
        this.query.sign_start_time = this.sign_date[0]
        this.query.sign_end_time = this.sign_date[1]
      }
      agentApi.search(this.query).then(response => {
        this.list = response.data.data
        this.total = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
      this.companyName = ''
      this.sign_date = null
      this.query = {
        company_yyid: '',
        phone_number: '',
        staff_code: '',
        staff_name: '',
        sign_start_time: '',
        sign_end_time: '',
        page: 1,
        page_size: 20,
      }
    },

    agentExport() {
      if(this.sign_date!=null) {
        this.query.sign_start_time = this.sign_date[0]
        this.query.sign_end_time = this.sign_date[1]
      }
      axios.defaults.headers.common["Authorization"] = getToken()
      axios.post(
        agentApi.agentExport,
        this.query,
        {responseType:'arraybuffer'}
      ).then(function (response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.ms-excel;charset=UTF-8'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function (error) {
        console.log(error)
      })
    },
    
  },
  
  watch:{
    companyName(val, oldVal) {
      if(val=='') {
        this.query.company_yyid = ''
      }
    },
    
  }
}
</script>


<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
