<template>
  <div class="app-container">

    <el-form ref="form"  label-width="80px">
      <el-row :gutter="60">
        <el-col :span="5">
          <el-form-item label="大区">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="storeAreaName"
              :fetch-suggestions="storeAreaSearch"
              placeholder="请输入大区"
              @select="changeStoreAreaSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>

        <el-col :span="5">

            <el-form-item label="省份">
              <el-autocomplete
                style="width: 100%;"
                class="inline-input"
                v-model="storeProvinceName"
                :fetch-suggestions="storeProvinceSearch"
                placeholder="请输入省份"
                @select="changeStoreProvinceSelect"
              ></el-autocomplete>
            </el-form-item>

        </el-col>

        <el-col :span="5">

          <el-form-item label="城市">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="storeCityName"
              :fetch-suggestions="storeCitySearch"
              placeholder="请输入城市"
              @select="changeStoreCitySelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>

        <el-col :span="5">
          <el-form-item label="连锁">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="mainStoreName"
              :fetch-suggestions="mainStoreSearch"
              placeholder="连锁"
              @select="changeMainStoreSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>

        <el-col :span="5">
          <el-form-item label="门店">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="storeName"
              :fetch-suggestions="storeSearch"
              placeholder="门店"
              @select="changeStoreSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>



        <el-col :span="5">
          <el-form-item label="产品名称">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="productName"
              :fetch-suggestions="productSearch"
              placeholder="产品名称"
              @select="changeProductSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>

        <el-col :span="5">
          <el-form-item label="SKU">
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="productSkuName"
              :fetch-suggestions="productSkuSearch"
              placeholder="SKU"
              @select="changeProductSkuSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-col>


      </el-row>

      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="月份">
              <el-date-picker
                style="width: 100%;"
                placeholder="月份"
                type="month"
                v-model="situation__month"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                value-format="yyyy-MM-dd">
              </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="日期范围">
            <el-date-picker
              style="width: 100%;"
              placeholder="日期范围"
              type="daterange"
              v-model="situation__daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-button type="primary" @click="onSubmit"  v-permission="'agent:list:search'">搜索</el-button>
          <el-button style="margin-left: 20px;"  @click="queryReset" v-permission="'agent:list:reset'">重置</el-button>
          <el-button type="primary" style="margin-left: 20px;"  @click="onExport" v-permission="'agent:list:agentExport'">结果导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="height: 50px;width: 100%;"></div>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="pro_name" label="省份" align="center"></el-table-column>
      <el-table-column prop="city_name" label="城市" align="center"></el-table-column>
      <el-table-column prop="store_number" label="药店code" align="center"></el-table-column>
      <el-table-column prop="store_name" label="药店名称" align="center"></el-table-column>
      <el-table-column prop="agent_code" label="代表员工号" align="center"></el-table-column>
      <el-table-column prop="agent_name" label="代表姓名" align="center"></el-table-column>

      <el-table-column prop="month" label="选择的月份" align="center"></el-table-column>
      <el-table-column prop="date" label="选择的日期" align="center"></el-table-column>
<!--      <el-table-column prop="product_code" label="产品code" align="center"></el-table-column>-->
      <el-table-column prop="product_name" label="产品名称" align="center"></el-table-column>
      <el-table-column prop="sku_name" label="SKU名称" align="center"></el-table-column>
      <el-table-column prop="init_stock" label="本周期初库存(盒)" align="center"></el-table-column>
      <el-table-column prop="put_stock" label="本周购进(盒)" align="center"></el-table-column>
      <el-table-column prop="quantity_sold" label="本周销售（盒）" align="center"></el-table-column>
      <el-table-column prop="clerk_name" label="店员姓名" align="center"></el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as importApi from '@/api/import/import'
import * as agentApi from '@/api/agent/situation'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'

export default {
  name: 'AgentList',
  components: { Pagination },
  data() {
    return {
      store__area_id: 0,
      storeAreaName: "", // 大区的名称
      storeAreaList: [], // 大区的数据

      storeProvinceName: "", // 省份的名称
      storeProvinceList: [], // 省份的数据

      storeCityName: "", // 城市的名称
      storeCityList: [], // 城市的数据

      mainStoreName: "", // 连锁店的名称
      mainStoreList: [], // 连锁店的数据

      storeName: "", // 分店的名称
      storeList: [], // 分店的数据

      productName: "", // 产品的名称
      productList: [], // 产品的数据

      productSkuName: "", // 产品sku的名称
      productSkuList: [], // 产品sku的数据

      store__pro_id: 0,
      situation__date: null,
      situation__daterange: null,
      situation__month: null,
      store__city_id: null,
      store__main_store_id: null,
      store__id: null,
      product__product_id: null,
      product__sku_id: null,

      // 搜索条件
      query: {
        store__area_id: '', // 选择的店铺大区id
        store__pro_id: '', // 选择的店铺省份id
        store__city_id: '', // 选择的店铺城市id
        store__main_store_id: '', // 选择的连锁店id
        store__id: '', // 选择的分店id
        product__product_id: '', // 销售情况的产品id
        product__sku_id: '', // 销售情况的skuID
        situation__month: null,
        situation__daterange: null,
        // phone_number: '',
        // staff_code: '',
        // staff_name: '',
        // sign_start_time: '',
        // sign_end_time: '',
        page: 1,
        page_size: 20,
      },
      //loading控制
      loading: true,
      // 列表数据
      list: [],
      //列表数量
      total: 0,
    }
  },
  created() {
    //this.getCompany()
    this.getStoreArea()
    this.search()
  },
  methods: {

    // 获取大区数据
    getStoreArea() {
      importApi.getStoreArea().then(response => {
        if (response.code==20000) {
          this.storeAreaList = response.data
        }
      }).catch(() => {})
    },

    // 渲染大区数据，有这个它才会渲染出select数据
    storeAreaSearch(queryString, cb) {
      var list = this.storeAreaList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    // 大区数据下拉框onchage 事件回调
    changeStoreAreaSelect(item) {
      this.query.store__area_id = item.id

      this.query.store__pro_id = "";
      this.storeProvinceName = "";
      this.query.store__city_id = "";
      this.storeCityName = "";
      this.query.store__main_store_id = "";
      this.mainStoreName = "";
      this.query.store__id = "";
      this.storeName = "";
      this.query.product__product_id = "";
      this.productName = "";
      this.query.product__sku_id = "";
      this.productSkuName = "";

      this.getstoreProvince(item.id);
    },

    // 根据区域id获取省份数据
    getstoreProvince(area_id) {
      importApi.getstoreProvince(area_id).then(response => {
        if (response.code==20000) {
          this.storeProvinceList = response.data
        }
      }).catch(() => {})
    },
    // 渲染省份数据
    storeProvinceSearch(queryString, cb){
      var list = this.storeProvinceList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },
    // 省份下拉框onchage 事件回调
    changeStoreProvinceSelect(item) {
      this.query.store__pro_id = item.id

      this.query.store__city_id = "";
      this.storeCityName = "";
      this.query.store__main_store_id = "";
      this.mainStoreName = "";
      this.query.store__id = "";
      this.storeName = "";
      this.query.product__product_id = "";
      this.productName = "";
      this.query.product__sku_id = "";
      this.productSkuName = "";

      this.getstoreCity(item.id);
    },


    // 根据省份id获取城市数据
    getstoreCity(pro_id) {
      importApi.getstoreCity(pro_id).then(response => {
        if (response.code==20000) {
          this.storeCityList = response.data
        }
      }).catch(() => {})
    },
    // 渲染城市数据
    storeCitySearch(queryString, cb){
      var list = this.storeCityList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    // 城市下拉框onchage 事件回调
    changeStoreCitySelect(item) {
      this.query.store__city_id = item.id;

      this.query.store__main_store_id = "";
      this.mainStoreName = "";
      this.query.store__id = "";
      this.storeName = "";
      this.query.product__product_id = "";
      this.productName = "";
      this.query.product__sku_id = "";
      this.productSkuName = "";

      this.getmainStore(item.id);
    },

    // 根据城市id获取连锁店数据
    getmainStore(city_id) {
      importApi.getmainStore(city_id).then(response => {
        if (response.code==20000) {
          this.mainStoreList = response.data
        }
      }).catch(() => {})
    },
    // 渲染连锁店数据
    mainStoreSearch(queryString, cb){
      var list = this.mainStoreList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    // 连锁店下拉框onchage 事件回调
    changeMainStoreSelect(item) {
      this.query.store__main_store_id = item.id

      this.query.store__id = "";
      this.storeName = "";
      this.query.product__product_id = "";
      this.productName = "";
      this.query.product__sku_id = "";
      this.productSkuName = "";

      this.getStore(item.id);
    },


    // 根据城市id获取连锁店数据
    getStore(main_store_id) {
      importApi.getStore(main_store_id).then(response => {
        if (response.code==20000) {
          this.storeList = response.data
        }
      }).catch(() => {})
    },
    // 渲染连锁店数据
    storeSearch(queryString, cb){
      var list = this.storeList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    // 分店下拉框onchage 事件回调
    changeStoreSelect(item) {
      this.query.store__id = item.id

      this.query.product__product_id = "";
      this.productName = "";
      this.query.product__sku_id = "";
      this.productSkuName = "";

      this.getStoreProduct(item.id);
    },

    ///////////////////////
    // 根据分店id获取产品
    getStoreProduct(store_id) {
      importApi.getStoreProduct(store_id).then(response => {
        if (response.code==20000) {
          this.productList = response.data
        }
      }).catch(() => {})
    },
    // 渲染分店产品数据
    productSearch(queryString, cb){
      var list = this.productList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    // 分店产品下拉框onchage 事件回调
    changeProductSelect(item) {
      this.query.product__product_id = item.id

      this.query.product__sku_id = "";
      this.productSkuName = "";

      this.getStoreProductSku(item.id);
    },
    //////////////////////


    // 根据分店id获取产品
    getStoreProductSku(product_id) {
      importApi.getStoreProductSku(product_id).then(response => {
        if (response.code==20000) {
          this.productSkuList = response.data
        }
      }).catch(() => {})
    },
    // 渲染分店产品数据
    productSkuSearch(queryString, cb){
      var list = this.productSkuList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    // 分店产品下拉框onchage 事件回调
    changeProductSkuSelect(item) {
      this.query.product__sku_id = item.id
    },


    createFilter(queryString) {
      var ok = (list) => {
        var r = (list.value.indexOf(queryString) === 0);
        console.log('createFilterRRRR==', r);
        return r;
      };
      console.log('createFilter==', ok);
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },


    search() {
      var searchData = '';
      if(this.situation__month != null){
        searchData += 'situation[month]='+this.situation__month+"&";
      }
      if(this.situation__daterange != null){
        searchData += 'situation[start_date]='+this.situation__daterange[0]+"&"+'situation[end_date]='+this.situation__daterange[1]+'&';
      }

      for(var i in this.query){

        if(this.query[i] != '' && this.query[i] != null){
          // 进行拆分处理
          var keys = i.split('__');
          if(keys.length == 2){
            searchData += keys[0]+'['+keys[1]+']' + '='+ this.query[i]+'&';
          }else{
            searchData += i + '='+ this.query[i]+'&';
          }
        }
      }
      agentApi.search(searchData).then(response => {
        this.list = response.data.list
        this.total = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
      this.storeAreaName = "";
      this.storeProvinceName = "";
      this.storeCityName = "";
      this.mainStoreName = "";
      this.storeName = "";
      this.productName = "";
      this.productSkuName = "";
      this.query = {
        store__area_id: '', // 选择的店铺大区id
        store__pro_id: '', // 选择的店铺省份id
        store__city_id: '', // 选择的店铺城市id
        store__main_store_id: '', // 选择的连锁店id
        store__id: '', // 选择的分店id
        product__product_id: '', // 销售情况的产品id
        product__sku_id: '', // 销售情况的skuID
        situation__month: '',
        situation__daterange: '',
        page: 1,
        page_size: 20,
      }
    },

    onExport() {

      var searchData = {};
      if(this.situation__month != null){
        searchData['situation'] = {};
        searchData['situation']['month'] = this.situation__month;
      }
      if(this.situation__daterange != null){
        if(searchData['situation'] == undefined) searchData['situation'] = {};
        searchData['situation']['start_date'] = this.situation__daterange[0];
        searchData['situation']['end_date'] = this.situation__daterange[1];
      }

      for(var i in this.query){

        if(this.query[i] != '' && this.query[i] != null){
          // 进行拆分处理
          var keys = i.split('__');
          if(keys.length == 2){
            if(searchData[keys[0]] == undefined) searchData[keys[0]] = {};
            searchData[keys[0]][keys[1]] = this.query[i];
          }
        }
      }


      axios.defaults.headers.common["Authorization"] = getToken();

      // http://127.0.0.1:9502/api/agent/situation/export?situation[start_date]=2023-04-14&situation[end_date]=2023-04-14&

      // var reqData = {situation : {
      //     "start_date": '2023-04-14',
      //       'end_date':'2023-04-14'
      //   }
      // };

      console.info(searchData);
      axios.post(
        agentApi.agentExport,
        searchData,
        {responseType:'arraybuffer'}
      ).then(function (response) {
        console.log(response);
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.ms-excel;charset=UTF-8'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function (error) {
        console.log(error)
      })
    },

  },
}
</script>
