<template>
  <div class="app-container"
    element-loading-spinner="el-icon-loading">

    <el-form :inline="true">
      <el-row>
        <el-col :span="22">
          <el-form-item label="选择直播">
              <el-select v-model="live_id" @change="LiveSelect($event)" filterable placeholder="请选择">
                <el-option
                  v-for="item in live_list"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="6" v-show="live_on_line_type">
            <el-button size="small" type="primary" @click="OnLineCreate">生成线上二维码</el-button>
        </el-col>

        <el-col :span="6" v-show="live_off_line_type">
            <el-button size="small" type="primary" @click="OffLineCreate">生成线下二维码</el-button>
        </el-col>
      </el-row>

      <el-divider />

      <el-row v-show="false">
        <el-col :span="20" :offset="1">
          <el-input v-model="url" :disabled="true" style="text-align:center" />
        </el-col>
        <el-col :span="14" :offset="5">
          <div style="text-align:center;">
            <vue-qr ref="Qrcode" :text="url" :size="DownQrCodeSize" />
          </div>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="QrCodeSizeList"
      highlight-current-row
      style="width: 100%"
      v-show="qrDownTable"
    >
      <el-table-column prop="size" label="大小" align="left" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="24">
              <el-button type="primary" size="mini" @click="DownloadQRCode(row.size)">下载二维码</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>


  </div>
</template>

<script>
import * as liveApi from '@/api/live/live'
import VueQr from 'vue-qr'

const QrCodeSizeList = [{"size": "8cm"}, {"size": "12cm"}, {"size": "25cm"}, {"size": "30cm"}, {"size": "50cm"}]

const SetQrCodeSize = { "8cm": 94, "12cm": 142, "25cm": 295, "30cm": 354, "50cm": 591 }

export default {

  name: 'LiveQRCode',

  components: { VueQr },

  data() {
    return {
      query: {
      },
      live_id: '',
      loading: false,
      live_on_line_type: false,  
      live_off_line_type: false,
      live_list: [],
      url: '',
      QrCodeSizeList: QrCodeSizeList,
      qrDownTable: false,
      QrCodeType: '', // 1 线上 2 线下
      DownQrCodeSize: 142,
      is_online: ''
    }
  },
  created() {

  },

  mounted() {

    this.LiveList()

  },

  methods: {

    DownloadQRCode(size){

      // 获取url 设置二维码大小
      if(!this.live_id || !this.QrCodeType){

        this.$notify({

            title: '异常',

            message: '直播信息或直播类型有误',

            type: 'error'

        })

        return false

      }

      this.DownQrCodeSize = SetQrCodeSize[size]

      liveApi.createQRCode(this.live_id, this.QrCodeType, this.is_online).then(response => {

        if(!response.data) {

          this.$notify({

              title: '异常',

              message: '二维码配置错误',

              type: 'error'

          })

        } else {

          this.url = response.data

          let that = this

          setTimeout(function(){

            const iconUrl = that.$refs.Qrcode.$el.src

            let a = document.createElement("a")

            let event = new MouseEvent("click")

            a.download = "二维码"

            a.href = iconUrl

            a.dispatchEvent(event)

          }, 2000)
        }
          
        this.loading = false

      }).catch(() => {})


 

    },

    OnLineCreate(){

      this.$notify({

        title: '成功',

        message: '线上二维码生成成功',

        type: 'success'

      })

      this.QrCodeType = 1

      this.qrDownTable = true

    },
    
    OffLineCreate(){

      this.$notify({

        title: '成功',

        message: '线下二维码生成成功',

        type: 'success'

      })

      this.QrCodeType = 2

      this.qrDownTable = true

    },

    LiveList(){
      this.loading = true

      liveApi.LiveList().then(response => {

        this.live_list = response.data

        this.loading = false

      }).catch(() => {})

    },

    LiveSelect(id){

      this.loading = true

      liveApi.LiveSelect(id).then(response => {
        this.is_online = response.data.is_online
        if(response.data.is_online == 1) {

          this.live_on_line_type = true

          this.live_off_line_type = false

        } else if(response.data.is_online == 2) {

          this.live_off_line_type = true

          this.live_on_line_type = false

        } else if(response.data.is_online == 3) {

          this.live_on_line_type = true

          this.live_off_line_type = true

        }

        this.loading = false
      }).catch(() => {})
    }

  }
}
</script>


<style scoped>
.tips {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding-top: 10px;
}
.el-upload__tip {
  margin-left: 0!important;
}
.alertText {
  margin-top: 15px;
}
.loadingIcon{
  margin-top: 15px;
}
.inline-input{
  width: 300px;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
</style>