<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="话题名称">
            <el-input v-model="query.name" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'pharmacy:topic:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'pharmacy:topic:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <el-table-column prop="name" label="话题名称" align="left" />
      <el-table-column prop="content" label="封面" width="180" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.cover_url" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="total" label="参与人数" width="150px" align="center" />
      <el-table-column
        header-align="center"
        align="center"
        label="话题状态"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.is_publish"
            :active-value="active"
            :inactive-value="inactive"
            @change="changeStatus($event, scope.row.id)"
          />
        </template>
      </el-table-column>
      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="top_start" label="开始时间" align="center" />
      <el-table-column prop="top_end" label="结束时间" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row :gutter="10">
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'pharmacy:topic:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'pharmacy:topic:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
            <el-col v-permission="'pharmacy:topic:top:point'" :span="8">
              <el-button type="success" size="mini" @click="goToTopN(row.id)">额外积分</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog name="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="话题名称"
              prop="name"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.name" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="false">
          <el-col :span="22">
            <el-form-item
              label="关联活动"
              prop="product"
              :rules="[
                { required: true, message: '请至少关联一个活动', trigger: 'blur' }
              ]"
            >
              <el-select
                v-model="formData.active_id"
                filterable
                placeholder="请选择"
              >
                <el-option
                  v-for="item in activeOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="封面图片"
              prop="cor_img"
              :rules="[
                {required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.cor_img"
                :upload-data="uploadData"
                :sign="sign.cor_img"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="详情图片"
              prop="dtl_img"
              :rules="[
                {required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="formData.dtl_img"
                :upload-data="uploadData"
                :sign="sign.dtl_img"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="9">
            <el-form-item
              label="开始时间"
              prop="top_start"
              :rules="[
                { required: true, message: '请选择类型', trigger: 'blur' }
              ]"
            >
              <el-date-picker v-model="formData.top_start" type="datetime" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item
              label="结束时间"
              prop="top_end"
            >
              <el-date-picker v-model="formData.top_end" type="datetime" :disabled="formData.dt_no" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item
              label="服务积分:"
              prop="service_point"
              :rules="[
                {required: true, message: '服务积分不能为空', trigger: 'change'}
              ]"
            >
              <el-input-number v-model="formData.service_point" :min="0" label="服务积分" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="消费积分:"
              prop="money_point"
              :rules="[
                {required: true, message: '消费积分不能为空', trigger: 'change'}
              ]"
            >
              <el-input-number v-model="formData.money_point" :min="0" label="消费积分" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="topN额外服务积分:"
              prop="top_n_service_point"
              :rules="[
                {required: true, message: 'topN额外服务积分不能为空', trigger: 'change'}
              ]"
            >
              <el-input-number v-model="formData.top_n_service_point" :min="0" label="topN额外服务积分不能为空" :step="1" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="topN额外消费积分:"
              prop="top_n_money_point"
              :rules="[
                {required: true, message: 'topN额外消费积分不能为空', trigger: 'change'}
              ]"
            >
              <el-input-number v-model="formData.top_n_money_point" :min="0" label="topN额外消费积分不能为空" :step="1" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item label="积分活动">
          <point-group-selector
            :disabled="infoGroup > 0"
            @change="setGroupId"
          />
        </el-form-item>
        <el-form-item label="话题状态：">
          <el-switch
            v-model="formData.is_publish"
            :active-value="active"
            :inactive-value="inactive"
          />
        </el-form-item>
        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as RsetApi from '@/api/pharmacy/rest'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import * as commonApi from '@/api/common/common'
import PointGroupSelector from '@/components/PointGroupSelector'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Topic',
  components: { Pagination, ImgUpload, PointGroupSelector },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        name: '',
        cor_img: [],
        dtl_img: [],
        active_id: '',
        is_publish: 1,
        service_point: 0,
        money_point: 0,
        group_id: 2,
        top_n_service_point: 0,
        top_n_money_point: 0,
        top_start: '',
        top_end: ''
      },

      query: {
        page: 1,
        page_size: 20,
        name: ''
      },
      // 七牛云上传
      sign: {
        cor_img: 'cor-img',
        dtl_img: 'dtl-img'
      },
      uploadData: {
        token: ''
      },
      active: 1,
      inactive: 0,
      picUrl: '',
      bucket: '',
      name: '',
      list: [],
      total: 0,
      activeOptions: [],
      dialogVisible: false,
      infoGroup: 0
    }
  },

  created() {
    //   this.articleForSelect()
    this.search()
    this.getToken()
  },

  methods: {
    ...mapActions('pointGroup', ['initialize']),
    ...mapGetters('pointGroup', ['getDefaultId']),
    setGroupId(id) {
      console.log('change_id', id)
      this.$data.formData.group_id = id
    },
    // 获取活动
    //   articleForSelect() {
    //     commonApi.active_list().then(response => {
    //       this.activeOptions = response.data.list.list
    //       console.log(response.data.list.list)
    //     }).catch(() => {})
    //   },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign == 'dtl-img') {
        this.formData.dtl_img = data.imgList
      } else {
        this.formData.cor_img = data.imgList
      }
    },

    search() {
      this.loading = true
      RsetApi.listTopic(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    changeStatus($event, id) {
      console.log(id)
      console.log($event)
      RsetApi.status(id, $event)
        .then(resp => {
          this.operateSuccess('发布状态变更成功')
        })
    },

    operateSuccess(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },

    showDiolog() {
      this.reset()
      this.initialize({
        platform: 6, // PointPlatform::PLATFORM_PHARMACY
        select: 0,
      })
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        name: '',
        cor_img: [],
        dtl_img: [],
        active_id: '',
        service_point: 0,
        money_point: 0,
        group_id: 2
      }
      this.dialogVisible = false
    },

    detail(id) {
      RsetApi.infoTopic(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
          console.log(response.data)
          if (response.data.group_id <= 0) {
            this.$data.formData.group_id = 2
            this.$data.infoGroup = 2
            this.initialize({
              platform: 6, // PointPlatform::PLATFORM_PHARMACY
              select: 0
            })
          } else {
            this.$data.infoGroup = response.data.group_id
            this.initialize({
              platform: 6, // PointPlatform::PLATFORM_PHARMACY
              select: response.data.group_id
            })
          }
        }
      }).catch(() => {})
    },

    submit() {
      this.$data.formData.group_id = this.getDefaultId()
      if (this.$data.formData.group_id <= 0) {
        this.operationMsg('积分活动不能为空', 'error')
        return
      }
      if (!this.formData.name) {
        this.operationMsg('标题不可空', 'error')
        return
      }

      //     if(!this.formData.active_id){
      //       this.operationMsg('关联文章不可空', 'error')
      //       return
      //     }

      if (this.formData.dtl_img.length <= 0) {
        this.operationMsg('详情图片不可空', 'error')
        return
      }

      if (this.formData.cor_img.length <= 0) {
        this.operationMsg('封面图片不可空', 'error')
        return
      }

      if (!this.formData.top_start) {
        this.operationMsg('话题开始时间不可空', 'error')
        return
      }

      RsetApi.addTopic(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        RsetApi.delTopic(id).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        titele: ''
      }
    },
    goToTopN(id) {
      this.$router.push(
        {
          name: 'TopNPointBatch',
          query: {
            biz_id: id,
            type: 3
          }
        }
      )
    }
  }
}
</script>

   <style>
     .articleList:hover{
       color: red;
     }
     .el-switch__core:after{
       width: 14px;
       height: 14px;
     }
     .el-switch__core{
       height: 18px;
     }
     .el-select {
       width: 100%;
     }
     .buttonrow {
       margin-top: 10px;
     }
     .newbuttondiv {
       margin-bottom: 20px;
     }
     .newbutton {
       margin-left: 20px;
     }
     .count {
       font-size: 15px;
       color: #304156;
       margin-top: 10px;
     }
     .status {
       font-weight: 600;
     }
     .publishstatus {
       color: #1890ff;
     }
     .outstatus {
       color: #e64242;
     }
     .inlive {
       color: #42b983;
     }
   </style>
