<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="店名">
            <el-input v-model="query.name" />
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="药品">
            <el-select v-model="query.product_id" placeholder="请选择大区">
              <el-option label="全部" value="" />
              <el-option v-for="item in products" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="大区">
            <el-select v-model="query.area_id" placeholder="请选择大区">
              <el-option label="全部" value="" />
              <el-option v-for="item in area" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="省份">
            <el-select v-model="query.province_id" placeholder="请选择省份">
              <el-option label="全部" value="" />
              <el-option v-for="item in province" :key="item.id" :label="item.province" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="60">
        <el-col :span="10">
          <el-form-item label="城市">
            <el-select v-model="query.city_id" placeholder="请选择城市">
              <el-option label="全部" value="" />
              <el-option v-for="item in city" :key="item.id" :label="item.city_name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="定位">
            <el-select v-model="query.has_gps" placeholder="请选择是否定位">
              <el-option label="全部" value="" />
              <el-option label="已定位" value="1" />
              <el-option label="未定位" value="2" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" border style="width: 100%">
      <el-table-column prop="id" label="ID" width="80" align="center" fixed />
      <el-table-column prop="has_gps" label="是否定位" width="80" align="center">
        <template slot-scope="{row}">
          <div
            class="status"
            :class="{ inlive:row.has_gps==1, publishstatus:row.has_gps==2 }"
          >
            <template v-if="row.has_gps==1">已定位</template>
            <template v-if="row.has_gps==2">未定位</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="area" label="大区" width="80" align="center" />
      <el-table-column prop="province" label="省份" width="80" align="center" />
      <el-table-column prop="city" label="城市" width="80" align="center" />
      <el-table-column prop="main_store_name" label="主店" width="110" align="center" :show-overflow-tooltip="true" />
      <el-table-column prop="store_name" label="店名" width="100" align="center" :show-overflow-tooltip="true" />
      <el-table-column prop="location" label="药店地址"  align="center" :show-overflow-tooltip="true" />
      <el-table-column prop="phone" label="电话" width="100" align="center" />
      <el-table-column prop="" label="药品" width="100" align="center">
        <template slot-scope="{row}">
          <div v-for="(item,index) in row.products" :key="index">
            <p>{{ item.yy_product_name }}</p>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="" label="状态" width="100" align="center">
        <template slot-scope="{row}">
          <p v-if="row.status == 1" style="color: #30B08F">有效</p>
          <p v-if="row.status == 2" style="color: #C63000">无效</p>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="100" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="20">
              <p><el-button v-permission="'pharmacy:gps:update'" type="primary" size="mini" @click="detail(row.id)">定位</el-button></p>
              <p><el-button v-permission="'pharmacy:gps:setPolicy'" type="primary" size="mini" @click="editPolicy(row.id)">设置策略</el-button></p>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <PolicySet :policy-dialog-data="policyDialogData" @closePolicyDialog="closePolicyDialog($event)" />
    <el-dialog title="编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="dialog" label-position="right" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item label="主店">
              <el-input v-model="main_store_name" :disabled="true" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="药店">
              <el-input v-model="store_name" :disabled="true" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="18">
            <el-form-item label="地址">
              <el-input v-model="location" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="4" style="margin-left: 10px;">
            <el-button type="primary" size="mini" @click="autoGetGps()">自动定位</el-button>
          </el-col>
        </el-row>

        <el-row style="margin-bottom: 20px;">
          <el-col :span="15" style="margin-left: 120px;">
            <el-alert
              title="自动定位的经纬度默认填入下方列表的第一行,若有多个GPS请手动自行添加"
              type="error"
              :closable="false"
            />
          </el-col>
          <el-col :span="4" style="margin-left: 10px;">
            <el-button type="primary" size="mini" @click="addGps()">新增</el-button>
          </el-col>
        </el-row>

        <el-row v-for="(item,index) in location_gps" :key="index">
          <el-col :span="9">
            <el-form-item label="经度">
              <el-input v-model="item.longitude" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item label="纬度">
              <el-input v-model="item.latitude" />
            </el-form-item>
          </el-col>
          <el-col :span="4" style="margin-left: 10px;">
            <el-button type="danger" size="mini" @click="delGps(item)">删除</el-button>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as storeApi from '@/api/pharmacy/store_gps_list'
import Pagination from '@/components/Pagination'
import PolicySet from './../components/PolicySet'

export default {
  name: 'StoreGpsList',
  components: { PolicySet, Pagination },
  data() {
    return {
      area: [],
      province: [],
      products: [],
      query: {
        name: '',
        area_id: '',
        province_id: '',
        city_id: '',
        has_gps: '',
        product_id: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      main_store_name: '',
      store_name: '',
      city: '',
      location: '',
      c_id: '',
      location_gps: [],
      dialogVisible: false,
      policyDialogData: {
        dialogVisible: false,
        main_store_name: '连锁店',
        storm_name: '柳州药店',
        location: '柳州药店74号',
        phone: '18221111222',
        policyForm: {
          id: 0,
          product_options_num: 3,
          policyList: []
        }
      }
    }
  },
  created() {
    this.getArea()
    this.getProvince()
    this.getCity()
    this.getProducts()
    this.search()
  },
  methods: {
    getArea() {
      storeApi.getArea().then(response => {
        this.area = response.data
      }).catch(() => {})
    },

    getProvince() {
      storeApi.getProvince().then(response => {
        this.province = response.data
      }).catch(() => {})
    },

    getCity() {
      storeApi.getCity().then(response => {
        this.city = response.data
      }).catch(() => {})
    },
    getProducts() {
      storeApi.getProducts().then(response => {
        this.products = response.data
      }).catch(() => {})
    },

    search() {
      storeApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    closePolicyDialog($data) {
      this.policyDialogData = $data
    },
    detail(id) {
      this.reset()
      storeApi.detail({ store_id: id }).then(response => {
        this.c_id = id
        this.city = response.data.city
        this.main_store_name = response.data.main_store_name
        this.store_name = response.data.store_name
        this.location = response.data.location
        this.location_gps = response.data.gps
        this.dialogVisible = true
      })
    },
    editPolicy(id) {
      console.log(id)
      this.policyDialogData.policyForm.id = id
      const that = this
      storeApi.getStorePolicy({ store_id: id }).then(response => {
        console.log(response.data)
        this.policyDialogData.storm_name = response.data.store_name
        this.policyDialogData.main_store_name = response.data.main_store_name
        this.policyDialogData.location = response.data.location
        this.policyDialogData.phone = response.data.phone
        this.policyDialogData.policyForm.product_options_num = response.data.products.length

        console.log(response.data.products)
        // eslint-disable-next-line no-empty
        if (response.data.products.length > 0 && response.data._policies.length <= 0) {
          // eslint-disable-next-line no-unused-vars
          const _policy = {
            products: [],
            product_options: response.data.products,
            policy_type: 0,
            policy_val: '',
            deadline_type: 0,
            deadline_val: '',
            deadline_time: '',
            visiblePicker: false,
            visibleVal: true
          }
          console.log(_policy)
          that.policyDialogData.policyForm.policyList.push(_policy)
        } else {
          response.data._policies.forEach(function(policy) {
            // eslint-disable-next-line eqeqeq
            let deadline_val = ''
            let deadline_time = ''
            let visiblePicker = false
            let visibleVal = true
            // eslint-disable-next-line eqeqeq
            if (policy.deadline_type == 1) {
              // eslint-disable-next-line no-const-assign
              deadline_val = policy.deadline_val
              visiblePicker = false
              visibleVal = true
            } else {
              // eslint-disable-next-line no-const-assign
              deadline_time = policy.deadline_val
              visiblePicker = true
              visibleVal = false
            }
            // eslint-disable-next-line no-unused-vars
            const _policy = {
              products: policy.product_ids,
              product_options: response.data.products,
              policy_type: policy.policy_type,
              policy_val: policy.policy_val,
              deadline_type: policy.deadline_type,
              deadline_val: deadline_val,
              deadline_time: deadline_time,
              visiblePicker: visiblePicker,
              visibleVal: visibleVal
            }
            console.log(_policy)
            that.policyDialogData.policyForm.policyList.push(_policy)
          })
        }
        this.policyDialogData.dialogVisible = true
      })
    },
    autoGetGps() {
      storeApi.autoGetGps({
        location: this.location,
        city: this.city
      }).then(response => {
        if (this.location_gps.length !== 0) {
          this.location_gps.shift()
          this.location_gps.unshift(response.data)
        } else {
          this.location_gps.push(response.data)
        }
      })
    },

    addGps() {
      const item = {
        longitude: '',
        latitude: ''
      }
      this.location_gps.push(item)
    },

    delGps(item) {
      const index = this.location_gps.indexOf(item)
      if (index !== -1) {
        this.location_gps.splice(index, 1)
      }
    },

    submit() {
      storeApi.update({
        store_id: this.c_id,
        gps: this.location_gps
      }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.main_store_name = ''
      this.store_name = ''
      this.location = ''
      this.c_id = ''
      this.city = ''
      this.location_gps = []
    },

    queryReset() {
      this.query = {
        name: '',
        area_id: '',
        province_id: '',
        city_id: '',
        has_gps: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
