<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="120px">
      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="所属公司">
            <el-input v-model="query.company_id" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="服务商类型">
            <el-select v-model="query.supplier_type" placeholder="请选择服务商类型">
              <el-option label="公司服务商" value="1"/>
              <el-option label="个人服务商" value="2"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="服务商">
            <el-input v-model="query.supplier" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="管理员">
            <el-input v-model="query.manage" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="管理员手机号">
            <el-input v-model="query.manage_phone" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="结算标识">
            <el-select v-model="query.role_type">
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="20">
          <el-form-item label="服务状态">
            <el-select v-model="query.is_deleted">
              <el-option
                v-for="item in deletedList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="onSubmit" v-permission="'agreement:list:search'">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset" v-permission="'agreement:list:reset'">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'agreement:list:create'" type="primary" class="newbutton" @click="createSupplier">新建服务商</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" width="80px"></el-table-column>
      <el-table-column prop="is_deleted" label="服务状态" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.is_deleted==0" size="mini" type="success">服务中</el-tag>
          <el-tag v-if="row.is_deleted==1" size="mini" type="danger">已解散</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="title" label="服务商名称" align="center">
        <template slot-scope="{row}">
          {{ row.title }}
          <div>
            <el-tag v-if="row.type==2" size="mini" effect="dark" type="success">个人</el-tag>
            <el-tag v-else size="mini" effect="dark">公司</el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="c_name" label="所属公司" align="center"></el-table-column>
      <el-table-column prop="admin_name" label="管理员" align="center"></el-table-column>
      <el-table-column prop="admin_phone" label="管理员手机号" align="center"></el-table-column>
      <el-table-column prop="p_name" label="服务产品" align="center"></el-table-column>
      <el-table-column prop="" label="服务终端" align="center">
        <template slot-scope="{row}">
          <el-button @click="getHosp(row.id)" v-permission="'agreement:list:hospital'">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="start_time" label="开始时间" align="center"></el-table-column>
      <el-table-column prop="end_time" label="结束时间" align="center"></el-table-column>
      <el-table-column prop="role_type" label="结算标识" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.role_type==1" size="mini" effect="dark">英联销售团队</el-tag>
          <el-tag v-if="row.role_type==2" size="mini" effect="dark">优锐商务团队</el-tag>
          <el-tag v-if="row.role_type==3" size="mini" effect="dark">优锐市场团队</el-tag>
          <el-tag v-if="row.role_type==4" size="mini" effect="dark">优锐销售团队</el-tag>
          <el-tag v-if="row.role_type==5" size="mini" effect="dark">优药销售团队</el-tag>
		  <el-tag v-if="row.role_type==6" size="mini" effect="dark">曙新区域代理商</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="180px" align="center">
        <template slot-scope="{row}">
          <el-row v-if="row.is_deleted==0">
            <el-col :span="12">
              <el-button v-permission="'agreement:list:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-popconfirm
                title="确定要解散吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="deleted(row.id)"
              >
                <el-button slot="reference" v-permission="'agreement:list:delete'" type="danger" size="mini">解散</el-button>
              </el-popconfirm>
            </el-col>
          </el-row>
          <el-row style="margin-top: 10px;" v-if="row.is_deleted==0">
            <el-col :span="24">
              <el-button v-permission="'agreement:list:copy'" type="primary" size="mini" @click="showCopy(row.id)">复制并新建</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="手机号" :visible.sync="copy_view" width="60%">
      <el-row style="color:red;padding-left: 40px;margin-bottom: 20px;">
        手机号不能重复和复制，请先输入新用户的手机号
      </el-row>
      <el-row>
        <el-form
          ref="copy_data"
          label-position="right"
          :model="copy_data"
          label-width="120px"
          class="demo-ruleForm"
          size="small"
        >
          <el-form-item
            label="新用户手机号"
            prop="copy_phone"
            :rules="[
              { required: true, message: '请输入手机号', trigger: 'blur' }
            ]"
          >
            <el-input v-model="copy_data.copy_phone" />
          </el-form-item>
          <el-form-item
            label="服务商结算标识"
            prop="copy_role_type"
            :rules="[
              { required: true, message: '请选择结算标识', trigger: 'change' }
            ]"
          >
            <el-select v-model="copy_data.copy_role_type" placeholder="请选择结算标识">
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item style="margin-top: 50px;">
            <el-button type="primary" @click="copy('copy_data')">确认</el-button>
            <el-button @click="copy_view=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-row>
    </el-dialog>

    <el-dialog title="服务终端" :visible.sync="h_view" width="60%">
      <table class="table">
        <tr>
          <td class="td header">服务区域</td>
          <td class="td">
            <div
              v-for="item in h_data.area"
              :key="item.id"
            >{{ item.province }}</div>
          </td>
        </tr>
        <tr>
          <td class="td header">服务医院</td>
          <td class="td">
            <div
              v-for="item in h_data.hospital"
              :key="item.id"
            >{{ item.hospital_name }}</div>
          </td>
        </tr>
      </table>
    </el-dialog>

    <el-dialog title="编辑服务商" :visible.sync="c_view" width="80%">
      <el-form
        ref="c_form"
        label-position="right"
        :model="c_form"
        label-width="120px"
        class="demo-ruleForm"
        size="small"
      >
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="服务商类型"
              prop="type"
              :rules="[
                { required: true, message: '请选择服务商类型', trigger: 'change' }
              ]"
            >
              <el-select v-model="c_form.type">
                <el-option label="公司服务商" value="1"/>
                <el-option label="个人服务商" value="2"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="服务商名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入服务商名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="c_form.title" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="所属公司"
              prop="company_yyid"
            >
              <el-autocomplete
                class="inline-input"
                v-model="c_companyName"
                :fetch-suggestions="querySearch"
                placeholder="请输入所属公司名称"
                @select="handleSelect"
              ></el-autocomplete>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="c_form.type==1">
          <el-col :span="11">
            <el-form-item
              label="管理员姓名"
              prop="admin_name"
              :rules="[
                { required: true, message: '请输入姓名', trigger: 'blur' }
              ]"
            >
              <el-input v-model="c_form.admin_name" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              label="管理员手机号"
              prop="admin_phone"
              :rules="[
                { required: true, message: '请输入手机号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="c_form.admin_phone" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="c_form.type==2">
          <el-col :span="11">
            <el-form-item
              label="姓名"
              prop="admin_name"
              :rules="[
                { required: true, message: '请输入姓名', trigger: 'blur' }
              ]"
            >
              <el-input v-model="c_form.admin_name" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              label="手机号"
              prop="admin_phone"
              :rules="[
                { required: true, message: '请输入手机号', trigger: 'blur' }
              ]"
            >
              <el-input v-model="c_form.admin_phone" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="结算标识"
              prop="role_type"
              :rules="[
                { required: true, message: '请选择结算标识', trigger: 'change' }
              ]"
            >
              <el-select v-model="c_form.role_type" placeholder="请选择结算标识">
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.type"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="开始时间"
              prop="start_time"
              :rules="[
                { required: true, message: '请选择开始时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="c_form.start_time"
                type="date"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              label="结束时间"
              prop="end_time"
              :rules="[
                { required: true, message: '请选择结束时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="c_form.end_time"
                type="date"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="服务产品"
              prop="products_id"
            >
              <el-select
                v-model="c_form.products_id"
                multiple
                filterable
                clearable
              >
                <el-option
                  v-for="item in c_produstList"
                  :key="item.id"
                  :label="item.series_name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="c_form.type==1">
          <el-col :span="22">
            <el-form-item
              label="服务区域"
              prop="area_id"
            >
              <el-select
                v-model="c_form.area_id"
                multiple
                filterable
                clearable
              >
                <el-option
                  v-for="item in c_areaList"
                  :key="item.id"
                  :label="item.province"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="服务医院"
              prop="hospital_id"
            >
              <el-select
                v-model="c_form.hospital_id"
                filterable
                multiple
                clearable
                remote
                reserve-keyword
                :remote-method="remoteMethod"
                :loading="h_loading"
                >
                <el-option
                  v-for="item in c_hospitals"
                  :key="item.id"
                  :label="item.hospital_name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="上传协议"
              prop="pdf_url"
            >
              <upload-file
                  :type="upload.type"
                  :business="upload.business"
                  :uploadList.sync="c_form.pdf_url"
                  :showList="true"
                  :limit="1"
                  listType="text"
                  @uploadFail="uploadCoverFail"
                  @uploadSuccess="uploadCoverSuccess"
                  @deleteFile="deleteImg"
              >
              </upload-file>
            </el-form-item>
          </el-col>
        </el-row>

        <h4 style="margin-left: 52px;margin-top: 10px;margin-bottom: 0;">服务项目</h4>
        <el-row style="margin-left: 120px;">
          <el-col :span="3">
            <el-button type="primary" size="mini" @click="updatemenuAdd()">添加服务项目</el-button>
          </el-col>
        </el-row>
        <el-table :data="c_form.service_item" stripe border style="width: 80%;margin-top: 10px;margin-left: 120px;">
          <el-table-column prop="service_type" label="类型" align="center" />
          <el-table-column prop="title" label="项目" align="center" />
          <el-table-column prop="unit" label="单位" align="center" />
          <el-table-column prop="money_unit" label="金额/单位" align="center" />
          <el-table-column prop="price" label="单价" align="center" />
          <el-table-column prop="standard" label="标准" align="center" />
          <el-table-column prop="" label="操作" width="220" align="center">
            <template slot-scope="{row}">
              <el-row>
                <el-col :span="12">
                  <el-button type="primary" size="mini" @click="updatemenuDetail(row)">编辑</el-button>
                </el-col>
                <el-col :span="12">
                  <el-button type="danger" size="mini" @click="deletemenuDetail(row)">删除</el-button>
                </el-col>
              </el-row>
            </template>
          </el-table-column>
        </el-table>

        <el-form-item style="margin-top: 50px;">
          <el-button type="primary" @click="submitItem('c_form')">提交</el-button>
          <el-button @click="c_view=false">取消</el-button>
        </el-form-item>
      </el-form>

    </el-dialog>

    <el-dialog title="编辑服务类型" :visible.sync="item_view" width="50%">
      <el-form
        ref="item_form"
        label-position="right"
        :model="item_form"
        label-width="120px"
        class="demo-ruleForm"
        size="small"
      >
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="类型"
              prop="service_type"
              :rules="[
                { required: true, message: '请选择类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="item_form.service_type">
                <el-option
                  v-for="item in itemTypeList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.title"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="项目"
              prop="itemProList"
              :rules="[
                { required: true, message: '请选择项目', trigger: 'blur' }
              ]"
            >
              <el-select v-model="item_form.title">
                <el-option
                  v-for="item in itemProList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.title"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="单位"
              prop="unit"
              :rules="[
                { required: true, message: '请选择单位', trigger: 'blur' }
              ]"
            >
              <el-select v-model="item_form.unit">
                <el-option
                  v-for="item in itemUnitList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.title"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="金额/单位"
              prop="money_unit"
              :rules="[
                { required: true, message: '请选择金额/单位', trigger: 'blur' }
              ]"
            >
              <el-select v-model="item_form.money_unit">
                <el-option
                  v-for="item in itemMoneyUnitList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.title"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="单价"
              prop="price"
              :rules="[
                { required: true, message: '请输入单价', trigger: 'blur' }
              ]"
            >
              <el-input v-model="item_form.price" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标准"
              prop="standard"
              :rules="[
                { required: true, message: '请输入单价', trigger: 'blur' }
              ]"
            >
              <el-input v-model="item_form.standard" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item style="margin-top: 50px;">
          <el-button type="primary" @click="addItem()">确认</el-button>
          <el-button @click="item_view=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as supplierApi from '@/api/supplier/supplier'
import * as importApi from '@/api/import/import'
import { types } from '@/api/youyao/user'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'
import UploadFile from '@/components/Upload'

export default {
  name: 'Agreement',
  components: { Pagination, UploadFile },
  data() {
    return {
      typeList: [],
      deletedList: [
        { id: 0, type: '服务中' },
        { id: 1, type: '已解散' }
      ],
      // 搜索条件
      query: {
        company_id: '', //公司id
        supplier_type: '',
        supplier: '',
        manage: '',
        manage_phone: '',
        role_type: '',
        is_deleted: 0,
        page: 1,
        page_size: 20,
      },
      //loading控制
      loading: true,
      // 列表数据
      list: [],
      //列表数量
      total: 0,

      h_data: {},
      h_view: false,

      c_view: false,
      upload: {
          type: 1,
          business: 'supplier'
      },
      c_form: {
        id: 0,
        type: '1',
        title: '',
        company_yyid: '',
        admin_name: '',
        admin_phone: '',
        role_type: '',
        start_time: '',
        end_time: '',
        products_id: [],
        area_id: [],
        hospital_id: [],
        service_item: [],
        pdf_url: []
      },
      c_companyList: [],
      c_companyName: '',
      c_produstList: [],
      c_hospitals: [],
      c_areaList: [],
      h_loading: false,

      item_view: false,
      itemTypeList: [],
      itemProList: [],
      itemUnitList: [],
      itemMoneyUnitList: [],
      item_form: {
        service_type: '',
        title: '',
        unit: '',
        money_unit: '',
        price: '',
        standard: ''
      },
      currentRow: {},
      phoneCheck: false,
      copy_view: false,
      copy_data: {
        copy_id: 0,
        copy_phone: '',
        copy_role_type: ''
      }
    }
  },
  created() {
    this.getType()
    this.search()
  },
  watch: {
    'c_form.admin_phone'(newVal, oldVal) {
      var reg = /^1[3456789][0-9]{9}$/;
      if (reg.test(newVal)) {
        this.checkPhone(this.c_form.id, newVal)
      }
    },
    'copy_data.copy_phone'(newVal, oldVal) {
      var reg = /^1[3456789][0-9]{9}$/;
      if (reg.test(newVal)) {
        this.checkCopyPhone(this.copy_data.copy_id, newVal)
      }
    },
  },
  methods: {
    getType() {
      types().then(response => {
        this.typeList = response.data
      })
    },

    search() {
      supplierApi.searchSupplier(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
      this.query =  {
        company_id: '', //公司id
        supplier_type: '',
        supplier: '',
        manage: '',
        manage_phone: '',
        role_type: '',
        is_deleted: '',
        page: 1,
        page_size: 20,
      }
    },

    getHosp(id) {
      supplierApi.getSupplierHospital({ supplier_id: id }).then(response => {
        this.h_data = response.data
        this.h_view = true
      }).catch(() => {})
    },

    createSupplier() {
      this.getCompany()
      this.getProductsForSelect()
      this.getAreaList()
      this.formReset()
      this.c_view = true
    },

    submitItem(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.phoneCheck===false) {
            this.operationMsg('手机号不可用', 'error')
            return false
          }
          supplierApi.createOrUpdate(this.c_form).then(response => {
            if (response.code === 20000) {
              this.operationMsg('提交成功！', 'success')
              this.c_view = false
              this.search()
            }
          }).catch(() => {})
        }
      })
    },

    detail(id) {
      this.getCompany()
      this.getProductsForSelect()
      this.getAreaList()
      var that = this
      supplierApi.getDetail({ id: id }).then(response => {
        if (response.code === 20000) {
          that.c_hospitals = response.data[2]
          that.c_companyName = response.data[1]
          setTimeout(function(){
            that.c_form = response.data[0]
            that.c_view = true
          }, 1000)
        }
      }).catch(() => {})
    },

    deleted(id) {
      supplierApi.deleteSupplier({ id: id }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('已解散！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    formReset() {
      this.c_companyName = ''
      this.c_form = {
        id: 0,
        type: '1',
        title: '',
        company_yyid: '',
        admin_name: '',
        admin_phone: '',
        role_type: '',
        start_time: '',
        end_time: '',
        products_id: [],
        area_id: [],
        hospital_id: [],
        service_item: [],
        pdf_url: []
      }
    },

    getCompany() {
      importApi.getCompany().then(response => {
        if (response.code==20000) {
          this.c_companyList = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.c_companyList;
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },

    handleSelect(item) {
      this.c_form.company_yyid = item.yyid
    },

    getProductsForSelect() {
      supplierApi.getProductsForSelect().then(response => {
        if (response.code==20000) {
          this.c_produstList = response.data
        }
      }).catch(() => {})
    },

    remoteMethod(query) {
      if (query !== '') {
        this.h_loading = true;
        setTimeout(() => {
          supplierApi.searchHospital({ key_word: query }).then(response => {
            if (response.code === 20000) {
              this.c_hospitals = response.data
              this.h_loading = false
            }
          }).catch(() => {})
        }, 200);
      }
    },

    getAreaList() {
      supplierApi.getAreaList().then(response => {
        if (response.code==20000) {
          this.c_areaList = response.data
        }
      }).catch(() => {})
    },

    getServiceType() {
      supplierApi.getServiceType().then(response => {
        if (response.code==20000) {
          this.itemTypeList = response.data.type_list
          this.itemProList = response.data.pro_list
          this.itemUnitList = response.data.unit_list
          this.itemMoneyUnitList = response.data.money_unit_list
        }
      }).catch(() => {})
    },

    checkPhone(id, phone) {
      supplierApi.checkPhone({
        id: id,
        phone: phone
      }).then(response => {
        if (response.code==20000) {
          this.c_form.role_type = response.data.role_type
          this.operationMsg('手机号可用', 'success')
          this.phoneCheck = true
        }
      }).catch(() => {})
    },

    checkCopyPhone(id, phone) {
      supplierApi.checkPhone({
        id: id,
        phone: phone
      }).then(response => {
        if (response.code==20000) {
          this.copy_data.copy_role_type = response.data.role_type
          this.operationMsg('手机号可用', 'success')
          this.phoneCheck = true
        }
      }).catch(() => {})
    },

    updatemenuAdd() {
      this.getServiceType()
      this.item_form = {
        service_type: '',
        title: '',
        unit: '',
        money_unit: '',
        price: '',
        standard: ''
      }
      this.item_view = true
    },

    addItem() {
      var index = this.c_form.service_item.indexOf(this.currentRow)
      if (index !== -1) {
        this.c_form.service_item[index] = this.item_form
      } else {
        this.c_form.service_item.push(this.item_form)
      }
      this.item_view = false
    },

    updatemenuDetail(row) {
      this.getServiceType()
      this.currentRow = row
      this.item_form = row
      this.item_view = true
    },

    deletemenuDetail(row) {
      var index = this.c_form.service_item.indexOf(row)
      if (index !== -1) {
        this.c_form.service_item.splice(index, 1)
      }
    },

    uploadCoverFail(err) {
        console.log(err)
    },

    uploadCoverSuccess(data) {
      console.log(data)
    },

    showCopy(id) {
      this.copy_view = true
      this.copy_data.copy_id = id
      this.copy_data.copy_phone = ''
      this.copy_data.copy_role_type = ''
    },

    deleteImg(index, item) {
      this.c_form.pdf_url.splice(index, 1)
    },

    copy(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.phoneCheck===false) {
            this.operationMsg('手机号不可用', 'error')
            return false
          }
          supplierApi.copyOne(this.copy_data).then(response => {
            this.operationMsg('新建成功，请尽快修改其他信息', 'success')
            this.search()
            this.copy_view = false
          }).catch(() => {})
        }
      })

    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>


<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .el-table thead {
      color: #606266;
      font-weight: 600;
  }
  .cell {
    text-align: center;
  }
  .menu {
    margin-left: 10px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .inline-input {
    width: 100%;
  }
</style>
