<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="120px">
      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="真实姓名">
            <el-input v-model="query.name" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="手机号">
            <el-input v-model="query.phone" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="服务商">
            <el-input v-model="query.supplier" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="医院">
            <el-input v-model="query.hospital_id" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="药品">
            <el-input v-model="query.product_id" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="省份">
            <el-input v-model="query.pro" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="状态">
            <el-select v-model="query.status">
              <el-option label="申请中" value="1"/>
              <el-option label="服务中" value="2"/>
              <el-option label="已拒绝" value="3"/>
              <el-option label="已解除" value="4"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="60">
        <el-col :span="18">
          <el-form-item label="结算标识">
            <el-select v-model="query.role_type">
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button type="primary" @click="onSubmit" v-permission="'service:list:search'">搜索</el-button>
          <el-button @click="queryReset" v-permission="'service:list:reset'">重置</el-button>
          <el-button type="primary" @click="exportData" v-permission="'service:list:export'">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" width="80px"></el-table-column>
      <el-table-column prop="name" label="真实姓名" width="180px" align="center">
        <template slot-scope="{row}">
          {{ row.name }}
          <div>
            <el-tag v-if="row.supplier_type==1" size="mini" effect="dark">公司服务商</el-tag>
            <el-tag v-if="row.supplier_type==2" size="mini" effect="dark">个人服务商</el-tag>
            <el-tag style="margin-left: 5px;" v-if="row.is_leader==0" size="mini" effect="plain" type="success">成员</el-tag>
            <el-tag style="margin-left: 5px;" v-if="row.is_leader==1" size="mini" effect="plain" type="success">管理员</el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="mobile_num" label="手机号" align="center"></el-table-column>
      <el-table-column prop="supplier_id" label="服务商ID" align="center"></el-table-column>
      <el-table-column prop="supplier" label="服务商" align="center"></el-table-column>
      <el-table-column prop="company" label="所属公司" align="center"></el-table-column>
      <el-table-column prop="product" label="药品" align="center"></el-table-column>
      <el-table-column prop="hospital" label="医院" align="center"></el-table-column>
      <el-table-column prop="pro" label="省份" align="center"></el-table-column>
      <el-table-column prop="type" label="申请类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.type==1">页面申请</template>
          <template v-if="row.type==2">群组分配</template>
        </template>
      </el-table-column>
      <el-table-column prop="role_type" label="结算标识" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.role_type==1" size="mini" effect="dark">英联销售团队</el-tag>
          <el-tag v-if="row.role_type==2" size="mini" effect="dark">优锐商务团队</el-tag>
          <el-tag v-if="row.role_type==3" size="mini" effect="dark">优锐市场团队</el-tag>
          <el-tag v-if="row.role_type==4" size="mini" effect="dark">优锐销售团队</el-tag>
          <el-tag v-if="row.role_type==5" size="mini" effect="dark">优药销售团队</el-tag>
		  <el-tag v-if="row.role_type==6" size="mini" effect="dark">曙新区域代理商</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="状态" align="center">
        <template slot-scope="{row}">
          <div v-if="row.status==1" class="status_apply">申请中</div>
          <div v-if="row.status==2" class="status_server">服务中</div>
          <div v-if="row.status==3" class="status_refuse">已拒绝</div>
          <div v-if="row.status==4" class="status_cancel">已解除</div>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="状态" align="center">
        <template slot-scope="{row}">
          <el-col :span="23">
            <el-button v-permission="'service:list:agreement'" size="mini" @click="showAgreement(row.user_id)">协议</el-button>
          </el-col>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="180px" align="center">
        <template slot-scope="{row}">
          <el-row v-if="row.status==1">
            <el-col :span="12">
              <el-popconfirm
                title="确定要通过吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="passOrRefuse(row.id,2)"
              >
                <el-button slot="reference" v-permission="'service:list:pass'" type="primary" size="mini">通过</el-button>
              </el-popconfirm>
            </el-col>
            <el-col :span="12">
              <el-popconfirm
                title="确定要拒绝吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="passOrRefuse(row.id,3)"
              >
                <el-button slot="reference" v-permission="'service:list:pass'" type="danger" size="mini">拒绝</el-button>
              </el-popconfirm>
            </el-col>
          </el-row>
          <el-row v-if="row.status==2">
            <el-col :span="24">
              <el-popconfirm
                title="确定要解绑吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="passOrRefuse(row.id,4)"
              >
                <el-button slot="reference" v-permission="'service:list:pass'" type="danger" size="mini">解绑</el-button>
              </el-popconfirm>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-drawer size="40%" title="协议信息" :visible.sync="drawer" direction="rtl">
      <el-descriptions size="medium" :column="col" border style="margin-top: 10px;">
        <el-descriptions-item label="服务商:">{{supplier.title}}</el-descriptions-item>
        <el-descriptions-item label="服务商所属公司:">{{supplier.company}}</el-descriptions-item>

        <el-descriptions-item label="代理产品:">
          <el-link
               v-for="(item,index) in supplier.products"
               :key="index"
               type="primary" style="margin-right:0.5em;">{{ item }}</el-link>
        </el-descriptions-item>
        <el-descriptions-item label="服务医院:">
          <div
               v-for="(item,index) in supplier.hospitals"
               :key="index"
               type="primary" style="margin-right:0.5em;">{{ item }}</div>
        </el-descriptions-item>
        <el-descriptions-item label="服务区域:">
          <div
               v-for="(item,index) in supplier.areas"
               :key="index"
               type="primary" style="margin-right:0.5em;">{{ item }}</div>
        </el-descriptions-item>
        <el-descriptions-item label="服务商管理员:">{{ supplier.admin }}</el-descriptions-item>
        <el-descriptions-item label="服务商PDF:">
          <a :href="supplier.pdf_url" target="_blank" style="color: #1890ff;">{{ supplier.pdf_url }}</a>
        </el-descriptions-item>
      </el-descriptions>
    </el-drawer>
  </div>
</template>

<script>
import * as serviceApi from '@/api/supplier/service'
import { types } from '@/api/youyao/user'
import Pagination from '@/components/Pagination'

export default {
  name: 'Service',
  components: { Pagination },
  data() {
    return {
      typeList: [],
      // 搜索条件
      query: {
        name: '',
        phone: '',
        supplier: '',
        hospital_id: '',
        product_id: '',
        pro: '',
        status: '',
        role_type: '',
        page: 1,
        page_size: 20,
      },
      //loading控制
      loading: true,
      // 列表数据
      list: [],
      //列表数量
      total: 0,
      col: 1,
      drawer: false,
      supplier: {}
    }
  },
  created() {
    this.getType()
    this.search()
  },
  methods: {
    getType() {
      types().then(response => {
        this.typeList = response.data
      })
    },

    search() {
      serviceApi.searchServiceList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    passOrRefuse(id, status) {
      serviceApi.passOrRefuse({
        id: id,
        chose: status
      }).then(response => {
        this.search()
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showAgreement(user_id) {
      serviceApi.getSupplierInfo({ user_id: user_id }).then(response => {
        if (response.code==20000) {
          this.supplier = response.data
          this.drawer = true
        }
      }).catch(() => {})
    },

    exportData() {
      serviceApi.exportServerInfo(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    queryReset() {
      this.query =  {
        name: '',
        phone: '',
        supplier: '',
        hospital_id: '',
        product_id: '',
        pro: '',
        status: '',
        role_type: '',
        page: 1,
        page_size: 20,
      }
    }
  }
}
</script>


<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .el-table thead {
      color: #606266;
      font-weight: 600;
  }
  .cell {
    text-align: center;
  }
  .menu {
    margin-left: 10px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .inline-input {
    width: 100%;
  }
  .status_apply {
    color: #13ce66;
  }
  .status_server {
    color: #1890ff;
  }
  .status_refuse {
    color: #ff4949;
  }
  .status_cancel {
    color: #ff4949;
  }
</style>
