<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right">

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="所属公司" label-width="80px">
            <el-input v-model="query.company_id" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="服务商" label-width="80px">
            <el-input v-model="query.supplier_id" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="代表手机" label-width="80px">
            <el-input v-model="query.phone" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="9">
          <el-form-item label="拜访类型" label-width="80px">
            <el-select v-model="query.visit_type" placeholder="请选择">
              <el-option label="面对面拜访" value="1" />
              <el-option label="线上拜访" value="2" />
              <el-option label="内部会议" value="3" />
              <el-option label="外部会议" value="4" />
              <el-option label="行政类工作" value="5" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="服务类型" label-width="80px">
            <el-select v-model="query.hospital_type" placeholder="请选择">
              <el-option label="医院拜访" value="1" />
              <el-option label="药店拜访" value="2" />
              <el-option label="商业会议" value="3" />
              <el-option label="其他" value="4" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="签入时间" label-width="80px">
            <el-date-picker
              v-model="check_in_time"
              style="width: 100%;"
              placeholder="签入时间"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              value-format="yyyy-MM-dd HH:mm:ss"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="签出时间" label-width="80px">
            <el-date-picker
              v-model="check_out_time"
              style="width: 100%;"
              placeholder="签出时间"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              value-format="yyyy-MM-dd HH:mm:ss"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="结算标识" label-width="80px">
            <el-select v-model="query.role_type">
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="30">
        <el-col :span="18">
          <el-form-item label="服务状态" label-width="80px">
            <el-select v-model="query.is_deleted">
              <el-option
                v-for="item in deletedList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'supplier:visit:search'" type="primary" @click="onSubmit">搜索</el-button>
          <el-button v-permission="'supplier:visit:reset'" @click="queryReset">重置</el-button>
          <el-button v-permission="'supplier:visit:agentExport'" type="primary" @click="agentExport">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: 15px;display: flex;">
      <el-button v-permission="'supplier:visit:cancelSelect'" @click="calcelSelect">取消全选</el-button>
      <el-button v-permission="'supplier:visit:updateState'" type="primary" @click="showNoteDialog">批量修改</el-button>
      <el-upload
        ref="upload"
        style="margin-left: 10px;"
        class="upload-demo"
        action="#"
        :auto-upload="true"
        :on-error="uploadError"
        :on-change="handleChange"
        :http-request="stateUpload"
      >
        <el-button slot="trigger" v-permission="'supplier:visit:uploadState'" type="primary">上传更新</el-button>
      </el-upload>
    </div>

    <el-progress
      v-show="progressShow"
      :text-inside="true"
      :stroke-width="24"
      :percentage="progressPercent"
      status="success"
    />

    <el-alert
      v-show="alertShow"
      class="alertText"
      :title="alertText"
      :type="alertType"
      show-icon
    />

    <el-dialog width="40%" title="状态修改" :visible.sync="noteDialog" append-to-body>
      <el-form ref="noteList" :model="noteList" label-position="right" label-width="80px" class="demo-ruleForm">
        <el-form-item label="状态选择">
          <el-switch
            v-model="noteList.visit_eff"
            active-text="有效拜访"
            inactive-text="无效拜访"
          />
        </el-form-item>

        <el-form-item label="备注">
          <el-input
            v-model="noteList.note"
            type="textarea"
            :rows="2"
            placeholder="请输入备注"
          />
        </el-form-item>

        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="updateVisitEff">修改</el-button>
          <el-button @click="noteDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-table
      ref="checkTable"
      v-loading="loading"
      :data="list"
      :row-key="handleReserve"
      stripe
      border
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" fixed="left" type="selection" width="55" reserve-selection />
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="org_type" label="服务类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.org_type===1">医院拜访</template>
          <template v-else-if="row.org_type===2">药店拜访</template>
          <template v-else-if="row.org_type===3">商业拜访</template>
          <template v-else-if="row.org_type===4">其他</template>
        </template>
      </el-table-column>
      <el-table-column prop="supplier_id" label="服务商ID" align="center" />
      <el-table-column prop="title" label="服务商名称" align="center" />
      <el-table-column prop="is_deleted" label="服务状态" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.is_deleted==0" size="mini" type="success">服务中</el-tag>
          <el-tag v-if="row.is_deleted==1" size="mini" type="danger">已解散</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="代表名称" align="center" />
      <el-table-column prop="phone" label="代表手机号" align="center" />
      <el-table-column prop="visit_type" label="拜访类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.visit_type===1">面对面拜访</template>
          <template v-else-if="row.visit_type===2">线上拜访</template>
          <template v-else-if="row.visit_type===3">内部会议</template>
          <template v-else-if="row.visit_type===4">外部会议</template>
          <template v-else>行政类工作</template>
        </template>
      </el-table-column>
      <el-table-column prop="check_in_time" label="签入时间" align="center" />
      <el-table-column prop="check_out_time" label="签出时间" align="center" />
      <el-table-column prop="hospital_id" label="拜访医院ID" align="center" />
      <el-table-column prop="hospital_name" label="拜访医院" align="center" />
      <el-table-column prop="visit_state" label="拜访状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.visit_state===0">有效拜访</template>
          <template v-else-if="row.visit_state===1">无效拜访</template>
        </template>
      </el-table-column>
      <el-table-column prop="role_type" label="结算标识" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.role_type==1" size="mini" effect="dark">英联销售团队</el-tag>
          <el-tag v-if="row.role_type==2" size="mini" effect="dark">优锐商务团队</el-tag>
          <el-tag v-if="row.role_type==3" size="mini" effect="dark">优锐市场团队</el-tag>
          <el-tag v-if="row.role_type==4" size="mini" effect="dark">优锐销售团队</el-tag>
          <el-tag v-if="row.role_type==5" size="mini" effect="dark">优药销售团队</el-tag>
		  <el-tag v-if="row.role_type==6" size="mini" effect="dark">曙新区域代理商</el-tag>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as importApi from '@/api/import/import'
import * as sVisitApi from '@/api/supplier/visit'
import * as visitApi from '@/api/visit/visit'
import { types } from '@/api/youyao/user'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'

export default {
  name: 'SupplierAgent',
  components: { Pagination },
  data() {
    return {
      typeList: [],
      deletedList: [
        { id: 0, type: '服务中' },
        { id: 1, type: '已解散' }
      ],
      // 签入时间
      check_in_time: null,
      // 签出时间
      check_out_time: null,
      // 搜索条件
      query: {
        company_id: '',
        supplier_id: '',
        phone: '',
        visit_type: '',
        hospital_type: '',
        check_in_start_time: '',
        check_in_end_time: '',
        check_out_start_time: '',
        check_out_end_time: '',
        role_type: '',
        is_deleted: 0,
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      checkedIds: [],
      noteDialog: false,
      noteList: {
        visit_eff: true,
        note: ''
      },

      progressShow: false,
      progressPercent: 0,

      alertShow: false,
      alertText: '',
      alertType: 'error',
    }
  },
  created() {
    this.getType()
    this.search()
  },
  methods: {
    getType() {
      types().then(response => {
        this.typeList = response.data
      })
    },

    search() {
      this.loading = true
      if (this.check_in_time !== null) {
        this.query.check_in_start_time = this.check_in_time[0]
        this.query.check_in_end_time = this.check_in_time[1]
      }
      if (this.check_out_time !== null) {
        this.query.check_out_start_time = this.check_out_time[0]
        this.query.check_out_end_time = this.check_out_time[1]
      }
      sVisitApi.searchVisit(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
      this.check_in_time = null
      this.check_out_time = null
      this.query = {
        company_yyid: '',
        supplier_id: '',
        visit_type: '',
        hospital_type: '',
        check_in_start_time: '',
        check_in_end_time: '',
        check_out_start_time: '',
        check_out_end_time: '',
        role_type: '',
        is_deleted: '',
        page: 1,
        page_size: 20
      }
    },

    agentExport() {
      if (this.check_in_time !== null) {
        this.query.check_in_start_time = this.check_in_time[0]
        this.query.check_in_end_time = this.check_in_time[1]
      }
      if (this.check_out_time !== null) {
        this.query.check_out_start_time = this.check_out_time[0]
        this.query.check_out_end_time = this.check_out_time[1]
      }
      sVisitApi.exportVisit(this.query).then((response) => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id, 'success')
        }
      }).catch(function(error) {
        console.log(error)
      })
    },

    calcelSelect() {
      this.$refs.checkTable.clearSelection()
    },

    showNoteDialog() {
      if (this.checkedIds.length !== 0) {
        this.noteList = {
          visit_eff: true,
          note: ''
        }
        this.noteDialog = true
      }
    },

    uploadError(err, file, fileList) {
      this.alertType = 'error'
      this.alertText = '上传失败'
      console.log(err)
    },

    handleChange(file, fileList) {
      this.alertText = ''
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0

      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName !== 'xls' && extName !== 'xlsx') {
        this.alertText = '上传文件只能是 xls、xlsx格式'
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < importApi.fileSize
      if (!isLt1M) {
        this.alertText = '上传文件大小不能超过' + importApi.fileSize + 'MB'
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      if (fileList.length > 0) {
        this.fileList = [fileList[fileList.length - 1]]
      }
    },

    stateUpload(file) {
      var that = this
      that.$refs.upload.clearFiles()
      that.progressPercent = 0
      that.progressShow = true
      var t = setInterval(function() {
        if (that.progressPercent === 90) {
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300)

      const fd = new FormData()
      fd.append('file', file.file)

      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(visitApi.uploadChangeVisitEffState, fd).then(function(response) {
        setTimeout(function() {
          if (response.data.code === 20000) {
            that.progressPercent = 100
            that.alertText = response.data.data.count1 + '条导入与原数据一致，成功修改' + response.data.data.count + '条数据'
            that.alertType = 'success'
          } else {
            that.alertText = response.data.msg
            that.alertType = 'error'
          }
          that.alertShow = true
          that.progressShow = false
          that.search()
        }, 3000)
      })
    },

    updateVisitEff() {
      var query = {
        visit_id: this.checkedIds,
        visit_state: this.noteList.visit_eff,
        visit_comment: this.noteList.note
      }
      visitApi.updateVisitEffState(query).then(response => {
        if (response.code === 20000) {
          this.noteDialog = false
          this.operationMsg('修改成功！', 'success')
          this.search()
          this.$refs.checkTable.clearSelection()
        }
      }).catch(() => {})
    },

    handleReserve(row) {
      return row.id
    },

    handleSelectionChange(val) {
      var ids = []
      for (var i = 0; i < val.length; i++) {
        ids.push(val[i].id)
      }
      this.checkedIds = ids
      console.log(this.checkedIds)
    },

    // 消息提示
    operationMsg(message, type) {
      console.log(this)
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }

  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }

  .mylabel {
    font-size: 1.2em;
    font-weight: bold;
  }

  .mycontent {
    font-size:1.1em;
  }
</style>
