<template>
     <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="1">
               <el-form ref="form" label-width="160px">
                    <el-form-item label="上传数据文件:">
                         <el-col :xl="12" :span="22">
                              <upload-file
                              :type="upload.type"
                              :business="upload.business"
                              :upload-list.sync="fileList"
                              :show-list="true"
                              :limit="upload.limit"
                              @uploadFail="uploadFail"
                              @deleteFile="deleteFile"
                              />
                         </el-col>
                    </el-form-item>
                   <el-form-item class="bottom">
                        <el-button type="primary" @click="uploadVisit" :disabled="isDisabled">提 交</el-button>
                   </el-form-item>
               </el-form>
          </el-col>
     </el-row>
</template>
<script>
import UploadFile from '@/components/Upload';
import { visitGpsReCheck } from '@/api/import/import';

export default {
     components: {UploadFile},
     data:() => {
          return {
               upload: {
                    type: 2,
                    business: "visit",
                    limit: 1
               },
               fileList: [],
          }
     },
     methods: {
           uploadVisit: function() {
               if (this.$data.fileList.length == 0) {
                    alert("未上传文件")
               }
               let file = this.$data.fileList[0]
               let fileId = file.id
               let fileUrl = file.url

               visitGpsReCheck(fileId, fileUrl)
                    .then(resp => {
                         //跳转到任务列表页
                         this.notifyOperateSuccess("任务添加成功")
                         this.$router.push({name: 'TaskList', query: {type: 2}})
                    })
          },
          notifyOperateSuccess: function(msg) {
               this.$notify({
               title: '操作成功',
               message: msg,
               type: 'success'
               })
          },
          deleteFile: function(index, file) {
               this.$data.fileList.splice(index, 1);
          },
          uploadFail: function(err) {
                    
          },
     },
     computed: {
          isDisabled: function() {
               console.log(this.$data.fileList)
               return this.$data.fileList.length == 0
          },
     }
};

</script>

<style scoped>
.top {
     margin-top: 25px;
}
.bottom {
     margin-top: 40px;
}
</style>
