<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="17">
          <el-form-item label="药店编号">
            <el-input v-model="query.number" placeholder="请输入药店编号"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="药店名称">
            <el-input v-model="query.keyword" placeholder="请输入药店名称"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="匹配状态">
            <el-select
              v-model="query.co"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in coList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="展示状态">
            <el-select
              v-model="query.show"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in showList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="1">
          <el-button v-permission="'store:list:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'store:list:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button v-permission="'store:list:export'" style="margin-left: 20px;" type="primary" @click="exportSign">导出数据</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      :data="dataList"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="id" fixed="left" label="ID" width="80" align="center" />
      <el-table-column prop="yy_store_id" label="医院库ID" width="80" align="center" />
      <el-table-column prop="area_name" label="地区" width="80" align="center" />
      <el-table-column prop="pro_name" label="省份/直辖市" width="80" align="center" />
      <el-table-column prop="city_name" label="城市" width="80" align="center" />
      <el-table-column prop="main_store_name" label="总店" align="center" />
      <el-table-column prop="main_store_number" label="总店编号" width="90" align="center" />
      <el-table-column prop="store_name_alias" label="药店名称" align="center" />
      <el-table-column prop="store_name" label="药店短名称" align="center" />
      <el-table-column prop="number" label="药店编号" width="90" align="center" />
      <el-table-column prop="phone" label="联系电话" width="120" align="center" />
      <el-table-column prop="location" label="地址" width="80" align="center">
        <template slot-scope="{row}">
          <el-popover
            placement="top-start"
            trigger="hover"
            :content="row.location">
            <el-button slot="reference" type="text">查看</el-button>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="匹配状态" width="80" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.status===1" size="mini" effect="dark" type="success">已匹配</el-tag>
          <el-tag v-else size="mini" effect="dark">未匹配</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_show" label="是否展示" width="80" align="center">
        <template slot-scope="{row}">
          <template v-if="row.is_show===1">是</template>
          <template v-else>否</template>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="创建时间" width="100" align="center" />
    </el-table>

    <Pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as storeApi from '@/api/pharmacy/store'

export default {
  name: 'List',
  components: { Pagination },
  data() {
    return {
      query: {
        number: '',
        keyword: '',
        co: '',
        show: '',
        page: 1,
        page_size: 20
      },
      loading: false,
      dataList: [],
      total: 0,
      coList: [
        { id: 1, value: '已匹配' },
        { id: 2, value: '未匹配' }
      ],
      showList: [
        { id: 1, value: '已展示' },
        { id: 0, value: '未展示' },
      ]
    }
  },
  created() {
    this.search()
  },

  methods: {
    search() {
      this.loading = true
      storeApi.getList(this.query).then(response => {
        this.dataList = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    exportSign() {
      storeApi.exportList(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {})
    },

    queryReset() {
      this.query = {
        number: '',
        keyword: '',
        co: '',
        show: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
