<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" style="margin-top: 50px">
      <el-steps :active="active" simple>
        <el-step title="上传名单" icon="el-icon-edit" />
        <el-step title="提交任务" icon="el-icon-upload" />
        <el-step title="等待结果" icon="el-icon-right" />
      </el-steps>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top:40px;">
      <el-row :gutter="10">
        <el-col :span="8" align="center">
          <upload-file
            :type="upload.type"
            :business="upload.business"
            :upload-list.sync="imgList"
            :show-list="true"
            :limit="1"
            list-type="text"
            @uploadFail="uploadFail"
            @uploadSuccess="uploadSuccess"
            @deleteFile="delFile"
          />
        </el-col>
        <el-col :span="8" align="center">
          <el-button type="danger" :disabled="isCommitDisabled" @click="putTask">提&nbsp;&nbsp;交</el-button>
        </el-col>
        <el-col :span="8" align="center">
          <el-button type="success" :disabled="task_id == 0" @click="goTask">前往任务列表</el-button>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</template>

<script>
import { exportPatientTicket } from '@/api/pharmacy/agent'
import UploadFile from '@/components/Upload'
export default {
  components: { UploadFile },
  data: function() {
    return {
      upload: {
        type: 2,
        business: 'pharmcyticket'
      },
      imgList: [],
      active: 1,
      isGoTask: false,
      task_id: 0
    }
  },
  computed: {
    isCommitDisabled: function() {
      return this.$data.task_id > 0 || this.$data.imgList.length == 0
    }
  },
  methods: {
    uploadFail(reason) {
      console.log(reason)
    },
    uploadSuccess(data) {
      console.log(data)
      this.$data.active = 2
    },
    delFile(item) {
      console.log(item)
      this.$data.imgList = []
      this.$data.active = 1
    },
    putTask() {
      if (this.$data.imgList.length != 1) {
        this.notifyOperateFail('名单excel尚未上传，无法提交任务')
        return false
      }
      const uploadId = this.$data.imgList[0].id
      exportPatientTicket(uploadId)
        .then(resp => {
          this.notifyOperateSuccess('任务提交成功')
          this.$data.task_id = resp.data.id
          this.$data.active = 3
        })
    },
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    notifyOperateFail: function(msg) {
      this.$notify({
        title: '操作失败',
        message: msg,
        type: 'error'
      })
    },
    goTask() {
      if (this.$data.task_id > 0) {
        this.$router.push({
          name: 'TaskList',
          query: { type: 27 }
        })
      }
    }
  }
}
</script>

<style>

</style>
