<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="直播名称">
            <el-select
              v-model="query.p_id"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in liveList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="省份">
            <el-select
              v-model="query.province"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.province"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="科室">
            <el-select
              v-model="query.depart"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in departList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="产品">
            <el-select
              v-model="query.product"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in productList"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="区域">
            <el-select
              v-model="query.location"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in locationList"
                :key="item.id"
                multiple
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="服务商">
            <el-select
              v-model="query.dealer_id"
              filterable
              remote
              reserve-keyword
              placeholder="默认全部"
              :remote-method="searchDealer"
            >
              <el-option
                v-for="item in Dealers"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="项目类型">
            <el-select
              v-model="query.type1"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types1"
                :key="item.id"
                multiple
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="项目名称">
            <el-select
              v-model="query.type2"
              multiple
              filterable
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types2"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="10">
          <el-form-item label="邀请人">
            <el-input v-model="query.inviter" placeholder="请输入姓名或手机号" />
          </el-form-item>
        </el-col>

        <el-col :span="10">
          <el-form-item label="结算标识">
            <el-select v-model="query.role_type_id" placeholder="请选择结算标识">
              <el-option label="全部" value="0" />
              <el-option
                v-for="item in typeList"
                :key="item.id"
                :label="item.type"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="开播时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开播时间"
              end-placeholder="开播时间"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="报名时间">
            <el-date-picker
              v-model="query.registration_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="报名时间"
              end-placeholder="报名时间"
            />
          </el-form-item>
        </el-col>

        <el-col :span="3" :offset="1">
          <el-button v-permission="'oldsheet:live:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'oldsheet:live:reset'" style="margin-left: 20px;" @click="reset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div>
      <el-button v-permission="'oldsheet:live:exp'" type="primary" @click="bexport">导出数据</el-button>
    </div>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column
        v-for="(item, index) in keyHead"
        :key="index"
        :label="item.title"
        :prop="item.value"
      />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as signInfoApi from '@/api/signSheet/signInfo'
import * as oldSignInfoApi from '@/api/signSheet/signInfoold'
import Pagination from '@/components/Pagination'
import * as liveApi from '@/api/live/live'
import * as meetingPlan from '@/api/live/meetingPlan'
import { types } from '@/api/youyao/user'

export default {
  name: 'OldLiveSignInfo',
  components: { Pagination },
  data() {
    return {
      loading: true,
      keyHead: [],
      areaList: [],
      provinceList: [],
      departList: [],
      productList: [],
      locationList: [
        { id: 2, value: '中央' },
        { id: 1, value: '区域' }
      ],
      types1: [],
      types2: [],
      query: {
        p_id: [],
        area: [],
        province: [],
        depart: [],
        product: [],
        location: [],
        type1: [],
        type2: [],
        page: 1,
        page_size: 20,
        start_time: null,
        inviter: '',
        role_type_id: '',
        registration_time: null,
        dealer_id: ''
      },
      liveList: [],
      list: [],
      total: 0,
      typeList: [],
      dealers: []
    }
  },

  watch: {
    'query.area'(newVal, oldVal) {
      if (newVal !== undefined && newVal !== '' && newVal !== 0 && newVal !== null && newVal.length !== 0) {
        meetingPlan.getProvince({ area_id: newVal }).then(response => {
          this.provinceList = response.data
        }).catch(() => {})
      }
    },
    'query.type1'(newVal, oldVal) {
      if (newVal !== undefined && newVal !== '' && newVal !== 0 && newVal !== null && newVal.length !== 0) {
        meetingPlan.getType2({ type1_id: newVal }).then(response => {
          this.types2 = response.data
        }).catch(() => {})
      }
    }
  },

  created() {
    this.getLiveList()
    this.getArea()
    this.getDepart()
    this.getProducts()
    this.getType1()
    this.search()
    this.getType()
  },

  methods: {

    // 远程查找
    searchDealer(cb) {
      signInfoApi.searchDealer(cb, 10)
        .then(resp => {
          this.dealers = resp.data
        })
    },

    getType() {
      types().then(response => {
        this.typeList = response.data
      })
    },

    getLiveList() {
      signInfoApi.liveList().then(response => {
        this.liveList = response.data
      }).catch(() => {})
    },

    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    getDepart() {
      liveApi.getDepart().then(response => {
        if (response.code === 20000) {
          this.departList = response.data
        }
      }).catch(() => {})
    },

    getProducts() {
      liveApi.product().then(response => {
        if (response.code === 20000) {
          this.productList = response.data
        }
      }).catch(() => {})
    },

    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    search() {
      this.loading = true
      oldSignInfoApi.liveSignInfo(this.query).then(response => {
        this.keyHead = response.data.key_head
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    reset() {
      this.query = {
        p_id: [],
        area: [],
        province: [],
        depart: [],
        product: [],
        location: [],
        type1: [],
        type2: [],
        page: 1,
        page_size: 20,
        start_time: null,
        inviter: '',
        role_type_id: '',
        registration_time: null,
        dealer_id: ''
      }
    },

    bexport() {
      oldSignInfoApi.liveSignInfoExport(this.query).then(response => {
        this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
