<template>
  <div class="app-container">

    <el-form ref="form"  label-width="80px">

      <el-row :gutter="60">

        <el-col :span="10">
          <el-form-item label="日期范围">
            <el-date-picker
              style="width: 100%;"
              placeholder="日期范围"
              type="monthrange"
              v-model="query.daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>

        <el-col :span="10">
          <el-button type="primary" @click="onSubmit"  v-permission="'agent:list:search'">搜索</el-button>
          <el-button type="primary" style="margin-left: 20px;"  @click="onExport" v-permission="'agent:list:agentExport'">结果导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="height: 50px;width: 100%;"></div>


    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="dateof" label="年月" align="center"></el-table-column>
      <el-table-column prop="doctor_info_nickname" label="医生昵称" align="center"></el-table-column>
      <el-table-column prop="doctor_info_name" label="真实姓名" align="center"></el-table-column>
      <el-table-column prop="hospital_province_name" label="省份" align="center"></el-table-column>
      <el-table-column prop="hospital_city_name" label="城市" align="center"></el-table-column>
      <el-table-column prop="doctor_info_id" label="医生编号" align="center"></el-table-column>
      <el-table-column prop="doctor_info_real_name" label="医生名字" align="center"></el-table-column>
      <el-table-column prop="hospital_id" label="医院编号" align="center"></el-table-column>
      <el-table-column prop="hospital_name" label="医院名称" align="center"></el-table-column>
      <el-table-column prop="agent_code" label="代表工号" align="center"></el-table-column>
      <el-table-column prop="agent_name" label="代表名字" align="center"></el-table-column>
      <el-table-column prop="get_point" label="积分获得" align="center"></el-table-column>
      <el-table-column prop="balance_point" label="当前积分余额" align="center"></el-table-column>
      <el-table-column prop="history_usage_point" label="已使用积分" align="center"></el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import * as importApi from '@/api/import/import'
import * as doctorPointApi from '@/api/point/doctor'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import Pagination from '@/components/Pagination'
import {doctorPointSearch, getStoreCity} from "@/api/point/doctor";
import * as agentApi from "@/api/agent/situation";

export default {
  name: 'doctor_point',
  components: { Pagination },
  data() {
    return {
      storeProvinceName: "", // 省份的名称
      storeProvinceList: [], // 省份的数据

      storeCityName: "", // 城市的名称
      storeCityList: [], // 城市的数据
      // 搜索条件
      query: {
        daterange: null,
        page: 1,
        page_size: 20,
      },
      //loading控制
      loading: true,
      // 列表数据
      list: [],
      //列表数量
      total: 0,
    }
  },
  created() {
    this.search()
    this.getStoreProvince()
  },
  methods: {

    // 获取省份数据
    getStoreProvince() {
      doctorPointApi.getStoreProvince().then(response => {
        if (response.code==20000) {
          this.storeProvinceList = response.data
        }
      }).catch(() => {})
    },
    // 渲染省份数据
    storeProvinceSearch(queryString, cb){
      var list = this.storeProvinceList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    changeStoreProvinceSelect(item) {
      this.storeCityName = "";
      this.getstoreCity(item.id);
      this.query.pro_id = item.id;
    },

    // 根据省份id获取城市数据
    getstoreCity(pro_id) {
      doctorPointApi.getStoreCity(pro_id).then(response => {
        if (response.code==20000) {
          this.storeCityList = response.data
        }
      }).catch(() => {})
    },

    // 渲染城市数据
    storeCitySearch(queryString, cb){
      var list = this.storeCityList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },

    changeStoreCitySelect(item) {
      this.query.city_id = item.id;
    },

    createFilter(queryString) {
      var ok = (list) => {
        var r = (list.value.indexOf(queryString) === 0);
        console.log('createFilterRRRR==', r);
        return r;
      };
      console.log('createFilter==', ok);
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },


    search() {
      var searchData = '';
      if(this.storeProvinceName == false){
        this.query.pro_id = "";
        this.query.city_id = "";
      }

      if(this.storeCityName == false){
        this.query.city_id = "";
      }

      for(var i in this.query){

        if(this.query[i] != '' && this.query[i] != null){
          // 进行拆分处理
          var keys = i.split('__');
          if(keys.length == 2){
            searchData += keys[0]+'['+keys[1]+']' + '='+ this.query[i]+'&';
          }else{
            searchData += i + '='+ this.query[i]+'&';
          }
        }
      }
      doctorPointApi.doctorPointSearch(searchData).then(response => {
        this.list = response.data.list
        this.total = response.data.count
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    onSubmit() {
      this.search()
    },

    queryReset() {
    },

    onExport() {

      var searchData = '';
      for(var i in this.query){

        if(this.query[i] != '' && this.query[i] != null){
          // 进行拆分处理
          var keys = i.split('__');
          if(keys.length == 2){
            searchData += keys[0]+'['+keys[1]+']' + '='+ this.query[i]+'&';
          }else{
            if(i != 'page' && i != 'page_size'){
              searchData += i + '='+ this.query[i]+'&';
            }

          }
        }
      }

      axios.defaults.headers.common["Authorization"] = getToken();

      console.info(searchData);
      axios.post(
        doctorPointApi.doctorPointExport,
        searchData,
        {responseType:'arraybuffer'}
      ).then(function (response) {
        console.log(response);
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.ms-excel;charset=UTF-8'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function (error) {
        console.log(error)
      })


    },

  },
}
</script>
