<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="平台">
        <el-select v-model="listQuery.user_type" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in userRoleType" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>

      <el-form-item label="制单批次号">
        <el-input v-model="listQuery.batch_num" size="mini" style="width: 130px;" clearable />
      </el-form-item>

      <el-form-item label="支付状态">
        <el-select v-model="listQuery.pay_status" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in PayStatusOptions" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>

      <el-form-item label="制单日期">
        <el-date-picker
          v-model="listQuery.trial_at"
          style="width: 250px;"
          type="daterange"
          align="right"
          size="mini"
          value-format="yyyy-MM-dd"
          unlink-panels
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">查询</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="编号" prop="id" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column label="制单批次号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.batch_num }}</span>
        </template>
      </el-table-column>

      <el-table-column label="制单时间" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>

      <el-table-column label="平台" align="center">
        <template slot-scope="{row}">
          <span v-if="row.user_type == 1">优药</span>
          <span v-else-if="(row.user_type == 2)">优佳医</span>
          <span v-else-if="(row.user_type == 4)">优能汇</span>
        </template>
      </el-table-column>

      <el-table-column label="发放总额（元）" align="center">
        <template slot-scope="{row}">
          <span>{{ row.grant_money * row.total_num }}</span>
        </template>
      </el-table-column>

      <el-table-column label="支付状态" align="center">
        <template slot-scope="{row}">
          <span v-if="row.pay_st == 17">已支付</span>
          <span v-else-if="row.pay_st == 18">支付失败</span>
          <span v-else-if="row.pay_st == 19">未支付</span>
          <span v-else>支付中</span>
        </template>
      </el-table-column>

      <el-table-column label="总记录数" align="center">
        <template slot-scope="{row}">
          <span>{{ row.total_num }}</span>
        </template>
      </el-table-column>

      <el-table-column label="支付成功数" align="center">
        <template slot-scope="{row}">
          <span>{{ row.pay_pass }}</span>
        </template>
      </el-table-column>

      <el-table-column label="支付失败数" align="center">
        <template slot-scope="{row}">
          <span>{{ row.pay_fail }}</span>
        </template>
      </el-table-column>

      <el-table-column label="操作" align="center" width="200px" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="primary" size="mini" @click="DownLoadFinancesList(row.batch_num,$index)">清单下载</el-button>
          <el-button v-if="row.pay_st == 19" type="primary" size="mini" @click="payment(row.batch_num,$index)">支付</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchList" />
  </div>
</template>

<script>
import { PaymentList, fetchStatus, DownLoadFinances, Payment } from '@/api/point/trial'
import axios from 'axios'
import { getToken } from '@/utils/auth'

import Pagination from '@/components/Pagination'

export default {
  name: 'Trials',
  components: { Pagination },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        user_type: undefined,
        pay_status: '',
        batch_num: '',
        trial_at: undefined
      },
      statusOptions: {},
      userRoleType: { 1: '优药', 2: '优佳医', 4: '优能汇' },
      PayStatusOptions: { '17': '已支付', '18': '支付失败', '19': '未支付', '20': '支付中' }
    }
  },
  created() {
    this.fetchStatus()
    this.fetchList()
  },
  methods: {
    DownLoadFinancesList(batch_num) {
      console.log(batch_num)
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        DownLoadFinances,
        { 'batch_num': batch_num },
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },

    fetchStatus() {
      fetchStatus().then(res => {
        this.statusOptions = res.data
      })
    },

    fetchList() {
      this.listLoading = true
      PaymentList(this.listQuery).then(res => {
        this.list = res.data.list
        this.total = res.data.total
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },

    // 支付
    payment(batch_num) {
      this.$confirm('确认对此批次订单进行支付嘛？ 支付后无法撤回！', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Payment(batch_num).then(response => {
          if (response.code === 20000 && response.data.status == 'success') {
            this.msgSuccess('提交成功，转账中...', 'success')
            this.fetchList()
          } else {
            this.msgError(response.data.msg, 'warning')
            this.fetchList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    handleFilter() {
      this.listQuery.page = 1
      this.fetchList()
    }
  }
}
</script>
