<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="商品名称">
        <el-input v-model="listQuery.goods_name" size="mini" style="width: 260px;" clearable />
      </el-form-item>
      <el-form-item label="当前状态">
        <el-select v-model="listQuery.status" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in statusOptions" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button v-permission="'point:goodsExc:search'" type="primary" class="filter-item" icon="el-icon-search" @click="handleFilter">查询</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="编号" prop="id" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="姓名" align="center">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="申请日期" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="商品名称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="兑换数量" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_num }}</span>
        </template>
      </el-table-column>
      <el-table-column label="消耗积分" align="center">
        <template slot-scope="{row}">
          <span>{{ row.money_point }}</span><br>
        </template>
      </el-table-column>

      <el-table-column label="服务积分" align="center">
        <template slot-scope="{row}">
          <span>{{ row.service_point }}</span>
        </template>
      </el-table-column>

      <el-table-column label="当前状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="statusTagMap[row.status]">
            {{ statusOptions[row.status] }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="类型" align="center">
        <template slot-scope="{row}">
          <!-- 1表示 现金 2表示实物  3表示虚拟 -->
          <span v-if="row.goods_type == 1">现金</span>
          <span v-else-if="row.goods_type == 2">实物</span>
          <span v-else>虚拟</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-permission="'point:goodsExc:see'" type="primary" size="mini" style="margin-bottom: 5px;" @click="detail(row.id)">查看</el-button>
          <el-button v-permission="'point:goodsExc:see'" type="primary" size="max" style="margin-bottom: 5px;" @click="serviceDialog(row.uid,row.user_type)">查看服务积分明细</el-button>
          <el-button v-permission="'point:goodsExc:see'" type="primary" size="max" style="margin-bottom: 5px;" @click="consumeDialog(row.uid,row.user_type)">查看消费积分明细</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchList" />

    <el-dialog title="基础信息" :visible.sync="dialogVisible" :before-close="close" width="60%">
      <el-form ref="detailData" label-position="right" style="margin-left: 34px;" :model="detailData" label-width="120px">
        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">申请人：</div></el-col>
          <el-col :span="12"><div class="font">{{ detailData.name }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">兑换前消费积分：</div></el-col>
          <el-col :span="12"><div class="font">{{ Number(detailData.assets_money_point) + Number(detailData.goods_money_point) }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">兑换前服务积分：</div></el-col>
          <el-col :span="12"><div class="font">{{ Number(detailData.assets_service_point) + Number(detailData.goods_service_point) }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">申请时间：</div></el-col>
          <el-col :span="12"><div class="font">{{ detailData.created_at }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">兑换类型：</div></el-col>
          <el-col :span="12">
            <div v-if="detailData.goods_type == 1" class="font">现金</div>
            <div v-else-if="detailData.goods_type == 2" class="font">实物</div>
            <div v-else class="font">虚拟</div>
          </el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">兑换的商品名称：</div></el-col>
          <el-col :span="12"><div class="font">{{ detailData.goods_name }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">兑换的商品数量：</div></el-col>
          <el-col :span="12"><div class="font">{{ detailData.goods_num }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">需要消耗的消费积分：</div></el-col>
          <el-col :span="12"><div class="font">{{ detailData.goods_money_point }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">需要消耗的服务积分：</div></el-col>
          <el-col :span="12"><div class="font">{{ detailData.goods_service_point }}</div></el-col>
        </el-row>

        <el-row :gutter="10" class="margin-bot" style="margin-left: 32px;">
          <el-col :span="6"><div class="font">当前状态：</div></el-col>
          <el-col :span="12">
            <div v-if="detailData.status == 1" class="font">审核中</div>
            <div v-else-if="detailData.status == 2" class="font">已发放</div>
            <div v-else-if="detailData.status == 3" class="font">发放中</div>
            <div v-else>驳回</div>
          </el-col>
        </el-row>

        <el-row v-show="detailData.status==1 || detailData.status==5">
          <el-col :span="20">
            <el-form-item
              label="驳回原因："
              :rules="[
                { message: '驳回原因', trigger: 'change' }
              ]"
            >
              <el-input
                v-model="detailData.trial_reject_reason"
                :disabled="detailData.status>1"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton" style="text-align: center;">
          <el-button v-if="detailData.status == 1" type="primary" @click="submit">审核通过</el-button>
          <el-button v-else type="primary" @click="dialogVisible=false">返回</el-button>
          <el-button v-if="detailData.status == 1" @click="reject(detailData.goods_name)">驳回</el-button>
          <el-button v-else @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog v-if="detailVisible" :visible.sync="detailVisible" :before-close="pointClose" :title="poinTdesc" width="80%">
      <serviceDetail :uid="uid" :pointType="pointType" :uidType="user_type" style="clear: both;" />
    </el-dialog>
  </div>
</template>

<script>
import * as goodsExchange from '@/api/point/goodsExchange'
import Pagination from '@/components/Pagination'
import serviceDetail from './components/serviceDetail'

const statusTagMap = ['', 'warning', '', '', '', 'danger']

export default {
  name: 'Trials',
  components: { Pagination, serviceDetail },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        exchange: 1,
        goods_name: undefined
      },
      detailData: {
        trial_reject_reason: ''
      },
      serviceData: {},
      moneyData: {},
      statusOptions: {},
      statusTagMap,
      dialogVisible: false,
      auditStatus: [],
      detailVisible: false,
      pointType: 1,
      uid: '',
      user_type: '',
      poinTdesc: ''
    }
  },
  created() {
    this.fetchStatus()
    this.fetchList()
  },
  methods: {

    serviceDialog(uid, user_type) {
      this.pointType = 1
      this.detailVisible = true
      this.uid = uid
      this.user_type = user_type
      this.poinTdesc = '服务积分明细'
    },

    consumeDialog(uid, user_type) {
      this.pointType = 2
      this.detailVisible = true
      this.uid = uid
      this.user_type = user_type
      this.poinTdesc = '消费积分明细'
    },

    fetchStatus() {
      goodsExchange.fetchStatus().then(res => {
        this.statusOptions = res.data
        for (let i in res.data) {
          this.auditStatus.push({ 'id': parseInt(i), 'title': res.data[i] })
        }
      })
    },

    fetchList() {
      console.log(this.listQuery)
      // return
      this.listLoading = true
      goodsExchange.fetchList(this.listQuery).then(res => {
        this.list = res.data.list
        this.total = res.data.total
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },

    detailClose() {
      this.detailVisible = false
    },
    closeService() {
      this.dialogSevice = false
    },

    pointClose() {
      this.detailVisible = false
    },

    // 查看
    detail(id) {
      goodsExchange.getDetail(id).then(response => {
        if (response.code === 20000) {
          this.detailData = response.data

          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      goodsExchange.pass(this.detailData.id, 3, '').then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.fetchList()
        }
      }).catch(() => {})
    },

    reject(goods_name) {
      if (!this.detailData.trial_reject_reason) {
        this.operationMsg('驳回时 原因必填！', 'error')
        return
      }
      goodsExchange.pass(this.detailData.id, 5, this.detailData.trial_reject_reason,goods_name).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.fetchList()
        }
      }).catch(() => {})
    },

    close() {
      this.detailData = {}
      this.dialogVisible = false
    },

    handleFilter() {
      this.listQuery.page = 1
      this.fetchList()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>
<style type="text/css">
  .font{
    font-weight: 500;
  }
  .margin-bot{
    margin-bottom: 20px;
  }
</style>
