<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-row>
        <el-col :span="24" style="margin-bottom: 16px;">
          <el-form-item label="商品名称">
            <el-input v-model="listQuery.goods_name" size="mini" style="width: 260px;" clearable />
          </el-form-item>

          <el-form-item>
            <el-button v-permission="'point:goods:search'" type="primary" class="filter-item" icon="el-icon-search" @click="handleFilter">查询</el-button>
          </el-form-item>

          <el-form-item>
            <el-button v-permission="'point:goods:add'" type="primary" class="filter-item" @click="addGoods">新增</el-button>
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="编号" prop="id" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="商品名称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="需要消费积分" align="center">
        <template slot-scope="{row}">
          <span>{{ row.money_point }}</span>
        </template>
      </el-table-column>
      <el-table-column label="需要服务积分" align="center">
        <template slot-scope="{row}">
          <span>{{ row.service_point }}</span>
        </template>
      </el-table-column>
      <el-table-column label="已兑数量" align="center">
        <template slot-scope="{row}">
          <span>{{ row.detail_goods_num }}</span>
        </template>
      </el-table-column>
      <el-table-column label="数量" align="center">
        <template slot-scope="{row}">
          <span>{{ row.total_num | checkNumlist(row.rest_num) }}</span><br>
        </template>
      </el-table-column>

      <el-table-column label="类型" align="center">
        <template slot-scope="{row}">
          <!-- 1表示 现金 2表示实物  3表示虚拟 -->
          <span v-if="row.goods_type == 1">现金</span>
          <span v-else-if="row.goods_type == 2">实物</span>
          <span v-else>虚拟</span>
        </template>
      </el-table-column>

      <el-table-column label="当前状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <span v-if="row.status == 1">在线</span>
          <span v-else>下线</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="200" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'point:goods:see'" type="primary" size="mini" @click="detail(row.id)">查看</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'point:goods:edit'" type="primary" size="mini" @click="edit(row.id)">编辑</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchList" />

    <!-- form 表单 新增/修改 START -->
    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="detailData" label-position="right" :model="detailData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="商品名称"
              prop="goods_name"
              :rules="[
                { required: true, message: '请输入指南名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="detailData.goods_name" placeholder="请输入指南名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="需要的消费积分"
              prop="money_point"
              :rules="[
                { required: true, message: '请输入需要的消费积分', trigger: 'blur' }
              ]"
            >
              <el-input v-model="detailData.money_point" placeholder="请输入需要的消费积分" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="需要的服务积分"
              prop="service_point"
              :rules="[
                { required: true, message: '请输入需要的服务积分', trigger: 'blur' }
              ]"
            >
              <el-input v-model="detailData.service_point" placeholder="请输入需要的服务积分" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="18">
            <el-form-item
              label="商品的数量"
              prop="total_num"
              :rules="[
                { message: '请输入商品的数量', trigger: 'blur' }
              ]"
            >
              <el-input v-model="detailData.total_num" :disabled="infinite" placeholder="请输入商品的数量" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row style="margin: 0px 0px 50px 120px;">
          <el-col :span="6">
            <template>
              <el-checkbox v-model="infinite" @change="changeInfinite">不限</el-checkbox>
            </template>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="12">
            <el-form-item
              label="开始时间"
              prop="start_time"
              :rules="[
                { required: true, message: '请输入开始时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="detailData.start_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="12">
            <el-form-item
              label="结束时间"
              prop="end_time"
              :rules="[
                { required: true, message: '请输入结束时间', trigger: 'blur' }
              ]"
            >
              <el-date-picker
                v-model="detailData.end_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
                :disabled="infiniteDate"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row style="margin: 0px 0px 50px 120px;">
          <el-col :span="6">
            <template>
              <el-checkbox v-model="infiniteDate" @change="changeInfiniteDate">不限时间</el-checkbox>
            </template>
          </el-col>
        </el-row>

        <el-form-item
          label="上线平台"
          prop="platform_name"
          :rules="[
            { required: true, message: '请至少选择一个选择上线平台', trigger: 'blur' }
          ]"
        >
          <el-checkbox-group v-model="detailData.platform_name">
            <el-checkbox label="代表公众号" />
            <el-checkbox label="代表APP" />
            <el-checkbox label="医生公众号" />
            <el-checkbox label="医生APP" />
            <el-checkbox label="医生金币" />
          </el-checkbox-group>
        </el-form-item>

        <el-row>
          <el-col :span="24">
            <el-form-item
              label="当前状态"
              prop="status"
              :rules="[
                { required: true, message: '当前状态', trigger: 'blur' }
              ]"
            >
              <el-select v-model="detailData.status" placeholder="请选择审核状态">
                <el-option v-for="(item, index) in onLineStatus" :key="index" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24">
            <el-form-item
              label="商品类型"
              prop="goods_type"
              :rules="[
                { required: true, message: '商品类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="detailData.goods_type" @change="goodsTypeChange" placeholder="请选择商品类型">
                <el-option v-for="(val, k) in goodsType" :key="k" :label="val.title" :value="val.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="moneyShow">
          <el-col :span="10">
            <el-form-item
              label="现金面值"
              prop="money"
              :rules="[
                { message: '请输入商品现金面值', trigger: 'blur' }
              ]"
            >
              <el-input v-model="detailData.money" placeholder="请输入商品现金面值" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="列表图片"
              prop="goods_pic"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="detailData.goods_pic"
                :uploadData="uploadData"
                :sign="sign.goods_sign"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="商品积分规则"
              :rules="[
                { required: true, message: '商品积分规则', trigger: 'change' }
              ]"
            >
              <el-input
                v-model="detailData.desc"
                :disabled="detailData.desc===false"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->

    <el-dialog title="商品详情" :visible.sync="detailDialogData" :before-close="close" width="80%">
      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">商品名称：</div></el-col>
        <el-col :span="12"><div class="font">{{ detailData.goods_name }}</div></el-col>
      </el-row>
      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">需要的消费积分：</div></el-col>
        <el-col :span="12"><div class="font">{{ detailData.money_point }}</div></el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">需要服务积分：</div></el-col>
        <el-col :span="12"><div class="font">{{ detailData.service_point }}</div></el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">商品数量：</div></el-col>
        <el-col :span="12"><div class="font">{{ detailData.total_num | checkNum(detailData.rest_num) }}</div></el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">开始时间：</div></el-col>
        <el-col :span="12"><div class="font">{{ detailData.start_time }}</div></el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">结束时间：</div></el-col>
        <el-col :span="12"><div class="font">{{ detailData.end_time | checkData }}</div></el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">上线平台：</div></el-col>
        <el-col :span="12">
          <div v-for="(val, k) in detailData.platform_name" :key="k" class="font">{{ val }}</div>
        </el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">上线状态：</div></el-col>
        <el-col :span="12">
          <div v-if="detailData.status==1" class="font">在线</div>
          <div v-else class="font">下线</div>
        </el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">商品类型：</div></el-col>
        <el-col :span="12">
          <div v-if="detailData.goods_type==1" class="font">现金</div>
          <div v-if="detailData.goods_type==2" class="font">实物</div>
          <div v-else class="font">虚拟</div>
        </el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">列表封面：</div></el-col>
        <el-col :span="12">
          <el-image v-for="(item,index) in detailData.goods_pic" :key="index" style="width: 150px; height: 100px" :src="item.url" fit="cover" />
        </el-col>
      </el-row>

      <el-row :gutter="10" class="margin-bot">
        <el-col :span="6"><div class="margin-left font">商品积分规则：</div></el-col>
        <el-col :span="12">
          <div class="font">{{ detailData.desc }}</div>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import * as goodsList from '@/api/point/goodsList'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
const statusTagMap = ['', 'warning', '', '', '', 'danger']

export default {
  name: 'Trials',
  components: { Pagination, ImgUpload },
  filters: {
    checkNum(total_num, rest_num) {
      if (total_num !== 0 && total_num != null) {
        return total_num
      } else {
        return '不限'
      }
    },
    checkNumlist(total_num, rest_num) {
      if (total_num !== 0 && total_num != null) {
        return rest_num + '/' + total_num
      } else {
        return '不限'
      }
    },
    checkData(end_time) {
      if (end_time == null) {
        return '不限'
      } else {
        return end_time
      }
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        page_size: 20,
        exchange: 1,
        goods_name: undefined
      },
      detailData: {
        platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP', '医生金币'],
        id: 0,
        goods_pic: [],
        goods_type: 1,
        status: 1,
        service_point: '',
        money_point: '',
        end_time: '',
        total_num: '',
        money: 0
      },
      infinite: false,
      infiniteDate: false,
      statusOptions: {},
      statusTagMap,
      detailTitle: '',
      dialogVisible: false,
      detailDialogData: false,
      onLineStatus: [{ 'id': 1, 'title': '上线' }, { 'id': 0, 'title': '下线' }],
      goodsType: '',
      // 七牛云上传
      sign: {
        goods_sign: 'goods_sign'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      moneyShow: true
    }
  },
  created() {
    this.fetchList()
    this.getToken()
  },
  methods: {

    goodsTypeChange(tp){
      if(tp == 1){
        this.moneyShow = true
      }else{
        this.moneyShow = false
      }
    },
    changeInfinite() {
      this.detailData.goods_num = ''
      this.detailData.total_num = ''
    },

    changeInfiniteDate() {
      this.detailData.end_time = ''
    },

    setImg(data) {
      this.detailData.goods_pic = data.imgList
    },

    // 获取token
    getToken() {
      goodsList.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    addGoods() {
      this.dialogVisible = true
    },

    fetchList() {
      this.listLoading = true
      goodsList.fetchList(this.listQuery).then(res => {
        this.list = res.data.list
        this.goodsType = res.data.goods_type
        this.total = res.data.total
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },

    detailClose() {
      this.detailVisible = false
    },

    // 查看
    detail(id) {
      goodsList.getDetail(id).then(response => {
        if (response.code === 20000) {
          this.detailData = response.data
          this.detailDialogData = true
        }
      }).catch(() => {})
    },

    edit(id) {
      goodsList.getDetail(id).then(response => {
        if (response.code === 20000) {
          this.detailData = response.data
          if(response.data.goods_type == 1){
              this.moneyShow = true
          }else{
            this.moneyShow = false
          }
          if (response.data.end_time == null) {
            this.infiniteDate = true
          }
          if (response.data.total_num == null) {
            this.infinite = true
          }
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      console.log(this.detailData)
      if(this.detailData.goods_type == 1){
        if(this.detailData.money <= 1){
          this.operationMsg('现金类型必须填写金额面值且不可小于1元', 'error')
          return false
        }
      }
      goodsList.edit(this.detailData).then(response => {
        if (response.code === 20000) {
          if (response.data.status && response.data.status === 'error') {
            this.operationMsg(response.data.msg, 'error')
            return false
          }
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.fetchList()
        }
      }).catch(() => {})
    },

    close() {
      this.detailData = {
        platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP', '医生金币'],
        id: 0,
        goods_pic: [],
        goods_type: 1,
        status: 1,
        end_time: '',
        total_num: ''
      }
      this.infinite = false
      this.infiniteDate = false
      this.dialogVisible = false
      this.detailDialogData = false
    },

    handleFilter() {
      this.listQuery.page = 1
      this.fetchList()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>
<style scoped type="text/css">
  .margin-left{
    margin-left:50px;
  }
  .font{
    font-weight: 500;
  }
  .margin-bot{
    margin-bottom: 20px;
  }

  .table{
    border-collapse: collapse;
    width: 100%;
    /* border-left: 1px solid #dfe6ec; */
    /* border-bottom: 1px solid #dfe6ec; */
  }
  .td {
    /* border-right: 1px solid #dfe6ec; */
    /* border-top: 1px solid #dfe6ec; */
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .el-table thead {
      color: #606266;
      font-weight: 600;
  }
  .cell {
    text-align: center;
  }
</style>
