<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="平台">
        <el-select v-model="listQuery.user_type" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in userRoleType" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>
      <el-form-item label="手机号">
        <el-input v-model="listQuery.mobile" size="mini" style="width: 130px;" clearable />
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="listQuery.name" size="mini" style="width: 100px;" clearable />
      </el-form-item>
      <el-form-item label="商品名称">
        <!-- <el-input v-model="listQuery.goods_name" size="mini" style="width: 130px;" clearable /> -->
        <el-select v-model="listQuery.goods_name" filterable placeholder="请选择" clearable>
          <el-option
            v-for="item in GoodsList"
            :key="item.goods_name"
            :label="item.goods_name"
            :value="item.goods_name"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="当前状态">
        <el-select v-model="listQuery.status" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in QueryStatusOptions" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>

      <el-form-item label="支付状态">
        <el-select v-model="listQuery.pay_status" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in PayStatusOptions" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>

      <el-form-item label="申请日期">
        <el-date-picker
          v-model="listQuery.trial_at"
          style="width: 250px;"
          type="daterange"
          align="right"
          size="mini"
          value-format="yyyy-MM-dd"
          unlink-panels
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">查询</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :key="tableKey"
      ref="checkTable"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      :row-key="getRowKey"
      @sort-change="sortChange"
    >

      <!-- sortable="custom"  -->
      <el-table-column label="编号" prop="id" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column label="申请日期" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>

      <el-table-column label="平台" align="center">
        <template slot-scope="{row}">
          <span v-if="row.user_type == 1">优药</span>
          <span v-else-if="(row.user_type == 2)">优佳医</span>
          <span v-else-if="(row.user_type == 4)">优能汇</span>
        </template>
      </el-table-column>

      <el-table-column label="用户名" align="center">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="当前状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="statusTagMap[row.status]">
            {{ statusOptions[row.status] }}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column label="当前失败原因" align="center">
        <template slot-scope="{row}">
          <span>{{ row.operation_desc }}</span>
        </template>
      </el-table-column>

      <el-table-column label="商品名称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="份数" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_num }}</span>
        </template>
      </el-table-column>

      <el-table-column label="消耗积分" align="center">
        <template slot-scope="{row}">
          <span>消费积分{{ row.money_point }}</span><br>
          <span>服务积分{{ row.service_point }}</span>
        </template>
      </el-table-column>

      <el-table-column label="支付状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <p>{{ PayStatusOptions[row.pay_st] }}</p>
        </template>
      </el-table-column>

      <el-table-column label="支付状态描述" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <p>{{ row.pb_operation_desc }}</p>
        </template>
      </el-table-column>

      <el-table-column label="发放金额" align="center">
        <template slot-scope="{row}">
          <span>{{ row.total_money }}</span>
        </template>
      </el-table-column>

      <el-table-column label="操作" align="center" width="200px" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-button type="info" size="mini" @click="PointReviewProcess(row.id)">审核流程查询</el-button>
          <el-button type="info" size="mini" @click="detailed(row.uid, row.user_type)">查看积分明细</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchList" />

    <!-- 添加或修改菜单对话框 -->
    <el-dialog :title="detailTitle" :visible.sync="detailVisible">
      <el-tabs type="border-card">
        <el-tab-pane label="已审核"><detail :uid="detailed_uid" :utype="detailed_utype" :is-audit="1" /></el-tab-pane>
        <el-tab-pane label="未审核"><detail :uid="detailed_uid" :utype="detailed_utype" :is-audit="0" /></el-tab-pane>
      </el-tabs>
    </el-dialog>

    <!-- 流程 -->
    <el-dialog :title="ProcessDetailTitle" :visible.sync="ProcessDetailVisible">
      <el-tabs type="border-card">
        <process-detail :oid="ProcessDetailed_oid" />
      </el-tabs>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, fetchStatus, GoodsList } from '@/api/point/trial'
import Pagination from '@/components/Pagination'
import Detail from './components/Detail'
import processDetail from './components/processDetail'

const statusTagMap = ['warning', '', 'info', '', '', 'danger', '', 'danger', '', 'danger']

export default {
  name: 'Trials',
  components: { Pagination, Detail, processDetail },
  data() {
    return {
      tableKey: 0,
      list: [],
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        openid: undefined,
        mobile: undefined,
        name: undefined,
        goods_name: undefined,
        trial_at: undefined,
        sortProp: 'id',
        sortOrder: 'desc',
        user_type: '1',
        pay_status: '',
        cut: 4
      },
      statusOptions: {},
      statusTagMap,
      detailTitle: '',
      detailVisible: false,
      ProcessDetailVisible: false,
      ProcessDetailTitle: '流程',
      // 20220906 ................................
      // 多选
      checkedIds: [],
      detailed_uid: '',
      ProcessDetailed_oid: '',
      userRoleType: { 1: '优药', 2: '优佳医', 4: '优能汇' },
      GoodsList: [],
      QueryStatusOptions: {
        '1': '审核中',
        '4': '人工自动审核通过',
        '5': '人工自动审核不通过',
        '6': '初审通过',
        '7': '初审不通过',
        '8': '复审通过',
        '9': '复审不通过',
        '11': '自动审核通过',
        '12': '自动审核不通过',
        '15': '制单通过',
        '16': '制单不通过'
      },
      PayStatusOptions: { '17': '已支付', '18': '支付失败', '19': '未支付', '20': '支付中' },
      detailed_utype: ''

    }
  },
  created() {
    this.fetchStatus()
    this.fetchList()
    this.getGoodsNames()
  },
  methods: {
    getRowKey(row) {
      return row.id
    },
    getGoodsNames() {
      this.listLoading = true
      GoodsList().then(res => {
        this.GoodsList = res.data.goodsNames
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },

    // 明细
    detailed(val, ut) {
      this.detailed_uid = val
      this.detailed_utype = ut

      this.detailVisible = true
    },

    // 流程详情
    PointReviewProcess(oid) {
      this.ProcessDetailed_oid = oid

      this.ProcessDetailVisible = true
    },
    // ////////////////////////////////////////////////

    fetchStatus() {
      fetchStatus().then(res => {
        this.statusOptions = res.data
      })
    },
    fetchList() {
      this.listLoading = true
      fetchList(this.listQuery).then(res => {
        this.list = res.data.items
        this.total = res.data.total
        this.listLoading = false
        this.$refs.checkTable.clearSelection()
      }).catch(() => {
        this.listLoading = false
      })
    },

    handleFilter() {
      this.listQuery.page = 1
      this.fetchList()
    },

    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },

    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sortOrder = 'asc'
      } else {
        this.listQuery.sortOrder = 'desc'
      }
      this.handleFilter()
    }
  }
}
</script>
