<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="标题:">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'point:survey:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'point:survey:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <el-table-column prop="title" label="标题" align="left" />
      <el-table-column prop="random_num" label="题目数量" align="left" />
      <el-table-column prop="activity_goods_name" label="关联商品" align="left" />
      <el-table-column prop="upload_question" label="是否上传题目" align="left" />
      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column
        header-align="center"
        align="center"
        label="状态"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.is_publish"
            :active-value="active"
            :inactive-value="inactive"
            @change="changeStatus($event, scope.row.id, scope.row.upload_question, scope.row.is_publish)"
          />
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-upload
                ref="upload"
                class="upload-demo"
                action="#"
                :auto-upload="true"
                :on-error="uploadError"
                :show-file-list="false"
                :before-upload="beforeUploadForm"
                :http-request="impQuestion"
              >
                <el-button v-permission="'point:survey:imp'" size="small" type="primary" @click="getId(row.id)">导入题目</el-button>
              </el-upload>
            </el-col>

            <el-col :span="8">
              <el-button v-permission="'point:survey:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'point:survey:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="随机题目数量"
              prop="random_num"
              :rules="[
                { required: true, message: '随机题目数量', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.random_num" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联活动商品"
              prop="activity_goods_id"
              :rules="[
                { message: '请至少关联一篇文章', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.activity_goods_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in activity_goods"
                  :key="item.id"
                  :label="item.goods_name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="知情书"
              prop="informed_letter_id"
              :rules="[
                { message: '知情书', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.informed_letter_id" filterable clearable placeholder="请选择">
                <el-option
                  v-for="item in informed_letter"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <!-- <el-row>
          <el-col :span="22">
            <el-form-item label="状态：">
              <el-switch
                v-model="formData.is_publish"
                :active-value="active"
                :inactive-value="inactive"
              />
            </el-form-item>
          </el-col>
        </el-row> -->
        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as surveyApi from '@/api/point/survey'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'SurveyQuest',
  components: { Pagination },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        title: '',
        random_num: '',
        is_publish: 1,
        activity_goods_id: '',
        informed_letter_id: ''
      },

      query: {
        page: 1,
        page_size: 20,
        title: ''
      },
      list: [],
      total: 0,
      types: [],
      activity_goods: [],
      informed_letter: [],
      dialogVisible: false,
      active: 1,
      inactive: 0,
      row_id: ''
    }
  },

  created() {
    this.activityGoodsForSelect()
    this.iformedLetterForSelect()
    this.search()
  },

  methods: {
    // 获取活动商品
    activityGoodsForSelect() {
      surveyApi.getActivityGoodsList().then(response => {
        this.activity_goods = response.data
      }).catch(() => {})
    },

    // 获取知情书
    iformedLetterForSelect() {
      surveyApi.geInformedLetterList().then(response => {
        this.informed_letter = response.data
      }).catch(() => {})
    },

    search() {
      this.loading = true
      surveyApi.questList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    changeStatus($event, id, upload_question, is_publish) {
      if (is_publish == 1 && upload_question == '未上传') {
        this.operationMsg('尚未配置题目 无法更新为“发布”状态', 'error')
        this.search()
        return
      }
      surveyApi.changeSt(id, $event)
        .then(resp => {
          this.operationMsg('发布状态变更成功', 'success')
        })
    },

    detail(id) {
      surveyApi.infoQuest(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.title) {
        this.operationMsg('标题不可空', 'error')
        return
      }

      if (!this.formData.random_num) {
        this.operationMsg('随机题目数量不可空', 'error')
        return
      }

      surveyApi.editQuest(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        surveyApi.delQuest(id).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    impQuestion(file) {
      var that = this
      const fd = new FormData()
      fd.append('file', file.file)
      fd.append('id', that.row_id)

      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(surveyApi.QuestionImp, fd).then(function(response) {
        if (response.data.code === 20000) {
          setTimeout(() => {
            that.$message({
              showClose: true,
              message: '更新成功',
              type: 'success'
            })
            that.search()
          }, 3000)
        } else {
          that.$message({
            showClose: true,
            message: response.data.msg,
            type: 'error'
          })
        }
      })
    },
    getId(row_id) {
      this.row_id = row_id
    },

    beforeUploadForm(file) {
      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName !== 'xls' && extName !== 'xlsx') {
        this.$message({
          showClose: true,
          message: '上传文件只能是 xls、xlsx格式！',
          type: 'error'
        })
        return false
      }

      const isLt1M = file.size / 1024 / 1024 < surveyApi.fileSize
      if (!isLt1M) {
        var alertText = '上传文件大小不能超过' + surveyApi.fileSize + 'MB'
        this.$message({
          showClose: true,
          message: alertText,
          type: 'error'
        })
        return false
      }
    },

    uploadError(err) {
      console.log(err)
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        id: '',
        title: '',
        random_num: '',
        is_publish: 1,
        activity_goods_id: '',
        informed_letter_id: ''
      }
      this.dialogVisible = false
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        titele: ''
      }
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
