<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="10">
        <el-col :span="10">
          <el-form-item label="标题:">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'point:letter:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'point:letter:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="title" label="标题" align="left" />
      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'point:letter:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'point:letter:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="富文本内容"
              prop="content"
              :rules="[
                { required: true, message: '请输入富文本内容', trigger: 'blur' }
              ]"
            >
              <quillEditor ref="myQuillEditor" v-model="formData.content" :options="editorOption" />
              <ImgUpload
                v-show="false"
                class="content-uploader"
                :pic-list="formData.content_img"
                :upload-data="uploadData"
                :sign="sign.contentImg"
                :limit="limit"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as surveyApi from '@/api/point/survey'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import * as commonApi from '@/api/common/common'
import { quillEditor } from 'vue-quill-editor'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

export default {
  name: 'InformedLetter',
  components: { Pagination, ImgUpload, quillEditor },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        title: '',
        content_img: [],
        content: ''
      },

      query: {
        page: 1,
        page_size: 20,
        title: ''
      },
      // 七牛云上传
      sign: {
        contentImg: 'contentImg'
      },
      uploadData: {
        token: ''
      },

      picUrl: '',
      bucket: '',
      title: '',
      list: [],
      total: 0,
      dialogVisible: false,
      limit: 999,
      editorOption: {
        placeholder: '请输入文本...',
        theme: 'snow',
        modules: {
          toolbar: {
            container: surveyApi.toolbarOptions,
            handlers: {
              image: function(value) {
                if (value) {
                  // 触发element-ui的文件上传
                  document.querySelector('.content-uploader input').click()
                } else {
                  this.quill.format('image', false)
                }
              }
            }
          }
        }
      }
    }
  },

  created() {
    this.search()
    this.getToken()
  },

  methods: {
    setImg(data) {
      if (data.sign === 'contentImg') {
        const quill = this.$refs.myQuillEditor.quill
        const length = quill.getSelection().index
        const imgSrc = data.imgList[0].url
        quill.insertEmbed(length, 'image', imgSrc)
        // 调整光标到最后
        quill.setSelection(length + 1)
      }
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    search() {
      this.loading = true
      surveyApi.listInformedLetter(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    detail(id) {
      surveyApi.infoInformedLetter(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.title) {
        this.operationMsg('标题不可空', 'error')
        return
      }

      if (!this.formData.content) {
        this.operationMsg('详情不可空', 'error')
        return
      }
      surveyApi.editInformedLetter(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        surveyApi.delInformedLetter({ id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
    close() {
      this.formData = {
        id: '',
        title: '',
        content_img: [],
        content: ''
      }
      this.dialogVisible = false
    },
    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        titele: ''
      }
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
