<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="平台">
        <el-select v-model="listQuery.user_type" size="mini" style="width: 100px;">
          <el-option v-for="(val, key) in userRoleType" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>
      <!-- <el-form-item label="微信号">
        <el-input v-model="listQuery.openid" size="mini" style="width: 250px;" clearable />
      </el-form-item> -->
      <el-form-item label="手机号">
        <el-input v-model="listQuery.mobile" size="mini" style="width: 130px;" clearable />
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="listQuery.name" size="mini" style="width: 100px;" clearable />
      </el-form-item>
      <el-form-item label="商品名称">
        <!-- <el-input v-model="listQuery.goods_name" size="mini" style="width: 130px;" clearable /> -->
              <el-select v-model="listQuery.goods_name" filterable placeholder="请选择" clearable>
                <el-option
                  v-for="item in GoodsList"
                  :key="item.goods_name"
                  :label="item.goods_name"
                  :value="item.goods_name"
                />
              </el-select>
        </el-form-item>

      
      <el-form-item label="当前状态">
        <el-select v-model="listQuery.status" size="mini" style="width: 100px;" clearable>
          <el-option v-for="(val, key) in QueryStatusOptions" :key="key" :label="val" :value="key" />
        </el-select>
      </el-form-item>
      <el-form-item label="申请日期">
        <el-date-picker
          v-model="listQuery.trial_at"
          style="width: 250px;"
          type="daterange"
          align="right"
          size="mini"
          value-format="yyyy-MM-dd"
          unlink-panels
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">查询</el-button>
      </el-form-item>
    </el-form>

    <el-row>
      <el-button type="primary" v-permission="'point:orders:audit'"  @click="AuditPass">审核通过</el-button>
      <el-button type="danger" v-permission="'point:orders:audit'" @click="AuditFail">审核不通过</el-button>
    </el-row>
    <br/>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
      @selection-change="handleSelectionChange"
      ref="checkTable"
    >
      <el-table-column align="center" fixed="left" type="selection" width="55" reserve-selection />

      <!-- sortable="custom"  -->
      <el-table-column label="编号" prop="id" align="center" width="80" :class-name="listQuery.sortOrder === `asc` ? 'ascending' : 'descending'">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="平台" align="center">
        <template slot-scope="{row}">
          <span v-if="row.user_type == 1">优药</span>
          <span v-else-if="row.user_type == 4">优能汇</span>
          <span v-else-if="row.user_type == 2">优佳医</span>
          <span v-else>其它</span>
        </template>
      </el-table-column>
      <el-table-column label="姓名" align="center">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="手机号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.mobile }}</span>
        </template>
      </el-table-column>

      <el-table-column label="申请日期" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="商品名称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="份数" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods_num }}</span>
        </template>
      </el-table-column>
      <el-table-column label="消耗积分" align="center">
        <template slot-scope="{row}">
          <span>消费积分{{ row.money_point }}</span><br>
          <span>服务积分{{ row.service_point }}</span>
        </template>
      </el-table-column>
      <el-table-column label="提现方式" align="center">
        <template slot-scope="{row}">
          <span>微信零钱</span>
        </template>
      </el-table-column>
      <el-table-column label="当前状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="statusTagMap[row.status]">
            {{ statusOptions[row.status] }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="不通过原因" align="center">
        <template slot-scope="{row}">
          <span>{{ row.trial_reject_reason }}</span>
        </template>
      </el-table-column>
      <el-table-column label="是否黑名单" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.black == 1" type="danger">
            是
          </el-tag>
          <el-tag v-else type="info">
            否
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="600px" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="row.status == 1 && row.black != 1 " type="primary" size="mini" @click="handleBackgroundCheck(row, $index)">后台自动审核</el-button>
          <el-button type="info" size="mini" @click="detailed(row.uid)">查看积分明细</el-button>
          <el-button type="success" size="mini" v-if="(row.status == 1 || row.status == 4 || row.status == 11) && row.black != 1" @click="handlePass(row,$index)">初审通过</el-button>
          <el-button type="warning" size="mini" v-if="(row.status == 1 || row.status == 4 || row.status == 11) && row.black != 1" @click="handleNotPass(row,$index)">初审不通过</el-button>
          <el-button type="danger" size="mini" v-if="row.black == 0" @click="handleAddBlacklist(row,$index)">禁止兑换</el-button>
          <el-button type="primary" size="mini" v-if="row.black == 1" @click="handleDeleteBlacklist(row,$index)">开放兑换</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchList" />

    <!-- 添加或修改菜单对话框 -->
    <el-dialog :title="detailTitle" :visible.sync="detailVisible">
        <el-tabs type="border-card">
            <el-tab-pane label="已审核"><detail :uid="detailed_uid" :utype="listQuery.user_type" :isAudit="1" /></el-tab-pane>
            <el-tab-pane label="未审核"><detail :uid="detailed_uid" :utype="listQuery.user_type" :isAudit="0" /></el-tab-pane>
        </el-tabs>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, backgroundCheck, pass, fetchStatus, AuditOrders, GoodsList, SetBlacklist } from '@/api/point/trial'
import { addUser, removeUser } from '@/api/point/blacklist'
import Pagination from '@/components/Pagination'
import Detail from './components/Detail'

const statusTagMap = ['warning', '', 'info', '', '', 'danger', '', 'danger', '', 'danger']

export default {
  name: 'Trials',
  components: { Pagination, Detail },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        openid: undefined,
        mobile: undefined,
        name: undefined,
        goods_name: undefined,
        trial_at: undefined,
        sortProp: 'id',
        sortOrder: 'desc',
        user_type:  '1',
        cut: 1
      },
      statusOptions: {},
      statusTagMap,
      detailTitle: '',
      detailVisible: false,

       // 20220906 ................................
       // 多选
      checkedIds: [],
      detailed_uid: '',
      userRoleType: {1: "优药", 2: "优佳医", 4: "优能汇"},
      GoodsList: [],
      QueryStatusOptions: {"1":"审核中","5":"后台自动审核不通过","7":"初审不通过","11":"自动审核通过","12":"自动审核不通过"}

    }
  },
  created() {
    this.fetchStatus()
    this.fetchList()
    this.getGoodsNames()
  },
  methods: {

    getGoodsNames(){
      this.listLoading = true
      GoodsList().then(res => {
        this.GoodsList = res.data.goodsNames
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },
    
    // 明细
    detailed(val){
      
      this.detailed_uid = val

      this.detailVisible = true
    },

    // 多选 
    handleSelectionChange(val) {
      var ids = []
      for (var i = 0; i < val.length; i++) {
        ids.push(val[i].id)
      }
      this.checkedIds = ids
    },

    // 多选审核通过
    AuditPass() {
      if(this.checkedIds.length == 0) {
        this.msgError('请先选择需要通过的订单', 'warning')
        return
      }
      this.$confirm('确认要执行初审通过吗？', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        AuditOrders(this.checkedIds, 1, '').then(response => {
          this.msgSuccess('多选审核成功', 'success')
          this.fetchList()
        }).catch(() => {})
      }).catch(() => {})
    },

    // 审核通过 - 单个
    handlePass(row, index) {
      console.log(row.id)
      this.$confirm('确认要执行初审通过吗？', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        AuditOrders([row.id], 1, '').then(response => {
          if (response.code === 20000) {
            this.msgSuccess('初审通过成功！', 'success')
            this.fetchList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },


    // 多选审核不通过
    AuditFail() {
      if(this.checkedIds.length == 0) {
        this.msgError('请先选择需要不通过的订单', 'warning')
        return
      }
      this.$prompt('请输入原因', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      }).then((reason) => {
        if(reason.value == null ) {
           this.msgError('驳回原因不可为空', 'warning')
           return
        }
        AuditOrders(this.checkedIds, 2, reason.value).then(response => {
          this.msgSuccess('多选审核驳回成功！', 'success')
          this.fetchList()
        }).catch(() => {})
      }).catch(() => {})
    },

    // 审核不通过 - 单个
    handleNotPass(row, index) {
      this.$prompt('请输入原因', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      }).then((reason) => {
        console.log('---')
        console.log(reason.value)
        if(reason.value == null ) {
           this.msgError('驳回原因不可为空', 'warning')
           return
        }
        AuditOrders([row.id], 2, reason.value).then(response => {
          this.msgSuccess('审核驳回成功！', 'success')
          this.fetchList()
        }).catch(() => {})
      }).catch(() => {})
    },

   handleBackgroundCheck(row) {
      this.$confirm('确认要执行后台自动审核吗？', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        backgroundCheck(row.id).then(response => {
          if (response.code === 20000) {
            this.msgSuccess('自动审核成功！', 'success')
            this.fetchList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 黑名单
    handleAddBlacklist(row, index) {
      this.$confirm('确认要将用户加入黑名单吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        console.log(row.user_type)
        SetBlacklist(row.uid, 1, row.user_type).then(response => {
          if (response.code === 20000) {
            this.msgSuccess('添加黑名单成功', 'success')
            this.fetchList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },
    
    handleDeleteBlacklist(row, index) {
      this.$confirm('确认要将用户移除黑名单吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        SetBlacklist(row.uid, 2, row.user_type).then(response => {
          if (response.code === 20000) {
            this.msgSuccess('移除黑名单成功！', 'success')
            this.fetchList()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

  //////////////////////////////////////////////////

    fetchStatus() {
      fetchStatus().then(res => {
        this.statusOptions = res.data
      })
    },
    fetchList() {
      this.listLoading = true
      fetchList(this.listQuery).then(res => {
        this.list = res.data.items
        this.total = res.data.total
        this.listLoading = false
        this.$refs.checkTable.clearSelection()
      }).catch(() => {
        this.listLoading = false
      })
    },

    handleFilter() {
      this.listQuery.page = 1
      this.fetchList()
    },

    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },

    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sortOrder = 'asc'
      } else {
        this.listQuery.sortOrder = 'desc'
      }
      this.handleFilter()
    },

    // handleBackgroundCheck(row, index) {
    //   this.$confirm('确认要执行后台自动审核吗？', '警告', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(async () => {
    //       await backgroundCheck(row.id)
    //       row.status = 4
    //       this.list.splice(index, 1, row)
    //   }).then(() => {
    //     this.msgSuccess('自动审核成功')
    //   })
    // },
    // handlePass(row, index) {
    //   this.$confirm('确认要执行初审通过吗？', '警告', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(async () => {
    //       await pass(row.id, {pass: 1})
    //       this.list.splice(index, 1)
    //   }).then(() => {
    //     this.msgSuccess('初审通过执行成功')
    //   })
    // },
    // handleNotPass(row, index) {
    //   this.$prompt('请输入原因', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消'
    //   }).then(async (data) => {
    //       await pass(row.id, {reason: data.value})
    //       this.list.splice(index, 1)
    //   }).then(() => {
    //     this.msgSuccess('初审不通过执行成功')
    //   })
    // },
    // handleAddBlacklist(row, index) {
    //   this.$confirm('确认要将用户加入黑名单吗？', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(async () => {
    //       await addUser(row.uid)
    //       row.black = 1
    //       this.list.splice(index, 1, row)
    //   }).then(() => {
    //     this.msgSuccess('禁止兑换成功')
    //     this.fetchList()
    //   })
    // },
    // handleDeleteBlacklist(row, index) {
    //   this.$confirm('确认要将用户移除黑名单吗？', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(async () => {
    //       await removeUser(row.uid)
    //       row.black = 0
    //       this.list.splice(index, 1, row)
    //   }).then(() => {
    //     this.msgSuccess('开放兑换成功')
    //     this.fetchList()
    //   })
    // }
  }
}
</script>
