<template>
   <div class="top">
        <el-form ref="form" :rules="rules" label-width="200px">
          <el-form-item label="今年计算时间范围(包含):" prop="current_start_end">
               <el-col :span="3">
                    <el-input-number :step="1" step-strictly v-model="current_start" @change="currentStartChange" :min="1" :max="current_end" label="label"></el-input-number>
               </el-col>
          <el-col class="line" :span="2"> ~ </el-col>
               <el-col :span="3">
                    <el-input-number :step="1" step-strictly v-model="current_end" @change="currentEndChange" :min="current_start" :max="12" label="label"></el-input-number>
               </el-col>
          </el-form-item>

          <el-form-item label="去年计算时间范围(包含):" prop='last_start_end'>
               <el-col :span="3">
                    <el-input-number :step="1" step-strictly v-model="last_start" @change="lastStartChange" :min="1" :max="last_end" label="label"></el-input-number>
               </el-col>
               <el-col class="line" :span="2">-</el-col>
               <el-col :span="3">
                    <el-input-number :step="1" step-strictly v-model="last_end" @change="lastEndChange" :min="last_start" :max="12" label="label"></el-input-number>
               </el-col>
          </el-form-item>

          <el-form-item label="上传数据文件:">
               <el-col :span="4">
                    <upload-file
                    :type="upload.type"
                    :business="upload.business"
                    :upload-list.sync="fileList"
                    :show-list="true"
                    :limit="upload.limit"
                    @uploadFail="uploadFail"
                    @deleteFile="deleteFile"
                    />
               </el-col>
               
          </el-form-item>
          <el-form-item class="sub">
               <el-button type="primary" size="middle" v-permission="'import:nfx:sales'" @click="uploadNfx">提交</el-button>
          </el-form-item>
        </el-form>
     </div>  
</template>
<script>
import UploadFile from '@/components/Upload';
import { uploadSalesTask } from '@/api/nfx/sales'
export default {
     components: {UploadFile},
     data: function() {
          return {
               upload: {
                    type: 1,
                    business: "nfx-sales",
                    limit: 1
               },
               fileList: [],
               current_start: 1,
               current_end: 1,
               last_start: 4,
               last_end: 12,
               rules: {
               }
          };
     },
     methods: {
          deleteFile: function(index, file) {
               this.$data.fileList.splice(index, 1);
          },
          uploadFail: function(err) {
                    
          },
          currentEndChange: function(val) {

          },
          currentStartChange: function(val) {

          },
          lastStartChange: function(val) {

          },
          lastEndChange: function(val) {

          },
          uploadNfx: function() {
               if (this.$data.fileList.length == 0) {
                    alert("未上传文件")
               }
               let file = this.$data.fileList[0]
               let fileId = file.id
               let fileUrl = file.url

               uploadSalesTask(
                    fileId,
                    fileUrl,
                    this.$data.current_start,
                    this.$data.current_end,
                    this.$data.last_start,
                    this.$data.last_end
               ).then(response => {
                    //跳转到任务列表页
                    this.notifyOperateSuccess("任务添加成功")
                    this.$router.push({name: 'TaskList', query: {type: 1}})
               })
          },
          notifyOperateSuccess: function(msg) {
               this.$notify({
               title: '操作成功',
               message: msg,
               type: 'success'
               })
          },
     }
}
</script>
<style scoped>
.sub {
     margin-top: 60px;
}
.top {
     margin-top: 25px;
     margin-left: 25px
}
</style>