<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'article:list:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="title" label="标题" width="250px" align="center" />
      <el-table-column label="文章类型" align="center" prop="created_at" width="180">
        <template slot-scope="scope">
          <span v-if="scope.row.article_type == 1">富文本</span>
          <span v-else>PDF</span>
        </template>
      </el-table-column>
      <el-table-column prop="main_category_name" label="文章主分类" width="250px" align="center" />
      <el-table-column prop="category_name" label="文章分类" width="250px" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'article:list:article'" type="primary" size="mini" @click="bindArticle(row)">关联文章</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'article:list:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'article:list:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="11">
            <el-form-item
              label="是否为pdf"
              prop="is_pdf"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.is_pdf" placeholder="请选择" @change="pdfChange">
                <el-option v-for="item in is_pdfs" :key="item.id" :label="item.title" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="标题"
              prop="title"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >

              <el-input v-model="formData.title" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="主分类"
              prop="category_main"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.category_main" placeholder="请选择类型" clearable @change="CategoryMainChange">
                <el-option v-for="item in category_mains" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="子分类"
              prop="category_son"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.category_son" placeholder="请选择子类" clearable :disabled="category_son_disabled">
                <el-option v-for="item in category_sons" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="pdf_show == 2">
          <el-col :span="22">
            <el-form-item
              label="链接"
              prop="pdf_link"
              :rules="[
                { required: true, message: '类型', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.pdf_link" placeholder="请输入链接" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="缩略图"
              prop="img"
              :rules="[
                {required: true, message: '上传图片', trigger: 'change' }
              ]"
            >
              <Upload
                type="2"
                business="article_share"
                list-type="picture"
                :upload-list="uploadList"
                :show-list="true"
                @uploadSuccess="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-show="pdf_show == 1">
          <el-col :span="22">
            <el-form-item
              label="富文本内容"
              prop="rules_des"
              :rules="[
                { required: true, message: '请输入富文本内容', trigger: 'blur' }
              ]"
            >
              <quillEditor ref="myQuillEditor" v-model="formData.content" :options="editorOption" />
              <ImgUpload
                v-show="false"
                class="content-uploader"
                :pic-list="formData.content_img"
                :upload-data="uploadData"
                :sign="sign.contentImg"
                :limit="limit"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImgContent($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog title="关联文章" :visible.sync="bindArticleDialog" :before-close="closeBindDialog" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="主文章"
              prop="mainTitle"
            >
              <el-input v-model="mainTitle" placeholder="请输入标题" disabled />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联文章"
              prop="articleIds"
              :rules="[
                { required: true, message: '请至少关联一篇文章', trigger: 'blur' }
              ]"
            >
              <el-select v-model="articleIds" collapse-tags filterable multiple placeholder="请选择" @change="onSelectedInformationType">
                <el-option
                  v-for="item in articleList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <li v-for="(item,index) in articleListCheck" :key="index" class="articleListCheck" style="margin: 10px 0 0 60px;list-style: none;" @click="delCheckedarticleListId(item.id)">
          <i class="el-icon-circle-close"> {{ item.title }} </i>
        </li>

        <el-row class="contentButton">
          <el-button type="primary" @click="submitBind">提交</el-button>
          <el-button @click="bindArticleDialog=false">取消</el-button>
        </el-row>
      </el-form>

    </el-dialog>

  </div>
</template>
<script>

import { listArticle, getArticleDt, delArticle, updateArticle,
  toolbarOptions, getCategoryMain, getCategory, getBindArticle, bindArticle } from '@/api/doctorArticleShare/category'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import Upload from '@/components/Upload'
import * as commonApi from '@/api/common/common'
import { quillEditor } from 'vue-quill-editor'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
// import * as Quill from 'quill'

export default {
  name: 'Resource',
  components: { Pagination, ImgUpload, quillEditor, Upload },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        title: '',
        pdf_link: '',
        content: '',
        content_img: [],
        is_pdf: 1,
        img: [],
        category_main: '',
        category_son: ''
      },
      editorOption: {
        placeholder: '请输入文本...',
        theme: 'snow',
        modules: {
          toolbar: {
            container: toolbarOptions,
            handlers: {
              image: function(value) {
                if (value) {
                  // 触发element-ui的文件上传
                  document.querySelector('.content-uploader input').click()
                } else {
                  this.quill.format('image', false)
                }
              }
            }
          }
        }
      },
      category_mains: [],
      category_sons: [],

      is_pdfs: [
        { id: 1, title: '普通资源' },
        { id: 2, title: 'pdf资源' }
      ],

      query: {
        page: 1,
        page_size: 20,
        title: ''
      },
      // 七牛云上传
      sign: {
        contentImg: 'contentImg'
      },
      uploadData: {
        token: ''
      },
      limit: 999,
      picUrl: '',
      bucket: '',
      uploadList: [],
      title: '',
      list: [],
      total: 0,
      dialogVisible: false,
      pdf_show: 1,
      category_son_disabled: true,
      articleIds: [],
      mainTitle: '',
      mainId: '',
      articleList: [],
      articleListCheck: [],
      bindArticleDialog: false
    }
  },

  created() {
    this.search()
    this.getToken()
  },

  methods: {
    bindArticle(row) {
      // 获取已经关联的文章id
      this.mainTitle = row.title
      this.mainId = row.id
      this.bindArticleDialog = true
      this.loading = true
      getBindArticle(row.id).then(response => {
        this.articleList = response.data.articles
        this.articleListCheck = response.data.bind_articles
        this.articleIds = response.data.article_id
        this.loading = false
      }).catch(() => {})
    },

    // 筛选选中文章
    onSelectedInformationType(val) {
      this.articleListCheck = this.articleList.filter((ele) => {
        return val.some(function check(index) { return index === ele.id })
      })
    },

    // 删除选中文章
    delCheckedarticleListId(articleId) {
      this.articleIds = this.articleIds.filter((art) => {
        return articleId !== art
      })

      this.articleListCheck = this.articleListCheck.filter((art_t) => {
        return articleId !== art_t.id
      })
    },

    submitBind() {
      if (!this.mainId) {
        this.operationMsg('绑定文章信息有误！', 'error')
        return
      }
      if (this.articleIds.length < 1) {
        this.operationMsg('关联文章不可空！', 'error')
        return
      }
      bindArticle(this.mainId, { 'article_ids': this.articleIds }).then(response => {
        if (response.code === 20000) {
          this.bindArticleDialog = false
          this.operationMsg('绑定成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    // 主分类切换
    CategoryMainChange(v) {
      if (v > 0) {
        // 获取二级分类
        this.category_sons = []
        this.formData.category_son = ''
        this.getCategory(v)
        this.category_son_disabled = false
      } else {
        this.category_son_disabled = true
      }
    },

    // pdf切换
    pdfChange(v) {
      if (v == 2) {
        this.pdf_show = 2
      } else {
        this.pdf_show = 1
      }
      this.$forceUpdate()
    },

    // 缩略图
    setImg(data) {
      this.formData.img = data
      this.uploadList = [data]
    },

    // 文本图
    setImgContent(data) {
      const quill = this.$refs.myQuillEditor.quill
      const length = quill.getSelection().index
      const imgSrc = data.imgList[0].url
      quill.insertEmbed(length, 'image', imgSrc)
      // 调整光标到最后
      quill.setSelection(length + 1)
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    search() {
      this.loading = true
      listArticle(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    // 添加
    showDiolog() {
      // 获取主分类
      this.getCategoryMain()
      this.dialogVisible = true
    },

    // 获取主分类
    getCategoryMain() {
      getCategoryMain().then(response => {
        if (response.code === 20000) {
          this.category_mains = response.data
        }
      }).catch(() => {})
    },

    // 获取二级分类
    getCategory(main_id) {
      getCategory(main_id).then(response => {
        if (response.code === 20000) {
          this.category_sons = response.data
        }
      }).catch(() => {})
    },

    // 详情
    detail(id) {
      // 获取分类
      this.getCategoryMain()
      getArticleDt(id).then(response => {
        if (response.code === 20000) {
          this.pdf_show = 1
          this.formData = response.data
          if (response.data.is_pdf == 2) {
            this.pdf_show = 2
          }
          this.uploadList = response.data.img
          this.getCategory(response.data.category_main)
          this.category_son_disabled = false
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    // 新增、修改
    submit() {
      if (this.formData.is_pdf == 1) {
        if (!this.formData.title) {
          this.operationMsg('标题不可空', 'error')
          return
        }
        if (this.formData.img.length <= 0) {
          this.operationMsg('图片不可空', 'error')
          return
        }
        if (!this.formData.content) {
          this.operationMsg('富文本不可空', 'error')
          return
        }
      }
      if (!this.formData.category_main || !this.formData.category_son) {
        this.operationMsg('文章分类不可空', 'error')
        return
      }
      if (this.formData.is_pdf == 2 && !this.formData.pdf_link) {
        this.operationMsg('PDF链接不可空', 'error')
        return
      }

      updateArticle(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    // 删除
    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delArticle(id).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.formData = {
        id: '',
        title: '',
        pdf_link: '',
        content: '',
        content_img: [],
        is_pdf: 1,
        img: [],
        category_main: '',
        category_son: ''
      }
      this.uploadList = []
      this.pdf_show = 1
      this.dialogVisible = false
    },

    closeBindDialog() {
      this.articleIds = []
      this.mainTitle = ''
      this.mainId = ''
      this.articleListCheck = []
      this.bindArticleDialog = false
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .articleListCheck:hover{
    color: red;
  }
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
