<template #wrapper>
  <el-card class="box-card">
    <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
        >新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      ref="dragTable"
      v-loading="loading"
      :data="CategoryList"
      row-key="id"
      highlight-current-row
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <el-table-column label="菜单名称" align="center" :show-overflow-tooltip="true" width="180">
        <template slot-scope="scope">
          <span> {{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="sort" label="排序" width="100px" />
      <el-table-column label="创建时间" align="center" prop="created_at" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="280">
        <template slot-scope="scope">
          <el-button
            v-permission="'article:category:edit'"
            size="mini"
            type="primary"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改</el-button>
          <el-button
            v-show="scope.row.pid == 0"
            v-permission="'article:category:add'"
            size="mini"
            type="primary"
            icon="el-icon-plus"
            @click="handleAdd(scope.row)"
          >新增</el-button>
          <el-button
            v-permission="'article:category:del'"
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 添加或修改菜单对话框 -->
    <el-dialog :title="title" :visible.sync="dialogVisible" width="660px">
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="上级目录">
              <treeselect
                v-model="form.pid"
                :options="CategoryOptions"
                :normalizer="normalizer"
                :show-count="true"
                no-results-text="未找到结果..."
                placeholder="选择上级目录"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="分类名称" prop="name">
              <el-input v-model="form.name" placeholder="请输入分类名称" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>

<script>
import { listCategory, getCategoryDt, delCategory, updateCategory } from '@/api/doctorArticleShare/category'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

const defaultCategory = {
  id: undefined,
  pid: 0,
  sort: 0
}

export default {
  name: 'CompanyCategory',
  components: { Treeselect },
  data() {
    return {
      // loading
      loading: false,
      // 菜单表格树数据
      CategoryList: [],
      // 菜单树选项
      CategoryOptions: [],
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      dialogVisible: false,
      // 表单参数
      form: Object.assign({}, defaultCategory),
      // 表单校验
      rules: {
        name: [
          { required: true, message: '菜单标题不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    // 查询菜单列表
    getList() {
      this.loading = true
      listCategory({ top: 'level' }).then(res => {
        this.CategoryList = res.data
        this.loading = false
      })
    },
    // 转换菜单数据结构
    normalizer(node) {
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.id,
        label: node.name,
        children: node.children
      }
    },
    // 查询菜单下拉树结构
    getTreeselect() {
      listCategory({ top: 'top' }).then(res => {
        this.CategoryOptions = []
        const Category = { id: 0, name: '主类目', children: [] }
        Category.children = res.data
        this.CategoryOptions.push(Category)
      })
    },

    // 取消按钮
    cancel() {
      this.dialogVisible = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = Object.assign({}, defaultCategory)
      this.resetForm('form')
    },

    // 新增
    handleAdd(row) {
      this.reset()
      this.getTreeselect()
      if (row != null) {
        this.form.pid = row.id
      }
      this.dialogVisible = true
      this.title = '添加'
    },
    // 编辑
    handleUpdate(row) {
      this.reset()
      this.getTreeselect()
      getCategoryDt(row.id).then(res => {
        this.form = res.data
        this.dialogVisible = true
        this.title = '修改'
      })
    },
    // 提交
    submitForm: function() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            console.log(this.form)
            updateCategory(this.form).then(res => {
              this.msgSuccess('修改成功')
              this.dialogVisible = false
              this.getList()
            })
          } else {
            console.log(this.form)
            updateCategory(this.form).then(res => {
              this.msgSuccess('新增成功')
              this.dialogVisible = false
              this.getList()
            })
          }
        }
      })
    },

    // 删除
    handleDelete(row) {
      this.$confirm('是否确认删除名称为"' + row.name + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function() {
        return delCategory(row.id)
      }).then(() => {
        this.getList()
        this.msgSuccess('删除成功')
      }).catch(function() {})
    }
  }
}
</script>
