<template>
  <div style="margin-top:20px">
    <el-row>
      <el-card>
          <div id="main1" class="pie-class"></div>
      </el-card>
    </el-row>
  </div>
</template>

<script>
import * as echarts from 'echarts'
export default {
   props:{
    myChartData: {
      type: Object,
      default: () => {
        return {}
      }
    },
  },
  data: function() {
    return {
      list: [],
      dateX: ['资产A', '资产B', '资产C', '资产D', '资产E', '资产F'],
      read_count: [2, 5, 6, 10, 12, 8],
      share_count: [7, 22, 32, 12, 10, 20]
    };
  },
  watch: {
    myChartData: {
      handler(newval)  {
        for(let k in newval.share_count){
          this.dateXpush(k)
          console.log(this.dateX);
          console.log(k);
          
        }
      },
      // deep: true
    }
  },
  // 此时页面上的元素，已经被渲染完毕
  mounted() {
    // 3.基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main1'));

    // 4.指定图表的配置项和数据
    var option1 = {
      title: {
        text: '推文数据'
      },
      tooltip: {},
      legend: {
        data: ['阅读数','转发数']
      },
      xAxis: {
        data: this.dateX // x 轴日期
      },
      yAxis: {},
      series: [{
        name: '阅读数',
        type: 'line',
        label: {
          normal: {
            show: true,
            position:'top',
            formatter: '{c}'//百分比显示，模板变量有 {a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。{d}数据会根据value值计算百分比
          }
        },
        data: this.read_count // 实际数量
      },{
        name: '转发数',
        type: 'line',
        label: {
          normal: {
            show: true,
            position:'top',
            formatter: '{c}',
          }
        },
        data: this.share_count
      }
      // ,{
      //   name: '新增关注数',
      //   type: 'line',
      //   label: {
      //     normal: {
      //       show: true,
      //       position:'top',
      //       formatter: '{c}'
      //     }
      //   },
      //   data: [8, 2, 9, 18, 10, 68]
      // }
      ]
    }
    // 5.使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);
  }
}
</script>

<style>
.pie-class {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
</style>