<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" style="margin-top:50px" class="query">
      <el-button v-permission="'otc:topic:add'" type="primary" @click="addTopic">新建话题</el-button>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top:20px;">
      <!-- 中间列表 -->
      <el-table
        v-loading="loading"
        :data="topics"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          align="center"
          prop="id"
          label="ID"
          width="180px"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="name"
          label="话题名称"
        />
        <el-table-column
          header-align="center"
          align="center"
          prop="cover"
          label="封面"
        >
          <template slot-scope="scope">
            <el-image :src="scope.row.cover" fit="scale-down" lazy />
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          prop="total"
          label="参与人数"
        />
        <el-table-column
          header-align="center"
          align="center"
          label="话题状态"
        >
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.is_published"
              v-permission="'otc:topic:status'"
              :active-value="active"
              :inactive-value="inactive"
              @change="changeStatus($event, scope.row.id)"
            />
          </template>
        </el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          width="180"
          label="操作"
        >
          <template slot-scope="scope">
            <el-row :gutter="10">
              <el-col
                v-permission="'otc:topic:edit'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-button
                  type="primary"
                  @click="editTopic(scope.row.id)"
                >编&nbsp;&nbsp;辑</el-button>
              </el-col>

              <el-col
                v-permission="'otc:topic:del'"
                :span="11"
                :offset="1"
                style="margin-bottom:2px;"
              >
                <el-popconfirm
                  title="你确定要删除该考试吗"
                  @confirm="deleteTopic(scope.row.id)"
                >
                  <el-button
                    slot="reference"
                    type="danger"
                  >删 除</el-button>
                </el-popconfirm>
              </el-col>
            </el-row>

          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :span="22" :offset="1" style="margin-top: 20px;">
      <!-- 底部分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :current-page="page.current"
        :page-size="page.size"
        :total="page.total"
        @current-change="changePage"
      />
    </el-col>

    <el-col :span="22" :offset="1">
      <topic
        v-if="showEdit"
        :id="editId"
        :open="showEdit"
        @updated="topicUpdated"
        @added="topicAdded"
        @close="closeTopic"
      />
    </el-col>
  </el-row>
</template>
<script>
import { listTopic, delTopic, status } from '@/api/topic/topic'
import Topic from './topic.vue'
export default {
  components: { Topic },
  data: function() {
    return {
      topics: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      showEdit: false,
      editId: 1,
      active: 1,
      inactive: 0,
      loading: false
    }
  },
  mounted: function() {
    this.listTopic(1)
  },
  methods: {
    listTopic(current) {
      this.$data.loading = true
      listTopic(current, this.$data.page.size)
        .then(resp => {
          this.$data.loading = false
          this.$data.topics = resp.data.list
          this.$data.page = resp.data.page
        }).catch((reason) => {
          this.$data.loading = false
        })
    },
    deleteTopic(id) {
      delTopic(id)
        .then(resp => {
          this.operateSuccess('话题删除成功')
          this.listTopic(this.$data.page.current)
        })
    },
    editTopic(id) {
      this.$data.editId = id
      this.$data.showEdit = true
    },
    addTopic() {
      this.$data.editId = 0
      this.$data.showEdit = true
    },
    changeStatus($event, id) {
      const that = this
      status(id, $event)
        .then(resp => {
          const idx = that.$data.topics.findIndex((element) => element.id === id)
          if (idx !== -1) {
            const item = that.$data.topics[idx]
            item.status = $event
            that.$set(that.$data.topics, idx, item)
          }
          this.operateSuccess('发布状态变更成功')
        })
    },
    operateSuccess(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    closeTopic() {
      this.$data.showEdit = false
      this.$data.editId = 0
    },
    changePage(current) {
      this.listTopic(current)
    },
    topicUpdated(id) {
      this.$data.showEdit = false
      this.operateSuccess('话题更新成功！')
      this.listTopic(this.$data.page.current)
    },
    topicAdded(id) {
      this.$data.showEdit = false
      this.operateSuccess('话题添加成功！')
      this.listTopic(1)
    }

  }
}
</script>
