<template>
    <el-dialog :visible="open" width="400px" custom-class="player" :destroy-on-close="closeDestroy" :before-close="cancelPlay">
        <div>
            <video id="my-player" class="video-js vjs-default-skin"></video>
            <div style="clear:both;"></div>     
        </div>
    </el-dialog>
</template>
<script>
import { infoVideo } from '@/api/topic/video'
import 'video.js/dist/video-js.css'
import videojs from 'video.js'
export default {
   name: "Player",
   props: ["id", "open", "source"],
   data: function() {
        return {
            info: {
                id: 0,
                url: "",
                state: 0
            },
            closeDestroy: true,
            player: {}
        }
   },
   mounted: function() {
    this.refreshVideoInfo()
   },
   methods: {
    refreshVideoInfo() {
        infoVideo(this.id, this.source)
            .then(resp => {
                this.$data.info = resp.data.info
                this.setPlayer(this.$data.info.url)
            })
    },
    setPlayer(url) {
        let that = this
        this.$data.player = videojs("my-player", {
            controls: true,
            autoplay: false,
            preload: 'auto',
            width: '360px',
            children: [
                'controlBar'
            ]
        })
        this.$data.player.src({type:"video/mp4", src: url})
        this.$data.player.ready(function() {
            //加载完成后开始播放
            that.$data.player.play()
        })
    },
    cancelPlay() {
        this.$data.player.pause()
        this.$emit("close", this.id)
    }
   },
   beforeDestroy: function() {
        if(this.$data.play != {}) {
            this.$data.player.dispose()
        }
   }
}

</script>
<style scoped>
.player {
    background: #2f3138 !important;
}
.player .el-dialog__body {
    padding: 0px !important;
}
.player .vjs-control-bar {
    height: 43px;
    font-size: 1.3em;
}
</style>