<template>
  <el-dialog :visible="open" :title="title" :before-close="cancelTopic">
    <el-form :model="detail" label-width="120px">
      <el-form-item label="话题名称：">
        <el-input v-model="detail.name" />
      </el-form-item>
      <el-form-item label="话题封面：">
        <upload-file
          :type="upload.type"
          :business="upload.business"
          :upload-list.sync="covers"
          :show-list="true"
          :limit="1"
          :del-id-white-list="originCoverList"
          list-type="picture-card"
          @uploadFail="uploadCoverFail"
          @uploadSuccess="uploadCoverSuccess"
          @deleteFile="deleteCover"
        />
      </el-form-item>
      <el-form-item label="话题详情：">
        <upload-file
          :type="upload.type"
          :business="upload.business"
          :upload-list.sync="details"
          :show-list="true"
          :limit="1"
          :del-id-white-list="originDetailList"
          list-type="picture-card"
          @uploadFail="updateDetailFail"
          @uploadSuccess="uploadDetailSuccess"
          @deleteFile="deleteDetail"
        />
      </el-form-item>
      <el-form-item label="话题状态：">
        <el-switch
          v-model="detail.is_publish"
          :active-value="active"
          :inactive-value="inactive"
        />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="cancelTopic">取 消</el-button>
      <el-button type="primary" @click="updateTopic">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { infoTopic, addTopic, editTopic } from '@/api/topic/topic'
import UploadFile from '@/components/Upload'
export default {
  name: 'Topic',
  components: {
    UploadFile
  },
  props: ['id', 'open'],
  data: function() {
    return {
      detail: {
        id: 0,
        name: '',
        cover: {},
        detail: {},
        is_publish: 0
      },
      title: '添加话题',
      upload: {
        type: 1,
        business: 'topic'
      },
      covers: [],
      details: [],
      originCoverId: 0,
      originDetailId: 0,
      originCoverList: [],
      originDetailList: [],
      active: 1,
      inactive: 0
    }
  },
  mounted: function() {
    if (this.id > 0) {
      this.infos()
      this.$data.title = '编辑话题'
    }
  },
  methods: {
    infos() {
      infoTopic(this.id)
        .then(resp => {
          this.$data.detail = resp.data.info

          if (resp.data.info.cover) {
            this.$data.covers = [{
              id: resp.data.info.cover.id,
              url: resp.data.info.cover.name
            }]
            this.$data.originCoverId = resp.data.info.cover.id
            this.$data.originCoverList = [resp.data.info.cover.id]
          }
          if (resp.data.info.detail) {
            this.$data.details = [{
              id: resp.data.info.detail.id,
              url: resp.data.info.detail.name
            }]
            this.$data.originDetailId = resp.data.info.detail.id
            this.$data.originDetailList = [resp.data.info.detail.id]
          }
        })
    },
    uploadCoverFail(err) {
      console.log(err)
    },
    uploadCoverSuccess(data) {
      console.log(data)
      this.$data.detail.cover = {
        id: data.id,
        name: data.url
      }
    },
    deleteCover(index, item) {
      this.$data.covers = []
    },
    updateDetailFail(err) {
      console.log(err)
    },
    uploadDetailSuccess(data) {
      this.$data.detail.detail = {
        id: data.id,
        url: data.url
      }
    },
    deleteDetail(index, item) {
      this.$data.details = []
    },
    updateTopic() {
      const detail = this.$data.detail

      if (this.$data.detail.id > 0) {
        editTopic(detail.id, detail.name, detail.cover.id, detail.detail.id, detail.is_publish)
          .then(resp => {
            this.notifyOperateSuccess('添加更新成功！')
            this.$emit('updated', detail.id)
          })
      } else {
        addTopic(detail.name, detail.cover.id, detail.detail.id, detail.is_publish)
          .then(resp => {
            this.notifyOperateSuccess('话题添加成功！')
            this.$emit('added', resp.data.id)
          })
      }
    },
    notifyOperateSuccess(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
    cancelTopic() {
      this.$emit('close')
    }
  }
}
</script>
