<template>
    <el-row :gutter="10">
          <el-col :span="22" :offset="1" style="margin-top:50px" class="query">
            <!-- 头部搜索  -->
               <el-form ref="form" label-width="80px">
                    <el-form-item label="上传人:">
                         <el-select
                            v-model="query.user_id"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入姓名或手机号"
                            :remote-method="searchUsers"
                            :loading="loadingUser">
                                <el-option
                                v-for="item in users"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                                </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="话题:">
                         <el-select
                            v-model="query.topic_id"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入话题名称"
                            :remote-method="searchTopics"
                            :loading="loadingTopic">
                                <el-option
                                v-for="item in topics"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                                </el-option>
                        </el-select>
                    </el-form-item>
                   <el-form-item label="上传时段:">
                        <el-date-picker
                            v-model="uploadTime"
                            type="datetimerange"
                            range-separator="至"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            @change="uploadTimeChanage"
                           >
                            </el-date-picker>
                    </el-form-item>
                    <el-form-item label="标签:">
                    <el-select v-model="query.label_id" placeholder="请选择">
                            <el-option
                            v-for="item in getLabels"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="状态:">
                    <el-select v-model="query.status" placeholder="请选择">
                            <el-option
                            v-for="item in status"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                         <el-button 
                         type="primary" 
                         @click="searchVideos"
                         >搜&nbsp;&nbsp;索</el-button>
                         <el-button 
                         type="danger" 
                         @click="resetQuery"
                         >重&nbsp;&nbsp;置</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top:20px;">
               <!-- 中间列表 -->
               <el-table
                    v-loading="loading"
                    :data="videos"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="id"
                         label="ID"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="topic_name"
                         label="话题名称" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="cover"
                         label="视频">
                         <template slot-scope="scope">
                              <div v-permission="'otc:topic:video:preview'" @click="playVideo(scope.row.id)">
                                   <el-image :src="getCover(scope.row.video)" fit="scale-down" lazy></el-image>
                              </div>
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="user_name"
                         label="上传人姓名" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="user_mobile"
                         label="上传人手机号" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="created_at"
                         label="上传时间" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         label="视频标签">
                         <template slot-scope="scope">
                              <span v-if="scope.row.labels.length == 0">--</span>
                            <el-tag  type="success" v-for="(item,key) in scope.row.labels" :key="key">{{ item }}</el-tag>
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         label="审核结果">
                         <template slot-scope="scope">
                            <el-link v-if="scope.row.state == 1" :underline="false">草稿</el-link>
                            <el-link v-if="scope.row.state == 2" type="warning" :underline="false">待审核</el-link>
                            <el-link v-if="scope.row.state == 3" type="success" :underline="false">已通过</el-link>
                            <el-link v-if="scope.row.state == 4" type="danger" :underline="false">已拒绝</el-link>
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         width="180"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-row :gutter="10">
                                   <el-col :span="11" 
                                        v-if="scope.row.state == 2"
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        v-permission="'otc:topic:video:audit:success'"
                                        >
                                        <el-button 
                                        type="success"
                                        @click="preAuditSuccess(scope.row.id)"
                                        >通&nbsp;&nbsp;过</el-button>
                                   </el-col>
                                    <el-col :span="11" 
                                        v-if="scope.row.state == 2"
                                        :offset="1" 
                                        style="margin-bottom:2px;" 
                                        >
                                        <el-button 
                                        type="danger"
                                        @click="preAuditFailed(scope.row.id)"
                                        v-permission="'otc:topic:video:audit:refuse'"
                                        >拒&nbsp;&nbsp;绝</el-button>
                                   </el-col>
                                   <el-col 
                                        :span="11" 
                                        :offset="1" 
                                        style="margin-bottom:2px;">
                                        <el-popconfirm
                                        title="你确定要删除该考试吗"
                                        @confirm="deleteVideo(scope.row.id)"
                                        v-permission="'otc:topic:video:del'"
                                        >
                                             <el-button 
                                             slot="reference"
                                             type="danger">删&nbsp;&nbsp;除</el-button>
                                        </el-popconfirm>
                                   </el-col>
                              </el-row>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top: 20px;">
            <!-- 底部分页 -->
               <el-pagination
                    background
                    layout="prev, pager, next"
                    :current-page="page.current"
                    :page-size="page.size"
                    :total="page.total"
                    @current-change="changePage"
                    >
               </el-pagination>
          </el-col>

          <el-col :span="22" :offset="1">
            <el-dialog v-if="showAuditSuccess" title="审核通过" :before-close="cancelAuditSuccess" :visible.sync="showAuditSuccess">
               <el-form label-position="top">
                    <el-form-item label="选择视频所属标签（多选）："  label-width="220px">
                         <el-checkbox-group v-model="labelIds">
                              <el-checkbox v-for="(item,key) in labels" :key="key" :label="item.id">{{ item.name }}</el-checkbox>
                         </el-checkbox-group>
                    </el-form-item>
               </el-form>
               <div slot="footer" class="dialog-footer">
                    <el-button @click="cancelAuditSuccess">取&nbsp;&nbsp;消</el-button>
                    <el-button @click="auditSuccess">确&nbsp;&nbsp;定</el-button>
               </div>
            </el-dialog>
          </el-col>
          <el-col :span="22" :offset="1">
            <el-dialog title="审核拒绝" :before-close="cancelAuditFailed" :visible.sync="showAuditFalse">
               <el-form>
                    <el-form-item label="拒绝原因" label-width="120px">
                         <el-input
                              type="textarea"
                              :rows="2"
                              placeholder="请输入拒绝原因"
                              v-model="reason"
                         ></el-input>
                    </el-form-item>
               </el-form>
               <div slot="footer" class="dialog-footer">
                    <el-button @click="cancelAuditFailed">取&nbsp;&nbsp;消</el-button>
                    <el-button @click="auditFailed">确&nbsp;&nbsp;定</el-button>
               </div>
            </el-dialog>
          </el-col>
          <el-col :span="22" :offset="1">
               <player
               v-if="showVideo"
               :id="showVideoId"
               :open="showVideo"
               :source="source"
               @close="closeVideo">
               </player>
          </el-col>
    </el-row>
</template>
<script>
import { listVideos, auditSuccess, auditFail, infoVideo, listLabels, deleteVideo } from '@/api/topic/video'
import { limitSearch } from '@/api/lfmini/users'
import { searchTopic } from '@/api/topic/topic'
import Player from './player'
export default {
    components: { Player },
    data: function() {
        return {
            videos: [],
            page: {
                total: 0,
                pages: 0,
                current: 1,
                size: 10
            },
            showEdit: false,
            editId: 1,
            loading: false,
            query: {
                user_id: 0,
                topic_id: 0,
                start: '',
                end: '',
                label_id: 0,
                status: 0
            },
            loading: false,
            auditId: 0,
            reason: "",
            labelIds: [],
            labels: [],
            showAuditSuccess: false,
            showAuditFalse: false,
            status: [
               {id: 0, name: "全部"},
               {id: 1, name: "待发布"},
               {id: 2, name: "待审核"},
               {id: 3, name: "审核通过"},
               {id: 4, name: "审核拒绝"}
            ],
            users: [{id: 0, name:"全部"}],
            topics: [{id: 0, name: "全部"}],
            uploadTime: ["", ""],
            loadingUser: false,
            loadingTopic: false,
            showVideoId: 0,
            showVideo: false,
            source: 'niferex'
        }
    },
    mounted: function() {    
        this.refreshVideos(1)
        this.refreshLabels()
    },
    methods: {
        refreshVideos(current) {
          this.$data.loading = true
            listVideos(
                this.$data.query.user_id,
                this.$data.query.topic_id,
                this.$data.query.start,
                this.$data.query.end,
                this.$data.query.label_id,
                this.$data.query.status,
                current,
                this.$data.page.size
            ).then(resp => {
               this.$data.loading = false
                this.$data.videos = resp.data.list
                this.$data.page = resp.data.page
            }).catch((reason) => {
               this.$data.loading = false
            })
        },
        deleteVideo(id) {
          deleteVideo(id)
               .then(resp => {
                    this.operateSuccess("视频删除成功！")
                    this.refreshVideos(this.$data.page.current)
               })
        },
        changePage(current) {
          this.refreshVideos(current)
        },
        getCover(url)   {
           if(!url) {
               return ""
           } else {
               return url+"?vframe/jpg/offset/1"
           }
        },
        preAuditSuccess(id) {
          this.$data.auditId = id
          this.$data.labelIds = []
          this.$data.showAuditSuccess = true
        },
        auditSuccess() {
          auditSuccess(this.$data.auditId, this.$data.labelIds)
               .then(resp => {
                    this.refreshVideos(this.$data.page.current)
                    this.operateSuccess("视频审核操作成功")
                    this.$data.showAuditSuccess = false
                    this.$data.labelIds = []
               })
        },
        preAuditFailed(id) {
          this.$data.auditId = id
          this.$data.reason = ""
          this.$data.showAuditFalse = true
        },
        auditFailed() {
          auditFail(this.$data.auditId, this.$data.reason)
               .then(resp => {
                    this.refreshVideos(this.$data.page.current)
                    this.$data.showAuditFalse = false
                    this.$data.auditId = 0
                    this.$data.reason = ""
                    this.operateSuccess("审核已拒绝！")
               })
        },
        cancelAuditFailed() {
          this.$data.showAuditFalse = false
          this.$data.auditId = 0
          this.$data.reason = ""
        },
        cancelAuditSuccess() {
          this.$data.showAuditSuccess = false
          this.$data.labelIds = []
        },
        operateSuccess(msg) {
          this.$notify({
               title: '操作成功',
               message: msg,
               type: 'success'
               })
        },
        refreshLabels() {
          listLabels()
               .then(resp => {
                    this.$data.labels = resp.data.list
               })
        },
        searchUsers(cb) {
          limitSearch(cb, 10)
               .then(resp => {
                    this.$data.users = resp.data.list
                    this.$data.users.unshift({id: 0, name: "全部"})
               })
        },
        searchTopics(cb) {
          searchTopic(cb, 10)
               .then(resp => {
                    this.$data.topics = resp.data.list
                    this.$data.topics.unshift({id: 0, "name": "全部"})
               })
        },
        uploadTimeChanage(val) {
          if(val && val.length == 2) {
                this.$data.query.start = val[0]
                this.$data.query.end = val[1]
            } else {
               this.$data.query.start = ""
               this.$data.query.end = ""
            }
        },
        searchVideos() {
          this.refreshVideos(1)
        },
        resetQuery() {
          this.$data.query = {
                user_id: 0,
                topic_id: 0,
                start: '',
                end: '',
                label_id: 0,
                status: 0
          }
          this.refreshVideos(1)
        },
        playVideo(id) {
          this.$data.showVideoId = id
          this.$data.showVideo = true
        },
        closeVideo(id) {
          this.$data.showVideo = false
          this.$data.showVideoId = id
        }
    },
    computed: {
     getLabels() {
          let labels = this.$data.labels
          return [{id: 0, name:"全部"}].concat(labels)
     }
    }
}
</script>