<template>
    <el-dialog
    :title="comName"
    :visible.sync="show"
    width="70%"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    :before-close="handleDialog"
    >
        <el-form :inline='true' ref="queryForm" label-width="100px" size="medium">
            <el-form-item label="" prop="doctorName">
                <el-input placeholder="请输入人名或员工号" v-model="searchVal"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchUser">查询</el-button>
                <!-- <el-button>重置</el-button> -->
            </el-form-item>
        </el-form>
        <el-row :gutter="20">
            <el-col :span="6">
                <el-tree
                :data="dingTree"
                :props="defaultProps"
                :highlight-current="true"
                node-key="id"
                accordion
                :current-node-key="1"
                 @node-click="handleNodeClick">
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                        <span>{{ node.label }}</span>
                    </span>
                </el-tree>
            </el-col>
            <el-col :span="18">
                <el-table :data="dingUser" @selection-change="handleSelectionChange">
                    <el-table-column
                        type="selection"
                        width="55">
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        label="姓名">
                        <template slot-scope="scope">
                        <span style="margin-right:10px">{{scope.row.name}}</span>
                        <!-- <el-tag type="" effect="dark" size="mini">主管</el-tag> -->
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="title"
                        label="职务">
                        <!-- <template slot-scope="scope">
                        <span style="margin-right:10px">{{scope.row.name}}</span>
                        <el-tag type="" effect="dark" size="mini">主管</el-tag>
                        </template> -->
                    </el-table-column>
                </el-table>
            <pagination v-show="total>0" :total="total" :page.sync="page" :limit.sync="page_size" @pagination="searchUser"/>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleDialog">取 消</el-button>
            <el-button type="primary" @click="addSelect">确 定</el-button>
        </span>
    </el-dialog>
</template>
<script>
    import Pagination from '@/components/Pagination/index.vue'
    import { bindUser } from '@/api/organizationStructure/organization.js'
    export default{
        props:['show','comName','depId','keyword','dingTree','dingUser','total','page','page_size'],
        data(){
            return {
                searchVal:'',
                comDepId:'',
                selectId:[],
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
            }
        },
        components:{
            Pagination
        },
        methods:{
            // 搜索
            async searchUser(){
                this.$emit('search',this.searchVal,this.comDepId);
            },
            // 点击部门获取对应人员
            handleNodeClick(data){
                this.comDepId = data.id;
                this.$emit('handleTreeClick',data)
            },
            // 选择人员
            handleSelectionChange(val){
              console.log(val);
                this.selectId = val.map(item => {
                    return item.bind_id
                })
            },
            // 确定绑定
            async addSelect(){
                if(this.selectId.length === 0){
                    this.$message({
                        message: '请选择绑定人员！',
                        type: 'warning'
                    });
                    return
                }
                let params = {
                    sync_user_id:this.selectId
                }
                let res = await bindUser(this.depId,params);
                if(res.msg == 'success'){
                    this.$message({
                        message: '绑定成功！',
                        type: 'success'
                    });
                    this.$emit('getOrUser',{id:this.depId});
                    this.handleDialog();
                }
            },
            handleDialog(){
                this.searchVal = '';
                this.$emit('showDialogFn')
            }
        }
    }
</script>
<style lang="scss" scoped>
h4{
    padding: 10px 15px;
    color: #FF982A;
    font-weight: normal;
    border: 1px solid #FF982A;
    border-radius: 3px;
    background-color: #fff;
    font-size: 12px;
    margin-top: 0;
}
</style>
