<template>
  <el-dialog
    :visible="show"
    width="60%"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    @open="beforeOpen()"
    :before-close="() => { this.$emit('showDialogFn') }"
    center
  >
    <div style="height: auto; overflow: hidden;">
      <h3>
        绑定权限组
      </h3>

      <el-col :span="18">
        <el-table ref="dataTable" :data="roleGroupListData" @selection-change="handleSelectionChange" id="add-role-group-table">
          <el-table-column prop="group_id" type="selection" width="55"></el-table-column>
          <el-table-column class-name="role-group-group_id" prop="group_id" label="组ID" align="center"></el-table-column>
          <el-table-column prop="group_name" label="权限组名" align="center"></el-table-column>
          <el-table-column prop="description" label="描述" align="center"></el-table-column>
        </el-table>
        <pagination v-show="total>0" :total="total" :page.sync="page" :limit.sync="page_size" @pagination="search"/>
      </el-col>

    </div>



    <div style="text-align: right;">
        <span slot="footer" class="dialog-footer">
            <el-button id="add-role-group-cancel" @click="handleDialog">取 消</el-button>
            <el-button type="primary" @click="addSelect">确 定</el-button>
        </span>
    </div>

  </el-dialog>
</template>

<style lang="scss" scoped>
h4{
  padding: 10px 15px;
  color: #FF982A;
  font-weight: normal;
  border: 1px solid #FF982A;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  margin-top: 0;
}
</style>


<script>
import Pagination from '@/components/Pagination/index.vue'
/**
 * 必须包含部分
 * export default {
 *   props: ['show'],
 *   data() {
 *     return {}
 *   }
 * }
 */
export default {
  components:{
    Pagination
  },
  props: ['show'],
  created() {

  },
  data() {
    return {
      total: 0,
      page: 1,
      page_size: 10,
      roleGroupListData:[],
      selectId:[], // 选择的id
    }
  },
  methods: {
    beforeOpen(){
      this.search();
    },
    handleSelectionChange(val){
      this.selectId = val.map(item => {
        return item.group_id
      })
    },
    search() {
      var obj = window.roleGroupList({
        'dep_id': window.currentDepId,
        'page': this.page,
        'limit': this.page_size
      });
      obj.then((res) => {
        var listData = res.data.list;
        this.roleGroupListData = listData;
        this.total = res.data.count;
        var role_groups = '';
        try {
          role_groups = res.data.selected.role_groups;
        }catch (e) {}


        this.$nextTick(()=>{
          this.roleGroupListData.forEach(row => {
            if(role_groups.indexOf(row.group_id) != -1){
              this.$refs.dataTable.toggleRowSelection(row,true);
            }
          })
        })



      });
    },
    addSelect(){

      var obj = window.bindRoleGroup(window.currentDepId, this.selectId);
      obj.then((res) => {
        document.getElementById("add-role-group-cancel").click();
      }).catch((err) => {
        document.getElementById("add-role-group-cancel").click();
      });
    },

    handleDialog(){
      this.searchVal = '';
      this.$emit('showDialogFn')
    }


  }
}
</script>
