<!---角色的添加公司信息只是个展示标签从当前用户登录信息上读取公司id即可---->
<template>
  <el-dialog
    :title=title
    :visible.sync="show"
    width="40%"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    :before-close="() => { this.$emit('showDialogFn') }"
    center
  >
    <el-tabs v-model="activeValue" @tab-click="tabClick">
<!--      <el-tab-pane label="角色信息" name="1" />-->
<!--      <el-tab-pane label="权限设置" name="2" />-->
      <div>
        <el-descriptions title="">
          <el-descriptions-item label="所属公司"><el-tag size="mini">{{ comName }}</el-tag></el-descriptions-item>
        </el-descriptions>
        <el-form ref="queryForm" :model="roleForm" label-position="top">
          <el-form-item required label="角色名称" prop="name">
            <el-input v-model="roleForm.name" placeholder="请输入角色名称" />
          </el-form-item>
          <el-form-item required label="角色ID" prop="alias">
            <el-input v-model="roleForm.alias" placeholder="请输入角色ID" maxlength="32" />
          </el-form-item>
          <el-form-item required label="角色状态" prop="status">
            <el-switch v-model="roleForm.status" @change="changeStatus" />
          </el-form-item>

          <el-form-item label="权限设置" prop="role_menu">
            <el-tree
              ref="menu"
              :data="menuOptions"
              show-checkbox
              node-key="id"
              empty-text="加载中..."
              :props="defaultProps"
              :default-expanded-keys="roleMenuForm.menuIds"
            />
          </el-form-item>
        </el-form>
      </div>

    </el-tabs>
    <div slot="footer" class="dialog-footer">
      <el-button @click="() => { this.$emit('showDialogFn') }">取 消</el-button>
      <el-button v-permission="'role:update'" type="primary" @click="handleDialog()">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { roles, updateRole, getYyAppMenu} from '@/api/organizationStructure/organization.js'

const defaultRoleMenu = {
  roleId: undefined,
  menuIds: []
}

export default {
  props: ['show', 'roletype', 'comName', 'roleData'],
  data() {
    return {
      title: '添加',
      activeValue: '1',
      roleForm: {
        name: '',
        alias: '',
        status: false,
        desc: ''
      },
      // 菜单列表
      menuOptions: [],
      defaultProps: {
        children: 'children',
        label: 'title'
      },
      roleMenuForm: Object.assign({}, defaultRoleMenu),
      // 选中数组
      ids: [],
    }
  },
  watch: {


    roleData(val) {

      if(val.role_id == undefined){
        this.title = '添加角色';
      }else{
        this.title = '编辑角色';
      }


      this.getMenu(val); // 需要使用到分步骤表单

      this.roleForm = {
        ...val,
        alias: val.role_id,
        status: val.status == 1
      }


    }
  },
  methods: {
    getMenu(row) {
      getYyAppMenu(row.id).then(res => {
        this.menuOptions = res.data.menus
        this.roleMenuForm = res.data
        this.$nextTick(() => {
          this.$refs.menu.setCheckedKeys(res.data.menuIds)
        })
        this.showRoleMenu = true
      })
    },
    changeStatus(val) {
      // val?this.roleForm.status = 1:this.roleForm.status = -1;
      console.log(this.roleForm.status)
    },

    // 所有菜单节点数据
    getMenuAllCheckedKeys() {
      // 目前被选中的菜单节点
      const checkedKeys = this.$refs.menu.getCheckedKeys()
      // 半选中的菜单节点
      const halfCheckedKeys = this.$refs.menu.getHalfCheckedKeys()
      checkedKeys.unshift.apply(checkedKeys, halfCheckedKeys)
      return checkedKeys
    },

    handleDialog() {
      // console.log(this.roleData.id)
      // return
      // 新增
      this.$refs['queryForm'].validate(async(valid) => {
        if (valid) {
          let aliasReg = /^[a-zA-Z][a-zA-Z0-9]{1,32}$/
          if (!aliasReg.test(this.roleForm.alias)) {
            this.$message({
              message: '请填首字母开头，数字和字母组合的ID',
              type: 'warning'
            })
            return
          }
          let status = this.roleForm.status ? 1 : -1
          let params = {
            // ...this.roleForm,
            name: this.roleForm.name,
            alias: this.roleForm.alias,
            desc: this.roleForm.desc,
            status
          }

          params.menuIds = this.getMenuAllCheckedKeys()

          if (this.roletype == 'add') {
            let res = await roles('add', params)
            if (res.msg == 'success') {
              this.$message({
                message: '新增成功！',
                type: 'success'
              })
              this.$emit('showDialogFn')
              this.$emit('getList')
              this.$refs['queryForm'].resetFields()
            }
          } else {
            let res = await updateRole(this.roleData.id, params)
            if (res.msg == 'success') {
              this.$message({
                message: '更新成功！',
                type: 'success'
              })
              this.$emit('showDialogFn')
              this.$emit('getList')
              this.$refs['queryForm'].resetFields()
            }
          }
        } else {
          return false
        }
      })
    },
    tabClick() {
    }
  }
}
</script>
<style lang="scss" scoped>
h4{
  padding: 10px 15px;
  color: #FF982A;
  font-weight: normal;
  border: 1px solid #FF982A;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  margin-top: 0;
}
.el-dialog--center{
  .el-dialog__body{
    padding-top: 2px;
  }
  .el-descriptions{
    margin: 10px 0;
    padding-left: 0;
  }
  .el-form--label-top{
    .el-form-item__label{
      padding-bottom: 0;
    }
  }
}
</style>
