<template>
    <el-dialog
    title="对应关系"
    :visible.sync="show"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    :before-close="()=>{this.$emit('showDialogFn')}"
    width="30%">
        <ul>
            <li v-for="item in list" :key="item.id">{{item.name}}</li>
        </ul>
        <el-empty v-show="list.length === 0" :image-size="140" description="暂无对应关系"></el-empty>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" v-permission="'organization:bindOr'" @click="modify">修改</el-button>
        </span>
    </el-dialog>
</template>
<script>
import { bindDepList } from '@/api/organizationStructure/organization.js'
    export default{
        props:['show','depId'],
        data(){
            return {
                list:[]
            }
        },
        watch:{
            async show(val){
                if(val){
                    let res = await bindDepList(this.depId);
                    this.list = [...res.data.list];
                }
            }
        },
        methods:{
            modify(){
                this.$emit('handleBind');
                this.$emit('showDialogFn');
            }
        }
    }
</script>
<style lang="scss" scoped>
ul{
    margin:0;padding:0;list-style:none;
    li{
        margin: 20px 0;
    }
}
</style>