<template>
  <el-drawer
    title="角色绑定"
    :visible.sync="show"
    direction="rtl"
    :before-close="handleDialog">
      <!----角色列表----->
      <div style="padding: 20px;">
        <el-form label-position="top">
          <el-form-item label="当前人员">
            <span>{{info.name}}</span>
          </el-form-item>
          <el-form-item required label="请选择角色" >
            <el-autocomplete
              style="width: 100%;"
              class="inline-input"
              v-model="roleName"
              :fetch-suggestions="roleListSearch"
              placeholder="角色"
              @select="changeRoleSelect"
            ></el-autocomplete>
          </el-form-item>
          <el-button type="primary" @click="onSubmit" >确认</el-button>
        </el-form>
      </div>



  </el-drawer>
</template>
<script>
import * as importApi from "@/api/import/import";
import {organizationRole} from "@/api/system/role";
import {setRole, setUser} from "@/api/organizationStructure/organization";

export default{
  props:['show','title','info','userid'],
  data(){
    return {
      roleList: [],
      roleName: '21',
      query: {
        user_id: 0,
        role_id: 0,
      },
      userinfo: null,
      queryForm: {
        page: 1,
        limit: 100000,
        sortFiled: 'id',
        sortDirection: 'desc'
      },
    }
  },
  watch: {
    info: function (res) {
      this.userinfo = res;
      this.query.role_id = res.role_id;
      this.roleName = res.role_name;
      console.log(res);
    },
    userid: function (res) {
      this.query.user_id = res;
      console.log(res);
    }
  },
  created() {
    this.getRoles();
  },
  methods:{
    getRoles() {
      organizationRole(this.queryForm).then(response => {
        if (response.code==20000) {
          var data = [];
          for(var i in response.data.list){
            data.push({"id":response.data.list[i]['id'], "value": response.data.list[i]['name']});
          }
          this.roleList = data;
        }
      }).catch(() => {})
    },
    handleDialog(){
      this.$emit('showDraw');
    },
    // 渲染角色列表
    roleListSearch(queryString, cb){
      var list = this.roleList;
      console.log(queryString, 'queryString是否为空，如果为空拿到一个列表');
      // 如果queryString不为空 拿到的就是大于的名称
      var results = queryString ? list.filter(this.createFilter(queryString)) : list;
      console.log(results);
      // 调用 callback 返回建议列表的数据
      cb(results);
    },


    changeRoleSelect(item) {
      this.query.role_id = item.id
    },

    createFilter(queryString) {
      var ok = (list) => {
        var r = (list.value.indexOf(queryString) === 0);
        console.log('createFilterRRRR==', r);
        return r;
      };
      console.log('createFilter==', ok);
      return (list) => {
        return (list.value.indexOf(queryString) === 0);
      };
    },

    onSubmit() {

      let res = setRole(this.query);

      this.$message({
        message: '设置成功！',
        type: 'success'
      });

    },
  }
}
</script>
