<template>
     <el-dialog title="题目列表" :visible="ItemsListBool" :before-close="close">
         <el-form
      label-position="right"
      :model="itemsData"
      label-width="150px"
      class="demo-ruleForm"
    >
     <div>试卷名称： {{ paper_name }}</div>
     <div>出题类型： {{ test_paper_type?'试题出卷':'题库出卷' }}</div>
     <div>出题方式： {{ question_type?'随机出题':'顺序出题' }}</div>
     <div>总分数12： {{ total_fraction }}</div>

     <el-table :data="itemsData" border stripe style="width: 100%;">
        <el-table-column prop="name" label="题目"></el-table-column>

        <el-table-column prop="item_type" label="类别">
          <template slot-scope="scope">
            <span>
              <p v-if="scope.row.item_type==1">单选</p>
              <p v-if="scope.row.item_type==2">多选</p>
              <p v-if="scope.row.item_type==3">描述</p>
            </span>
          </template>
        </el-table-column>

         <el-table-column prop="source" label="分数">
          <template  slot-scope="scope">
            <el-input-number v-model="scope.row.source" @change="handleChange" @focus="ReleaseLock" :min="0" label="分数"></el-input-number>
          </template>
         </el-table-column>
        </el-table>
      <el-divider></el-divider>
      <el-button @click="submitItems" :disabled="subm">提交 </el-button>
    </el-form>
     </el-dialog>
</template>

<script>
import { examPaperEdit } from '@/api/exam/exam_paper';
export default {
  name: 'ItemsList',
  props:{
      ItemsListBool: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    itemsData: {
      type: Array,
      default: () => []
    },

    paper_name: {
      type: String,
      default: () => {
        return ''
      }
    },
    question_type: {
      type: Number,
      default: () => {
        return 1
      }
    },

    test_paper_type: {
      type: Number,
      default: () => {
        return 1
      }
    },

    type: {
      type: Number,
      default: () => {
        return 1
      }
    },

    paper_id: {
      type: Number,
      default: () => {
        return 1
      }
    },
    total_fraction: {
      type: Number,
      default: () => {
        return 0
      }
    },
  },
  components: {
  },

  data: function() {
    return {
      total_fraction: 0,
      subm: false,
    };
  },
  created() {
  },

  methods: {
    ReleaseLock(){
       this.subm = false
    },
    submitItems(){
      console.log("提交题目")
      console.log(this.total_fraction)
      if(this.total_fraction > 100){
         console.log("panduan")
          this.$notify({
            title: '操作失败',
            message: "分数不得大于100分",
            type: 'error'
          })
          this.subm = true
      }else{
         examPaperEdit(this.itemsData, this.type, (this.question_type+1), this.paper_id)
          .then(response => {
             if (response.data.code === 20000) {
                this.$notify({
                    title: '操作成功',
                    message: "分数配置完成",
                    type: 'success'
                })
             }
          })
      this.$emit('closeLiveDialog', true)
      }
    },
    handleChange(value){
      let source = 0
      this.subm = false
      for(let i=0;i<this.itemsData.length;i++){
        if(this.itemsData[i]['source']){
          source += this.itemsData[i]['source']
          if(source>100){
            this.$notify({
                title: '操作失败',
                message: "分数不得大于100分",
                type: 'error'
            })
            this.subm = true
          }
        }
      }

      this.total_fraction = source.toFixed();
    },

    // focusChange(value){
    //   console.log(value);
    // },
    querySearch(queryString, cb) {
      // var list = this.staticDeparts
      // var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // // 调用 callback 返回建议列表的数据
      // cb(results)
    },

    showWhiteList() {
      this.whiteListDialog = true
    },

    close() {
      this.$emit('closeLiveDialog', false)
    }
  },
}
</script>