<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="1" class="top">
      <el-form ref="form" label-width="120px" size="mini" label-position="left">

        <el-row>
          <el-col :span="10">
            <el-form-item
              label="图片:"
              prop="img"
              :rules="[
                {required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :pic-list="exam.img"
                :upload-data="uploadData"
                :sign="sign.img"
                :pic-url="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item
              label="关联考试:"
              prop="product"
              :rules="[
                { required: true, message: '请关联考试', trigger: 'blur' }
              ]"
            >
              <el-select v-model="exam.exam_id" collapse-tags filterable placeholder="请选择">
                <el-option
                  v-for="item in examList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item
              label="关联产品"
              prop="product"
              :rules="[
                { required: true, message: '请至选择产品', trigger: 'blur' }
              ]"
            >
              <!-- @change="onSelectedInformationType" -->
              <el-select v-model="exam.pro_ids" collapse-tags filterable multiple placeholder="请选择">
                <el-option
                  v-for="item in ProList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- <li v-for="(item,index) in MainList" :key="index" class="informationTypeList" style="margin: 10px 0 0 60px;list-style: none;" @click="delCheckedinformationTypeId(item.id)">
                         <i class="el-icon-circle-close"> {{ item.value }} </i>
                    </li> -->

        <el-row>
          <el-col :span="10">
            <el-form-item
              label="连锁店:"
              :rules="[
                {required: true, message: '', trigger: 'change' }
              ]"
            >
              <el-select
                v-model="exam.m_id"
                collapse-tags
                filterable
                remote
                reserve-keyword
                placeholder=""
                :disabled="mainSelectCheck"
                :remote-method="queryAgent"
                :loading="loadingUser"
                @change="GetBranchStoreList"
              >
                <el-option
                  v-for="item in MainList"
                  :key="item.id"
                  :label="item.store_name"
                  :value="item.id"
                />
              </el-select>

              <el-checkbox v-model="exam.allMainListStatus" @change="allMainListCheck">全部连锁店</el-checkbox>

            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            style="width: 100%"
            :row-key="(row) => {return row.id}"
            border

            @selection-change="handleSelectionChange"
          >
            <el-table-column
              :reserve-selection="true"
              type="selection"
              prop="id"
              label="ID"
            />
            <el-table-column
              prop="id"
              label="ID"
            />
            <el-table-column
              prop="store_name"
              label="门店名称"
            />
          </el-table>

          <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

          <div style="margin: 20px;">
            <el-button @click="toggleSelection()">取消选择</el-button>
          </div>
        </el-row>
        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
        </el-row>
      </el-form>
    </el-col>
  </el-row>
</template>
<script>

import * as RsetApi from '@/api/pharmacy/rest'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import * as commonApi from '@/api/common/common'

export default {

  components: { ImgUpload, Pagination },

  data: function() {
    return {

      exam: {
        id: '',
        img: [],
        exam_id: '',
        m_id: '',
        multipleSelection: [],
        pro_ids: [],
        allMainListStatus: false
      },
      query: {
        m_id: '',
        page: 1,
        page_size: 20
      },

      // 七牛云上传
      sign: {
        img: 'img'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      list: [],
      total: 0,
      loadingUser: false,
      ProList: [],
      examList: [],
      MainList: [],
      tableData: [],
      multipleSelectionOut: [],
      mainSelectCheck: false
    }
  },

  mounted: function() {
    const pid = this.$route.query.pid
    if (pid > 0) {
      this.exam.id = pid
      this.refreshExamInfo(pid)
    }
  },

  created() {
    this.getToken()
    //   this.GetBranchStoreList()
    this.getProList()
    this.getExamList()
  },

  methods: {
    allMainListCheck(st) {
      console.log(st)
      if (st) {
        this.mainSelectCheck = this.exam.allMainListStatus = true
      } else {
        this.mainSelectCheck = this.exam.allMainListStatus = false
      }
      this.tableData = []
      this.exam.m_id = ''
    },

    // 获取信息
    refreshExamInfo(pid) {
      RsetApi.PharmacyExamDetail(pid).then(response => {
        this.exam.pro_ids = response.data.pro_ids
        this.exam.multipleSelection = response.data.multipleSelection
        this.multipleSelectionOut = response.data.multipleSelection
        this.exam.img = response.data.img
        this.exam.m_id = response.data.m_name
        this.exam.exam_id = response.data.exam_id
        this.query.m_id = response.data.m_id

        if (response.data.allMainListStatus) {
          this.exam.allMainListStatus = this.mainSelectCheck = true
        }
        // this.exam = response.data

        if (response.data.m_id && pid) {
          this.search()
        }
      }).catch(() => {})
    },

    search() {
      let mstore_id = this.exam.m_id
      if (this.exam.id) {
        mstore_id = this.query.m_id
      }
      console.log(mstore_id)

      RsetApi.BranchStore({ 'main_id': mstore_id, 'page_size': this.query.page_size, 'page': this.query.page })
        .then(resp => {
          this.tableData = resp.data.list
          this.total = resp.data.total

          console.log('+++++++')
          console.log(this.tableData)
          console.log(this.multipleSelectionOut)
          this.tableData.forEach((row, index) => {
            if (this.multipleSelectionOut.includes(row.id)) {
              this.$refs.multipleTable.toggleRowSelection(row, true)
            }
          })

          this.pageINdex.push(this.query.page)
          console.log(this.pageINdex)
        }).catch(reason => {
          this.loadingUser = false
        })
    },

    handleSelectionChange(val) {
      this.exam.multipleSelection = val.map(item => item.id)
    },

    toggleSelection(val) {
      this.$refs.multipleTable.clearSelection()
    },

    queryAgent(cb) {
      this.loadingUser = true
      RsetApi.MainList({ 'main_name': cb })
        .then(resp => {
          this.MainList = resp.data
          this.loadingUser = false
        }).catch(reason => {
          this.loadingUser = false
        })
    },

    GetBranchStoreList() {
      if (this.query.m_id != this.exam.m_id) {
        this.multipleSelection = this.multipleSelectionOut = []
        this.toggleSelection()
      }
      this.query.m_id = this.exam.m_id
      this.search()
    },

    // 获取考试列表
    getExamList() {
      RsetApi.ExamList().then(response => {
        this.examList = response.data
      }).catch(() => {})
    },

    // 获取产品列表
    getProList() {
      RsetApi.ProList().then(response => {
        this.ProList = response.data
      }).catch(() => {})
    },

    submit() {
      this.exam.m_id = this.query.m_id

      if (this.exam.img.length <= 0) {
        this.operationMsg('图片不可空', 'error')
        return
      }

      if (!this.exam.exam_id) {
        this.operationMsg('请选择考试', 'error')
        return
      }

      if (this.exam.multipleSelection.length <= 0 && this.exam.pro_ids.length <= 0 && !this.exam.m_id) {
        this.operationMsg('请选择关联产品或连锁店', 'error')
        return
      }

      console.log(this.exam)

      RsetApi.PharmacyExamEdit(this.exam).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')

          // 清空所有
          this.toggleSelection()
          this.exam.m_id = this.query.m_id = ''
          this.exam.multipleSelection = []
          this.exam.pro_ids = []
          this.exam.exam_id = ''
          this.exam.img = []
          // this.search()

          this.$store.dispatch('tagsView/delView', this.$route).then(({ visitedViews }) => {
            this.$router.back()
          })
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    setImg(data) {
      this.exam.img = data.imgList
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    }
  }

}
</script>
<style scoped>
.top {
     margin-top: 50px;
}
.pointInput {
   width: 10em;
}

.cashInput {
     width: 10em;
}

.examPass {
     width: 5em;
}
.passCount {
     margin: 0px;
     color: rgb(144, 147, 153)
}
.addForm {
     margin-top: 20px;
     text-align: center;
}
.contentButton {
     margin-top: 20px;
}
</style>
