<template>
     <div class="app-container">
       <el-form ref="form" :model="query" label-position="right" label-width="80px">
         <el-row :gutter="80">
           <el-col :span="9">
             <el-form-item label="考试名称">
               <el-input v-model="query.name" />
             </el-form-item>
           </el-col>
           <el-col :span="6">
             <el-button v-permission="'pharmacy:exam:search'" type="primary" @click="search">搜索</el-button>
             <el-button v-permission="'pharmacy:exam:add'" type="primary" class="newbutton" @click="$router.push({ name: 'PharmacyAddExam' });">添加</el-button>
           </el-col>
         </el-row>
       </el-form>
   
       <el-table
         v-loading="loading"
         border
         :data="list"
         row-key="id"
         highlight-current-row
         style="width: 100%"
       >
         <el-table-column prop="id" label="ID" align="left" />
         <el-table-column prop="name" label="考试名称" align="left" />
         <el-table-column prop="content" label="封面" width="180" align="center">
           <template slot-scope="{row}">
             <el-image :src="row.image" fit="contain" />
           </template>
         </el-table-column>
         <el-table-column prop="created_at" label="创建时间" align="center"/>
         <el-table-column prop="" label="操作" width="250px" align="center">
           <template slot-scope="{row}">
             <el-row>
               <el-col :span="8"/>
               <el-col :span="8">
                 <el-button v-permission="'pharmacy:exam:edit'" type="primary" size="mini" @click="$router.push({ name: 'PharmacyAddExam', query: {pid: row.id}});">编辑</el-button>
               </el-col>
               <el-col :span="8">
                 <el-button v-permission="'pharmacy:exam:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
               </el-col>
             </el-row>
           </template>
         </el-table-column>
       </el-table>
   
       <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
     </div>
   </template>
   
   <script>
   import * as RsetApi from '@/api/pharmacy/rest'
   import Pagination from '@/components/Pagination'
   
   export default {
     name: 'exam',
     components: { Pagination },
     data() {
       return {
         loading: true,
         query: {
           page: 1,
           page_size: 20,
           name: '',
         },
         list: [],
         total: 0,
         dialogVisible: false,
       }
     },
     
     created() {
       this.search()
     },
   
     methods: {
       search() {
         this.loading = true
         RsetApi.PharmacyExamList(this.query).then(response => {
           this.list = response.data.list
           this.total = response.data.total
           this.loading = false
         }).catch(() => {})
       },
   
      operateSuccess(msg) {
        this.$notify({
              title: '操作成功',
              message: msg,
              type: 'success'
        })
      },

     deleted(id) {
        this.$confirm('确认删除吗?', '提示', {
           confirmButtonText: '确定',
           cancelButtonText: '取消',
           type: 'warning'
         }).then(() => {
          RsetApi.PharmacyExamDel(id).then(response => {
             if (response.code === 20000) {
               this.operationMsg('删除成功！', 'success')
               this.search()
             }
           }).catch(() => {})
         }).catch(() => {})
       },
   
       // 消息提示
       operationMsg(message, type) {
         this.$message({
           showClose: true,
           message: message,
           type: type
         })
       }
     }
   }
   </script>
   
   <style>
     .articleList:hover{
       color: red;
     }
     .el-switch__core:after{
       width: 14px;
       height: 14px;
     }
     .el-switch__core{
       height: 18px;
     }
     .el-select {
       width: 100%;
     }
     .buttonrow {
       margin-top: 10px;
     }
     .newbuttondiv {
       margin-bottom: 20px;
     }
     .newbutton {
       margin-left: 20px;
     }
     .count {
       font-size: 15px;
       color: #304156;
       margin-top: 10px;
     }
     .status {
       font-weight: 600;
     }
     .publishstatus {
       color: #1890ff;
     }
     .outstatus {
       color: #e64242;
     }
     .inlive {
       color: #42b983;
     }
   </style>
   