<template>
  <div style="margion:50px"
  >
    <el-row :gutter="24" style="margin-top:50px">
      <el-col :span="22" :offset="1">
        <el-form ref="query" :inline="true" :model="query" label-width="80px">
          <el-form-item label="名称">
            <el-input v-model="query.keywords" placeholder="" />
          </el-form-item>
          
          <el-form-item label="出题方式">
            <el-select v-model="query.question_type_status" placeholder="">
              <el-option
                v-for="statusItem in question_type"
                :key="statusItem.value"
                :label="statusItem.name"
                :value="statusItem.value"
              >
                {{ statusItem.name }}
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="出题类型">
            <el-select v-model="query.test_paper_type_status" placeholder="">
              <el-option
                v-for="statusItem in test_paper_type"
                :key="statusItem.value"
                :label="statusItem.name"
                :value="statusItem.value"
              >
                {{ statusItem.name }}
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="创建时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              value-format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="创建时间"
              end-placeholder="创建时间"
            />
          </el-form-item>

          <el-form-item label="">
            <el-button type="primary" @click="getExamTestPaper">搜索</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row :gutter="24">
      <el-col :span="22" :offset="1">
        <el-table
          :data="search.getPapers"
          border
          stripe
          style="width: 100%"
        >
          <el-table-column
            header-align="center"
            align="center"
            prop="name"
            label="试卷的名称"
            width="180px"
          />
          <el-table-column prop="question_type" label="出题类型" width="180" align="center">
            <template slot-scope="{row}">
              <div v-if="row.question_type == 0">顺序出题</div>
              <div v-if="row.question_type == 1">随机出题</div>
              <div v-else />
            </template>
          </el-table-column>
          

          <el-table-column prop="test_paper_type" label="出题类型" width="180" align="center">
            <template slot-scope="{row}">
              <div v-if="row.test_paper_type == 0">题库出卷</div>
              <div v-if="row.test_paper_type == 1">试题出卷</div>
              <div v-else />
            </template>
          </el-table-column>

          <el-table-column prop="checkCount" label="总题数" width="180" align="center">
            <template slot-scope="{row}">
              <div>{{ (row.checkCount > 0?row.checkCount:0) + (row.radioCount> 0?row.radioCount:0) }}</div>
            </template>
          </el-table-column>

          <el-table-column prop="checkCount" label="多选题" width="180" align="center">
            <template slot-scope="{row}">
              <div>{{ row.checkCount > 0?row.checkCount:0 }}</div>
            </template>
          </el-table-column>

           <el-table-column prop="radioCount" label="单选题" width="180" align="center">
            <template slot-scope="{row}">
              <div>{{ row.radioCount> 0?row.radioCount:0 }}</div>
            </template>
          </el-table-column>         
  
          <el-table-column
            header-align="center"
            align="center"
            prop=""
            label="操作"
          >
            <template slot-scope="scope">
              <el-button
                @click="handleEdit(scope.row.id, scope.row.name, scope.row.question_type, scope.row.test_paper_type)"
                v-permission="'paper:mment:edit'"
              >编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-row :gutter="24" justify="center" style="margin-top:30px">
          <el-col :span="22" :offset="1">
            <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="getExamTestPaper" />
          </el-col>
        </el-row>
      </el-col>
    </el-row>

    <items-list  :itemsData="item_source_list" :paper_id="paper_id" :type="type" :paper_name="paper_name" :question_type="question_type_st" :test_paper_type="test_paper_type_st" :ItemsListBool="ItemsListBool" :total_fraction="total_fraction" @closeLiveDialog="closeLiveDialog($event)"></items-list>
    <question-list  :itemsData="item_source_list" :paper_id="paper_id" :type="type" :paper_name="paper_name" :question_type="question_type_st" :test_paper_type="test_paper_type_st" :QuestionListBool="QuestionListBool" :total_fraction="total_fraction" @closeLiveDialog="closeLiveDialog($event)"></question-list>
    <range-question-list  :itemsData="item_source_list" :total="total" :source="source" :cc="cc" :paper_id="paper_id" :type="type" :paper_name="paper_name" :question_type="question_type_st" :test_paper_type="test_paper_type_st" :RangeQuestionBool="RangeQuestionBool"  :total_fraction="total_fraction" @closeLiveDialog="closeLiveDialog($event)"></range-question-list>

  </div>
</template>
<script>
import { getExamValidTestPaper, getTestPaperItem} from '@/api/exam/exam_paper';
import Pagination from '@/components/Pagination'
import ItemsList from '@/components/Exam/ItemsList'
import QuestionList from '@/components/Exam/QuestionList'
import RangeQuestionList from '@/components/Exam/RangeQuestionList'
export default {
   components: { Pagination, ItemsList, QuestionList, RangeQuestionList },
  data() {
    return {
      query: {
        keywords: '',
        question_type_status: 0,
        test_paper_type_status: 0,
        page: 1,
        page_size: 20,
        start_time: null
      },
      'newPaper': {
        'name': '',
        'type': 0
      },
      dialogFormVisible: false,
      formLabelWidth: '100px',
      total: 0,
      question_type: [
        { value: 0, name: '全部' },
        { value: 1, name: '顺序出题' },
        { value: 2, name: '随机出题' },
      ],
      test_paper_type: [
        { value: 0, name: '全部' },
        { value: 1, name: '题库出卷' },
        { value: 2, name: '试题出卷' },
      ],
      search: {
          getPapers: [],
      },
      item_source_list: [],
      item_question_list: [],
      ItemsListBool: false,
      QuestionListBool: false,
      RangeQuestionBool: false,
      paper_name: '',
      question_type_st: 0,
      test_paper_type_st: 0,
      type: 0,
      paper_id: 0,
      cc: 0,
      source: 0,
      total: 0,
      total_fraction: 90
    }
  },
  created: function() {
    this.getExamTestPaper()
  },
  methods: {
    getExamTestPaper() {
      this.$data.loading = true;
      getExamValidTestPaper(this.query, 10)
          .then(response => {
                this.$data.search.getPapers = response.data.list
                this.total = response.data.total
                this.$data.loading = false
          })
    },
    handleEdit(id, name, question_type, test_paper_type) {
      this.$data.loading = true
      // 顺序出题
      if(question_type == 0){
        this.ItemsListBool = true
      }else if(question_type == 1 && test_paper_type==0){ // 随机出题
        this.QuestionListBool = true
      }
      // 随机出题 题库出题
      else if(question_type==1 && test_paper_type==1){
        this.RangeQuestionBool = true
      }
      this.paper_name = name
      this.question_type_st = question_type
      this.test_paper_type_st = test_paper_type
      this.paper_id = id
      getTestPaperItem(id, (question_type+1), (test_paper_type+1))
          .then(response => {
                const itemSourceList = response.data.list
                this.item_source_list = itemSourceList
                this.type = response.data.other.type
                this.cc = response.data.other.cc
                this.source = response.data.other.source
                this.total = response.data.other.total?response.data.other.total:0 
                this.total_fraction = response.data.other.total_fraction
                console.log( this.source)
                this.$data.loading = false
          })
    },    
    closeLiveDialog(status) {
          this.ItemsListBool = false
          this.QuestionListBool = false
          this.RangeQuestionBool =false
    },
    addFormConfirm(){
      console.log(111)
    },
 
    notifyOperateSuccess: function(msg) {
      this.$notify({
        title: '操作成功',
        message: msg,
        type: 'success'
      })
    },
  },
}
</script>
<style scoped>
.el-button--del {
    color: red;
    border-color: transparent;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 7px;
}

.el-button--item {
    color: #46a6ff;
    border-color: transparent;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 7px;
}
</style>
