<template>
  <div class="app-container">

    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="省">
            <el-select v-model="query.rid" filterable placeholder="请选择">
              <el-option
                v-for="item in resources"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="市">
            <el-select v-model="query.rid" filterable placeholder="请选择">
              <el-option
                v-for="item in resources"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="大区">
            <el-select v-model="query.rid" filterable placeholder="请选择">
              <el-option
                v-for="item in resources"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="9">
          <el-form-item label="药店名称">
            <el-input v-model="query.username" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'morning:dream:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-tabs v-model="activeName" type="card" @tab-click="typeSearch">
      <el-tab-pane
        v-for="item in informationType"
        :key="item.id"
        :label="item.value"
        :name="item.value"
      >
        <el-table
          v-loading="loading"
          :data="list"
          row-key="id"
          highlight-current-row
          stripe
          border
          style="width: 100%"
        >
          <el-table-column prop="id" label="ID" width="50" align="left" />
          <el-table-column prop="created_at" label="大区" align="left" />
          <el-table-column prop="order_num" label="省份" align="left" />
          <el-table-column prop="user_name" label="城市" align="center" />
          <el-table-column prop="consume_integral" label="总店" align="center" />
          <el-table-column prop="goods_num" label="药店" align="center" />
          <el-table-column prop="goods_num" label="药店地址" align="center" />
          <el-table-column prop="goods_num" label="经度" align="center" />
          <el-table-column prop="" label="纬度" width="180" align="center">
            <template slot-scope="{row}">
              <div v-if="row.status == 3">未发放</div>
              <div v-if="row.status == 4">已发放</div>
            </template>
          </el-table-column>

          <el-table-column prop="" label="操作" width="120" align="center">
            <template slot-scope="{row}">
              <el-row>
                <el-col :span="100">
                  <el-button v-permission="'lfmini:order:audit'" type="primary" size="mini" @click="audit(row.id)">获取经纬度</el-button>
                </el-col>

                <el-col :span="100">
                  <el-button v-permission="'lfmini:order:audit'" type="primary" size="mini" @click="audit(row.id)">修改经纬度</el-button>
                </el-col>
              </el-row>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
      </el-tab-pane>
    </el-tabs>

    <el-dialog
      title="拒绝原因"
      :visible.sync="verifyReasonShow"
      :modal="false"
      width="30%"
    >
      <el-input
        v-model="trial_reject_reason"
        type="textarea"
        :rows="4"
        placeholder="请输入拒绝原因"
      />
      <span slot="footer" class="dialog-footer">
        <el-button @click="verifyReasonShow = false">取 消</el-button>
        <el-button type="primary" @click="verifyRefuse()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as goodsApi from '@/api/lfmini/goods'
import Pagination from '@/components/Pagination'

export default {
  name: 'Guide',
  components: { Pagination },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        username: '',
        start_date: '',
        end_date: '',
        tid: 0,
        page: 1,
        page_size: 20
      },
      formData: {
        id: 0
      },
      total: 0,
      dialogVisible: false,
      detailVisible: false,
      informationType: [
        { 'id': 1, 'value': '全部' },
        { 'id': 2, 'value': '发放中' },
        { 'id': 3, 'value': '已发放' }
      ],
      activeName: '全部',
      verifyReasonShow: false,
      trial_reject_reason: '',
      refuseId: ''
    }
  },
  created() {
    this.search()
  },
  methods: {
    typeSearch() {
      this.search()
    },

    verifyRefuse() {
      if (!this.trial_reject_reason) {
        this.operationMsg('请输入拒绝原因', 'warning')
        return
      }
      goodsApi.goods_order_grant({ 'id': this.refuseId, 't': 2, 'status': 2, 'trial_reject_reason': this.trial_reject_reason }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.drawer = false
          this.verifyReasonShow = false
          this.search()
        }
      }).catch(() => {})
    },

    // 拒绝
    refuse(id) {
      this.$confirm('确认拒绝通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.refuseId = id
        this.verifyReasonShow = true
      }).catch(() => {})
    },

    audit(id) {
      goodsApi.goods_order_grant({ 'id': id, 't': 2, 'status': 1, 'trial_reject_reason': '' }).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    search() {
      var tid = 0
      var actName = this.activeName
      this.informationType.forEach(function(item) {
        if (item.value === actName) {
          tid = item.id
        }
      })
      console.log(tid + '----')
      this.query.tid = tid
      goodsApi.goods_order_grant_list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    reset() {
      this.formData = {
        id: 0
      }
    },

    close() {
      this.dialogVisible = false
    },

    detailClose() {
      this.detailVisible = false
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .informationTypeList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
