<template>
  <div class="app-container">
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column label="手机号" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.mobile }}</span>
        </template>
      </el-table-column>
      <el-table-column label="验证码" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.code }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getYouyaoAppSms } from '@/api/smsApp/code'

export default {
  name: 'CodeApp',
  data() {
    return {
      tableKey: 0,
      list: null,
      listLoading: true
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      getYouyaoAppSms()
        .then((res) => {
          this.list = res.data.list
          this.listLoading = false
        })
        .catch(() => {
          this.listLoading = false
        })
    }
  }
}
</script>
