<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'resources:video:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'resources:video:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'resources:video:add'" type="primary" class="newbutton" @click="showDiolog">添加视频</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="title" label="标题" align="center" />
      <el-table-column prop="thumbnail_img" label="封面" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.thumbnail_img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="url" label="链接地址" align="center">
        <template slot-scope="{row}">
          <a :href="row.url" target="_blank" class="a">{{ row.url }}</a>
        </template>
      </el-table-column>
      <el-table-column prop="admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'resources:video:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'resources:video:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="视频名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入视频名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入视频名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="链接地址"
              prop="url"
              :rules="[
                { required: true, message: '请输入链接地址', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.url" placeholder="请输入链接地址" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="专家"
              prop="experts"
              :rules="[
                { required: true, message: '请输入专家姓名', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.experts" placeholder="请输入专家姓名,多位专家逗号连接" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="列表图片"
              prop="thumbnail_img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.thumbnail_img"
                :uploadData="uploadData"
                :sign="sign.videoListImg"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2" />
          <el-col :span="11">
            <el-form-item
              label="详情封面"
              prop="cover_img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.cover_img"
                :uploadData="uploadData"
                :sign="sign.videoDetailImg"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as videoApi from '@/api/resources/video'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import { getUploadToken } from '@/api/upload/upload'

export default {
  name: 'Video',
  components: { Pagination, ImgUpload },
  data() {
    return {
      query: {
        title: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      formData: {
        video_id: 0,
        title: '',
        url: '',
        experts: '',
        thumbnail_img: [],
        cover_img: []
      },
      dialogVisible: false,
      // 七牛云上传
      sign: {
        videoListImg: 'videoListImg',
        videoDetailImg: 'videoDetailImg'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: ''
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      videoApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.getUploadToken()
      this.reset()
      this.dialogVisible = true
    },

    submit() {
      videoApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      videoApi.detail({ video_id: id }).then(response => {
        if (response.code === 20000) {
          this.getUploadToken()
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除该视频吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        videoApi.deleted({ video_id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.reset()
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        video_id: 0,
        title: '',
        url: '',
        experts: '',
        thumbnail_img: [],
        cover_img: []
      }
    },

    queryReset() {
      this.query = {
        title: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'videoListImg') {
        this.formData.thumbnail_img = data.imgList
      } else if (data.sign === 'videoDetailImg') {
        this.formData.cover_img = data.imgList
      }
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
