<template>
  <el-row :gutter="10">
    <el-col :span="22" :offset="2" style="margin-top:20px;">
      <el-form label-width="80px" inline>
        <el-form-item label="科室:">
          <el-select
            v-model="query.depart_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入科室名称"
            :remote-method="searchDepartment"
            :loading="loadingDepart"
          >
            <el-option
              v-for="item in departs"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="药品">
          <el-select v-model="query.product_id">
            <el-option
              v-for="item in products"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="searchDepartProducts"
          >搜&nbsp;&nbsp;索</el-button>
          <el-button
            type="danger"
            @click="resetQuery"
          >重&nbsp;&nbsp;置</el-button>
          <el-button
            type="success"
            @click="preAddDepartProduct"
            v-permission="'pharmacy:depart:product:add'"
          >添&nbsp;&nbsp;加</el-button>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :span="22" :offset="2">
      <el-table
        v-loading="loading"
        :data="list"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          header-align="center"
          prop="id"
          label="ID"
        />
        <el-table-column
          label="科室"
          prop="depart_name"
          header-align="center"
        />
        <el-table-column
          prop="product_name"
          label="产品名称"
          header-align="center"
        />
        <el-table-column
          label="操作"
        >
          <template slot-scope="scope">
            <el-col
              v-permission="'pharmacy:depart:product:edit'"
              :span="11"
              :offset="1"
              style="margin-bottom:2px;"
            >
              <el-button
                type="primary"
                @click="preEdit(scope.row.id)"
              >编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辑</el-button>
            </el-col>
            <el-col
              :span="11"
              :offset="1"
              style="margin-bottom:2px;"
              v-permission="'pharmacy:depart:product:del'"
            >
              <el-popconfirm
                title="你确定要删除该咨询吗"
                @confirm="delProductDepart(scope.row.id)"
              >
                <el-button
                  slot="reference"
                  type="danger"
                >
                  删&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除
                </el-button>
              </el-popconfirm>
            </el-col>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :offset="2" :span="22">
      <!-- 底部分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :current-page="page.current"
        :page-size="page.size"
        :total="page.total"
        @current-change="changePage"
      />
    </el-col>

    <el-col :span="22" :offset="2">
      <el-dialog
        v-if="showAdd"
        title="科室-药品关联"
        :visible="showAdd"
        :before-close="cancelRuleOperate"
      >
        <el-form ref="form" :model="edit" :rules="rules">
          <el-form-item label="药品" label-width="120" prop="product_id">
            <el-select v-model="edit.product_id">
              <el-option
                v-for="item in products"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="科室" label-width="120" prop="depart_id">
            <el-select
              v-model="edit.depart_id"
              filterable
              remote
              reserve-keyword
              placeholder="请输入科室名称"
              :remote-method="searchDepartment"
            >
              <el-option
                v-for="item in departs"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="cancelRuleOperate">取 消</el-button>
          <el-button type="primary" @click="editRule">确 定</el-button>
        </div>
      </el-dialog>
    </el-col>
  </el-row>
</template>

<script>
import { listDepartProducts, addDepartProduct, editDepartProduct, delDepartProduct } from '@/api/pharmacy/depart_product'
import { getProduct } from '@/api/product/product'
import { searchDepart } from '@/api/depart/depart'
import axios from 'axios'
export default {
  data() {
    return {
      list: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      query: {
        depart_id: 0,
        product_id: 0
      },
      products: [{ id: 0, name: '全部' }],
      loading: false,
      loadingDepart: false,
      departs: [{ id: 0, name: '全部' }],
      showAdd: false,
      edit: {
        id: 0,
        product_id: 0,
        depart_id: 0
      },
      rules: {
        product_id: [
          { required: true, message: '产品不能为空', trigger: 'change' },
          { min: 1, type: 'integer', message: '请选择一个有效产品', trigger: 'change' }
        ],
        depart_id: [
          { required: true, message: '科室不能为空', trigger: 'change' },
          { min: 1, type: 'integer', message: '请选择一个有效科室', trigger: 'change' }
        ]
      }
    }
  },
  mounted() {
    // 初始化产品及科室药品规则列表
    this.initList()
    this.searchDepartment("")
  },
  methods: {
    initList() {
      const that = this
      axios.all([
        listDepartProducts(0, 0, 1, this.$data.page.size),
        getProduct(1)
      ]).then(axios.spread(function(listReps, productResp) {
        that.$data.list = listReps.data.list
        that.$data.page = listReps.data.page
        if (productResp.data.list.length > 0) {
          that.$data.products = productResp.data.list
          that.$data.products.unshift({ id: 0, name: '全部' })
        }
      }))
    },
    listDepartProducts(current) {
      listDepartProducts(
        this.$data.query.depart_id,
        this.$data.query.product_id,
        current,
        this.$data.page.size
      ).then(resp => {
        this.$data.list = resp.data.list
        this.$data.page = resp.data.page
      })
    },
    changePage(current) {
      this.listDepartProducts(current)
    },
    searchDepartment(cb) {
      searchDepart(cb, 50)
        .then(resp => {
          this.$data.departs = resp.data.list
          this.$data.departs.unshift({ id: 0, name: '全部' })
        })
    },
    searchDepartProducts() {
      this.listDepartProducts(1)
    },
    resetQuery() {
      this.$data.query.product_id = 0
      this.$data.query.depart_id = 0
    },
    preAddDepartProduct() {
      this.resetEdit()
      this.$data.showAdd = true
    },
    cancelRuleOperate() {
      this.resetEdit()
      this.$data.showAdd = false
    },
    resetEdit() {
      this.$data.edit = {
        id: 0,
        product_id: 0,
        depart_id: 0
      }
    },

    editRule: function() {
      const info = this.$data.edit
      const that = this
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (info.id > 0) {
            editDepartProduct(info.id, info.depart_id, info.product_id)
              .then(resp => {
                that.showAdd = false
                that.resetEdit()
                that.listDepartProducts(that.$data.page.current)
              })
          } else {
            addDepartProduct(info.depart_id, info.product_id)
              .then(resp => {
                that.showAdd = false
                that.resetEdit()
                that.listDepartProducts(1)
              })
          }
        }
      })
    },
    delProductDepart(id) {
      delDepartProduct(id)
        .then(resp => {
          const idx = this.$data.list.findIndex(elem => elem.id == id)
          if (idx !== -1) {
            this.$data.list.splice(idx, 1)
          }
        })
    },
    preEdit(id) {
      const item = this.$data.list.find(elem => elem.id === id)
      if (item !== undefined) {
        this.$data.edit.id = id
        this.$data.edit.product_id = item.product_id
        this.$data.edit.depart_id = item.depart_id
        this.$data.departs = [
          { id: 0, name: '全部' },
          { id: item.depart_id, name: item.depart_name }
        ]
        this.$data.showAdd = true
      }
    }

  }
}
</script>

<style scoped>

</style>
