<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="用户名">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="认证状态">
            <el-select v-model="query.user_verified" placeholder="请选择认证状态">
              <el-option label="全部" value="0" />
              <el-option label="已认证" value="1" />
              <el-option label="申请中" value="2" />
              <el-option label="已取消" value="3" />
              <el-option label="已拒绝" value="4" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'lfmini:user:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="userRenderList"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="user_name" label="用户名" align="left" />
      <el-table-column prop="true_name" label="真实名" align="left" />
      <el-table-column prop="mobile_num" label="手机号" align="left" />
      <el-table-column prop="user_verified" label="认证状态" align="left" />
      <el-table-column prop="v_date" label="认证时间" align="left" />
      <el-table-column prop="" label="操作" width="150px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="24">
              <el-button v-permission="'lfmini:user:audit'" type="primary" size="mini" @click="detail(row.id, row.user_verified)">认证信息</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-col>
      <el-drawer
        size="40%"
        title="认证信息"
        :visible.sync="drawer"
        direction="rtl"
      >
        <el-descriptions size="medium" :column="col" border>
          <el-descriptions-item label="真实姓名:">{{ formData.true_name }}</el-descriptions-item>

          <el-descriptions-item label="手机号:">{{ formData.phone }}</el-descriptions-item>

          <el-descriptions-item label="服务城市:">{{ formData.city }}</el-descriptions-item>

          <el-descriptions-item label="服务总店:">{{ formData.main_store }}</el-descriptions-item>

          <el-descriptions-item label="服务分店:">{{ formData.branch_store }}</el-descriptions-item>

          <el-descriptions-item label="药`店地址:">{{ formData.location }}</el-descriptions-item>

          <el-descriptions-item label="职位:">{{ formData.title }}</el-descriptions-item>

          <el-descriptions-item label="药师选择:">
            <div v-if="formData.is_doctor == 1">药师</div>
            <div v-if="formData.is_doctor == 0">不是药师</div>
          </el-descriptions-item>
          <el-descriptions-item label="所属大区:">

            <div v-if="formData.area && formData.user_verified == 1"> {{ formData.area }}</div>
            <div v-if="formData.user_verified == 2">
              <el-form ref="formData" label-position="left" :model="formData">
                <el-form-item
                  prop="area_id"
                  :rules="[
                    { required: true, message: '大区', trigger: 'blur' }
                  ]"
                >
                  <el-select v-model="formData.area_id" clearable placeholder="请选择大区">
                    <el-option v-for="item in areas" :key="item.id" :label="item.name" :value="item.id" />
                  </el-select>
                </el-form-item>
              </el-form>
            </div>
            <!-- </el-descriptions-item>

                <el-descriptions-item label="大区选择:"> -->

          </el-descriptions-item>

        </el-descriptions>
        <el-col :span="12" :offset="6" style="text-align:center;margin-top:3em;">
          <el-button size="medium" type="danger" @click="drawer = false">取 消</el-button>
          <el-button v-if="formData.user_verified == 2" size="medium" type="success" @click="usersAudit(1)">认 证</el-button>
          <el-button v-if="formData.user_verified == 2" size="medium" type="danger" @click="usersAudit(2)">拒 绝</el-button>
          <el-button v-if="formData.user_verified == 1" size="medium" type="danger" @click="usersAudit(3)">取消认证</el-button>
        </el-col>
      </el-drawer>
      <el-dialog
        title="拒绝原因"
        :visible.sync="verifyReasonShow"
        :modal="false"
        width="30%"
      >
        <el-input
          v-model="verifyReason"
          type="textarea"
          :rows="4"
          placeholder="请输入拒绝原因"
        />
        <span slot="footer" class="dialog-footer">
          <el-button @click="verifyReasonShow = false">取 消</el-button>
          <el-button type="primary" @click="verifyRefuse()">确 定</el-button>
        </span>
      </el-dialog>
    </el-col>
  </div>
</template>

<script>
import * as usersApi from '@/api/lfmini/users'
import Pagination from '@/components/Pagination'

export default {
  name: 'Users',
  components: { Pagination },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        area_id: '',
        area: ''
      },

      query: {
        page: 1,
        page_size: 20,
        user_verified: '0'
      },
      areas: [{ id: 1, title: '产科' }, { id: 2, title: '妇产科' }, { id: 3, title: '肾内科' }],
      uid: '',
      verifyStatus: 0,
      drawer: false,
      col: 1,
      getVerifyServeCity: '',
      getVerifyServeCompany: '',
      list: [],
      total: 0,
      articleOptions: [],
      verifyReasonShow: false,
      verifyReason: ''
    }
  },
  computed: {
    userRenderList() {
      return this.$data.list.map(function(val) {
        let verifyStatus = '未申请'
        switch (val.user_verified) {
          case 1:
            verifyStatus = '已认证'
            break
          case 3:
            verifyStatus = '已取消'
            break
          case 4:
            verifyStatus = '已拒绝'
            break
          case 2:
            verifyStatus = '申请中'
            break
          default:
            verifyStatus = '未申请'
        }

        return {
          'id': val.id,
          'user_name': val.user_name,
          'true_name': val.true_name,
          'status': val.status == 1 ? '正常' : '禁用',
          'mobile_num': val.phone,
          'create_at': val.create_at,
          'user_verified': verifyStatus,
          'v_date': val.v_date,
          'wechats': val.wechat
        }
      })
    }
  },

  created() {
    this.search()
  },

  methods: {
    usersAudit(t) {
      console.log(t)
      console.log(this.formData.area_id)
      if (!this.formData.area_id) {
        this.operationMsg('请先选择绑定大区', 'error')
        return
      }
      if (t == 2) {
        this.verifyReasonShow = true
      } else {
        usersApi.users_audit(this.uid, t, '', this.formData.phone, '', this.formData.area_id).then(response => {
          if (response.code === 20000) {
            this.operationMsg('提交成功！', 'success')
            this.drawer = false
            this.search()
          }
        }).catch(() => {})
      }
    },

    verifyRefuse(id) {
      this.verifyReasonShow = true
      if (!this.verifyReason) {
        this.operationMsg('请输入拒绝原因', 'warning')
        return
      }
      this.$confirm('确认拒绝通过吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        usersApi.users_audit(this.formData.id, 2, this.verifyReason, '', this.formData.user_auth_id).then(response => {
          if (response.code === 20000) {
            this.operationMsg('提交成功！', 'success')
            this.drawer = false
            this.verifyReasonShow = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    search() {
      this.loading = true
      console.log(this.query)
      usersApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    detail(id, user_verified) {
      usersApi.detail(id, user_verified).then(response => {
        if (response.code === 20000) {
          this.formData = response.data.info
          this.uid = response.data.info.id
          this.areas = response.data.area
          this.drawer = true
        }
      }).catch(() => {})
    },

    submit() {
      usersApi.users_audit(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
