<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'resources:article:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'resources:article:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'resources:article:add'" type="primary" class="newbutton" @click="showDiolog">添加文章</el-button>
      </el-col>
    </el-row>
    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="title" label="标题" align="center" />
      <el-table-column prop="describe" label="描述" align="center" />
      <el-table-column prop="img" label="封面" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="type" label="类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.type==1">外链</template>
          <template v-if="row.type==2">内链</template>
          <template v-if="row.type==3">富文本</template>
        </template>
      </el-table-column>
      <el-table-column prop="link" label="链接地址/内容" align="center">
        <template slot-scope="{row}">
          <a :href="row.link" target="_blank" class="a">{{ row.link }}</a>
        </template>
      </el-table-column>
      <el-table-column prop="admin" label="创建者" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'resources:article:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'resources:article:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="文章名称"
              prop="title"
              :rules="[
                { required: true, message: '请输入文章名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.title" placeholder="请输入文章名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="描述"
              prop="describe"
              :rules="[
                { required: true, message: '请输入文章描述', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.describe" placeholder="请输入文章名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="文章封面"
              prop="img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <ImgUpload
                :picList="formData.img"
                :uploadData="uploadData"
                :sign="sign.videoListImg"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="类型"
              prop="type"
              :rules="[
                { required: true, message: '请选择类型', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type" placeholder="请选择类型">
                <el-option v-for="item in types" :key="item.id" :label="item.type" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="formData.type==1||formData.type==2">
          <el-col :span="22">
            <el-form-item
              label="链接地址"
              prop="link"
              :rules="[
                { required: true, message: '请输入链接地址', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.link" placeholder="请输入链接地址" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="formData.type==3">
          <el-col :span="21" style="margin-left: 90px;">
            <quillEditor ref="myQuillEditor" v-model="formData.content" :options="editorOption" />
            <ImgUpload
              v-show="false"
              class="content-uploader"
              :picList="content_img"
              :uploadData="uploadData"
              :sign="sign.contentImg"
              :limit="limit"
              :picUrl="picUrl"
              :bucket="bucket"
              @setImg="setImg($event)"
            />
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as articleApi from '@/api/resources/article'
import Pagination from '@/components/Pagination'
import ImgUpload from '@/components/ImgUpload'
import { getUploadToken } from '@/api/upload/upload'
import { quillEditor } from 'vue-quill-editor'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import * as Quill from 'quill'

const toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'], // 加粗 斜体 下划线 删除线 -----['bold', 'italic', 'underline', 'strike']
  ['blockquote', 'code-block'], // 引用  代码块-----['blockquote', 'code-block']
  [{
    header: 1
  }, {
    header: 2
  }], // 1、2 级标题-----[{ header: 1 }, { header: 2 }]
  [{
    list: 'ordered'
  }, {
    list: 'bullet'
  }], // 有序、无序列表-----[{ list: 'ordered' }, { list: 'bullet' }]
  [{
    script: 'sub'
  }, {
    script: 'super'
  }], // 上标/下标-----[{ script: 'sub' }, { script: 'super' }]
  [{
    indent: '-1'
  }, {
    indent: '+1'
  }], // 缩进-----[{ indent: '-1' }, { indent: '+1' }]
  [{
    'direction': 'rtl'
  }], // 文本方向-----[{'direction': 'rtl'}]
  [{
    size: ['12px', '14px', '16px', '20px', '24px', '36px']
  }], // 字体大小-----[{ size: ['small', false, 'large', 'huge'] }]
  [{
    header: [1, 2, 3, 4, 5, 6, false]
  }], // 标题-----[{ header: [1, 2, 3, 4, 5, 6, false] }]
  [{
    color: []
  }, {
    background: []
  }], // 字体颜色、字体背景颜色-----[{ color: [] }, { background: [] }]
  [{
    font: []
  }], // 字体种类-----[{ font: [] }]
  [{
    align: []
  }], // 对齐方式-----[{ align: [] }]
  ['clean'], // 清除文本格式-----['clean']
  ['link', 'image', 'video'] // 链接、图片、视频-----['link', 'image', 'video']
]

export default {
  name: 'Article',
  components: { Pagination, ImgUpload, quillEditor },
  data() {
    return {
      types: [
        { id: 1, type: '外链' },
        { id: 2, type: '内链' },
        { id: 3, type: '富文本' }
      ],
      query: {
        title: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,
      formData: {
        article_id: 0,
        title: '',
        img: [],
        type: '',
        link: '',
        content: '',
        describe: ''
      },
      dialogVisible: false,
      // 七牛云上传
      sign: {
        videoListImg: 'videoListImg',
        contentImg: 'contentImg'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      limit: 999,
      content_img: [],
      editorOption: {
        placeholder: '请输入文本...',
        theme: 'snow',
        modules: {
          toolbar: {
            container: toolbarOptions,
            handlers: {
              image: function(value) {
                if (value) {
                  // 触发element-ui的文件上传
                  document.querySelector('.content-uploader input').click()
                } else {
                  this.quill.format('image', false)
                }
              }
            }
          }
        }
      }
    }
  },
  created() {
    this.search()
  },
  mounted: function() {
    var fontSizeStyle = Quill.import('attributors/style/size')
    fontSizeStyle.whitelist = ['12px', '14px', '16px', '20px', '24px', '36px']
    Quill.register(fontSizeStyle, true)
    // 修改居中方式
    var Align = Quill.import('attributors/style/align')
    Align.whitelist = ['right', 'center', 'justify']
    Quill.register(Align, true)
  },
  methods: {
    search() {
      articleApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.reset()
      this.getUploadToken()
      this.dialogVisible = true
    },

    submit() {
      articleApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.dialogVisible = false
          this.search()
        }
      }).catch(() => {})
    },

    detail(id) {
      articleApi.detail({ article_id: id }).then(response => {
        if (response.code === 20000) {
          this.getUploadToken()
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除该文章资源吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        articleApi.deleted({ article_id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.formData = {
        article_id: 0,
        title: '',
        img: [],
        type: '',
        link: '',
        content: ''
      }
    },

    queryReset() {
      this.query = {
        title: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'videoListImg') {
        this.formData.img = data.imgList
      } else if (data.sign === 'contentImg') {
        const quill = this.$refs.myQuillEditor.quill
        const length = quill.getSelection().index
        const imgSrc = data.imgList[0].url
        quill.insertEmbed(length, 'image', imgSrc)
        // 调整光标到最后
        quill.setSelection(length + 1)
      }
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
