<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row>
        <el-col :span="30">
          <el-form-item label="行为">
            <el-select v-model="query.point_act" placeholder="请选择积分行为" filterable clearable >
              <el-option label="全部" value="" />
              <el-option v-for="item in act_list" :key="item.event_key" :label="item.remark" :value="item.event_key" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="30">
          <el-form-item label="连锁">
            <el-select v-model="query.main_store_id" placeholder="请选择连锁" filterable clearable>
              <el-option label="全部" value="" />
              <el-option v-for="item in main_store_list" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="30">
          <el-form-item label="日期">
            <el-date-picker
              v-model="query.time_at"
              style="width: 300px;"
              type="daterange"
              align="right"
              size="mini"
              value-format="yyyy-MM-dd"
              unlink-panels
              range-separator="-"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            />
          </el-form-item>
        </el-col>
        <el-col :span="60" style="margin-left: 50px;">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button
            v-permission="'pharmacy:main:service:score:export'"
            style="margin-left:50px;"
            type="success"
            @click="exportServiceScore"
          >明细导出</el-button>
        </el-col>
      </el-row>

    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column
        type="index"
        label="排名"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column prop="" label="活动名称" align="center">
        <template >
          <p>药店关联</p>
        </template>
      </el-table-column>
      <el-table-column prop="total_score" label="积分" align="center" />
      <el-table-column prop="main_store_number" label="连锁编码" align="center" />
      <el-table-column prop="main_store_name" label="连锁名称" align="center" />
      <el-table-column prop="remark" label="积分行为" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as ServiceScoreReport from '@/api/pharmacy/service_score_report'
import Pagination from '@/components/Pagination'
import * as MainStoreApi from '@/api/pharmacy/main_store_api'
import * as PointApi from '@/api/pharmacy/point_api'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'TopicReportList',
  components: { Pagination },
  data() {
    return {
      query: {
        keyword: '',
        time_at: [],
        start_time: '',
        end_time: '',
        main_store_id: '',
        store_id: '',
        point_act: '',
        page: 1,
        page_size: 20
      },
      main_store_list: [],
      store_list: [],
      act_list: [],
      loading: true,
      list: [],
      total: 0,
      dialogVisible: false
    }
  },
  created() {
    this.search()
    this.getMainStoreList()
    this.getPointActList()
  },
  methods: {
    search() {
      if (this.query.time_at != null && this.query.time_at.length > 0) {
        this.query.start_time = this.query.time_at[0]
        this.query.end_time = this.query.time_at[1]
      }
      ServiceScoreReport.main_store_service_score_search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    getMainStoreList() {
      MainStoreApi.get_main_store_list().then(response => {
        this.main_store_list = response.data
      }).catch(() => {})
    },
    getPointActList() {
      PointApi.get_point_acts().then(response => {
        this.act_list = response.data
      }).catch(() => {})
    },
    exportServiceScore() {
      const that = this
      if (this.query.time_at != null && this.query.time_at.length > 0) {
        this.query.start_time = this.query.time_at[0]
        this.query.end_time = this.query.time_at[1]
      }
      if (this.query.start_time === '' || this.query.end_time === '') {
        this.operationMsg('导出报表请指定日期时间段', 'error')
        return
      }
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        // eslint-disable-next-line no-undef
        ServiceScoreReport.main_store_service_score_report_export,
        that.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },
    close() {
      this.dialogVisible = false
    },
    queryReset() {
      this.query = {
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
.a {
  color: #1890ff;
  text-decoration: underline;
}
.contentButton {
  margin-top: 20px;
  text-align: center;
}
.newbuttondiv {
  margin-bottom: 20px;
}
.newbutton {
  margin-left: 20px;
}
.el-select {
  width: 100%;
}
.buttonrow {
  margin-top: 10px;
}
.newbuttondiv {
  margin-bottom: 20px;
}
.newbutton {
  margin-left: 20px;
}
.count {
  font-size: 15px;
  color: #304156;
  margin-top: 10px;
}
.status {
  font-weight: 600;
}
.publishstatus {
  color: #1890ff;
}
.outstatus {
  color: #e64242;
}
.inlive {
  color: #42b983;
}
</style>
