<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row>
        <el-col :span="10">
          <el-form-item label="产品">
            <el-select v-model="query.product_id" placeholder="请选择大区" @change="changeProduct">
              <el-option label="全部" value="" />
              <el-option v-for="item in products" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="规格">
            <el-select v-model="query.sku_id" placeholder="请选择大区">
              <el-option label="全部" value="" />
              <el-option v-for="item in skus" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="30">
          <el-form-item label="日期">
            <el-date-picker
              v-model="query.time_at"
              style="width: 300px;"
              type="daterange"
              align="right"
              size="mini"
              value-format="yyyy-MM-dd"
              unlink-panels
              range-separator="-"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            />
          </el-form-item>
        </el-col>
        <el-col :span="60" style="margin-left: 50px;">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button
            v-permission="'pharmacy:score:main:report'"
            style="margin-left:100px;"
            type="success"
            @click="exportScoreReport"
          >明细导出</el-button>
        </el-col>
      </el-row>

    </el-form>

    <el-table v-loading="loading" :data="list"  stripe border style="width: 100%">
      <el-table-column
        type="index"
        label="排名"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column prop="" label="活动名称" align="center">
        <template >
          <p>药店关联</p>
        </template>
      </el-table-column>
      <el-table-column prop="money_point" label="积分" align="center" />
      <el-table-column prop="main_store_number" label="连锁编码" align="center" />
      <el-table-column prop="main_store_name" label="连锁名称" align="center" />
      <el-table-column prop="product_name" label="产品名称" align="center" />
      <el-table-column prop="sku_name" label="sku名称" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as ScoreReportList from '@/api/pharmacy/score_report_list'
import Pagination from '@/components/Pagination'
import * as ProductApi from '@/api/pharmacy/product_api'
import axios from "axios";
import {getToken} from "@/utils/auth";
import * as SaleReportList from "@/api/pharmacy/sale_report_list";

export default {
  name: 'ScoreReportList',
  components: { Pagination },
  data() {
    return {
      query: {
        keyword: '',
        time_at: [],
        start_time: '',
        end_time: '',
        product_id: '',
        sku_id: '',
        page: 1,
        page_size: 20
      },
      products: [],
      skus: [],
      loading: true,
      list: [],
      total: 0,
      dialogVisible: false
    }
  },
  created() {
    this.search()
    this.getProducts()
  },
  methods: {
    search() {
      if (this.query.time_at != null && this.query.time_at.length > 0) {
        this.query.start_time = this.query.time_at[0]
        this.query.end_time = this.query.time_at[1]
      }
      ScoreReportList.main_store_score_search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    getProducts() {
      ProductApi.get_products().then(response => {
        this.products = response.data
      }).catch(() => {})
    },
    getSkus(product_id) {
      ProductApi.get_skus({ product_id: product_id }).then(response => {
        this.skus = response.data
      }).catch(() => {})
    },
    changeProduct(product_id) {
      this.query.sku_id = ''
      this.skus = []
      this.getSkus(product_id)
    },
    exportScoreReport() {
      const that = this
      if (this.query.time_at != null && this.query.time_at.length > 0) {
        this.query.start_time = this.query.time_at[0]
        this.query.end_time = this.query.time_at[1]
      }
      if (this.query.start_time === '' || this.query.end_time === '') {
        this.operationMsg('导出报表请指定日期时间段', 'error')
        return
      }
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        // eslint-disable-next-line no-undef
        ScoreReportList.score_report_main_store_export,
        that.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },
    close() {
      this.dialogVisible = false
    },
    queryReset() {
      this.query = {
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
.a {
  color: #1890ff;
  text-decoration: underline;
}
.contentButton {
  margin-top: 20px;
  text-align: center;
}
.newbuttondiv {
  margin-bottom: 20px;
}
.newbutton {
  margin-left: 20px;
}
.el-select {
  width: 100%;
}
.buttonrow {
  margin-top: 10px;
}
.newbuttondiv {
  margin-bottom: 20px;
}
.newbutton {
  margin-left: 20px;
}
.count {
  font-size: 15px;
  color: #304156;
  margin-top: 10px;
}
.status {
  font-weight: 600;
}
.publishstatus {
  color: #1890ff;
}
.outstatus {
  color: #e64242;
}
.inlive {
  color: #42b983;
}
</style>
