<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px"  >
      <el-row>
        <el-col :span="30">
          <el-form-item label="连锁">
            <el-select v-model="query.main_store_id" placeholder="请选择连锁" filterable clearable @change="changeMainStore">
              <el-option label="全部" value="" />
              <el-option v-for="item in main_store_list" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="30">
          <el-form-item label="门店">
            <el-select v-model="query.store_id" placeholder="请选择门店" filterable clearable>
              <el-option label="全部" value="" />
              <el-option v-for="item in store_list" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="30">
          <el-form-item label="日期">
            <el-date-picker
              v-model="query.time_at"
              style="width: 300px;"
              type="daterange"
              align="right"
              size="mini"
              value-format="yyyy-MM-dd"
              unlink-panels
              range-separator="-"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            />
          </el-form-item>
        </el-col>
        <el-col :span="60" style="margin-left: 20px;">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button
            v-permission="'pharmacy:sale:report'"
            style="margin-left:60px;"
            type="success"
            @click="exportSaleReport"
          >明细导出</el-button>
        </el-col>
      </el-row>


    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="sale_month" label="年/月" align="center" />
      <el-table-column prop="sale_date" label="日期" align="center" width="90px" />
      <el-table-column prop="sale_time" label="订单时间" align="center" width="90px" />
      <el-table-column prop="province" label="省份" align="center" />
      <el-table-column prop="city_name" label="城市" align="center" />
      <el-table-column prop="staff_code" label="代表工号" align="center" />
      <el-table-column prop="staff_name" label="代表名字" align="center" />
      <el-table-column prop="main_store_number" label="连锁店编码" align="center" />
      <el-table-column prop="main_store_name" label="连锁名称" align="center" :show-overflow-tooltip="true" />
      <el-table-column prop="store_number" label="门店编码" align="center" />
      <el-table-column prop="store_name_alias" label="门店名称" align="center" :show-overflow-tooltip="true" />
      <el-table-column prop="notify_id" label="订单编号" align="center" />
      <el-table-column prop="patient_user_id" label="患者ID" align="center" />
      <el-table-column prop="status_title" label="是否购买" align="center" />
      <el-table-column prop="clerk_id" label="店员编码" align="center" />
      <el-table-column prop="clerk_name" label="店员名字" align="center" />
      <el-table-column prop="product_name" label="产品" align="center" />
      <el-table-column prop="num" label="盒数" align="center" />
      <el-table-column prop="has_recommend_doctor" label="是否医生推荐" align="center" />
      <el-table-column prop="doctor_id" label="推荐医生编号" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

  </div>
</template>

<script>
import * as SaleReportList from '@/api/pharmacy/sale_report_list'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import * as MainStoreApi from '@/api/pharmacy/main_store_api'

export default {
  name: 'SaleReportList',
  components: { Pagination },
  data() {
    return {
      query: {
        keyword: '',
        time_at: [],
        start_time: '',
        end_time: '',
        product_id: '',
        main_store_id: '',
        store_id: '',
        sku_id: '',
        page: 1,
        page_size: 20
      },
      products: [],
      skus: [],
      main_store_list: [],
      store_list: [],
      loading: true,
      list: [],
      total: 0,
      dialogVisible: false
    }
  },
  created() {
    this.search()
    this.getMainStoreList()
  },
  methods: {
    search() {
      if (this.query.time_at != null && this.query.time_at.length > 0) {
        this.query.start_time = this.query.time_at[0]
        this.query.end_time = this.query.time_at[1]
      }
      SaleReportList.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    getStoreList(main_store_id) {
      MainStoreApi.get_store_list({ main_store_id: main_store_id }).then(response => {
        this.store_list = response.data
      }).catch(() => {})
    },
    getMainStoreList() {
      MainStoreApi.get_main_store_list().then(response => {
        this.main_store_list = response.data
      }).catch(() => {})
    },
    changeMainStore(main_store_id) {
      this.query.store_id = ''
      this.store_list = []
      this.getStoreList(main_store_id)
    },
    exportSaleReport() {
      const that = this
      if (this.query.time_at != null && this.query.time_at.length > 0) {
        this.query.start_time = this.query.time_at[0]
        this.query.end_time = this.query.time_at[1]
      }

      if (this.query.start_time === '' || this.query.end_time === '') {
        this.operationMsg('导出报表请指定日期时间段', 'error')
        return
      }
      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(
        // eslint-disable-next-line no-undef
        SaleReportList.sale_report_export_req,
        that.query,
        { responseType: 'arraybuffer' }
      ).then(function(response) {
        const fileName = Date.parse(new Date()) + '.xlsx'
        const link = document.createElement('a')
        const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=UTF-8' })
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.download = fileName
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        URL.revokeObjectURL(link.href)
      }).catch(function(error) {
        console.log(error)
      })
    },
    close() {
      this.dialogVisible = false
    },
    queryReset() {
      this.query = {
        start_time: '',
        end_time: '',
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
