<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import { getToken } from '@/utils/auth'
export default {
  name: 'App',
  created: function() {
    this.websocket.connectWs()
  },
  beforeUnmount: function() {
    console.log("unmounted....")
    this.websocket.closeWs()
  },
}
</script>
