<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="60px">
      <el-row>
        <el-col :span="5">
          <el-form-item label="产品">
            <el-select v-model="query.product_id" placeholder="请选择产品" clearable filterable>
              <el-option label="全部" value="" />
              <el-option v-for="item in products" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="分类">
            <el-select v-model="query.cat_id" placeholder="请选择分类">
              <el-option label="全部" value="" />
              <el-option v-for="item in cats" :key="item.id" :label="item.cat_name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="30" style="margin-left: 50px;">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button
            v-permission="'pharmacy:category:add'"
            style="margin-left:100px;"
            type="success"
            @click="addProductCategory"
          >新增</el-button>
        </el-col>
      </el-row>

    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" />
      <el-table-column prop="cat_id" label="分类ID" align="center" />
      <el-table-column prop="cat_name" label="分类名称" align="center" />
      <el-table-column prop="yy_product_id" label="产品ID" align="center" />
      <el-table-column prop="product_name" label="产品名称" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="230" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8">
              <el-button v-permission="'pharmacy:category:edit'" type="primary" size="mini" @click="editProductCategory(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'pharmacy:category:delete'" type="success" size="mini" @click="delProductCategory(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog
      v-if="dialogVisible"
      title="分类-药品关联"
      :visible="dialogVisible"
      :before-close="closeDialog"
    >
      <el-form ref="form" :model="edit">
        <el-form-item label="商品分类" label-width="120" prop="cat_id">
          <el-select
            v-model="edit.cat_id"
            filterable
            reserve-keyword
            placeholder="请输入分类"
          >
            <el-option label="全部" value="" />
            <el-option
              v-for="item in cats"
              :key="item.id"
              :label="item.cat_name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="药品" label-width="120" prop="product_id">
          <el-select v-model="edit.product_id">
            <el-option label="全部" value="" />
            <el-option
              v-for="item in products"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelNewAdd">取 消</el-button>
        <el-button type="primary" @click="saveInfo">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as ProductCategory from '@/api/pharmacy/product_category'
import Pagination from '@/components/Pagination'
import * as ProductApi from '@/api/pharmacy/product_api'

export default {
  name: 'ProductCategoryList',
  components: { Pagination },
  data() {
    return {
      query: {
        product_id: '',
        cat_id: '',
        page: 1,
        page_size: 20
      },
      edit: {
        rel_id: 0,
        cat_id: '',
        product_id: ''
      },
      products: [],
      cats: [],
      loading: true,
      list: [],
      total: 0,
      dialogVisible: false
    }
  },
  created() {
    this.search()
    this.getProducts()
    this.getCategories()
  },
  methods: {
    search() {
      ProductCategory.search_product_cat(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    getProducts() {
      ProductApi.get_products().then(response => {
        this.products = response.data
      }).catch(() => {})
    },
    getCategories() {
      ProductCategory.product_cat_list().then(response => {
        this.cats = response.data
      }).catch(() => {})
    },
    addProductCategory() {
      this.dialogVisible = true
    },
    delProductCategory(relId) {
      this.$confirm('确定要删除ID:' + relId + '?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ProductCategory.del_product_cat({ rel_id: relId }).then(response => {
          this.$message({
            message: '删除成功',
            type: 'success'
          })
          this.search()
        }).catch(() => {
        })
      }).catch(() => { })
    },
    editProductCategory(relId) {
      ProductCategory.detail_product_cat({ rel_id: relId }).then(response => {
        this.edit.rel_id = response.data.id
        this.edit.cat_id = response.data.cat_id
        this.edit.product_id = response.data.yy_product_id
        this.dialogVisible = true
      }).catch(() => {
      })
    },
    saveInfo() {
      ProductCategory.save_product_cat(this.edit).then(response => {
        this.$message({
          message: '添加成功',
          type: 'success'
        })
        this.dialogVisible = false
        this.resetSave()
        this.search()
      }).catch(() => {
        this.loading = false
      })
    },
    cancelNewAdd() {
      this.dialogVisible = false
      this.resetSave()
    },
    resetSave() {
      this.$data.edit = {
        rel_id: 0,
        product_id: '',
        cat_id: ''
      }
    },
    closeDialog() {
      this.dialogVisible = false
      this.resetSave()
    },
    close() {
      this.dialogVisible = false
    },
    queryReset() {
      this.query = {
        keyword: '',
        status: '',
        page: 1,
        page_size: 20
      }
    },
    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
.a {
  color: #1890ff;
  text-decoration: underline;
}
.contentButton {
  margin-top: 20px;
  text-align: center;
}
.newbuttondiv {
  margin-bottom: 20px;
}
.newbutton {
  margin-left: 20px;
}
.el-select {
  width: 100%;
}
.buttonrow {
  margin-top: 10px;
}
.newbuttondiv {
  margin-bottom: 20px;
}
.newbutton {
  margin-left: 20px;
}
.count {
  font-size: 15px;
  color: #304156;
  margin-top: 10px;
}
.status {
  font-weight: 600;
}
.publishstatus {
  color: #1890ff;
}
.outstatus {
  color: #e64242;
}
.inlive {
  color: #42b983;
}
</style>
