<template>
    <el-form
      ref="interForm"
      label-position="right"
      :model="interForm"
      label-width="130px"
      class="demo-ruleForm"
      style="margin-left: 70px;margin-bottom: 50px;"
    >
      <h3>审核规则</h3>
      <el-row>
        <el-col :span="22">
          <el-form-item
            label="流程类型"
            prop="work_type"
            :rules="[
              { required: true, message: '请选择流程类型', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.work_type" style="width: 100%;">
              <el-option
                v-for="item in workTypeList"
                :key="item.id"
                :label="item.title"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="流程规则"
            prop="work_rule"
            :rules="[
              { required: true, message: '请选择流程规则', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.work_rule" style="width: 100%;">
              <el-option
                v-for="item in workRuleList"
                :key="item.id"
                :label="item.title"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-alert
            title="流程的创建人无法作为流程中的审核人"
            type="error"
            :closable="false">
          </el-alert>
        </el-col>
      </el-row>

      <h3>会议人员信息</h3>
      <el-row>
        <el-col :span="22">
          <el-form-item
            label="申请人员"
            prop="applicant_name"
            :rules="[
              { required: true, message: '请输入申请人员名称', trigger: 'blur' }
            ]"
          >
            <el-input v-model="interForm.applicant_name" disabled/>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="申请人员手机号"
            prop="applicant_mobile"
          >
            <el-input v-model="interForm.applicant_mobile" disabled placeholder="请输入申请人员手机号" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="会议管理员"
            prop="manager_id"
            :rules="[
              { required: true, message: '请选择会议管理员', trigger: 'change' }
            ]"
          >
            <el-select
              v-model="interForm.manager_id"
              filterable
              clearable
              remote
              :remote-method="searchManage"
              placeholder="请输入姓名或手机号搜索"
              style="width: 100%;">
              <el-option
                v-for="item in manageList"
                :key="item.id"
                :label="item.info"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <h3>会议基本信息</h3>
      <el-row>
        <el-col :span="22">
          <el-form-item
            label="每刻申请单号"
            prop="mk_code"
            :rules="[
              { required: true, message: '请填写每刻申请单号', trigger: 'blur' }
            ]"
          >
            <el-input v-model="interForm.mk_code" placeholder="请填写每刻申请单号" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="项目类型"
            prop="meeting_type"
            :rules="[
              { required: true, message: '请选择项目类型', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.meeting_type" style="width: 100%;">
              <el-option
                v-for="item in meetingTypeList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="项目名称"
            prop="meeting_sub_type"
            :rules="[
              { required: true, message: '请选择项目名称', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.meeting_sub_type" style="width: 100%;">
              <el-option
                v-for="item in meetingSubTypeList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="项目分类"
            prop="meeting_category"
            :rules="[
              { required: true, message: '请选择项目分类', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.meeting_category" style="width: 100%;">
              <el-option
                v-for="item in meetingCategoryList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="会议名称"
            prop="meeting_title"
            :rules="[
              { required: true, message: '请输入会议名称', trigger: 'blur' }
            ]"
          >
            <el-input v-model="interForm.meeting_title" placeholder="请输入会议名称" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="产品名称"
            prop="series_id"
            :rules="[
              { required: true, message: '请选择产品名称', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.series_id" style="width: 100%;">
              <el-option
                v-for="item in seriesList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="所属大区"
            prop="zone_id"
            :rules="[
              { required: true, message: '请选择所属大区', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.zone_id" style="width: 100%;">
              <el-option
                v-for="item in zoneList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="所属省份"
            prop="province_id"
            :rules="[
              { required: true, message: '请选择所属省份', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.province_id" style="width: 100%;">
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="所属医院"
            prop="hospital_id"
            :rules="[
              { required: true, message: '请选择第一主席所属医院', trigger: 'change' }
            ]"
          >
            <el-select
              v-model="interForm.hospital_id"
              placeholder="请选择第一主席所属医院"
              filterable
              clearable
              remote
              :remote-method="searchHospital"
              style="width: 100%;">
              <el-option
                v-for="item in hospitalList"
                :key="item.id"
                :label="item.label"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="所属科室"
            prop="depart_id"
            :rules="[
              { required: true, message: '请选择所属科室', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.depart_id" style="width: 100%;">
              <el-option
                v-for="item in departList"
                :key="item.id"
                :label="item.value"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="费用所属"
            prop="range_type"
            :rules="[
              { required: true, message: '请选择费用所属', trigger: 'change' }
            ]"
          >
            <el-select v-model="interForm.range_type" style="width: 100%;">
              <el-option
                v-for="item in rangeTypeList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="22">
          <el-form-item
            label="会议附件"
            prop="meeting_file"
            :rules="[
              { required: true, message: '至少上传1个附件', trigger: 'change' }
            ]"
          >
            <upload-file
                :type="upload.type"
                :business="upload.business"
                :uploadList.sync="interForm.meeting_file"
                :showList="true"
                :limit="999"
                listType="text"
                @uploadFail="uploadCoverFail"
                @uploadSuccess="uploadCoverSuccess"
                @deleteFile="deleteCover"
            >
            </upload-file>
          </el-form-item>
          <el-alert
            style="padding-left: 53px;"
            title="自办会附件包括：会议邀请函，会议日程，主席讲者简历带照片（可多个），其他（可多个）"
            type="error"
            :closable="false">
          </el-alert>
          <el-alert
            style="padding-left: 53px;"
            title="三方赞助会附件包括：招商函，会议通知，会议日程，卫星会日程，主席讲者简历（可多个），其他（可多个）"
            type="error"
            :closable="false">
          </el-alert>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="3">
          <h3>会议场次</h3>
        </el-col>
        <el-col :span="3" style="padding-top: 15px;padding-bottom: 15px;">
          <el-button type="primary" size="mini" plain @click="addNumbers()">+添加场次</el-button>
        </el-col>
      </el-row>

      <div v-for="(onemeeting,index) in interForm.meeting_time" :key="'onemeeting-'+index"
        style="border: 1px solid gainsboro;padding-top: 15px;margin-bottom: 10px;">
        <el-row>
          <el-col :span="22">
            <el-form-item
              :label="'第'+(index+1)+'天'"
              :prop="'meeting_time.'+index+'.time'"
              :rules="[
                { required: true, message: '请选择时间场次', trigger: 'change' }
              ]"
            >
              <el-date-picker
                v-model="onemeeting.time"
                style="width: 100%;"
                format="yyyy-MM-dd HH:mm:ss"
                type="datetimerange"
                range-separator="至"
                start-placeholder="操作时间"
                end-placeholder="操作时间"
              />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <i class="el-icon-circle-close"
              style="color: red;font-size: 25px;margin-left: 20px;margin-top: 5px;cursor: pointer;"
              @click="deleteNumbers(onemeeting)"></i>
          </el-col>
        </el-row>
      </div>

      <el-row>
        <el-col :span="3">
          <h3>主席信息</h3>
        </el-col>
        <el-col :span="3" style="padding-top: 15px;padding-bottom: 15px;">
          <el-button type="primary" size="mini" plain @click="addChairman()">+添加主席</el-button>
        </el-col>
      </el-row>

      <div v-for="(onechair,index) in interForm.chairman" :key="'chair-'+index"
        style="border: 1px solid gainsboro;padding-top: 15px;margin-bottom: 10px;">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="主席姓名"
              prop="c_name"
            >
              <el-input v-model="onechair.c_name" placeholder="请输入主席姓名" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="主席医院"
              prop="c_hospital_id"
            >
              <el-select
                v-model="onechair.c_hospital_id"
                filterable
                clearable
                remote
                :remote-method="searchHospital"
                style="width: 100%;">
                <el-option
                  v-for="item in hospitalList"
                  :key="item.id"
                  :label="item.label"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="主席科室"
              prop="c_depart_id"
            >
              <el-select v-model="onechair.c_depart_id" style="width: 100%;">
                <el-option
                  v-for="item in departList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="主席级别"
              prop="c_level"
            >
              <el-select v-model="onechair.c_level" style="width: 100%;">
                <el-option
                  v-for="item in levelList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <i class="el-icon-circle-close"
              style="color: red;font-size: 25px;margin-left: 20px;margin-top: 5px;cursor: pointer;"
              @click="deleteChairman(onechair)"></i>
          </el-col>
        </el-row>
      </div>

      <el-row>
        <el-col :span="3">
          <h3>讲者信息</h3>
        </el-col>
        <el-col :span="3" style="padding-top: 15px;padding-bottom: 15px;">
          <el-button type="primary" size="mini" plain @click="addSpeaker()">+添加讲者</el-button>
        </el-col>
      </el-row>

      <div v-for="(onespeaker,index) in interForm.speaker" :key="'speaker-'+index"
        style="border: 1px solid gainsboro;padding-top: 15px;margin-bottom: 10px;">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="讲者姓名"
              :prop="'speaker.'+index+'.s_name'"
              :rules="[
                { required: true, message: '请输入讲者姓名', trigger: 'blur' }
              ]"
            >
              <el-input v-model="onespeaker.s_name" placeholder="请输入讲者姓名" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="讲者医院"
              :prop="'speaker.'+index+'.s_hospital_id'"
              :rules="[
                { required: true, message: '请选择讲者医院', trigger: 'change' }
              ]"
            >
              <el-select
                v-model="onespeaker.s_hospital_id"
                filterable
                clearable
                remote
                :remote-method="searchHospital"
                style="width: 100%;">
                <el-option
                  v-for="item in hospitalList"
                  :key="item.id"
                  :label="item.label"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="讲者科室"
              :prop="'speaker.'+index+'.s_depart_id'"
              :rules="[
                { required: true, message: '请选择讲者科室', trigger: 'change' }
              ]"
            >
              <el-select v-model="onespeaker.s_depart_id" style="width: 100%;">
                <el-option
                  v-for="item in departList"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="讲者级别"
              :prop="'speaker.'+index+'.s_level'"
              :rules="[
                { required: true, message: '请选择讲者级别', trigger: 'change' }
              ]"
            >
              <el-select v-model="onespeaker.s_level" style="width: 100%;">
                <el-option
                  v-for="item in levelList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="讲者课题"
              :prop="'speaker.'+index+'.s_subject'"
              :rules="[
                { required: true, message: '请输入讲者课题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="onespeaker.s_subject" placeholder="请输入讲者课题" />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <i class="el-icon-circle-close"
              style="color: red;font-size: 25px;margin-left: 20px;margin-top: 5px;cursor: pointer;"
              @click="deleteSpeaker(onespeaker)"></i>
          </el-col>
        </el-row>
      </div>

      <el-row>
        <el-col :span="3">
          <h3>会前互动信息</h3>
        </el-col>
        <el-col :span="3" style="padding-top: 15px;padding-bottom: 15px;">
          <el-button type="primary" size="mini" plain @click="addQuestionBefore()">+添加问题</el-button>
        </el-col>
      </el-row>

      <div v-for="(onebefore,index) in interForm.before_qusetion" :key="'before-'+index"
        style="border: 1px solid gainsboro;padding-top: 15px;margin-bottom: 10px;">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="题目类型"
              prop="b_type"
            >
              <el-select v-model="onebefore.b_type" style="width: 100%;">
                <el-option
                  v-for="item in beforeQuestionTypeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="题目标题"
              prop="b_title"
            >
              <el-input v-model="onebefore.b_title" placeholder="请输入标题"/>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="答案选项"
              prop="b_answer"
            >
              <el-input type="textarea" :rows="3" v-model="onebefore.b_answer" placeholder="请输入答案" />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <i class="el-icon-circle-close"
              style="color: red;font-size: 25px;margin-left: 20px;margin-top: 5px;cursor: pointer;"
              @click="deletedQuestionBefore(onebefore)"></i>
          </el-col>
        </el-row>
      </div>

      <el-row>
        <el-col :span="3">
          <h3>会中互动信息</h3>
        </el-col>
        <el-col :span="3" style="padding-top: 15px;padding-bottom: 15px;">
          <el-button type="primary" size="mini" plain @click="addQuestionBetween()">+添加问题</el-button>
        </el-col>
      </el-row>

      <div v-for="(onebetween,index) in interForm.between_qusetion" :key="'between-'+index"
        style="border: 1px solid gainsboro;padding-top: 15px;margin-bottom: 10px;">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="互动方式"
              prop="t_type"
            >
              <el-select v-model="onebetween.t_type" style="width: 100%;">
                <el-option
                  v-for="item in betweenQuestionTypeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="onebetween.t_type==1">
          <el-col :span="22">
            <el-form-item
              label="互动时间"
              prop="t_pop_time"
            >
              <el-date-picker
                v-model="onebetween.t_pop_time"
                type="datetime"
                placeholder="选择互动时间"
                style="width: 100%;">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="互动时长"
              prop="t_last_time"
            >
              <el-select v-model="onebetween.t_last_time" style="width: 100%;">
                <el-option
                  v-for="item in questionLastTimeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="题目标题"
              prop="t_title"
            >
              <el-input v-model="onebetween.t_title" placeholder="最多15个字（包括标点符号）" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="答案选项"
              prop="t_answer"
            >
              <el-input type="textarea" :rows="3" v-model="onebetween.t_answer" placeholder="最多设置2个答案，每个答案描述最多10个字（包括标点符号）" />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <i class="el-icon-circle-close"
              style="color: red;font-size: 25px;margin-left: 20px;margin-top: 5px;cursor: pointer;"
              @click="deletedQuestionBetween(onebetween)"></i>
          </el-col>
        </el-row>
      </div>

      <h3>会议秘钥</h3>
      <el-row>
        <el-col :span="22">
          <el-form-item
            label="会议秘钥"
            prop="live_key"
          >
            <el-input v-model="interForm.live_key" placeholder="请输入会议秘钥" />
          </el-form-item>
        </el-col>
      </el-row>

      <h3>推流地址</h3>
      <el-row>
        <el-col :span="22">
          <el-form-item
            label="推流地址"
            prop="stream_url"
          >
            <el-input v-model="interForm.stream_url" placeholder="请输入推流地址" />
          </el-form-item>
        </el-col>
      </el-row>

      <h3>图片上传</h3>
      <el-row>
        <el-col :span="6">
          <el-form-item
            label="海报上传"
            prop="meeting_img"
          >
            <upload-file
                :type="upload.type"
                :business="upload.business"
                :uploadList.sync="interForm.meeting_img"
                :showList="true"
                :limit="999"
                listType="picture-card"
                @uploadFail="uploadImgFail"
                @uploadSuccess="uploadImgSuccess"
                @deleteFile="deleteImg"
            >
            </upload-file>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item
            label="封面上传"
            prop="cover_img"
          >
            <upload-file
                :type="upload.type"
                :business="upload.business"
                :uploadList.sync="interForm.cover_img"
                :showList="true"
                :limit="999"
                listType="picture-card"
                @uploadFail="uploadImgFail"
                @uploadSuccess="uploadImgSuccess"
                @deleteFile="deleteImg1"
            >
            </upload-file>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item
            label="邀请卡上传"
            prop="invite_card_img"
          >
            <upload-file
                :type="upload.type"
                :business="upload.business"
                :uploadList.sync="interForm.invite_card_img"
                :showList="true"
                :limit="999"
                listType="picture-card"
                @uploadFail="uploadImgFail"
                @uploadSuccess="uploadImgSuccess"
                @deleteFile="deleteImg2"
            >
            </upload-file>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item
            label="二维码上传"
            prop="qrcode_img"
          >
            <upload-file
                :type="upload.type"
                :business="upload.business"
                :uploadList.sync="interForm.qrcode_img"
                :showList="true"
                :limit="999"
                listType="picture-card"
                @uploadFail="uploadImgFail"
                @uploadSuccess="uploadImgSuccess"
                @deleteFile="deleteImg3"
            >
            </upload-file>
          </el-form-item>
        </el-col>
      </el-row>

      <div v-if="interForm.created_id==interForm.approval_id">
        <el-form-item style="margin-top: 30px;margin-left: 165px;">
          <el-button type="primary" @click="updatechange('interForm')">提交</el-button>
          <el-button @click="close()">取消</el-button>
        </el-form-item>
      </div>
    </el-form>
</template>

<script>
import * as meetingApi from '@/api/workflow/livemeeting'
import * as workflowApi from '@/api/workflow/workflow'
import * as liveApi from '@/api/live/live'
import UploadFile from '@/components/Upload'

export default {
  name: 'FlowDetail',
  components: { UploadFile },
  data() {
    return {
      upload: {
          type: 1,
          business: 'workflow'
      },
      workTypeList: [],
      workRuleList: [],
      manageList: [],
      meetingTypeList: [],
      meetingSubTypeList: [],
      meetingCategoryList: [],
      seriesList: [],
      zoneList: [],
      provinceList: [],
      hospitalList: [],
      departList: [],
      rangeTypeList: [
        { id: 1, name: '区域' },
        { id: 2, name: '中央' },
        { id: 3, name: '中央额外' }
      ],
      levelList: [
        { id: 1, name: '全国级' },
        { id: 2, name: '区域级' },
        { id: 3, name: '城市级' },
        { id: 4, name: '科室级' }
      ],
      beforeQuestionTypeList: [
        { id: 1, name: '单选' },
        { id: 2, name: '多选' },
        { id: 3, name: '简答' }
      ],
      betweenQuestionTypeList: [
        { id: 1, name: '自动' },
        { id: 2, name: '手动' },
      ],
      questionLastTimeList: [
        { id: 1, name: '10s' },
        { id: 2, name: '15s' },
        { id: 3, name: '20s' }
      ],


      interForm: {
        id: 0,
        my_user_id: 0,
        work_type: '',
        work_rule: '',
        now_step_id: 0,
        step_id: 0,
        allow_edit: 0,
        created_id: 0,
        approval_id: 0,
        already_verify: 0,

        mk_code: '',
        applicant_name: '',
        applicant_mobile: '',
        manager_id: '',
        meeting_type: '',
        meeting_sub_type: '',
        meeting_category: '',
        meeting_title: '',
        series_id: '',
        zone_id: '',
        province_id: '',
        hospital_id: '',
        depart_id: '',
        range_type: '',
        meeting_time: [
          {
            time: ''
          }
        ],
        meeting_file: [],
        chairman: [],
        speaker: [
          {
            s_name: '',
            s_hospital_id: '',
            s_depart_id: '',
            s_level: '',
            s_subject: ''
          }
        ],
        before_qusetion: [],
        between_qusetion: [],
        live_key: '',
        stream_url: '',
        meeting_img: [],
        cover_img: [],
        invite_card_img: [],
        qrcode_img: []
      },

    }
  },
  watch: {
    'interForm.work_type'(newVal, oldVal) {
      if (newVal!=undefined) {
        workflowApi.works({ type_id: newVal }).then(response => {
          if (response.code === 20000) {
            this.workRuleList = response.data
          }
        }).catch(() => {})
      }
    },
    'interForm.meeting_type'(newVal, oldVal) {
      if (newVal!=undefined) {
        liveApi.getType2(newVal).then(response => {
          if (response.code === 20000) {
            this.meetingSubTypeList = response.data
          }
        }).catch(() => {})
        liveApi.getType3(newVal).then(response => {
          if (response.code === 20000) {
            this.meetingCategoryList = response.data
          }
        }).catch(() => {})
      }
    },
    'interForm.zone_id'(newVal, oldVal) {
      if (newVal!=undefined) {
        liveApi.getProvince(newVal).then(response => {
          if (response.code === 20000) {
            this.provinceList = response.data
          }
        }).catch(() => {})
      }
    }
  },
  activated() {
    var that = this
    this.interForm.id = this.$route.query.id
    if (this.$route.query.id!=0) {
      meetingApi.meetingDetail({ id: this.$route.query.id }).then(response => {
        if (response.code==20000) {
          setTimeout(function() {
            that.interForm = response.data[0]
            that.manageList = response.data[1]
            that.hospitalList = response.data[2]
          }, 200)
        }
      }).catch(() => {})
    }
  },
  created() {
    this.flowType()
    this.getType1()
    this.getProducts()
    this.getArea()
    this.getDepart()
  },
  methods: {
    flowType() {
      workflowApi.flowType().then(response => {
        if (response.code === 20000) {
          this.workTypeList = response.data
        }
      }).catch(() => {})
    },

    searchManage(query) {
      if (query !== '') {
        setTimeout(() => {
          meetingApi.users({ name: query }).then(response => {
            if (response.code === 20000) {
              this.manageList = response.data
            }
          }).catch(() => {})
        }, 200);
      } else {
        this.manageList = [];
      }
    },

    getType1() {
      liveApi.getType1().then(response => {
        this.meetingTypeList = response.data
      }).catch(() => {})
    },

    getProducts() {
      liveApi.product().then(response => {
        if (response.code === 20000) {
          this.seriesList = response.data
        }
      }).catch(() => {})
    },

    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.zoneList = response.data
        }
      }).catch(() => {})
    },

    searchHospital(query) {
      if (query !== '') {
        setTimeout(() => {
          liveApi.getYouruiHospitals({ name: query }).then(response => {
            if (response.code === 20000) {
              this.hospitalList = response.data
            }
          }).catch(() => {})
        }, 200);
      } else {
        this.hospitalList = [];
      }
    },

    getDepart() {
      liveApi.getDepart().then(response => {
        if (response.code === 20000) {
          this.departList = response.data
        }
      }).catch(() => {})
    },

    uploadCoverFail(err) {
        console.log(err)
    },

    uploadCoverSuccess(data) {
      console.log(data)
    },

    deleteCover(index, item) {
       this.interForm.meeting_file.splice(index, 1)
    },

    uploadImgFail(err) {
        console.log(err)
    },

    uploadImgSuccess(data) {
        console.log(data)
    },

    deleteImg(index, item) {
      this.interForm.meeting_img.splice(index, 1)
    },

    deleteImg1(index, item) {
      this.interForm.cover_img.splice(index, 1)
    },

    deleteImg2(index, item) {
      this.interForm.invite_card_img.splice(index, 1)
    },

    deleteImg3(index, item) {
      this.interForm.qrcode_img.splice(index, 1)
    },

    addNumbers() {
      var qn = {
        time: ''
      }
      this.interForm.meeting_time.push(qn)
    },

    deleteNumbers(row) {
      var index = this.interForm.meeting_time.indexOf(row)
      if (index !== -1&&this.interForm.meeting_time.length>1) {
        this.interForm.meeting_time.splice(index, 1)
      }
    },

    addChairman() {
      var qn = {
        c_name: '',
        c_hospital_id: '',
        c_depart_id: '',
        c_level: ''
      }
      this.interForm.chairman.push(qn)
    },

    deleteChairman(row) {
      var index = this.interForm.chairman.indexOf(row)
      if (index !== -1) {
        this.interForm.chairman.splice(index, 1)
      }
    },

    addSpeaker() {
      var qn = {
        s_name: '',
        s_hospital_id: '',
        s_depart_id: '',
        s_level: '',
        s_subject: ''
      }
      this.interForm.speaker.push(qn)
    },

    deleteSpeaker(row) {
      var index = this.interForm.speaker.indexOf(row)
      if (index !== -1&&this.interForm.speaker.length>1) {
        this.interForm.speaker.splice(index, 1)
      }
    },

    addQuestionBefore() {
      var qn = {
        b_type: '',
        b_title: '',
        b_answer: ''
      }
      this.interForm.before_qusetion.push(qn)
    },

    deletedQuestionBefore(row) {
      var index = this.interForm.before_qusetion.indexOf(row)
      if (index !== -1) {
        this.interForm.before_qusetion.splice(index, 1)
      }
    },

    addQuestionBetween() {
      var qn = {
        t_type: '',
        t_pop_time: '',
        t_last_time: '',
        t_title: '',
        t_answer: ''
      }
      this.interForm.between_qusetion.push(qn)
    },

    deletedQuestionBetween(row) {
      var index = this.interForm.between_qusetion.indexOf(row)
      if (index !== -1) {
        this.interForm.between_qusetion.splice(index, 1)
      }
    },

    updatechange(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          meetingApi.meetingUpdate(this.interForm).then(response => {
            if (response.code === 20000) {
              this.operationMsg('提交成功！', 'success')
              this.close()

            }
          }).catch(() => {})
        }
      })
    },

    close() {
      this.$store.dispatch('tagsView/delView', this.$route).then(() => {
        this.$router.back()
      })
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
  }
}
</script>

<style scoped>
  .qu_area{
    background-color: aliceblue;
    width: 550px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .demo-ruleForm {
    margin-top: 30px;
  }

  .upbutton {
    display: flex;
  }

  .el-upload__tip {
    margin-left: 30px;
  }

  .demo-ruleForm {
    margin-top: 0;
  }

</style>
