<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="状态">
            <el-select
              v-model="query.state"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in stateList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="项目类型">
            <el-select
              v-model="query.type1"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in types1"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="开播时间">
            <el-date-picker
              v-model="query.start_time"
              style="width: 100%;"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开播时间"
              end-placeholder="开播时间"
            />
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button type="primary" @click="autoSearch">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      ref="checkTable"
      v-loading="loading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="flow_no" label="编号" align="center">
        <template slot-scope="{row}">
          <el-link type="primary" @click="showFlowchat(row.flow_id)">{{ row.flow_no }}</el-link>
        </template>
      </el-table-column>
      <el-table-column prop="meeting_title" label="会议名称" align="center" />
        <!-- <template slot-scope="{row}">
          <el-link type="primary" @click="$router.push({name: 'FlowDetail', query: {id: row.id}})">{{ row.meeting_title }}</el-link>
        </template>
      </el-table-column> -->
      <el-table-column prop="applicant_name" label="申请人员" align="center" />
      <el-table-column prop="start_time" label="开播时间" align="center" />
      <el-table-column prop="meeting_type_name" label="项目类型" align="center" />
      <el-table-column prop="series_name" label="产品名称" align="center" />
      <el-table-column prop="area" label="大区" align="center" />
      <el-table-column prop="meeting_count" label="会议场次" align="center" />
      <el-table-column prop="state" label="会议状态" align="center">
        <template slot-scope="{row}">
          <el-tag style="color: blue;" v-if="row.state==1">审核中</el-tag>
          <el-tag style="color: orange;" v-if="row.state==2">已召回</el-tag>
          <el-tag style="color: green;" v-if="row.state==3">已通过</el-tag>
          <el-tag style="color: red;" v-if="row.state==4">未通过</el-tag>
          <el-tag style="color: gray;" v-if="row.state==5">取消申请</el-tag>
          <el-tag style="color: gray;" v-if="row.state==6">已取消</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="img_count" label="会议海报" align="center">
        <template slot-scope="{row}">
          <el-popover
            placement="top-start"
            trigger="hover">
            <div
              style="margin-top: 10px;"
              v-for="item in row.img"
              :key="item.id">
              <el-link type="primary" :href="item.img" target="_blank" download>{{ item.name }}</el-link>
            </div>
            <el-link type="primary" slot="reference">{{ row.img_count }}张</el-link>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="申请时间" align="center" />
      <el-table-column prop="created_user" label="创建人员" align="center" />
      <el-table-column prop="stream_url" label="推流地址" align="center">
        <template slot-scope="{row}">
          <el-popover
            placement="top-start"
            trigger="hover"
            :content="row.stream_url">
            <el-link type="primary" slot="reference">查看</el-link>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="live_key" label="会议秘钥" align="center" />
      <el-table-column prop="stream_url" label="二维码" align="center">
        <template slot-scope="{row}">
          <el-popover
            placement="top-start"
            trigger="hover">
            <el-image :src="row.qrcode" fit="contain" style="width: 200px;height: 200px" />
            <el-link type="primary" slot="reference">查看</el-link>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="" label="详情" align="center">
        <template slot-scope="{row}">
          <el-col :span="24">
            <el-button size="mini" @click="$router.push({name: 'FlowStaticDetail', query: { id: row.id, flag: false }})">查看</el-button>
          </el-col>
        </template>
      </el-table-column>
    </el-table>

    <el-drawer
      title="流程图"
      :visible.sync="drawer"
      :direction="direction"
      :before-close="handleClose">
      <div class="block" style="padding-right: 20px;">
        <el-timeline>
          <el-timeline-item
            v-for="item in flowChart"
            :key="item.id"
            :timestamp="item.approval_time"
            placement="top"
            >
            <el-card>
              <div style="display: flex;justify-content:space-between">
                <div>
                  <h4>
                    {{ item.approval_name }}
                    <span class="approval_state" v-if="item.state==1">创建审批流程</span>
                    <span class="approval_state" v-if="item.state==2">修改审批流程</span>
                    <span class="agree_state" v-if="item.state==3">已通过</span>
                    <span class="reject_state" v-if="item.state==4">已拒绝</span>
                    <span class="callback_state" v-if="item.state==5">已召回</span>
                    <span class="approval_state" v-if="item.state==6">申请取消</span>
                    <span class="agree_state" v-if="item.state==7">同意取消</span>
                    <span class="reject_state" v-if="item.state==8">已经取消</span>
                    <span class="agree_state" v-if="item.state==9">已通过</span>
                  </h4>
                  <p>备注：{{ item.approval_mark }}</p>
                </div>
                <div style="display: flex;justify-content: flex-end;flex-direction: column;">
                  <el-image class="state_img" :src="submit_png" fit="fit" v-if="item.state==1"></el-image>
                  <el-image class="state_img" :src="submit_png" fit="fit" v-if="item.state==2"></el-image>
                  <el-image class="state_img" :src="pass_png" fit="fit" v-if="item.state==3"></el-image>
                  <el-image class="state_img" :src="reject_png" fit="fit" v-if="item.state==4"></el-image>
                  <el-image class="state_img" :src="callback_png" fit="fit" v-if="item.state==5"></el-image>
                  <el-image class="state_img" :src="approval_png" fit="fit" v-if="item.state==6"></el-image>
                  <el-image class="state_img" :src="agree_png" fit="fit" v-if="item.state==7"></el-image>
                  <el-image class="state_img" :src="cancel_png" fit="fit" v-if="item.state==8"></el-image>
                  <el-image class="state_img" :src="done_png" fit="fit" v-if="item.state==9"></el-image>
                </div>
              </div>
            </el-card>
          </el-timeline-item>
        </el-timeline>
      </div>
    </el-drawer>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import * as liveApi from '@/api/live/live'
import * as meetingApi from '@/api/workflow/livemeeting'
import * as workflowApi from '@/api/workflow/workflow'
import submit_png from '@/assets/workflow/submit.png'
import pass_png from '@/assets/workflow/pass.png'
import reject_png from '@/assets/workflow/reject.png'
import callback_png from '@/assets/workflow/callback.png'
import approval_png from '@/assets/workflow/approval.png'
import agree_png from '@/assets/workflow/agree.png'
import cancel_png from '@/assets/workflow/cancel.png'
import done_png from '@/assets/workflow/done.png'

export default {
  name: 'MeetingAll',
  components: { Pagination },
  data() {
    return {
      stateList: [
        { id: 1, value: '审核中' },
        { id: 2, value: '已召回' },
        { id: 3, value: '已通过' },
        { id: 4, value: '未通过' },
        { id: 5, value: '取消申请' },
        { id: 6, value: '已取消' },
      ],
      areaList: [],
      types1: [],
      query: {
        state: '',
        area: '',
        type1: '',
        start_time: [],
        all: 1,
        page: 1,
        page_size: 20
      },
      loading: false,
      list: [],
      total: 0,

      drawer: false,
      direction: 'rtl',
      flowChart: [],

      submit_png: submit_png,
      pass_png: pass_png,
      reject_png: reject_png,
      callback_png: callback_png,
      approval_png: approval_png,
      agree_png: agree_png,
      cancel_png: cancel_png,
      done_png: done_png
    }
  },
  activated() {
    this.search()
  },
  created() {
    this.getArea()
    this.getType1()
    this.search()
  },
  methods: {
    getArea() {
      liveApi.area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    getType1() {
      liveApi.getType1().then(response => {
        this.types1 = response.data
      }).catch(() => {})
    },

    search() {
      this.loading = true
      meetingApi.meetingList(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.vCount = response.data.vCount
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    autoSearch() {
      this.query.page = 1
      this.search()
    },

    showFlowchat(flowId) {
      workflowApi.flowChart({
        id: flowId
      }).then(response => {
        this.flowChart = response.data
        this.drawer = true
      }).catch(() => {})
    },

    handleClose() {
      this.drawer = false
    },

    queryReset() {
      this.query = {
        state: '',
        area: '',
        type1: '',
        start_time: [],
        all: 1,
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .approval_state {
    color: #1890ff
  }
  .agree_state {
    color: #42b983
  }
  .reject_state {
    color: #e64242
  }
  .callback_state {
    color: #ffcc00
  }
  .state_img {
    width: 80px;
    height: 80px
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
