<template>
  <div class="main">
    <el-form
      ref="suppleForm"
      :model="suppleForm"
      class="demo-ruleForm"
      label-width="130px"
    >
      <el-row>
        <el-col class="line" :span="10">
          <el-row>
            <el-col :span="8" style="text-align: right;">
              <h3>会议人员信息</h3>
            </el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">申请人员：</el-col>
            <el-col :span="14">{{ interForm.applicant_name }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">手机号：</el-col>
            <el-col :span="14">{{ interForm.applicant_mobile }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">会议管理员：</el-col>
            <el-col :span="14">{{ interForm.manager_id }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" style="text-align: right;">
              <h3>会议基本信息</h3>
            </el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">每刻申请单号：</el-col>
            <el-col :span="14">{{ interForm.mk_code }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">项目类型：</el-col>
            <el-col :span="14">{{ interForm.meeting_type }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">项目名称：</el-col>
            <el-col :span="14">{{ interForm.meeting_sub_type }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">项目分类：</el-col>
            <el-col :span="14">{{ interForm.meeting_category }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">会议名称：</el-col>
            <el-col :span="14">{{ interForm.meeting_title }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">产品名称：</el-col>
            <el-col :span="14">{{ interForm.series_id }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">所属大区：</el-col>
            <el-col :span="14">{{ interForm.zone_id }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">所属省份：</el-col>
            <el-col :span="14">{{ interForm.province_id }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">所属医院：</el-col>
            <el-col :span="14">{{ interForm.hospital_id }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">所属科室：</el-col>
            <el-col :span="14">{{ interForm.depart_id }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">费用所属：</el-col>
            <el-col :span="14">{{ interForm.range_type }}</el-col>
          </el-row>
          <el-row class="item">
            <el-col :span="8" class="label">会议时间：</el-col>
            <el-col :span="14">
              <el-row
                v-for="(otime,index) in interForm.meeting_time"
                :key="index">
                  {{ otime.time[0] }} - {{ otime.time[1] }}
                </el-row>
            </el-col>
          </el-row>
        </el-col>

        <el-col class="line" :span="14">
          <el-row>
            <el-col :span="12" style="text-align: right;">
              <h3>主席讲者信息</h3>
            </el-col>
          </el-row>
          <div
            class="chairman"
            v-for="(ochairman,index) in interForm.chairman"
            :key="'c-'+index">
            <el-row class="item" style="font-weight: bold;">会议主席{{ index + 1 }}</el-row>
            <el-row class="item">
              <el-col :span="8">
                <el-col :span="9" class="label1">主席姓名：</el-col>
                <el-col :span="15">{{ ochairman.c_name }}</el-col>
              </el-col>
              <el-col :span="8">
                <el-col :span="9" class="label1">主席级别：</el-col>
                <el-col :span="15">{{ ochairman.c_level }}</el-col>
              </el-col>
              <el-col :span="8">
                <el-col :span="9" class="label1">主席科室：</el-col>
                <el-col :span="15">{{ ochairman.c_depart_id }}</el-col>
              </el-col>
            </el-row>
            <el-row class="item">
              <el-col :span="24">
                <el-col :span="3" class="label1">主席医院：</el-col>
                <el-col :span="21">{{ ochairman.c_hospital_id }}</el-col>
              </el-col>
            </el-row>
          </div>
          <div
            class="chairman"
            v-for="(ospeaker,index1) in interForm.speaker"
            :key="'s-'+index1">
            <el-row style="font-weight: bold;">会议讲者{{ index1 + 1 }}</el-row>
            <el-row class="item">
              <el-col :span="8">
                <el-col :span="9" class="label1">讲者姓名：</el-col>
                <el-col :span="15">{{ ospeaker.s_name }}</el-col>
              </el-col>
              <el-col :span="8">
                <el-col :span="9" class="label1">讲者级别：</el-col>
                <el-col :span="15">{{ ospeaker.s_level }}</el-col>
              </el-col>
              <el-col :span="8">
                <el-col :span="9" class="label1">讲者科室：</el-col>
                <el-col :span="15">{{ ospeaker.s_depart_id }}</el-col>
              </el-col>
            </el-row>
            <el-row class="item">
              <el-col :span="24">
                <el-col :span="3" class="label1">讲者医院：</el-col>
                <el-col :span="21">{{ ospeaker.s_hospital_id }}</el-col>
              </el-col>
            </el-row>
            <el-row class="item">
              <el-col :span="24">
                <el-col :span="3" class="label1">讲者课题：</el-col>
                <el-col :span="21">{{ ospeaker.s_subject }}</el-col>
              </el-col>
            </el-row>
          </div>
        </el-col>
      </el-row>

      <el-divider></el-divider>

      <el-row>
        <el-col :span="3" style="text-align: right;">
          <h3>会议互动信息</h3>
        </el-col>
      </el-row>
      <el-row>
        <el-col class="line" :span="12">
          <el-row>
            <el-col :span="5" style="text-align: right;">
              <h4>会前互动</h4>
            </el-col>
          </el-row>
          <div
            class="bquestion"
            v-for="(bqusetion,index2) in interForm.before_qusetion"
            :key="'bq-'+index2">
              <el-row>
                {{ index2+1 }}-{{ bqusetion.b_title }}
                <span class="questiontype" v-if="bqusetion.b_type==1">单选</span>
                <span class="questiontype" v-if="bqusetion.b_type==2">多选</span>
                <span class="questiontype" v-if="bqusetion.b_type==3">问答</span>
              </el-row>
              <el-row style="margin-top: 20px;">答案：{{ bqusetion.b_answer }}</el-row>
          </div>
        </el-col>

        <el-col class="line" :span="12">
          <el-row>
            <el-col :span="5" style="text-align: right;">
              <h4>会中互动</h4>
            </el-col>
          </el-row>
          <div
            class="bquestion"
            v-for="(tqusetion,index3) in interForm.between_qusetion"
            :key="'tq-'+index3">
              <el-row>
                {{ index3+1 }}-{{ tqusetion.t_title }}
                <span class="questiontype" v-if="tqusetion.t_type==1">自动</span>
                <span class="questiontype" v-if="tqusetion.t_type==2">手动</span>
                <span class="questionTime">{{ tqusetion.t_pop_time }}</span>
                <span class="questionTime" v-if="tqusetion.t_last_time==1">10s</span>
                <span class="questionTime" v-if="tqusetion.t_last_time==2">15s</span>
                <span class="questionTime" v-if="tqusetion.t_last_time==3">20s</span>
              </el-row>
              <el-row style="margin-top: 20px;">答案：{{ tqusetion.t_answer }}</el-row>
          </div>
        </el-col>
      </el-row>

      <el-divider></el-divider>

      <el-row>
        <el-col :span="2" style="text-align: right;">
          <h3>会议附件</h3>
        </el-col>
      </el-row>
      <el-row>
        <div
          class="file"
          v-for="(file,index4) in interForm.meeting_file"
          :key="'f-'+index4">
            <el-row><a style="color: rgb(24, 144, 255);" :href="file.url" target="_blank">{{ file.name }}</a></el-row>
        </div>
      </el-row>

      <el-divider></el-divider>

      <div v-if="!show_live_key&&fieldKey['live_key']==suppleForm['step_id']">
        <el-row>
          <el-col :span="2" style="text-align: right;">
            <h3>会议秘钥</h3>
          </el-col>
        </el-row>
        <el-row style="padding: 10px 50px;">
          <el-col :span="22">
            <el-form-item
              label=""
              prop="live_key"
            >
              <el-input v-model="suppleForm.live_key" placeholder="请输入会议秘钥" />
            </el-form-item>
          </el-col>
        </el-row>
      </div>

      <div v-if="show_live_key">
        <el-row>
          <el-col :span="2" style="text-align: right;">
            <h3>会议秘钥</h3>
          </el-col>
        </el-row>
        <el-row style="padding: 10px 50px;">
          <el-col :span="22">
            {{ suppleForm.live_key }}
          </el-col>
        </el-row>
      </div>

      <div v-if="!show_stream_url&&fieldKey['stream_url']==suppleForm['step_id']">
        <el-row style="margin-top: 24px;">
          <el-col :span="2" style="text-align: right;">
            <h3>推流地址</h3>
          </el-col>
        </el-row>
        <el-row style="padding: 10px 50px;">
          <el-col :span="22">
            <el-form-item
              label=""
              prop="stream_url"
            >
              <el-input v-model="suppleForm.stream_url" placeholder="请输入推流地址" />
            </el-form-item>
          </el-col>
        </el-row>
      </div>

      <div v-if="show_stream_url">
        <el-row style="margin-top: 24px;">
          <el-col :span="2" style="text-align: right;">
            <h3>推流地址</h3>
          </el-col>
        </el-row>
        <el-row style="padding: 10px 50px;">
          <el-col :span="22">
            {{ suppleForm.stream_url }}
          </el-col>
        </el-row>
      </div>

      <div v-if="imageCount==0&&fieldKey['image']==suppleForm['step_id']">
        <el-row style="margin-top: 24px;">
          <el-col :span="2" style="text-align: right;">
            <h3>会议图片</h3>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item
              label="海报上传"
              prop="meeting_img"
            >
              <upload-file
                  :type="upload.type"
                  :business="upload.business"
                  :uploadList.sync="suppleForm.meeting_img"
                  :showList="true"
                  :limit="999"
                  listType="picture-card"
                  @uploadFail="uploadImgFail"
                  @uploadSuccess="uploadImgSuccess"
                  @deleteFile="deleteImg"
              >
              </upload-file>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="封面上传"
              prop="cover_img"
            >
              <upload-file
                  :type="upload.type"
                  :business="upload.business"
                  :uploadList.sync="suppleForm.cover_img"
                  :showList="true"
                  :limit="999"
                  listType="picture-card"
                  @uploadFail="uploadImgFail"
                  @uploadSuccess="uploadImgSuccess"
                  @deleteFile="deleteImg1"
              >
              </upload-file>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="邀请卡上传"
              prop="invite_card_img"
            >
              <upload-file
                  :type="upload.type"
                  :business="upload.business"
                  :uploadList.sync="suppleForm.invite_card_img"
                  :showList="true"
                  :limit="999"
                  listType="picture-card"
                  @uploadFail="uploadImgFail"
                  @uploadSuccess="uploadImgSuccess"
                  @deleteFile="deleteImg2"
              >
              </upload-file>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="二维码上传"
              prop="qrcode_img"
            >
              <upload-file
                  :type="upload.type"
                  :business="upload.business"
                  :uploadList.sync="suppleForm.qrcode_img"
                  :showList="true"
                  :limit="999"
                  listType="picture-card"
                  @uploadFail="uploadImgFail"
                  @uploadSuccess="uploadImgSuccess"
                  @deleteFile="deleteImg3"
              >
              </upload-file>
            </el-form-item>
          </el-col>
        </el-row>

        <el-divider></el-divider>
      </div>

      <div v-if="imageCount>0">
        <el-row style="margin-top: 24px;">
          <el-col :span="2" style="text-align: right;">
            <h3>会议图片</h3>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item
              label="海报上传"
              prop="meeting_img"
            >
              <el-image
                v-for="(item, index) in suppleForm.meeting_img"
                :key="index"
                style="width: 146px; height: 146px"
                :src="item.url"
                fit="fit">
              </el-image>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="封面上传"
              prop="cover_img"
            >
              <el-image
                v-for="(item, index) in suppleForm.cover_img"
                :key="index"
                style="width: 146px; height: 146px"
                :src="item.url"
                fit="fit">
              </el-image>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="邀请卡上传"
              prop="invite_card_img"
            >
              <el-image
                v-for="(item, index) in suppleForm.invite_card_img"
                :key="index"
                style="width: 146px; height: 146px"
                :src="item.url"
                fit="fit">
              </el-image>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="二维码上传"
              prop="qrcode_img"
            >
              <el-image
                v-for="(item, index) in suppleForm.qrcode_img"
                :key="index"
                style="width: 146px; height: 146px"
                :src="item.url"
                fit="fit">
              </el-image>
            </el-form-item>
          </el-col>
        </el-row>
      </div>

      <div v-if="interForm.now_step_id!=0&&interForm.my_user_id==interForm.approval_id&&interForm.already_verify==1&&interForm.multiple_rule==1">
        <el-form-item style="margin-top: 30px;margin-left: 165px;">
          <el-button type="primary" @click="pass()">通过</el-button>
          <el-button type="danger" @click="showReject()">拒绝</el-button>
          <el-button @click="close()">取消</el-button>
        </el-form-item>
      </div>
    </el-form>


    <el-dialog title="说明" :visible.sync="rejectVisible" :before-close="close" width="60%">
      <el-form ref="rejectForm" label-position="right" :model="rejectForm" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="拒绝原因"
              prop="rejectReason"
            >
              <el-input type="textarea" :rows="3" v-model="rejectForm.rejectReason" placeholder="请输入拒绝原因" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="contentButton" style="margin-left: 300px;">
          <el-button type="primary" @click="rejectSubmit">确定</el-button>
          <el-button @click="rejectVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as meetingApi from '@/api/workflow/livemeeting'
import UploadFile from '@/components/Upload'
import * as workflowApi from '@/api/workflow/workflow'

export default {
  name: 'FlowStaticDetail',
  components: { UploadFile },
  data() {
    return {
      upload: {
          type: 1,
          business: 'workflow'
      },

      interForm: {
        id: 0,
        flow_id: 0,
        my_user_id: 0,
        work_type: '',
        work_rule: '',
        now_step_id: 0,
        step_id: 0,
        multiple_rule: 0,
        allow_edit: 0,
        created_id: 0,
        approval_id: 0,
        already_verify: 0,
        mk_code: '',
        applicant_name: '',
        applicant_mobile: '',
        manager_id: '',
        meeting_type: '',
        meeting_sub_type: '',
        meeting_category: '',
        meeting_title: '',
        series_id: '',
        zone_id: '',
        province_id: '',
        hospital_id: '',
        depart_id: '',
        range_type: '',
        meeting_time: [],
        meeting_file: [],
        chairman: [],
        speaker: [],
        before_qusetion: [],
        between_qusetion: []
      },

      suppleForm: {
        id: 0,
        step_id: 0,
        live_key: '',
        stream_url: '',
        meeting_img: [],
        cover_img: [],
        invite_card_img: [],
        qrcode_img: []
      },
      imageCount: 0,

      fieldKey: [],
      show_live_key: '',
      show_stream_url: '',

      rejectVisible: false,
      rejectForm: {
        rejectId: 0,
        rejectStepId: 0,
        rejectReason: ''
      },
    }
  },
  activated() {
    var that = this
    this.interForm.id = this.$route.query.id
    if (this.$route.query.id !== 0) {
      meetingApi.staticInfo({
        id: this.$route.query.id,
        flag: this.$route.query.flag
      }).then(response => {
        if (response.code === 20000) {
          setTimeout(function() {
            var sForm = response.data[1]
            that.interForm = response.data[0]
            that.suppleForm = sForm
            that.fieldKey = response.data[2]
            that.imageCount = sForm.meeting_img.length+sForm.cover_img.length+sForm.invite_card_img.length+sForm.qrcode_img.length
            that.show_live_key = sForm.live_key
            that.show_stream_url = sForm.stream_url
          }, 200)
        }
      }).catch(() => {})
    }
  },
  created() {
  },
  methods: {
    uploadImgFail(err) {
        console.log(err)
    },

    uploadImgSuccess(data) {
        console.log(data)
    },

    deleteImg(index, item) {
      this.suppleForm.meeting_img.splice(index, 1)
    },

    deleteImg1(index, item) {
      this.suppleForm.cover_img.splice(index, 1)
    },

    deleteImg2(index, item) {
      this.suppleForm.invite_card_img.splice(index, 1)
    },

    deleteImg3(index, item) {
      this.suppleForm.qrcode_img.splice(index, 1)
    },

    pass() {
      this.$confirm('确认通过该申请吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        workflowApi.pass(this.suppleForm).then(response => {
          this.operationMsg('已通过！', 'success')
          this.close()
        })
      }).catch(() => {})
    },

    showReject() {
      this.rejectForm.rejectId = this.interForm.flow_id
      this.rejectForm.rejectStepId = this.interForm.step_id
      this.rejectForm.rejectReason = ''
      this.rejectVisible = true
    },

    rejectSubmit() {
      workflowApi.reject({
        id: this.rejectForm.rejectId,
        step_id: this.rejectForm.rejectStepId,
        reason: this.rejectForm.rejectReason
      }).then(response => {
        this.rejectVisible = false
        this.close()
      }).catch(() => {})
    },

    close() {
      this.$store.dispatch('tagsView/delView', this.$route).then(() => {
        this.$router.back()
      })
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style scoped>
  .file {
    padding: 20px 0 0 70px;
  }

  .questiontype {
    color: rgb(24, 144, 255);
  }

  .questionTime {
    color: orange;
    margin-left: 10px;
  }

  .bquestion {
    background-color: #FCFCFC;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
  }

  .main {
    margin: 30px;
    padding: 20px 0;
    border: 1px solid #4F4F4F
  }

  .line:first-of-type { border-right: 1px solid #ccc; }
  .line:last-of-type { border-right: 1px solid #ccc; }

  .item{
    margin-top: 20px;
  }
  .label{
    color: #4F4F4F;
    text-align: right;
  }
  .label1 {
    color: #4F4F4F;
    text-align: left;
  }
  .chairman{
    background-color: #FCFCFC;
    margin-bottom: 20px;
    padding: 0 0 20px 20px;
  }

  .qu_area{
    background-color: aliceblue;
    width: 550px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .demo-ruleForm {
    padding: 0 30px;
  }

  .upbutton {
    display: flex;
  }

  .el-upload__tip {
    margin-left: 30px;
  }

  .demo-ruleForm {
    margin-top: 0;
  }

  h3 {
    margin: 0;
  }

</style>
