<template>
  <el-dialog title="邀请卡预览" :visible.sync="detailDialogData.detailVisible" :before-close="close" width="40%">
    <!-- 预览 -->
      <PreviewPoster v-if="detailDialogData.detailVisible" ref="previewPoster"
        :poster-config="detailDialogData.dataList" />
  </el-dialog>
</template>

<script>
import qrcode from '@/assets/qrcode.png'
import avatar from '@/assets/avatar-circle.png'
import avatarSquare from '@/assets/avatar-square.png'
import cover from '@/assets/cover.png'

import PreviewPoster from './preview.vue'

export default {
  name: 'Detail',
  components: { PreviewPoster },
  props: {
    detailDialogData: {
      detailVisible: {
        type: Boolean,
        default: false
      },
      dataList: {
        type: Array,
        default: {
          header: {
            item_name: 'header',
            show: false,
            content: 'circle',
            x: 0,
            y: 0,
            width: 0,
            height: 0,
          },
          nickname: {
            item_name: 'nickname',
            show: false,
            content: 'left',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          cover: {
            item_name: 'cover',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0,
          },
          title: {
            item_name: 'title',
            show: false,
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          speaker: {
            item_name: 'speaker',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          hospital: {
            item_name: 'hospital',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          time: {
            item_name: 'time',
            show: false,
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          qrcode: {
            item_name: 'qrcode',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0,
          },
          text: [],
          back_width: 590,
          back_height: 960
        }
      }
    }
  },
  data() {
    return {
      avatar: avatar,
      nickname: '我是昵称',
      speaker_prefix: '讲者：',
      hospital_prefix: '医院：',
      qrcode: qrcode,
      liveInfo: {
        cover: cover,
        title: '我是标题',
        time: '2021-01-01 09:00'
      }
    }
  },
  methods: {
    close() {
      var detailDialogData = {
        detailVisible: false,
        dataList: {
          header: {
            item_name: 'header',
            show: false,
            content: 'circle',
            x: 0,
            y: 0,
            width: 0,
            height: 0,
          },
          nickname: {
            item_name: 'nickname',
            show: false,
            content: 'left',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          cover: {
            item_name: 'cover',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0,
          },
          title: {
            item_name: 'title',
            show: false,
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          speaker: {
            item_name: 'speaker',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          hospital: {
            item_name: 'hospital',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          time: {
            item_name: 'time',
            show: false,
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
          },
          qrcode: {
            item_name: 'qrcode',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0,
          },
          text: [],
          back_width: 590,
          back_height: 960
        }
      }
      this.$emit('closeDetailDialog', detailDialogData)
    }
  },

  watch: {
    'detailDialogData.dataList.header.content'(newVal, oldVal) {
      if (newVal == 'square') {
        this.avatar = avatarSquare
      } else {
        this.avatar = avatar
      }
    },
  }
}
</script>

<style scoped>
.ab {
  position: absolute;
}

.top {
  z-index: 999;
}

.top1 {
  z-index: 998;
}

.cover_review {
  width: 200px;
  height: 100px;
  position: absolute;
  top: -100px;
  left: 80px;
  z-index: 999;
}

.poster {
  width: 590px;
  height: 960px;
}

.el-dialog__body {
  padding: 0 20px 30px 20px;
}

h3 {
  margin-top: 40px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-left: 1px solid #dfe6ec;
  border-bottom: 1px solid #dfe6ec;
}

.td {
  border-right: 1px solid #dfe6ec;
  border-top: 1px solid #dfe6ec;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #606266;
}

.header {
  width: 30%;
  font-weight: 600;
}

.el-table thead {
  color: #606266;
  font-weight: 600;
}

.cell {
  text-align: center;
}

.menu {
  margin-left: 10px;
}
</style>
