<template>
  <div>
    <img class="img-preview" :src="posterImg" alt="">
    <canvas id="posterCanvas" :width="canvas_w" :height="canvas_h" />
  </div>
</template>

<script>

import qrcode from '@/assets/qrcode.png'
import avatar from '@/assets/avatar-circle.png'
import avatarSquare from '@/assets/avatar-square.png'
import cover from '@/assets/cover.png'
import background from '@/assets/background.png'

export default {
  name: 'PreviewPoster',
  props: ['posterConfig'],
  components: {},
  data() {
    return {
      canvas_w: 590,
      canvas_h: 960,

      posterImg: ''
    }
  },
  watch: {
    posterConfig: {
      deep: true,
      handler: function () {
        this.drawPosterImg()
      }
    }
  },
  created() {
    console.log(this.posterConfig)
  },
  mounted() {
    this.drawPosterImg()
  },
  methods: {
    // 加载图片
    loadImage(imgURL) {

      return new Promise((resolve, reject) => {
        let image = new Image()
        image.crossOrigin = 'anonymous'
        image.onload = () => {
          resolve(image)
        }

        image.src = imgURL
      }).catch(err => console.log(err));
    },
    // 绘制海报
    async drawPosterImg() {

      // 画布
      const canvas = document.getElementById('posterCanvas');
      const ctx = canvas.getContext('2d');

      const posterConfig = this.posterConfig
      const bgURL = posterConfig.background

      const bgImg = await this.loadImage(bgURL)

      // 配置 canvas 尺寸
      this.canvas_w = bgImg.width;
      this.canvas_h = bgImg.height;

      const bgConfig = {
        x: 0,
        y: 0,
        content: bgImg,
        width: bgImg.width,
        height: bgImg.height
      };

      // 重置画布
      ctx.clearRect(0, 0, bgImg.width, bgImg.height);

      // 延迟执行, 避免是空白图片
      setTimeout(async () => {

        await this.drawRectImg(ctx, bgConfig);

        const keys = Object.keys(posterConfig)

        // 绘制模版配置
        for (let i = 0; i < keys.length; i++) {
          const option = posterConfig[keys[i]];
          if (option.item_name == 'header' && option.show) {
            await this.drawAvatar(ctx, option);
          } else if (option.item_name == 'nickname' && option.show) {
            // 昵称
            this.drawText(ctx, option);
          } else if (option.item_name == 'qrcode' && option.show) {
            // 二维码
            await this.drawRectImg(ctx, option);
          } else if (option.item_name == 'cover' && option.show) {
            // 图片
            await this.drawRectImg(ctx, option);
          } else if (option.item_name == 'speaker' && option.show) {
            // 讲者
            this.drawText(ctx, option);
          } else if (option.item_name == 'hospital' && option.show) {
            // 医院
            this.drawText(ctx, option);
          } else if (option.item_name == 'title' && option.show) {
            this.drawText(ctx, option);
          } else if (keys[i] == 'text') {
            // 文字
            for (let j = 0; j < option.length; j++) {
              this.drawText(ctx, option[j]);
            }

          }
        }

        // 将画布转为图片
        this.posterImg = canvas.toDataURL();
      }, 500);

    },


    // 绘制头像(圆形)
    async drawAvatar(ctx, config) {

      if (config.content != 'square') {
        const arcR = config.width / 2;
        const arcX = config.x / 1 + arcR;
        const arcY = config.y / 1 + arcR;

        // 头像边框
        ctx.save();
        ctx.beginPath();
        ctx.arc(arcX, arcY, arcR, 0, 2 * Math.PI);
        ctx.strokeStyle = '#ffffff';
        ctx.stroke();
        ctx.restore();

        // 头像图片
        ctx.save();
        ctx.beginPath();
        ctx.arc(arcX, arcY, arcR, 0, 2 * Math.PI);
        ctx.clip();
      }
      // 头像
      let avatarImg = avatarSquare
      if (config.content != 'square') {
        avatarImg = avatar
      }
      const result = await this.loadImage(avatarImg);
      ctx.drawImage(result, config.x, config.y, config.width, config.height);
      ctx.restore();
    },


    // 绘制图片(矩形)
    async drawRectImg(ctx, config) {

      let resultImg = config.content;

      if (config.item_name == 'qrcode') {
        resultImg = await this.loadImage(qrcode);

        const w = 1;
        ctx.save();
        ctx.fillStyle = '#ffffff';
        ctx.fillRect(config.x - w, config.y - w, config.width / 1 + 2 * w, config.height / 1 + 2 * w);
        ctx.beginPath();
        ctx.restore();
      }

      if (config.item_name == 'cover') {
        if (this.posterConfig.type == 1) {
          resultImg = await this.loadImage(cover);
        } else {
          resultImg = await this.loadImage(config.content);
        }
      }

      ctx.save();
      ctx.beginPath();
      resultImg && ctx.drawImage(resultImg, config.x, config.y, config.width, config.height);
      ctx.restore();
    },

    // 绘制文字
    drawText(ctx, config) {
      ctx.save();
      ctx.beginPath();

      ctx.font = `${config.size || 12}px ${config.font || '宋体'}`
      ctx.fillStyle = config.color;
      ctx.textBaseline = 'top'; // 文字绘制的基线

      const posterConfig = this.posterConfig

      let str = config.content;

      if (config.item_name == 'nickname') {
        str = '模拟昵称模拟昵称'
        ctx.textAlign = config.align;
      }

      if (config.item_name == 'speaker') {
        str = '讲者: ' + (str || '医生姓名')
      }

      if (config.item_name == 'hospital') {
        console.log(str);
        str = '医院: ' + (str || '医院名称')
      }

      // 处理文字换行
      let textArr = str ? str.split(/[\n]/) : [];

      const mockTitle = '模拟标题模拟标题模拟标题模拟标题模拟标题模拟标题'

      if (posterConfig.type == 1 && config.item_name == 'title') {
        const textLengthArr = textArr.map(item => item.length);
        textArr = [];
        let beginIndex = 0;
        for (let i = 0; i < textLengthArr.length; i++) {
          beginIndex += i > 0 ? textLengthArr[i - 1] : 0;
          const endIndex = i == textLengthArr.length - 1 ? mockTitle.length : textLengthArr[i];
          const subText = mockTitle.substr(beginIndex, endIndex);
          textArr.push(subText);
        }
      }

      const resultArr = textArr;
      for (let i = 0; i < resultArr.length; i++) {
        ctx.fillText(resultArr[i], config.x, config.y / 1 + i * config.size / 1 + i * 3);
      }
      ctx.restore();
    }
  }
}
</script>

<style scoped>
.img-preview {
  display: block;
  width: 100%;
  height: auto;
}

#posterCanvas {
  position: fixed;
  left: -100vw;
  top: -100vh;
  /* left: 0;
  top: 0; */
  /* z-index: 99; */
}
</style>
