<template>
  <el-dialog title="创建/更新邀请卡" :visible.sync="updateDialogData.updateVisible" :before-close="close" width="80%">
    <el-row>
      <el-col :span="18" style="max-height: 80vh; overflow-y: auto;">
        <!-- 表单 -->
        <el-form ref="newUploadForm" style="margin-top: 50px;" label-position="right"
          :model="updateDialogData.newUpdateForm" label-width="100px" class="demo-ruleForm">
          <el-row>
            <el-col :span="24">
              <el-form-item label="上传底图">
                <ImgUpload :uploadData="uploadData" :picUrl="picUrl" :bucket="bucket" :showList="false" :limit="limit"
                  @setImg="setImg($event)" />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="11">
              <el-form-item label="项目类型" prop="p_type" :rules="[
                { required: true, message: '请选择项目类型', trigger: 'blur' }
              ]">
                <el-select v-model="updateDialogData.newUpdateForm.p_type" placeholder="请选择项目">
                  <el-option v-for="item in ptypes" :key="item.id" :label="item.title" :value="item.id" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="2" />
            <el-col :span="11">
              <el-form-item label="海报类型" prop="type" :rules="[
                { required: true, message: '请选择海报类型', trigger: 'blur' }
              ]">
                <el-select v-model="updateDialogData.newUpdateForm.type" placeholder="请选择类型">
                  <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col v-if="updateDialogData.newUpdateForm.p_type == 1 && updateDialogData.newUpdateForm.type == 1" :span="22">
              <el-form-item label="直播类型" prop="live_type" :rules="[
                { required: true, message: '请选择直播类型', trigger: 'blur' }
              ]">
                <el-checkbox-group v-model="updateDialogData.newUpdateForm.live_type">
                  <el-col v-for="item in liveTypes" :key="item.id" :span="7">
                    <el-checkbox :label="item.id">
                      {{ item.title }}
                    </el-checkbox>
                  </el-col>
                </el-checkbox-group>

              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col
              v-if="(updateDialogData.newUpdateForm.p_type == 1 && updateDialogData.newUpdateForm.type == 2) || (updateDialogData.newUpdateForm.p_type == 1 && updateDialogData.newUpdateForm.type == 3)"
              :span="22">
              <el-form-item label="直播" prop="p_id" :rules="[
                { required: true, message: '请选择直播', trigger: 'blur' }
              ]">
                <el-select v-model="updateDialogData.newUpdateForm.p_id" style="width:100%" placeholder="请选择直播" filterable
                  remote clearable reserve-keyword :remote-method="remoteLive"
                  @change="onSelected(updateDialogData.newUpdateForm.p_id)">
                  <el-option v-for="item in liveList" :key="item.id" :label="item.title" :value="item.id" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col
              v-if="(updateDialogData.newUpdateForm.p_type == 2 && updateDialogData.newUpdateForm.type == 2) || (updateDialogData.newUpdateForm.p_type == 2 && updateDialogData.newUpdateForm.type == 3)"
              :span="24">
              <el-form-item label="大咖系列" prop="p_id" :rules="[
                { required: true, message: '请选择大咖系列', trigger: 'blur' }
              ]">
                <el-select v-model="updateDialogData.newUpdateForm.p_id" style="width:100%" placeholder="请选择大咖" filterable
                  remote clearable reserve-keyword :remote-method="remoteSeries"
                  @change="onSelected(updateDialogData.newUpdateForm.p_id)">
                  <el-option v-for="item in seriesList" :key="item.id" :label="item.title" :value="item.id" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <h4>头像</h4>
          <el-row style="margin-left: 30px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="header.x">
                <el-input v-model="updateDialogData.newUpdateForm.header.x" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="header.y">
                <el-input v-model="updateDialogData.newUpdateForm.header.y" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="长" prop="header.width">
                <el-input v-model="updateDialogData.newUpdateForm.header.width"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="宽" prop="header.height">
                <el-input v-model="updateDialogData.newUpdateForm.header.height"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="形状" prop="header.content">
                <el-select v-model="updateDialogData.newUpdateForm.header.content" placeholder="请选择形状">
                  <el-option v-for="item in sharps" :key="item.id" :label="item.title" :value="item.uri" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button type="primary" size="mini" @click="showItem('header')">预览</el-button>
            </el-col>
          </el-row>

          <!-- <h4>封面</h4> -->
          <el-row>
            <el-col :span="2">
              <h4>封面</h4>
            </el-col>
            <el-col :span="1">
              <el-image v-show="coverShow" class="cover_review" :src="updateDialogData.newUpdateForm.cover.content" />
              <div style="color: #1890ff;cursor: pointer;" @mouseover="coverShow = true" @mouseleave="coverShow = false">查看
              </div>
            </el-col>
          </el-row>
          <el-row style="margin-left: 30px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="cover.x">
                <el-input v-model="updateDialogData.newUpdateForm.cover.x" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="cover.y">
                <el-input v-model="updateDialogData.newUpdateForm.cover.y" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="长" prop="cover.width">
                <el-input v-model="updateDialogData.newUpdateForm.cover.width"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="宽" prop="cover.height">
                <el-input v-model="updateDialogData.newUpdateForm.cover.height"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button type="primary" size="mini" @click="showItem('cover')">预览</el-button>
            </el-col>
            <el-col :span="2">
              <ImgUpload :uploadData="uploadData" :picUrl="picUrl" :bucket="bucket" :showList="false" :limit="limit"
                :text="text" :button="button" @setImg="setImg1($event)" />
            </el-col>
          </el-row>

          <h4>二维码</h4>
          <el-row style="margin-left: 30px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="qrcode.x">
                <el-input v-model="updateDialogData.newUpdateForm.qrcode.x" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="qrcode.y">
                <el-input v-model="updateDialogData.newUpdateForm.qrcode.y" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="长" prop="qrcode.width">
                <el-input v-model="updateDialogData.newUpdateForm.qrcode.width"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="宽" prop="qrcode.height">
                <el-input v-model="updateDialogData.newUpdateForm.qrcode.height"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button type="primary" size="mini" @click="showItem('qrcode')">预览</el-button>
            </el-col>
          </el-row>

          <h4>昵称</h4>
          <el-row style="margin-left: 30px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="nickname.x">
                <el-input v-model="updateDialogData.newUpdateForm.nickname.x" onkeyup="value=value.replace(/[^\d]/g,'')"
                  :disabled="nickname_disabled" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="nickname.y">
                <el-input v-model="updateDialogData.newUpdateForm.nickname.y"
                  onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="位置" prop="nickname.content">
                <el-select v-model="updateDialogData.newUpdateForm.nickname.content">
                  <el-option v-for="item in position" :key="item.id" :label="item.title" :value="item.pos" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="字体" prop="nickname.font">
                <el-select v-model="updateDialogData.newUpdateForm.nickname.font">
                  <el-option v-for="item in fontList" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label-width="50px" label="大小" prop="nickname.size">
                <el-select v-model="updateDialogData.newUpdateForm.nickname.size">
                  <el-option v-for="item in sizeList" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item label-width="50px" label="颜色" prop="nickname.color">
                <el-color-picker v-model="updateDialogData.newUpdateForm.nickname.color" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button type="primary" size="mini" @click="showItem('nickname')">预览</el-button>
            </el-col>
          </el-row>

          <h4>标题</h4>
          <el-row style="margin-left: 65px;">
            <el-col :span="18">
              <el-input v-model="updateDialogData.newUpdateForm.title.content" type="textarea" rows="3" maxlength="100"
                show-word-limit />
            </el-col>
          </el-row>
          <el-row style="margin-left: 30px;margin-top: 20px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="title.x">
                <el-input v-model="updateDialogData.newUpdateForm.title.x" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="title.y">
                <el-input v-model="updateDialogData.newUpdateForm.title.y" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label-width="50px" label="字体" prop="title.font">
                <el-select v-model="updateDialogData.newUpdateForm.title.font">
                  <el-option v-for="item in fontList" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="大小" prop="title.size">
                <el-select v-model="updateDialogData.newUpdateForm.title.size">
                  <el-option v-for="item in sizeList" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label-width="50px" label="颜色" prop="title.color">
                <el-color-picker v-model="updateDialogData.newUpdateForm.title.color" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button type="primary" size="mini" @click="showItem('title')">预览</el-button>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="2">
              <h4>讲者</h4>
            </el-col>
            <el-col :span="6">
              <el-switch v-model="speakerContentShow" />
            </el-col>
          </el-row>
          <el-row style="margin-left: 65px;">
            <el-col :span="18">
              <el-input v-model="updateDialogData.newUpdateForm.speaker.content" :disabled="!speakerContentShow">
                <template slot="prepend">讲者：</template>
              </el-input>
            </el-col>
          </el-row>
          <el-row style="margin-left: 30px;margin-top: 20px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="speaker.x">
                <el-input v-model="updateDialogData.newUpdateForm.speaker.x" onkeyup="value=value.replace(/[^\d]/g,'')"
                  :disabled="!speakerContentShow" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="speaker.y">
                <el-input v-model="updateDialogData.newUpdateForm.speaker.y" onkeyup="value=value.replace(/[^\d]/g,'')"
                  :disabled="!speakerContentShow" />
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label-width="50px" label="字体" prop="speaker.font">
                <el-select v-model="updateDialogData.newUpdateForm.speaker.font">
                  <el-option v-for="item in fontList" :key="item" :label="item" :value="item"
                    :disabled="!speakerContentShow" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="大小" prop="speaker.size">
                <el-select v-model="updateDialogData.newUpdateForm.speaker.size">
                  <el-option v-for="item in sizeList" :key="item" :label="item" :value="item"
                    :disabled="!speakerContentShow" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label-width="50px" label="颜色" prop="speaker.color">
                <el-color-picker v-model="updateDialogData.newUpdateForm.speaker.color" :disabled="!speakerContentShow" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button :disabled="!speakerContentShow" type="primary" size="mini"
                @click="showItem('speaker')">预览</el-button>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="2">
              <h4>医院</h4>
            </el-col>
            <el-col :span="6">
              <el-switch v-model="hospitalContentShow" />
            </el-col>
          </el-row>
          <el-row style="margin-left: 65px;">
            <el-col :span="18">
              <el-input v-model="updateDialogData.newUpdateForm.hospital.content" :disabled="!hospitalContentShow">
                <template slot="prepend">医院：</template>
              </el-input>
            </el-col>
          </el-row>
          <el-row style="margin-left: 30px;margin-top: 20px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="hospital.x">
                <el-input v-model="updateDialogData.newUpdateForm.hospital.x" onkeyup="value=value.replace(/[^\d]/g,'')"
                  :disabled="!hospitalContentShow" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="hospital.y">
                <el-input v-model="updateDialogData.newUpdateForm.hospital.y" onkeyup="value=value.replace(/[^\d]/g,'')"
                  :disabled="!hospitalContentShow" />
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label-width="50px" label="字体" prop="hospital.font">
                <el-select v-model="updateDialogData.newUpdateForm.hospital.font">
                  <el-option v-for="item in fontList" :key="item" :label="item" :value="item"
                    :disabled="!hospitalContentShow" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="大小" prop="hospital.size">
                <el-select v-model="updateDialogData.newUpdateForm.hospital.size">
                  <el-option v-for="item in sizeList" :key="item" :label="item" :value="item"
                    :disabled="!hospitalContentShow" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label-width="50px" label="颜色" prop="hospital.color">
                <el-color-picker v-model="updateDialogData.newUpdateForm.hospital.color"
                  :disabled="!hospitalContentShow" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button :disabled="!hospitalContentShow" type="primary" size="mini"
                @click="showItem('hospital')">预览</el-button>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="2">
              <h4>时间</h4>
            </el-col>
            <el-col :span="18">
              {{ updateDialogData.newUpdateForm.time.content }}
            </el-col>
          </el-row>
          <el-row style="margin-left: 30px;">
            <el-col :span="4">
              <el-form-item label-width="35px" label="X" prop="time.x">
                <el-input v-model="updateDialogData.newUpdateForm.time.x" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="35px" label="Y" prop="time.y">
                <el-input v-model="updateDialogData.newUpdateForm.time.y" onkeyup="value=value.replace(/[^\d]/g,'')" />
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label-width="50px" label="字体" prop="time.font">
                <el-select v-model="updateDialogData.newUpdateForm.time.font">
                  <el-option v-for="item in fontList" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label-width="50px" label="大小" prop="time.size">
                <el-select v-model="updateDialogData.newUpdateForm.time.size">
                  <el-option v-for="item in sizeList" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label-width="50px" label="颜色" prop="time.color">
                <el-color-picker v-model="updateDialogData.newUpdateForm.time.color" />
              </el-form-item>
            </el-col>
            <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
              <el-button type="primary" size="mini" @click="showItem('time')">预览</el-button>
            </el-col>
          </el-row>

          <el-row style="margin-left: 30px;margin-bottom: 30px;">
            <el-col :span="4">
              <el-button type="primary" size="mini" @click="addText()">添加文本</el-button>
            </el-col>
          </el-row>

          <div v-for="(oneText, index) in updateDialogData.newUpdateForm.text" :key="index">
            <h4>文本</h4>
            <el-row style="margin-left: 65px;">
              <el-col :span="18">
                <el-tag v-for="tag in defaultText" :key="tag.name"
                  style="margin-right: 10px;margin-bottom: 5px;cursor: pointer;" :type="tag.type"
                  @click="tapTag(index, tag.name)">
                  {{ tag.name }}
                </el-tag>
                <el-input v-model="oneText.content" rows="3" type="textarea" maxlength="100" show-word-limit />
              </el-col>
            </el-row>
            <el-row style="margin-left: 30px; margin-top: 20px;">
              <el-col :span="4">
                <el-form-item label-width="35px" label="X">
                  <el-input v-model="oneText.x" onkeyup="value=value.replace(/[^\d]/g,'')" />
                </el-form-item>
              </el-col>
              <el-col :span="4">
                <el-form-item label-width="35px" label="Y">
                  <el-input v-model="oneText.y" onkeyup="value=value.replace(/[^\d]/g,'')" />
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label-width="50px" label="字体">
                  <el-select v-model="oneText.font">
                    <el-option v-for="item in fontList" :key="item" :label="item" :value="item" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="4">
                <el-form-item label-width="50px" label="大小">
                  <el-select v-model="oneText.size">
                    <el-option v-for="item in sizeList" :key="item" :label="item" :value="item" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="3">
                <el-form-item label-width="50px" label="颜色">
                  <el-color-picker v-model="oneText.color" />
                </el-form-item>
              </el-col>
              <el-col :span="2" style="margin-left: 20px;margin-top: 2px;">
                <el-button type="primary" size="mini" @click="showItem(index)">预览</el-button>
              </el-col>
            </el-row>
          </div>

          <el-form-item style="margin-top: 50px;">
            <el-row>
              <el-col :span="8" style="text-align: right;">
                <el-button type="primary" @click="updateLive('newUploadForm')">确认提交</el-button>
              </el-col>
              <el-col :span="4">
                <el-button style="margin-left: 100px;" @click="close">取消</el-button>
              </el-col>
            </el-row>
          </el-form-item>

        </el-form>
      </el-col>


      <el-col :span="6">
        <!-- 预览 -->
        <PreviewPoster v-if="updateDialogData.updateVisible" ref="previewPoster" :poster-config="updateDialogData.newUpdateForm" />
      </el-col>

    </el-row>

  </el-dialog>
</template>

<script>
import { projectDetail, update, drug_series } from '@/api/poster/poster'
import { getUploadToken } from '@/api/upload/upload'
// import { getType } from '@/api/live/live'
import ImgUpload from '@/components/ImgUpload'
import qrcode from '@/assets/qrcode.png'
import avatar from '@/assets/avatar-circle.png'
import avatarSquare from '@/assets/avatar-square.png'
import cover from '@/assets/cover.png'
import background from '@/assets/background.png'

import PreviewPoster from './preview.vue'

export default {
  name: 'Update',
  components: { ImgUpload, PreviewPoster },
  props: {
    liveList: {
      type: Array,
      default: () => {
        return []
      }
    },
    seriesList: {
      type: Array,
      default: () => {
        return []
      }
    },
    static_p_type: {
      type: Number,
      default: () => {
        return 0
      }
    },
    static_type: {
      type: Number,
      default: () => {
        return 0
      }
    },
    // 表单
    updateDialogData: {
      type: Object,
      default: () => {
        return {
          updateVisible: false,
          newUpdateForm: {
            poster_id: 0,
            background: background,
            back_width: 590,
            back_height: 960,
            type: '',
            p_type: '',
            p_id: '',
            live_type: [],
            header: {
              item_name: 'header',
              show: false,
              content: 'circle',
              x: 0,
              y: 0,
              width: 0,
              height: 0
            },
            nickname: {
              item_name: 'nickname',
              show: false,
              content: 'left',
              x: 0,
              y: 0,
              font: '',
              size: 16,
              color: ''
            },
            cover: {
              item_name: 'cover',
              show: false,
              content: cover,
              x: 0,
              y: 0,
              width: 0,
              height: 0
            },
            title: {
              item_name: 'title',
              show: false,
              content: '',
              x: 0,
              y: 0,
              font: '',
              size: 16,
              color: ''
            },
            speaker: {
              item_name: 'speaker',
              show: false,
              content: '',
              x: 0,
              y: 0,
              font: '',
              size: 16,
              color: '',
              width: ''
            },
            hospital: {
              item_name: 'hospital',
              show: false,
              content: '',
              x: 0,
              y: 0,
              font: '',
              size: 16,
              color: '',
              width: ''
            },
            time: {
              item_name: 'time',
              show: false,
              content: '2021-01-01 9:00',
              x: 0,
              y: 0,
              font: '',
              size: 16,
              color: ''
            },
            qrcode: {
              item_name: 'qrcode',
              show: false,
              x: 0,
              y: 0,
              width: 0,
              height: 0
            },
            text: []
          }
        }
      }
    }
  },
  data() {
    return {
      ptypes: [
        { id: 1, title: '直播' },
        { id: 2, title: '大咖' }
      ],
      types: [
        { id: 1, title: '通用' },
        { id: 2, title: '专用' },
        { id: 3, title: '1对1专用' }
      ],
      sharps: [
        { id: 1, title: '圆形', uri: 'circle' },
        { id: 2, title: '方形', uri: 'square' }
      ],
      position: [
        { id: 1, title: '居左', pos: 'left' },
        { id: 2, title: '居中', pos: 'center' }
      ],
      liveTypes: [],
      avatar: avatar,
      nickname: '我是昵称',
      nickname_disabled: false,
      speaker_prefix: '讲者：',
      speakerContentShow: true,
      hospital_prefix: '医院：',
      hospitalContentShow: true,
      qrcode: qrcode,
      fontList: ['中易宋体', '微软雅黑', '华文细黑', 'Arial'],
      sizeList: [14, 16, 18, 20, 22, 24, 26, 28, 30, 32],
      defaultText: [
        { name: '长按立即观看', type: 'info' },
        { name: '邀请您来一起看直播', type: 'info' }
      ],
      coverShow: false,
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      limit: 999,
      text: '',
      button: '自定义'
    }
  },
  watch: {
    'updateDialogData.newUpdateForm.live_type'(newVal, oldVal) {
      console.log(this.updateDialogData.newUpdateForm.live_type)
    },
    'updateDialogData.newUpdateForm.p_type'(newVal, oldVal) {
      if (newVal != this.static_p_type) {
        this.updateDialogData.newUpdateForm.p_id = ''
        this.updateDialogData.newUpdateForm.type = ''
        this.updateDialogData.newUpdateForm.live_type = []
      }
    },
    'updateDialogData.newUpdateForm.type'(newVal, oldVal) {
      if (newVal != this.static_type) {
        this.updateDialogData.newUpdateForm.p_id = ''
        this.updateDialogData.newUpdateForm.live_type = []
      }
    },
    'updateDialogData.newUpdateForm.header.content'(newVal, oldVal) {
      if (newVal === 'square') {
        this.avatar = avatarSquare
      } else {
        this.avatar = avatar
      }
    },
    'updateDialogData.newUpdateForm.nickname.content'(newVal, oldVal) {
      if (newVal === 'center') {
        this.nickname_disabled = true
        this.updateDialogData.newUpdateForm.nickname.x = 259
      } else {
        this.nickname_disabled = false
        this.updateDialogData.newUpdateForm.nickname.x = 0
      }
    },
    'updateDialogData.newUpdateForm.speaker.width'(newVal, oldVal) {
      if (newVal === 1) {
        this.speakerContentShow = true
      } else {
        this.speakerContentShow = false
      }
    },
    'updateDialogData.newUpdateForm.hospital.width'(newVal, oldVal) {
      if (newVal === 1) {
        this.hospitalContentShow = true
      } else {
        this.hospitalContentShow = false
      }
    },
    'speakerContentShow'(newVal, oldVal) {
      if (newVal === false) {
        this.updateDialogData.newUpdateForm.speaker = {
          item_name: 'speaker',
          show: false,
          content: '',
          x: 0,
          y: 0,
          font: '',
          size: 16,
          color: ''
        }
      }
    },
    'hospitalContentShow'(newVal, oldVal) {
      if (newVal === false) {
        this.updateDialogData.newUpdateForm.hospital = {
          item_name: 'hospital',
          show: false,
          content: '',
          x: 0,
          y: 0,
          font: '',
          size: 16,
          color: ''
        }
      }
    }
  },
  created() {
    this.getDrugSeries()
  },
  methods: {
    remoteLive(query) {
      if (query !== '' && query !== undefined) {
        setTimeout(() => {
          this.$parent.remoteMethod(1, query)
        }, 500);
      }
    },

    remoteSeries(query) {
      if (query !== '' && query !== undefined) {
        setTimeout(() => {
          this.$parent.remoteMethod(2, query)
        }, 500);
      }
    },

    getDrugSeries(flag) {
      drug_series().then(response => {
        this.liveTypes = response.data
      }).catch(() => { })
    },

    getProjectDetail(id, type) {
      var query = { 'id': id, 'type': type }
      projectDetail(query).then(response => {
        if (response.code === 20000) {
          this.updateDialogData.newUpdateForm.cover.content = response.data.thumbnail_img
          this.updateDialogData.newUpdateForm.title.content = response.data.title
          this.updateDialogData.newUpdateForm.speaker.content = response.data.speaker
          this.updateDialogData.newUpdateForm.hospital.content = response.data.hospital
          this.updateDialogData.newUpdateForm.time.content = response.data.start_time
        }
      }).catch(() => { })
    },

    updateLive(formName) {
      console.log(this.updateDialogData.newUpdateForm)
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.updateDialogData.newUpdateForm.background !== background) {
            if (this.speakerContentShow) {
              this.updateDialogData.newUpdateForm.speaker.width = 1
            }
            if (this.hospitalContentShow) {
              this.updateDialogData.newUpdateForm.hospital.width = 1
            }
            update(this.updateDialogData.newUpdateForm).then(response => {
              if (response.code === 20000) {
                this.$parent.operationMsg('提交成功！', 'success')
                this.close()
                this.$parent.search()
              }
            }).catch(() => { })
          } else {
            this.$parent.operationMsg('请上传背景图！', 'error')
          }
        } else {
          return false
        }
      })
    },

    // 上传token
    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => { })
    },

    setImg(data) {
      this.updateDialogData.newUpdateForm.background = data.imgList[0].url
      this.updateDialogData.newUpdateForm.back_height = Math.round(590 * data.imgList[0].height / data.imgList[0].width)
      console.log(this.updateDialogData.newUpdateForm.back_height)
    },

    setImg1(data) {
      this.updateDialogData.newUpdateForm.cover.content = data.imgList[0].url
    },

    showItem(item) {
      if (item === 'header') {
        this.updateDialogData.newUpdateForm.header.show = true
      } else if (item === 'nickname') {
        this.updateDialogData.newUpdateForm.nickname.show = true
      } else if (item === 'cover') {
        this.updateDialogData.newUpdateForm.cover.show = true
      } else if (item === 'title') {
        this.updateDialogData.newUpdateForm.title.show = true
      } else if (item === 'time') {
        this.updateDialogData.newUpdateForm.time.show = true
      } else if (item === 'qrcode') {
        this.updateDialogData.newUpdateForm.qrcode.show = true
      } else if (item === 'speaker') {
        this.updateDialogData.newUpdateForm.speaker.show = true
      } else if (item === 'hospital') {
        this.updateDialogData.newUpdateForm.hospital.show = true
      } else {
        this.updateDialogData.newUpdateForm.text[item].show = true
      }
    },

    addText() {
      var item = {
        item_name: 'text',
        content: '',
        show: false,
        x: 0,
        y: 0,
        font: '',
        size: 16,
        color: ''
      }

      this.updateDialogData.newUpdateForm.text.push(item)
    },

    tapTag(index, content) {
      this.updateDialogData.newUpdateForm.text[index].content = content
    },

    close() {
      var closeUpdateDialog =
      {
        updateVisible: false,
        newUpdateForm: {
          poster_id: 0,
          background: background,
          back_width: 590,
          back_height: 960,
          type: '',
          p_type: '',
          p_id: '',
          live_type: [],
          header: {
            item_name: 'header',
            show: false,
            content: 'circle',
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          nickname: {
            item_name: 'nickname',
            show: false,
            content: 'left',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          cover: {
            item_name: 'cover',
            show: false,
            content: cover,
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          speaker: {
            item_name: 'speaker',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
            width: ''
          },
          hospital: {
            item_name: 'hospital',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: '',
            width: ''
          },
          title: {
            item_name: 'title',
            show: false,
            content: '',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          time: {
            item_name: 'time',
            show: false,
            content: '2021-01-01 9:00',
            x: 0,
            y: 0,
            font: '',
            size: 16,
            color: ''
          },
          qrcode: {
            item_name: 'qrcode',
            show: false,
            x: 0,
            y: 0,
            width: 0,
            height: 0
          },
          text: []
        }
      }
      this.$emit('closeUpdateDialog', closeUpdateDialog)
    },

    onSelected(newVal) {
      if (newVal !== 0 && newVal !== '' && newVal !== null) {
        this.getProjectDetail(newVal, this.updateDialogData.newUpdateForm.p_type)
      }
    }
  }
}
</script>

<style scoped>
.el-switch__core:after {
  width: 14px;
  height: 14px;
}

.el-switch__core {
  height: 18px;
}

.ab {
  position: absolute;
}

.top {
  z-index: 999;
}

.top1 {
  z-index: 998;
}

.cover_review {
  width: 200px;
  height: 100px;
  position: absolute;
  top: -100px;
  left: 80px;
  z-index: 999;
}

/* .poster{
    width: 590px;
    height: 960px;
  } */
.demo-ruleForm {
  margin-top: 30px;
}

.upbutton {
  display: flex;
}

.el-upload__tip {
  margin-left: 30px;
}

.demo-ruleForm {
  margin-top: 0;
}

h4 {
  margin: 0 0 5px 30px;
}

.contentButton {
  margin-top: 20px;
  text-align: center;
}

/* .el-upload-list{
  display: none;
} */
</style>
