<template>
  <el-dialog title="答卷详情页" :visible="open" :before-close="close">
    <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <el-descriptions title="答题信息">
          <el-descriptions-item label="问卷名称">{{ name }}</el-descriptions-item>
          <el-descriptions-item label="答题医生">{{ realname }}</el-descriptions-item>
          <el-descriptions-item label="问卷提交时间">{{ answer_time }}</el-descriptions-item>
        </el-descriptions>
      </el-col>
      <el-col :span="22" :offset="1">
        <div style="font-size: 16px;font-weight: bold;margin-top:50px;color: #303133">答题详情</div>

        <div>
          <el-col :span="24" style="text-align: center; margin-bottom: 10px;font-weight: bold;font-size: 16px;">共&nbsp;{{ answers.length }}&nbsp;题</el-col>
          <el-col v-for="(item, idx) in answers" :key="idx" :span="24">
            <el-card class="box-card" shadow="never">
              <div slot="header" class="clearfix">
                <span>
                  <el-tag type="warning">{{ getQuestionType(item.type) }}</el-tag>
                </span> <br>
                <span>{{ idx+1 }}.&nbsp;&nbsp;{{ item. question }}</span>
              </div>
              <div>
                <div v-if="item.type == 1 || item.type == 2">
                  <div
                    v-for="(oitem ,oidx) in item.options"
                    :key="oidx"
                    class="text item"
                    style="padding-bottom: 5px;">

                    <el-alert
                      style="padding-left:32px;"
                      v-if="oitem.is_selected == 0"
                      :title="getOffsetNo(oidx) + '.  ' + oitem.name"
                      type="info"
                      :closable="false"
                    />
                    <el-alert
                      v-if="oitem.is_selected == 1"
                      :title="getOffsetNo(oidx) + '.  ' + oitem.name"
                      type="success"
                      :closable="false"
                      show-icon
                    />

                  </div>
                </div>
                <div v-if="item.type == 3">
                  <el-alert
                    :title="item.content"
                    type="success"
                    :closable="false"
                  />
                </div>
                <div v-if="item.explain">
                  <!-- 答案解析 -->
                  <el-alert
                    title="'答案解析:"
                    type="danger"
                    :closable="false"
                    :description="item.explain"
                  />
                </div>
              </div>
            </el-card>
          </el-col>
        </div>
      </el-col>
    </el-row>
  </el-dialog>
</template>
<script>
import { getActivityReportPaperAnswers } from '@/api/doctor/offline_activity'
export default {
  name: 'ActivityPaperAnswer',
  props: ['id', 'open', 'name', 'realname', 'answer_time'],
  data: function() {
    return {
      answers: []
    }
  },
  mounted() {
    this.getAnswer()
  },
  methods: {
    getAnswer() {
      getActivityReportPaperAnswers(this.id)
        .then(resp => {
          this.$data.answers = resp.data.list
        })
    },
    close() {
      this.$emit('close')
    },
    getQuestionType(type) {
      return type === 1 ? '单选' : (type == 2 ? '多选' : '填空')
    },
    getOffsetNo(offset = 0) {
      return String.fromCharCode('A'.charCodeAt(0) + offset)
    }
  }
}
</script>

<style scoped>

</style>
