<template>
  <el-dialog :title="getTitle" :visible="open" v-loading="loading" :before-close="close">
    <el-form ref="info" :model="info" :rules="rules">
      <el-form-item label="编号" autocomplete="false" prop="no" :label-width="formLabelWidth">
        <el-input v-model="info.no" autocomplete="off" />
      </el-form-item>
      <el-form-item label="公司" :label-width="formLabelWidth" prop="company_id">
        <el-select
          v-model="info.company_id"
          filterable
          remote
          reserve-keyword
          placeholder="请输入公司关键字搜索"
          :remote-method="remoteSearchCompany"
          :loading="loading_company"
        >
          <el-option
            v-for="item in companies"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="活动名称" autocomplete="false" prop="name" :label-width="formLabelWidth">
        <el-input v-model="info.name" autocomplete="off" />
      </el-form-item>
      <el-form-item label="活动时间" :label-width="formLabelWidth" prop="time">
        <el-date-picker
          v-model="info.time"
          type="datetimerange"
          value-format="yyyy-MM-dd HH:mm:ss"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="close">取 消</el-button>
      <el-button type="primary" @click="confirm">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { searchCompany } from '@/api/youyao/company'
import { addOfflineActivity, editOfflineActivity, infoOfflineActivity } from '@/api/doctor/offline_activity'
export default {
  name: 'EditOfflineActivity',
  props: ['id', 'open'],
  data: function() {
    const validateName = (rule, value, callback) => {
      if (value.length > 32) {
        return callback(new Error('活动名称最多允许32个字符'))
      }
      return callback()
    }

    const validateNo = (rule, value, callback) => {
      if (value != '') {
        if (value.length > 32) {
          return callback(new Error('活动编号不能超过32个字符'))
        }
      } else {
        return callback(new Error('活动编号不能为空'))
      }
      return callback()
    }

    const validateCompany = (rule, value, callback) => {
      if (value <= 0) {
        return callback(new Error('必须选择一个有效公司'))
      }
      return callback()
    }

    return {
      rules: {
        company_id: [
          { required: true, message: '公司不能为空', trigger: 'change' },
          { validator: validateCompany, trigger: 'change' },
          { validator: validateCompany, trigger: 'blur' }
        ],
        name: [
          { required: true, message: '活动名称不能为空', trigger: 'change' },
          { required: true, message: '活动名称不能为空', trigger: 'blur' },
          { validator: validateName, trigger: 'change' },
          { validator: validateName, trigger: 'blur' }
        ],
        no: [
          { required: true, validator: validateNo, trigger: 'change' },
          { required: true, validator: validateNo, trigger: 'blur' }
        ],
        time: [
          { required: true, message: '活动时间不能为空', trigger: 'change' }
        ]
      },
      info: {
        company_id: 0,
        name: '',
        no: '',
        time: ['', '']
      },
      companies: [{ id: 0, name: '请选择' }],
      formLabelWidth: '80px',
      loading_company: false,
      loading: false
    }
  },
  computed: {
    getTitle() {
      return this.id > 0 ? '编辑线下活动' : '添加线下活动'
    }
  },
  mounted() {
    if (this.id > 0) {
      this.$data.loading = true
      infoOfflineActivity(this.id)
        .then(resp => {
          this.$data.companies = [
            { id: resp.data.info.company.id, name: resp.data.info.company.name }
          ]
          this.$data.info = {
            company_id: resp.data.info.company.id,
            name: resp.data.info.name,
            no: resp.data.info.no,
            time: [
              resp.data.info.start,
              resp.data.info.end
            ]
          }
          this.$data.loading = false
        })
    }
  },
  methods: {
    remoteSearchCompany(cb) {
      this.$data.loading_company = true
      searchCompany(cb, 5)
        .then(resp => {
          this.$data.companies = resp.data.list
          this.$data.loading_company = false
        })
    },
    close() {
      this.$emit('close')
    },
    confirm() {
      let that = this
      this.$refs['info'].validate(valid => {
        if (valid) {
          if (this.id > 0) {
            editOfflineActivity(
              this.id,
              this.$data.info.company_id,
              this.$data.info.name,
              this.$data.info.time[0],
              this.$data.info.time[1],
              this.$data.info.no
            ).then(resp => {
              that.$emit('success', {
                id: this.id,
                is_edit: true
              })
            })
          } else {
            addOfflineActivity(
              this.$data.info.company_id,
              this.$data.info.name,
              this.$data.info.time[0],
              this.$data.info.time[1],
              this.$data.info.no
            ).then(resp => {
              that.$emit('success', {
                id: resp.data.id,
                is_edit: false
              })
            })
          }
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
