<template>
  <el-dialog title="报名表管理" :visible="open" :before-close="close">
    <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <!-- 头部 -->
        <div>
          <span style="float: left">该活动共关联{{ sheet.id > 0 ? 1 : 0 }}个报名表</span>
          <span style="float: right">
            <el-button :disabled="sheet.id > 0" type="primary" icon="el-icon-plus" @click="preAdd">添加报名表</el-button>
          </span>
          <div style="clear: both" />
        </div>
      </el-col>
      <el-col :span="22" :offset="1" style="margin-top: 10px;">
        <!-- 表格 -->
        <el-table
          border
          stripe
          :data="getSheets"
          style="width: 100%"
        >
          <el-table-column
            align="center"
            prop="name"
            label="报名表名称"
          />
          <el-table-column
            align="center"
            label="操作"
          >
            <el-popconfirm
              title="你确定要删除该报名表吗？"
              @confirm="delSheet(sheet.id)"
            >
              <el-button slot="reference" type="danger" plain>删&nbsp;&nbsp;&nbsp;&nbsp;除</el-button>
            </el-popconfirm>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="22" :offset="1">
        <el-dialog
          width="30%"
          title="添加报名表"
          :visible.sync="add.open"
          append-to-body>
          <el-form ref="addSheet" inline :model="add" :rules="rules">
            <el-form-item label="关联报名表选择" autocomplete="false" prop="id" label-width="120px">
              <el-select
                v-model="add.id"
                filterable
                remote
                reserve-keyword
                placeholder="请输入报名表关键字搜索"
                :remote-method="remoteSearchSheet"
                :loading="loading_sheet"
              >
                <el-option
                  v-for="item in sheets"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="addSheet">添&nbsp;&nbsp;加</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
      </el-col>
    </el-row>
  </el-dialog>
</template>

<script>
import { infoOfflineActivity, assignOfflineActivitySheet, searchValidSheet, delActivitySheet } from '@/api/doctor/offline_activity'
export default {
  name: 'OfflineActivitySheet',
  props: ['id', 'open'],
  data: function() {
    const validateSheet = (rule, value, callback) => {
      if (value <= 0) {
        return callback(new Error('报名表不能为空'))
      }
      return callback()
    }
    return {
      sheet: {
        id: 0,
        name: ''
      },
      add: {
        open: false,
        id: 0,
      },
      sheets: [],
      loading_sheet: false,
      rules: {
        id: [
          { required: true, message: '报名表不能为空', trigger: 'change' },
          { required: true, message: '报名表不能为空', trigger: 'blur' },
          { validator: validateSheet, trigger: 'change' },
          { validator: validateSheet, trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    getSheets() {
      if (this.$data.sheet.id === 0) {
        return []
      } else {
        return [
          {
            id: this.$data.sheet.id,
            name: this.$data.sheet.name
          }
        ]
      }
    }
  },
  mounted() {
    this.refreshActivityInfo()
  },
  methods: {
    refreshActivityInfo() {
      infoOfflineActivity(this.id)
        .then(resp => {
          if (resp.data.info.sheet.id > 0) {
            this.$data.sheet.id = resp.data.info.sheet.id
            this.$data.sheet.name = resp.data.info.sheet.name
          }
        })
    },
    close() {
      this.$emit('close')
    },
    remoteSearchSheet(cb) {
      this.$data.loading_sheet = true
      searchValidSheet(cb, 5)
        .then(resp => {
          this.$data.sheets = resp.data.list
          this.$data.loading_sheet = false
        })
    },
    addSheet() {
      let that = this
      this.$refs['addSheet'].validate(valid => {
        if (valid) {
          assignOfflineActivitySheet(this.id, this.$data.add.id)
            .then(resp => {
              this.$data.add.open = false
              this.$data.add.id = 0
              that.refreshActivityInfo()
            })
        }
      })
    },
    preAdd() {
      this.$data.add.id = 0
      this.$data.add.open = true
    },
    delSheet(sheet_id) {
      delActivitySheet(this.id, sheet_id)
        .then(resp => {
          this.$data.sheet.id = 0
          this.$data.sheet.name = ''
        })
    }
  }
}
</script>

<style scoped>

</style>
