<template>
  <el-row :gutter="10">
    <el-col :offset="1" :span="22" style="margin-top: 25px;">
      <!-- 头部搜索区 -->
      <el-form :inline="true" :model="query">
        <el-form-item label="活动名称">
          <el-input v-model="query.keywords" placeholder="活动名称" />
        </el-form-item>
        <el-form-item label="开始时间">
          <el-date-picker
            v-model="query.time"
            type="datetimerange"
            value-format="yyyy-MM-dd HH:mm:ss"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
          />
        </el-form-item>
        <el-form-item label="真实姓名">
          <el-input v-model="query.name" placeholder="真实姓名" />
        </el-form-item>
        <el-form-item label="手机号">
          <el-input v-model="query.mobile" placeholder="手机号" />
        </el-form-item>

        <el-form-item label="医院">

          <el-select
            v-model="query.hospital_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入医院关键字搜索"
            :remote-method="remoteQueryHospital"
            :loading="loading_hospitals"
          >
            <el-option
              v-for="item in hospitals"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item label="科室">
          <el-select
            v-model="query.depart_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入科室关键字搜索"
            :remote-method="remoteQueryDeparts"
            :loading="loading_departs"
          >
            <el-option
              v-for="item in departs"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="级别" >
          <el-select v-model="query.level" placeholder="请选择">
            <el-option
              v-for="item in levels"
              :key="item.id"
              :label="item.title"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="职称">
          <el-select v-model="query.title" placeholder="请选择">
            <el-option
              v-for="item in titles"
              :key="item.id"
              :label="item.title"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" plain @click="refreshReport(1)">搜 &nbsp;&nbsp;&nbsp;&nbsp; 索</el-button>
          <el-button type="success" plain @click="exportReport" >导&nbsp;&nbsp;出</el-button>
        </el-form-item>
      </el-form>
    </el-col>

    <el-col :span="22" :offset="1">
      <el-table
        border
        stripe
        :data="list"
        style="width: 100%"
      >
        <el-table-column
          align="center"
          prop="id"
          label="ID"
          width="60"
        />
        <el-table-column
          align="center"
          prop="company"
          label="活动所属公司"
        />
        <el-table-column
          align="center"
          prop="activity_name"
          label="活动名称"
        />
        <el-table-column
          align="center"
          prop="start"
          label="开始时间"
        />
        <el-table-column
          align="center"
          prop="sheet_finish_time"
          label="报名时间"
        />
        <el-table-column
          align="center"
          prop="real_name"
          label="真实姓名"
        />
        <el-table-column
          align="center"
          prop="mobile"
          label="手机号"
        />
        <el-table-column
          align="center"
          prop="hospital"
          label="医院"
        />
        <el-table-column
          align="center"
          prop="depart"
          label="科室"
        />
        <el-table-column
          align="center"
          prop="level"
          label="级别"
        />
        <el-table-column
          align="center"
          prop="title"
          label="职称"
        />
        <el-table-column
          align="center"
          label="问卷名称"
        >
          <template slot-scope="scope">{{ scope.row.paper ?scope.row.paper : '' }}</template>
        </el-table-column>
        <el-table-column
          align="center"
          label="问卷提交时间"
        >
          <template slot-scope="scope">{{ scope.row.paper_finish_time ?scope.row.paper_finish_time : '' }}</template>
        </el-table-column>
        <el-table-column
          align="center"
          label="操作"
        >
          <template slot-scope="scope">
            <el-button
              v-if="scope.row.paper"
              type="info"
              plain
              @click="showPaper(scope.row.id)"
            >答题详情</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>

    <el-col :span="22" :offset="1">
      <el-pagination
        background
        layout="prev, pager, next"
        :page-size="page.size"
        :current-page="page.current"
        :total="page.total"
        @current-change="refreshReport"
        @prev-click="refreshReport(page.current - 1)"
        @next-click="refreshReport(page.current + 1)"
      />
    </el-col>
    <el-col :span="22" :offset="1">
      <activity-paper-answer
        v-if="paper.open"
        :id="paper.id"
        :open="paper.open"
        :answer_time="paper.time"
        :realname="paper.realname"
        :name="paper.name"
        @close="closePaper"
      />
    </el-col>
  </el-row>
</template>

<script>
import { searchHospitalLimited } from '@/api/hospital/hospital'
import { searchDepart } from '@/api/depart/depart'
import { getActivityReports, exportActivityReports } from '@/api/doctor/offline_activity'
import ActivityPaperAnswer from './activity_paper_answer.vue'
export default {
  components: { ActivityPaperAnswer },
  data: function() {
    return {
      list: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      query: {
        keywords: '',
        time: ['', ''],
        name: '',
        mobile: '',
        hospital_id: 0,
        depart_id: 0,
        level: 0,
        title: 0
      },
      levels: [
        { id: 0, title: '全部' },
        { id: 1, title: '职员' },
        { id: 2, title: '科室主任' },
        { id: 3, title: '科室副主任' },
        { id: 4, title: '院长' },
        { id: 5, title: '副院长' }
      ],
      titles: [
        { id: 0, title: '全部' },
        {
          id: 1,
          title: '医士'
        },
        {
          id: 2,
          title: '医师'
        },
        {
          id: 3,
          title: '主治医师'
        },
        {
          id: 4,
          title: '副主任医师'
        },
        {
          id: 5,
          title: '主任医师'
        },
        {
          id: 6,
          title: '护士'
        },
        {
          id: 7,
          title: '护师'
        },
        {
          id: 8,
          title: '主管护师'
        },
        {
          id: 9,
          title: '副主任护师'
        },
        {
          id: 10,
          title: '主任护师'
        },
        {
          id: 11,
          title: '初级药士'
        },
        {
          id: 12,
          title: '初级药师'
        },
        {
          id: 13,
          title: '中级主管药师'
        },
        {
          id: 14,
          title: '副主任药剂师'
        },
        {
          id: 15,
          title: '主任药剂师'
        },
        {
          id: 16,
          title: '初级中药士'
        },
        {
          id: 17,
          title: '初级中药师'
        },
        {
          id: 18,
          title: '中级主管中药师'
        },
        {
          id: 19,
          title: '副主任药剂师'
        },
        {
          id: 20,
          title: '主任药剂师'
        },
        {
          id: 21,
          title: '初级检验技士'
        },
        {
          id: 22,
          title: '初级检验技师'
        },
        {
          id: 23,
          title: '检验主管技师'
        },
        {
          id: 24,
          title: '副主任检验师'
        },
        {
          id: 25,
          title: '主任检验师'
        },
        {
          id: 26,
          title: '初级放射技士'
        },
        {
          id: 27,
          title: '初级放射技师'
        },
        {
          id: 28,
          title: '放射主管技师'
        },
        {
          id: 29,
          title: '副主任放射技师'
        },
        {
          id: 30,
          title: '主任放射技师'
        },
        {
          id: 31,
          title: '康复治疗士'
        },
        {
          id: 32,
          title: '初级康复治疗师'
        },
        {
          id: 33,
          title: '中级治疗师'
        },
        {
          id: 34,
          title: '高级治疗师'
        }
      ],
      hospitals: [{ id: 0, name: '全部' }],
      loading_hospitals: false,
      departs: [{ id: 0, name: '全部' }],
      loading_departs: false,
      paper: {
        id: 0,
        open: false,
        name: '',
        realname: '',
        time: ''
      }
    }
  },
  mounted() {
    this.refreshReport(1)
  },
  methods: {
    refreshReport(current = 1) {
      let title = ''
      let level = ''
      if (this.$data.query.level > 0) {
        const levelItem = this.$data.levels.find(elem => elem.id == this.$data.query.level)
        level = levelItem === undefined ? '' : levelItem.title
      }
      if (this.$data.query.title > 0) {
        const titleItem = this.$data.titles.find(elem => elem.id == this.$data.query.title)
        title = titleItem === undefined ? '' : titleItem.title
      }
      getActivityReports(
        this.$data.query.keywords,
        this.$data.query.time[0],
        this.$data.query.time[1],
        this.$data.query.name,
        this.$data.query.mobile,
        this.$data.query.hospital_id,
        this.$data.query.depart_id,
        level,
        title,
        current,
        this.$data.page.size
      ).then(resp => {
        this.$data.page = resp.data.page
        this.$data.list = resp.data.list
      })
    },
    remoteQueryHospital(cb) {
      this.$data.loading_hospitals = true
      searchHospitalLimited(cb, 5)
        .then(resp => {
          this.$data.hospitals = resp.data.list
          this.$data.hospitals.unshift({ id: 0, name: '全部' })
          this.$data.loading_hospitals = false
        })
    },
    remoteQueryDeparts(cb) {
      this.$data.loading_departs = true
      searchDepart(cb, 5)
        .then(resp => {
          this.$data.departs = resp.data.list
          this.$data.departs.unshift({ id: 0, name: '全部' })
          this.$data.loading_departs = false
        })
    },
    showPaper(id) {
      const item = this.$data.list.find(elem => elem.id == id)
      if (item === undefined) {
        return
      }
      if (!item.paper) {
        return
      }
      this.$data.paper.id = id
      this.$data.paper.time = item.paper_finish_time
      this.$data.paper.name = item.paper
      this.$data.paper.realname = item.real_name
      this.$data.paper.open = true
    },
    closePaper() {
      this.$data.paper.open = false
    },
    exportReport() {
      let title = ''
      let level = ''
      if (this.$data.query.level > 0) {
        const levelItem = this.$data.levels.find(elem => elem.id == this.$data.query.level)
        level = levelItem === undefined ? '' : levelItem.title
      }
      if (this.$data.query.title > 0) {
        const titleItem = this.$data.titles.find(elem => elem.id == this.$data.query.title)
        title = titleItem === undefined ? '' : titleItem.title
      }

      exportActivityReports(
        this.$data.query.keywords,
        this.$data.query.time[0],
        this.$data.query.time[1],
        this.$data.query.name,
        this.$data.query.mobile,
        this.$data.query.hospital_id,
        this.$data.query.depart_id,
        level,
        title
      ).then(resp => {
        const msg = '导出任务投递成功, 任务id #' + resp.data.id
        this.$notify({
          title: '操作成功',
          message: msg,
          type: 'success'
        })
      })
    }
  }
}
</script>
