<template>
  <el-row :gutter="10">
    <el-col :offset="1" :span="22" style="margin-top: 25px;">
    <!-- 头部搜索区 -->
      <el-form :inline="true" :model="query">
        <el-form-item label="公司">
          <el-select
            v-model="query.company_id"
            filterable
            remote
            reserve-keyword
            placeholder="请输入公司关键字搜索"
            :remote-method="remoteSearchCompany"
            :loading="loading_company">
            <el-option
              v-for="item in query.companies"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="活动时间">
          <el-date-picker
            v-model="query.time"
            type="datetimerange"
            value-format="yyyy-MM-dd HH:mm:ss"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="活动名称">
          <el-input v-model="query.keywords" placeholder="活动名称"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="refreshActivities(1)" plain>搜&nbsp;&nbsp;&nbsp;&nbsp;索</el-button>
          <el-button type="warning" @click="resetQuery" plain>重&nbsp;&nbsp;&nbsp;&nbsp;置</el-button>
          <el-button
            v-permission="'doctor:offline:activity:add'"
            type="primary"
            @click="preAddActivity(0)"
            icon="el-icon-plus">添加线下活动</el-button>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :offset="1" :span="22" style="margin-top: 25px">
    <!-- 内容区 -->
      <el-table
        border
        stripe
        :data="list"
        style="width: 100%">
        <el-table-column
          align="center"
          prop="id"
          label="活动ID"
          width="60"/>
        <el-table-column
          prop="company.name"
          align="center"
          label="所属公司"
          width="180"/>
        <el-table-column
          prop="name"
          width="200"
          align="center"
          label="活动名称"/>
        <el-table-column
          label="活动时间"
          align="center"
          width="180"
        >
          <template slot-scope="scope">
            {{ scope.row.start }}
             ~
            {{ scope.row.end }}
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button v-permission="'doctor:offline:activity:sheet:manager'" type="primary" plain @click="openSheetManager(scope.row.id)">报名表管理</el-button>
            <el-button v-permission="'doctor:offline:activity:paper:manager'" type="primary" plain @click="openPaperManager(scope.row.id)">问卷管理</el-button>
            <el-button v-permission="'doctor:offline:activity:share'" type="success" plain @click="openShare(scope.row.id)">分&nbsp;享</el-button>
            <el-button v-permission="'doctor:offline:activity:edit'" type="primary" plain @click="preAddActivity(scope.row.id)">编&nbsp;辑</el-button>
            <el-popconfirm
              v-permission="'doctor:offline:activity:del'"
              title="你确定要删除该活动吗？"
              @confirm="delActivity(scope.row.id)"
            >
              <el-button slot="reference" type="danger" plain>删&nbsp;&nbsp;&nbsp;&nbsp;除</el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :offset="1" :span="22" style="margin-top: 20px;">
    <!-- 分页区 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :page-size="page.size"
        :current-page="page.current"
        :total="page.total"
        @current-change="refreshActivities"
        @prev-click="refreshActivities(page.current - 1)"
        @next-click="refreshActivities(page.current + 1)">
      </el-pagination>
    </el-col>
    <el-col :span="22" :offset="1">
      <edit-offline-activity
        v-if="edit.open"
        :id="edit.id"
        :open="edit.open"
        @success="successEdit"
        @close="closeEdit"
      ></edit-offline-activity>
    </el-col>
    <el-col :span="22" :offset="1">
      <offline-activity-sheet
        v-if="sheet.open"
        :id="sheet.id"
        :open="sheet.open"
        @close="closeSheetManager"
      ></offline-activity-sheet>
    </el-col>
    <el-col :span="22" :offset="1">
      <offline-activity-paper
        v-if="paper.open"
        :id="paper.id"
        :open="paper.open"
        @close="closePaperManager"
      ></offline-activity-paper>
    </el-col>
    <el-col :span="22" :offset="1">
      <show-share
        v-if="share.open"
        title="线下活动分享信息"
        :uri="share.uri"
        :open="share.open"
        @close="closeShare"
      ></show-share>
    </el-col>
  </el-row>
</template>
<script>
import { listOfflineActivities, generateActivityShareUri, delOfflineActivity } from '@/api/doctor/offline_activity'
import { searchCompany } from '@/api/youyao/company'
import EditOfflineActivity from './edit_offline_activity.vue'
import OfflineActivitySheet from './offline_activity_sheet.vue'
import OfflineActivityPaper from './offline_activity_paper.vue'
import ShowShare from '@/components/Questionnaire/showShare'
export default {
  components: { EditOfflineActivity, OfflineActivitySheet, OfflineActivityPaper, ShowShare },
  data: function() {
    return {
      list: [],
      page: {
        total: 0,
        pages: 0,
        current: 1,
        size: 10
      },
      query: {
        company_id: 0,
        time: ['', ''],
        keywords: '',
        companies: [{ id: 0, name: '全部' }]
      },
      show_add: false,
      loading_company: false,
      edit: {
        id: 0,
        open: false
      },
      sheet: {
        id: 0,
        open: false
      },
      paper: {
        id: 0,
        open: false
      },
      share: {
        uri: '',
        open: false
      }
    }
  },
  mounted() {
    this.refreshActivities(1)
  },
  methods: {
    refreshActivities(current = 1) {
      listOfflineActivities(
        this.$data.query.company_id,
        this.$data.query.time[0],
        this.$data.query.time[1],
        this.$data.query.keywords,
        current,
        this.$data.page.size
      ).then(resp => {
        this.$data.list = resp.data.list
        this.$data.page = resp.data.page
      })
    },
    preAddActivity(id = 0) {
      // 清除旧数据
      this.$data.edit.id = id
      this.$data.edit.open = true
      this.$data.show_add = true
    },
    remoteSearchCompany(cb) {
      this.$data.loading_company = true
      searchCompany(cb, 5)
        .then(resp => {
          this.$data.query.companies = resp.data.list
          this.$data.loading_company = false
        })
    },
    resetQuery() {
      this.$data.query.companies = []
      this.$data.query.company_id = 0
      this.$data.query.time = ['', '']
      this.$data.query.keywords = ''
    },
    successEdit({ id, is_edit }) {
      this.$data.edit.open = false
      this.$data.edit.id = 0
      if (is_edit) {
        this.refreshActivities(this.$data.page.current)
      } else {
        this.refreshActivities(1)
      }
    },
    closeEdit() {
      this.$data.edit.open = false
      this.$data.edit.id = 0
    },
    openSheetManager(id) {
      this.$data.sheet.id = id
      this.$data.sheet.open = true
    },
    closeSheetManager() {
      this.$data.sheet.open = false
      this.$data.sheet.id = 0
    },
    openPaperManager(id) {
      this.$data.paper.id = id
      this.$data.paper.open = true
    },
    closePaperManager() {
      this.$data.paper.open = false
      this.$data.paper.id = 0
    },
    closeShare() {
      this.$data.share.open = false
      this.$data.share.uri = ''
    },
    openShare(id) {
      generateActivityShareUri(id)
        .then(resp => {
          this.$data.share.uri = resp.data.url
          this.$data.share.open = true
        })
    },
    delActivity(id) {
      const idx = this.$data.list.findIndex(elem => elem.id == id)
      if (idx === -1) {
        this.$notify({
          title: '操作失败',
          message: '活动不存在',
          type: 'error'
        })
        return false
      }
      delOfflineActivity(id)
        .then(resp => {
          this.$data.list.splice(idx, 1)
          if (this.$data.list.length === 0 && this.$data.page.current > 1) {
            this.refreshActivities(this.$data.page.current - 1)
          }
        })
    }
  }
}
</script>
