<template>
  <el-dialog title="问卷管理" :visible="open" :before-close="close">
    <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <!-- 头部 -->
        <div>
          <span style="float: left">该活动共关联{{ paper.id > 0 ? 1 : 0 }}个问卷</span>
          <span style="float: right">
            <el-button :disabled="paper.id > 0" type="primary" icon="el-icon-plus" @click="preAdd">添加问卷</el-button>
          </span>
          <div style="clear: both" />
        </div>
      </el-col>
      <el-col :span="22" :offset="1" style="margin-top: 10px;">
        <!-- 表格 -->
        <el-table
          border
          stripe
          :data="getPapers"
          style="width: 100%"
        >
          <el-table-column
            align="center"
            prop="name"
            label="问卷名称"
          />
          <el-table-column
            align="center"
            label="操作"
          >
            <el-popconfirm
              title="你确定要删除该问卷吗？"
              @confirm="delPaper(paper.id)"
            >
              <el-button slot="reference" type="danger" plain>删&nbsp;&nbsp;&nbsp;&nbsp;除</el-button>
            </el-popconfirm>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="22" :offset="1">
        <el-dialog
          width="30%"
          title="添加问卷"
          :visible.sync="add.open"
          append-to-body>
          <el-form ref="addPaper" inline :model="add" :rules="rules">
            <el-form-item label="关联问卷选择" autocomplete="false" prop="id" label-width="120px">
              <el-select
                v-model="add.id"
                filterable
                remote
                reserve-keyword
                placeholder="请输入问卷关键字搜索"
                :remote-method="remoteSearchPaper"
                :loading="loading_paper"
              >
                <el-option
                  v-for="item in papers"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="addPaper">添&nbsp;&nbsp;加</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
      </el-col>
    </el-row>
  </el-dialog>
</template>

<script>
import { infoOfflineActivity, assignOfflineActivityPaper, searchValidPaper, delActivityPaper } from '@/api/doctor/offline_activity'
export default {
  name: 'OfflineActivityPaper',
  props: ['id', 'open'],
  data: function() {
    const validatePaper = (rule, value, callback) => {
      if (value <= 0) {
        return callback(new Error('问卷不能为空'))
      }
      return callback()
    }
    return {
      paper: {
        id: 0,
        name: ''
      },
      add: {
        open: false,
        id: 0
      },
      papers: [],
      loading_paper: false,
      rules: {
        id: [
          { required: true, message: '问卷不能为空', trigger: 'change' },
          { required: true, message: '问卷不能为空', trigger: 'blur' },
          { validator: validatePaper, trigger: 'change' },
          { validator: validatePaper, trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    getPapers() {
      if (this.$data.paper.id === 0) {
        return []
      } else {
        return [
          {
            id: this.$data.paper.id,
            name: this.$data.paper.name
          }
        ]
      }
    }
  },
  mounted() {
    this.refreshActivityInfo()
  },
  methods: {
    refreshActivityInfo() {
      infoOfflineActivity(this.id)
        .then(resp => {
          if (resp.data.info.questionnaire.id > 0) {
            this.$data.paper.id = resp.data.info.questionnaire.id
            this.$data.paper.name = resp.data.info.questionnaire.name
          }
        })
    },
    close() {
      this.$emit('close')
    },
    remoteSearchPaper(cb) {
      this.$data.loading_paper = true
      searchValidPaper(cb, 5)
        .then(resp => {
          this.$data.papers = resp.data.list
          this.$data.loading_paper = false
        })
    },
    addPaper() {
      let that = this
      this.$refs['addPaper'].validate(valid => {
        if (valid) {
          assignOfflineActivityPaper(this.id, this.$data.add.id)
            .then(resp => {
              this.$data.add.open = false
              this.$data.add.id = 0
              that.refreshActivityInfo()
            })
        }
      })
    },
    preAdd() {
      this.$data.add.id = 0
      this.$data.add.open = true
    },
    delPaper(paper_id) {
      delActivityPaper(this.id, paper_id)
        .then(resp => {
          this.$data.paper.id = 0
          this.$data.paper.name = ''
        })
    }
  }
}
</script>

<style scoped>

</style>
