<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="80px">
      <el-row :gutter="60">
        <el-col :span="9">
          <el-form-item label="系列名称">
            <el-input v-model="query.series_name" />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="播放平台">
            <el-select v-model="query.platform" placeholder="请选择平台">
              <el-option label="全部" value="" />
              <el-option label="代表公众号" value="1" />
              <el-option label="代表APP" value="2" />
              <el-option label="医生公众号" value="3" />
              <el-option label="医生App" value="4" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'series:video:search'" type="primary" @click="onSubmit">搜索</el-button>
          <el-button v-permission="'series:video:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row class="newbuttondiv">
      <el-col :span="3">
        <el-button v-permission="'series:video:create'" type="primary" class="newbutton" @click="createNewSeries">新增大咖系列</el-button>
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="newbutton" @click="updateEs">索引同步</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" fixed="left" label="ID" width="100" sortable align="center" />
      <el-table-column prop="thumbnail_img" label="系列封面" width="180" align="center">
        <template slot-scope="{row}">
          <el-image :src="row.thumbnail_img" fit="contain" />
        </template>
      </el-table-column>
      <el-table-column prop="title" label="系列名称" width="200" align="center" />
      <el-table-column prop="start_time" label="开始时间" width="180" align="center" />
      <el-table-column prop="end_time" label="结束时间" width="180" align="center" />
      <el-table-column prop="updated_at" label="最近更新时间" width="180" align="center" />
      <el-table-column prop="status" label="显示状态" width="100" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.status==1,outstatus:row.status==2}">
            <template v-if="row.status==1">已上架</template>
            <template v-if="row.status==2">已下架</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="is_top" label="是否置顶" width="80" align="center">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.is_top==1,outstatus:row.is_top==0}">
            <template v-if="row.is_top==0">否</template>
            <template v-if="row.is_top==1">是</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="rank" label="排序" width="100" sortable align="center" />
      <el-table-column prop="" label="操作" width="250" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8">
              <el-button v-permission="'series:video:detail'" type="primary" size="mini" @click="showDetailDialog(row.id)">查看</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'series:video:update'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="showUpdateDialog(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-if="row.is_top==0" v-permission="'series:video:top'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="topSeries(row.id)">置顶</el-button>
              <el-button v-if="row.is_top==1" v-permission="'series:video:cancelTop'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="canceltopSeries(row.id)">取消置顶</el-button>
            </el-col>
          </el-row>
          <el-row class="buttonrow">
            <el-col :span="8">
              <el-button v-permission="'series:video:rank'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="showRankDialog(row.id, row.rank)">排序</el-button>
            </el-col>
            <el-col :span="8">
              <el-popconfirm
                v-if="row.status==1"
                title="确定要下架该直播吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="outSeries(row.id)"
              >
                <el-button slot="reference" v-permission="'series:video:out'" :disabled="row.is_deleted==1" type="danger" size="mini">下架</el-button>
              </el-popconfirm>
              <el-button v-if="row.status==2" v-permission="'series:video:publish'" :disabled="row.is_deleted==1" type="primary" size="mini" @click="publishSeries(row.id)">上架</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-if="row.is_deleted==0" v-permission="'series:video:delete'" type="danger" size="mini" @click="deleteConfirm(row.id)">删除</el-button>
              <el-button v-if="row.is_deleted==1" type="danger" size="mini" disabled>已删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <Rank :rankDialogData="rankDialogData" @closeRankDialog="closeRankDialog($event)" />
    <Detail :detailDialogData="detailDialogData" @closeDetailDialog="closeDetailDialog($event)" />
    <SeriesUpdate
      ref="seriesUpdate"
      :seriesVideoForShow.sync="seriesVideoForShow"
      :seriesVisible="seriesVisible"
      :seriesDialogData="seriesDialogData"
      @closeSeriesDialog="closeSeriesDialog($event)"
    />
  </div>
</template>

<script>
import * as seriesApi from '@/api/series/series'
import Pagination from '@/components/Pagination'
import Rank from '@/components/Rank'
import Detail from './components/Detail'
import SeriesUpdate from './components/SeriesUpdate'

export default {
  name: 'Series',
  components: { Pagination, Rank, Detail, SeriesUpdate },
  data() {
    return {
      // 搜索条件
      query: {
        series_name: '',
        platform: '',
        page: 1,
        page_size: 20
      },
      // loading控制
      loading: true,
      // 列表数据
      list: [],
      // 列表数量
      total: 0,
      // rank子控件传值
      rankDialogData: {
        dialogVisible: false,
        id: 0,
        oldRank: 0,
        flag: 0
      },
      // detail子控件传值
      detailDialogData: {
        detailVisible: false,
        dataList: {}
      },
      // 新建更新子控件
      seriesVisible: false,
      seriesDialogData: {
        id: 0,
        title: '',
        platform_name: ['代表公众号', '代表APP', '医生公众号', '医生APP'],
        start_time: '',
        end_time: '',
        cover_img: [],
        thumbnail_img: [],
        desc: '',
        allow_share: true,
        share_title: '',
        share_desc: '',
        share_img: [],
        video: [],
        is_available: false
      },
      seriesVideoForShow: []
    }
  },
  created() {
    this.onSubmit()
  },
  methods: {
    search() {
      seriesApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    onSubmit() {
      this.query.page = 1
      this.search()
    },
    queryReset() {
      this.query = {
        series_name: '',
        platform: '',
        page: 1,
        page_size: 20
      }
    },
    topSeries(seriesId) {
      var that = this
      var query = { series_id: seriesId }
      seriesApi.top(query).then(response => {
        if (response.data.series_id !== 0) {
          that.operationMsg('置顶成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    canceltopSeries(seriesId) {
      var that = this
      var query = { series_id: seriesId }
      seriesApi.cancelTop(query).then(response => {
        if (response.data.series_id !== 0) {
          that.operationMsg('取消置顶成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    publishSeries(seriesId) {
      var that = this
      var query = { series_id: seriesId }
      seriesApi.publish(query).then(response => {
        if (response.data.series_id !== 0) {
          that.operationMsg('上架成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    outSeries(seriesId) {
      var that = this
      var query = { series_id: seriesId }
      seriesApi.out(query).then(response => {
        if (response.data.series_id !== 0) {
          that.operationMsg('下架成功！', 'success')
          that.search()
        }
      }).catch(() => {})
    },

    deleteConfirm(seriesId) {
      this.$confirm('确认删除该系列吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var query = { series_id: seriesId }
        seriesApi.deleted(query).then(response => {
          if (response.data.series_id !== 0) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    // rank子组件
    showRankDialog(seriesId, oldRank) {
      this.rankDialogData.dialogVisible = true
      this.rankDialogData.id = seriesId
      this.rankDialogData.oldRank = oldRank
      this.rankDialogData.flag = 2
    },

    closeRankDialog(data) {
      this.rankDialogData = data
    },

    // detail子组件
    showDetailDialog(seriesId) {
      var that = this
      var query = { series_id: seriesId }
      seriesApi.detail(query).then(response => {
        if (response.code === 20000) {
          that.detailDialogData.dataList = response.data
          that.detailDialogData.detailVisible = true
        }
      }).catch(() => {})
    },

    closeDetailDialog(data) {
      this.detailDialogData = data
    },

    // create update子组件
    createNewSeries() {
      this.seriesVisible = true
      this.seriesVideoForShow = []
      this.$refs.seriesUpdate.getUploadToken()
    },

    showUpdateDialog(seriesId) {
      var query = { series_id: seriesId }
      seriesApi.detail(query).then(response => {
        if (response.code === 20000) {
          this.seriesDialogData = response.data
          this.seriesVisible = true
          this.seriesVideoForShow = response.data.video
          this.$refs.seriesUpdate.getUploadToken()
        }
      }).catch(() => {})
    },

    closeSeriesDialog(data) {
      this.seriesVisible = data.seriesVisible
      this.seriesDialogData = data.form
    },

    updateEs() {
      seriesApi.updateEs({}).then(response => {
        if (response.code === 20000) {
          this.operationMsg('索引已更新！', 'success')
        }
      }).catch(() => {})
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
