<template>
  <div
    class="app-container"
    element-loading-spinner="el-icon-loading"
  >

    <el-form :inline="true">
      <el-col :span="7">
        <el-form-item label="选择商品">
          <el-select v-model="gid" filterable placeholder="请选择" @change="cardType($event)">
            <el-option
              v-for="item in cardTypes"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
      </el-col>
      <!-- <el-col :span="2">
          <el-button type="primary" v-permission="'lfmini:goodsinventory:search'" class="newbutton" @click="search">搜索</el-button>
        </el-col> -->

      <el-col :span="6">
        <el-upload
          ref="upload"
          class="upload-demo"
          action="#"
          :auto-upload="true"
          :on-error="uploadError"
          :before-upload="beforeUploadForm"
          :http-request="hosptialUpload"
        >
          <el-button v-permission="'lfmini:goodsinventory:up'" size="small" type="primary">导入</el-button>
          <div slot="tip" class="el-upload__tip">只能上传Excel文件</div>
        </el-upload>
      </el-col>
    </el-form>

    <el-descriptions v-show="goodsInventory.total > 0" title="卡详情" direction="vertical" style="margin-bottom:10px; clear:both" :column="4" border>
      <el-descriptions-item label="总数">{{ goodsInventory.total }}</el-descriptions-item>
      <el-descriptions-item label="剩余">{{ goodsInventory.surplus }}</el-descriptions-item>
      <el-descriptions-item label="已使用">{{ goodsInventory.used }}</el-descriptions-item>
      <el-descriptions-item label="失效" :span="2">{{ goodsInventory.invalid }}</el-descriptions-item>
    </el-descriptions>

    <el-progress
      v-show="progressShow"
      :text-inside="true"
      :stroke-width="24"
      :percentage="progressPercent"
      status="success"
    />

    <i v-show="loading" class="el-icon-loading loadingIcon" />
    <el-alert
      v-for="(item, index) in alertText"
      v-show="alertShow"
      :key="index"
      class="alertText"
      :title="item"
      :type="alertType"
      show-icon
    />

  </div>
</template>

<script>
import * as ExeclApi from '@/api/lfmini/execl_import'
import * as goodsApi from '@/api/lfmini/goods'
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'ImportSalesNum',
  components: { },
  data() {
    return {
      query: {
      },
      gid: '',
      loading: false, // loading
      alertShow: false, // 提示显示
      alertText: [], // 提示内容
      alertType: 'error', // 提示样式
      progressShow: false, // 进度条显示
      progressPercent: 0, // 进度条百分比
      cardTypes: [],
      goodsInventory: []
    }
  },
  created() {

  },
  mounted() {
    this.getGoodsData()
  },
  methods: {
    cardType(id) {
      this.loading = true
      goodsApi.goodsSelectInventory(id).then(response => {
        this.goodsInventory = response.data
        this.loading = false
      }).catch(() => {})
    },

    getGoodsData() {
      this.loading = true
      goodsApi.goodsSelect(this.query).then(response => {
        this.cardTypes = response.data
        this.loading = false
      }).catch(() => {})
    },
    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    beforeUploadForm(file) {
      this.loading = false
      this.alertText = []
      this.alertShow = false
      this.progressShow = false
      this.progressPercent = 0
      if (!this.gid) {
        this.alertType = 'error'
        this.alertText = ['请选择商品']
        this.alertShow = true
        return false
      }
      var extName = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extName != 'xls' && extName != 'xlsx') {
        this.alertText = ['上传文件只能是 xls、xlsx格式']
        this.alertType = 'error'
        this.alertShow = true
        return false
      }

      // const isLt1M = file.size / 1024 / 1024 < importApi.fileSize;
      // if (!isLt1M) {
      //   this.alertText = ["上传文件大小不能超过 "+importApi.fileSize+"MB"]
      //   this.alertType = 'error'
      //   this.alertShow = true
      //   return false
      // }
    },

    hosptialUpload(file) {
      var that = this
      that.loading = true
      that.progressShow = true
      var t = setInterval(function() {
        if (that.progressPercent == 90) {
          clearInterval(t)
        } else {
          that.progressPercent = that.progressPercent + 10
        }
      }, 300)

      const fd = new FormData()
      fd.append('file', file.file)
      fd.append('gid', this.gid)

      axios.defaults.headers.common['Authorization'] = getToken()
      axios.post(ExeclApi.goods_inventory_exp, fd).then(function(response) {
        setTimeout(function() {
          console.log(response.data.data.err)
          if (response.data.data.err) {
            that.alertText = ['卡编号重复，请确认后重新导入！' + response.data.data.err]
            that.alertType = 'error'
          } else {
            if (response.data.code == 20000) {
              that.progressPercent = 100
              that.alertText = ['成功导入']
              that.alertType = 'success'
              that.cardType(that.gid)
            } else {
              that.alertText = [response.data.msg]
              that.alertType = 'error'
            }
          }

          that.loading = false
          that.alertShow = true
          that.progressShow = false
        }, 3000)
      })
    },

    uploadError() {
      this.alertType = 'error'
      this.alertText = ['上传失败']
    }

  }
}
</script>

<style scoped>
.tips {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding-top: 10px;
}
.el-upload__tip {
  margin-left: 0!important;
}
.alertText {
  margin-top: 15px;
}
.loadingIcon{
  margin-top: 15px;
}
.inline-input{
  width: 300px;
}
.switch {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  font-weight: 700;
}
</style>
