<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="9">
          <el-form-item label="问题">
            <el-input v-model="query.quest" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-button v-permission="'lfmini:question:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'lfmini:question:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="quest" label="问题" align="left" />
      <el-table-column prop="rank" label="排序" align="left" />
      <el-table-column prop="created_name" label="创建人" width="150px" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'lfmini:question:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'lfmini:question:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="问题"
              prop="quest"
              :rules="[
                { required: true, message: '请输入问题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.quest" placeholder="请输入问题" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="答案"
              prop="answer"
              :rules="[
                { required: true, message: '请输入答案', trigger: 'blur' }
              ]"
            >
              <el-input
                v-model="formData.answer"
                type="textarea"
                :rows="4"
                placeholder="请输入答案"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item
              label="排序"
              prop="rank"
              :rules="[
                { message: '请输入排序', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.rank" placeholder="请输入" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import * as questionAnswerApi from '@/api/lfmini/question_answer'
import Pagination from '@/components/Pagination'

export default {
  name: 'QuestionAnswer',
  components: { Pagination },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        quest: '',
        rank: 0,
        answer: ''
      },

      query: {
        page: 1,
        page_size: 20,
        quest: ''
      },
      list: [],
      total: 0,
      dialogVisible: false
    }
  },

  created() {
    this.search()
  },

  methods: {
    search() {
      this.loading = true
      questionAnswerApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.types = response.data.type
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        quest: '',
        rank: 0,
        answer: ''
      }
      this.dialogVisible = false
    },

    detail(id) {
      questionAnswerApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data.info
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.quest) {
        this.operationMsg('问题不可空', 'error')
        return
      }

      if (!this.formData.answer) {
        this.operationMsg('答案不可空', 'error')
        return
      }

      questionAnswerApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        questionAnswerApi.deleted({ id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },
    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        quest: ''
      }
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
