<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <!-- <el-col :span="9">
          <el-form-item label="标题">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col> -->
        <el-col :span="6">
          <!-- <el-button v-permission="'lfmini:product:search'" type="primary" @click="search">搜索</el-button> -->
          <el-button v-permission="'lfmini:productins:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="product" label="产品" align="left" />
      <el-table-column prop="resources" label="资源" align="left" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="8">
              <el-button v-permission="'lfmini:productins:edit'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="8">
              <el-button v-permission="'lfmini:productins:del'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联文章"
              prop="resources_id"
              :rules="[
                { required: true, message: '请至少关联一篇文章', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.resources_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in articleOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="关联产品"
              prop="product_id"
              :rules="[
                { required: true, message: '请关联产品', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.product_id" filterable placeholder="请选择">
                <el-option
                  v-for="item in productOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as productApi from '@/api/lfmini/product'
import Pagination from '@/components/Pagination'
import * as commonApi from '@/api/common/common'

export default {
  name: 'ProductDa',
  components: { Pagination },
  data() {
    return {
      loading: true,
      formData: {
        id: '',
        product_id: '',
        resources_id: ''
      },

      query: {
        page: 1,
        page_size: 20
      },

      list: [],
      total: 0,
      articleOptions: [],
      productOptions: [],
      dialogVisible: false
    }
  },

  created() {
    this.articleForSelect()
    this.search()
    this.productForSelect()
  },

  methods: {
    // 获取文章
    articleForSelect() {
      commonApi.res_list().then(response => {
        this.articleOptions = response.data.list.list
      }).catch(() => {})
    },

    // 获取产品
    productForSelect() {
      commonApi.product_list().then(response => {
        this.productOptions = response.data.list.list
      }).catch(() => {})
    },

    search() {
      this.loading = true
      productApi.listIns(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.reset()
      this.dialogVisible = true
    },

    close() {
      this.formData = {
        product_id: '',
        resources_id: ''
      }
      this.dialogVisible = false
    },

    detail(id) {
      productApi.detailIns(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit() {
      if (!this.formData.product_id) {
        this.operationMsg('关联产品不可空', 'error')
        return
      }

      if (!this.formData.resources_id) {
        this.operationMsg('关联文章不可空', 'error')
        return
      }

      console.log(this.formData)
      productApi.updateIns(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        productApi.deletedIns({ id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20
      }
    }
  }
}
</script>

<style>
  .articleList:hover{
    color: red;
  }
  .el-switch__core:after{
    width: 14px;
    height: 14px;
  }
  .el-switch__core{
    height: 18px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
