<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="80px">
      <el-row :gutter="80">
        <el-col :span="24" style="margin-bottom: 16px;">
          <el-button v-permission="'lfmini:goods:add'" type="primary" class="newbutton" @click="showDiolog">添加</el-button>
        </el-col>
        <el-col :span="9">
          <el-form-item label="状态">
            <el-select v-model="query.status" placeholder="请选择分类">
              <el-option label="全部" value="" />
              <el-option v-for="item in status" :key="item.id" :label="item.title" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-button v-permission="'lfmini:goods:search'" type="primary" @click="search">搜索</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table
      v-loading="loading"
      border
      :data="list"
      row-key="id"
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" label="ID" align="left" />
      <!-- <el-table-column prop="name" label="商品图" align="left"dt_no /> exchange_num -->
      <el-table-column prop="name" label="商品名称" align="left" />
      <el-table-column prop="service_integral" label="服务积分" align="left" />
      <el-table-column prop="consume_integral" label="消费积分" align="left" />

      <el-table-column prop="" label="商品库存" align="center">
        <template slot-scope="{row}">
          {{ Number(row.inventory) - Number(row.used_num) }}/{{ row.inventory }}
        </template>
      </el-table-column>

      <el-table-column prop="" label="有效周期" align="center">
        <template slot-scope="{row}">
          <el-col :span="24">
            <span v-if="row.dt_on && row.dt_off">{{ row.dt_on }} -- {{ row.dt_off }}</span>
            <span v-else-if="!row.dt_off">{{ row.dt_on }} -- 无限时</span>
          </el-col>
        </template>
      </el-table-column>

      <el-table-column prop="" label="商品类型" align="center">
        <template slot-scope="{row}">
          <el-col :span="24">
            <span v-if="row.type == 1">虚拟</span>
            <span v-else-if="row.type == 2">实物</span>
            <span v-else>现金</span>
          </el-col>
        </template>
      </el-table-column>

      <el-table-column prop="" label="状态" align="center">
        <template slot-scope="{row}">
          <el-col :span="24">
            <span v-if="row.status == 1">上架</span>
            <span v-else-if="row.status == 0">下架</span>
          </el-col>
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="250px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="8" />
            <el-col :span="24">
              <el-button v-if="row.status == 1" v-permission="'lfmini:goods:status'" type="primary" size="mini" @click="editStaus(row.id, row.status, row.yyid)">下架</el-button>
              <el-button v-if="row.status == 0" v-permission="'lfmini:goods:status'" type="primary" size="mini" @click="editStaus(row.id, row.status, row.yyid)">上架</el-button>
              <el-button v-permission="'lfmini:goods:edit'" type="primary" size="mini" @click="detail(row.id, row.status)">编辑</el-button>
              <el-button v-permission="'lfmini:goods:del'" type="primary" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="商品名称"
              prop="name"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.name" placeholder="请输入标题" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="服务积分"
              prop="service_integral"
              :rules="[
                { required: true, message: '请输入服务积分', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.service_integral" placeholder="请输入服务积分" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="消费积分"
              prop="consume_integral"
              :rules="[
                { required: true, message: '请输入消费积分', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.consume_integral" placeholder="请输入消费积分" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item label="积分活动">
              <point-group-selector @change="pointGroupChange" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="商品类型"
              prop="type"
              :rules="[
                { required: true, message: '请选择类型', trigger: 'blur' }
              ]"
            >
              <template>
                <el-radio-group v-model="formData.type">
                  <el-radio :label="1" @change="changeType(1)">虚拟</el-radio>
                  <!-- <el-radio @change="changeType(2)" :label="2">实物</el-radio>
                    <el-radio @change="changeType(3)" :label="3">现金</el-radio> -->
                </el-radio-group>
              </template>
              <div style="clear:both">
                <el-radio-group v-model="formData.sub_type_id">
                  <el-radio-button v-for="item in sub_types" :key="item.id" :label="item.id">{{ item.title }}</el-radio-button>
                </el-radio-group>
              </div>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="库存"
              prop="inventory"
              :rules="[
                { required: true, message: '请输入库存', trigger: 'blur' }
              ]"
            >
              <el-input-number v-model="formData.inventory" :disabled="changeInventory" :min="1" label="请输入库存" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="9">
            <el-form-item
              label="开始时间"
              prop="dt_on"
              :rules="[
                { required: true, message: '请选择类型', trigger: 'blur' }
              ]"
            >
              <el-date-picker v-model="formData.dt_on" type="datetime" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item
              label="结束时间"
              prop="dt_off"
            >
              <el-date-picker v-model="formData.dt_off" type="datetime" :disabled="formData.dt_no" placeholder="选择日期" style="width: 100%;" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item>
              <el-checkbox v-model="formData.dt_no" @change="dtChange">不限时</el-checkbox>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="商品状态"
              prop="status"
              :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
            >
              <template>
                <el-radio-group v-model="formData.status">
                  <el-radio :label="1">上架</el-radio>
                  <el-radio :label="0">下架</el-radio>
                </el-radio-group>
              </template>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="首图"
              prop="img"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <LfnGoodsMultipleUpload
                :pic-list="formData.img"
                :upload-data="uploadData"
                :sign="sign.img"
                :pic-url="picUrl"
                :bucket="bucket"
                :tp="1"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item
              label="详情图"
              prop="img_detail"
              :rules="[
                { required: true, message: '请上传图片', trigger: 'change' }
              ]"
            >
              <LfnGoodsMultipleUpload
                :pic-list="formData.img_detail"
                :upload-data="uploadData"
                :sign="sign.img_detail"
                :pic-url="picUrl"
                :bucket="bucket"
                :tp="1"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="商品兑换规则">
              <el-input
                v-model="formData.describe"
                :rows="4"
                type="textarea"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>
    <!-- form 表单 新增/修改 END -->
  </div>
</template>

<script>
import * as goodsApi from '@/api/lfmini/goods'
import * as commonApi from '@/api/common/common'
import LfnGoodsMultipleUpload from '@/components/LfnGoodsMultipleUpload'
import Pagination from '@/components/Pagination'
import PointGroupSelector from '@/components/PointGroupSelector'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Goods',
  components: { Pagination, LfnGoodsMultipleUpload, PointGroupSelector },
  data() {
    return {
      loading: true,
      list: [],
      query: {
        page: 1,
        page_size: 20,
        status: ''
      },
      formData: {
        id: 0,
        name: '',
        service_integral: '',
        consume_integral: '',
        type: 1,
        sub_type_id: 1,
        inventory: '',
        dt_on: '',
        dt_off: '',
        describe: '',
        status: 1,
        dt_no: false,
        img: [],
        img_detail: [],
        point_rule_id: '',
        group_id: 0
      },
      sub_types: [],
      types: [],
      status: [{ 'id': 1, 'title': '上架' }, { 'id': 2, 'title': '下架' }],
      total: 0,
      dialogVisible: false,
      sign: {
        img: 'img',
        img_detail: 'img_detail'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      changeInventory: false
    }
  },

  computed: {
    ...mapGetters({
      'getPointGroupId': 'pointGroup/getDefaultId'
    })
  },

  created() {
    this.search()
    this.getToken()
    this.getTypes()
  },

  methods: {
    ...mapActions('pointGroup', [
      'initialize'
    ]),
    // 不限时
    dtChange() {
      if (this.formData.dt_no) {
        this.formData.dt_off = ''
      }
    },
    // 类型切换
    changeType(t) {
      // 一期无需 只有虚拟 无需交互
      console.log('类型切换')
    },

    // 获取卡类型
    getTypes() {
      goodsApi.getTypes().then(response => {
        this.sub_types = response.data.list
      }).catch(() => {})
    },

    // 获取token
    getToken() {
      commonApi.getToken().then(response => {
        this.uploadData.token = response.data.token
        this.picUrl = response.data.picUrl
        this.bucket = response.data.bucket
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'img') {
        if (data.tp == 2) {
          this.formData.img = data.imgList
        } else {
          this.formData.img.push(data.imgList)
        }
      } else if (data.sign === 'img_detail') {
        if (data.tp == 2) {
          this.formData.img_detail = data.imgList
        } else {
          this.formData.img_detail.push(data.imgList)
        }
      }
    },

    submit() {
      const groupId = this.getPointGroupId
      this.formData.group_id = groupId
      if (!this.formData.name) {
        this.operationMsg('商品名称必填', 'error')
        return false
      }

      if (!this.formData.service_integral) {
        this.operationMsg('服务积分必填', 'error')
        return false
      }
      if (!this.formData.consume_integral) {
        this.operationMsg('消费积分必填', 'error')
        return false
      }
      if (!this.formData.sub_type_id) {
        this.operationMsg('商品类型必选', 'error')
        return false
      }

      if (!this.formData.dt_no) {
        if (!this.formData.dt_off || !this.formData.dt_on) {
          this.operationMsg('时间必填', 'error')
          return false
        }
        var st = new Date(this.formData.dt_on)
        var et = new Date(this.formData.dt_off)
        console.log('开始', st.getTime())
        console.log('结束', et.getTime())
        if (st >= et) {
          this.operationMsg('开始时间不能小于结束时间', 'error')
          return false
        }
      }

      if (this.formData.dt_no) {
        if (!this.formData.dt_on) {
          this.operationMsg('开始时间必填', 'error')
          return false
        }
      }

      if (this.formData.img.length < 1) {
        this.operationMsg('首图不可空', 'error')
        return false
      }

      if (this.formData.img_detail.length < 1) {
        this.operationMsg('详情图不可空', 'error')
        return false
      }
      // return false
      goodsApi.update(this.formData).then(response => {
        if (response.code === 20000) {
          this.operationMsg('提交成功！', 'success')
          this.close()
          this.search()
        }
      }).catch(() => {})
    },

    // 删除
    deleted(id) {
      this.$confirm('确认删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        goodsApi.deleted({ id }).then(response => {
          if (response.code === 20000) {
            if (response.data) {
              this.operationMsg(response.data.msg, 'warning')
            } else {
              this.operationMsg('发放成功！', 'success')
            }
            this.dialogVisible = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    // 更新状态
    editStaus(id, status, yyid) {
      this.$confirm('是否切换商品状态', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        goodsApi.GoodsStatus({ 'id': id, 'status': status, 'yyid': yyid }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('切换成功', 'success')
            this.dialogVisible = false
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    detail(id, st) {
      this.changeInventory = true
      if (st == 1) {
        this.operationMsg('请先将商品下架', 'error')
        this.dialogVisible = false
        return false
      }
      goodsApi.detail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
          console.log('detail group id: ', response.data.group_id)
          this.initialize({
            platform: 5,
            select: response.data.group_id
          })
        }
      }).catch(() => {})
    },

    search() {
      this.loading = true
      console.log(5675)
      console.log(this.query)
      goodsApi.search(this.query.status, this.query.page, this.query.page_size).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {})
    },

    showDiolog() {
      this.changeInventory = false
      this.reset()
      this.dialogVisible = true
      this.initialize({
        platform: 5,
        select: 0
      })
    },

    close() {
      this.dialogVisible = false
    },

    reset() {
      this.query = {
        page: 1,
        page_size: 20,
        status: ''
      }
      this.formData = {
        id: '',
        name: '',
        service_integral: '',
        consume_integral: '',
        type: 1,
        sub_type_id: 1,
        inventory: '',
        dt_no: false,
        dt_on: '',
        dt_off: '',
        describe: '',
        status: 1,
        img: [],
        img_detail: [],
        point_rule_id: ''
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    },

    pointGroupChange(group_id) {
      this.$data.formData.group_id = group_id
    }
  }
}
</script>

<style scoped>
	.image-wrapper{
				position: relative;
				width: 100%;
				height: 0;
				padding-top: 100%;/*当height=0且写padding-top为100%的时候，元素的高度会等于元素的宽度，并随着宽度的变化而改变*/
			}
			.image-wrapper img{
				position: absolute;
				top: 0;
				left: 0;
				height: 10%;
				width: 80%;
 }
  .userLiList:hover{
    color: red;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
  }
  .td {
    border-right: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #606266;
  }
  .header{
    width: 30%;
    font-weight: 600;
  }
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
